<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.ReportManageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TDefectInfo">
        <id column="defect_id" jdbcType="BIGINT" property="defectId" />
        <result column="defect_level" jdbcType="INTEGER" property="defectLevel" />
        <result column="defect_time" jdbcType="TIMESTAMP" property="defectTime" />
        <result column="defect_type" jdbcType="INTEGER" property="defectType" />
        <result column="defect_name" jdbcType="VARCHAR" property="defectName" />
        <result column="defect_content" jdbcType="VARCHAR" property="defectContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_defect" jdbcType="INTEGER" property="isDefect" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="if_defect_disable" jdbcType="INTEGER" property="ifDefectDisable" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="defect_subtype" jdbcType="INTEGER" property="defectSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="link_message" jdbcType="VARCHAR" property="linkMessage" />
    </resultMap>

    <select id="selectHHH" resultType="java.util.Map">
        select
        a.defect_level,
        a.defect_time,
        a.conf_mode,
        a.deal_type,
        a.deal_info,
        a.image_path
        from t_defect_info a
        where 1 = 1
    </select>
    <select id="reportGenerate" resultType="java.util.Map">
        select
         a.device_id,
         b.device_mete_id,
         d.instance_id,
         e.cruise_result_id,
         f.state,
         f.identify_result as 'jieGuo',
         a.device_name ,
         (CASE
            WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN ''
            WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) THEN k.preset_name
            WHEN ISNULL(n.mete_name) AND ISNULL(k.preset_name) THEN m.inspection_name
            WHEN ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN n.mete_name
            WHEN ISNULL(m.inspection_name) THEN CONCAT(n.mete_name,'/',k.preset_name)
            WHEN ISNULL(k.preset_name) THEN CONCAT(n.mete_name,'/',m.inspection_name)
            END) AS instance_name,
            h.dict_note as identify_result,
         f.picpath,
         g.dict_note as cruise_result,
         e.cruise_time
        FROM
        t_std_device a,
        t_std_devicemete b,
        t_cruise_task_result_detail e,
        t_cruise_data_result f,
        t_dict_business g,
        t_dict_business h,
        t_cruise_point_instance d
        LEFT JOIN t_camera_preset k ON d.cruise_id = k.preset_id
        LEFT JOIN t_robot_inspection m ON m.inspection_id = d.cruise_id
        LEFT JOIN t_std_devicemete n ON n.device_mete_id = d.device_mete_id
        where  a.device_id = b.device_id and a.custom_id = b.custom_id and b.device_mete_id = d.device_mete_id
        and e.instance_id = d.instance_id and e.cruise_result_id = f.cruise_result_id
        and g.dict_code = f.state
        and h.dict_code = f.identify_result
    </select>

</mapper>