<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.ReportManageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TDefectInfo">
        <id column="defect_id" jdbcType="BIGINT" property="defectId" />
        <result column="defect_level" jdbcType="INTEGER" property="defectLevel" />
        <result column="defect_time" jdbcType="TIMESTAMP" property="defectTime" />
        <result column="defect_type" jdbcType="INTEGER" property="defectType" />
        <result column="defect_name" jdbcType="VARCHAR" property="defectName" />
        <result column="defect_content" jdbcType="VARCHAR" property="defectContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_defect" jdbcType="INTEGER" property="isDefect" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="if_defect_disable" jdbcType="INTEGER" property="ifDefectDisable" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="defect_subtype" jdbcType="INTEGER" property="defectSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="link_message" jdbcType="VARCHAR" property="linkMessage" />
    </resultMap>
    <sql id="TongYong">
        select
		e.cruise_result_id,
		f.cruise_data_id,
		a.device_id,
		b.device_mete_id,
		d.instance_id,
        b.mete_type,
        q.dict_note as mete_type_name,
		f.evaluation_state,
		p.dict_note as evaluation_state_name,
		a.device_name ,
		(CASE
		WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN ''
		WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) THEN k.preset_name
		WHEN ISNULL(n.mete_name) AND ISNULL(k.preset_name) THEN m.inspection_name
		WHEN ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN n.mete_name
		WHEN ISNULL(m.inspection_name) THEN CONCAT(n.mete_name,'/',k.preset_name)
		WHEN ISNULL(k.preset_name) THEN CONCAT(n.mete_name,'/',m.inspection_name)
		END) AS instance_name,
		h.dict_note as identify_result,
		f.origpic as picpath,
		g.dict_note as cruise_result,
		e.cruise_time
		FROM t_std_device a
		LEFT JOIN t_std_devicemete b on a.device_id = b.device_id and a.custom_id = b.custom_id
		LEFT JOIN t_cruise_point_instance d on b.device_mete_id = d.device_mete_id
		LEFT JOIN t_cruise_task_result_detail e on e.instance_id = d.instance_id
		LEFT JOIN t_cruise_data_result f on e.cruise_result_id = f.cruise_result_id
		LEFT JOIN t_dict_business g on g.dict_code = f.state
		LEFT JOIN t_dict_business h on h.dict_code = f.identify_result
		LEFT JOIN t_camera_preset k ON d.cruise_id = k.preset_id
		LEFT JOIN t_robot_inspection m ON m.inspection_id = d.cruise_id
		LEFT JOIN t_std_devicemete n ON n.device_mete_id = d.device_mete_id
		LEFT JOIN t_dict_business p on p.dict_code = f.evaluation_state
        LEFT JOIN t_dict_business q on q.dict_code = b.mete_type

    </sql>
    <sql id="TongYong2">
        select
		q.task_id,
		e.cruise_result_id,
		f.cruise_data_id,
		a.device_id,
		b.device_mete_id,
		d.instance_id,
		b.mete_type,
		w.dict_note as mete_type_name,
		f.evaluation_state,
		x.dict_note as evaluation_state_name,
		a.device_name ,
		(CASE
		WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN ''
		WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) THEN k.preset_name
		WHEN ISNULL(n.mete_name) AND ISNULL(k.preset_name) THEN m.inspection_name
		WHEN ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN n.mete_name
		WHEN ISNULL(m.inspection_name) THEN CONCAT(n.mete_name,'/',k.preset_name)
		WHEN ISNULL(k.preset_name) THEN CONCAT(n.mete_name,'/',m.inspection_name)
		END) AS instance_name,
		h.dict_note as identify_result,
		f.origpic as picpath,
		g.dict_note as cruise_result,
		e.cruise_time
		FROM t_std_device a
		LEFT JOIN t_std_devicemete b on a.device_id = b.device_id and a.custom_id = b.custom_id
		LEFT JOIN t_cruise_point_instance d on b.device_mete_id = d.device_mete_id
		LEFT JOIN t_cruise_task_result_detail e on e.instance_id = d.instance_id
		LEFT JOIN t_cruise_data_result f on e.cruise_result_id = f.cruise_result_id
		LEFT JOIN t_cruise_result q on q.task_result_id = e.task_result_id
		LEFT JOIN t_dict_business g on g.dict_code = f.state
		LEFT JOIN t_dict_business h on h.dict_code = f.identify_result
		LEFT JOIN t_camera_preset k ON d.cruise_id = k.preset_id
		LEFT JOIN t_robot_inspection m ON m.inspection_id = d.cruise_id
		LEFT JOIN t_std_devicemete n ON n.device_mete_id = d.device_mete_id
		LEFT JOIN t_dict_business w on w.dict_code = b.mete_type
		LEFT JOIN t_dict_business x on x.dict_code = f.evaluation_state
    </sql>
    <delete id="reportDelete" parameterType="java.lang.Long">
        delete from
            t_report_info
        WHERE
            report_name = #{reportName, jdbcType=VARCHAR} and generate_date = #{generateDate, jdbcType=TIMESTAMP}
    </delete>

    <select id="reportSelect" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TReportInfo">
        SELECT
            a.report_name,
            a.report_type,
            a.generate_date
        FROM
         t_report_info a
        WHERE 1 = 1
        <if test="reportName != null and reportName != ''"> and a.report_name like concat ('%',#{reportName,jdbcType=VARCHAR},'%')</if>
        <if test="startTime != null and endTime != null"> and generate_date BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>

    </select>
    <insert id="insertReport" parameterType="com.yjh.platform.module.task.entity.TReportInfo">
        insert into t_report_info(
            report_name,
            report_type,
            generate_date,
            remarks
        )values(
                #{reportName, jdbcType=VARCHAR},
                #{reportType, jdbcType=VARCHAR},
                #{generateDate, jdbcType=TIMESTAMP},
                #{remarks, jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectDetail" resultType="com.yjh.platform.module.task.entity.TCruiseDataResultDetail">
        <include refid="TongYong"></include>
        where 1 = 1

         and a.device_id in
            <foreach collection="list" item="deviceIds" open="(" separator="," close=")">
                #{deviceIds, jdbcType=BIGINT}
            </foreach>

        <if test="startTime != null " ><if test="endTime != null">and cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if></if>
    </select>
    <select id="selectStationName" resultType="java.lang.String">
        SELECT
            a.station_name
        FROM
            t_std_region a
        WHERE
            a.up_region_id = -1
    </select>
    <select id="selectMeteNum" resultType="java.lang.Integer">
        SELECT COUNT(device_mete_id or null) as mete_num
        from
        (
            <include refid="TongYong"></include>
        where 1 = 1
        and a.device_id in
        <foreach collection="list" item="deviceIds" open="(" separator="," close=")">
            #{deviceIds, jdbcType=BIGINT}
        </foreach>
        GROUP BY device_mete_id
        )big_table
    </select>
    <select id="selectAbnormalNum" resultType="java.lang.Integer">
        SELECT COUNT(evaluation_state = 257 or null) as abnormal_num
        from
        (
            <include refid="TongYong"></include>
        where 1 = 1
        and a.device_id in
        <foreach collection="list" item="deviceIds" open="(" separator="," close=")">
            #{deviceIds, jdbcType=BIGINT}
        </foreach>
        )big_table
    </select>
    <select id="selectMeteType" resultType="com.yjh.platform.module.task.entity.CheckPointType">
        SELECT
            dict_note as meteType,
            (SELECT COUNT(*)
                from
                (
                    <include refid="TongYong"></include>
                    where 1 = 1
                    and a.device_id in
                    <foreach collection="list" item="deviceIds" open="(" separator="," close=")">
                        #{deviceIds, jdbcType=BIGINT}
                    </foreach>
                    GROUP BY device_mete_id
                ) big_table
                where mete_type = dict_code
            ) as meteNum,
            0 as regular_num
        from t_dict_business
        where dict_code IN
        (
            select dict_code
            from t_dict_business
            where col_name = 'mete_type'
        )
        ORDER BY dict_code
    </select>
    <select id="selectMeteType2" resultType="com.yjh.platform.module.task.entity.CheckPointType">
        SELECT
        dict_note as meteType,
        (SELECT COUNT(*)
        from
        (
        <include refid="TongYong2"></include>
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and task_id = #{taskId, jdbcType=VARCHAR}</if>
        GROUP BY device_mete_id
        ) big_table
        where mete_type = dict_code
        ) as meteNum,
        0 as regular_num
        from t_dict_business
        where dict_code IN
        (
        select dict_code
        from t_dict_business
        where col_name = 'mete_type'
        )
        ORDER BY dict_code
    </select>
    <select id="selectTaskResult" resultType="com.yjh.platform.module.task.entity.TCruiseDataResultDetail">
        <include refid="TongYong2"></include>
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectMeteNumByTask" resultType="java.lang.Integer">
        SELECT COUNT(device_mete_id or null) as mete_num
        from
        (
            <include refid="TongYong2"></include>
            where 1 = 1
            <if test="taskId != null and taskId != ''"> and task_id = #{taskId, jdbcType=VARCHAR}</if>
        )big_table
    </select>
    <select id="selectAbnormalNumByTask" resultType="java.lang.Integer">
        SELECT COUNT(evaluation_state = 257 or null) as abnormal_num
        from
        (
            <include refid="TongYong2"></include>
            where 1 = 1
            <if test="taskId != null and taskId != ''"> and task_id = #{taskId, jdbcType=VARCHAR}</if>
        )big_table
    </select>
    <select id="selectTaskNameAndTime" resultType="com.yjh.platform.module.task.entity.TaskVO">
        SELECT
            a.task_name,
            b.execute_time as cruise_date
        from
            t_cruise_task a
        LEFT JOIN t_cruise_result b on b.task_id = a.task_id
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>


</mapper>