<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjh.platform.module.simple.dao.SimpleDeviceMapper" >

    <select id="selectDeviceModel" resultType="com.yjh.platform.module.simple.entity.SimpleDeviceModel">
        SELECT DISTINCT
            ur.region_id AS area_id,
            ur.region_name AS area_name,
            r.region_id AS bay_id,
            r.region_name AS bay_name,
        <if test="isDevice == true">
            d.device_id,
            d.device_name,
            "7" AS appearance_type,
            "2" AS save_type_list,
            "2" AS point_type,
            "0" AS photo_num,
        </if>
        <if test="isDevice == false">
            i.inspection_code AS device_id,
            i.inspection_name AS device_name,
            i.component_id,
            m.custom_name AS component_name,
            m.meter_type,
            m.appearance_type,
            i.save_type_list,
            m.mete_type AS recognition_type_list,
            m.redundant_type AS point_type,
            i.photo_num,
            i.phase,
            m.label_attri,
        </if>
            d.device_id AS main_device_id,
            d.device_name AS main_device_name,
            da.voltage_level,
            d.device_type,
            "2" AS data_type,
            CONCAT(da.longitude, ';', da.latitude) AS master_coordinate,
            d.device_id master_point_id,
            "0" AS Args
        FROM t_std_device d
        LEFT JOIN t_std_device_attr da ON d.device_id = da.device_id
        LEFT JOIN t_std_region r ON d.up_region_id = r.region_id
        LEFT JOIN t_std_region ur ON r.up_region_id = ur.region_id
      <if test="isDevice == false">
        LEFT JOIN t_std_devicemete m ON m.device_id = d.device_id
        LEFT JOIN t_robot_inspection i ON i.main_device_id = d.device_id
      </if>
        WHERE
            ur.region_id = #{regionId} and d.position_type = 'simple'
    </select>

</mapper>