<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.StatisticsDao">

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TRobotInfo"
            resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id robotId,
        a.robot_code robotCode,
        a.robot_name robotName,
        a.robot_status robotStatus,
        a.last_online_time lastOnlineTime,
        a.off_line_count offLineCount,
        a.duration
        from t_robot_info a
        where 1 = 1
        <if test="robotId != null and robotId != ''">and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="robotCode != null and robotCode != ''">and a.robot_code = #{robotCode, jdbcType=VARCHAR}</if>
    </select>
    <select id="countCamera" resultType="java.util.HashMap">
        SELECT tcp.`camera_id`,
               TO_DAYS(NOW()) - TO_DAYS(tci.commission_date) + 1 commissionDay,
               (SELECT COUNT(
                               DISTINCT DATE_FORMAT(tcdr.`createtime`, '%Y-%m-%d')
                           ))                                    cruiseDay,
               SUM(IF(tcdr.cruise_result = 247, 1, 0)) AS        validNum,
               COUNT(result.task_result_id)                      totalNum
        FROM t_camera_preset tcp
                 LEFT JOIN `t_cruise_point_instance` tcpi
                           ON tcp.`preset_id` = tcpi.`cruise_id`
                 LEFT JOIN `t_camera_info` tci
                           ON tci.`camera_id` = tcp.`camera_id`
                 LEFT JOIN `t_cruise_data_result` tcdr
                           ON tcdr.`cruise_id` = tcpi.`instance_id`
                               and tci.commission_date  <![CDATA[<]]> tcdr.`createtime`
                 LEFT JOIN t_cruise_task_result_detail detail
                           ON detail.cruise_result_id = tcdr.cruise_result_id
                 LEFT JOIN t_cruise_task_result result
                           ON detail.task_result_id = result.task_result_id
        WHERE tci.`commission_date` IS TRUE
          and tci.`commission_date`  <![CDATA[<=]]> now()
        <if test="cameraId != null and cameraId != ''">and tcp.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        GROUP BY camera_id
    </select>
    <select id="selectStatisticsRobot" resultType="java.util.Map">
        SELECT
        tr.robot_id robotId,
        tr.robot_code robotCode,
        DATE_FORMAT(tr.commission_date,'%Y-%m-%d %H:%i:%s') commissionDate,
        TO_DAYS(NOW()) - TO_DAYS(tr.`commission_date`) + 1 commissionDay,
        COUNT(
        DISTINCT DATE_FORMAT(tcr.create_time, '%Y-%m-%d')
        ) taskDay,
        TO_DAYS(NOW()) - TO_DAYS(tr.`commission_date`) - COUNT(
        DISTINCT DATE_FORMAT(ta.alarm_time, '%Y-%m-%d')
        ) + 1 normalDay
        FROM
        t_robot_info tr
        LEFT JOIN t_robot_alarm ta
        ON ta.`robot_id` = tr.`robot_id`
        AND (
        ta.alarm_time IS NULL
        OR ta.alarm_time >= tr.commission_date
        )
        LEFT JOIN t_cruise_task tc
        ON tc.`robot_id` = tr.`robot_id`
        LEFT JOIN t_cruise_result tcr
        ON tcr.`task_id` = tc.`task_id` AND tcr.execute_time <![CDATA[<=]]>NOW()
        WHERE tr.commission_date IS TRUE AND tr.commission_date  <![CDATA[<=]]> NOW()
        and tr.robot_type IS TRUE
        <if test="robotId != null and robotId != ''">and tr.robot_id = #{robotId, jdbcType=BIGINT}</if>
        GROUP BY robotId
    </select>

    <select id="selectStatisticsDrone" resultType="java.util.Map">
        SELECT
        tr.robot_id robotId,
        tr.robot_code robotCode,
        DATE_FORMAT(tr.commission_date,'%Y-%m-%d %H:%i:%s') commissionDate,
        TO_DAYS(NOW()) - TO_DAYS(tr.`commission_date`) + 1 commissionDay,
        COUNT(
        DISTINCT DATE_FORMAT(tcr.create_time, '%Y-%m-%d')
        ) taskDay,
        TO_DAYS(NOW()) - TO_DAYS(tr.`commission_date`) - COUNT(
        DISTINCT DATE_FORMAT(ta.alarm_time, '%Y-%m-%d')
        ) + 1 normalDay
        FROM
        t_robot_info tr
        LEFT JOIN t_robot_alarm ta
        ON ta.`robot_id` = tr.`robot_id`
        AND (
        ta.alarm_time IS NULL
        OR ta.alarm_time >= tr.commission_date
        )
        LEFT JOIN t_cruise_task tc
        ON tc.`robot_id` = tr.`robot_id`
        LEFT JOIN t_cruise_result tcr
        ON tcr.`task_id` = tc.`task_id` AND tcr.execute_time <![CDATA[<=]]>NOW()
        WHERE tr.commission_date IS TRUE AND tr.commission_date  <![CDATA[<=]]> NOW()
        and tr.drone_type IS TRUE
        <if test="robotId != null and robotId != ''">and tr.robot_id = #{robotId, jdbcType=BIGINT}</if>
        GROUP BY robotId
    </select>


    <select id="countTaskByMonth" resultType="com.yjh.platform.module.task.entity.Statistics">
        select DATE_FORMAT(cruise_task_time, '%Y-%m') MONTH,
               count(1)                    as         totalNum,
               (select count(1)
                from t_cruise_task_result
                where cruise_task_time BETWEEN #{startTime} and #{endTime}
                  and cruise_result = 246) as         validNum
        from t_cruise_task_result
        where cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by MONTH
    </select>
    <select id="countTaskByWeek" resultType="com.yjh.platform.module.task.entity.Statistics">
        select DATE_FORMAT(cruise_task_time, '%u') WEEK,
               count(1)                    as      totalNum,
               (select count(1)
                from t_cruise_task_result
                where cruise_task_time BETWEEN #{startTime} and #{endTime}
                  and cruise_result = 246) as      validNum
        from t_cruise_task_result
        where cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by WEEK
    </select>
    <select id="countTaskByDay" resultType="com.yjh.platform.module.task.entity.Statistics">
        select DATE_FORMAT(cruise_task_time, '%Y-%m-%d') day,
               count(1)                    as            totalNum,
               (select count(1)
                from t_cruise_task_result
                where cruise_task_time BETWEEN #{startTime} and #{endTime}
                  and cruise_result = 246) as            validNum
        from t_cruise_task_result
        where cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by day
    </select>

    <select id="countWarnCheckByWeek" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.`warn_time`, '%u') WEEK,
               COUNT(1)           AS            totalNum,
               COUNT(t.deal_type) AS            validNum
        FROM (SELECT deal_type,
                     warn_time
              FROM t_warn_info
              UNION
                  ALL
              (SELECT deal_type,
                      defect_time warn_time
               FROM t_defect_info)) t
        WHERE t.warn_time BETWEEN #{startTime} and #{endTime}
        GROUP BY WEEK
    </select>


    <select id="countWarnCheckByMonth" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.`warn_time`, '%Y-%m') MONTH,
               COUNT(1)           AS               totalNum,
               COUNT(t.deal_type) AS               validNum
        FROM (SELECT deal_type,
                     warn_time
              FROM t_warn_info
              UNION
                  ALL
              (SELECT deal_type,
                      defect_time warn_time
               FROM t_defect_info)) t
        WHERE t.warn_time BETWEEN #{startTime} and #{endTime}
        GROUP BY MONTH
    </select>

    <select id="countWarnCheckByDay" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.`warn_time`, '%Y-%m-%d') day,
               COUNT(1)           AS                  totalNum,
               COUNT(t.deal_type) AS                  validNum
        FROM (SELECT deal_type,
                     warn_time
              FROM t_warn_info
              UNION
                  ALL
              (SELECT deal_type,
                      defect_time warn_time
               FROM t_defect_info)) t
        WHERE t.warn_time BETWEEN #{startTime} and #{endTime}
        GROUP BY day
    </select>

    <select id="countWarnAccuracyByWeek" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.warn_time, '%u')      WEEK,
               count(1)                         as totalNum,
               sum(if(t.deal_type = 286, 1, 0)) as validNum
        FROM (select deal_type, warn_time
              from t_warn_info
              where deal_type is not null
              union all
              (
                  select deal_type, defect_time warn_time from t_defect_info where deal_type is not null
              )) t
        where t.warn_time BETWEEN #{startTime} and #{endTime}
        group by WEEK
    </select>
    <select id="countWarnAccuracyByMonth" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.warn_time, '%Y-%m')   MONTH,
               count(1)                         as totalNum,
               sum(if(t.deal_type = 286, 1, 0)) as validNum
        FROM (select deal_type, warn_time
              from t_warn_info
              where deal_type is not null
              union all
              (
                  select deal_type, defect_time warn_time from t_defect_info where deal_type is not null
              )) t
        where t.warn_time BETWEEN #{startTime} and #{endTime}
        group by MONTH
    </select>
    <select id="countWarnAccuracyByDay" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(t.warn_time, '%Y-%m-%d') day,
               count(1)                         as  totalNum,
               sum(if(t.deal_type = 286, 1, 0)) as  validNum
        FROM (select deal_type, warn_time
              from t_warn_info
              where deal_type is not null
              union all
              (
                  select deal_type, defect_time warn_time from t_defect_info where deal_type is not null
              )) t
        where t.warn_time BETWEEN #{startTime} and #{endTime}
        group by day
    </select>

    <select id="countInstanceLossByMonth" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(result.cruise_task_time, '%Y-%m') MONTH,
               count(1)                                AS    totalNum,
               sum(IF(tcdr.cruise_result = 247, 1, 0)) AS    validNum
        FROM t_cruise_task_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON detail.task_result_id = result.task_result_id
                 LEFT JOIN t_cruise_data_result tcdr ON detail.cruise_result_id = tcdr.cruise_result_id
                 LEFT JOIN t_cruise_task tct
                           ON tct.task_id = result.`task_id`
        WHERE result.cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by MONTH
    </select>

    <select id="countInstanceLossByWeek" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(result.cruise_task_time, '%u') WEEK,
               count(1)                                AS totalNum,
               sum(IF(tcdr.cruise_result = 247, 1, 0)) AS validNum
        FROM t_cruise_task_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON detail.task_result_id = result.task_result_id
                 LEFT JOIN t_cruise_data_result tcdr ON detail.cruise_result_id = tcdr.cruise_result_id
                 LEFT JOIN t_cruise_task tct
                           ON tct.task_id = result.`task_id`
        WHERE result.cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by WEEK
    </select>

    <select id="countInstanceLossByDay" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(result.cruise_task_time, '%Y-%m-%d') day,
               count(1)                                AS       totalNum,
               sum(IF(tcdr.cruise_result = 247, 1, 0)) AS       validNum
        FROM t_cruise_task_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON detail.task_result_id = result.task_result_id
                 LEFT JOIN t_cruise_data_result tcdr ON detail.cruise_result_id = tcdr.cruise_result_id
                 LEFT JOIN t_cruise_task tct
                           ON tct.task_id = result.`task_id`
        WHERE result.cruise_task_time BETWEEN #{startTime} and #{endTime}
        group by day
    </select>

    <select id="countInstanceLoss" resultType="java.util.HashMap">
        SELECT
        count( 1 ) AS totalNum,
        sum( IF ( tcdr.cruise_result = 247, 1, 0 ) ) AS validNum
        FROM
        t_cruise_task_result result
        LEFT JOIN t_cruise_task_result_detail detail ON detail.task_result_id = result.task_result_id
        LEFT JOIN t_cruise_data_result tcdr ON detail.cruise_result_id = tcdr.cruise_result_id
        LEFT JOIN t_cruise_task tct
        ON tct.task_id= result.`task_id`
        WHERE
        result.cruise_task_time BETWEEN #{startTime} and #{endTime}
        <if test="taskId != null and taskId != ''">and result.task_id = #{taskId}</if>
        <if test="robotId != null and robotId != ''">and tct.robot_id = #{robotId, jdbcType=BIGINT}</if>
    </select>


    <select id="countResultCheckByDay" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(detail.cruise_time, '%Y-%m-%d') day,
               count(1)                      AS            totalNum,
               count(result.identify_result) AS            validNum
        FROM t_cruise_data_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON result.cruise_result_id = detail.cruise_result_id
            AND result.cruise_id = detail.instance_id
        WHERE detail.cruise_time BETWEEN #{startTime} and #{endTime}
        group by day
    </select>

    <select id="countResultCheckByWeek" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(detail.cruise_time, '%u') WEEK,
               count(1)                      AS      totalNum,
               count(result.identify_result) AS      validNum
        FROM t_cruise_data_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON result.cruise_result_id = detail.cruise_result_id
            AND result.cruise_id = detail.instance_id
        WHERE detail.cruise_time BETWEEN #{startTime} and #{endTime}
        group by WEEK
    </select>

    <select id="countResultCheckByMonth" resultType="com.yjh.platform.module.task.entity.Statistics">
        SELECT DATE_FORMAT(detail.cruise_time, '%Y-%m') month,
               count(1)                      AS         totalNum,
               count(result.identify_result) AS         validNum
        FROM t_cruise_data_result result
                 LEFT JOIN t_cruise_task_result_detail detail ON result.cruise_result_id = detail.cruise_result_id
            AND result.cruise_id = detail.instance_id
        WHERE detail.cruise_time BETWEEN #{startTime} and #{endTime}
        group by month
    </select>



    <select id="selectRecordByCamera" resultType="java.lang.Long">
        SELECT record_id recordId
        FROM `t_camera_info`
        WHERE camera_id = #{cameraId}
    </select>
</mapper>
