<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.SysRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.SysRole">
        <id column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
        <result column="sys_state" jdbcType="INTEGER" property="sysState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, create_time, creator_id, sys_state
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.yjh.platform.module.user.entity.SysRole">
        insert into sys_role(
            role_id,
            role_name,
            create_time,
            creator_id,
            sys_state
        )values(
                #{roleId, jdbcType=BIGINT},
                #{roleName, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{creatorId, jdbcType=BIGINT},
                #{sysState, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from sys_role
                where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.SysRole">
        update sys_role a <set>
        <if test="roleId != null and roleId != ''">a.role_id = #{roleId, jdbcType=BIGINT}, </if>
        <if test="roleName != null and roleName != ''">a.role_name = #{roleName, jdbcType=VARCHAR}, </if>
        <if test="createTime != null">a.create_time = #{createTime, jdbcType=TIMESTAMP}, </if>
        <if test="creatorId != null and creatorId != ''">a.creator_id = #{creatorId, jdbcType=BIGINT}, </if>
        <if test="sysState != null and sysState != ''">a.sys_state = #{sysState, jdbcType=INTEGER}, </if>
    </set>
            where a.role_id = #{roleId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.SysRole">
        select
        a.role_id,
        a.role_name,
        a.create_time,
        a.creator_id,
        a.sys_state
        from sys_role a
        where 1 = 1
            and a.role_id = #{roleId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.SysRole" resultType="com.yjh.platform.module.user.entity.SysRole">
        select
        a.role_id,
        a.role_name,
        a.create_time,
        a.creator_id,
        a.sys_state
        from sys_role a
        where 1 = 1
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
        <if test="roleName != null and roleName != ''"> and a.role_name = #{roleName, jdbcType=VARCHAR}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="creatorId != null and creatorId != ''"> and a.creator_id = #{creatorId, jdbcType=BIGINT}</if>
        <if test="sysState != null and sysState != ''"> and a.sys_state = #{sysState, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.SysRole" resultType="com.yjh.platform.module.user.entity.SysRole">
        select
        a.role_id,
        a.role_name,
        a.create_time,
        a.creator_id,
        a.sys_state
        from sys_role a
        where 1 = 1
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
        <if test="roleName != null and roleName != ''"> and a.role_name = #{roleName, jdbcType=VARCHAR}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="creatorId != null and creatorId != ''"> and a.creator_id = #{creatorId, jdbcType=BIGINT}</if>
        <if test="sysState != null and sysState != ''"> and a.sys_state = #{sysState, jdbcType=INTEGER}</if>
    </select>

    <select id="selectRelationMenu" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT b.menu_code AS Id
        FROM sys_role a
        LEFT JOIN sys_role_menu b ON a.role_id = b.role_id
        WHERE 1 = 1
        AND a.role_id = #{roleId, jdbcType=BIGINT}
    </select>

    <select id="selectRelationRegion" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT
        a.role_id,
        a.role_name,
        b.region_id,
        c.region_name
        FROM sys_role a
        LEFT JOIN sys_role_region b ON a.role_id = b.role_id
        LEFT JOIN t_std_region c ON b.region_id = c.region_id
        WHERE 1 = 1
        AND a.role_id = #{roleId, jdbcType=BIGINT}
    </select>

    <select id="selectRelationCamera" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT
        a.role_id,
        a.role_name,
        b.camera_id,
        c.camera_name,
        c.camera_type,
        c.url,
        c.port
        FROM sys_role a
        LEFT JOIN sys_role_camera b ON a.role_id = b.role_id
        LEFT JOIN t_camera_info c ON b.camera_id = c.camera_id
        WHERE 1 = 1
        AND a.role_id = #{roleId, jdbcType=BIGINT}
    </select>

    <select id="selectRelationDevice" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT
        a.role_id,
        a.role_name,
        b.device_id,
        c.device_name,
        c.custom_id,
        c.custom_name
        FROM sys_role a
        LEFT JOIN sys_role_device b ON a.role_id = b.role_id
        LEFT JOIN t_std_device c ON b.device_id = c.device_id
        WHERE 1 = 1
        AND a.role_id = #{roleId, jdbcType=BIGINT}
    </select>

    <select id="selectRelationAuthor" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT c.region_id AS Id,d.region_name AS label,d.up_region_id AS upId,"region" AS infoType FROM sys_role b
	        LEFT JOIN sys_role_region c ON b.role_id = c.role_id
	        LEFT JOIN t_std_region d ON c.region_id = d.region_id
	        WHERE b.role_id = #{roleId, jdbcType=BIGINT} AND c.is_checked = "checked"
        UNION ALL (SELECT DISTINCT c.device_id AS Id,d.device_name AS label,d.up_region_id AS upId,"device" AS infoType FROM sys_role b
                	    LEFT JOIN sys_role_device c ON b.role_id = c.role_id
                	    LEFT JOIN t_std_device d ON c.device_id = d.device_id
                	    WHERE b.role_id = #{roleId, jdbcType=BIGINT} AND c.is_checked = "checked")
        UNION ALL (SELECT DISTINCT c.camera_id AS Id,d.camera_name AS label,d.up_region_id AS upId,"camera" AS infoType FROM sys_role b
	                    LEFT JOIN sys_role_camera c ON b.role_id = c.role_id
	                    LEFT JOIN t_camera_info d ON c.camera_id = d.camera_id
	                    WHERE b.role_id = #{roleId, jdbcType=BIGINT} AND c.is_checked = "checked")
    </select>

    <update id="updateRoleRight" parameterType="com.yjh.platform.module.user.entity.SysRole">
        update sys_role a set
        <if test="roleId != null and roleId != ''">a.role_id = #{roleId, jdbcType=BIGINT}</if>
        <if test="roleName != null and roleName != ''">, a.role_name = #{roleName, jdbcType=VARCHAR}</if>
        <if test="createTime != null">, a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="creatorId != null and creatorId != ''">, a.creator_id = #{creatorId, jdbcType=BIGINT}</if>
        <if test="sysState != null and sysState != ''">, a.sys_state = #{sysState, jdbcType=INTEGER}</if>
        where a.role_id = #{roleId, jdbcType=BIGINT}
    </update>

</mapper>
