<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.SysRoleCameraDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.SysRoleCamera">
        <id column="role_id" jdbcType="BIGINT" property="roleId" />
        <result column="camera_id" jdbcType="BIGINT" property="cameraId" />
        <result column="is_checked" jdbcType="VARCHAR" property="isChecked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, camera_id, is_checked
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.yjh.platform.module.user.entity.SysRoleCamera">
        insert into sys_role_camera(
            role_id,
            camera_id,
            is_checked
        )values(
                #{roleId, jdbcType=BIGINT},
                #{cameraId, jdbcType=BIGINT},
                #{isChecked, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from sys_role_camera
                where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.SysRoleCamera">
        update sys_role_camera a <set>
        <if test="roleId != null and roleId != ''">a.role_id = #{roleId, jdbcType=BIGINT},</if>
        <if test="cameraId != null and cameraId != ''">a.camera_id = #{cameraId, jdbcType=BIGINT},</if>
        <if test="isChecked != null and isChecked != ''">a.is_checked = #{isChecked, jdbcType=VARCHAR},</if>
    </set>
            where a.role_id = #{roleId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.SysRoleCamera">
        select
        a.role_id,
        a.camera_id,
        a.is_checked
        from sys_role_camera a
        where 1 = 1
            and a.role_id = #{roleId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.SysRoleCamera" resultType="com.yjh.platform.module.user.entity.SysRoleCamera">
        select
        a.role_id,
        a.camera_id,
        a.is_checked
        from sys_role_camera a
        where 1 = 1
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="isChecked != null and isChecked != ''"> and a.is_checked = #{isChecked, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.SysRoleCamera" resultType="com.yjh.platform.module.user.entity.SysRoleCamera">
        select
        a.role_id,
        a.camera_id,
        a.is_checked
        from sys_role_camera a
        where 1 = 1
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="isChecked != null and isChecked != ''"> and a.is_checked = #{isChecked, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into sys_role_camera (role_id, camera_id, is_checked)
        values
        <foreach collection="list" item="SysRoleCamera" separator=",">
            (#{SysRoleCamera.roleId, jdbcType=BIGINT}, #{SysRoleCamera.cameraId, jdbcType=BIGINT}, #{SysRoleCamera.isChecked, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>
