<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.SysRoleMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.SysRoleMenu">
        <id column="rp_id" jdbcType="BIGINT" property="rpId" />
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="element_code" jdbcType="VARCHAR" property="elementCode" />
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
    </resultMap>
    <resultMap id="treeMap" type="com.yjh.platform.module.user.entity.SystemMenuTreeNode">
        <id column="menu_id" jdbcType="BIGINT" property="menuId" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode" />
        <result column="up_id" jdbcType="BIGINT" property="upId" />
        <result column="role_id" jdbcType="BIGINT" property="roleId" />
        <collection property="childrenList" select="selectTreeMenu" column="{parentId=menu_id,roleId=role_id}"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rp_id, menu_code, sort, element_code, role_id
    </sql>
    <select id="selectTreeMenu" resultMap="treeMap">
        SELECT
            sm.menu_id as menu_id,
            sm.up_id as up_id,
            sm.menu_code as menu_code,
            sm.menu_name as menu_name,
               sm.role_id as role_id
        FROM
            `sys_menu` sm
        WHERE
            sm.state = 1
          AND sm.up_id = #{parentId,jdbcType=BIGINT}
        ORDER BY sm.menu_id
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="rpId" parameterType="com.yjh.platform.module.user.entity.SysRoleMenu">
        insert into sys_role_menu(
            rp_id,
            menu_code,
            sort,
            element_code,
            role_id
        )values(
                #{rpId, jdbcType=BIGINT},
                #{menuCode, jdbcType=VARCHAR},
                #{sort, jdbcType=INTEGER},
                #{elementCode, jdbcType=VARCHAR},
                #{roleId, jdbcType=BIGINT}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from sys_role_menu
                where rp_id = #{rpId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete from sys_role_menu
        where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.SysRoleMenu">
        update sys_role_menu a <set>
        <if test="rpId != null">a.rp_id = #{rpId},</if>
        <if test="menuCode != null">a.menu_code = #{menuCode},</if>
        <if test="sort != null">a.sort = #{sort},</if>
        <if test="elementCode != null">a.element_code = #{elementCode},</if>
        <if test="roleId != null ">a.role_id = #{roleId},</if>
    </set>
            where a.rp_id = #{rpId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.SysRoleMenu">
        select
        a.rp_id,
        a.menu_code,
        a.sort,
        a.element_code,
        a.role_id
        from sys_role_menu a
        where 1 = 1
            and a.rp_id = #{rpId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.SysRoleMenu" resultType="com.yjh.platform.module.user.entity.SysRoleMenu">
        select
        a.rp_id,
        a.menu_code,
        a.sort,
        a.element_code,
        a.role_id
        from sys_role_menu a
        where 1 = 1
        <if test="rpId != null and rpId != ''"> and a.rp_id = #{rpId, jdbcType=BIGINT}</if>
        <if test="menuCode != null and menuCode != ''"> and a.menu_code = #{menuCode, jdbcType=VARCHAR}</if>
        <if test="sort != null"> and a.sort = #{sort, jdbcType=INTEGER}</if>
        <if test="elementCode != null and elementCode != ''"> and a.element_code = #{elementCode, jdbcType=VARCHAR}</if>
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.SysRoleMenu" resultType="com.yjh.platform.module.user.entity.SysRoleMenu">
        select
        a.rp_id,
        a.menu_code,
        a.sort,
        a.element_code,
        a.role_id
        from sys_role_menu a
        where 1 = 1
        <if test="rpId != null and rpId != ''"> and a.rp_id = #{rpId, jdbcType=BIGINT}</if>
        <if test="menuCode != null and menuCode != ''"> and a.menu_code = #{menuCode, jdbcType=VARCHAR}</if>
        <if test="sort != null"> and a.sort = #{sort, jdbcType=INTEGER}</if>
        <if test="elementCode != null and elementCode != ''"> and a.element_code = #{elementCode, jdbcType=VARCHAR}</if>
        <if test="roleId != null and roleId != ''"> and a.role_id = #{roleId, jdbcType=BIGINT}</if>
    </select>

    <insert id="batchInsert">
        insert into sys_role_menu(
        rp_id,
        menu_code,
        sort,
        element_code,
        role_id
        )values
        <foreach item="SysRoleMenu" collection="list" separator=",">
            (#{SysRoleMenu.rpId, jdbcType=BIGINT},
            #{SysRoleMenu.menuCode, jdbcType=VARCHAR},
            #{SysRoleMenu.sort, jdbcType=INTEGER},
            #{SysRoleMenu.elementCode, jdbcType=VARCHAR},
            #{SysRoleMenu.roleId, jdbcType=BIGINT})
        </foreach>
    </insert>

    <select id="selectByRoleId" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        a.menu_code
        from sys_role_menu a
        where
        <if test="roleId != null and roleId != ''"> a.role_id = #{roleId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectOtherRoleHave" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.MenuForHave">
        SELECT
                a.role_id,
                a.role_name,
                b.menu_code,
                c.menu_name
        from  sys_role a
        left join sys_role_menu b on a.role_id = b.role_id
        left join sys_menu c on b.menu_code = c.menu_code
        WHERE a.role_id != #{roleId, jdbcType=BIGINT}
        <if test="roleId == 1235">and a.role_id != 1237</if>
        <if test="roleId == 1237">and a.role_id != 1235</if>
        and menu_level != 1
    </select>
</mapper>
