<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TAlgorithmConfDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TAlgorithmConf">
        <id column="preset_id" jdbcType="BIGINT" property="presetId" />
        <result column="algorithm_id" jdbcType="BIGINT" property="algorithmId" />
        <result column="config_name" jdbcType="VARCHAR" property="configName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="if_del" jdbcType="INTEGER" property="ifDel" />
        <result column="if_show" jdbcType="INTEGER" property="ifShow" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="apply_module" jdbcType="INTEGER" property="applyModule" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        preset_id, algorithm_id, config_name, status, if_del, if_show, pic_url, apply_module, create_time, update_time
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="presetId" parameterType="com.yjh.platform.module.user.entity.TAlgorithmConf">
        insert into t_algorithm_conf(
            preset_id,
            algorithm_id,
            config_name,
            status,
            if_del,
            if_show,
            pic_url,
            apply_module,
            create_time,
            update_time
        )values(
                #{presetId, jdbcType=BIGINT},
                #{algorithmId, jdbcType=BIGINT},
                #{configName, jdbcType=VARCHAR},
                #{status, jdbcType=INTEGER},
                #{ifDel, jdbcType=INTEGER},
                #{ifShow, jdbcType=INTEGER},
                #{picUrl, jdbcType=VARCHAR},
                #{applyModule, jdbcType=INTEGER},
                CURRENT_TIMESTAMP(),
                CURRENT_TIMESTAMP()
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_algorithm_conf
                where preset_id = #{presetId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TAlgorithmConf">
        update t_algorithm_conf a <set>
        <if test="presetId != null and presetId != ''">a.preset_id = #{presetId, jdbcType=BIGINT},</if>
        <if test="algorithmId != null and algorithmId != ''">a.algorithm_id = #{algorithmId, jdbcType=BIGINT},</if>
        <if test="configName != null and configName != ''">a.config_name = #{configName, jdbcType=VARCHAR},</if>
        <if test="status != null">a.status = #{status, jdbcType=INTEGER},</if>
        <if test="ifDel != null and ifDel != ''">a.if_del = #{ifDel, jdbcType=INTEGER},</if>
        <if test="ifShow != null and ifShow != ''">a.if_show = #{ifShow, jdbcType=INTEGER},</if>
        <if test="picUrl != null and picUrl != ''">a.pic_url = #{picUrl, jdbcType=VARCHAR},</if>
        <if test="applyModule != null and applyModule != ''">a.apply_module = #{applyModule, jdbcType=INTEGER},</if>
        a.update_time = CURRENT_TIMESTAMP(),
    </set>
            where a.preset_id = #{presetId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TAlgorithmConf">
        select
        a.preset_id,
        a.algorithm_id,
        a.config_name,
        a.status,
        a.if_del,
        a.if_show,
        a.pic_url,
        a.apply_module,
        a.create_time,
        a.update_time
        from t_algorithm_conf a
        where 1 = 1
            and a.preset_id = #{presetId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TAlgorithmConf" resultType="com.yjh.platform.module.user.entity.TAlgorithmConf">
        select
        a.preset_id,
        a.algorithm_id,
        a.config_name,
        a.status,
        a.if_del,
        a.if_show,
        a.pic_url,
        a.apply_module,
        a.create_time,
        a.update_time
        from t_algorithm_conf a
        where 1 = 1
        <if test="presetId != null and presetId != ''"> and a.preset_id = #{presetId, jdbcType=BIGINT}</if>
        <if test="algorithmId != null and algorithmId != ''"> and a.algorithm_id = #{algorithmId, jdbcType=BIGINT}</if>
        <if test="configName != null and configName != ''"> and a.config_name = #{configName, jdbcType=VARCHAR}</if>
        <if test="status != null and status != ''"> and a.status = #{status, jdbcType=INTEGER}</if>
        <if test="ifDel != null and ifDel != ''"> and a.if_del = #{ifDel, jdbcType=INTEGER}</if>
        <if test="ifShow != null and ifShow != ''"> and a.if_show = #{ifShow, jdbcType=INTEGER}</if>
        <if test="picUrl != null and picUrl != ''"> and a.pic_url = #{picUrl, jdbcType=VARCHAR}</if>
        <if test="applyModule != null and applyModule != ''"> and a.apply_module = #{applyModule, jdbcType=INTEGER}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TAlgorithmConfDetail" resultType="com.yjh.platform.module.user.entity.TAlgorithmConfDetail">
        select a.*,
        b.*,
        d.dict_note as analyseTypeName,
        e.analyse_type as analyseType,
        e.algorithm_name as algorithmName,
        f.camera_name as cameraName
        from t_camera_preset a
        left join t_algorithm_conf b on a.preset_id = b.preset_id
        left join t_algorithm_info e on b.algorithm_id=e.algorithm_id
        left join t_camera_info f on f.camera_id = a.camera_id
        left join t_dict_business d on d.dict_code = e.analyse_type
        WHERE 1 = 1
        <if test="configName != null and configName != ''"> and b.config_name like concat('%',#{configName, jdbcType=VARCHAR},'%')</if>
        <if test="cameraId != null and cameraId != ''"> and f.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="analyseType != null and analyseType != '' "> and e.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>
        <if test="presetName != null and presetName != ''"> and a.preset_name like concat('%',#{presetName, jdbcType=VARCHAR},'%')</if>
        order by a.preset_id desc
    </select>

    <insert id="batchAdd">
        insert into t_algorithm_conf(
            preset_id,
            algorithm_id,
            config_name,
            status,
            if_del,
            if_show,
            pic_url,
            apply_module,
            create_time,
            update_time
        )values
        <foreach collection="list" item="TAlgorithmConf" separator=",">
            (
                #{TAlgorithmConf.presetId, jdbcType=BIGINT},
                #{TAlgorithmConf.algorithmId, jdbcType=BIGINT},
                #{TAlgorithmConf.configName, jdbcType=VARCHAR},
                #{TAlgorithmConf.status, jdbcType=INTEGER},
                #{TAlgorithmConf.ifDel, jdbcType=INTEGER},
                #{TAlgorithmConf.ifShow, jdbcType=INTEGER},
                #{TAlgorithmConf.picUrl, jdbcType=VARCHAR},
                #{TAlgorithmConf.applyModule, jdbcType=INTEGER},
                #{TAlgorithmConf.createTime, jdbcType=TIMESTAMP},
                #{TAlgorithmConf.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>



</mapper>
