<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraRecorderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraRecorder">
        <id column="record_id" jdbcType="BIGINT" property="recordId" />
        <result column="record_name" jdbcType="VARCHAR" property="recordName" />
        <result column="recorder_type" jdbcType="VARCHAR" property="recorderType" />
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
        <result column="record_ip" jdbcType="VARCHAR" property="recordIp" />
        <result column="protocol" jdbcType="VARCHAR" property="protocol" />
        <result column="http_port" jdbcType="INTEGER" property="httpPort" />
        <result column="trans_port" jdbcType="INTEGER" property="transPort" />
        <result column="rtsp_port" jdbcType="INTEGER" property="rtspPort" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="protocolUrl" jdbcType="VARCHAR" property="protocolUrl" />
        <result column="max_channel" jdbcType="INTEGER" property="maxChannel" />
        <result column="hdd_size" jdbcType="INTEGER" property="hddSize" />
        <result column="buffer_day" jdbcType="INTEGER" property="bufferDay" />
        <result column="time_long" jdbcType="INTEGER" property="timeLong" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, record_name, recorder_type, alias_name, record_ip, protocol, http_port, trans_port, rtsp_port, user_name, pwd, protocol_url, max_channel, hdd_size, buffer_day, time_long
    </sql>
    <sql id="TongYong">
        a.record_id,a.record_name,a.recorder_type,b.dict_note as recorder_type1 ,a.alias_name,a.record_ip,
		a.protocol,d.dict_note as protocol_type,a.http_port,a.trans_port,a.rtsp_port,a.user_name,
        a.pwd,a.protocol_url,a.max_channel,a.hdd_size,a.buffer_day,a.time_long
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="recordId" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        insert into t_camera_recorder(
            record_id,
            record_name,
            recorder_type,
            alias_name,
            record_ip,
            protocol,
            http_port,
            trans_port,
            rtsp_port,
            user_name,
            pwd,
            protocol_url,
            max_channel,
            hdd_size,
            buffer_day,
            time_long
        )values(
                #{recordId, jdbcType=BIGINT},
                #{recordName, jdbcType=VARCHAR},
                #{recorderType, jdbcType=VARCHAR},
                #{aliasName, jdbcType=VARCHAR},
                #{recordIp, jdbcType=VARCHAR},
                #{protocol, jdbcType=VARCHAR},
                #{httpPort, jdbcType=INTEGER},
                #{transPort, jdbcType=INTEGER},
                #{rtspPort, jdbcType=INTEGER},
                #{userName, jdbcType=VARCHAR},
                #{pwd, jdbcType=VARCHAR},
                #{protocolUrl, jdbcType=VARCHAR},
                #{maxChannel, jdbcType=INTEGER},
                #{hddSize, jdbcType=INTEGER},
                #{bufferDay, jdbcType=INTEGER},
                #{timeLong, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete  t_camera_recorder ,t_camera_info ,t_camera_info,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id = #{recordId, jdbcType=BIGINT}
    </delete>
    <!--批量删除-->
    <delete id="deleteSelectedRecord"  parameterType="java.lang.String">
        delete  t_camera_recorder ,t_camera_info ,t_camera_preset,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id in
        <foreach collection="list" item="recordId" open="(" separator="," close=")">
            #{recordId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        update t_camera_recorder a <set>
        <if test="recordId != null and recordId != ''">a.record_id = #{recordId, jdbcType=BIGINT},</if>
        <if test="recordName != null and recordName != ''">a.record_name = #{recordName, jdbcType=VARCHAR},</if>
        <if test="recorderType != null and recorderType != ''">a.recorder_type = #{recorderType, jdbcType=VARCHAR},</if>
        <if test="aliasName != null and aliasName != ''">a.alias_name = #{aliasName, jdbcType=VARCHAR},</if>
        <if test="recordIp != null and recordIp != ''">a.record_ip = #{recordIp, jdbcType=VARCHAR},</if>
        <if test="protocol != null and protocol != ''">a.protocol = #{protocol, jdbcType=VARCHAR},</if>
        <if test="httpPort != null ">a.http_port = #{httpPort, jdbcType=INTEGER},</if>
        <if test="transPort != null ">a.trans_port = #{transPort, jdbcType=INTEGER},</if>
        <if test="rtspPort != null ">a.rtsp_port = #{rtspPort, jdbcType=INTEGER},</if>
        <if test="userName != null and userName != ''">a.user_name = #{userName, jdbcType=VARCHAR},</if>
        <if test="pwd != null and pwd != ''">a.pwd = #{pwd, jdbcType=VARCHAR},</if>
        <if test="protocolUrl != null and protocolUrl != ''">a.protocol_url = #{protocolUrl, jdbcType=VARCHAR},</if>
        <if test="maxChannel != null ">a.max_channel = #{maxChannel, jdbcType=INTEGER},</if>
        <if test="hddSize != null ">a.hdd_size = #{hddSize, jdbcType=INTEGER},</if>
        <if test="bufferDay != null ">a.buffer_day = #{bufferDay, jdbcType=INTEGER},</if>
        <if test="timeLong != null ">a.time_long = #{timeLong, jdbcType=INTEGER},</if>
    </set>
            where a.record_id = #{recordId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select<include refid="TongYong"></include>
        from t_camera_recorder a,t_dict_business b,t_dict_business d
        where 1 = 1
            and a.record_id = #{recordId, jdbcType=BIGINT}
            and b.dict_code = a.recorder_type
            and d.dict_code = a.protocol
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select<include refid="TongYong"></include>
        from t_camera_recorder a,t_dict_business b,t_dict_business d
        where 1 = 1
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderType != null and recorderType != ''"> and a.recorder_type = #{recorderType, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="recordIp != null and recordIp != ''"> and a.record_ip = #{recordIp, jdbcType=VARCHAR}</if>
        <if test="protocol != null and protocol != ''"> and a.protocol = #{protocol, jdbcType=VARCHAR}</if>
        <if test="httpPort != null "> and a.http_port = #{httpPort, jdbcType=INTEGER}</if>
        <if test="transPort != null "> and a.trans_port = #{transPort, jdbcType=INTEGER}</if>
        <if test="rtspPort != null "> and a.rtsp_port = #{rtspPort, jdbcType=INTEGER}</if>
        <if test="userName != null and userName != ''"> and a.user_name = #{userName, jdbcType=VARCHAR}</if>
        <if test="pwd != null and pwd != ''"> and a.pwd = #{pwd, jdbcType=VARCHAR}</if>
        <if test="protocolUrl != null and protocolUrl != ''"> and a.protocol_url = #{protocolUrl, jdbcType=VARCHAR}</if>
        <if test="maxChannel != null "> and a.max_channel = #{maxChannel, jdbcType=INTEGER}</if>
        <if test="hddSize != null "> and a.hdd_size = #{hddSize, jdbcType=INTEGER}</if>
        <if test="bufferDay != null "> and a.buffer_day = #{bufferDay, jdbcType=INTEGER}</if>
        <if test="timeLong != null "> and a.time_long = #{timeLong, jdbcType=INTEGER}</if>
        and b.dict_code = a.recorder_type
        and d.dict_code = a.protocol
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select<include refid="TongYong"></include>
        from t_camera_recorder a,t_dict_business b,t_dict_business d
        where 1 = 1
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderType != null and recorderType != ''"> and a.recorder_type = #{recorderType, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="recordIp != null and recordIp != ''"> and a.record_ip = #{recordIp, jdbcType=VARCHAR}</if>
        <if test="protocol != null and protocol != ''"> and a.protocol = #{protocol, jdbcType=VARCHAR}</if>
        <if test="httpPort != null "> and a.http_port = #{httpPort, jdbcType=INTEGER}</if>
        <if test="transPort != null "> and a.trans_port = #{transPort, jdbcType=INTEGER}</if>
        <if test="rtspPort != null "> and a.rtsp_port = #{rtspPort, jdbcType=INTEGER}</if>
        <if test="userName != null and userName != ''"> and a.user_name = #{userName, jdbcType=VARCHAR}</if>
        <if test="pwd != null and pwd != ''"> and a.pwd = #{pwd, jdbcType=VARCHAR}</if>
        <if test="protocolUrl != null and protocolUrl != ''"> and a.protocol_url = #{protocolUrl, jdbcType=VARCHAR}</if>
        <if test="maxChannel != null "> and a.max_channel = #{maxChannel, jdbcType=INTEGER}</if>
        <if test="hddSize != null  "> and a.hdd_size = #{hddSize, jdbcType=INTEGER}</if>
        <if test="bufferDay != null "> and a.buffer_day = #{bufferDay, jdbcType=INTEGER}</if>
        <if test="timeLong != null "> and a.time_long = #{timeLong, jdbcType=INTEGER}</if>
        and b.dict_code = a.recorder_type
        and d.dict_code = a.protocol
    </select>

    <insert id="batchInsert">
        insert into t_camera_recorder(
            record_id,
            record_name,
            recorder_type,
            alias_name,
            record_ip,
            protocol,
            http_port,
            trans_port,
            rtsp_port,
            user_name,
            pwd,
            protocol_url,
            max_channel,
            hdd_size,
            buffer_day,
            time_long
        )values
        <foreach collection="list" item="TCameraRecorder" separator=",">
            (
                #{TCameraRecorder.recordId, jdbcType=BIGINT},
                #{TCameraRecorder.recordName, jdbcType=VARCHAR},
                #{TCameraRecorder.recorderType, jdbcType=VARCHAR},
                #{TCameraRecorder.aliasName, jdbcType=VARCHAR},
                #{TCameraRecorder.recordIp, jdbcType=VARCHAR},
                #{TCameraRecorder.protocol, jdbcType=VARCHAR},
                #{TCameraRecorder.httpPort, jdbcType=INTEGER},
                #{TCameraRecorder.transPort, jdbcType=INTEGER},
                #{TCameraRecorder.rtspPort, jdbcType=INTEGER},
                #{TCameraRecorder.userName, jdbcType=VARCHAR},
                #{TCameraRecorder.pwd, jdbcType=VARCHAR},
                #{TCameraRecorder.protocolUrl, jdbcType=VARCHAR},
                #{TCameraRecorder.maxChannel, jdbcType=INTEGER},
                #{TCameraRecorder.hddSize, jdbcType=INTEGER},
                #{TCameraRecorder.bufferDay, jdbcType=INTEGER},
                #{TCameraRecorder.timeLong, jdbcType=INTEGER}
            )
        </foreach>
    </insert>



</mapper>
