<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraInfo">
        <id column="camera_id" jdbcType="BIGINT" property="cameraId" />
        <result column="camera_name" jdbcType="VARCHAR" property="cameraName" />
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
        <result column="record_id" jdbcType="BIGINT" property="recordId" />
        <result column="up_region_id" jdbcType="BIGINT" property="upRegionId" />
        <result column="channel_num" jdbcType="INTEGER" property="channelNum" />
        <result column="sms_id" jdbcType="INTEGER" property="smsId" />
        <result column="rms_id" jdbcType="INTEGER" property="rmsId" />
        <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
        <result column="stream_type" jdbcType="INTEGER" property="streamType" />
        <result column="protocol_type" jdbcType="INTEGER" property="protocolType" />
        <result column="camera_ip" jdbcType="VARCHAR" property="cameraIp"/>
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="port" jdbcType="INTEGER" property="port" />
        <result column="camera_type" jdbcType="INTEGER" property="cameraType" />
        <result column="is_control" jdbcType="INTEGER" property="isControl" />
        <result column="latitude" jdbcType="VARCHAR" property="latitude" />
        <result column="longitude" jdbcType="VARCHAR" property="longitude" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         camera_name, alias_name, record_id, up_region_id, channel_num, sms_id,
         rms_id, vendor_id, stream_type, protocol_type, camera_ip,url, port, camera_type,
         is_control,latitude,longitude,address
    </sql>

    <sql id="tongTong">
        a.camera_id,a.camera_name,a.alias_name,a.record_id,c.region_name as upRegionName,
        a.vendor_id as cameraVendor,b.dict_note as vendorName ,
        d.dict_note as cameraTypeName,a.camera_type,
        a.channel_num,a.sms_id,a.rms_id,a.stream_type,a.protocol_type,
        a.camera_ip,a.url, a.port,a.is_control,a.address,a.latitude,a.longitude
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="cameraId" parameterType="com.yjh.platform.module.user.entity.TCameraInfo">
        insert into t_camera_info
        (
            <include refid="Base_Column_List"></include>
        )values(
                #{cameraName, jdbcType=VARCHAR},
                #{aliasName, jdbcType=VARCHAR},
                #{recordId, jdbcType=VARCHAR},
                #{upRegionId, jdbcType=BIGINT},
                #{channelNum, jdbcType=INTEGER},
                #{smsId, jdbcType=INTEGER},
                #{rmsId, jdbcType=INTEGER},
                #{vendorId, jdbcType=INTEGER},
                #{streamType, jdbcType=INTEGER},
                #{protocolType, jdbcType=INTEGER},
                #{cameraIp,jdbcType=VARCHAR},
                #{url, jdbcType=VARCHAR},
                #{port, jdbcType=INTEGER},
                #{cameraType, jdbcType=INTEGER},
                #{isControl, jdbcType=INTEGER},
                #{latitude, jdbcType=VARCHAR},
                #{longitude, jdbcType=VARCHAR},
                #{address, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete t_camera_info,t_camera_preset,t_algorithm_conf
        from t_camera_info left join t_camera_preset
        on t_camera_info.camera_id=t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        where t_camera_info.camera_id = #{cameraId, jdbcType=BIGINT}
    </delete>

    <!--批量删除-->
    <delete id="deleteSelectedCamera"  >
        delete t_camera_info,t_camera_preset,t_algorithm_conf,t_cruise_point_instance
        from t_camera_info left join t_camera_preset
        on t_camera_info.camera_id=t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where  t_camera_info.camera_id in
        <foreach collection="list" item="cameraId" open="(" separator="," close=")">
            #{cameraId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TCameraInfo">
        update t_camera_info a <set>
        <if test="cameraName != null and cameraName != ''">a.camera_name = #{cameraName, jdbcType=VARCHAR},</if>
        <if test="aliasName != null and aliasName != ''">a.alias_name = #{aliasName, jdbcType=VARCHAR},</if>
        <if test="recordId != null and recordId != ''">a.record_id = #{recordId, jdbcType=BIGINT},</if>
        <if test="upRegionId != null and upRegionId != ''">a.up_region_id = #{upRegionId, jdbcType=BIGINT},</if>
        <if test="channelNum != null">a.channel_num = #{channelNum, jdbcType=INTEGER},</if>
        <if test="smsId != null">a.sms_id = #{smsId, jdbcType=INTEGER},</if>
        <if test="rmsId != null">a.rms_id = #{rmsId, jdbcType=INTEGER},</if>
        <if test="vendorId != null ">a.vendor_id = #{vendorId, jdbcType=VARCHAR},</if>
        <if test="streamType != null">a.stream_type = #{streamType, jdbcType=INTEGER},</if>
        <if test="protocolType != null">a.protocol_type = #{protocolType, jdbcType=INTEGER},</if>
        <if test="cameraIp != null and cameraIp != ''">a.camera_ip = #{cameraIp, jdbcType=VARCHAR},</if>
        <if test="url != null and url != ''">a.url = #{url, jdbcType=VARCHAR},</if>
        <if test="port != null">a.port = #{port, jdbcType=INTEGER},</if>
        <if test="cameraType != null">a.camera_type = #{cameraType, jdbcType=INTEGER},</if>
        <if test="isControl != null">a.is_control = #{isControl, jdbcType=INTEGER},</if>
        <if test="address != null and address != ''">a.address = #{address, jdbcType=VARCHAR},</if>
        <if test="latitude != null">a.latitude = #{latitude, jdbcType=VARCHAR},</if>
        <if test="longitude != null ">a.longitude = #{longitude, jdbcType=VARCHAR},</if>
    </set>
        where a.camera_id = #{cameraId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select <include refid="tongTong"></include>
        from t_camera_info a,t_dict_business b,t_std_region c
        where 1 = 1
        and a.camera_id = #{cameraId}
        and b.dict_note in(SELECT b.dict_note from t_dict_business where b.dict_code=a.vendor_id)
        and c.region_name in (SELECT c.region_name from t_std_region where c.region_id = a.up_region_id)
    </select>
    <!--根据摄像机名称查询信息-->
    <select id="selectByCameraName" parameterType="com.yjh.platform.module.user.entity.TCameraInfo" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select<include refid="tongTong"></include>
        from t_camera_info a,t_dict_business b,t_std_region c
        where 1 = 1 and a.camera_name  like concat('%',#{cameraName, jdbcType=VARCHAR},'%')
        and b.dict_code=a.vendor_id and c.region_id = a.up_region_id


    </select>
    <!--根据间隔id查询所有摄像机信息-->
    <select id="selectByRegionId" parameterType="com.yjh.platform.module.device.entity.TStdRegion" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select<include refid="tongTong"></include>
        from t_camera_info a,t_dict_business b,t_std_region c
        where 1 = 1
        and a.up_region_id = #{regionId, jdbcType=BIGINT}
        and b.dict_code=a.vendor_id and c.region_id = a.up_region_id
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TCameraInfo" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select<include refid="tongTong"></include>
        from t_camera_info a,t_dict_business b,t_std_region c,t_dict_business d
        where 1 = 1
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="cameraName != null and cameraName != ''"> and a.camera_name like concat('%',#{cameraName, jdbcType=VARCHAR},'%')</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name like concat('%',#{aliasName, jdbcType=VARCHAR},'%')</if>
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="channelNum != null "> and a.channel_num = #{channelNum, jdbcType=INTEGER}</if>
        <if test="smsId != null "> and a.sms_id = #{smsId, jdbcType=INTEGER}</if>
        <if test="rmsId != null "> and a.rms_id = #{rmsId, jdbcType=INTEGER}</if>
        <if test="vendorId != null and vendorId != ''"> and a.vendor_id = #{vendorId, jdbcType=VARCHAR}</if>
        <if test="streamType != null "> and a.stream_type = #{streamType, jdbcType=INTEGER}</if>
        <if test="protocolType != null "> and a.protocol_type = #{protocolType, jdbcType=INTEGER}</if>
        <if test="streamType != null "> and a.stream_type = #{streamType, jdbcType=INTEGER}</if>
        <if test="protocolType != null "> and a.protocol_type = #{protocolType, jdbcType=INTEGER}</if>
        <if test="cameraIp != null and cameraIp != ''"> and a.camera_ip like concat('%',#{cameraIp, jdbcType=VARCHAR},'%')</if>
        <if test="url != null and url != ''"> and a.url = #{url, jdbcType=VARCHAR}</if>
        <if test="port != null "> and a.port = #{port, jdbcType=INTEGER}</if>
        <if test="cameraType != null "> and a.camera_type = #{cameraType, jdbcType=INTEGER}</if>
        <if test="isControl != null "> and a.is_control = #{isControl, jdbcType=INTEGER}</if>
        <if test="address != null">and a.address = #{address, jdbcType=VARCHAR},</if>
        <if test="latitude != null">and a.latitude = #{latitude, jdbcType=VARCHAR},</if>
        <if test="longitude != null">and a.longitude = #{longitude, jdbcType=VARCHAR},</if>
        and b.dict_code = a.vendor_id
        and d.dict_code = a.camera_type
        and c.region_id = a.up_region_id

    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TCameraInfo" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select<include refid="tongTong"></include>
        from t_camera_info a,t_dict_business b,t_std_region c,t_dict_business d
        where 1 = 1
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="cameraName != null and cameraName != ''"> and a.camera_name like concat('%',#{cameraName, jdbcType=VARCHAR},'%')</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name like concat('%',#{aliasName, jdbcType=VARCHAR},'%')</if>
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="channelNum != null "> and a.channel_num = #{channelNum, jdbcType=INTEGER}</if>
        <if test="smsId != null "> and a.sms_id = #{smsId, jdbcType=INTEGER}</if>
        <if test="rmsId != null "> and a.rms_id = #{rmsId, jdbcType=INTEGER}</if>
        <if test="vendorId != null and vendorId != ''"> and a.vendor_id = #{vendorId, jdbcType=VARCHAR}</if>
        <if test="streamType != null "> and a.stream_type = #{streamType, jdbcType=INTEGER}</if>
        <if test="protocolType != null "> and a.protocol_type = #{protocolType, jdbcType=INTEGER}</if>
        <if test="streamType != null "> and a.stream_type = #{streamType, jdbcType=INTEGER}</if>
        <if test="protocolType != null "> and a.protocol_type = #{protocolType, jdbcType=INTEGER}</if>
        <if test="cameraIp != null and cameraIp != ''"> and a.camera_ip like concat('%',#{cameraIp, jdbcType=VARCHAR},'%')</if>
        <if test="url != null and url != ''"> and a.url = #{url, jdbcType=VARCHAR}</if>
        <if test="port != null "> and a.port = #{port, jdbcType=INTEGER}</if>
        <if test="cameraType != null "> and a.camera_type = #{cameraType, jdbcType=INTEGER}</if>
        <if test="isControl != null "> and a.is_control = #{isControl, jdbcType=INTEGER}</if>
        <if test="address != null">and a.address = #{address, jdbcType=VARCHAR},</if>
        <if test="latitude != null">and a.latitude = #{latitude, jdbcType=VARCHAR},</if>
        <if test="longitude != null">and a.longitude = #{longitude, jdbcType=VARCHAR}</if>
        and b.dict_code = a.vendor_id
        and d.dict_code = a.camera_type
        and c.region_id = a.up_region_id
    </select>

    <select id="selectCameraTreeDevice" resultType="com.yjh.platform.module.device.entity.AreaInfo">

        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT d.camera_id AS Id, d.camera_name AS label, d.up_region_id AS upId, b.region_name AS upName, "camera" AS infoType
                FROM t_camera_info d
                LEFT JOIN t_std_region b ON d.up_region_id = b.region_id);
    </select>

    <select id="selectCameraPresetTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT d.camera_id AS Id, d.camera_name AS label, d.up_region_id AS upId, b.region_name AS upName, "camera" AS infoType
                FROM t_camera_info d
                LEFT JOIN t_std_region b ON d.up_region_id = b.region_id)
        UNION ALL (
            select e.preset_id as Id, e.preset_name as label, f.camera_id as upId, f.camera_name as upName, "preset" as infoType
                from t_camera_preset e
                left join t_camera_info f on f.camera_id = e.camera_id);
    </select>

    <select id="selectCameraByTaskId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.CameraInfo">
        SELECT
	       a.camera_id,
	       a.camera_name,
	       a.url
       FROM
	      (
		    (
			   (
				t_camera_info a
				LEFT JOIN t_camera_preset b ON a.camera_id = b.camera_id
			)
			LEFT JOIN (
				t_cruise_point_instance c
				LEFT JOIN t_std_devicemete d ON c.device_mete_id = d.device_mete_id
			) ON b.preset_id = c.cruise_id
		)
		LEFT JOIN t_cruise_plan e ON c.instance_id = e.instance_id
	  )
      LEFT JOIN t_cruise_task f ON e.plan_id = f.plan_id
      WHERE
	  task_id = #{taskId,jdbcType=BIGINT}
    </select>

    <select id="selectCameraId" resultType="com.yjh.platform.module.user.entity.TCamreaPresetTree">
        select a.camera_id, a.camera_name from t_camera_info a
    </select>

    <select id="batchSelectPreset" resultType="com.yjh.platform.module.user.entity.TCamreaPresetTree">
        select a.camera_id, b.camera_name, a.preset_id, a.preset_name from t_camera_preset a
          LEFT JOIN t_camera_info b ON a.camera_id = b.camera_id
    </select>

</mapper>
