<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraOperateDao">

    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraPreset">
        <id column="preset_id" jdbcType="BIGINT" property="presetId" />
        <result column="camera_id" jdbcType="BIGINT" property="cameraId" />
        <result column="preset_num" jdbcType="INTEGER" property="presetNum" />
        <result column="preset_name" jdbcType="VARCHAR" property="presetName" />
        <result column="creator_user" jdbcType="INTEGER" property="creatorUser" />
        <result column="creator_time" jdbcType="DATE" property="creatorTime" />
        <result column="is_use" jdbcType="INTEGER" property="isUse" />
        <result column="preset_img" jdbcType="VARCHAR" property="presetImg" />
        <result column="inspection_postion" jdbcType="INTEGER" property="inspectionPostion" />
        <result column="collect_status" jdbcType="INTEGER" property="collectStatus" />
        <result column="calibration_status" jdbcType="INTEGER" property="calibrationStatus" />

    </resultMap>

    <!--摄像机预置位查询-->
    <select id="selectAllByTCPid" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        preset_id,
        camera_id,
        preset_num,
        preset_name,
        creator_user,
        creator_time,
        is_use,
        preset_img,
        inspection_postion,
        collect_status,
        calibration_status
        from t_camera_preset
        where 1 = 1
            and preset_id = #{presetId, jdbcType=BIGINT}
    </select>
    <!--摄像机预置位删除-->
    <delete id="deleteByTCPid" parameterType="java.lang.Long">
        delete from t_camera_preset
                where preset_id = #{presetId, jdbcType=BIGINT}
    </delete>
    <!--摄像机预置位增加-->
    <insert id="insertTCP" useGeneratedKeys="true" keyProperty="preset_id" parameterType="com.yjh.platform.module.user.entity.TCameraPreset">
        insert into t_camera_preset(
            preset_id,
            camera_id,
            preset_num,
            preset_name,
            creator_user,
            creator_time,
            is_use,
            preset_img,
            inspection_postion,
            collect_status,
            calibration_status
        )values(
                #{presetId, jdbcType=BIGINT},
                #{cameraId, jdbcType=BIGINT},
                #{presetNum, jdbcType=INTEGER},
                #{presetName, jdbcType=VARCHAR},
                #{creatorUser, jdbcType=VARCHAR},
                #{creatorTime, jdbcType=DATE},
                #{isUse, jdbcType=INTEGER},
                #{presetImg, jdbcType=VARCHAR},
                #{inspectionPostion, jdbcType=INTEGER},
                #{collectStatus, jdbcType=INTEGER},
                #{calibrationStatus, jdbcType=INTEGER}
        )
    </insert>
    <!--摄像机预置位更改-->
    <update id="updateTCP" parameterType="com.yjh.platform.module.user.entity.TCameraPreset">
        update t_camera_preset <set>
        <if test="presetId != null and presetId != ''">preset_id = #{presetId, jdbcType=BIGINT},</if>
        <if test="cameraId != null and cameraId != ''">camera_id = #{cameraId, jdbcType=BIGINT},</if>
        <if test="presetNum != null and presetNum != ''">preset_num = #{presetNum, jdbcType=INTEGER},</if>
        <if test="presetName != null and presetName != ''">preset_name = #{presetName, jdbcType=VARCHAR},</if>
        <if test="creatorUser != null and creatorUser != ''">creator_user = #{creatorUser, jdbcType=VARCHAR},</if>
        <if test="creatorTime != null ">creator_time = #{creatorTime, jdbcType=DATE},</if>
        <if test="isUse != null and isUse != ''">is_use = #{isUse, jdbcType=INTEGER},</if>
        <if test="presetImg != null and presetImg != ''">preset_img = #{presetImg, jdbcType=VARCHAR},</if>
        <if test="inspectionPostion != null and inspectionPostion != ''">inspection_postion = #{inspectionPostion, jdbcType=INTEGER},</if>
        <if test="collectStatus != null and collectStatus != ''">collect_status = #{collectStatus, jdbcType=INTEGER},</if>
        <if test="calibrationStatus != null and calibrationStatus != ''">calibration_status = #{calibrationStatus, jdbcType=INTEGER},</if>

    </set>
        where  preset_id= #{presetId, jdbcType=BIGINT}
    </update>
</mapper>