<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraRecorderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraRecorder">
        <id column="record_id" jdbcType="BIGINT" property="recordId" />
        <result column="record_name" jdbcType="VARCHAR" property="recordName" />
        <result column="recorder_type" jdbcType="VARCHAR" property="recorderType" />
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
        <result column="record_ip" jdbcType="VARCHAR" property="recordIp" />
        <result column="protocol" jdbcType="VARCHAR" property="protocol" />
        <result column="http_port" jdbcType="INTEGER" property="httpPort" />
        <result column="trans_port" jdbcType="INTEGER" property="transPort" />
        <result column="rtsp_port" jdbcType="INTEGER" property="rtspPort" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="pwd" jdbcType="VARCHAR" property="pwd" />
        <result column="protocolUrl" jdbcType="VARCHAR" property="protocolUrl" />
        <result column="max_channel" jdbcType="INTEGER" property="maxChannel" />
        <result column="hdd_size" jdbcType="INTEGER" property="hddSize" />
        <result column="buffer_day" jdbcType="INTEGER" property="bufferDay" />
        <result column="time_long" jdbcType="INTEGER" property="timeLong" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, record_name, recorder_model,recorder_type, alias_name, record_ip, protocol, http_port, trans_port, rtsp_port, user_name, pwd, protocol_url, max_channel, hdd_size, buffer_day, time_long
    </sql>
    <sql id="TongYong">
        a.record_id,
        a.record_name,
        a.recorder_model,
        f.dict_note as recorder_model_name,
        a.recorder_type,
        a.vendor_id,
        a.pms_id,
        e.dict_note as vendor_name,
        b.dict_note as recorder_type_Name ,
        a.alias_name,
        a.record_ip,
		a.protocol,
		d.dict_note as protocol_type,
		a.http_port,
		a.trans_port,
		a.rtsp_port,
		a.identity_manager,
        a.identity_code,
        a.protocol_url,
        a.max_channel,
        a.hdd_size,
        a.buffer_day,
        a.time_long,
        unit
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="recordId" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        insert into t_camera_recorder(
            record_id,
            record_name,
            recorder_model,
            recorder_type,
            vendor_id,
            pms_id,
            alias_name,
            record_ip,
            protocol,
            http_port,
            trans_port,
            rtsp_port,
            identity_manager,
            identity_code,
            protocol_url,
            max_channel,
            hdd_size,
            buffer_day,
            time_long,
            unit
        )values(
                #{recordId, jdbcType=BIGINT},
                #{recordName, jdbcType=VARCHAR},
                #{recorderModel, jdbcType=INTEGER},
                #{recorderType, jdbcType=VARCHAR},
                #{vendorId, jdbcType=INTEGER},
                #{pmsId, jdbcType=VARCHAR},
                #{aliasName, jdbcType=VARCHAR},
                #{recordIp, jdbcType=VARCHAR},
                #{protocol, jdbcType=VARCHAR},
                #{httpPort, jdbcType=INTEGER},
                #{transPort, jdbcType=INTEGER},
                #{rtspPort, jdbcType=INTEGER},
                #{identityManager, jdbcType=VARCHAR},
                #{identityCode, jdbcType=VARCHAR},
                #{protocolUrl, jdbcType=VARCHAR},
                #{maxChannel, jdbcType=INTEGER},
                #{hddSize, jdbcType=INTEGER},
                #{bufferDay, jdbcType=INTEGER},
                #{timeLong, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete  t_camera_recorder ,t_camera_info ,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id = #{recordId, jdbcType=BIGINT}
    </delete>
    <!--批量删除-->
    <delete id="deleteSelectedRecord"  parameterType="java.lang.String">
        delete  t_camera_recorder ,t_camera_info ,t_camera_preset,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id in
        <foreach collection="list" item="recordId" open="(" separator="," close=")">
            #{recordId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        update t_camera_recorder a <set>
        <if test="recordId != null">a.record_id = #{recordId},</if>
        <if test="recordName != null ">a.record_name = #{recordName},</if>
        <if test="recorderModel != null ">a.recorder_model = #{recorderModel, jdbcType=INTEGER},</if>
        <if test="recorderType != null ">a.recorder_type = #{recorderType},</if>
        <if test="vendorId != null ">a.vendor_id = #{vendorId, jdbcType=INTEGER},</if>
        <if test="pmsId != null  ">a.pms_id = #{pmsId},</if>
        <if test="aliasName != null">a.alias_name = #{aliasName},</if>
        <if test="recordIp != null">a.record_ip = #{recordIp},</if>
        <if test="protocol != null ">a.protocol = #{protocol},</if>
        <if test="httpPort != null ">a.http_port = #{httpPort, jdbcType=INTEGER},</if>
        <if test="transPort != null ">a.trans_port = #{transPort, jdbcType=INTEGER},</if>
        <if test="rtspPort != null ">a.rtsp_port = #{rtspPort, jdbcType=INTEGER},</if>
        <if test="identityManager != null ">a.identity_manager = #{identityManager},</if>
        <if test="identityCode != null ">a.identity_code = #{identityCode},</if>
        <if test="protocolUrl != null ">a.protocol_url = #{protocolUrl},</if>
        <if test="maxChannel != null ">a.max_channel = #{maxChannel, jdbcType=INTEGER},</if>
        <if test="hddSize != null ">a.hdd_size = #{hddSize, jdbcType=INTEGER},</if>
        <if test="bufferDay != null ">a.buffer_day = #{bufferDay, jdbcType=INTEGER},</if>
        <if test="timeLong != null ">a.time_long = #{timeLong, jdbcType=INTEGER},</if>
        <if test="unit != null ">a.unit = #{unit},</if>
    </set>
            where a.record_id = #{recordId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select
            record_id,
            record_name,
            recorder_model,
            recorder_type,
            vendor_id,
            pms_id,
            alias_name,
            record_ip,
            protocol,
            http_port,
            trans_port,
            rtsp_port,
            identity_manager,
            identity_code,
            protocol_url,
            max_channel,
            hdd_size,
            buffer_day,
            time_long,
            unit
        from t_camera_recorder a
        where 1 = 1
            and a.record_id = #{recordId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select
            a.record_id,
            a.record_name,
            a.recorder_model,
            a.recorder_type,
            a.vendor_id,
            a.pms_id,
            a.alias_name,
            a.record_ip,
            a.protocol,
            a.http_port,
            a.trans_port,
            a.rtsp_port,
            a.identity_manager,
            a.identity_code,
            a.protocol_url,
            a.max_channel,
            a.hdd_size,
            a.buffer_day,
            a.time_long,
            a.unit
        from t_camera_recorder a
        where 1 = 1
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderModel != null "> and a.recorder_model = #{recorderModel, jdbcType=INTEGER}</if>
        <if test="recorderType != null and recorderType != ''"> and a.recorder_type = #{recorderType, jdbcType=VARCHAR}</if>
        <if test="vendorId != null"> and a.vendor_id = #{vendorId, jdbcType=INTEGER}</if>
        <if test="pmsId != null and pmsId != ''"> and a.pms_id = #{pmsId, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="recordIp != null and recordIp != ''"> and a.record_ip = #{recordIp, jdbcType=VARCHAR}</if>
        <if test="protocol != null and protocol != ''"> and a.protocol = #{protocol, jdbcType=VARCHAR}</if>
        <if test="httpPort != null "> and a.http_port = #{httpPort, jdbcType=INTEGER}</if>
        <if test="transPort != null "> and a.trans_port = #{transPort, jdbcType=INTEGER}</if>
        <if test="rtspPort != null "> and a.rtsp_port = #{rtspPort, jdbcType=INTEGER}</if>
        <if test="identityManager != null and identityManager != ''"> and a.identity_manager = #{identityManager, jdbcType=VARCHAR}</if>
        <if test="identityCode != null and identityCode != ''"> and a.identity_code = #{identityCode, jdbcType=VARCHAR}</if>
        <if test="protocolUrl != null and protocolUrl != ''"> and a.protocol_url = #{protocolUrl, jdbcType=VARCHAR}</if>
        <if test="maxChannel != null "> and a.max_channel = #{maxChannel, jdbcType=INTEGER}</if>
        <if test="hddSize != null "> and a.hdd_size = #{hddSize, jdbcType=INTEGER}</if>
        <if test="bufferDay != null "> and a.buffer_day = #{bufferDay, jdbcType=INTEGER}</if>
        <if test="timeLong != null "> and a.time_long = #{timeLong, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select<include refid="TongYong"></include>
        from t_camera_recorder a
        left join t_dict_business b on b.dict_code = a.recorder_type and b.col_name = 'recorder_type'
        left join t_dict_business d on d.dict_code = a.protocol and d.col_name = 'protocol_type'
        left join t_dict_business e on e.dict_code = a.vendor_id and e.col_name = 'camera_vendor'
        left join t_dict_business f on f.dict_code = a.recorder_model and f.col_name = 'recorder_model'
        where 1 = 1
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderModel != -1 "> and a.recorder_model = #{recorderModel, jdbcType=INTEGER}</if>
        <if test="vendorId != -1 "> and a.vendor_id = #{vendorId, jdbcType=INTEGER}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_camera_recorder(
            record_id,
            record_name,
            recorder_model,
            recorder_type,
            vendor_id,
            pms_id,
            alias_name,
            record_ip,
            protocol,
            http_port,
            trans_port,
            rtsp_port,
        identity_manager,
        identity_code,
            protocol_url,
            max_channel,
            hdd_size,
            buffer_day,
            time_long,
            unit
        )values
        <foreach collection="list" item="TCameraRecorder" separator=",">
            (
                #{TCameraRecorder.recordId, jdbcType=BIGINT},
                #{TCameraRecorder.recordName, jdbcType=VARCHAR},
            #{TCameraRecorder.recorderModel, jdbcType=INTEGER},
                #{TCameraRecorder.recorderType, jdbcType=VARCHAR},
            #{TCameraRecorder.vendorId, jdbcType=INTEGER},
            #{TCameraRecorder.pmsId, jdbcType=VARCHAR},
            #{TCameraRecorder.aliasName, jdbcType=VARCHAR},
                #{TCameraRecorder.recordIp, jdbcType=VARCHAR},
                #{TCameraRecorder.protocol, jdbcType=VARCHAR},
                #{TCameraRecorder.httpPort, jdbcType=INTEGER},
                #{TCameraRecorder.transPort, jdbcType=INTEGER},
                #{TCameraRecorder.rtspPort, jdbcType=INTEGER},
                #{TCameraRecorder.identityManager, jdbcType=VARCHAR},
                #{TCameraRecorder.identityCode, jdbcType=VARCHAR},
                #{TCameraRecorder.protocolUrl, jdbcType=VARCHAR},
                #{TCameraRecorder.maxChannel, jdbcType=INTEGER},
                #{TCameraRecorder.hddSize, jdbcType=INTEGER},
                #{TCameraRecorder.bufferDay, jdbcType=INTEGER},
                #{TCameraRecorder.timeLong, jdbcType=INTEGER},
                #{TCameraRecorder.unit, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectIdAndName"  resultType="com.yjh.platform.module.user.entity.TCameraRecorderDetail">
        select
        a.record_id,
        a.record_name
        from t_camera_recorder a
    </select>
    <select id="selectRecorderIdByPmsId" resultType="java.lang.Long">
        select
        a.record_id
        from t_camera_recorder a
        where 1 = 1
        <if test="pmsId != null and pmsId != ''">and a.pms_id = #{pmsId,jdbcType = VARCHAR}</if>
    </select>

    <select id="selectHaveCamera" resultType="java.lang.Long">
        SELECT
            a.camera_id
        FROM
            t_camera_info a
            where a.record_id = #{recordId, jdbcType=BIGINT}
    </select>
</mapper>
