<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraPresetDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraPreset">
        <id column="preset_id" jdbcType="BIGINT" property="presetId" />
        <result column="camera_id" jdbcType="BIGINT" property="cameraId" />
        <result column="origin_id" jdbcType="VARCHAR" property="originId" />
        <result column="edge_code" jdbcType="VARCHAR" property="edgeCode" />
        <result column="preset_num" jdbcType="INTEGER" property="presetNum" />
        <result column="preset_name" jdbcType="VARCHAR" property="presetName" />
        <result column="creator_user" jdbcType="VARCHAR" property="creatorUser" />
        <result column="creator_time" jdbcType="TIMESTAMP" property="creatorTime" />
        <result column="preset_type" jdbcType="INTEGER" property="presetType" />
        <result column="is_use" jdbcType="INTEGER" property="isUse" />
        <result column="preset_img" jdbcType="VARCHAR" property="presetImg" />
        <result column="inspection_postion" jdbcType="INTEGER" property="inspectionPostion" />
        <result column="collect_status" jdbcType="INTEGER" property="collectStatus" />
        <result column="preset_ptz" jdbcType="VARCHAR" property="presetPtz" />
        <result column="calibration_status" jdbcType="INTEGER" property="calibrationStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        preset_id, camera_id, preset_num, preset_name, preset_type, creator_user, creator_time, is_use, preset_img, inspection_postion, collect_status, calibration_status,remark
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="presetId" parameterType="com.yjh.platform.module.user.entity.TCameraPreset">
        insert into t_camera_preset(
            preset_id,
            camera_id,
            preset_num,
            preset_name,
            preset_type,
            creator_user,
            creator_time,
            is_use,
            preset_img,
            inspection_postion,
            collect_status,
            calibration_status,
            remark
        )values(
                #{presetId, jdbcType=BIGINT},
                #{cameraId, jdbcType=BIGINT},
                #{presetNum, jdbcType=INTEGER},
                #{presetName, jdbcType=VARCHAR},
                #{presetType, jdbcType=INTEGER},
                #{creatorUser, jdbcType=VARCHAR},
                #{creatorTime, jdbcType=TIMESTAMP},
                #{isUse, jdbcType=INTEGER},
                #{presetImg, jdbcType=VARCHAR},
                #{inspectionPostion, jdbcType=INTEGER},
                #{collectStatus, jdbcType=INTEGER},
                #{calibrationStatus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}

        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete  from t_camera_preset
        where t_camera_preset.preset_id = #{presetId, jdbcType=BIGINT}
    </delete>

    <!--批量删除-->
    <delete id="deleteSelectedPreset" >
        delete  t_camera_preset,t_algorithm_conf,t_cruise_point_instance
        from t_camera_preset left join  t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where 1=1
        and t_camera_preset.preset_id in
           <foreach collection="list" item="presetIds" open="(" separator="," close=")">
               #{presetIds, jdbcType=BIGINT}
            </foreach>
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TCameraPreset">
        update t_camera_preset a <set>
        <if test="presetId != null">a.preset_id = #{presetId},</if>
        <if test="cameraId != null ">a.camera_id = #{cameraId,},</if>
        <if test="presetNum != null ">a.preset_num = #{presetNum, jdbcType=INTEGER},</if>
        <if test="presetName != null ">a.preset_name = #{presetName},</if>
        <if test="presetType != null ">a.preset_type = #{presetType},</if>
        <if test="creatorUser != null  ">a.creator_user = #{creatorUser},</if>
        <if test="creatorTime != null ">a.creator_time = #{creatorTime, jdbcType=TIMESTAMP},</if>
        <if test="isUse != null ">a.is_use = #{isUse, jdbcType=INTEGER},</if>
        <if test="presetImg != null">a.preset_img = #{presetImg},</if>
        <if test="inspectionPostion != null ">a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER},</if>
        <if test="collectStatus != null ">a.collect_status = #{collectStatus, jdbcType=INTEGER},</if>
        <if test="calibrationStatus != null ">a.calibration_status = #{calibrationStatus, jdbcType=INTEGER},</if>
        <if test="presetPtz != null ">a.preset_ptz = #{presetPtz, jdbcType=VARCHAR},</if>
        <if test="remark != null ">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
            where a.preset_id = #{presetId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        a.preset_id,
        a.camera_id,
        a.edge_code,
        a.origin_id,
        a.preset_num,
        a.preset_name,
        a.preset_type,
        a.creator_user,
        a.creator_time,
        a.is_use,
        a.preset_img,
        a.inspection_postion,
        a.collect_status,
        a.preset_ptz,
        a.calibration_status
        from t_camera_preset a
        where 1 = 1
            and a.preset_id = #{presetId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="selectByPrimaryIds" parameterType="java.util.List" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        a.preset_id,
        a.preset_name
        from t_camera_preset a
        where 1 = 1
            and a.preset_id in
            <foreach collection="list" separator="," open="(" close=")" item="presetId">
                #{presetId, jdbcType=BIGINT}
            </foreach>
        limit 1
    </select>


    <!--根据预置位名称查询信息-->
    <select id="selectByPresetName" parameterType="com.yjh.platform.module.user.entity.TCameraPreset" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        a.preset_id,
        a.camera_id,
        a.preset_num,
        a.preset_name,
        a.preset_type,
        a.creator_user,
        a.creator_time,
        a.is_use,
        a.preset_img,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status
        from t_camera_preset a
        where 1=1
        <if test="presetName != null and presetName != ''"> and a.preset_name like concat('%',#{presetName, jdbcType=VARCHAR},'%')</if>
    </select>

    <!--根据摄像机id查询所有预置位信息-->
    <select id="selectByCameraId" parameterType="com.yjh.platform.module.user.entity.TCameraPreset" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        a.preset_id,
        a.camera_id,
        a.preset_num,
        a.preset_name,
        a.preset_type,
        a.creator_user,
        a.creator_time,
        a.is_use,
        a.preset_img,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status,
        a.preset_ptz
        from t_camera_preset a
        where 1 = 1
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>

    </select>

    <!--根据摄像机id查询所有预置位信息-->
    <select id="selectPresetByCruiseId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        SELECT a.preset_id, a.camera_id, a.preset_num, a.preset_name, a.preset_type, a.creator_user, a.creator_time,b.camera_name,
        a.is_use, a.preset_img, a.inspection_postion, a.collect_status, a.calibration_status, a.preset_ptz
        from t_camera_preset a
            left join t_camera_info b on a.camera_id = b.camera_id
        LEFT JOIN t_cruise_point_instance h ON a.preset_id = h.cruise_id
        WHERE 1 = 1
        <if test="cruiseId != null and cruiseId != ''"> and h.device_mete_id = #{cruiseId, jdbcType=BIGINT}</if>

    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TCameraPreset" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        a.preset_id,
        a.camera_id,
        a.preset_num,
        a.preset_name,
        a.preset_type,
        a.creator_user,
        a.creator_time,
        a.is_use,
        a.preset_img,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status
        from t_camera_preset a
        where 1 = 1
        <if test="presetId != null and presetId != ''"> and a.preset_id = #{presetId, jdbcType=BIGINT}</if>
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="presetNum != null "> and a.preset_num = #{presetNum, jdbcType=INTEGER}</if>
        <if test="presetName != null and presetName != ''"> and a.preset_name like concat('%',#{presetName, jdbcType=VARCHAR},'%')</if>
        <if test="creatorUser != null and creatorUser != ''"> and a.creator_user = #{creatorUser, jdbcType=VARCHAR}</if>
        <if test="creatorTime != null and creatorTime != ''"> and a.creator_time = #{creatorTime, jdbcType=TIMESTAMP}</if>
        <if test="isUse != null "> and a.is_use = #{isUse, jdbcType=INTEGER}</if>
        <if test="presetImg != null and presetImg != ''"> and a.preset_img = #{presetImg, jdbcType=VARCHAR}</if>
        <if test="inspectionPostion != null "> and a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER}</if>
        <if test="collectStatus != null "> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null "> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TCameraPreset" resultType="com.yjh.platform.module.user.entity.TCameraPresetExpand">
        select
        a.preset_id,
        a.camera_id,
        b.camera_name,
        a.preset_num,
        a.preset_name,
        a.preset_type,
        a.creator_user,
        a.creator_time,
        a.is_use,
        a.preset_img,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status,
        a.remark
        from t_camera_preset a,t_camera_info b
        where 1 = 1
        <if test="presetId != null and presetId != ''"> and a.preset_id = #{presetId, jdbcType=BIGINT}</if>
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="presetNum != null "> and a.preset_num like concat('%',#{presetNum, jdbcType=INTEGER},'%')</if>
        <if test="presetName != null and presetName != ''"> and a.preset_name like concat('%',#{presetName, jdbcType=VARCHAR},'%')</if>
        <if test="creatorUser != null and creatorUser != ''"> and a.creator_user = #{creatorUser, jdbcType=VARCHAR}</if>
        <if test="creatorTime != null and creatorTime != ''"> and a.creator_time = #{creatorTime, jdbcType=TIMESTAMP}</if>
        <if test="isUse != null "> and a.is_use = #{isUse, jdbcType=INTEGER}</if>
        <if test="presetImg != null and presetImg != ''"> and a.preset_img = #{presetImg, jdbcType=VARCHAR}</if>
        <if test="inspectionPostion != null "> and a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER}</if>
        <if test="collectStatus != null "> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null "> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        and a.camera_id = b.camera_id
        ORDER BY a.preset_num asc
    </select>

    <insert id="batchInsert">
        insert into t_camera_preset(
            preset_id,
            camera_id,
            preset_num,
            preset_name,
            preset_type,
            creator_user,
            creator_time,
            is_use,
            preset_img,
            inspection_postion,
            collect_status,
            calibration_status,
            remark
        )values
        <foreach collection="list" item="TCameraPreset" separator=",">
            (
                #{TCameraPreset.presetId, jdbcType=BIGINT},
                #{TCameraPreset.cameraId, jdbcType=BIGINT},
                #{TCameraPreset.presetNum, jdbcType=INTEGER},
                #{TCameraPreset.presetName, jdbcType=VARCHAR},
                #{TCameraPreset.presetType, jdbcType=INTEGER},
                #{TCameraPreset.creatorUser, jdbcType=VARCHAR},
                #{TCameraPreset.creatorTime, jdbcType=TIMESTAMP},
                #{TCameraPreset.isUse, jdbcType=INTEGER},
                #{TCameraPreset.presetImg, jdbcType=VARCHAR},
                #{TCameraPreset.inspectionPostion, jdbcType=INTEGER},
                #{TCameraPreset.collectStatus, jdbcType=INTEGER},
                #{TCameraPreset.remark, jdbcType=VARCHAR},

            )
        </foreach>
    </insert>

<select id="selectPreImgByCruiseId" parameterType="java.lang.Long" resultType="java.lang.String">
       SELECT
	     preset_img
       FROM
	    t_camera_preset
       WHERE
	    preset_id IN (
		  SELECT
			  cruise_id
		  FROM
			  t_cruise_point_instance
		  WHERE
			  instance_id = #{instanceId,jdbcType=BIGINT}
	    )
</select>

    <select id="selectLastOne" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
         select * from t_camera_preset order by preset_id DESC limit 1;
    </select>

    <select id="selectAll" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select * from t_camera_preset
    </select>

    <select id="selectInstanceIdList" resultType="java.lang.Long">
        SELECT
            instance_id
        FROM
            t_cruise_point_instance
        WHERE
            cruise_id = #{cruiseId,jdbcType=BIGINT}
    </select>

    <delete id="deleteInstance">
        DELETE
        FROM
            t_cruise_point_instance
        WHERE
            instance_id IN
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deletePlanInstance">
        DELETE
        FROM
        u_patrol_plan_attr
        WHERE
        instance_id IN
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </delete>
    <delete id="deletePointInstance">
        DELETE
        FROM
        t_cruise_point_attr
        WHERE
        instance_id IN
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </delete>
    <select id="selectForThisPreset" resultType="java.lang.String">
        SELECT
        preset_img
       FROM
	    t_camera_preset
       WHERE camera_id=#{cameraId, jdbcType=BIGINT}
    </select>
    <select id="selectCameraIdList" resultType="java.lang.Long">
        SELECT
	     camera_id
       FROM
	    t_camera_info
    </select>
    <select id="selectCameraHavePreset" resultType="java.lang.Long">
        SELECT
	     preset_id
       FROM
	    t_camera_preset
       WHERE camera_id in <foreach collection="list" item="cameraId" open="(" separator="," close=")">
        #{cameraId, jdbcType=BIGINT}
    </foreach>
    </select>

    <select id="selectKeepWatch" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
            *
        from t_camera_preset
        where camera_id = #{cameraId}
        and preset_type = 2
    </select>

    <select id="selectKeepWatchTask" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
            *
        from t_camera_preset
        where camera_id = #{cameraId}
        and preset_type &lt;&gt; 1
        <if test="selfPreset != null and selfPreset != ''"> and preset_id &lt;&gt; #{selfPreset, jdbcType=BIGINT}</if>
    </select>

    <select id="selectCameraBySilent" resultType="java.util.Map">
        SELECT DISTINCT
            a.camera_id,
            b.preset_id,
            b.preset_name
        FROM
            t_camera_info a, t_camera_preset b
        WHERE a.camera_id = b.camera_id
          and b.preset_type in(4,5)
    </select>

    <select id="selectPMSByCameraId" resultType="java.lang.String">
        SELECT a.pms_id
        FROM
            t_camera_info a
        where a.camera_id = #{cameraId,jdbcType=BIGINT}
    </select>

    <select id="selectInstanceInfo" resultType="java.util.Map">
        SELECT
            a.preset_id,
            a.camera_id,
            b.cruise_id,
            b.instance_id,
            b.custom_id,
            b.device_id,
            d.device_name,
            b.device_mete_id,
            e.mete_name
        FROM
            t_camera_preset a,t_cruise_point_instance b,t_std_device d,t_std_devicemete e
        where a.preset_id = b.cruise_id
          and d.device_id = b.device_id and e.custom_id = b.custom_id
          AND b.device_mete_id = e.device_mete_id
          and a.preset_id = #{presetId,jdbcType=BIGINT}
    </select>

    <select id="selectAlarmLevel" resultType="java.lang.String">
        SELECT
            defect_level
        FROM
            t_algorithm_info
        WHERE is_ai = 0
          AND  defect_type in
               (
                   SELECT
                       dict_code
                   FROM
                       t_dict_business
                   WHERE
                       col_name = #{colName,jdbcType=VARCHAR}
                     AND dict_note = #{dictNote,jdbcType=VARCHAR}
               )
    </select>
    <select id="selectSilentByCameraIdAndPresetId" resultType="int">
        select count(1)
        FROM t_camera_info a, t_camera_preset b
        WHERE a.camera_id = b.camera_id
          and b.preset_type = 3
          and a.camera_id = #{cameraId}
          and b.preset_id = #{presetId}
    </select>
    <select id="selectCameraBySecondSilent" resultType="java.util.Map">
        SELECT DISTINCT
            a.camera_id,
            b.preset_id,
            b.preset_name,
            a.camera_ip,
            a.port,
            a.camera_manager,
            a.camera_code
        FROM
            t_camera_info a, t_camera_preset b
        WHERE a.camera_id = b.camera_id
          and b.preset_type = 3
        and b.edge_code is null
    </select>
    <select id="selectCameraPresetInTask" resultType="java.lang.Integer">
        select
            count(1)
        from
            t_cruise_point_instance t
        where t.cruise_type in (229, 230) and t.cruise_id=#{presetId}
          and t.instance_id in
              (select
                   b.instance_id
               from
                   u_patrol_task_attr b, u_patrol_result a
               where a.task_id = b.task_id
                 and a.task_state in (239, 241))
    </select>

    <select id="selectSilentInfo" resultType="com.yjh.platform.module.user.entity.SilentConf">
        select * from silent_conf where 1=1 and chill_time &lt;&gt; -1
        <if test="presetType != null and presetType != ''"> and preset_type = #{presetType}</if>
    </select>

    <select id="selectSilentInfoByPrimaryKey" resultType="com.yjh.platform.module.user.entity.SilentConf">
        select id, preset_type, preset_type_name, recognize_type, chill_time, editable from silent_conf
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectCameraByPresetType" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
        *
        from t_camera_preset
        where preset_type = #{presetType}
          and edge_code is null
    </select>

    <select id="selectIsDownSystemPreset" resultType="com.yjh.platform.module.user.entity.TCameraPreset">
        select
            *
        from t_camera_preset
        where origin_id = #{presetId}
    </select>

    <select id="selectPresetTypeInfo" resultType="com.yjh.platform.module.user.entity.SilentConf">
        select id, preset_type, preset_type_name, recognize_type, chill_time, editable
        from silent_conf
    </select>

    <update id="updateSilentConf" parameterType="com.yjh.platform.module.user.entity.SilentConf">
        update silent_conf a <set>
        <if test="presetTypeName != null and presetTypeName != ''">a.preset_type_name = #{presetTypeName},</if>
        a.recognize_type = #{recognizeType},
        a.chill_time = #{chillTime}
    </set>
        where a.id = #{id}
    </update>
</mapper>
