<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TCameraRecorderDao">

    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TCameraRecorder">
            <id property="recordId" column="record_id" jdbcType="BIGINT"/>
            <result property="recordName" column="record_name" jdbcType="VARCHAR"/>
            <result property="recorderModel" column="recorder_model" jdbcType="INTEGER"/>
            <result property="recorderType" column="recorder_type" jdbcType="VARCHAR"/>
            <result property="vendorId" column="vendor_id" jdbcType="INTEGER"/>
            <result property="pmsId" column="pms_id" jdbcType="VARCHAR"/>
            <result property="aliasName" column="alias_name" jdbcType="VARCHAR"/>
            <result property="recordIp" column="record_ip" jdbcType="VARCHAR"/>
            <result property="protocol" column="protocol" jdbcType="VARCHAR"/>
            <result property="httpPort" column="http_port" jdbcType="INTEGER"/>
            <result property="transPort" column="trans_port" jdbcType="INTEGER"/>
            <result property="rtspPort" column="rtsp_port" jdbcType="INTEGER"/>
            <result property="identityManager" column="identity_manager" jdbcType="VARCHAR"/>
            <result property="identityCode" column="identity_code" jdbcType="VARCHAR"/>
            <result property="protocolUrl" column="protocol_url" jdbcType="VARCHAR"/>
            <result property="maxChannel" column="max_channel" jdbcType="INTEGER"/>
            <result property="hddSize" column="hdd_size" jdbcType="INTEGER"/>
            <result property="bufferDay" column="buffer_day" jdbcType="INTEGER"/>
            <result property="timeLong" column="time_long" jdbcType="INTEGER"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
            <result property="originId" column="origin_id" jdbcType="BIGINT"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id,record_name,recorder_model,
        recorder_type,vendor_id,pms_id,
        alias_name,record_ip,protocol,
        http_port,trans_port,rtsp_port,
        identity_manager,identity_code,protocol_url,
        max_channel,hdd_size,buffer_day,
        time_long,unit,edge_code,
        origin_id
            </sql>
    <sql id="TongYong">
        a.record_id,
        a.record_name,
        a.recorder_model,
        f.dict_note as recorder_model_name,
        a.recorder_type,
        a.vendor_id,
        a.pms_id,
        e.dict_note as vendor_name,
        b.dict_note as recorder_type_Name ,
        a.alias_name,
        a.record_ip,
		a.protocol,
		d.dict_note as protocol_type,
		a.http_port,
		a.trans_port,
		a.rtsp_port,
		a.identity_manager,
        IF(IFNULL(a.identity_code, '') = '', a.identity_code, '••••••') AS identity_code,
        a.protocol_url,
        a.max_channel,
        a.hdd_size,
        a.buffer_day,
        a.time_long,
        unit,
        edge_code,
        origin_id
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="recordId" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        insert into t_camera_recorder
        ( record_name,recorder_model
        ,recorder_type,vendor_id,pms_id
        ,alias_name,record_ip,protocol
        ,http_port,trans_port,rtsp_port
        ,identity_manager,identity_code,protocol_url
        ,max_channel,hdd_size,buffer_day
        ,time_long,unit,edge_code,origin_id)
        values (#{recordName,jdbcType=VARCHAR},#{recorderModel,jdbcType=INTEGER}
        ,#{recorderType,jdbcType=VARCHAR},#{vendorId,jdbcType=INTEGER},#{pmsId,jdbcType=VARCHAR}
        ,#{aliasName,jdbcType=VARCHAR},#{recordIp,jdbcType=VARCHAR},#{protocol,jdbcType=VARCHAR}
        ,#{httpPort,jdbcType=INTEGER},#{transPort,jdbcType=INTEGER},#{rtspPort,jdbcType=INTEGER}
        ,#{identityManager,jdbcType=VARCHAR},#{identityCode,jdbcType=VARCHAR},#{protocolUrl,jdbcType=VARCHAR}
        ,#{maxChannel,jdbcType=INTEGER},#{hddSize,jdbcType=INTEGER},#{bufferDay,jdbcType=INTEGER}
        ,#{timeLong,jdbcType=INTEGER},#{unit,jdbcType=VARCHAR},#{edgeCode,jdbcType=VARCHAR}
        ,#{originId,jdbcType=BIGINT})
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete  t_camera_recorder ,t_camera_info ,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id = #{recordId, jdbcType=BIGINT}
    </delete>
    <!--批量删除-->
    <delete id="deleteSelectedRecord"  parameterType="java.lang.String">
        delete  t_camera_recorder ,t_camera_info ,t_camera_preset,t_algorithm_conf,t_cruise_point_instance
        from t_camera_recorder left  join t_camera_info
        on t_camera_recorder.record_id = t_camera_info.record_id
        left join t_camera_preset
        on t_camera_info.camera_id = t_camera_preset.camera_id
        left join t_algorithm_conf
        on t_camera_preset.preset_id = t_algorithm_conf.preset_id
        left join t_cruise_point_instance
        on t_algorithm_conf.preset_id = t_cruise_point_instance.cruise_id
        and t_cruise_point_instance.cruise_type = 229
        where t_camera_recorder.record_id in
        <foreach collection="list" item="recordId" open="(" separator="," close=")">
            #{recordId, jdbcType=BIGINT}
        </foreach>
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder">
        update t_camera_recorder a <set>
        <if test="recordId != null">a.record_id = #{recordId},</if>
        <if test="recordName != null ">a.record_name = #{recordName},</if>
        <if test="recorderModel != null ">a.recorder_model = #{recorderModel, jdbcType=INTEGER},</if>
        <if test="recorderType != null ">a.recorder_type = #{recorderType},</if>
        a.vendor_id = #{vendorId, jdbcType=INTEGER},
        <if test="pmsId != null  ">a.pms_id = #{pmsId},</if>
        <if test="aliasName != null">a.alias_name = #{aliasName},</if>
        <if test="recordIp != null">a.record_ip = #{recordIp},</if>
        <if test="protocol != null ">a.protocol = #{protocol},</if>
        <if test="httpPort != null ">a.http_port = #{httpPort, jdbcType=INTEGER},</if>
        <if test="transPort != null ">a.trans_port = #{transPort, jdbcType=INTEGER},</if>
        <if test="rtspPort != null ">a.rtsp_port = #{rtspPort, jdbcType=INTEGER},</if>
        <if test="identityManager != null ">a.identity_manager = #{identityManager},</if>
        <if test="identityCode != null and identityCode != '••••••'">a.identity_code = #{identityCode},</if>
        <if test="protocolUrl != null ">a.protocol_url = #{protocolUrl},</if>
        a.max_channel = #{maxChannel, jdbcType=INTEGER},
        a.hdd_size = #{hddSize, jdbcType=INTEGER},
        a.buffer_day = #{bufferDay, jdbcType=INTEGER},
        a.time_long = #{timeLong, jdbcType=INTEGER},
        a.unit = #{unit},
    </set>
            where a.record_id = #{recordId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select
        <include refid="Base_Column_List" />
        from t_camera_recorder a
        where  a.record_id = #{recordId, jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select
        <include refid="Base_Column_List" />
        from t_camera_recorder a
        where 1 = 1
        <if test="recordId != null and recordId != ''"> and a.record_id = #{recordId, jdbcType=BIGINT}</if>
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderModel != null "> and a.recorder_model = #{recorderModel, jdbcType=INTEGER}</if>
        <if test="recorderType != null and recorderType != ''"> and a.recorder_type = #{recorderType, jdbcType=VARCHAR}</if>
        <if test="vendorId != null"> and a.vendor_id = #{vendorId, jdbcType=INTEGER}</if>
        <if test="pmsId != null and pmsId != ''"> and a.pms_id = #{pmsId, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="recordIp != null and recordIp != ''"> and a.record_ip = #{recordIp, jdbcType=VARCHAR}</if>
        <if test="protocol != null and protocol != ''"> and a.protocol = #{protocol, jdbcType=VARCHAR}</if>
        <if test="httpPort != null "> and a.http_port = #{httpPort, jdbcType=INTEGER}</if>
        <if test="transPort != null "> and a.trans_port = #{transPort, jdbcType=INTEGER}</if>
        <if test="rtspPort != null "> and a.rtsp_port = #{rtspPort, jdbcType=INTEGER}</if>
        <if test="identityManager != null and identityManager != ''"> and a.identity_manager = #{identityManager, jdbcType=VARCHAR}</if>
        <if test="identityCode != null and identityCode != ''"> and a.identity_code = #{identityCode, jdbcType=VARCHAR}</if>
        <if test="protocolUrl != null and protocolUrl != ''"> and a.protocol_url = #{protocolUrl, jdbcType=VARCHAR}</if>
        <if test="maxChannel != null "> and a.max_channel = #{maxChannel, jdbcType=INTEGER}</if>
        <if test="hddSize != null "> and a.hdd_size = #{hddSize, jdbcType=INTEGER}</if>
        <if test="bufferDay != null "> and a.buffer_day = #{bufferDay, jdbcType=INTEGER}</if>
        <if test="timeLong != null "> and a.time_long = #{timeLong, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TCameraRecorder" resultType="com.yjh.platform.module.user.entity.TCameraRecorderByDict">
        select<include refid="TongYong"></include>
        from t_camera_recorder a
        left join t_dict_business b on b.dict_code = a.recorder_type and b.col_name = 'recorder_type'
        left join t_dict_business d on d.dict_code = a.protocol and d.col_name = 'protocol_type'
        left join t_dict_business e on e.dict_code = a.vendor_id and e.col_name = 'camera_vendor'
        left join t_dict_business f on f.dict_code = a.recorder_model and f.col_name = 'recorder_model'
        where 1 = 1
        <if test="recordName != null and recordName != ''"> and a.record_name LIKE concat('%',#{recordName, jdbcType=VARCHAR},'%')</if>
        <if test="recorderModel != -1 "> and a.recorder_model = #{recorderModel, jdbcType=INTEGER}</if>
        <if test="vendorId != -1 "> and a.vendor_id = #{vendorId, jdbcType=INTEGER}</if>
        <if test="recordType != -1 "> and a.recorder_type = #{recordType, jdbcType=INTEGER}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name like concat('%',#{aliasName, jdbcType=VARCHAR},'%')</if>
        <if test="unit != null and unit != ''">and a.unit like concat('%',#{unit, jdbcType=VARCHAR},'%')</if>
        ORDER BY record_id
    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="recordId" parameterType="java.util.List">
        insert into t_camera_recorder(
         record_name,recorder_model
        ,recorder_type,vendor_id,pms_id
        ,alias_name,record_ip,protocol
        ,http_port,trans_port,rtsp_port
        ,identity_manager,identity_code,protocol_url
        ,max_channel,hdd_size,buffer_day
        ,time_long,unit,edge_code,origin_id
        )values
        <foreach collection="list" item="tCameraRecorder" separator=",">
            (
            #{tCameraRecorder.recordName,jdbcType=VARCHAR},#{tCameraRecorder.recorderModel,jdbcType=INTEGER}
            ,#{tCameraRecorder.recorderType,jdbcType=VARCHAR},#{tCameraRecorder.vendorId,jdbcType=INTEGER},#{tCameraRecorder.pmsId,jdbcType=VARCHAR}
            ,#{tCameraRecorder.aliasName,jdbcType=VARCHAR},#{tCameraRecorder.recordIp,jdbcType=VARCHAR},#{tCameraRecorder.protocol,jdbcType=VARCHAR}
            ,#{tCameraRecorder.httpPort,jdbcType=INTEGER},#{tCameraRecorder.transPort,jdbcType=INTEGER},#{tCameraRecorder.rtspPort,jdbcType=INTEGER}
            ,#{tCameraRecorder.identityManager,jdbcType=VARCHAR},#{tCameraRecorder.identityCode,jdbcType=VARCHAR},#{tCameraRecorder.protocolUrl,jdbcType=VARCHAR}
            ,#{tCameraRecorder.maxChannel,jdbcType=INTEGER},#{tCameraRecorder.hddSize,jdbcType=INTEGER},#{tCameraRecorder.bufferDay,jdbcType=INTEGER}
            ,#{tCameraRecorder.timeLong,jdbcType=INTEGER},#{tCameraRecorder.unit,jdbcType=VARCHAR},#{tCameraRecorder.edgeCode,jdbcType=VARCHAR}
            ,#{tCameraRecorder.originId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <select id="selectIdAndName"  resultType="com.yjh.platform.module.user.entity.TCameraRecorderDetail">
        select
        a.record_id,
        a.record_name
        from t_camera_recorder a
    </select>
    <select id="selectRecorderIdByPmsId" resultType="java.lang.Long">
        select
        a.record_id
        from t_camera_recorder a
        where 1 = 1
        <if test="pmsId != null and pmsId != ''">and a.pms_id = #{pmsId,jdbcType = VARCHAR}</if>
    </select>

    <select id="selectHaveCamera" resultType="java.lang.Long">
        SELECT
            a.camera_id
        FROM
            t_camera_info a
            where a.record_id = #{recordId, jdbcType=BIGINT}
    </select>
    <select id="selectAllPMSId" resultType="java.lang.String">
        SELECT a.pms_id FROM t_camera_recorder a
    </select>
    <select id="selectPmsIdById" resultType="java.lang.String">
        SELECT a.pms_id FROM t_camera_recorder a where a.record_id = #{recordId, jdbcType=BIGINT}
    </select>
</mapper>
