<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TCfgMeteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TCfgMete">
        <id column="mete_id" jdbcType="VARCHAR" property="meteId" />
        <result column="mete_type" jdbcType="VARCHAR" property="meteType" />
        <result column="mete_kind" jdbcType="INTEGER" property="meteKind" />
        <result column="mete_name" jdbcType="VARCHAR" property="meteName" />
        <result column="mete_code" jdbcType="VARCHAR" property="meteCode" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="mete_explain_type" jdbcType="VARCHAR" property="meteExplainType" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="modulus" jdbcType="INTEGER" property="modulus" />
        <result column="station_name" jdbcType="VARCHAR" property="stationName" />
        <result column="station_id" jdbcType="VARCHAR" property="stationId" />
        <result column="up_effect" jdbcType="INTEGER" property="upEffect" />
        <result column="down_effect" jdbcType="INTEGER" property="downEffect" />
        <result column="alarmlevel" jdbcType="INTEGER" property="alarmlevel" />
        <result column="alarmthresbhold" jdbcType="INTEGER" property="alarmthresbhold" />
        <result column="describer" jdbcType="VARCHAR" property="describer" />
        <result column="mete_precision" jdbcType="INTEGER" property="metePrecision" />
        <result column="change_limit" jdbcType="REAL" property="changeLimit" />
        <result column="hilimit1" jdbcType="REAL" property="hilimit1" />
        <result column="lolimit1" jdbcType="REAL" property="lolimit1" />
        <result column="hilimit2" jdbcType="REAL" property="hilimit2" />
        <result column="lolimit2" jdbcType="REAL" property="lolimit2" />
        <result column="hilimit3" jdbcType="REAL" property="hilimit3" />
        <result column="lolimit3" jdbcType="REAL" property="lolimit3" />
        <result column="hilimit4" jdbcType="REAL" property="hilimit4" />
        <result column="stander" jdbcType="REAL" property="stander" />
        <result column="controlenable" jdbcType="INTEGER" property="controlenable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mete_id, mete_type, mete_kind, mete_name, mete_code, unit, mete_explain_type, create_time, update_time, modulus, station_name, station_id, up_effect, down_effect, alarmlevel, alarmthresbhold, describer, mete_precision, change_limit, hilimit1, lolimit1, hilimit2, lolimit2, hilimit3, lolimit3, hilimit4, stander, controlenable
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="meteId" parameterType="com.yjh.platform.module.device.entity.TCfgMete">
        insert into t_cfg_mete(
            mete_id,
            mete_type,
            mete_kind,
            mete_name,
            mete_code,
            unit,
            mete_explain_type,
            create_time,
            update_time,
            modulus,
            station_name,
            station_id,
            up_effect,
            down_effect,
            alarmlevel,
            alarmthresbhold,
            describer,
            mete_precision,
            change_limit,
            hilimit1,
            lolimit1,
            hilimit2,
            lolimit2,
            hilimit3,
            lolimit3,
            hilimit4,
            stander,
            controlenable
        )values(
                #{meteId, jdbcType=VARCHAR},
                #{meteType, jdbcType=VARCHAR},
                #{meteKind, jdbcType=INTEGER},
                #{meteName, jdbcType=VARCHAR},
                #{meteCode, jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{meteExplainType, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP},
                #{modulus, jdbcType=INTEGER},
                #{stationName, jdbcType=VARCHAR},
                #{stationId, jdbcType=VARCHAR},
                #{upEffect, jdbcType=INTEGER},
                #{downEffect, jdbcType=INTEGER},
                #{alarmlevel, jdbcType=INTEGER},
                #{alarmthresbhold, jdbcType=INTEGER},
                #{describer, jdbcType=VARCHAR},
                #{metePrecision, jdbcType=INTEGER},
                #{changeLimit, jdbcType=REAL},
                #{hilimit1, jdbcType=REAL},
                #{lolimit1, jdbcType=REAL},
                #{hilimit2, jdbcType=REAL},
                #{lolimit2, jdbcType=REAL},
                #{hilimit3, jdbcType=REAL},
                #{lolimit3, jdbcType=REAL},
                #{hilimit4, jdbcType=REAL},
                #{stander, jdbcType=REAL},
                #{controlenable, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cfg_mete
                where mete_id = #{meteId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TCfgMete">
        update t_cfg_mete a <set>
        <if test="meteId != null">a.mete_id = #{meteId},</if>
        <if test="meteType != null">a.mete_type = #{meteType},</if>
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteName != null ">a.mete_name = #{meteName},</if>
        <if test="meteCode != null ">a.mete_code = #{meteCode},</if>
        <if test="unit != null ">a.unit = #{unit},</if>
        <if test="meteExplainType != null ">a.mete_explain_type = #{meteExplainType},</if>
        <if test="createTime != null">a.create_time = #{createTime},</if>
        <if test="updateTime != null and">a.update_time = #{updateTime},</if>
        <if test="modulus != null ">a.modulus = #{modulus, jdbcType=INTEGER},</if>
        <if test="stationName != null">a.station_name = #{stationName},</if>
        <if test="stationId != null ">a.station_id = #{stationId},</if>
        <if test="upEffect != null ">a.up_effect = #{upEffect, jdbcType=INTEGER},</if>
        <if test="downEffect != null ">a.down_effect = #{downEffect, jdbcType=INTEGER},</if>
        <if test="alarmlevel != null ">a.alarmlevel = #{alarmlevel, jdbcType=INTEGER},</if>
        <if test="alarmthresbhold != null ">a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER},</if>
        <if test="describer != null">a.describer = #{describer},</if>
        <if test="metePrecision != null">a.mete_precision = #{metePrecision, jdbcType=INTEGER},</if>
        <if test="changeLimit != null">a.change_limit = #{changeLimit},</if>
        <if test="hilimit1 != null ">a.hilimit1 = #{hilimit1},</if>
        <if test="lolimit1 != null ">a.lolimit1 = #{lolimit1},</if>
        <if test="hilimit2 != null ">a.hilimit2 = #{hilimit2},</if>
        <if test="lolimit2 != null ">a.lolimit2 = #{lolimit2},</if>
        <if test="hilimit3 != null ">a.hilimit3 = #{hilimit3},</if>
        <if test="lolimit3 != null ">a.lolimit3 = #{lolimit3},</if>
        <if test="hilimit4 != null ">a.hilimit4 = #{hilimit4},</if>
        <if test="stander != null ">a.stander = #{stander},</if>
        <if test="controlenable != null ">a.controlenable = #{controlenable, jdbcType=INTEGER},</if>
    </set>
            where a.mete_id = #{meteId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.TCfgMete">
        select
        a.mete_id,
        a.mete_type,
        a.mete_kind,
        a.mete_name,
        a.mete_code,
        a.unit,
        a.mete_explain_type,
        a.create_time,
        a.update_time,
        a.modulus,
        a.station_name,
        a.station_id,
        a.up_effect,
        a.down_effect,
        a.alarmlevel,
        a.alarmthresbhold,
        a.describer,
        a.mete_precision,
        a.change_limit,
        a.hilimit1,
        a.lolimit1,
        a.hilimit2,
        a.lolimit2,
        a.hilimit3,
        a.lolimit3,
        a.hilimit4,
        a.stander,
        a.controlenable
        from t_cfg_mete a
        where 1 = 1
            and a.mete_id = #{meteId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TCfgMete" resultType="com.yjh.platform.module.device.entity.TCfgMete">
        select
        a.mete_id,
        a.mete_type,
        a.mete_kind,
        a.mete_name,
        a.mete_code,
        a.unit,
        a.mete_explain_type,
        a.create_time,
        a.update_time,
        a.modulus,
        a.station_name,
        a.station_id,
        a.up_effect,
        a.down_effect,
        a.alarmlevel,
        a.alarmthresbhold,
        a.describer,
        a.mete_precision,
        a.change_limit,
        a.hilimit1,
        a.lolimit1,
        a.hilimit2,
        a.lolimit2,
        a.hilimit3,
        a.lolimit3,
        a.hilimit4,
        a.stander,
        a.controlenable
        from t_cfg_mete a
        where 1 = 1
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=VARCHAR}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meteKind != null "> and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="meteCode != null and meteCode != ''"> and a.mete_code = #{meteCode, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="meteExplainType != null and meteExplainType != ''"> and a.mete_explain_type = #{meteExplainType, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        <if test="stationName != null and stationName != ''"> and a.station_name = #{stationName, jdbcType=VARCHAR}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="upEffect != null "> and a.up_effect = #{upEffect, jdbcType=INTEGER}</if>
        <if test="downEffect != null "> and a.down_effect = #{downEffect, jdbcType=INTEGER}</if>
        <if test="alarmlevel != null "> and a.alarmlevel = #{alarmlevel, jdbcType=INTEGER}</if>
        <if test="alarmthresbhold != null "> and a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER}</if>
        <if test="describer != null and describer != ''"> and a.describer = #{describer, jdbcType=VARCHAR}</if>
        <if test="metePrecision != null "> and a.mete_precision = #{metePrecision, jdbcType=INTEGER}</if>
        <if test="changeLimit != null and changeLimit != ''"> and a.change_limit = #{changeLimit, jdbcType=REAL}</if>
        <if test="hilimit1 != null and hilimit1 != ''"> and a.hilimit1 = #{hilimit1, jdbcType=REAL}</if>
        <if test="lolimit1 != null and lolimit1 != ''"> and a.lolimit1 = #{lolimit1, jdbcType=REAL}</if>
        <if test="hilimit2 != null and hilimit2 != ''"> and a.hilimit2 = #{hilimit2, jdbcType=REAL}</if>
        <if test="lolimit2 != null and lolimit2 != ''"> and a.lolimit2 = #{lolimit2, jdbcType=REAL}</if>
        <if test="hilimit3 != null and hilimit3 != ''"> and a.hilimit3 = #{hilimit3, jdbcType=REAL}</if>
        <if test="lolimit3 != null and lolimit3 != ''"> and a.lolimit3 = #{lolimit3, jdbcType=REAL}</if>
        <if test="hilimit4 != null and hilimit4 != ''"> and a.hilimit4 = #{hilimit4, jdbcType=REAL}</if>
        <if test="stander != null and stander != ''"> and a.stander = #{stander, jdbcType=REAL}</if>
        <if test="controlenable != null "> and a.controlenable = #{controlenable, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TCfgMete" resultType="com.yjh.platform.module.device.entity.TCfgMete">
        select
        a.mete_id,
        a.mete_type,
        a.mete_kind,
        a.mete_name,
        a.mete_code,
        a.unit,
        a.mete_explain_type,
        a.create_time,
        a.update_time,
        a.modulus,
        a.station_name,
        a.station_id,
        a.up_effect,
        a.down_effect,
        a.alarmlevel,
        a.alarmthresbhold,
        a.describer,
        a.mete_precision,
        a.change_limit,
        a.hilimit1,
        a.lolimit1,
        a.hilimit2,
        a.lolimit2,
        a.hilimit3,
        a.lolimit3,
        a.hilimit4,
        a.stander,
        a.controlenable
        from t_cfg_mete a
        where 1 = 1
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=VARCHAR}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meteKind != null "> and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="meteCode != null and meteCode != ''"> and a.mete_code = #{meteCode, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="meteExplainType != null and meteExplainType != ''"> and a.mete_explain_type = #{meteExplainType, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        <if test="stationName != null and stationName != ''"> and a.station_name = #{stationName, jdbcType=VARCHAR}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="upEffect != null "> and a.up_effect = #{upEffect, jdbcType=INTEGER}</if>
        <if test="downEffect != null "> and a.down_effect = #{downEffect, jdbcType=INTEGER}</if>
        <if test="alarmlevel != null "> and a.alarmlevel = #{alarmlevel, jdbcType=INTEGER}</if>
        <if test="alarmthresbhold != null "> and a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER}</if>
        <if test="describer != null and describer != ''"> and a.describer = #{describer, jdbcType=VARCHAR}</if>
        <if test="metePrecision != null "> and a.mete_precision = #{metePrecision, jdbcType=INTEGER}</if>
        <if test="changeLimit != null and changeLimit != ''"> and a.change_limit = #{changeLimit, jdbcType=REAL}</if>
        <if test="hilimit1 != null and hilimit1 != ''"> and a.hilimit1 = #{hilimit1, jdbcType=REAL}</if>
        <if test="lolimit1 != null and lolimit1 != ''"> and a.lolimit1 = #{lolimit1, jdbcType=REAL}</if>
        <if test="hilimit2 != null and hilimit2 != ''"> and a.hilimit2 = #{hilimit2, jdbcType=REAL}</if>
        <if test="lolimit2 != null and lolimit2 != ''"> and a.lolimit2 = #{lolimit2, jdbcType=REAL}</if>
        <if test="hilimit3 != null and hilimit3 != ''"> and a.hilimit3 = #{hilimit3, jdbcType=REAL}</if>
        <if test="lolimit3 != null and lolimit3 != ''"> and a.lolimit3 = #{lolimit3, jdbcType=REAL}</if>
        <if test="hilimit4 != null and hilimit4 != ''"> and a.hilimit4 = #{hilimit4, jdbcType=REAL}</if>
        <if test="stander != null and stander != ''"> and a.stander = #{stander, jdbcType=REAL}</if>
        <if test="controlenable != null "> and a.controlenable = #{controlenable, jdbcType=INTEGER}</if>
    </select>
    <select id="selectAllEdgeCode" resultType="java.lang.String">
        SELECT DISTINCT
            a.edge_code
        FROM
            `t_cfg_mete` a WHERE FIND_IN_SET(a.mete_id,#{inputParam, jdbcType=VARCHAR});
    </select>

    <insert id="batchInsert">
        insert into t_cfg_mete(
            mete_id,
            mete_type,
            mete_kind,
            mete_name,
            mete_code,
            unit,
            mete_explain_type,
            create_time,
            update_time,
            modulus,
            station_name,
            station_id,
            up_effect,
            down_effect,
            alarmlevel,
            alarmthresbhold,
            describer,
            mete_precision,
            change_limit,
            hilimit1,
            lolimit1,
            hilimit2,
            lolimit2,
            hilimit3,
            lolimit3,
            hilimit4,
            stander,
            controlenable
        )values
        <foreach collection="list" item="TCfgMete" separator=",">
            (
                #{TCfgMete.meteId, jdbcType=VARCHAR},
                #{TCfgMete.meteType, jdbcType=VARCHAR},
                #{TCfgMete.meteKind, jdbcType=INTEGER},
                #{TCfgMete.meteName, jdbcType=VARCHAR},
                #{TCfgMete.meteCode, jdbcType=VARCHAR},
                #{TCfgMete.unit, jdbcType=VARCHAR},
                #{TCfgMete.meteExplainType, jdbcType=VARCHAR},
                #{TCfgMete.createTime, jdbcType=TIMESTAMP},
                #{TCfgMete.updateTime, jdbcType=TIMESTAMP},
                #{TCfgMete.modulus, jdbcType=INTEGER},
                #{TCfgMete.stationName, jdbcType=VARCHAR},
                #{TCfgMete.stationId, jdbcType=VARCHAR},
                #{TCfgMete.upEffect, jdbcType=INTEGER},
                #{TCfgMete.downEffect, jdbcType=INTEGER},
                #{TCfgMete.alarmlevel, jdbcType=INTEGER},
                #{TCfgMete.alarmthresbhold, jdbcType=INTEGER},
                #{TCfgMete.describer, jdbcType=VARCHAR},
                #{TCfgMete.metePrecision, jdbcType=INTEGER},
                #{TCfgMete.changeLimit, jdbcType=REAL},
                #{TCfgMete.hilimit1, jdbcType=REAL},
                #{TCfgMete.lolimit1, jdbcType=REAL},
                #{TCfgMete.hilimit2, jdbcType=REAL},
                #{TCfgMete.lolimit2, jdbcType=REAL},
                #{TCfgMete.hilimit3, jdbcType=REAL},
                #{TCfgMete.lolimit3, jdbcType=REAL},
                #{TCfgMete.hilimit4, jdbcType=REAL},
                #{TCfgMete.stander, jdbcType=REAL},
                #{TCfgMete.controlenable, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <insert id="insertForAll" useGeneratedKeys="true" keyProperty="meteId" parameterType="com.yjh.platform.module.device.entity.SYAllInfo">
        insert into t_cfg_mete(
            mete_id,
            mete_type,
            mete_kind,
            mete_name,
            mete_code,
            unit,
            mete_explain_type,
            create_time,
            update_time,
            modulus,
            station_name,
            station_id,
            up_effect,
            down_effect,
            alarmlevel,
            alarmthresbhold,
            describer,
            mete_precision,
            change_limit,
            hilimit1,
            lolimit1,
            hilimit2,
            lolimit2,
            hilimit3,
            lolimit3,
            hilimit4,
            stander,
            controlenable
        )values(
                #{meteId, jdbcType=VARCHAR},
                #{meteType, jdbcType=VARCHAR},
                #{meteKind, jdbcType=INTEGER},
                #{meteName, jdbcType=VARCHAR},
                #{meteCode, jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{meteExplainType, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP},
                #{modulus, jdbcType=INTEGER},
                #{stationName, jdbcType=VARCHAR},
                #{stationId, jdbcType=VARCHAR},
                #{upEffect, jdbcType=INTEGER},
                #{downEffect, jdbcType=INTEGER},
                #{alarmlevel, jdbcType=INTEGER},
                #{alarmthresbhold, jdbcType=INTEGER},
                #{describer, jdbcType=VARCHAR},
                #{metePrecision, jdbcType=INTEGER},
                #{changeLimit, jdbcType=REAL},
                #{hilimit1, jdbcType=REAL},
                #{lolimit1, jdbcType=REAL},
                #{hilimit2, jdbcType=REAL},
                #{lolimit2, jdbcType=REAL},
                #{hilimit3, jdbcType=REAL},
                #{lolimit3, jdbcType=REAL},
                #{hilimit4, jdbcType=REAL},
                #{stander, jdbcType=REAL},
                #{controlenable, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateForAll" parameterType="com.yjh.platform.module.device.entity.SYAllInfo">
        update t_cfg_mete a <set>
        <if test="meteId != null ">a.mete_id = #{meteId},</if>
        <if test="meteType != null ">a.mete_type = #{meteType},</if>
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteName != null ">a.mete_name = #{meteName},</if>
        <if test="meteCode != null ">a.mete_code = #{meteCode},</if>
        <if test="unit != null and ">a.unit = #{unit},</if>
        <if test="meteExplainType != null">a.mete_explain_type = #{meteExplainType},</if>
        <if test="createTime != null">a.create_time = #{createTime},</if>
        <if test="updateTime != null">a.update_time = #{updateTime},</if>
        <if test="modulus != null ">a.modulus = #{modulus, jdbcType=INTEGER},</if>
        <if test="stationName != null ">a.station_name = #{stationName},</if>
        <if test="stationId != null ">a.station_id = #{stationId},</if>
        <if test="upEffect != null ">a.up_effect = #{upEffect, jdbcType=INTEGER},</if>
        <if test="downEffect != null ">a.down_effect = #{downEffect, jdbcType=INTEGER},</if>
        <if test="alarmlevel != null ">a.alarmlevel = #{alarmlevel, jdbcType=INTEGER},</if>
        <if test="alarmthresbhold != null ">a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER},</if>
        <if test="describer != null ">a.describer = #{describer},</if>
        <if test="metePrecision != null">a.mete_precision = #{metePrecision, jdbcType=INTEGER},</if>
        <if test="changeLimit != null ">a.change_limit = #{changeLimit},</if>
        <if test="hilimit1 != null ">a.hilimit1 = #{hilimit1},</if>
        <if test="lolimit1 != null ">a.lolimit1 = #{lolimit1},</if>
        <if test="hilimit2 != null ">a.hilimit2 = #{hilimit2},</if>
        <if test="lolimit2 != null ">a.lolimit2 = #{lolimit2},</if>
        <if test="hilimit3 != null ">a.hilimit3 = #{hilimit3},</if>
        <if test="lolimit3 != null ">a.lolimit3 = #{lolimit3},</if>
        <if test="hilimit4 != null ">a.hilimit4 = #{hilimit4},</if>
        <if test="stander != null ">a.stander = #{stander},</if>
        <if test="controlenable != null ">a.controlenable = #{controlenable, jdbcType=INTEGER},</if>
    </set>
        where a.mete_id = #{meteId, jdbcType=VARCHAR}
    </update>


</mapper>
