<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseDataResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseDataResult">
        <id column="cruise_data_id" jdbcType="BIGINT" property="cruiseDataId" />
        <result column="cruise_result_id" jdbcType="VARCHAR" property="cruiseResultId" />
        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />
        <result column="cruise_name" jdbcType="VARCHAR" property="cruiseName" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="result_desc" jdbcType="VARCHAR" property="resultDesc" />
        <result column="result_num" jdbcType="VARCHAR" property="resultNum" />
        <result column="modify_num" jdbcType="VARCHAR" property="modifyNum" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
        <result column="person_check" jdbcType="VARCHAR" property="personCheck" />
        <result column="origpic" jdbcType="VARCHAR" property="origpic" />
        <result column="cruise_abnormal" jdbcType="INTEGER" property="cruiseAbnormal" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="evaluation_state" jdbcType="INTEGER" property="evaluationState" />
        <result column="identify_state" jdbcType="INTEGER" property="identifyState" />
        <result column="identify_result" jdbcType="INTEGER" property="identifyResult" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="fir_name" jdbcType="VARCHAR" property="firName"/>
        <result column="fir_date" jdbcType="TIMESTAMP" property="firDate"/>
        <result column="result_pic" jdbcType="VARCHAR" property="resultPic"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cruise_data_id, cruise_result_id, cruise_id,cruise_name, cruise_type, result_desc, result_num, modify_num, picpath, person_check, origpic, cruise_abnormal,cruise_result, evaluation_state, identify_state, identify_result, createtime, remark,fir_name,fir_date,result_pic
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="cruiseDataId" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_name,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            pic_path_anl,
            picpath,
            person_check,
            orig_pic_anl,
            origpic,
            cruise_abnormal,
            cruise_result,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn
        )values(
                #{cruiseDataId, jdbcType=BIGINT},
                #{cruiseResultId, jdbcType=VARCHAR},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseName, jdbcType=VARCHAR},
                #{cruiseType, jdbcType=INTEGER},
                #{resultDesc, jdbcType=VARCHAR},
                #{resultNum, jdbcType=VARCHAR},
                #{modifyNum, jdbcType=VARCHAR},
                #{picPathAnl, jdbcType=VARCHAR},
                #{picpath, jdbcType=VARCHAR},
                #{personCheck, jdbcType=VARCHAR},
                #{origPicAnl, jdbcType=VARCHAR},
                #{origpic, jdbcType=VARCHAR},
                #{cruiseAbnormal, jdbcType=INTEGER},
                #{cruiseResult, jdbcType=INTEGER},
                #{evaluationState, jdbcType=INTEGER},
                #{identifyState, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{createtime, jdbcType=TIMESTAMP},
                #{remark, jdbcType=VARCHAR},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{isWarn, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_cruise_data_result
                where cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        update t_cruise_data_result a <set>
        <if test="cruiseDataId != null ">a.cruise_data_id = #{cruiseDataId},</if>
        a.cruise_result_id = #{cruiseResultId},
        <if test="cruiseId != null ">a.cruise_id = #{cruiseId},</if>
        <if test="cruiseName != null ">a.cruise_Name = #{cruiseName},</if>
        a.cruise_type = #{cruiseType, jdbcType=INTEGER},
        <if test="resultDesc != null ">a.result_desc = #{resultDesc},</if>
        <if test="resultNum != null ">a.result_num = #{resultNum},</if>
        <if test="modifyNum != null ">a.modify_num = #{modifyNum},</if>
        <if test="picPathAnl != null ">a.pic_path_anl = #{picPathAnl},</if>
        <if test="picpath != null ">a.picpath = #{picpath},</if>
        <if test="personCheck != null ">a.person_check = #{personCheck},</if>
        <if test="origPicAnl != null ">a.orig_pic_anl = #{origPicAnl},</if>
        <if test="origpic != null ">a.origpic = #{origpic},</if>
        a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},
        a.cruise_result = #{cruiseResult, jdbcType=INTEGER},
        a.evaluation_state = #{evaluationState, jdbcType=INTEGER},
        a.identify_state = #{identifyState, jdbcType=INTEGER},
        a.identify_result = #{identifyResult, jdbcType=INTEGER},
        a.createtime = #{createtime, jdbcType=TIMESTAMP},
        <if test="remark != null">a.remark = #{remark},</if>
        <if test="checkUser != null ">a.check_user = #{checkUser=},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP},
        a.remark = #{isWarn, jdbcType=INTEGER},
    </set>
            where a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_name,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.pic_path_anl,
        a.picpath,
        a.person_check,
        a.origpic,
        a.orig_pic_anl,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.fir_name,
        a.fir_date,
        a.result_pic
        from t_cruise_data_result a
        where 1 = 1
            and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult" resultMap="BaseResultMap">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_name,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.pic_path_anl,
        a.picpath,
        a.person_check,
        a.orig_pic_anl,
        a.origpic,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.cruise_result
        from t_cruise_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''">and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="cruiseResultId != null and cruiseResultId != ''">and a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">and a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseName != null and cruiseName != ''">and a.cruise_name = #{cruiseName, jdbcType=VARCHAR},</if>
        <if test="cruiseType != null">and a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">and a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">and a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">and a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picPathAnl != null and picPathAnl != ''">and a.pic_path_anl = #{picPathAnl, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">and a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">and a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origPicAnl != null and origPicAnl != ''">and a.orig_pic_anl = #{origPicAnl, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">and a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null">and a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="evaluationState != null">and a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null">and a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null">and a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        <if test="createtime != null and createtime != ''">and a.createtime = #{createtime, jdbcType=TIMESTAMP},</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="checkUser != null and checkUser != ''">and a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">and a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="isWarn != null ">and a.is_warn = #{isWarn, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null ">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>

    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult" resultType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_name,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.pic_path_anl,
        a.picpath,
        a.person_check,
        a.orig_pic_anl,
        a.origpic,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.cruise_result,
        a.fir_name,
        a.fir_date,
        a.result_pic
        from t_cruise_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''">and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="cruiseResultId != null and cruiseResultId != ''">and a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">and a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseName != null and cruiseName != ''">and a.cruise_name = #{cruiseName, jdbcType=VARCHAR},</if>
        <if test="cruiseType != null">and a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">and a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">and a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">and a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picPathAnl != null and picPathAnl != ''">and a.pic_path_anl = #{picPathAnl, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">and a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">and a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origPicAnl != null and origPicAnl != ''">and a.orig_pic_anl = #{origPicAnl, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">and a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null">and a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="evaluationState != null">and a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null">and a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null">and a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        <if test="createtime != null and createtime != ''">and a.createtime = #{createtime, jdbcType=TIMESTAMP},</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="checkUser != null and checkUser != ''">and a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">and a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="isWarn != null ">and a.is_warn = #{isWarn, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null ">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>
        <if test="firName !=null and firName !=''">and a.fir_name like concat('%',#{firName, jdbcType=VARCHAR},'%') </if>
        <if test="startTime != null  ">
            <if test="endTime != null ">and a.fir_date between #{startTime,jdbcType=TIMESTAMP} and
                #{endTime,jdbcType=TIMESTAMP}
            </if>
        </if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_name,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            pic_path_anl,
            picpath,
            person_check,
            orig_pic_anl,
            origpic,
            cruise_abnormal,
            cruise_result,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn
        )values
        <foreach collection="list" item="TCruiseDataResult" separator=",">
            (
                #{TCruiseDataResult.cruiseDataId, jdbcType=BIGINT},
                #{TCruiseDataResult.cruiseResultId, jdbcType=VARCHAR},
                #{TCruiseDataResult.cruiseId, jdbcType=BIGINT},
                #{TCruiseDataResult.cruiseName, jdbcType=VARCHAR},
                #{TCruiseDataResult.cruiseType, jdbcType=INTEGER},
                #{TCruiseDataResult.resultDesc, jdbcType=VARCHAR},
                #{TCruiseDataResult.resultNum, jdbcType=VARCHAR},
                #{TCruiseDataResult.modifyNum, jdbcType=VARCHAR},
                #{TCruiseDataResult.picPathAnl, jdbcType=VARCHAR},
                #{TCruiseDataResult.picpath, jdbcType=VARCHAR},
                #{TCruiseDataResult.personCheck, jdbcType=VARCHAR},
                #{TCruiseDataResult.origPicAnl, jdbcType=VARCHAR},
                #{TCruiseDataResult.origpic, jdbcType=VARCHAR},
                #{TCruiseDataResult.cruiseAbnormal, jdbcType=INTEGER},
                #{TCruiseDataResult.cruiseResult, jdbcType=INTEGER},
                #{TCruiseDataResult.evaluationState, jdbcType=INTEGER},
                #{TCruiseDataResult.identifyState, jdbcType=INTEGER},
                #{TCruiseDataResult.identifyResult, jdbcType=INTEGER},
                #{TCruiseDataResult.createtime, jdbcType=TIMESTAMP},
                #{TCruiseDataResult.remark, jdbcType=VARCHAR},
                #{TCruiseDataResult.checkUser, jdbcType=VARCHAR},
                #{TCruiseDataResult.checkDate, jdbcType=TIMESTAMP},
                #{TCruiseDataResult.isWarn, jdbcType=INTEGER}
            )
        </foreach>
    </insert>



    <select id="selectMeteCruiseByDeviceId" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalMeteInfo" >
     SELECT
            b.instance_id,
            d.cruise_result,
            f.dict_note AS cruiseResultName,
            b.end_time,
            d.picpath,
            d.identify_result,
            k.dict_note AS 'identifyResultName',
            (
                CASE
                WHEN ISNULL(e.mete_name)
                AND ISNULL(g.inspection_name)
                AND ISNULL(h.preset_name) THEN
                    ''
                WHEN ISNULL(e.mete_name)
                AND ISNULL(g.inspection_name) THEN
                    h.preset_name
                WHEN ISNULL(e.mete_name)
                AND ISNULL(h.preset_name) THEN
                    g.inspection_name
                WHEN ISNULL(g.inspection_name)
                AND ISNULL(h.preset_name) THEN
                    e.mete_name
                WHEN ISNULL(g.inspection_name) THEN
                    CONCAT(
                        e.mete_name,
                        ' /',
                        h.preset_name
                    )
                WHEN ISNULL(h.preset_name) THEN
                    CONCAT(
                        e.mete_name,
                        ' /',
                        g.inspection_name
                    )
                END
            ) AS cruise_name
        FROM
            t_cruise_point_instance a
        LEFT JOIN t_cruise_task_result_detail b ON a.instance_id = b.instance_id
        JOIN t_cruise_data_result d ON b.cruise_result_id = d.cruise_result_id
        LEFT JOIN t_dict_business f ON d.cruise_result = f.dict_code
        AND f.col_name = 'cruise_result'
        LEFT JOIN t_dict_business k ON d.identify_result = k.dict_code
        AND k.col_name = 'identify_result'
        LEFT JOIN t_std_devicemete e ON a.device_mete_id = e.device_mete_id
        LEFT JOIN t_robot_inspection g ON a.cruise_id = g.inspection_id
        LEFT JOIN t_camera_preset h ON a.cruise_id = h.preset_id
        LEFT JOIN t_cruise_task_result c ON b.task_result_id = c.task_result_id
        LEFT JOIN t_cruise_result m ON b.task_result_id = m.task_result_id
        LEFT JOIN t_dict_business n ON m.c_state = n.dict_code
        AND n.col_name = 'task_state'
        WHERE
          a.device_id = #{deviceId,jdbcType=BIGINT}
        AND a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}
        AND m.c_state != 239
        AND m.c_state != 241
        ORDER BY
            b.end_time DESC
        LIMIT 1
    </select>

    <select id="selectMeteCruiseByDeviceId2" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeMeteInfo" >
        SELECT
        e.cruise_data_id,
        a.device_id,
        e.cruise_result,
        f.dict_note as cruise_result_name,
        e.picpath,
        e.identify_result,
        k.dict_note AS identify_result_name,
        a.instance_name as cruise_name
        FROM
        t_cruise_task_result_detail a
        LEFT JOIN t_cruise_result j on j.task_result_id = j.task_result_id and j.c_state != 239 and j.c_state != 241
        LEFT JOIN t_cruise_data_result e ON e.cruise_result_id = a.cruise_result_id
        LEFT JOIN t_dict_business f ON e.cruise_result = f.dict_code AND f.col_name = 'cruise_result'
        LEFT JOIN t_dict_business k ON e.identify_result = k.dict_code AND k.col_name = 'identify_result'
        WHERE 1 = 1
        <if test="instanceId != null">and a.instance_id= #{instanceId,jdbcType=BIGINT}</if>
        ORDER BY
            a.cruise_time DESC
        LIMIT 1

    </select>
    <select id="selectMeteCruiseByDeviceId3" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeMeteInfo"  >
        SELECT
        b.instance_id,
        d.cruise_result,
        f.dict_note AS cruise_result_name,
        b.cruise_time,
        d.picpath,
        d.identify_result,
        k.dict_note AS identify_result_name,
        b.instance_name as cruise_name
        FROM
        t_cruise_point_instance a
        LEFT JOIN t_cruise_task_result_detail b ON a.instance_id = b.instance_id
        JOIN t_cruise_data_result d ON b.cruise_result_id = d.cruise_result_id
        LEFT JOIN t_dict_business f ON d.cruise_result = f.dict_code AND f.col_name = 'cruise_result'
        LEFT JOIN t_dict_business k ON d.identify_result = k.dict_code AND k.col_name = 'identify_result'
        LEFT JOIN t_std_devicemete e ON a.device_mete_id = e.device_mete_id
        LEFT JOIN t_cruise_task_result c ON b.task_result_id = c.task_result_id
        LEFT JOIN t_cruise_result m ON b.task_result_id = m.task_result_id
        LEFT JOIN t_dict_business n ON m.c_state = n.dict_code AND n.col_name = 'task_state'
        WHERE 1 = 1
        <if test="deviceId != null">and a.device_id= #{deviceId,jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null">and a.device_mete_id= #{deviceMeteId,jdbcType=BIGINT}</if>
        ORDER BY
        b.cruise_time DESC
        LIMIT 1
    </select>
    <select id="selectCruiseDataResultByList2" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeInfo">
        SELECT
            e.cruise_result_id,
            f.cruise_data_id,
            a.device_mete_id,
            e.cruise_time,
            b.cruise_type,
            h.dict_note as cruise_type_name,
            e.instance_name,
            g.c_type,
            i.dict_note AS c_type_name,
            f.person_check,
            f.result_num,
            f.identify_result,
            j.dict_note AS identify_result_name,
            f.cruise_result,
            z.dict_note as cruise_result_name,
            f.picpath as picPath,
            a.mete_type,
            m.dict_note as mete_type_name,
            a.meter_type,
            n.dict_note as meter_type_name
        FROM t_cruise_result g
        LEFT JOIN t_cruise_task_result_detail e ON e.task_result_id = g.task_result_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        LEFT JOIN t_cruise_point_instance b ON b.instance_id = e.instance_id
        LEFT JOIN t_std_devicemete a on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code AND h.col_name = "cruise_type"
        LEFT JOIN t_dict_business i ON g.c_type = i.dict_code AND i.col_name = "plan_type"
        LEFT JOIN t_dict_business j ON f.identify_result = j.dict_code AND j.col_name = "identify_result"
        LEFT JOIN t_dict_business z ON f.cruise_result=z.dict_code AND z.col_name="cruise_result"
        LEFT JOIN t_dict_business m ON m.dict_code = a.mete_type AND m.col_name="mete_type"
        LEFT JOIN t_dict_business n ON n.dict_code = a.meter_type AND n.col_name="meter_type"
        WHERE 1 = 1
        <if test="deviceMeteId != null">and a.device_mete_id= #{deviceMeteId,jdbcType=BIGINT}</if>
        <if test="startTime != null and startTime != '' " ><if test="endTime != null and endTime !=''">and e.cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if></if>
        <if test="cType != -1 ">and g.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cruiseType != -1 ">and b.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="meteType != -1 ">and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meterType != -1 ">and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        ORDER BY e.cruise_time DESC
    </select>
    <select id="selectCruiseDataReport" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeInfo">
        SELECT
        a.device_mete_id,
        e.cruise_time,
        b.cruise_type,
        h.dict_note as cruise_type_name,
        e.instance_name,
        g.c_type,
        i.dict_note AS c_type_name,
        f.result_num,
        f.identify_result,
        j.dict_note AS identify_result_name,
        f.cruise_result,
        z.dict_note as cruise_result_name,
        f.picpath as picPath,
        a.mete_type,
        m.dict_note as mete_type_name,
        a.meter_type,
        n.dict_note as meter_type_name
        FROM t_cruise_task_result_detail e
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        LEFT JOIN t_cruise_point_instance b ON b.instance_id = e.instance_id
        LEFT JOIN t_std_devicemete a on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_cruise_result g ON e.task_result_id = g.task_result_id
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code AND h.col_name = "cruise_type"
        LEFT JOIN t_dict_business i ON g.c_type = i.dict_code AND i.col_name = "plan_type"
        LEFT JOIN t_dict_business j ON f.identify_result = j.dict_code AND j.col_name = "identify_result"
        LEFT JOIN t_dict_business z ON f.cruise_result=z.dict_code AND z.col_name="cruise_result"
        LEFT JOIN t_dict_business m ON m.dict_code = a.mete_type AND m.col_name="mete_type"
        LEFT JOIN t_dict_business n ON n.dict_code = a.meter_type AND n.col_name="meter_type"
        WHERE 1 = 1
        <if test="list != null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="startTime != null and startTime != '' " ><if test="endTime != null and endTime !=''">and e.cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if></if>
        <if test="cType != -1 ">and g.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="meteType != -1 ">and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meterType != -1 ">and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        <if test="instanceName != null and instanceName != '' ">and e.instance_name LIKE CONCAT('%',#{instanceName, jdbcType=VARCHAR},'%')</if>
        ORDER BY e.cruise_time DESC
    </select>
    <select id="selectCruiseDataResultByList" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalInfo">
        SELECT
        e.end_time,
        g.c_type,
        i.dict_note AS cTypeName,
        b.cruise_type,
        h.dict_note AS cruiseTypeName,
        f.identify_result,
        j.dict_note AS identifyResultName,
        f.result_num,
        f.cruise_result,
        z.dict_note as 'cruiseResultName',
        f.picpath,
        (
        CASE
        WHEN ISNULL(a.mete_name)
        AND ISNULL(y.inspection_name)
        AND ISNULL(x.preset_name) THEN
        ''
        WHEN ISNULL(a.mete_name)
        AND ISNULL(y.inspection_name) THEN
        x.preset_name
        WHEN ISNULL(a.mete_name)
        AND ISNULL(x.preset_name) THEN
        y.inspection_name
        WHEN ISNULL(y.inspection_name)
        AND ISNULL(x.preset_name) THEN
        a.mete_name
        WHEN ISNULL(y.inspection_name) THEN
        CONCAT(
        a.mete_name,
        ' /',
        x.preset_name
        )
        WHEN ISNULL(x.preset_name) THEN
        CONCAT(
        a.mete_name,
        ' /',
        y.inspection_name
        )
        END
        ) AS cruise_name

        FROM
        t_std_devicemete a
        LEFT JOIN t_cruise_point_instance b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code
        AND h.col_name = "cruise_type"
        LEFT JOIN t_cruise_task_result_detail e ON b.instance_id = e.instance_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        LEFT JOIN t_dict_business j ON f.identify_result = j.dict_code
        AND j.col_name = "identify_result"
        LEFT JOIN t_cruise_result g ON e.task_result_id = g.task_result_id
        LEFT JOIN t_dict_business i ON g.c_type = i.dict_code
        AND i.col_name = "plan_type"
        LEFT JOIN t_camera_preset x ON b.cruise_id=x.preset_id
        LEFT JOIN t_robot_inspection y ON b.cruise_id=y.inspection_id
        LEFT JOIN t_dict_business z ON f.cruise_result=z.dict_code AND z.col_name="cruise_result"
        WHERE a.device_mete_id= #{deviceMeteId,jdbcType=BIGINT}

        <if test="startDate != null " ><if test="endDate != null">and e.end_time between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}</if></if>
        <if test="cType != -1 ">and g.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cruiseType != -1 ">and b.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        ORDER BY e.end_time DESC
    </select>


    <select id="selectBrokenLine"  resultType="com.yjh.platform.module.task.entity.BrokenLineInfo">
        SELECT
        e.cruise_time as end_time,
        f.result_num,
        b.cruise_type,
        h.dict_note as cruise_type_name,
        g.c_type,
        a.mete_name,
        i.dict_note as c_type_name,
        a.mete_type,
        m.dict_note as mete_type_name,
        a.meter_type,
        n.dict_note as meter_type_name,
        a.device_mete_id
        FROM
        t_cruise_result g
        LEFT JOIN t_cruise_task_result_detail e ON e.task_result_id = g.task_result_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        LEFT JOIN t_cruise_point_instance b ON b.instance_id = e.instance_id
        LEFT JOIN t_std_devicemete a ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code AND h.col_name = "cruise_type"
        LEFT JOIN t_dict_business i ON g.c_type = i.dict_code AND i.col_name = "plan_type"
        LEFT JOIN t_dict_business m ON m.dict_code = a.mete_type AND m.col_name="mete_type"
        LEFT JOIN t_dict_business n ON n.dict_code = a.meter_type AND n.col_name="meter_type"
        WHERE 1 = 1
        <if test="deviceMeteId != null " > and a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}</if>
        <if test="startTime != null and startTime != '' " ><if test="endTime != null and endTime != ''">and e.cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if></if>
        <if test="cruiseType != -1 " >and b.cruise_type=#{cruiseType,jdbcType=INTEGER}</if>
        <if test="cType != -1" >and g.c_type=#{cType,jdbcType=INTEGER}</if>
        <if test="meterType != -1" >and a.meter_type=#{meterType,jdbcType=INTEGER}</if>
        <if test="meteType != null and meteType != -1" >and a.mete_type=#{meteType,jdbcType=VARCHAR}</if>
        ORDER BY e.cruise_time ASC
    </select>

    <select id="selectDeviceMeteList" resultType="com.yjh.platform.module.task.entity.TStdDeviceMeteUpdate">
        SELECT *FROM
        (
            SELECT
            a.instance_id,
            b.device_mete_id,
            a.cruise_time as update_time,
            d.picpath,
            d.cruise_result,
            d.identify_result
            FROM
            t_cruise_task_result_detail a,t_cruise_point_instance b,t_cruise_data_result d
            WHERE 1 = 1
            and a.instance_id = b.instance_id
            and a.cruise_result_id = d.cruise_result_id
            <if test="list != null and list.size() > 0">and a.cruise_result_id IN
                <foreach collection="list" item="cruiseResultId" separator="," open="(" close=")" index="index">
                    #{cruiseResultId,jdbcType=VARCHAR}
                </foreach>
            </if>
            ORDER BY cruise_time DESC LIMIT 999999
        )as bigTable
        GROUP BY bigTable.device_mete_id
    </select>
    <select id="selectCruiseAnalyze" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TStdDeviceMeteUpdate">
        SELECT
            a.instance_id,
            b.device_mete_id,
            a.cruise_time as update_time,
            d.picpath,
            d.cruise_result,
            d.identify_result,
            a.cruise_status
        FROM
            t_cruise_task_result_detail a,t_cruise_point_instance b,t_cruise_data_result d
        WHERE
        a.instance_id = b.instance_id
        and a.cruise_result_id = d.cruise_result_id
        and a.cruise_result_id = #{cruiseResultId,jdbcType=VARCHAR}
    </select>
    <select id="selectAllDeviceMeteId" resultType="java.lang.Long">
        SELECT  a.device_mete_id FROM t_std_devicemete_update a;
    </select>
    <update id="updateDeviceMeteUpdate">
        update t_std_devicemete_update a <set>
        <if test="deviceMeteId != null ">a.device_mete_id = #{deviceMeteId},</if>
        <if test="updateTime != null">a.update_time = #{updateTime},</if>
        <if test="cruiseResult != null ">a.cruise_result = #{cruiseResult},</if>
        a.identify_result = #{identifyResult},
        <if test="picPath != null">a.pic_path = #{picPath},</if>
    </set>
        where a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </update>
    <insert id="insertDeviceMeteUpdate">
        insert into t_std_devicemete_update(
            device_mete_id,
            update_time,
            cruise_result,
            identify_result,
            pic_path
        )values(
                #{deviceMeteId, jdbcType=BIGINT},
                #{updateTime, jdbcType=TIMESTAMP},
                #{cruiseResult, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{picPath, jdbcType=VARCHAR}
        )
    </insert>
    <select id="test" resultType="java.lang.String">
        SELECT  a.cruise_result_id
        FROM t_cruise_task_result_detail a
        limit 57,10
    </select>


    <select id="selectResultImg" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        d.result_pic
        FROM
        t_cruise_task a LEFT JOIN t_cruise_task_result b ON a.task_id=b.task_id
        LEFT JOIN t_cruise_task_result_detail c ON b.task_result_id=c.task_result_id
        LEFT JOIN t_cruise_data_result d ON c.cruise_result_id=d.cruise_result_id
        WHERE a.task_id= #{taskId,jdbcType=VARCHAR}
    </select>

</mapper>
