<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="c_type" jdbcType="INTEGER" property="cType" />
        <result column="c_state" jdbcType="INTEGER" property="cState" />
        <result column="modify_state" jdbcType="INTEGER" property="modifyState" />
        <result column="task_count" jdbcType="INTEGER" property="taskCount" />
        <result column="task_wait" jdbcType="INTEGER" property="taskWait" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="weather" jdbcType="VARCHAR" property="weather" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="execute_time" jdbcType="TIMESTAMP" property="executeTime" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_result_id, task_id,task_name area_id, c_type, c_state, modify_state, task_count, task_wait, check_user, check_date, weather, create_time, execute_time, task_code, remark
    </sql>

    <sql id="TongYong">
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.c_type,
        d.dict_note as plan_type,
        a.c_state,
        e.dict_note as task_state,
        a.task_count,
        a.task_count-a.task_wait as cruise_data_state1,
        a.task_wait as cruise_data_state2,
        f.task_abnormal,
        a.execute_time,
        a.check_user,
        a.check_date,
        a.modify_state,
        a.task_wait,a.create_time,
        a.remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskResultId" parameterType="com.yjh.platform.module.task.entity.TCruiseResult">
        insert into t_cruise_result(
            task_result_id,
            task_id,
            task_name,
            area_id,
            c_type,
            c_state,
            modify_state,
            task_count,
            task_wait,
            check_user,
            check_date,
            weather,
            create_time,
            execute_time,
            task_code,
            remark
        )values(
                #{taskResultId, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR},
                 #{taskName, jdbcType=VARCHAR},
                #{areaId, jdbcType=VARCHAR},
                #{cType, jdbcType=INTEGER},
                #{cState, jdbcType=INTEGER},
                #{modifyState, jdbcType=INTEGER},
                #{taskCount, jdbcType=INTEGER},
                #{taskWait, jdbcType=INTEGER},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{weather, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{executeTime, jdbcType=TIMESTAMP},
                #{taskCode, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectUserName" parameterType="java.lang.Integer" resultType="java.lang.String">
        select user_name from sys_user where user_id = #{userID}
    </select>
    <update id="manualReview" parameterType="com.yjh.platform.module.task.entity.CruiseManualReview">
        update t_cruise_data_result set
        <if test="personCheck != null ">person_check = #{personCheck},</if>
        <if test="identifyResult != null ">identify_result = #{identifyResult,jdbcType=INTEGER},</if>
        evaluation_state = 256,
        <if test="checkUser != null ">check_user = #{checkUser},</if>
        <if test="checkDate != null ">check_date = #{checkDate,jdbcType=TIMESTAMP},</if>
        <if test="identifyState != null ">identify_state = #{identifyState,jdbcType=INTEGER}</if>
        where cruise_data_id = #{cruiseDataId,jdbcType =BIGINT }
    </update>

    <select id="selectJudgeCondition" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.AfterManualReviewInfo">
        select
            a.is_warn,
            b.instance_id,
            b.task_result_id,
            d.task_id,
            a.identify_result,
            a.person_check,
            a.picpath
        FROM
            t_cruise_data_result a,
            t_cruise_task_result_detail b,
            t_cruise_result d
        WHERE 1 = 1
        AND	a.cruise_result_id = b.cruise_result_id
        AND b.task_result_id = d.task_result_id
        <if test="cruiseDataId != null">and cruise_data_id = #{cruiseDataId,jdbcType = BIGINT}</if>
    </select>
    <select id="selectDeviceMeteInfo"  parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TStdDevicemete">
        select
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.mete_id,
        a.mete_kind,
        a.mete_type,
        a.mete_name,
        a.device_type,
        a.position_type,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.state_zero,
        a.state_one,
        a.alarm_state,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus,
        a.remark
        from t_cruise_point_instance b left join t_std_devicemete a
        on b.device_mete_id=a.device_mete_id
        where b.instance_id=#{instanceId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_result
                where task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseResult">
        update t_cruise_result a <set>
        <if test="taskResultId != null ">a.task_result_id = #{taskResultId},</if>
        <if test="taskId != null">a.task_id = #{taskId},</if>
        <if test="taskName != null">a.task_name = #{taskName},</if>
        <if test="areaId != null">a.area_id = #{areaId},</if>
        <if test="cType != null">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null ">a.check_user = #{checkUser},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP},
        <if test="weather != null">a.weather = #{weather},</if>
        a.create_time = #{createTime, jdbcType=TIMESTAMP},
        a.execute_time = #{executeTime, jdbcType=TIMESTAMP},
        <if test="taskCode != null ">a.task_code = #{taskCode},</if>
        <if test="remark != null ">a.remark = #{remark},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseResult" resultType="com.yjh.platform.module.task.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''">and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}</if>
        <if test="taskId != null and taskId != ''">and a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="taskName != null and taskName != ''">and a.task_name = #{taskName, jdbcType=VARCHAR},</if>
        <if test="areaId != null and areaId != ''">and a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null and cType != ''">and a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null and cState != ''">and a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null and modifyState != ''">and a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null and taskCount != ''">and a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null and taskWait != ''">and a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">and a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">and a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="weather != null and weather != ''">and a.weather = #{weather, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">and a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="executeTime != null and executeTime != ''">and a.execute_time = #{executeTime, jdbcType=TIMESTAMP},</if>
        <if test="taskCode != null and taskCode != ''">and a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectTaskByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseResultExpand" resultType="com.yjh.platform.module.task.entity.TCruiseResultExpand">
        select distinct <include refid="TongYong"></include>
        FROM t_cruise_result a
        LEFT JOIN t_dict_business d ON a.c_type = d.dict_code
        LEFT JOIN t_dict_business e ON a.c_state = e.dict_code
        LEFT JOIN t_cruise_task_result f ON a.task_result_id = f.task_result_id
        LEFT JOIN t_cruise_task_result_detail g ON f.task_result_id = g.task_result_id
        where 1 = 1
        <if test="taskName != null and taskName != ''">and a.task_name like concat('%',#{taskName, jdbcType=VARCHAR},'%') </if>
        <if test="cType != null and cType != -1">and a.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cState != null and cState != -1">and a.c_state = #{cState, jdbcType=INTEGER}</if>
        and a.c_state != 239 and a.c_state != 241 and e.col_name='task_state'
        GROUP BY task_result_id
        order by a.execute_time desc
    </select>

    <select id="selectCruiseByPage" parameterType="com.yjh.platform.module.task.entity.CruiseResultDetail" resultType="com.yjh.platform.module.task.entity.CruiseResultDetail">
        SELECT DISTINCT
        b.task_result_id,
        f.real_code,
        b.device_name,
        b.instance_name,
        g.cruise_type,
        h.dict_note as cruise_type_name,
        g.result_num,
        g.cruise_result,
        j.dict_note as cruise_result_name,
        b.cruise_time,
        g.cruise_abnormal,
        p.dict_note as abnormal_type,
        g.evaluation_state,
        i.dict_note as evaluation_state_name,
        g.check_user,
        g.check_date,
        g.picpath as pic_path,
        g.identify_result,
        w.dict_note as identify_result_name,
        g.identify_state,
        g.person_check,
        b.device_id,
        g.cruise_data_id,
        g.cruise_result_id,
        b.instance_id,
        e.device_mete_id,
        q.state_zero,
        q.state_one,
        q.high_limit1,
        q.high_limit2,
        q.high_limit3,
        q.high_limit4,
        q.low_limit1,
        q.low_limit2,
        q.low_limit3,
        q.low_limit4,
        q.mete_kind,
        m.dict_note as mete_kind_name,
        e.cruise_id as preset_id,
        k.camera_id,
        b.end_time,
        g.is_warn,
        q.alarm_state,
        q.alarm_level,
        s.dict_note as alarm_level_name,
        n.device_type
        FROM t_cruise_result a
        LEFT JOIN t_cruise_task_result_detail b on a.task_result_id = b.task_result_id
        LEFT JOIN t_cruise_point_instance e on b.instance_id = e.instance_id
        LEFT JOIN t_std_device n on n.device_id = b.device_id
        LEFT JOIN t_std_device_attr f on f.device_id = b.device_id
        LEFT JOIN t_cruise_data_result g on g.cruise_result_id = b.cruise_result_id
        LEFT JOIN t_dict_business h on h.dict_code = g.cruise_type and h.col_name = 'cruise_type'
        LEFT JOIN t_dict_business i on i.dict_code = g.evaluation_state and i.col_name = 'evaluation_state'
        LEFT JOIN t_dict_business j on j.dict_code = g.cruise_result and j.col_name = 'cruise_result'
        LEFT JOIN t_dict_business p ON p.dict_code = g.cruise_abnormal and p.col_name = 'abnormal_type'
        LEFT JOIN t_std_devicemete q on q.device_mete_id = e.device_mete_id
        LEFT JOIN t_dict_business m on q.mete_kind = m.dict_code and m.col_name ='mete_kind'
        LEFT JOIN t_camera_preset k on k.preset_id = e.cruise_id
        LEFT JOIN t_dict_business w on w.dict_code = g.identify_result and w.col_name ='identify_result'
        LEFT JOIN t_dict_business s on s.dict_code = q.alarm_level and s.col_name ='alarm_level'
        WHERE 1 = 1
        <if test="taskResultId != null and taskResultId != ''">and b.task_result_id = #{taskResultId,jdbcType=VARCHAR}</if>

        <if test="deviceType != null and deviceType != -1"> and n.device_type = #{deviceType, jdbcType=INTEGER}</if>

        <if test="cruiseType != null and cruiseType != -1"> and g.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>

        <if test="startTime != null and endTime != null"> and cruise_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>

        <if test="cruiseResult != null and cruiseResult != -1 "> and g.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>

        <if test="list != null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        ORDER BY b.device_id,n.custom_id,b.instance_id
    </select>

    <insert id="batchInsert">
        insert into t_cruise_result(
        task_result_id,
        task_id,
        task_name,
        area_id,
        c_type,
        c_state,
        modify_state,
        task_count,
        task_wait,
        check_user,
        check_date,
        weather,
        create_time,
        execute_time,
        task_code,
        remark
        )values
        <foreach collection="list" item="TCruiseResult" separator=",">
            (
            #{TCruiseResult.taskResultId, jdbcType=VARCHAR},
            #{TCruiseResult.taskId, jdbcType=VARCHAR},
            #{TCruiseResult.taskName, jdbcType=VARCHAR},
            #{TCruiseResult.areaId, jdbcType=VARCHAR},
            #{TCruiseResult.cType, jdbcType=INTEGER},
            #{TCruiseResult.cState, jdbcType=INTEGER},
            #{TCruiseResult.modifyState, jdbcType=INTEGER},
            #{TCruiseResult.taskCount, jdbcType=INTEGER},
            #{TCruiseResult.taskWait, jdbcType=INTEGER},
            #{TCruiseResult.checkUser, jdbcType=VARCHAR},
            #{TCruiseResult.checkDate, jdbcType=TIMESTAMP},
            #{TCruiseResult.weather, jdbcType=VARCHAR},
            #{TCruiseResult.createTime, jdbcType=TIMESTAMP},
            #{TCruiseResult.executeTime, jdbcType=TIMESTAMP},
            #{TCruiseResult.taskCode, jdbcType=VARCHAR},
            #{TCruiseResult.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectTaskIsRunning" resultType="com.yjh.platform.module.task.entity.TaskSimpleInfo">
         SELECT
        d.task_id,
        d.task_name,
        d.type,
        a.c_state as 'taskState',
        b.dict_note AS 'taskStateName',
        e.dict_note AS 'typeName'
        FROM
        t_cruise_task d
        LEFT JOIN t_dict_business e ON d.type=e.dict_code AND e.col_name='plan_type'
        JOIN t_cruise_result a ON a.task_id=d.task_id
        LEFT JOIN t_dict_business b ON a.c_state=b.dict_code AND b.col_name='task_state'

        WHERE a.c_state in(239,241)
        ORDER BY d.start_time DESC
</select>

    <select id="selectOnMonday" resultType="java.lang.String">
        SELECT SUBDATE(CURDATE(),DATE_FORMAT(CURDATE(),'%w')-1)
    </select>

    <select id="selectOnSunday" resultType="java.lang.String">
        SELECT SUBDATE(CURDATE(),DATE_FORMAT(CURDATE(),'%w')-7)
    </select>

    <select id="selectLastMonday" resultType="java.lang.String">
        SELECT SUBDATE(CURDATE(),DATE_FORMAT(CURDATE(),'%w')+6)
    </select>

    <select id="selectLastSunday" resultType="java.lang.String">
        SELECT SUBDATE(CURDATE(),DATE_FORMAT(CURDATE(),'%w'))
    </select>

    <!--巡视任务结果统计-->
    <select id="taskStatistical"  resultType="com.yjh.platform.module.task.entity.StatisticalTools">
    select
        dict_code ,
        dict_note ,
        (select COUNT(*)
            from t_cruise_result a,t_cruise_task_result b
            where a.task_result_id = b.task_result_id
            and c_type = dict_code
            and a.execute_time BETWEEN #{start} and #{end}
        ) AS "count"
    from t_dict_business
    where dict_code IN
        (
            select dict_code
            from t_dict_business
            where col_name = #{colName1}
        )
    ORDER BY dict_code
    </select>

    <!--巡视点结果统计-->
    <select id="cruiseStatistical" resultType="com.yjh.platform.module.task.entity.CruiseStatistical" >
    select
        dict_code as cruise_abnormal,
        dict_note as abnormal_type,
        (select COUNT(*)
            from t_cruise_data_result
            WHERE  cruise_abnormal = dict_code
        ) AS "count"
    from t_dict_business
    where dict_code IN
        (
            select dict_code
            from t_dict_business
            where col_name = 'abnormal_type'
        )
    ORDER BY dict_code
    </select>
    <select id="cruiseStatistical2" resultType="com.yjh.platform.module.task.entity.CruiseStatistical" >
       select
        dict_code as cruise_abnormal,
        dict_note as abnormal_type,
        (select COUNT(*)
            from t_cruise_data_result
            WHERE  cruise_abnormal = dict_code
        ) AS "count"
    from t_dict_business
    where dict_code IN
        (
            select dict_code
            from t_dict_business
            where col_name = 'cruise_result' and dict_code = 246
        )
    ORDER BY dict_code
    </select>

    <select id="cruiseStatisticalByStatus" resultType="com.yjh.platform.module.task.entity.StatisticalTools">
        SELECT
            *
        FROM
            (
                SELECT
                    a.cruise_result as dictCode,
			        b.dict_note,
                    COUNT(a.cruise_result != 247 OR NULL) AS 'count'
                FROM
                    t_cruise_data_result a
                LEFT JOIN t_dict_business b ON b.dict_code = a.cruise_result
                UNION ALL
                    (
                        SELECT
                            a.cruise_result as dictCode,
                            b.dict_note ,
                            COUNT(a.cruise_result = 247 OR NULL) AS 'count'
                        FROM
                            t_cruise_data_result a
                        LEFT JOIN t_dict_business b ON b.dict_code = a.cruise_result
                        WHERE
                            a.cruise_result = 247
                    )
            ) AS big_table;
    </select>
    <select id="cruiseStatisticalByAbnormal" resultType="com.yjh.platform.module.task.entity.CruiseStatistical">
        select
                dict_code as cruise_abnormal,
                dict_note as abnormal_type,
                (select COUNT(*)
                    from t_cruise_data_result
                    WHERE  cruise_abnormal = dict_code
                ) AS "count"
            from t_dict_business
            where dict_code IN
                (
                    select dict_code
                    from t_dict_business
                    where col_name = 'abnormal_type'
                )
            ORDER BY dict_code;

    </select>

    <select id="selectByIdentifyResult" parameterType="java.lang.Integer" resultType="java.lang.String">
        select dict_note from t_dict_business where dict_code = #{identifyResult,jdbcType=INTEGER}
    </select>
    <select id="selectByIdentifyState" parameterType="java.lang.Integer" resultType="java.lang.String">
        select dict_note from t_dict_business where dict_code = #{identifyState,jdbcType=INTEGER}
    </select>

    <select id="selectManualDetail" resultType="com.yjh.platform.module.task.entity.CruiseManualReview">
        SELECT
        a.task_id,
        d.cruise_data_id,
        d.evaluation_state,
        e.dict_note as evaluation_state_name,
        d.check_user,
        d.check_date
        FROM t_cruise_result a LEFT JOIN t_cruise_task_result_detail b on a.task_result_id = b.task_result_id
        LEFT JOIN t_cruise_data_result d ON b.cruise_result_id = d.cruise_result_id
        LEFT JOIN t_dict_business e on e.dict_code = d.evaluation_state
        WHERE 1 = 1
        <if test="taskResultId != null ">and a.task_result_id = #{taskResultId,jdbcType=VARCHAR}</if>

    </select>

    <update id="updateCheck">
        update t_cruise_result a <set>
        <if test="checkUserName != null">a.check_user = #{checkUserName},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP}
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <update id="updateWarnInfo">
        UPDATE t_warn_info a <set>
        <if test="warnName != null">a.warn_name = #{warnName},</if>
        <if test="warnLevel != null">a.warn_level = #{warnLevel, jdbcType=INTEGER},</if>
        <if test="warnContent != null ">a.warn_content = #{warnContent},</if>
         a.conf_mode = 275,
         a.deal_type = 286,
        <if test="outRange != null ">a.out_range = #{outRange},</if>
        <if test="dealPersonId != null ">a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR},</if>
        a.deal_time = #{dealTime, jdbcType=TIMESTAMP}
    </set>
        WHERE
        a.task_id = #{taskId, jdbcType=VARCHAR}
        and a.instance_id = #{instanceId,jdbcType = BIGINT}

    </update>
    <update id="updateWarnInfo2">
        UPDATE t_warn_info a <set>
        a.conf_mode = 275,
        a.deal_type = 287,
        a.deal_info = "程序异常，告警误报",
        <if test="dealPersonId != null ">a.deal_person_id = #{dealPersonId},</if>
        a.deal_time = #{dealTime, jdbcType=TIMESTAMP}
        </set>
        WHERE
        a.task_id = #{taskId, jdbcType=VARCHAR}
        and a.instance_id = #{instanceId,jdbcType = BIGINT}
    </update>
    <select id="selectWarnId" resultType="java.lang.Long">
        SELECT a.warn_id
        FROM
		    t_warn_info a
        WHERE
        a.task_id = #{taskId, jdbcType=VARCHAR}
        and a.instance_id = #{instanceId,jdbcType = BIGINT}
    </select>

    <select id="selectForTaskId" resultType="com.yjh.platform.module.task.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectAlgorithmType" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT a.analyse_type FROM t_std_devicemete a
	        WHERE a.device_mete_id = #{deviceMeteId, jdbcType = BIGINT}
    </select>

    <select id="cruiseInspectCount" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
            count(*)
        FROM
            t_std_devicemete
        WHERE
            device_mete_id IN (
                SELECT DISTINCT
                    b.device_mete_id
                FROM
                    t_cruise_task a
                LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
                WHERE
                    a.task_id = #{taskId,jdbcType=VARCHAR}
            )
        UNION ALL
            SELECT
                count(*)
            FROM
                t_camera_info
            WHERE
                camera_id IN (
                    SELECT DISTINCT
                        c.camera_id
                    FROM
                        t_cruise_task a
                    LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
                    LEFT JOIN t_camera_preset c ON b.point_task_id = c.preset_id
                    WHERE
                        a.task_id = #{taskId,jdbcType=VARCHAR}
                )
            UNION ALL
                SELECT
                    count(*)
                FROM
                    t_cruise_task a
                LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
                LEFT JOIN t_cruise_point_instance c ON b.instance_id = c.instance_id
                WHERE
                    a.task_id = #{taskId,jdbcType=VARCHAR}
                AND c.cruise_type = 228
            UNION ALL
			SELECT
				count(*)
			FROM
				t_cruise_task a
			LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
			WHERE
				a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

</mapper>
