<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TCruisePointInstanceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TCruisePointInstance">
        <id column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="station_id" jdbcType="VARCHAR" property="stationId" />
        <result column="station_name" jdbcType="VARCHAR" property="stationName" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="data_format" jdbcType="VARCHAR" property="dataFormat" />
        <result column="identify_type" jdbcType="INTEGER" property="identifyType" />
        <result column="identify_son_type" jdbcType="INTEGER" property="identifySonType" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />
        <result column="cruise_name" jdbcType="VARCHAR" property="cruiseName" />
        <result column="cruise_content" jdbcType="VARCHAR" property="cruiseContent" />
        <result column="position_type" jdbcType="VARCHAR" property="positionType" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="if_sy" jdbcType="INTEGER" property="ifSy" />
        <result column="sy_type" jdbcType="INTEGER" property="syType" />
        <result column="if_videotape" jdbcType="INTEGER" property="ifVideotape" />
        <result column="videotape_time" jdbcType="VARCHAR" property="videotapeTime" />
        <result column="text_desc" jdbcType="VARCHAR" property="textDesc" />
        <result column="sort" jdbcType="VARCHAR" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        instance_id, device_mete_id, station_id, station_name, device_id, custom_id, data_format, identify_type, identify_son_type, cruise_type, cruise_id, cruise_name, cruise_content, position_type, unit, if_sy, sy_type, if_videotape, videotape_time, text_desc, sort
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="instanceId" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        insert into t_cruise_point_instance(
            device_mete_id,
            station_id,
            station_name,
            device_id,
            custom_id,
            data_format,
            identify_type,
            identify_son_type,
            cruise_type,
            cruise_id,
            cruise_name,
            cruise_content,
            position_type,
            unit,
            if_sy,
            sy_type,
            if_videotape,
            videotape_time,
            text_desc,
            sort
        )values(
                #{deviceMeteId, jdbcType=BIGINT},
                #{stationId, jdbcType=VARCHAR},
                #{stationName, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{customId, jdbcType=VARCHAR},
                #{dataFormat, jdbcType=VARCHAR},
                #{identifyType, jdbcType=INTEGER},
                #{identifySonType, jdbcType=INTEGER},
                #{cruiseType, jdbcType=INTEGER},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseName, jdbcType=VARCHAR},
                #{cruiseContent, jdbcType=VARCHAR},
                #{positionType, jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{ifSy, jdbcType=INTEGER},
                #{syType, jdbcType=INTEGER},
                #{ifVideotape, jdbcType=INTEGER},
                #{videotapeTime, jdbcType=VARCHAR},
                #{textDesc, jdbcType=VARCHAR},
                #{sort, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        delete from t_cruise_point_instance
                where device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
                and cruise_type = #{cruiseType,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_cruise_point_instance
                where instance_id = #{instanceId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByDeviceMeteId" parameterType="java.lang.Long">
        delete from t_cruise_point_instance
                where device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByDeviceId" parameterType="java.lang.Long">
        delete from t_cruise_point_instance
                where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        update t_cruise_point_instance a <set>
        <if test="instanceId != null ">a.instance_id = #{instanceId},</if>
        a.device_mete_id = #{deviceMeteId},
        <if test="stationId != null">a.station_id = #{stationId},</if>
        <if test="stationName != null">a.station_name = #{stationName},</if>
        a.device_id = #{deviceId},
        a.custom_id = #{customId},
        <if test="dataFormat != null ">a.data_format = #{dataFormat},</if>
        a.identify_type = #{identifyType, jdbcType=INTEGER},
        a.identify_son_type = #{identifySonType, jdbcType=INTEGER},
        a.cruise_type = #{cruiseType, jdbcType=INTEGER},
        a.cruise_id = #{cruiseId},
        <if test="cruiseName != null ">a.cruise_name = #{cruiseName},</if>
        <if test="cruiseContent != null ">a.cruise_content = #{cruiseContent},</if>
        <if test="positionType != null ">a.position_type = #{positionType},</if>
        <if test="unit != null ">a.unit = #{unit},</if>
        a.if_sy = #{ifSy, jdbcType=INTEGER},
        a.sy_type = #{syType, jdbcType=INTEGER},
        a.if_videotape = #{ifVideotape, jdbcType=INTEGER},
        <if test="videotapeTime != null ">a.videotape_time = #{videotapeTime},</if>
        <if test="textDesc != null and textDesc != ''">a.text_desc = #{textDesc, jdbcType=VARCHAR},</if>
        <if test="sort != null and ">a.sort = #{sort},</if>
    </set>
        where a.instance_id = #{instanceId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort
        from t_cruise_point_instance a
        where 1 = 1
            and a.instance_id = #{instanceId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstance" resultType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort,
        b.device_name as deviceName,
        b.custom_name as customName,
        f.dict_note as cruiseTypeName
        from t_cruise_point_instance a,t_std_device b,t_dict_business f
        where 1 = 1 and a.device_id = b.device_id and a.custom_id= b.custom_id  and a.cruise_type = f.dict_code
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="stationName != null and stationName != ''"> and a.station_name = #{stationName, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="dataFormat != null and dataFormat != ''"> and a.data_format = #{dataFormat, jdbcType=VARCHAR}</if>
        <if test="identifyType != null "> and a.identify_type = #{identifyType, jdbcType=INTEGER}</if>
        <if test="identifySonType != null "> and a.identify_son_type = #{identifySonType, jdbcType=INTEGER}</if>
        <if test="cruiseType != null "> and a.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="cruiseId != null and cruiseId != ''"> and a.cruise_id = #{cruiseId, jdbcType=BIGINT}</if>
        <if test="cruiseName != null and cruiseName != ''"> and a.cruise_name like concat('%',#{cruiseName, jdbcType=VARCHAR},'%') </if>
        <if test="cruiseContent != null and cruiseContent != ''"> and a.cruise_content = #{cruiseContent, jdbcType=VARCHAR}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="ifSy != null "> and a.if_sy = #{ifSy, jdbcType=INTEGER}</if>
        <if test="syType != null "> and a.sy_type = #{syType, jdbcType=INTEGER}</if>
        <if test="ifVideotape != null "> and a.if_videotape = #{ifVideotape, jdbcType=INTEGER}</if>
        <if test="videotapeTime != null and videotapeTime != ''"> and a.videotape_time = #{videotapeTime, jdbcType=VARCHAR}</if>
        <if test="textDesc != null and textDesc != ''"> and a.text_desc = #{textDesc, jdbcType=VARCHAR}</if>
        <if test="sort != null and sort != ''"> and a.sort = #{sort, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectForCruiseByPage" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete" resultType="java.lang.Long">
    select a.device_mete_id
    from  t_std_devicemete a
    where 1=1
    <if test="meteName != null and meteName != ''">and a.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
    <if test="deviceId != null "> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
    <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectCruisePointByPage"  resultType="com.yjh.platform.module.device.entity.TStdDeviceMeteForPointDetail">
    SELECT
	a.*,
	b.cruise_type as cruiseType,
	b.cruise_id as cruiseId,
	c.dict_note as cruiseTypeName,
	d.device_name as deviceName,
	e.dict_note as customName
    FROM
	t_std_devicemete a
        LEFT JOIN t_cruise_point_instance b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business c ON b.cruise_type = c.dict_code
        left join t_std_device d on a.device_id = d.device_id and a.custom_id = d.custom_id
        left join t_dict_business e on a.custom_id = e.dict_code
	where 1=1
    and a.device_mete_id in
    <foreach collection="list" item="deviceMeteId"  separator="," open="(" close=")"  >
            #{deviceMeteId,jdbcType=BIGINT}
    </foreach>
    order by a.device_id,a.custom_id,device_mete_id desc
    </select>

    <select id="selectSYForCruiseByPage" parameterType="com.yjh.platform.module.device.entity.TCfgMeteForPointDetail" resultType="java.lang.String">
        select a.mete_id
        from  t_cfg_mete a
        where 1=1
        <if test="meteName != null and meteName != ''">and a.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%')</if>
        <if test="meteKind != null and meteKind != -1"> and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="meteCode != null and meteCode != ''"> and a.mete_code like concat('%',#{meteCode, jdbcType=VARCHAR},'%')</if>
    </select>
    <select id="selectSYCruisePointByPage" resultType="com.yjh.platform.module.device.entity.TCfgMeteForPointDetail">
        SELECT
        a.*,
        b.cruise_type as cruiseType,
        b.cruise_id as cruiseId,
        c.dict_note as cruiseTypeName,
        d.device_id as deviceId,
        d.device_name as deviceName,
        e.dict_note as meteKindName,
        j.mete_id as deviceMeteId
        FROM
        t_cfg_mete a
        LEFT JOIN t_cruise_point_instance b ON a.mete_id = b.device_mete_id
        left join t_dict_business e on e.dict_code = a.mete_kind
        LEFT JOIN t_dict_business c ON b.cruise_type = c.dict_code
        left join (select device_id,mete_id from t_cfg_teleadjust f
        union all (select device_id,mete_id from t_cfg_telecontrol g )
        union all (select device_id,mete_id from t_cfg_telemeter h )
        union all (select device_id,mete_id from t_cfg_telesignal i)) j on a.mete_id = j.mete_id
        left join t_cfg_device d on j.device_id = d.device_id
        where
        a.mete_id in
        <foreach collection="list" item="meteId"  separator="," open="(" close=")"  >
            #{meteId,jdbcType=VARCHAR}
        </foreach>
        order by a.mete_id
    </select>


    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstance" resultType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort,
        from t_cruise_point_instance a
        where 1 = 1
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="stationName != null and stationName != ''"> and a.station_name = #{stationName, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="dataFormat != null and dataFormat != ''"> and a.data_format = #{dataFormat, jdbcType=VARCHAR}</if>
        <if test="identifyType != null "> and a.identify_type = #{identifyType, jdbcType=INTEGER}</if>
        <if test="identifySonType != null "> and a.identify_son_type = #{identifySonType, jdbcType=INTEGER}</if>
        <if test="cruiseType != null "> and a.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="cruiseId != null and cruiseId != ''"> and a.cruise_id = #{cruiseId, jdbcType=BIGINT}</if>
        <if test="cruiseName != null and cruiseName != ''"> and a.cruise_name like concat('%',#{cruiseName, jdbcType=VARCHAR},'%') </if>
        <if test="cruiseContent != null and cruiseContent != ''"> and a.cruise_content = #{cruiseContent, jdbcType=VARCHAR}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="ifSy != null "> and a.if_sy = #{ifSy, jdbcType=INTEGER}</if>
        <if test="syType != null "> and a.sy_type = #{syType, jdbcType=INTEGER}</if>
        <if test="ifVideotape != null "> and a.if_videotape = #{ifVideotape, jdbcType=INTEGER}</if>
        <if test="videotapeTime != null and videotapeTime != ''"> and a.videotape_time = #{videotapeTime, jdbcType=VARCHAR}</if>
        <if test="textDesc != null and textDesc != ''"> and a.text_desc = #{textDesc, jdbcType=VARCHAR}</if>
        <if test="sort != null and sort != ''"> and a.sort = #{sort, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_point_instance(
        instance_id,
        device_mete_id,
        station_id,
        station_name,
        device_id,
        custom_id,
        data_format,
        identify_type,
        identify_son_type,
        cruise_type,
        cruise_id,
        cruise_name,
        cruise_content,
        position_type,
        unit,
        if_sy,
        sy_type,
        if_videotape,
        videotape_time,
        text_desc,
        sort
        )values
        <foreach collection="list" item="TCruisePointInstance" separator=",">
            (
            #{TCruisePointInstance.instanceId, jdbcType=BIGINT},
            #{TCruisePointInstance.deviceMeteId, jdbcType=BIGINT},
            #{TCruisePointInstance.stationId, jdbcType=VARCHAR},
            #{TCruisePointInstance.stationName, jdbcType=VARCHAR},
            #{TCruisePointInstance.deviceId, jdbcType=BIGINT},
            #{TCruisePointInstance.customId, jdbcType=VARCHAR},
            #{TCruisePointInstance.dataFormat, jdbcType=VARCHAR},
            #{TCruisePointInstance.identifyType, jdbcType=INTEGER},
            #{TCruisePointInstance.identifySonType, jdbcType=INTEGER},
            #{TCruisePointInstance.cruiseType, jdbcType=INTEGER},
            #{TCruisePointInstance.cruiseId, jdbcType=BIGINT},
            #{TCruisePointInstance.cruiseName, jdbcType=VARCHAR},
            #{TCruisePointInstance.cruiseContent, jdbcType=VARCHAR},
            #{TCruisePointInstance.positionType, jdbcType=VARCHAR},
            #{TCruisePointInstance.unit, jdbcType=VARCHAR},
            #{TCruisePointInstance.ifSy, jdbcType=INTEGER},
            #{TCruisePointInstance.syType, jdbcType=INTEGER},
            #{TCruisePointInstance.ifVideotape, jdbcType=INTEGER},
            #{TCruisePointInstance.videotapeTime, jdbcType=VARCHAR},
            #{TCruisePointInstance.textDesc, jdbcType=VARCHAR},
            #{TCruisePointInstance.sort, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="StdMeteUnionInspectionId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort
        from t_std_devicemete a
        LEFT JOIN t_robot_inspection b ON a.device_id = b.device_id
        where 1 = 1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectTSRegionForStation" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        *
        from
        t_std_region a
        where
        a.up_region_id = -1
    </select>

    <select id="selectTDBusinessForUnitName" parameterType="java.lang.String" resultType="com.yjh.platform.module.user.entity.TDictBusiness">
        select
        *
        from
        t_dict_business a
        where
        a.dict_code =  #{dictCode, jdbcType=VARCHAR}
    </select>

    <select id="selectCruiseCount" parameterType="java.lang.String" resultType="java.lang.Integer">
       SELECT
	    COUNT(*)
       FROM
	    t_cruise_point_instance a
      LEFT JOIN (
	   (
		  t_cruise_plan b
		  JOIN t_cruise_plan_attr c ON b.plan_id = c.plan_id
	   )
	  LEFT JOIN t_cruise_task d ON b.plan_id = d.plan_id
     ) ON a.instance_id = c.instance_id
     WHERE d.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectCruiseCountByType" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.CruiseCountOfType">
        SELECT
	      dict_code as"cruiseType",
	      dict_note as "cruiseTypeName",
	    (
		     SELECT
			    COUNT(*)
		     FROM
			    t_cruise_point_instance a
		     LEFT JOIN (
			   (
				   t_cruise_plan b
				   JOIN t_cruise_plan_attr c ON b.plan_id = c.plan_id
			   )
			 LEFT JOIN t_cruise_task d ON b.plan_id = d.plan_id
		   ) ON a.instance_id = c.instance_id
		    WHERE
			    a.cruise_type=dict_code
                AND d.task_id=#{taskId,jdbcType=VARCHAR}
	       ) AS "Count"
        FROM
	       t_dict_business
        WHERE
	dict_code IN(SELECT dict_code FROM t_dict_business WHERE col_name="cruise_type" ORDER BY dict_code)

    </select>


    <select id="selectCruiseCommonInfoByInstanceId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.CruiseTypeInfo">
        SELECT
	      a.cruise_type,
	      b.dict_note AS cruiseTypeName,
	      a.cruise_id
        FROM
	      t_cruise_point_instance a
        LEFT JOIN t_dict_business b ON a.cruise_type = b.dict_code
       AND b.col_name = "cruise_type"
       WHERE a.instance_id=#{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectForTask"  resultType="com.yjh.platform.module.device.entity.TCruisePointInstanceNameDetail">
        select a.*,
        (
        CASE
        WHEN ISNULL(b.mete_name)
        AND ISNULL(c.inspection_id)
        AND ISNULL(d.preset_name) THEN
        ''
        WHEN ISNULL(b.mete_name)
        AND ISNULL(c.inspection_name) THEN
        d.preset_name
        WHEN ISNULL(b.mete_name)
        AND ISNULL(d.preset_img) THEN
        c.inspection_name
        WHEN ISNULL(c.inspection_name)
        AND ISNULL(d.preset_name) THEN
        b.mete_name
        WHEN ISNULL(c.inspection_name) THEN
        CONCAT(
        b.mete_name,
        ' /',
        d.preset_name
        )
        WHEN ISNULL(d.preset_name) THEN
        CONCAT(
        b.mete_name,
        ' /',
        c.inspection_name
        )
        END
        ) AS instanceName,
        b.analyse_type,
        b.is_ai,
        f.device_name,
        g.real_code,
        c.robot_id,
        IFNULL(c.inspection_name,d.preset_name) as cruiseName
        FROM
        t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        left join (select distinct device_id,device_name from t_std_device) f on a.device_id = f.device_id
        left join t_std_device_attr g on f.device_id = g.device_id
        where a.instance_id in
        <foreach collection="list" open="(" close=")" separator="," item="instanceId">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
     </select>

    <select id="selectCruiseId" parameterType="com.yjh.platform.module.device.entity.TCruisePointInstanceDetail" resultType="java.lang.Long">
        select a.cruise_id
        from t_cruise_point_instance a
        where 1=1
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectInstanceId"  parameterType="com.yjh.platform.module.device.entity.TCruisePointInstanceDetail" resultType="java.lang.Long">
        select a.instance_id
        from t_cruise_point_instance a
        where 1=1
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        and a.cruise_id in
        <foreach collection="ids" item="cruiseId" separator="," open="(" close=")">
            #{cruiseId,jdbcType=BIGINT}
        </foreach>
    </select>

    <delete id="deleteByInstanceId" parameterType="java.lang.Long">
        delete from t_cruise_point_instance
                where instance_id in
        <foreach collection="list" item="instanceId" separator="," open="(" close=")">
            #{instanceId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="selectInstanceName" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
            (
                CASE
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_id)
                AND ISNULL(d.preset_name) THEN
                    ''
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_name) THEN
                    d.preset_name
                WHEN ISNULL(b.mete_name)
                AND ISNULL(d.preset_img) THEN
                    c.inspection_name
                WHEN ISNULL(c.inspection_name)
                AND ISNULL(d.preset_name) THEN
                    b.mete_name
                WHEN ISNULL(c.inspection_name) THEN
                    CONCAT(
                        b.mete_name,
                        ' /',
                        d.preset_name
                    )
                WHEN ISNULL(d.preset_name) THEN
                    CONCAT(
                        b.mete_name,
                        ' /',
                        c.inspection_name
                    )
                END
            ) AS cruiseName
        FROM
            t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        WHERE
            a.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectForPresetId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select b.camera_type
        from  t_camera_preset a
        left join t_camera_info b on a.camera_id = b.camera_id
        where a.preset_id = #{presetId,jdbcType=BIGINT}
    </select>

    <select id="batchSelectInstanceAttr"  resultType="com.yjh.platform.module.device.entity.TCruisePointInstanceAttr">
        select a.*, b.instance_name, b.attr_name, b.attr_value
        from t_cruise_point_instance a
        LEFT JOIN t_cruise_point_attr b ON a.instance_id = b.instance_id
        where a.instance_id in
        <foreach collection="list" open="(" close=")" separator="," item="instanceId">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectTimeIsIn" resultType="java.lang.Long">
        SELECT DISTINCT
        a.device_id
        FROM
        t_device_maintenance a
        WHERE
        a.maintenance_start &lt;= #{time,jdbcType=TIMESTAMP} AND a.maintenance_stop &gt;=#{time,jdbcType=TIMESTAMP}
    </select>
</mapper>