<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruisePlanDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruisePlan">
        <id column="plan_id" jdbcType="BIGINT" property="planId" />
        <result column="plan_name" jdbcType="VARCHAR" property="planName" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="plan_point_types" jdbcType="VARCHAR" property="planPointTypes" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        plan_id, plan_name, type, plan_point_types, create_time, update_time
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="planId" parameterType="com.yjh.platform.module.task.entity.TCruisePlan">
        insert into t_cruise_plan(
            plan_id,
            plan_name,
            type,
            plan_point_types
        )values(
                #{planId, jdbcType=BIGINT},
                #{planName, jdbcType=VARCHAR},
                #{type, jdbcType=INTEGER},
                #{planPointTypes, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_cruise_plan
                where plan_id = #{planId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruisePlan">
        update t_cruise_plan a <set>
        <if test="planId != null">a.plan_id = #{planId},</if>
        <if test="planName != null ">a.plan_name = #{planName},</if>
        a.type = #{type, jdbcType=INTEGER},
        <if test="planPointTypes != null">a.plan_point_types = #{planPointTypes},</if>
        <if test="createTime != null ">a.create_time = #{createTime},</if>
        <if test="updateTime != null ">a.update_time = #{updateTime},</if>
    </set>
            where a.plan_id = #{planId, jdbcType=BIGINT}
    </update>

    <update id="updateByMap" parameterType="java.util.Map">
        update t_cruise_plan a <set>
        <if test="map.planId != null">a.plan_id = #{map.planId},</if>
        <if test="map.planName != null ">a.plan_name = #{map.planName},</if>
        a.type = #{map.type, jdbcType=INTEGER},
        <if test="map.planPointTypes != null">a.plan_point_types = #{map.planPointTypes},</if>
        <if test="map.createTime != null ">a.create_time = #{map.createTime},</if>
        <if test="map.updateTime != null ">a.update_time = #{map.updateTime},</if>
    </set>
        where a.plan_id = #{map.planId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TCruisePlanCount">
        select
        a.plan_id,
        a.plan_name,
        a.type,
        b.dict_note AS plan_type_name,
        a.plan_point_types,
        a.create_time,
        a.update_time
        from t_cruise_plan a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        where 1 = 1
            and a.plan_id = #{planId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruisePlan" resultType="com.yjh.platform.module.task.entity.TCruisePlan">
        select
        a.plan_id,
        a.plan_name,
        a.type,
        a.plan_point_types,
        a.create_time,
        a.update_time
        from t_cruise_plan a
        where 1 = 1
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="planName != null and planName != ''"> and a.plan_name = #{planName, jdbcType=VARCHAR}</if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="planPointTypes != null and planPointTypes != ''"> and a.plan_point_types = #{planPointTypes, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruisePlan" resultType="com.yjh.platform.module.task.entity.TCruisePlanCount">
        select
        a.plan_id,
        a.plan_name,
        a.type,
        a.plan_point_types,
        (select count(*) from t_cruise_plan_attr b where b.plan_id = a.plan_id) as total,
        a.create_time,
        a.update_time
        from t_cruise_plan a
        where 1 = 1
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="planName != null and planName != ''"> and a.plan_name like concat('%',#{planName, jdbcType=VARCHAR},'%') </if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="planPointTypes != null and planPointTypes != ''"> and a.plan_point_types = #{planPointTypes, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
         order by a.create_time desc
    </select>

    <select id="selectByPlanPage" parameterType="com.yjh.platform.module.task.entity.TCruisePlan" resultType="com.yjh.platform.module.task.entity.TCruisePlanCountByPage">
        select
        a.plan_id,
        a.plan_name,
        a.type,
        b.dict_note AS type_name,
        a.plan_point_types,
        (select count(*) from t_cruise_plan_attr b where b.plan_id = a.plan_id) as total,
        a.create_time,
        a.update_time
        from t_cruise_plan a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        where 1 = 1
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="planName != null and planName != ''"> and a.plan_name like concat('%',#{planName, jdbcType=VARCHAR},'%') </if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="planPointTypes != null and planPointTypes != ''"> and a.plan_point_types = #{planPointTypes, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        order by a.create_time desc
    </select>

    <insert id="batchInsert">
        insert into t_cruise_plan(
            plan_id,
            plan_name,
            type,
            plan_point_types,
            create_time,
            update_time
        )values
        <foreach collection="list" item="TCruisePlan" separator=",">
            (
                #{TCruisePlan.planId, jdbcType=BIGINT},
                #{TCruisePlan.planName, jdbcType=VARCHAR},
                #{TCruisePlan.type, jdbcType=INTEGER},
                #{TCruisePlan.planPointTypes, jdbcType=VARCHAR},
                #{TCruisePlan.createTime, jdbcType=TIMESTAMP},
                #{TCruisePlan.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="findInstanceTree" resultType="com.yjh.platform.module.task.entity.InstanceTree">
        SELECT a.device_id, a.instance_id, a.device_mete_id, a.station_id, a.custom_id, a.station_name, a.cruise_id, a.cruise_name, b.device_name,k.dict_note AS custom_name,
          (CASE
            WHEN ISNULL(j.mete_name) AND ISNULL(d.inspection_name) AND ISNULL(f.preset_name) THEN ''
            WHEN ISNULL(j.mete_name) AND ISNULL(d.inspection_name) THEN f.preset_name
            WHEN ISNULL(j.mete_name) AND ISNULL(f.preset_name) THEN d.inspection_name
            WHEN ISNULL(d.inspection_name) AND ISNULL(f.preset_name) THEN j.mete_name
            WHEN ISNULL(d.inspection_name) THEN CONCAT(j.mete_name,'/',f.preset_name)
            WHEN ISNULL(f.preset_name) THEN CONCAT(j.mete_name,'/',d.inspection_name)
            END) AS instance_name,e.robot_name,
          g.camera_name,h.camera_name AS inferad_name,i.dict_note AS cruise_type_name,a.identify_type FROM t_cruise_point_instance a
                LEFT JOIN t_std_device b ON a.device_id = b.device_id AND a.custom_id = b.custom_id
                LEFT JOIN t_cruise_point_attr c ON a.instance_id = c.instance_id
                LEFT JOIN t_robot_inspection d ON d.inspection_id = a.cruise_id
                LEFT JOIN t_robot_info e ON d.robot_id = e.robot_id
                LEFT JOIN t_camera_preset f ON a.cruise_id = f.preset_id
                LEFT JOIN t_camera_info g ON f.preset_id = g.camera_name AND g.camera_type = 205
                LEFT JOIN t_camera_info h ON f.preset_id = h.camera_name AND h.camera_type = 206
                LEFT JOIN t_dict_business i ON i.dict_code = a.cruise_type AND i.col_name = "cruise_type"
                LEFT JOIN t_std_devicemete j ON j.device_mete_id = a.device_mete_id
                LEFT JOIN t_dict_business k ON k.dict_code = b.custom_id AND k.col_name = "custom_type"
        where 1 = 1 AND a.device_id IN
        <foreach collection="deviceIdList" item="deviceId" index="no" open="(" separator="," close=")">
            #{deviceId, jdbcType=BIGINT}
        </foreach> GROUP BY a.instance_id ORDER BY a.device_id, a.custom_id
    </select>

    <select id="selectCruiseType" resultType="com.yjh.platform.module.user.entity.TDictBusiness">
        select a.*
        from t_dict_business a
        where a.col_name = "plan_type"
    </select>

    <select id="selectCruiseTypeChild" resultType="com.yjh.platform.module.user.entity.TDictBusiness">
        SELECT  a.*
        FROM t_dict_business a
        left join t_dict_business b on b.dict_id = a.up_dict
        WHERE a.col_name = 'sub_plan_type'
        and a.up_dict = ( SELECT c.dict_id FROM t_dict_business c WHERE c.dict_code = #{dictCode,jdbcType=VARCHAR} )
    </select>

</mapper>
