<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseTaskResultDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        <id column="cruise_result_id" jdbcType="VARCHAR" property="cruiseResultId" />
        <result column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
        <result column="cruise_time" jdbcType="TIMESTAMP" property="cruiseTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="cruise_status" jdbcType="INTEGER" property="cruiseStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cruise_result_id, task_result_id, device_id, instance_id, cruise_time, end_time, cruise_status, remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="cruiseResultId" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        insert into t_cruise_task_result_detail(
            cruise_result_id,
            task_result_id,
            device_id,
            device_name,
            instance_id,
            instance_name,
            cruise_time,
            end_time,
            cruise_status,
            remark
        )values(
                #{cruiseResultId, jdbcType=VARCHAR},
                #{taskResultId, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{deviceName, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{instanceName, jdbcType=VARCHAR},
                #{cruiseTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP},
                #{cruiseStatus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_task_result_detail
                where cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        update t_cruise_task_result_detail a <set>
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="instanceName != null and instanceName != ''">a.instance_name = #{instanceName, jdbcType=VARCHAR},</if>
        a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP},
        a.end_time = #{endTime, jdbcType=TIMESTAMP},
        <if test="cruiseStatus != null">a.cruise_status = #{cruiseStatus, jdbcType=INTEGER},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
            where a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        select
        a.cruise_result_id,
        a.task_result_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instace_name,
        a.cruise_time,
        a.end_time,
        a.cruise_status,
        a.remark
        from t_cruise_task_result_detail a
        where 1 = 1
            and a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        select
        a.cruise_result_id,
        a.task_result_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instace_name,
        a.cruise_time,
        a.end_time,
        a.cruise_status,
        a.remark
        from t_cruise_task_result_detail a
        where 1 = 1
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="instanceName != null and instanceName != ''">a.instance_name = #{instanceName, jdbcType=VARCHAR},</if>
        <if test="cruiseTime != null and cruiseTime != ''">a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP},</if>
        <if test="endTime != null and endTime != ''">a.end_time = #{endTime, jdbcType=TIMESTAMP},</if>
        <if test="cruiseStatus != null">a.cruise_status = #{cruiseStatus, jdbcType=INTEGER},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResultDetail">
        select
        a.cruise_result_id,
        a.task_result_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instace_name,
        a.cruise_time,
        a.end_time,
        a.cruise_status,
        a.remark
        from t_cruise_task_result_detail a
        where 1 = 1
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="instanceName != null and instanceName != ''">a.instance_name = #{instanceName, jdbcType=VARCHAR},</if>
        <if test="cruiseTime != null and cruiseTime != ''">a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP},</if>
        <if test="endTime != null and endTime != ''">a.end_time = #{endTime, jdbcType=TIMESTAMP},</if>
        <if test="cruiseStatus != null">a.cruise_status = #{cruiseStatus, jdbcType=INTEGER},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_task_result_detail(
            cruise_result_id,
            task_result_id,
            a.device_id,
            a.device_name,
            a.instance_id,
            a.instace_name,
            cruise_time,
            end_time,
            cruise_status,
            remark
        )values
        <foreach collection="list" item="TCruiseTaskResultDetail" separator=",">
            (
                #{TCruiseTaskResultDetail.cruiseResultId, jdbcType=VARCHAR},
                #{TCruiseTaskResultDetail.taskResultId, jdbcType=VARCHAR},
                #{TCruiseTaskResultDetail.deviceId, jdbcType=BIGINT},
                #{TCruiseTaskResultDetail.deviceName, jdbcType=VARCHAR},
                #{TCruiseTaskResultDetail.instanceId, jdbcType=BIGINT},
                #{TCruiseTaskResultDetail.instanceName, jdbcType=BIGINT},
                #{TCruiseTaskResultDetail.cruiseTime, jdbcType=TIMESTAMP},
                #{TCruiseTaskResultDetail.endTime, jdbcType=TIMESTAMP},
                #{TCruiseTaskResultDetail.cruiseStatus, jdbcType=INTEGER},
                #{TCruiseTaskResultDetail.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectInstanceForTaskGoOn" resultType="java.lang.Long">
        select b.instance_id
        from t_cruise_result a
        left join t_cruise_task_result_detail b on a.task_result_id = b.task_result_id
        where a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>



</mapper>
