<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseTask">
        <id column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="plan_id" jdbcType="BIGINT" property="planId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="if_run" jdbcType="INTEGER" property="ifRun" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="date_type" jdbcType="VARCHAR" property="dateType" />
        <result column="task_type" jdbcType="INTEGER" property="taskType" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, task_name, plan_id, area_id, type, if_run, robot_id, date_type, task_type, start_time, create_time
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.yjh.platform.module.task.entity.TCruiseTask">
        insert into t_cruise_task(
            task_id,
            task_name,
            plan_id,
            area_id,
            type,
            if_run,
            robot_id,
            date_type,
            task_type,
            start_time,
            create_time
        )values(
                #{taskId, jdbcType=VARCHAR},
                #{taskName, jdbcType=VARCHAR},
                #{planId, jdbcType=BIGINT},
                #{areaId, jdbcType=VARCHAR},
                #{type, jdbcType=INTEGER},
                #{ifRun, jdbcType=INTEGER},
                #{robotId, jdbcType=BIGINT},
                #{dateType, jdbcType=VARCHAR},
                #{taskType, jdbcType=INTEGER},
                #{startTime, jdbcType=TIMESTAMP},
                #{createTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_task
                where task_id = #{taskId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseTask">
        update t_cruise_task a <set>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="taskName != null and taskName != ''">a.task_name = #{taskName, jdbcType=VARCHAR},</if>
        <if test="planId != null and planId != ''">a.plan_id = #{planId, jdbcType=BIGINT},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="type != null">a.type = #{type, jdbcType=INTEGER},</if>
        <if test="ifRun != null">a.if_run = #{ifRun, jdbcType=INTEGER},</if>
        <if test="robotId != null and robotId != ''">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="dateType != null and dateType != ''">a.date_type = #{dateType, jdbcType=VARCHAR},</if>
        <if test="taskType != null">a.task_type = #{taskType, jdbcType=INTEGER},</if>
        <if test="startTime != null and startTime != ''">a.start_time = #{startTime, jdbcType=TIMESTAMP},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
    </set>
            where a.task_id = #{taskId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseTask" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="ifRun != null"> and a.if_run = #{ifRun, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskType != null"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseTask" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="ifRun != null"> and a.if_run = #{ifRun, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskType != null"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_task(
            task_id,
            task_name,
            plan_id,
            area_id,
            type,
            if_run,
            robot_id,
            date_type,
            task_type,
            start_time,
            create_time
        )values
        <foreach collection="list" item="TCruiseTask" separator=",">
            (
                #{TCruiseTask.taskId, jdbcType=VARCHAR},
                #{TCruiseTask.taskName, jdbcType=VARCHAR},
                #{TCruiseTask.planId, jdbcType=BIGINT},
                #{TCruiseTask.areaId, jdbcType=VARCHAR},
                #{TCruiseTask.type, jdbcType=INTEGER},
                #{TCruiseTask.ifRun, jdbcType=INTEGER},
                #{TCruiseTask.robotId, jdbcType=BIGINT},
                #{TCruiseTask.dateType, jdbcType=VARCHAR},
                #{TCruiseTask.taskType, jdbcType=INTEGER},
                #{TCruiseTask.startTime, jdbcType=TIMESTAMP},
                #{TCruiseTask.createTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="taskCount" parameterType="java.util.Date" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select
            a.task_id,
            a.task_name,
            a.plan_id,
            a.area_id,
            d.remark AS task_status,
            d.c_state AS task_state,
        e.dict_note AS taskStateName,
            b.dict_note AS plan_type_name,
            a.if_run,
            c.dict_note AS type_name,
            (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
            a.robot_id,
            a.date_type,
            a.task_type,
            DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
            DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 173 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        UNION ALL (
          select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                d.remark AS task_status,
                d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 174 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        )
        UNION ALL (
            select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                d.remark AS task_status,
                d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 172
        );
    </select>

    <select id="selectPointStatus" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTaskList">
        SELECT a.task_id,a.task_name,b.*,c.device_name,c.custom_name,a.start_time,a.if_run,f.personcheck,f.identify_state FROM t_cruise_task a
        LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
        LEFT JOIN t_std_device c ON b.device_id = c.device_id AND b.custom_id = c.custom_id
        LEFT JOIN t_cruise_task_result d ON a.task_id = d.task_id
        LEFT JOIN t_cruise_task_result_detail e ON d.task_result_id = e.task_result_id AND e.instance_id = b.instance_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        WHERE a.task_id = #{taskId, jdbcType=VARCHAR}
    </select>


    <select id="taskCountByCondition" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select
            a.task_id,
            a.task_name,
            a.plan_id,
            a.area_id,
            d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
            b.dict_note AS plan_type_name,
            a.if_run,
            c.dict_note AS type_name,
            (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
            a.robot_id,
            a.date_type,
            a.task_type,
            DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
            DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 173
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="taskState != null and taskState != ''"> and d.c_state = #{taskState, jdbcType=VARCHAR}</if>
        UNION ALL (
          select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 174
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="taskState != null and taskState != ''"> and d.c_state = #{taskState, jdbcType=VARCHAR}</if>
        )
        UNION ALL (
            select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 172
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="taskState != null and taskState != ''"> and d.c_state = #{taskState, jdbcType=VARCHAR}</if>
        );
    </select>
    <select id="afterTaskCount" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 173
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 174
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        )
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        d.remark AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 172
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        );
    </select>
</mapper>
