<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseTaskResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="task_abnormal" jdbcType="INTEGER" property="taskAbnormal" />
        <result column="task_alarm" jdbcType="INTEGER" property="taskAlarm" />
        <result column="run_execute" jdbcType="VARCHAR" property="runExecute" />
        <result column="cruise_task_time" jdbcType="TIMESTAMP" property="cruiseTaskTime" />
        <result column="task_status" jdbcType="INTEGER" property="taskStatus" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_result_id, task_id, task_abnormal, task_alarm, run_execute, cruise_task_time, task_status, cruise_result, remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskResultId" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        insert into t_cruise_task_result(
            task_result_id,
            task_id,
            task_name,
            task_abnormal,
            task_alarm,
            run_execute,
            cruise_task_time,
            task_status,
            cruise_result,
            remark
        )values(
                #{taskResultId, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR},
                #{taskName, jdbcType=VARCHAR},
                #{taskAbnormal, jdbcType=INTEGER},
                #{taskAlarm, jdbcType=INTEGER},
                #{runExecute, jdbcType=VARCHAR},
                #{cruiseTaskTime, jdbcType=TIMESTAMP},
                #{taskStatus, jdbcType=INTEGER},
                #{cruiseResult, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_task_result
                where task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        update t_cruise_task_result a <set>
        <if test="taskResultId != null ">a.task_result_id = #{taskResultId},</if>
        <if test="taskId != null">a.task_id = #{taskId},</if>
        <if test="taskName != null ">a.task_name = #{taskName},</if>
        a.task_abnormal = #{taskAbnormal, jdbcType=INTEGER},
        a.task_alarm = #{taskAlarm, jdbcType=INTEGER},
        <if test="runExecute != null">a.run_execute = #{runExecute},</if>
        a.cruise_task_time = #{cruiseTaskTime, jdbcType=TIMESTAMP},
        a.task_status = #{taskStatus, jdbcType=INTEGER},
        a.cruise_result = #{cruiseResult, jdbcType=INTEGER},
        <if test="remark != null">a.remark = #{remark},</if>
    </set>
            where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.task_abnormal,
        a.task_alarm,
        a.run_execute,
        a.cruise_task_time,
        a.task_status,
        a.cruise_result,
        a.remark
        from t_cruise_task_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResult" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.task_abnormal,
        a.task_alarm,
        a.run_execute,
        a.cruise_task_time,
        a.task_status,
        a.cruise_result,
        a.remark
        from t_cruise_task_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''">and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}</if>
        <if test="taskId != null and taskId != ''">and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''">and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="taskAbnormal != null">and a.task_abnormal = #{taskAbnormal, jdbcType=INTEGER}</if>
        <if test="taskAlarm != null">and a.task_alarm = #{taskAlarm, jdbcType=INTEGER}</if>
        <if test="runExecute != null and runExecute != ''">and a.run_execute = #{runExecute, jdbcType=VARCHAR}</if>
        <if test="cruiseTaskTime != null and cruiseTaskTime != ''">and a.cruise_task_time = #{cruiseTaskTime, jdbcType=TIMESTAMP}</if>
        <if test="taskStatus != null">and a.task_status = #{taskStatus, jdbcType=INTEGER}</if>
        <if test="cruiseResult != null">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseTaskResult" resultType="com.yjh.platform.module.task.entity.TCruiseTaskResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.task_abnormal,
        a.task_alarm,
        a.run_execute,
        a.cruise_task_time,
        a.task_status,
        a.cruise_result,
        a.remark
        from t_cruise_task_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''">and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}</if>
        <if test="taskId != null and taskId != ''">and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''">and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="taskAbnormal != null">and a.task_abnormal = #{taskAbnormal, jdbcType=INTEGER}</if>
        <if test="taskAlarm != null">and a.task_alarm = #{taskAlarm, jdbcType=INTEGER}</if>
        <if test="runExecute != null and runExecute != ''">and a.run_execute = #{runExecute, jdbcType=VARCHAR}</if>
        <if test="cruiseTaskTime != null and cruiseTaskTime != ''">and a.cruise_task_time = #{cruiseTaskTime, jdbcType=TIMESTAMP}</if>
        <if test="taskStatus != null">and a.task_status = #{taskStatus, jdbcType=INTEGER}</if>
        <if test="cruiseResult != null">and a.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_task_result(
            task_result_id,
            task_id,
            task_name,
            task_abnormal,
            task_alarm,
            run_execute,
            cruise_task_time,
            task_status,
            cruise_result,
            remark
        )values
        <foreach collection="list" item="TCruiseTaskResult" separator=",">
            (
                #{TCruiseTaskResult.taskResultId, jdbcType=VARCHAR},
                #{TCruiseTaskResult.taskId, jdbcType=VARCHAR},
                #{TCruiseTaskResult.taskName, jdbcType=VARCHAR},
                #{TCruiseTaskResult.taskAbnormal, jdbcType=INTEGER},
                #{TCruiseTaskResult.taskAlarm, jdbcType=INTEGER},
                #{TCruiseTaskResult.runExecute, jdbcType=VARCHAR},
                #{TCruiseTaskResult.cruiseTaskTime, jdbcType=TIMESTAMP},
                #{TCruiseTaskResult.taskStatus, jdbcType=INTEGER},
                #{TCruiseTaskResult.cruiseResult, jdbcType=INTEGER},
                #{TCruiseTaskResult.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



    <select id="selectTaskStateByTaskId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TaskSimpleInfo">
        SELECT
            d.task_id,
            d.task_name,
            d.type,
            a.c_state as 'taskState',
            b.dict_note AS 'taskStateName',
            e.dict_note AS 'typeName'
            FROM
            t_cruise_task d
            LEFT JOIN t_dict_business e ON d.type=e.dict_code AND e.col_name='plan_type'
            JOIN t_cruise_result a ON a.task_id=d.task_id
            LEFT JOIN t_dict_business b ON a.c_state=b.dict_code AND b.col_name='task_state'

            WHERE d.task_id=#{taskId,jdbcType=VARCHAR}

    </select>

    <select id="selectCruiseCountsByTaskId" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
        COUNT(b.instance_id)
        FROM
        t_cruise_task a LEFT JOIN t_cruise_task_attr b ON a.task_id=b.task_id
        WHERE
            a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

</mapper>
