<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TCruiseNonhomologousPointInstanceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance">
        <id column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <!--<result column="station_id" jdbcType="VARCHAR" property="stationId" />-->
        <!--<result column="station_name" jdbcType="VARCHAR" property="stationName" />-->
        <result column="instance_id_one" jdbcType="BIGINT" property="instanceIdOne" />
        <result column="instance_id_two" jdbcType="BIGINT" property="instanceIdTwo" />
        <result column="one_cruise_device_name" jdbcType="VARCHAR" property="oneCruiseDeviceName" />
        <result column="two_cruise_device_name" jdbcType="VARCHAR" property="twoCruiseDeviceName" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="custom_id" jdbcType="BIGINT" property="customId" />
        <result column="custom_name" jdbcType="VARCHAR" property="customName" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="mete_name" jdbcType="VARCHAR" property="deviceMeteName" />
        <result column="identify_type" jdbcType="INTEGER" property="identifyType" />
        <result column="identify_son_type" jdbcType="INTEGER" property="identifySonType" />
        <result column="analyse_type" jdbcType="INTEGER" property="analyseType" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
<!--        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />-->
        <result column="cruise_name" jdbcType="VARCHAR" property="cruiseName" />
        <result column="warn_threshold" jdbcType="VARCHAR" property="warnThreshold" />
        <result column="warn_level" jdbcType="VARCHAR" property="warnLevel" />
        <result column="interval_type" jdbcType="INTEGER" property="intervalType" />
        <!--<result column="if_sy" jdbcType="INTEGER" property="ifSy" />-->
        <!--<result column="sy_type" jdbcType="INTEGER" property="syType" />-->
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="device_type_name" jdbcType="VARCHAR" property="deviceTypeName" />
        <result column="device_mete_name" jdbcType="VARCHAR" property="deviceMeteName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        instance_id, instance_id_one, instance_id_two, identify_type, identify_son_type, cruise_type, cruise_id, cruise_name, warn_threshold, warn_level, if_sy, sy_type
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="instanceId" parameterType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance">
        insert into t_cruise_nonhomologous_point_instance(
        instance_id_one,
        one_cruise_device_name,
        instance_id_two,
        two_cruise_device_name,
        device_mete_id,
        device_id,
        custom_id,
        identify_type,
        identify_son_type,
        cruise_type,
        cruise_name,
        warn_threshold,
        warn_level,
        interval_type
        )values(
        #{instanceIdOne},
        #{oneCruiseDeviceName},
        #{instanceIdTwo},
        #{twoCruiseDeviceName},
        #{deviceMeteId, jdbcType=BIGINT},
        #{deviceId, jdbcType=BIGINT},
        #{customId, jdbcType=BIGINT},
        #{identifyType, jdbcType=INTEGER},
        #{identifySonType, jdbcType=INTEGER},
        #{cruiseType, jdbcType=INTEGER},
        #{cruiseName, jdbcType=VARCHAR},
        #{warnThreshold, jdbcType=VARCHAR},
        #{warnLevel, jdbcType=INTEGER},
        #{intervalType, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_cruise_nonhomologous_point_instance
        where instance_id = #{instanceId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance">
        update t_cruise_nonhomologous_point_instance a <set>
        <if test="instanceIdOne != null">a.instance_id_one = #{instanceIdOne},</if>
        <if test="instanceIdTwo != null">a.instance_id_two = #{instanceIdTwo},</if>
        <if test="oneCruiseDeviceName != null">a.one_cruise_device_name = #{oneCruiseDeviceName},</if>
        <if test="twoCruiseDeviceName != null">a.two_cruise_device_name = #{twoCruiseDeviceName},</if>
        <if test="cruiseName != null">a.cruise_name = #{cruiseName},</if>
        <if test="deviceMeteId != null ">a.device_mete_id = #{deviceMeteId},</if>
        <if test="deviceId != null ">a.device_id = #{deviceId},</if>
        <if test="customId != null ">a.custom_id = #{customId},</if>
        <if test="identifyType != null ">a.identify_type = #{identifyType, jdbcType=INTEGER},</if>
        <if test="identifySonType != null ">a.identify_son_type = #{identifySonType, jdbcType=INTEGER},</if>
        <if test="cruiseType != null ">a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="warnThreshold != null ">a.warn_threshold = #{warnThreshold, jdbcType=VARCHAR},</if>
        <if test="warnLevel != null ">a.warn_level = #{warnLevel, jdbcType=INTEGER},</if>
        <if test="intervalType != null ">a.interval_type = #{intervalType, jdbcType=INTEGER},</if>
    </set>
        where a.instance_id = #{instanceId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance">
        select
        a.instance_id,
        a.station_id,
        a.station_name,
        a.instance_id_one,
        a.instance_id_two,
        b.cruise_name as oneCruiseDeviceName,
        c.cruise_name as twoCruiseDeviceName,
        d.device_mete_name,
        d.custom_id,
        f.device_id,
        d.mete_name,
        d.custom_name,
        f.device_name,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.warn_threshold,
        a.warn_level,
        a.interval_type,
        a.if_sy,
        a.sy_type
        from t_cruise_nonhomologous_point_instance a
        left join t_cruise_point_instance b on b.instance_id = a.instance_id_one
        left join t_cruise_point_instance c on c.instance_id = a.instance_id_two
        left join t_std_devicemete d on d.device_mete_id = a.device_mete_id
        left join t_std_device f on f.device_id = a.device_id
        where 1 = 1
        and a.instance_id = #{instanceId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance" resultType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance">
        select distinct
        a.instance_id,
        a.instance_id_one,
        a.instance_id_two,
        a.one_cruise_device_name as oneCruiseDeviceName,
        a.two_cruise_device_name as twoCruiseDeviceName,
        a.custom_id,
        a.device_id,
        b.dict_note as custom_name,
        e.device_name,
        c.mete_name as deviceMeteName,
        c.mete_type,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_name,
        a.warn_threshold,
        a.warn_level,
        a.interval_type,
        '' as instanceIdThree,
        '' as threeCruiseDeviceName,
        '' as triphase_type
        from t_cruise_nonhomologous_point_instance a
        left join t_std_devicemete c on a.device_mete_id = c.device_mete_id
        left join t_std_device e on  a.device_id = e.device_id
        left join t_dict_business b on c.custom_id = b.dict_code and b.col_name = 'custom_type'
        where 1 = 1
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="instanceIdOne != null and instanceIdOne != ''"> and a.instance_id_one = #{instanceIdOne}</if>
        <if test="instanceIdTwo != null and instanceIdTwo != ''"> and a.instance_id_two = #{instanceIdTwo}</if>
        <if test="identifyType != null "> and a.identify_type = #{identifyType, jdbcType=INTEGER}</if>
        <if test="identifySonType != null "> and a.identify_son_type = #{identifySonType, jdbcType=INTEGER}</if>
        <if test="cruiseType != null "> and a.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="deviceName != null and deviceName != ''"> and e.device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%')</if>
        <if test="deviceMeteName != null and deviceMeteName != ''"> and d.mete_name like concat('%',#{deviceMeteName, jdbcType=VARCHAR},'%') </if>
        <if test="cruiseName != null and cruiseName != ''"> and a.cruise_name like concat('%',#{cruiseName, jdbcType=VARCHAR},'%') </if>
        <if test="warnThreshold != null and warnThreshold != ''"> and a.warn_threshold = #{warnThreshold, jdbcType=VARCHAR}</if>
        <if test="warnLevel != null and warnLevel != ''"> and a.warn_level = #{warnLevel, jdbcType=VARCHAR}</if>
        union all (
        select
        a.triphase_id as instanceId,
        a.instance_one_id as instanceIdOne,
        a.instance_two_id as instanceIdTwo,
        a.one_cruise_device_name,
        a.two_cruise_device_name,
        a.custom_id as customId,
        a.device_id as deviceId,
        c.custom_name,
        b.device_name as deviceName,
        c.mete_name as deviceMeteName,
        c.mete_type,
        a.identify_type,
        a.identify_son_type,
        "8" as cruiseType,
        a.triphase_name as cruiseName,
        a.warn_threshold,
        a.warn_level,
        a.triphase_type,
        a.instance_tri_id as instanceIdThree,
        a.tri_cruise_device_name as threeCruiseDeviceName,
        a.triphase_type
        from t_cruise_triphase_rule a
        left join t_std_device b on a.device_id = b.device_id
        left join t_std_devicemete c on a.device_mete_id = c.device_mete_id
        where 1 = 1
        <if test="cruiseType != null and cruiseType != ''"> and a.triphase_id = -1 </if>
        <if test="cruiseName != null and cruiseName != ''"> and a.triphase_name = #{cruiseName, jdbcType=VARCHAR}</if>
        )
    </select>

    <select id="checkNonhomologousPointInstanceExist" parameterType="com.yjh.platform.module.device.entity.TCruiseNonhomologousPointInstance" resultType="java.lang.Integer">
        select count(m.instance_id) from
        t_cruise_nonhomologous_point_instance m
        where m.instance_id_one in (#{instanceIdOne},#{instanceIdTwo}) or m.instance_id_two in (#{instanceIdOne},#{instanceIdTwo})
    </select>

    <select id="selectCruiseDeviceByInstanceId" resultType="java.lang.String">
        select
        IFNULL(h.robot_name,j.camera_name) as name
        from t_cruise_point_instance a
        left join t_robot_inspection g on g.inspection_id = a.cruise_id
        left join t_robot_info h on h.robot_id = g.robot_id
        left join t_camera_preset i on i.preset_id = a.cruise_id
        left join t_camera_info j on j.camera_id = i.camera_id
        where a.instance_id = #{instanceId}
    </select>

    <select id="selectWarnByPage" parameterType="com.yjh.platform.module.device.entity.TCruiseNonhomologousWarnInfo" resultType="com.yjh.platform.module.device.entity.TCruiseNonhomologousWarnInfo">
        SELECT DISTINCT
        a.warn_id,
        a.instance_id,
        a.warn_content,
        a.warn_time,
        d.device_mete_id,
        d.custom_id,
        e.device_id,
        a.device_mete_name,
        d.custom_name,
        a.device_name,
        e.device_type,
        a.device_type_name,
        a.warn_type,
        a.warn_level,
        a.one_cruise_device_name,
        a.two_cruise_device_name,
        a.three_cruise_device_name AS threeCruiseDeviceName
        FROM
        t_cruise_nonhomologous_warn a
        LEFT JOIN t_std_devicemete d ON d.device_mete_id = a.device_mete_id
        LEFT JOIN t_std_device e ON e.device_id = d.device_id
        WHERE
        1 = 1
        <if test="instanceId != null and instanceId != ''">and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceType != null "> and e.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="deviceName != null and deviceName != ''">and e.device_name like concat(
            '%',#{deviceName, jdbcType=VARCHAR},'%')</if>
        <if test="deviceMeteName != null and deviceMeteName != ''">and d.mete_name like
            concat('%',#{deviceMeteName, jdbcType=VARCHAR},'%')
        </if>
        <if test="warnType != null and warnType != ''"> and a.warn_type = #{warnType, jdbcType=INTEGER}</if>
        <if test="startTime != null  ">
            <if test="endTime != null ">and a.warn_time between #{startTime,jdbcType=TIMESTAMP} and
                #{endTime,jdbcType=TIMESTAMP}
            </if>
        </if>
        ORDER BY a.warn_time DESC
    </select>

    <select id="selectWarnByPrimaryId" parameterType="java.lang.String" resultType="java.util.Map">
        select
        a.warn_id as warnId,
        a.instance_id as instanceId,
        a.warn_content as  warnContent,
        a.warn_time as warnTime,
        a.device_mete_name as deviceMeteTime,
        d.custom_id as customId,
        e.device_id as deviceId,
        d.device_mete_id as deviceMeteId,
        a.custom_name as customName,
        a.device_name as  deviceName,
        e.device_type as deviceType,
        a.device_type_name as deviceTypeName,
        a.region_name as delayName,
        f.region_id as delayId,
        a.warn_type as warnType,
        a.warn_level as warnLevel,
        a.one_cruise_device_name as oneCruiseDeviceName,
        a.two_cruise_device_name as twoCruiseDeviceName
        from t_cruise_nonhomologous_warn a
        left join t_cruise_nonhomologous_point_instance n on n.instance_id = a.instance_id
        left join t_cruise_point_instance b on b.instance_id = n.one_cruise_device_name
        left join t_cruise_point_instance c on c.instance_id = n.two_cruise_device_name
        left join t_std_devicemete d on d.device_mete_id = n.device_mete_id
        left join t_std_device e on d.device_id = e.device_id
        left join t_std_region f on e.up_region_id = f.region_id
        where 1 = 1
        <if test="warnId != null and warnId != ''"> and a.warn_id = #{warnId, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectWarnInspections" parameterType="java.lang.String" resultType="java.util.Map">
        select
        a.warn_id as warnId,
        a.task_id as taskId,
        a.inspection_id as instanceId
        from t_cruise_nonhomologous_warn_inspection a
        where a.warn_id = #{warnId, jdbcType=VARCHAR}
    </select>

    <select id="getSanxiangInfo" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT
            d.device_name,
            dm.mete_name,
            t.task_id,
               t.inspection_id,
            db.dict_note AS device_type_name,
            dm.custom_name,
                f.region_name

        FROM
            ( SELECT inspection_id, task_id FROM t_cruise_nonhomologous_warn_inspection WHERE warn_id = #{warnId,jdbcType=VARCHAR} ) t
                LEFT JOIN `t_cruise_point_instance` tcpi ON t.inspection_id = tcpi.instance_id
                LEFT JOIN t_std_device d ON tcpi.device_id = d.device_id
                left join t_std_region f on d.up_region_id = f.region_id
                LEFT JOIN t_std_devicemete dm ON tcpi.device_mete_id = dm.device_mete_id
                LEFT JOIN t_dict_business db ON d.device_type = db.dict_code
    </select>

    <select id="getCruiseDeviceInfo" resultType="java.lang.String">
        select robot_name as robotName
        FROM t_robot_info
        WHERE robot_id IN (
            SELECT robot_id
            FROM u_patrol_plan_attr
            WHERE plan_id IN (SELECT plan_id FROM u_patrol_task WHERE task_code = #{taskId})
              AND instance_id = #{inspectionId}) limit 1
    </select>


    <select id="getTCruiseNonhomologousWarnByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.TCruiseNonhomologousWarnDO">
        SELECT
            a.warn_id,
            a.instance_id,
            a.warn_type,
            a.warn_content,
            a.warn_time,
            a.one_cruise_device_name,
            a.two_cruise_device_name,
            a.three_cruise_device_name,
            a.device_name,
            a.device_type_name,
            a.device_mete_name,
            a.region_name,
            a.custom_name
        FROM
            t_cruise_nonhomologous_warn a
        WHERE
            warn_id = #{warnId}
    </select>

</mapper>