<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseTask">
        <id column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="plan_id" jdbcType="BIGINT" property="planId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="if_run" jdbcType="INTEGER" property="ifRun" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="date_type" jdbcType="VARCHAR" property="dateType" />
        <result column="task_type" jdbcType="INTEGER" property="taskType" />
        <result column="task_level" jdbcType="INTEGER" property="taskLevel" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id,task_code, task_name, plan_id, area_id, type, if_run, robot_id, date_type, task_type, start_time, create_time, task_level
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.yjh.platform.module.task.entity.TCruiseTask">
        insert into t_cruise_task(
            task_id,
            task_code,
            task_name,
            plan_id,
            area_id,
            type,
            if_run,
            robot_id,
            date_type,
            task_type,
            task_level,
            start_time,
            create_time
        )values(
                #{taskId, jdbcType=VARCHAR},
                #{taskCode, jdbcType=VARCHAR},
                #{taskName, jdbcType=VARCHAR},
                #{planId, jdbcType=BIGINT},
                #{areaId, jdbcType=VARCHAR},
                #{type, jdbcType=INTEGER},
                #{ifRun, jdbcType=INTEGER},
                #{robotId, jdbcType=BIGINT},
                #{dateType, jdbcType=VARCHAR},
                #{taskType, jdbcType=INTEGER},
                #{taskLevel, jdbcType=INTEGER},
                #{startTime, jdbcType=TIMESTAMP},
                #{createTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_task
                where task_id = #{taskId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseTask">
        update t_cruise_task a <set>
        <if test="taskId != null">a.task_id = #{taskId},</if>
        <if test="taskName != null">a.task_name = #{taskName},</if>
        <if test="planId != null">a.plan_id = #{planId},</if>
        <if test="areaId != null ">a.area_id = #{areaId},</if>
        <if test="type != null">a.type = #{type, jdbcType=INTEGER},</if>
        <if test="ifRun != null">a.if_run = #{ifRun, jdbcType=INTEGER},</if>
        <if test="robotId != null ">a.robot_id = #{robotId},</if>
        <if test="dateType != null ">a.date_type = #{dateType},</if>
        <if test="taskType != null">a.task_type = #{taskType, jdbcType=INTEGER},</if>
        <if test="taskLevel != null">a.task_level = #{taskLevel, jdbcType=INTEGER},</if>
        <if test="startTime != null ">a.start_time = #{startTime},</if>
        <if test="createTime != null ">a.create_time = #{createTime},</if>
    </set>
            where a.task_id = #{taskId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.task_level,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseTask" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.task_level,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="ifRun != null"> and a.if_run = #{ifRun, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskType != null"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="taskLevel != null">and a.task_level = #{taskLevel, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseTask" resultType="com.yjh.platform.module.task.entity.TCruiseTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.task_level,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
        <if test="ifRun != null"> and a.if_run = #{ifRun, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskType != null"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="taskLevel != null">and a.task_level = #{taskLevel, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_task(
            task_id,
        task_code,
            task_name,
            plan_id,
            area_id,
            type,
            if_run,
            robot_id,
            date_type,
            task_type,
            task_level,
            start_time,
            create_time
        )values
        <foreach collection="list" item="TCruiseTask" separator=",">
            (
                #{TCruiseTask.taskId, jdbcType=VARCHAR},
            #{TCruiseTask.taskCode, jdbcType=VARCHAR},
                #{TCruiseTask.taskName, jdbcType=VARCHAR},
                #{TCruiseTask.planId, jdbcType=BIGINT},
                #{TCruiseTask.areaId, jdbcType=VARCHAR},
                #{TCruiseTask.type, jdbcType=INTEGER},
                #{TCruiseTask.ifRun, jdbcType=INTEGER},
                #{TCruiseTask.robotId, jdbcType=BIGINT},
                #{TCruiseTask.dateType, jdbcType=VARCHAR},
                #{TCruiseTask.taskType, jdbcType=INTEGER},
                #{TCruiseTask.taskLevel, jdbcType=INTEGER},
                #{TCruiseTask.startTime, jdbcType=TIMESTAMP},
                #{TCruiseTask.createTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="taskCount" parameterType="java.util.Date" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select
            a.task_id,
            a.task_name,
            a.plan_id,
            a.area_id,
            (
        CASE
		WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
            d.c_state AS task_state,
        e.dict_note AS taskStateName,
            b.dict_note AS plan_type_name,
            a.if_run,
            c.dict_note AS type_name,
            (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
            a.robot_id,
            a.date_type,
            a.task_type,
            DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
            DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 173 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        UNION ALL (
          select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                (
        CASE
		WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
                d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 174 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        )
        UNION ALL (
            select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                (
        CASE
		WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
                d.c_state AS task_state,
        e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.if_run,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from t_cruise_task a
            LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
            LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
            LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
            where a.if_run = 172
        );
    </select>

    <select id="selectPointStatus" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTaskList">
        SELECT a.task_id,a.task_name,b.*,c.device_name,c.custom_name,a.start_time,a.if_run,f.personcheck,f.identify_state FROM t_cruise_task a
        LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
        LEFT JOIN t_std_device c ON b.device_id = c.device_id AND b.custom_id = c.custom_id
        LEFT JOIN t_cruise_task_result d ON a.task_id = d.task_id
        LEFT JOIN t_cruise_task_result_detail e ON d.task_result_id = e.task_result_id AND e.instance_id = b.instance_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        WHERE a.task_id = #{taskId, jdbcType=VARCHAR}
    </select>
    <select id="afterTaskCount" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
select *from (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 173
        <if test="startTime != null and endTime != null"> and a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} &lt;= #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 174
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        )
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.c_state=238 THEN -1
        WHEN d.c_state=239 THEN -1
        WHEN d.c_state=240 THEN 1
        WHEN d.c_state=241 THEN -1
        WHEN d.c_state=242 THEN 0
        WHEN d.c_state=243 THEN 0
        WHEN d.c_state=244 THEN 0
        WHEN ISNULL(d.c_state) THEN -1
        END
        ) AS task_status,
        d.c_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.if_run,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM t_cruise_task_attr c WHERE a.task_id = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(a.start_time ,'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.create_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from t_cruise_task a
        LEFT JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.if_run = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN t_cruise_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.c_state AND e.col_name = "task_state"
        where a.if_run = 172
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        ) ) h order by h.start_time desc;
    </select>

    <select id="selectCruiseInspectByTaskId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.CruiseInspectResult">
        SELECT
            c.device_id as'deviceId',
            c.instance_id as 'instanceId',
            c.cruise_type as 'cruiseType',
            d.dict_note as 'cruiseTypeName',
            c.unit
        FROM
            t_cruise_task a
        LEFT JOIN t_cruise_plan_attr b ON a.plan_id = b.plan_id
        LEFT JOIN t_cruise_point_instance c ON b.instance_id = c.instance_id
        LEFT JOIN t_dict_business d ON c.cruise_type=d.dict_code AND d.col_name='cruise_type'
        WHERE
            a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>
    <select id="selectCruiseInspectByTaskIdYC" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.CruiseInspectResult">
        SELECT
            n.device_id as'deviceId',
            m.device_name,
            n.instance_id as 'instanceId',
            n.cruise_type as 'cruiseType',
            n.unit,
            (
                CASE
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_id)
                AND ISNULL(d.preset_name) THEN
                    ''
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_name) THEN
                    d.preset_name
                WHEN ISNULL(b.mete_name)
                AND ISNULL(d.preset_img) THEN
                    c.inspection_name
                WHEN ISNULL(c.inspection_name)
                AND ISNULL(d.preset_name) THEN
                    b.mete_name
                WHEN ISNULL(c.inspection_name) THEN
                    CONCAT(
                        b.mete_name,
                        ' /',
                        d.preset_name
                    )
                WHEN ISNULL(d.preset_name) THEN
                    CONCAT(
                        b.mete_name,
                        ' /',
                        c.inspection_name
                    )
                END
            ) AS instanceName
        FROM
            t_cruise_task a
        LEFT JOIN t_cruise_plan_attr k ON a.plan_id = k.plan_id
        LEFT JOIN t_cruise_point_instance n ON k.instance_id = n.instance_id
        LEFT JOIN t_std_device m on m.device_id = n.device_id
        LEFT JOIN t_std_devicemete b ON n.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON n.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON n.cruise_id = d.preset_id
        WHERE
            a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectForSevenDay" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (
        SELECT
        curdate( ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 1 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 2 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 3 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 4 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 5 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 6 DAY ) AS timeNode
        ) a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_cruise_task
        WHERE
        DATEDIFF( now( ), start_time ) &lt;= 7
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="selectForMonth" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
         (SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL ac-1 DAY), '%Y-%m-%d') as timeNode
        FROM (
			SELECT @ai:=@ai+1 as ac from
			(SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) ac1,
			(SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6) ac2,
			(SELECT @ai:=0) xc0
        ) c )a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_cruise_task
        WHERE
        DATEDIFF( now( ), start_time ) &lt;= 31
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="selectForYear" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        select
        a.month as timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
         (        SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 6 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 7 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 8 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 9 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 10 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 11 MONTH), '%Y-%m') AS `month` )a
        LEFT JOIN
        (SELECT
          DATE_FORMAT(start_time,'%Y-%m') timeNode,
          count(task_id) as count
        FROM
          t_cruise_task
        GROUP BY
            DATE_FORMAT(start_time,'%Y-%m')) b
         on a.month = b.timeNode
         order by timeNode
    </select>

    <select id="selectOnMonth" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (select date_add(curdate(), interval(cast(help_topic_id as signed )
        - DATE_FORMAT( DATE_SUB( curdate( ), INTERVAL 1 DAY ), '%d' )) day) timeNode
        from mysql.help_topic
        where help_topic_id  &lt; day(last_day(curdate()))
        order by help_topic_id) a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_cruise_task
        WHERE
        DATEDIFF( now( ), start_time ) &lt;= 31
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="selectOnWeek" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (    SELECT @a :=@a + 1 as `index`, DATE(ADDDATE(CURRENT_DATE, INTERVAL @a DAY)) AS `timeNode`
        FROM mysql.help_topic,(SELECT @a := 0) temp
        WHERE @a &lt; 6 - WEEKDAY(CURRENT_DATE)
        UNION
        SELECT @s :=@s - 1 as `index`, DATE(DATE_SUB(CURRENT_DATE, INTERVAL @s DAY)) AS `timeNode`
        FROM mysql.help_topic,(SELECT @s := WEEKDAY(CURRENT_DATE) + 1) temp
        WHERE @s &gt; 0
        ORDER BY `timeNode`) a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_cruise_task
        WHERE
        DATEDIFF(now( ),start_time ) &lt;= 7
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="selectOnYear" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        select
            a.mon as timeNode,
            ifnull( b.count, 0 ) AS count
            FROM
             (SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-01') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-02') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-03') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-04') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-05') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-06') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-07') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-08') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-09') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-10') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-11') as mon from  DUAL UNION ALL
            SELECT CONCAT(DATE_FORMAT(NOW(),'%Y'),'-12') as mon from  DUAL )a
            LEFT JOIN
            (SELECT
              DATE_FORMAT(start_time,'%Y-%m') timeNode,
              count(task_id) as count
            FROM
              t_cruise_task
            GROUP BY
                DATE_FORMAT(start_time,'%Y-%m')) b
             on a.mon = b.timeNode
             order by timeNode
    </select>

    <select id="selectTaskOnExecute" resultType="com.yjh.platform.module.task.entity.TaskOnExecuteInfo">
        SELECT
            a.task_id,
            c.task_name,
            c.start_time,
            b.dict_note AS cruiseTypeName
        FROM
            t_cruise_result a, t_dict_business b,t_cruise_task c
        WHERE
            a.c_state = 239 or a.c_state = 241 and a.c_type = b.dict_code and a.task_id = c.task_id and isNull(robot_id)
            order by c.start_time desc limit 3
    </select>

    <select id="countInstance" resultType="java.lang.Integer">
        select
           count(1) as count
        FROM
            t_cruise_task_attr
        WHERE
            task_id = #{taskId,jdbcType = VARCHAR}
    </select>
</mapper>
