<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="c_type" jdbcType="INTEGER" property="cType" />
        <result column="c_state" jdbcType="INTEGER" property="cState" />
        <result column="modify_state" jdbcType="INTEGER" property="modifyState" />
        <result column="task_count" jdbcType="INTEGER" property="taskCount" />
        <result column="task_wait" jdbcType="INTEGER" property="taskWait" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="weather" jdbcType="VARCHAR" property="weather" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="execute_time" jdbcType="TIMESTAMP" property="executeTime" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_result_id, task_id, area_id, c_type, c_state, modify_state, task_count, task_wait, check_user, check_date, weather, create_time, execute_time, task_code, remark
    </sql>

    <sql id="TongYong">
        a.task_result_id,
        a.task_id,b.task_name,
		a.c_type,d.dict_note as plan_type,
        a.c_state,e.dict_note as task_state,
		a.task_count,a.execute_time,
		f.task_abnormal,
		a.check_user,a.check_date,a.modify_state,
		a.task_wait,a.weather,a.area_id,a.create_time,a.task_code,a.remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskResultId" parameterType="com.yjh.platform.module.task.entity.TCruiseResult">
        insert into t_cruise_result(
            task_result_id,
            task_id,
            area_id,
            c_type,
            c_state,
            modify_state,
            task_count,
            task_wait,
            check_user,
            check_date,
            weather,
            create_time,
            execute_time,
            task_code,
            remark
        )values(
                #{taskResultId, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR},
                #{areaId, jdbcType=VARCHAR},
                #{cType, jdbcType=INTEGER},
                #{cState, jdbcType=INTEGER},
                #{modifyState, jdbcType=INTEGER},
                #{taskCount, jdbcType=INTEGER},
                #{taskWait, jdbcType=INTEGER},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{weather, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{executeTime, jdbcType=TIMESTAMP},
                #{taskCode, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="manualReview" parameterType="com.yjh.platform.module.task.entity.CruiseManualReview">
        update t_cruise_data_result set
            personcheck = #{personcheck,jdbcType=VARCHAR},
            identify_result = #{identifyResult,jdbcType=INTEGER},
            evaluation_state = #{evaluationState,jdbcType=INTEGER}

        where cruise_data_id in
            (select cruise_data_id
                 from
                    (select cruise_data_id
                        FROM
                                t_cruise_result a,
                                t_cruise_task_result_detail d,
                                t_cruise_data_result e
                        where  a.task_id = #{taskId,jdbcType =INTEGER }
                        and d.instance_id = #{instanceId,jdbcType = INTEGER}
                        and a.task_result_id = d.task_result_id
                        and e.cruise_result_id = d.cruise_result_id) t1)

    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_result
                where task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseResult">
        update t_cruise_result a <set>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null and cType != ''">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null and cState != ''">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null and modifyState != ''">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null and taskCount != ''">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null and taskWait != ''">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP},
        <if test="weather != null and weather != ''">a.weather = #{weather, jdbcType=VARCHAR},</if>
        a.create_time = #{createTime, jdbcType=TIMESTAMP},
        a.execute_time = #{executeTime, jdbcType=TIMESTAMP},
        <if test="taskCode != null and taskCode != ''">a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseResult" resultType="com.yjh.platform.module.task.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null and cType != ''">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null and cState != ''">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null and modifyState != ''">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null and taskCount != ''">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null and taskWait != ''">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="weather != null and weather != ''">a.weather = #{weather, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="executeTime != null and executeTime != ''">a.execute_time = #{executeTime, jdbcType=TIMESTAMP},</if>
        <if test="taskCode != null and taskCode != ''">a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectTaskByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseResultExpand" resultType="com.yjh.platform.module.task.entity.TCruiseResultExpand">
        select distinct <include refid="TongYong"></include>
        from t_cruise_result a,
        t_cruise_task b,
        t_dict_business d,
        t_dict_business e,
        t_cruise_task_result f
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''">and a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">and a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="taskName != null and taskName != ''">and b.task_name like concat('%',#{taskName, jdbcType=VARCHAR},'%') </if>
        <if test="areaId != null and areaId != ''">and a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null and cType != ''">and a.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="planType != null and planType != ''">and d.dict_note = #{planType, jdbcType=VARCHAR}</if>
        <if test="cState != null and cState != ''">and a.c_state = #{cState, jdbcType=INTEGER}</if>
        <if test="taskState != null and taskState != ''">and e.dict_note = #{taskState, jdbcType=VARCHAR}</if>
        <if test="modifyState != null and modifyState != ''">and a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null and taskCount != ''">and a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null and taskWait != ''">and a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">and a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">and a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="weather != null and weather != ''">and a.weather = #{weather, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">and a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="executeTime != null and executeTime != ''">and a.execute_time = #{executeTime, jdbcType=TIMESTAMP},</if>
        <if test="taskCode != null and taskCode != ''">and a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">and a.remark = #{remark, jdbcType=VARCHAR}, </if>
        and a.task_id = b.task_id
        and a.c_type = d.dict_code
        and a.c_state  = e.dict_code
        and a.task_result_id = f.task_result_id
    </select>

    <select id="selectCruiseByPage" parameterType="com.yjh.platform.module.task.entity.CruiseResultDetail" resultType="com.yjh.platform.module.task.entity.CruiseResultDetail">
        select
        a.task_id,
        b.device_id,
        b.instance_id,
        e.real_code,
        d.device_name,
        f.instance_name,
        g.point_type,
        h.dict_note as cruise_type,
        g.result_num,
        g.state,
        j.dict_note as data_state,
        b.cruise_time,
        g.identify_state,
        k.dict_note as identify_state1
        from t_cruise_result a,
        t_cruise_task_result_detail b,
        t_std_device d,
        t_std_device_attr e,
        t_cruise_point_attr f,
        t_cruise_data_result g,
        t_dict_business h,
        t_dict_business j,
        t_dict_business k
        where a.task_id = #{taskId}
        and a.task_result_id = b.task_result_id
        and d.device_id = b.device_id
        and e.device_id = b.device_id
        and b.instance_id = f.instance_id
        and g.cruise_result_id = b.cruise_result_id
        and h.dict_code = g.point_type
        and j.dict_code = g.state
        and k.dict_code = g.identify_state
        <if test="deviceName != null and deviceName != ''"> and d.device_name like concat ('%',#{deviceName,jdbcType=VARCHAR},'%')</if>
        <if test="deviceId != null "> and d.device_id like concat ('%',#{deviceId,jdbcType=INTEGER},'%')</if>

        <if test="pointType != null "> and g.point_type = #{pointType, jdbcType=INTEGER}</if>
        <if test="cruiseType != null and cruiseType != ''"> and h.dict_note = #{cruiseType, jdbcType=VARCHAR}</if>

        <if test="state != null "> and g.state = #{state, jdbcType=INTEGER}</if>
        <if test="dataState != null and dataState != ''"> and j.dict_note = #{dataState, jdbcType=VARCHAR}</if>

    </select>

    <insert id="batchInsert">
        insert into t_cruise_result(
        task_result_id,
        task_id,
        area_id,
        c_type,
        c_state,
        modify_state,
        task_count,
        task_wait,
        check_user,
        check_date,
        weather,
        create_time,
        execute_time,
        task_code,
        remark
        )values
        <foreach collection="list" item="TCruiseResult" separator=",">
            (
            #{TCruiseResult.taskResultId, jdbcType=VARCHAR},
            #{TCruiseResult.taskId, jdbcType=VARCHAR},
            #{TCruiseResult.areaId, jdbcType=VARCHAR},
            #{TCruiseResult.cType, jdbcType=INTEGER},
            #{TCruiseResult.cState, jdbcType=INTEGER},
            #{TCruiseResult.modifyState, jdbcType=INTEGER},
            #{TCruiseResult.taskCount, jdbcType=INTEGER},
            #{TCruiseResult.taskWait, jdbcType=INTEGER},
            #{TCruiseResult.checkUser, jdbcType=VARCHAR},
            #{TCruiseResult.checkDate, jdbcType=TIMESTAMP},
            #{TCruiseResult.weather, jdbcType=VARCHAR},
            #{TCruiseResult.createTime, jdbcType=TIMESTAMP},
            #{TCruiseResult.executeTime, jdbcType=TIMESTAMP},
            #{TCruiseResult.taskCode, jdbcType=VARCHAR},
            #{TCruiseResult.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectTaskIsRunning" resultType="com.yjh.platform.module.task.entity.TaskSimpleInfo">
         SELECT
	       a.task_id,
	       a.task_name,
	       a.task_type,
	       a.type,
	       d.dict_note AS typeName,
	       c.dict_note AS taskTypeName
         FROM
	       (
		      (
			     t_cruise_task a
			     LEFT JOIN t_dict_business c ON a.task_type = c.dict_code
			     AND c.col_name = "task_type"
		      )
		     LEFT JOIN t_dict_business d ON a.type = d.dict_code
		     AND d.col_name = "plan_type"
	       )
          LEFT JOIN t_cruise_result b ON a.task_id = b.task_id
          WHERE
	      b.c_state = 0
</select>

    <!--本周巡视任务结果统计-->
    <select id="taskStatistical" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TaskStatistical">
        select
            count(if(c_type=213,true,null)) as planType1,
            count(if(c_type=214,true,null)) as planType2,
            count(if(c_type=215,true,null)) as planType3,
            count(if(c_type=216,true,null)) as planType4,
            count(if(c_type=217,true,null)) as planType5,
            count(if(c_type=218,true,null)) as planType6
        from t_cruise_result
        where create_time BETWEEN #{Start} and #{End}
    </select>

    <!--巡视点结果操作-->
    <select id="cruiseResultOperate" parameterType="com.yjh.platform.module.task.entity.CruiseResultDetail" resultType="com.yjh.platform.module.task.entity.CruiseResultDetail">
        select
        e.result_num,
        e.picpath,
        e.state,
        f.dict_note as data_state,
        a.task_id,
        d.device_id,
        g.real_code,
        h.device_name,
        d.instance_id,
        i.instance_name,
        e.point_type,
        j.dict_note as cruise_type,
        d.cruise_time,
        e.identify_state,
        k.dict_note as identify_state1
        from
        t_cruise_result a,
        t_cruise_task_result_detail d,
        t_cruise_data_result e,
        t_dict_business f,
        t_std_device_attr g,
        t_std_device h,
        t_cruise_point_attr i,
        t_dict_business j,
        t_dict_business k
        where 1 = 1
        <if test="taskId != null ">and a.task_id = #{taskId, jdbcType=INTEGER}</if>
        <if test="instanceId != null ">and d.instance_id = #{instanceId, jdbcType=INTEGER}</if>
        and a.task_result_id = d.task_result_id
        and d.cruise_result_id = e.cruise_result_id
        and f.dict_code = e.state
        and g.device_id = d.device_id
        and h.device_id = d.device_id
        and i.instance_id = d.instance_id
        and j.dict_code = e.point_type
        and k.dict_code = e.identify_state

    </select>

    <!--本周巡视点结果统计-->
    <select id="cruiseStatistical" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.CruiseStatistical">
        select
            count(if(state=245,true,null)) as dataState1,
            count(if(state=246,true,null)) as dataState2,
            count(if(state=247,true,null)) as dataState3,
            count(if(state=248,true,null)) as dataState4,
            count(if(state=249,true,null)) as dataState5,
            count(if(state=250,true,null)) as dataState6,
            count(if(state=251,true,null)) as dataState7
        from t_cruise_data_result
        where createtime BETWEEN #{Start} and #{End}
    </select>
</mapper>
