<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseTypeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseType">
        <id column="sub_type" jdbcType="INTEGER" property="subType" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sub_type, instance_id, remark
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="subType" parameterType="com.yjh.platform.module.task.entity.TCruiseType">
        insert into t_cruise_type(
            sub_type,
            instance_id
        )values(
                #{subType, jdbcType=INTEGER},
                #{instanceId, jdbcType=BIGINT}
        )
    </insert>

    <delete id="deleteByPrimaryId" >
        delete from t_cruise_type
                where sub_type = #{subType, jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseType">
        update t_cruise_type a <set>
        <if test="subType != null">a.sub_type = #{subType, jdbcType=INTEGER},</if>
        <if test="instanceId != null ">a.instance_id = #{instanceId},</if>
        <if test="remark != null ">a.remark = #{remark},</if>
    </set>
            where a.sub_type = #{subType, jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        a.sub_type,
        a.instance_id
        from t_cruise_type a
        where 1 = 1 and a.remark = 1
            and a.sub_type = #{subType, jdbcType=INTEGER}
    </select>

    <select id="select"  resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        a.sub_type,
        a.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
        FROM t_cruise_type a
        JOIN t_cruise_point_instance b ON a.instance_id = b.instance_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where 1 = 1 and a.remark = 1
        <if test="subType != null"> and a.sub_type = #{subType, jdbcType=INTEGER}</if>
        ORDER BY b.device_id, b.custom_id
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseType" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        a.sub_type,
        a.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
        FROM t_cruise_type a
        LEFT JOIN t_cruise_point_instance b ON a.instance_id = b.instance_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where 1 = 1 and a.remark = 1
        <if test="subType != null"> and a.sub_type = #{subType, jdbcType=INTEGER}</if>
        ORDER BY b.device_id, b.custom_id
    </select>

    <insert id="batchAdd">
        insert into t_cruise_type(
            sub_type,
            instance_id
        )values
        <foreach collection="list" item="TCruiseTypeDetail" separator=",">
            (
                #{TCruiseTypeDetail.subType, jdbcType=INTEGER},
                #{TCruiseTypeDetail.instanceId, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from t_cruise_type
        where sub_type in (
            <foreach collection="list" item="subType" separator=",">
                #{subType, jdbcType=INTEGER}
            </foreach>
            )
    </delete>

    <select id="selectIdList" resultType="java.lang.Long">
        select  instance_id
        from t_cruise_type
        where 1=1 and remark = 1
        <if test="subType != null"> and sub_type = #{subType, jdbcType=INTEGER}</if>
    </select>

    <delete id="deleteForInstanceId">
        delete from t_cruise_type
        where instance_id in (
        <foreach collection="list" item="instanceId" separator=",">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
        )
    </delete>

<!--    <select id="selectForInstanceId">-->
<!--        select instance_id from t_cruise_point_instance-->
<!--                where instance_id = #{instanceId, jdbcType=BIGINT}-->
<!--    </select>-->
    <select id="selectAll" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "213" as subType,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
        FROM  t_cruise_point_instance b
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where 1 = 1 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>

    <select id="selectByAnalyse" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "322" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_algorithm_mete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.algorithm_id = (select algorithm_id from t_algorithm_info where analyse_type = 9)
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <select id="selectByMeterTypeByOil" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "323" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_std_devicemete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.meter_type in (417,411)
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <select id="selectByMeterTypeByArrester" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "324" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_std_devicemete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.meter_type = 412
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <select id="selectByMeterTypeBySF6" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "325" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_std_devicemete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.meter_type = 414
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <select id="selectByMeterTypeByYY" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "326" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_std_devicemete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.meter_type = 415
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <select id="selectByAnalyseByWg" resultType="com.yjh.platform.module.task.entity.TCruiseTypeDetail">
        select
        "327" as sub_type,
        b.instance_id,
        (CASE
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
        WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
        WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
        WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
        WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
        WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
        END) AS instance_name,
        b.device_id,
        d.device_name,
        b.custom_id,
        i.dict_note AS custom_name,
        b.cruise_type,
        e.dict_note AS cruise_type_name
				from t_algorithm_mete a
        left join  t_cruise_point_instance b on a.device_mete_id = b.device_mete_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where a.algorithm_id in (select algorithm_id from t_algorithm_info where analyse_type in(8,7,6,5) )
				and a.device_mete_id in (select device_mete_id from t_cruise_point_instance )
				 and b.device_mete_id is not null and h.inspection_type = 1
        ORDER BY b.device_id, b.custom_id
    </select>
    <update id="tagsDeleted" >
        update t_cruise_type a <set>
        a.remark = 0,
    </set>
        where a.instance_id in (
        <foreach collection="list" item="instanceId" separator=",">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
        )
    </update>

    <update id="tagsAdd" >
        update t_cruise_type a <set>
        a.remark = 1,
    </set>
        where a.instance_id in (
        <foreach collection="list" item="instanceId" separator=",">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
        )
    </update>
    <delete id="batchDeleteByInstance">
        delete from t_cruise_type
        where instance_id in (
        <foreach collection="list" item="instanceId" separator=",">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
        )
    </delete>

    <select id="selectIdListByAll" resultType="java.lang.Long">
        select  instance_id
        from t_cruise_type
        where 1=1
        <if test="subType != null"> and sub_type = #{subType, jdbcType=INTEGER}</if>
    </select>
</mapper>
