<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TCruiseDataResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TCruiseDataResult">
        <id column="cruise_data_id" jdbcType="BIGINT" property="cruiseDataId" />
        <result column="cruise_result_id" jdbcType="VARCHAR" property="cruiseResultId" />
        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="result_desc" jdbcType="VARCHAR" property="resultDesc" />
        <result column="result_num" jdbcType="VARCHAR" property="resultNum" />
        <result column="modify_num" jdbcType="VARCHAR" property="modifyNum" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
        <result column="person_check" jdbcType="VARCHAR" property="personCheck" />
        <result column="origpic" jdbcType="VARCHAR" property="origpic" />
        <result column="cruise_abnormal" jdbcType="INTEGER" property="cruiseAbnormal" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="evaluation_state" jdbcType="INTEGER" property="evaluationState" />
        <result column="identify_state" jdbcType="INTEGER" property="identifyState" />
        <result column="identify_result" jdbcType="INTEGER" property="identifyResult" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cruise_data_id, cruise_result_id, cruise_id, cruise_type, result_desc, result_num, modify_num, picpath, person_check, origpic, cruise_abnormal,cruise_result, evaluation_state, identify_state, identify_result, createtime, remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="cruiseDataId" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            picpath,
            person_check,
            origpic,
            cruise_abnormal,
            cruise_result,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark
        )values(
                #{cruiseDataId, jdbcType=BIGINT},
                #{cruiseResultId, jdbcType=VARCHAR},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseType, jdbcType=INTEGER},
                #{resultDesc, jdbcType=VARCHAR},
                #{resultNum, jdbcType=VARCHAR},
                #{modifyNum, jdbcType=VARCHAR},
                #{picpath, jdbcType=VARCHAR},
                #{personCheck, jdbcType=VARCHAR},
                #{origpic, jdbcType=VARCHAR},
                #{cruiseAbnormal, jdbcType=INTEGER},
                #{cruiseResult, jdbcType=INTEGER},
                #{evaluationState, jdbcType=INTEGER},
                #{identifyState, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{createtime, jdbcType=TIMESTAMP},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_cruise_data_result
                where cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        update t_cruise_data_result a <set>
        <if test="cruiseDataId != null and cruiseDataId != ''">a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseType != null">a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null">a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="evaluationState != null">a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null">a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null">a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        a.createtime = #{createtime, jdbcType=TIMESTAMP},
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
            where a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.person_check,
        a.origpic,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark
        from t_cruise_data_result a
        where 1 = 1
            and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult" resultMap="BaseResultMap">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.person_check,
        a.origpic,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark
        from t_cruise_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''">a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseType != null">a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null">a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="evaluationState != null">a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null">a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null">a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        <if test="createtime != null and createtime != ''">a.createtime = #{createtime, jdbcType=TIMESTAMP},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TCruiseDataResult" resultType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        select
        a.cruise_data_id,
        a.cruise_result_id,
        a.cruise_id,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.person_check,
        a.origpic,
        a.cruise_abnormal,
        a.cruise_result,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark
        from t_cruise_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''">a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="cruiseResultId != null and cruiseResultId != ''">a.cruise_result_id = #{cruiseResultId, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseType != null">a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null">a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="evaluationState != null">a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null">a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null">a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        <if test="createtime != null and createtime != ''">a.createtime = #{createtime, jdbcType=TIMESTAMP},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            picpath,
        person_check,
            origpic,
        cruise_abnormal,
        cruise_result,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark
        )values
        <foreach collection="list" item="TCruiseDataResult" separator=",">
            (
                #{TCruiseDataResult.cruiseDataId, jdbcType=BIGINT},
                #{TCruiseDataResult.cruiseResultId, jdbcType=VARCHAR},
                #{TCruiseDataResult.cruiseId, jdbcType=BIGINT},
                #{TCruiseDataResult.cruiseType, jdbcType=INTEGER},
                #{TCruiseDataResult.resultDesc, jdbcType=VARCHAR},
                #{TCruiseDataResult.resultNum, jdbcType=VARCHAR},
                #{TCruiseDataResult.modifyNum, jdbcType=VARCHAR},
                #{TCruiseDataResult.picpath, jdbcType=VARCHAR},
                #{TCruiseDataResult.personCheck, jdbcType=VARCHAR},
                #{TCruiseDataResult.origpic, jdbcType=VARCHAR},
                #{TCruiseDataResult.cruiseAbnormal, jdbcType=INTEGER},
                #{TCruiseDataResult.cruiseResult, jdbcType=INTEGER},
                #{TCruiseDataResult.evaluationState, jdbcType=INTEGER},
                #{TCruiseDataResult.identifyState, jdbcType=INTEGER},
                #{TCruiseDataResult.identifyResult, jdbcType=INTEGER},
                #{TCruiseDataResult.createtime, jdbcType=TIMESTAMP},
                #{TCruiseDataResult.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



    <select id="selectMeteCruiseByDeviceId" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalMeteInfo" >
     SELECT
	b.instance_id,
	d.cruise_result,
	f.dict_note AS cruiseResultName,
	b.end_time,
	d.picpath,
    d.identify_result,
    k.dict_note as 'identifyResultName',
    (CASE
    WHEN ISNULL(e.mete_name)AND ISNULL(g.inspection_name)AND ISNULL(h.preset_name)THEN ''
    WHEN ISNULL(e.mete_name)AND ISNULL(g.inspection_name)THEN h.preset_name
    WHEN ISNULL(e.mete_name)AND ISNULL(h.preset_name)THEN g.inspection_name
    WHEN ISNULL(g.inspection_name)AND ISNULL(h.preset_name)THEN e.mete_name
    WHEN ISNULL(g.inspection_name)THEN CONCAT(e.mete_name,' /',h.preset_name)
    WHEN ISNULL(h.preset_name)THEN CONCAT(e.mete_name,' /',g.inspection_name)
    END) AS cruise_name

    FROM
        t_cruise_point_instance a
    LEFT JOIN t_cruise_task_result_detail b ON a.instance_id = b.instance_id
    LEFT JOIN t_cruise_data_result d ON b.cruise_result_id = d.cruise_result_id
    LEFT JOIN t_dict_business f ON d.cruise_result = f.dict_code
    AND f.col_name = 'cruise_result'
    LEFT JOIN t_dict_business k ON d.identify_result=k.dict_code and k.col_name='identify_result'
    LEFT JOIN t_std_devicemete e ON a.device_mete_id = e.device_mete_id
    LEFT JOIN t_robot_inspection g ON a.cruise_id = g.inspection_id
    LEFT JOIN t_camera_preset h ON a.cruise_id = h.preset_id
    LEFT JOIN t_cruise_task_result c ON b.task_result_id = c.task_result_id
    where
        a.device_id = #{deviceId,jdbcType=BIGINT}
    AND a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}
    ORDER BY
        b.end_time DESC
       LIMIT 1

    </select>

    <select id="selectCruiseDataResultByList" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalInfo">
        SELECT
        e.end_time,
        g.c_type,
        i.dict_note AS cTypeName,
        b.cruise_type,
        h.dict_note AS cruiseTypeName,
        f.identify_result,
        j.dict_note AS identifyResultName,
        f.result_num,
        f.cruise_result,
        z.dict_note as 'cruiseResultName',
        f.picpath,
        (
        CASE
        WHEN ISNULL(a.mete_name)
        AND ISNULL(y.inspection_name)
        AND ISNULL(x.preset_name) THEN
        ''
        WHEN ISNULL(a.mete_name)
        AND ISNULL(y.inspection_name) THEN
        x.preset_name
        WHEN ISNULL(a.mete_name)
        AND ISNULL(x.preset_name) THEN
        y.inspection_name
        WHEN ISNULL(y.inspection_name)
        AND ISNULL(x.preset_name) THEN
        a.mete_name
        WHEN ISNULL(y.inspection_name) THEN
        CONCAT(
        a.mete_name,
        ' /',
        x.preset_name
        )
        WHEN ISNULL(x.preset_name) THEN
        CONCAT(
        a.mete_name,
        ' /',
        y.inspection_name
        )
        END
        ) AS cruise_name

        FROM
        t_std_devicemete a
        LEFT JOIN t_cruise_point_instance b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code
        AND h.col_name = "cruise_type"
        LEFT JOIN t_cruise_task_result_detail e ON b.instance_id = e.instance_id
        LEFT JOIN t_cruise_data_result f ON e.cruise_result_id = f.cruise_result_id
        LEFT JOIN t_dict_business j ON f.identify_result = j.dict_code
        AND j.col_name = "identify_result"
        LEFT JOIN t_cruise_result g ON e.task_result_id = g.task_result_id
        LEFT JOIN t_dict_business i ON g.c_type = i.dict_code
        AND i.col_name = "plan_type"
        LEFT JOIN t_camera_preset x ON b.cruise_id=x.preset_id
        LEFT JOIN t_robot_inspection y ON b.cruise_id=y.inspection_id
        LEFT JOIN t_dict_business z ON f.cruise_result=z.dict_code AND z.col_name="cruise_result"
        WHERE a.device_mete_id= #{deviceMeteId,jdbcType=BIGINT}

        <if test="startDate != null " ><if test="endDate != null">and e.end_time between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}</if></if>
        <if test="cType != -1 ">and g.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cruiseType != -1 ">and b.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        ORDER BY e.end_time DESC
    </select>


    <select id="selectBrokenLine"  resultType="com.yjh.platform.module.task.entity.BrokenLineInfo">
        SELECT
        c.end_time,
        d.result_num,
        b.cruise_type,
        h.dict_note as cruiseTypeName,
        i.c_type,
        a.mete_name
        FROM
        (
        t_std_devicemete a
        LEFT JOIN (
        t_cruise_point_instance b
        LEFT JOIN t_dict_business h ON b.cruise_type = h.dict_code
        AND h.col_name = "cruise_type"
        ) ON a.device_mete_id = b.device_mete_id
        )
        LEFT JOIN (
        (
        (t_cruise_task_result_detail c
        LEFT JOIN t_cruise_data_result d ON c.cruise_result_id = d.cruise_result_id)
        LEFT JOIN (t_cruise_result i LEFT JOIN t_dict_business j ON i.c_type=j.dict_code AND j.col_name="plan_type") ON c.task_result_id=i.task_result_id
        )
        ) ON b.instance_id = c.instance_id
        WHERE
        a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}
        <if test="startDate != null " ><if test="endDate != null">and c.end_time between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}</if></if>
        <if test="cruiseType != -1 " >and b.cruise_type=#{cruiseType,jdbcType=INTEGER}</if>
        <if test="cType != -1" >and i.c_type=#{cType,jdbcType=INTEGER}</if>
        ORDER BY c.end_time ASC
    </select>
</mapper>
