<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TDefectInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TDefectInfo">
        <id column="defect_id" jdbcType="BIGINT" property="defectId" />
        <result column="defect_level" jdbcType="INTEGER" property="defectLevel" />
        <result column="defect_time" jdbcType="TIMESTAMP" property="defectTime" />
        <result column="defect_type" jdbcType="INTEGER" property="defectType" />
        <result column="defect_name" jdbcType="VARCHAR" property="defectName" />
        <result column="defect_content" jdbcType="VARCHAR" property="defectContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_defect" jdbcType="INTEGER" property="isDefect" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="if_defect_disable" jdbcType="INTEGER" property="ifDefectDisable" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="defect_subtype" jdbcType="INTEGER" property="defectSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="link_message" jdbcType="VARCHAR" property="linkMessage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        defect_id, defect_level, defect_time, defect_type, defect_name, defect_content, device_id, cunstom_id, instance_id, std_mete_id, conf_mode, is_defect, deal_type, deal_info, deal_person_id, deal_time, if_defect_disable, alarm_source, defect_subtype, device_code, image_path, video_path, VALUE, out_range, link_message
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="defectId" parameterType="com.yjh.platform.module.task.entity.TDefectInfo">
        insert into t_defect_info(
            defect_id,
            defect_level,
            defect_time,
            defect_type,
            defect_name,
            defect_content,
            device_id,
            cunstom_id,
            instance_id,
            std_mete_id,
            conf_mode,
            is_defect,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            if_defect_disable,
            alarm_source,
            defect_subtype,
            device_code,
            image_path,
            video_path,
            VALUE,
            out_range,
            link_message
        )values(
                #{defectId, jdbcType=BIGINT},
                #{defectLevel, jdbcType=INTEGER},
                #{defectTime, jdbcType=TIMESTAMP},
                #{defectType, jdbcType=INTEGER},
                #{defectName, jdbcType=VARCHAR},
                #{defectContent, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{cunstomId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{stdMeteId, jdbcType=BIGINT},
                #{confMode, jdbcType=INTEGER},
                #{isDefect, jdbcType=INTEGER},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{ifDefectDisable, jdbcType=INTEGER},
                #{alarmSource, jdbcType=INTEGER},
                #{defectSubtype, jdbcType=INTEGER},
                #{deviceCode, jdbcType=VARCHAR},
                #{imagePath, jdbcType=VARCHAR},
                #{videoPath, jdbcType=VARCHAR},
                #{value, jdbcType=VARCHAR},
                #{outRange, jdbcType=VARCHAR},
                #{linkMessage, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_defect_info
                where defect_id = #{defectId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TDefectInfo">
        update t_defect_info a <set>
        <if test="defectId != null and defectId != ''">a.defect_id = #{defectId, jdbcType=BIGINT},</if>
        <if test="defectLevel != null ">a.defect_level = #{defectLevel, jdbcType=INTEGER},</if>
        <if test="defectTime != null and defectTime != ''">a.defect_time = #{defectTime, jdbcType=TIMESTAMP},</if>
        <if test="defectType != null ">a.defect_type = #{defectType, jdbcType=INTEGER},</if>
        <if test="defectName != null and defectName != ''">a.defect_name = #{defectName, jdbcType=VARCHAR},</if>
        <if test="defectContent != null and defectContent != ''">a.defect_content = #{defectContent, jdbcType=VARCHAR},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="cunstomId != null and cunstomId != ''">a.cunstom_id = #{cunstomId, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="stdMeteId != null and stdMeteId != ''">a.std_mete_id = #{stdMeteId, jdbcType=BIGINT},</if>
        <if test="confMode != null ">a.conf_mode = #{confMode, jdbcType=INTEGER},</if>
        <if test="isDefect != null ">a.is_defect = #{isDefect, jdbcType=INTEGER},</if>
        <if test="dealType != null ">a.deal_type = #{dealType, jdbcType=INTEGER},</if>
        <if test="dealInfo != null and dealInfo != ''">a.deal_info = #{dealInfo, jdbcType=VARCHAR},</if>
        <if test="dealPersonId != null and dealPersonId != ''">a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR},</if>
        <if test="dealTime != null and dealTime != ''">a.deal_time = #{dealTime, jdbcType=TIMESTAMP},</if>
        <if test="ifDefectDisable != null ">a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER},</if>
        <if test="alarmSource != null ">a.alarm_source = #{alarmSource, jdbcType=INTEGER},</if>
        <if test="defectSubtype != null ">a.defect_subtype = #{defectSubtype, jdbcType=INTEGER},</if>
        <if test="deviceCode != null and deviceCode != ''">a.device_code = #{deviceCode, jdbcType=VARCHAR},</if>
        <if test="imagePath != null and imagePath != ''">a.image_path = #{imagePath, jdbcType=VARCHAR},</if>
        <if test="videoPath != null and videoPath != ''">a.video_path = #{videoPath, jdbcType=VARCHAR},</if>
        <if test="value != null and value != ''">a.VALUE = #{value, jdbcType=VARCHAR},</if>
        <if test="outRange != null and outRange != ''">a.out_range = #{outRange, jdbcType=VARCHAR},</if>
        <if test="linkMessage != null and linkMessage != ''">a.link_message = #{linkMessage, jdbcType=VARCHAR},</if>
    </set>
        where a.defect_id = #{defectId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
            and a.defect_id = #{defectId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TDefectInfo" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
        <if test="defectId != null and defectId != ''"> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
        <if test="defectLevel != null "> and a.defect_level = #{defectLevel, jdbcType=INTEGER}</if>
        <if test="defectTime != null and defectTime != ''"> and a.defect_time = #{defectTime, jdbcType=TIMESTAMP}</if>
        <if test="defectType != null "> and a.defect_type = #{defectType, jdbcType=INTEGER}</if>
        <if test="defectName != null and defectName != ''"> and a.defect_name = #{defectName, jdbcType=VARCHAR}</if>
        <if test="defectContent != null and defectContent != ''"> and a.defect_content = #{defectContent, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="cunstomId != null and cunstomId != ''"> and a.cunstom_id = #{cunstomId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="stdMeteId != null and stdMeteId != ''"> and a.std_mete_id = #{stdMeteId, jdbcType=BIGINT}</if>
        <if test="confMode != null "> and a.conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="isDefect != null "> and a.is_defect = #{isDefect, jdbcType=INTEGER}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null and dealTime != ''"> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="ifDefectDisable != null "> and a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER}</if>
        <if test="alarmSource != null "> and a.alarm_source = #{alarmSource, jdbcType=INTEGER}</if>
        <if test="defectSubtype != null "> and a.defect_subtype = #{defectSubtype, jdbcType=INTEGER}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="imagePath != null and imagePath != ''"> and a.image_path = #{imagePath, jdbcType=VARCHAR}</if>
        <if test="videoPath != null and videoPath != ''"> and a.video_path = #{videoPath, jdbcType=VARCHAR}</if>
        <if test="value != null and value != ''"> and a.VALUE = #{value, jdbcType=VARCHAR}</if>
        <if test="outRange != null and outRange != ''"> and a.out_range = #{outRange, jdbcType=VARCHAR}</if>
        <if test="linkMessage != null and linkMessage != ''"> and a.link_message = #{linkMessage, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TDefectInfo" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
        <if test="defectId != null and defectId != ''"> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
        <if test="defectLevel != null "> and a.defect_level = #{defectLevel, jdbcType=Integer}</if>
        <if test="defectTime != null and defectTime != ''"> and a.defect_time = #{defectTime, jdbcType=TIMESTAMP}</if>
        <if test="defectType != null "> and a.defect_type = #{defectType, jdbcType=INTEGER}</if>
        <if test="defectName != null and defectName != ''"> and a.defect_name = #{defectName, jdbcType=VARCHAR}</if>
        <if test="defectContent != null and defectContent != ''"> and a.defect_content = #{defectContent, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="cunstomId != null and cunstomId != ''"> and a.cunstom_id = #{cunstomId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="stdMeteId != null and stdMeteId != ''"> and a.std_mete_id = #{stdMeteId, jdbcType=BIGINT}</if>
        <if test="confMode != null "> and a.conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="isDefect != null "> and a.is_defect = #{isDefect, jdbcType=INTEGER}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null and dealTime != ''"> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="ifDefectDisable != null "> and a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER}</if>
        <if test="alarmSource != null "> and a.alarm_source = #{alarmSource, jdbcType=INTEGER}</if>
        <if test="defectSubtype != null "> and a.defect_subtype = #{defectSubtype, jdbcType=INTEGER}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="imagePath != null and imagePath != ''"> and a.image_path = #{imagePath, jdbcType=VARCHAR}</if>
        <if test="videoPath != null and videoPath != ''"> and a.video_path = #{videoPath, jdbcType=VARCHAR}</if>
        <if test="value != null and value != ''"> and a.VALUE = #{value, jdbcType=VARCHAR}</if>
        <if test="outRange != null and outRange != ''"> and a.out_range = #{outRange, jdbcType=VARCHAR}</if>
        <if test="linkMessage != null and linkMessage != ''"> and a.link_message = #{linkMessage, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_defect_info(
        defect_id,
        defect_level,
        defect_time,
        defect_type,
        defect_name,
        defect_content,
        device_id,
        cunstom_id,
        instance_id,
        std_mete_id,
        conf_mode,
        is_defect,
        deal_type,
        deal_info,
        deal_person_id,
        deal_time,
        if_defect_disable,
        alarm_source,
        defect_subtype,
        device_code,
        image_path,
        video_path,
        VALUE,
        out_range,
        link_message
        )values
        <foreach collection="list" item="TDefectInfo" separator=",">
            (
            #{TDefectInfo.defectId, jdbcType=BIGINT},
            #{TDefectInfo.defectLevel, jdbcType=INTEGER},
            #{TDefectInfo.defectTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.defectType, jdbcType=INTEGER},
            #{TDefectInfo.defectName, jdbcType=VARCHAR},
            #{TDefectInfo.defectContent, jdbcType=VARCHAR},
            #{TDefectInfo.deviceId, jdbcType=BIGINT},
            #{TDefectInfo.cunstomId, jdbcType=VARCHAR},
            #{TDefectInfo.instanceId, jdbcType=BIGINT},
            #{TDefectInfo.stdMeteId, jdbcType=BIGINT},
            #{TDefectInfo.confMode, jdbcType=INTEGER},
            #{TDefectInfo.isDefect, jdbcType=INTEGER},
            #{TDefectInfo.dealType, jdbcType=INTEGER},
            #{TDefectInfo.dealInfo, jdbcType=VARCHAR},
            #{TDefectInfo.dealPersonId, jdbcType=VARCHAR},
            #{TDefectInfo.dealTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.ifDefectDisable, jdbcType=INTEGER},
            #{TDefectInfo.alarmSource, jdbcType=INTEGER},
            #{TDefectInfo.defectSubtype, jdbcType=INTEGER},
            #{TDefectInfo.deviceCode, jdbcType=VARCHAR},
            #{TDefectInfo.imagePath, jdbcType=String},
            #{TDefectInfo.videoPath, jdbcType=VARCHAR},
            #{TDefectInfo.value, jdbcType=VARCHAR},
            #{TDefectInfo.outRange, jdbcType=VARCHAR},
            #{TDefectInfo.linkMessage, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--查询所有缺陷-->
    <select id="selectAllDefect" parameterType="java.util.Map" resultType="com.yjh.platform.module.task.entity.TDefectInfoDetail">
        SELECT
        a.defect_id,
        a.device_id,
        b.device_name,
        a.std_mete_id,
        d.mete_name,
        a.defect_time,
        a.deal_time,
        a.defect_type,
        e.dict_note as defect_type_name,
        a.conf_mode,
        f.dict_note as conf_mode_name,
        a.image_path,
        a.deal_info,
        a.deal_type,
        g.dict_note as deal_type_name,
        a.deal_person_id,
        h.user_name as deal_person_name,
        a.defect_content
        FROM
        t_defect_info a
        LEFT JOIN	t_std_device b on a.device_id = b.device_id and a.cunstom_id = b.custom_id
        LEFT JOIN t_std_mete d on a.std_mete_id = d.std_mete_id
        LEFT JOIN t_dict_business e on a.defect_type = e.dict_code
        LEFT JOIN t_dict_business f on a.conf_mode = f.dict_code
        LEFT JOIN t_dict_business g on a.deal_type = g.dict_code
        LEFT JOIN sys_user h on a.deal_person_id = h.user_id
        WHERE 1 = 1
        <if test="deviceName != null and deviceName != ''"> and  device_name like concat("%",#{deviceName, jdbcType=VARCHAR},"%")</if>
        <if test="defectType != null "> and defect_type = #{defectType, jdbcType=INTEGER}</if>
        <if test="confMode != null "> and conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="startTime != null and endTime != null"> and defect_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
    </select>
    <!--统计近一月的所有缺陷个数-->
    <select id="countDefectOnMonth" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        DATE_FORMAT( defect_time, '%Y-%m-%d' ) as time_node,
        count( * ) as count
        FROM
        (
        select
        a.defect_time
        from t_defect_info a
        where 1=1
				) AS Time
				WHERE
        period_diff( date_format( now( ) , '%Y-%m-%d %H:%i:%S' ) , date_format( defect_time, '%Y-%m-%d %H:%i:%S' ) ) =0
        and DATE_FORMAT( defect_time, '%Y-%m-%d %H:%i:%S' ) BETWEEN  #{startTime} and #{endTime}
        GROUP BY
        time_node
    </select>
    <!--根据缺陷处理状态统计缺陷个数-->
    <select id="countDefectConfMode" resultType="java.util.Map">
        SELECT
            a.processed as '已处理',
            b.untreated as '未处理'
        FROM
        (
            (select count(conf_mode = 275 or null) as processed from t_defect_info ) a,
            (select count(conf_mode = 276 or null) as untreated from t_defect_info ) b
        )
    </select>
    <!--查看缺陷处理情况-->
    <select id="selectDefectProcess" resultType="com.yjh.platform.module.task.entity.TDefectInfoDetail">
        SELECT
        a.defect_id,
        a.device_id,
        b.device_name,
        a.std_mete_id,
        d.mete_name,
        a.defect_time,
        a.deal_time,
        a.defect_type,
        e.dict_note as defect_type_name,
        a.conf_mode,
        f.dict_note as conf_mode_name,
        a.image_path,
        a.deal_info,
        a.deal_type,
        g.dict_note as deal_type_name,
        a.deal_person_id,
        h.user_name as deal_person_name,
        a.defect_content
        FROM
        t_defect_info a
        LEFT JOIN	t_std_device b on a.device_id = b.device_id and a.cunstom_id = b.custom_id
        LEFT JOIN t_std_mete d on a.std_mete_id = d.std_mete_id
        LEFT JOIN t_dict_business e on a.defect_type = e.dict_code
        LEFT JOIN t_dict_business f on a.conf_mode = f.dict_code
        LEFT JOIN t_dict_business g on a.deal_type = g.dict_code
        LEFT JOIN sys_user h on a.deal_person_id = h.user_id
        WHERE 1 = 1
        <if test="defectId != null and defectId != ''"> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
    </select>
</mapper>
