<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TDefectInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TDefectInfo">
        <id column="defect_id" jdbcType="BIGINT" property="defectId" />
        <result column="defect_level" jdbcType="INTEGER" property="defectLevel" />
        <result column="defect_time" jdbcType="TIMESTAMP" property="defectTime" />
        <result column="defect_type" jdbcType="INTEGER" property="defectType" />
        <result column="defect_name" jdbcType="VARCHAR" property="defectName" />
        <result column="defect_content" jdbcType="VARCHAR" property="defectContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_defect" jdbcType="INTEGER" property="isDefect" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="if_defect_disable" jdbcType="INTEGER" property="ifDefectDisable" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="defect_subtype" jdbcType="INTEGER" property="defectSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="link_message" jdbcType="VARCHAR" property="linkMessage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        defect_id, defect_level, defect_time, defect_type, defect_name, defect_content, device_id, cunstom_id, instance_id, std_mete_id, conf_mode, is_defect, deal_type, deal_info, deal_person_id, deal_time, if_defect_disable, alarm_source, defect_subtype, device_code, image_path, video_path, VALUE, out_range, link_message
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="defectId" parameterType="com.yjh.platform.module.task.entity.TDefectInfo">
        insert into t_defect_info(
            defect_id,
            defect_level,
            defect_time,
            defect_type,
            defect_name,
            defect_content,
            device_id,
            cunstom_id,
            instance_id,
            std_mete_id,
            conf_mode,
            is_defect,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            if_defect_disable,
            alarm_source,
            defect_subtype,
            device_code,
            image_path,
            video_path,
            VALUE,
            out_range,
            link_message
        )values(
                #{defectId, jdbcType=BIGINT},
                #{defectLevel, jdbcType=INTEGER},
                #{defectTime, jdbcType=TIMESTAMP},
                #{defectType, jdbcType=INTEGER},
                #{defectName, jdbcType=VARCHAR},
                #{defectContent, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{cunstomId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{stdMeteId, jdbcType=BIGINT},
                #{confMode, jdbcType=INTEGER},
                #{isDefect, jdbcType=INTEGER},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{ifDefectDisable, jdbcType=INTEGER},
                #{alarmSource, jdbcType=INTEGER},
                #{defectSubtype, jdbcType=INTEGER},
                #{deviceCode, jdbcType=VARCHAR},
                #{imagePath, jdbcType=VARCHAR},
                #{videoPath, jdbcType=VARCHAR},
                #{value, jdbcType=VARCHAR},
                #{outRange, jdbcType=VARCHAR},
                #{linkMessage, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_defect_info
                where defect_id = #{defectId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TDefectInfo">
        update t_defect_info a <set>
        <if test="defectId != null ">a.defect_id = #{defectId},</if>
        <if test="defectLevel != null ">a.defect_level = #{defectLevel, jdbcType=INTEGER},</if>
        <if test="defectTime != null ">a.defect_time = #{defectTime, jdbcType=TIMESTAMP},</if>
        <if test="defectType != null ">a.defect_type = #{defectType, jdbcType=INTEGER},</if>
        <if test="defectName != null ">a.defect_name = #{defectName},</if>
        <if test="defectContent != null">a.defect_content = #{defectContent},</if>
        <if test="deviceId != null ">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="cunstomId != null ">a.cunstom_id = #{cunstomId},</if>
        <if test="instanceId != null ">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="stdMeteId != null ">a.std_mete_id = #{stdMeteId, jdbcType=BIGINT},</if>
        <if test="confMode != null ">a.conf_mode = #{confMode, jdbcType=INTEGER},</if>
        <if test="isDefect != null ">a.is_defect = #{isDefect, jdbcType=INTEGER},</if>
        <if test="dealType != null ">a.deal_type = #{dealType, jdbcType=INTEGER},</if>
        <if test="dealInfo != null ">a.deal_info = #{dealInfo},</if>
        <if test="dealPersonId != null ">a.deal_person_id = #{dealPersonId},</if>
        <if test="dealTime != null ">a.deal_time = #{dealTime, jdbcType=TIMESTAMP},</if>
        <if test="ifDefectDisable != null ">a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER},</if>
        <if test="alarmSource != null ">a.alarm_source = #{alarmSource, jdbcType=INTEGER},</if>
        <if test="defectSubtype != null ">a.defect_subtype = #{defectSubtype, jdbcType=INTEGER},</if>
        <if test="deviceCode != null ">a.device_code = #{deviceCode},</if>
        <if test="imagePath != null ">a.image_path = #{imagePath},</if>
        <if test="videoPath != null ">a.video_path = #{videoPath},</if>
        <if test="value != null ">a.VALUE = #{value},</if>
        <if test="outRange != null ">a.out_range = #{outRange},</if>
        <if test="linkMessage != null">a.link_message = #{linkMessage},</if>
    </set>
        where a.defect_id = #{defectId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
            and a.defect_id = #{defectId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TDefectInfo" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
        <if test="defectId != null "> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
        <if test="defectLevel != null "> and a.defect_level = #{defectLevel, jdbcType=INTEGER}</if>
        <if test="defectTime != null "> and a.defect_time = #{defectTime, jdbcType=TIMESTAMP}</if>
        <if test="defectType != null "> and a.defect_type = #{defectType, jdbcType=INTEGER}</if>
        <if test="defectName != null and defectName != ''"> and a.defect_name = #{defectName, jdbcType=VARCHAR}</if>
        <if test="defectContent != null and defectContent != ''"> and a.defect_content = #{defectContent, jdbcType=VARCHAR}</if>
        <if test="deviceId != null "> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="cunstomId != null and cunstomId != ''"> and a.cunstom_id = #{cunstomId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null "> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="stdMeteId != null "> and a.std_mete_id = #{stdMeteId, jdbcType=BIGINT}</if>
        <if test="confMode != null "> and a.conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="isDefect != null "> and a.is_defect = #{isDefect, jdbcType=INTEGER}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null "> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="ifDefectDisable != null "> and a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER}</if>
        <if test="alarmSource != null "> and a.alarm_source = #{alarmSource, jdbcType=INTEGER}</if>
        <if test="defectSubtype != null "> and a.defect_subtype = #{defectSubtype, jdbcType=INTEGER}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="imagePath != null and imagePath != ''"> and a.image_path = #{imagePath, jdbcType=VARCHAR}</if>
        <if test="videoPath != null and videoPath != ''"> and a.video_path = #{videoPath, jdbcType=VARCHAR}</if>
        <if test="value != null and value != ''"> and a.VALUE = #{value, jdbcType=VARCHAR}</if>
        <if test="outRange != null and outRange != ''"> and a.out_range = #{outRange, jdbcType=VARCHAR}</if>
        <if test="linkMessage != null and linkMessage != ''"> and a.link_message = #{linkMessage, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TDefectInfo" resultType="com.yjh.platform.module.task.entity.TDefectInfo">
        select
        a.defect_id,
        a.defect_level,
        a.defect_time,
        a.defect_type,
        a.defect_name,
        a.defect_content,
        a.device_id,
        a.cunstom_id,
        a.instance_id,
        a.std_mete_id,
        a.conf_mode,
        a.is_defect,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.if_defect_disable,
        a.alarm_source,
        a.defect_subtype,
        a.device_code,
        a.image_path,
        a.video_path,
        a.VALUE,
        a.out_range,
        a.link_message
        from t_defect_info a
        where 1 = 1
        <if test="defectId != null "> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
        <if test="defectLevel != null "> and a.defect_level = #{defectLevel, jdbcType=Integer}</if>
        <if test="defectTime != null "> and a.defect_time = #{defectTime, jdbcType=TIMESTAMP}</if>
        <if test="defectType != null "> and a.defect_type = #{defectType, jdbcType=INTEGER}</if>
        <if test="defectName != null and defectName != ''"> and a.defect_name = #{defectName, jdbcType=VARCHAR}</if>
        <if test="defectContent != null and defectContent != ''"> and a.defect_content = #{defectContent, jdbcType=VARCHAR}</if>
        <if test="deviceId != null "> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="cunstomId != null and cunstomId != ''"> and a.cunstom_id = #{cunstomId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null "> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="stdMeteId != null "> and a.std_mete_id = #{stdMeteId, jdbcType=BIGINT}</if>
        <if test="confMode != null "> and a.conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="isDefect != null "> and a.is_defect = #{isDefect, jdbcType=INTEGER}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null "> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="ifDefectDisable != null "> and a.if_defect_disable = #{ifDefectDisable, jdbcType=INTEGER}</if>
        <if test="alarmSource != null "> and a.alarm_source = #{alarmSource, jdbcType=INTEGER}</if>
        <if test="defectSubtype != null "> and a.defect_subtype = #{defectSubtype, jdbcType=INTEGER}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="imagePath != null and imagePath != ''"> and a.image_path = #{imagePath, jdbcType=VARCHAR}</if>
        <if test="videoPath != null and videoPath != ''"> and a.video_path = #{videoPath, jdbcType=VARCHAR}</if>
        <if test="value != null and value != ''"> and a.VALUE = #{value, jdbcType=VARCHAR}</if>
        <if test="outRange != null and outRange != ''"> and a.out_range = #{outRange, jdbcType=VARCHAR}</if>
        <if test="linkMessage != null and linkMessage != ''"> and a.link_message = #{linkMessage, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_defect_info(
        defect_id,
        defect_level,
        defect_time,
        defect_type,
        defect_name,
        defect_content,
        device_id,
        cunstom_id,
        instance_id,
        std_mete_id,
        conf_mode,
        is_defect,
        deal_type,
        deal_info,
        deal_person_id,
        deal_time,
        if_defect_disable,
        alarm_source,
        defect_subtype,
        device_code,
        image_path,
        video_path,
        VALUE,
        out_range,
        link_message
        )values
        <foreach collection="list" item="TDefectInfo" separator=",">
            (
            #{TDefectInfo.defectId, jdbcType=BIGINT},
            #{TDefectInfo.defectLevel, jdbcType=INTEGER},
            #{TDefectInfo.defectTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.defectType, jdbcType=INTEGER},
            #{TDefectInfo.defectName, jdbcType=VARCHAR},
            #{TDefectInfo.defectContent, jdbcType=VARCHAR},
            #{TDefectInfo.deviceId, jdbcType=BIGINT},
            #{TDefectInfo.cunstomId, jdbcType=VARCHAR},
            #{TDefectInfo.instanceId, jdbcType=BIGINT},
            #{TDefectInfo.stdMeteId, jdbcType=BIGINT},
            #{TDefectInfo.confMode, jdbcType=INTEGER},
            #{TDefectInfo.isDefect, jdbcType=INTEGER},
            #{TDefectInfo.dealType, jdbcType=INTEGER},
            #{TDefectInfo.dealInfo, jdbcType=VARCHAR},
            #{TDefectInfo.dealPersonId, jdbcType=VARCHAR},
            #{TDefectInfo.dealTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.ifDefectDisable, jdbcType=INTEGER},
            #{TDefectInfo.alarmSource, jdbcType=INTEGER},
            #{TDefectInfo.defectSubtype, jdbcType=INTEGER},
            #{TDefectInfo.deviceCode, jdbcType=VARCHAR},
            #{TDefectInfo.imagePath, jdbcType=String},
            #{TDefectInfo.videoPath, jdbcType=VARCHAR},
            #{TDefectInfo.value, jdbcType=VARCHAR},
            #{TDefectInfo.outRange, jdbcType=VARCHAR},
            #{TDefectInfo.linkMessage, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--查询所有缺陷-->
    <select id="selectAllDefect" parameterType="java.util.Map" resultType="com.yjh.platform.module.task.entity.TDefectInfoDetail">
        SELECT
        a.defect_id,
        a.device_id,
        b.device_name,
        a.std_mete_id,
        k.mete_name,
        a.defect_time,
        a.deal_time,
        a.defect_type,
        e.dict_note as defect_type_name,
        a.conf_mode,
        f.dict_note as conf_mode_name,
        a.image_path,
        a.deal_info,
        a.deal_type,
        g.dict_note as deal_type_name,
        a.deal_person_id,
        h.user_name as deal_person_name,
        a.defect_content
        FROM
        t_defect_info a
        LEFT JOIN t_std_device b on a.device_id = b.device_id and a.cunstom_id = b.custom_id
        LEFT JOIN t_std_devicemete k on a.std_mete_id = k.device_mete_id
        LEFT JOIN t_dict_business e on a.defect_type = e.dict_code
        LEFT JOIN t_dict_business f on a.conf_mode = f.dict_code
        LEFT JOIN t_dict_business g on a.deal_type = g.dict_code
        LEFT JOIN sys_user h on a.deal_person_id = h.user_id
        WHERE 1 = 1
        <if test="deviceName != null and deviceName != ''"> and  device_name like concat("%",#{deviceName, jdbcType=VARCHAR},"%")</if>
        <if test="meteName != null and meteName != ''"> and  k.mete_name like concat("%",#{meteName, jdbcType=VARCHAR},"%")</if>
        <if test="defectType != null "> and defect_type = #{defectModel, jdbcType=INTEGER}</if>
        <if test="confMode != null "> and conf_mode = #{confMode, jdbcType=INTEGER}</if>
        <if test="startTime != null and endTime != null"> and defect_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        ORDER BY defect_time desc
    </select>
    <!--统计近一月的所有缺陷个数-->
    <select id="countDefectOnMonth" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (select date_add(curdate(), interval(cast(help_topic_id as signed ) - 30) day) timeNode
        from mysql.help_topic
        where help_topic_id &lt; day(last_day(curdate()))
        order by help_topic_id) a
        LEFT JOIN (
        SELECT
        DATE(defect_time) date,
        defect_time,
        count( 1 ) AS count
        FROM
        t_defect_info
        WHERE
        DATEDIFF( now( ), defect_time )  &lt;= 31
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>
    <!--根据缺陷类型统计缺陷数据-->
    <select id="countByDefectType" resultType="com.yjh.platform.module.task.entity.TJDefectByType">
        select
            dict_code as defect_type,
            dict_note as defect_type_name,
            (select COUNT(*)
                from t_defect_info
                WHERE defect_type = dict_code
            ) as c_ount
        from t_dict_business
        where dict_code in
            (
                select dict_code
                from t_dict_business
                where col_name = 'defect_type'
            )
         ORDER BY c_ount desc
    </select>
    <!--根据缺陷处理状态统计缺陷个数-->
    <select id="countDefectConfMode" resultType="java.util.Map">
        SELECT
            a.processed as processed,
            b.untreated as unProcessed
        FROM
        (
            (select count(conf_mode = 275 or null) as processed from t_defect_info
                where defect_time between #{startTime} and #{endTime}) a,
            (select count(conf_mode = 276 or null) as untreated from t_defect_info
                where defect_time between #{startTime} and #{endTime}) b
        )
    </select>
    <!--查看缺陷处理情况-->
    <select id="selectDefectProcess" resultType="com.yjh.platform.module.task.entity.TDefectInfoDetail">
        SELECT
        a.defect_id,
        a.device_id,
        b.device_name,
        a.std_mete_id,
        d.mete_name,
        a.defect_time,
        a.deal_time,
        a.defect_type,
        e.dict_note as defect_type_name,
        a.conf_mode,
        f.dict_note as conf_mode_name,
        a.image_path,
        a.deal_info,
        a.deal_type,
        g.dict_note as deal_type_name,
        a.deal_person_id,
        h.user_name as deal_person_name,
        a.defect_content
        FROM
        t_defect_info a
        LEFT JOIN	t_std_device b on a.device_id = b.device_id and a.cunstom_id = b.custom_id
        LEFT JOIN t_std_mete d on a.std_mete_id = d.std_mete_id
        LEFT JOIN t_dict_business e on a.defect_type = e.dict_code
        LEFT JOIN t_dict_business f on a.conf_mode = f.dict_code
        LEFT JOIN t_dict_business g on a.deal_type = g.dict_code
        LEFT JOIN sys_user h on a.deal_person_id = h.user_id
        WHERE 1 = 1
        <if test="defectId != null and defectId != ''"> and a.defect_id = #{defectId, jdbcType=BIGINT}</if>
    </select>

    <select id="countByDefectLevel" resultType="java.util.Map">
        SELECT
            a.dict_note as defectLevlName,
            IFNULL(c.count,0) count
        FROM
            t_dict_business a
        left join (select count(1) as count,defect_level from t_defect_info GROUP BY defect_level ) c on a.dict_code = c.defect_level
        WHERE a.col_name='defect_level'
    </select>

    <select id="countByAlarmLevel" resultType="java.util.Map">
        SELECT
            IFNULL( c.count, 0 ) AS count,
            b.dict_code as alarmLevel,
            b.dict_note as alarmLevelName
        FROM
            t_dict_business b
            LEFT JOIN (
        SELECT
            a.alarm_level,
            count( a.alarm_level ) AS count
        FROM
            ( SELECT warn_level AS alarm_level, warn_id FROM t_warn_info UNION ALL ( SELECT alarm_level, robot_alarm_id FROM t_robot_alarm )
            UNION ALL (SELECT alarm_level, camera_alarm_id FROM t_camera_alarm)) a
        GROUP BY
            a.alarm_level
            ) c ON c.alarm_level = b.dict_code
        WHERE
            b.col_name = 'alarm_level'
    </select>

    <select id="selectThereWarn" resultType="com.yjh.platform.module.task.entity.WarnInfoForHomePage">
        SELECT
        a.warn_time as warnTime,
        a.warn_content as warnContent,
        b.device_name as deviceName
        from t_warn_info a
        left join (select DISTINCT device_id,device_name from t_std_device) b on a.device_id = b.device_id
        where 1=1
        <if test="alarmLevel != null "> and a.warn_level = #{alarmLevel, jdbcType=INTEGER}</if>
        union all(
        SELECT
        c.alarm_time as warnTime,
        c.alarm_info as warnContent,
        d.robot_name as deviceName
        from t_robot_alarm c
        left join t_robot_info d on c.robot_id = d.robot_id
        where 1=1
        <if test="alarmLevel != null "> and c.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        )
        order by warnTime desc LIMIT 20
    </select>
</mapper>
