<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TDeviceTypeImgDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        <id column="type_id" jdbcType="VARCHAR" property="typeId" />
        <result column="pic_abs_path" jdbcType="VARCHAR" property="picAbsPath" />
        <result column="pic_real_path" jdbcType="VARCHAR" property="picRealPath" />
        <result column="remake" jdbcType="VARCHAR" property="remake" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        type_id, pic_abs_path, pic_real_path, remake
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="typeId" parameterType="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        insert into t_device_type_img(
            type_id,
            pic_abs_path,
            pic_real_path,
            remake
        )values(
                #{typeId, jdbcType=VARCHAR},
                #{picAbsPath, jdbcType=VARCHAR},
                #{picRealPath, jdbcType=VARCHAR},
                #{remake, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_device_type_img
                where type_id = #{typeId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        update t_device_type_img a <set>
        <if test="typeId != null">a.type_id = #{typeId, jdbcType=VARCHAR},</if>
        <if test="picAbsPath != null">a.pic_abs_path = #{picAbsPath, jdbcType=VARCHAR},</if>
        <if test="picRealPath != null">a.pic_real_path = #{picRealPath, jdbcType=VARCHAR},</if>
        <if test="remake != null">a.remake = #{remake, jdbcType=VARCHAR},</if>
    </set>
            where a.type_id = #{typeId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        select
        a.type_id,
        a.pic_absp_ath,
        a.pic_real_path,
        a.remake
        from t_device_type_img a
        where 1 = 1
            and a.type_id = #{typeId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TDeviceTypeImg" resultType="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        select
        a.type_id,
        a.pic_abs_path,
        a.pic_real_path,
        a.remake
        from t_device_type_img a
        where 1 = 1
        <if test="typeId != null and typeId != ''"> and a.type_id = #{typeId, jdbcType=VARCHAR}</if>
        <if test="picAbsPath != null and picAbsPath != ''"> and a.pic_abs_path = #{picAbsPath, jdbcType=VARCHAR}</if>
        <if test="picRealPath != null and picRealPath != ''"> and a.pic_real_path = #{picRealPath, jdbcType=VARCHAR}</if>
        <if test="remake != null and remake != ''"> and a.remake = #{remake, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TDeviceTypeImg" resultType="com.yjh.platform.module.device.entity.TDeviceTypeImg">
        select
        a.type_id,
        a.pic_abs_path,
        a.pic_real_path,
        a.remake
        from t_device_type_img a
        where 1 = 1
        <if test="typeId != null and typeId != ''"> and a.type_id = #{typeId, jdbcType=VARCHAR}</if>
        <if test="picAbsPath != null and picAbsPath != ''"> and a.pic_abs_path = #{picAbsPath, jdbcType=VARCHAR}</if>
        <if test="picRealPath != null and picRealPath != ''"> and a.pic_real_path = #{picRealPath, jdbcType=VARCHAR}</if>
        <if test="remake != null and remake != ''"> and a.remake = #{remake, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchAdd">
        insert into t_device_type_img(
            type_id,
            pic_abs_path,
            pic_real_path,
            remake
        )values
        <foreach collection="list" item="TDeviceTypeImg" separator=",">
            (
                #{TDeviceTypeImg.typeId, jdbcType=VARCHAR},
                #{TDeviceTypeImg.picAbsPath, jdbcType=VARCHAR},
                #{TDeviceTypeImg.picRealPath, jdbcType=VARCHAR},
                #{TDeviceTypeImg.remake, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from t_device_type_img
        where type_id in (
            <foreach collection="list" item="typeId" separator=",">
                #{typeId, jdbcType=VARCHAR}
            </foreach>
            )
    </delete>

    <delete id="deleteAll">
        delete from t_device_type_img
    </delete>

    <select id="selectDeviceTypeAndImg" resultType="java.util.Map">
        SELECT
            a.dict_code as deviceType,
            a.dict_note as deviceTypeName,
            b.pic_real_path as picRealPath
        from t_dict_business a
        left join t_device_type_img b on a.dict_code = b.type_id
        WHERE a.col_name = "device_type"
    </select>
</mapper>
