<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TDeviceMaintenanceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TDeviceMaintenance">
        <id column="maintenance_id" jdbcType="BIGINT" property="maintenanceId" />
        <result column="maintenance_name" jdbcType="VARCHAR" property="maintenanceName" />
        <result column="device_ids" jdbcType="BIGINT" property="deviceIds" />
        <result column="is_valid" jdbcType="INTEGER" property="isValid" />
        <result column="maintenance_start" jdbcType="TIMESTAMP" property="maintenanceStart" />
        <result column="maintenance_stop" jdbcType="TIMESTAMP" property="maintenanceStop" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        maintenance_id, maintenance_name, device_id, is_valid, maintenance_start, maintenance_stop
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="maintenanceId" parameterType="com.yjh.platform.module.device.entity.TDeviceMaintenance">
        insert into t_device_maintenance(
            maintenance_id,
            maintenance_name,
            device_ids,
            is_valid,
            maintenance_start,
            maintenance_stop,
            coordinate_pixel,
            device_level,
            instance_ids
        )values(
                   #{maintenanceId, jdbcType=BIGINT},
                   #{maintenanceName, jdbcType=VARCHAR},
                   #{deviceIds, jdbcType=BIGINT},
                   #{isValid, jdbcType=INTEGER},
                   #{maintenanceStart, jdbcType=TIMESTAMP},
                   #{maintenanceStop, jdbcType=TIMESTAMP},
                   #{coordinatePixel, jdbcType=VARCHAR},
                   #{deviceLevel, jdbcType=VARCHAR},
                   #{instanceIds, jdbcType=BIGINT}
               )
    </insert>


    <delete id="deleteByPrimaryId">
        delete from t_device_maintenance
        where maintenance_id = #{maintenanceId}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TDeviceMaintenance">
        update t_device_maintenance a <set>
        <if test="maintenanceId != null ">a.maintenance_id = #{maintenanceId},</if>
        <if test="maintenanceName != null ">a.maintenance_name = #{maintenanceNam},</if>
        <if test="deviceIds != null ">a.device_ids = #{deviceIds},</if>
        <if test="isValid != null ">a.is_valid = #{isValid, jdbcType=INTEGER},</if>
        <if test="maintenanceStart != null ">a.maintenance_start = #{maintenanceStart, jdbcType=TIMESTAMP},</if>
        <if test="maintenanceStop != null ">a.maintenance_stop = #{maintenanceStop, jdbcType=TIMESTAMP},</if>
        <if test="coordinatePixel != null ">a.coordinate_pixel = #{coordinatePixel},</if>
        <if test="deviceLevel != null ">a.device_level = #{deviceLevel},</if>
    </set>
            where a.maintenance_id = #{maintenanceId, jdbcType=BIGINT}
    </update>


    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TDeviceMaintenance">
        select DISTINCT
            f.maintenance_id,
            f.maintenance_name,
            f.device_ids,
            f.is_valid,
            f.maintenance_start,
            f.maintenance_stop,
            f.coordinate_pixel,
            f.device_level,
            f.instance_ids
        from t_device_maintenance f
        where 1 = 1
          and f.maintenance_id = #{maintenanceId}
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TDeviceMaintenance" resultType="com.yjh.platform.module.device.entity.TDeviceMaintenance">
        select
        a.maintenance_id,
        a.maintenance_name,
        a.device_ids,
        a.is_valid,
        a.maintenance_start,
        a.maintenance_stop,
        a.coordinate_pixel,
        a.device_level
        from t_device_maintenance a
        where 1 = 1
        <if test="maintenanceId != null and maintenanceId != ''"> and a.maintenance_id = #{maintenanceId, jdbcType=BIGINT}</if>
        <if test="maintenanceName != null and maintenanceName != ''"> and a.maintenance_name LIKE CONCAT('%',#{maintenanceName, jdbcType=VARCHAR},'%')</if>
        <if test="deviceIds != null and deviceIds != ''"> and a.device_ids = #{deviceIds, jdbcType=BIGINT}</if>
        <if test="isValid != null "> and a.is_valid = #{isValid, jdbcType=INTEGER}</if>
        <if test="maintenanceStart != null"> and a.maintenance_start = #{maintenanceStart, jdbcType=TIMESTAMP}</if>
        <if test="maintenanceStop != null "> and a.maintenance_stop = #{maintenanceStop, jdbcType=TIMESTAMP}</if>
         group by a.maintenance_id
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TDeviceMaintenance" resultType="com.yjh.platform.module.device.entity.TDeviceMaintenanceDetail">
        select
        a.maintenance_id,
        a.maintenance_name,
        a.device_ids,
        a.is_valid,
        a.maintenance_start,
        a.maintenance_stop,
        a.coordinate_pixel,
        a.device_level
        from t_device_maintenance a
        where 1 = 1
        <if test="maintenanceName != null and maintenanceName != ''"> and a.maintenance_name LIKE CONCAT('%',#{maintenanceName, jdbcType=VARCHAR},'%') </if>
        group by a.maintenance_id desc
    </select>

    <insert id="batchAdd">
        insert into t_device_maintenance(
        maintenance_id,
        maintenance_name,
        device_ids,
        is_valid,
        maintenance_start,
        maintenance_stop,
        coordinate_pixel,
        device_level,
        instance_ids
        )values
        <foreach collection="list" item="TDeviceMaintenance" separator=",">
            (
            #{TDeviceMaintenance.maintenanceId, jdbcType=BIGINT},
            #{TDeviceMaintenance.maintenanceName, jdbcType=VARCHAR},
            #{TDeviceMaintenance.deviceIds, jdbcType=BIGINT},
            #{TDeviceMaintenance.isValid, jdbcType=INTEGER},
            #{TDeviceMaintenance.maintenanceStart, jdbcType=TIMESTAMP},
            #{TDeviceMaintenance.maintenanceStop, jdbcType=TIMESTAMP},
            #{TDeviceMaintenance.coordinatePixel, jdbcType=VARCHAR},
            #{TDeviceMaintenance.deviceLevel, jdbcType=VARCHAR},
            #{TDeviceMaintenance.instanceIds, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from t_device_maintenance
        where maintenance_id in (
            <foreach collection="list" item="maintenanceId" separator=",">
                #{maintenanceId, jdbcType=BIGINT}
            </foreach>
            )
    </delete>

    <select id="selectIdAndName" resultType="com.yjh.platform.module.device.entity.IdAndNameDetail">
        SELECT DISTINCT
        a.device_id AS id,
        a.device_name AS NAME
        FROM
        t_std_device a
        WHERE
        a.device_id IN
        <foreach collection="list" item="deviceId" open="(" separator="," close=")">
            #{deviceId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectDevice" resultType="com.yjh.platform.module.device.entity.DeviceAndInstance">
        SELECT DISTINCT
        (CASE WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_id )AND ISNULL( d.preset_name ) THEN ''
        WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_name ) THEN d.preset_name
        WHEN ISNULL( b.mete_name ) AND ISNULL( d.preset_img ) THEN c.inspection_name
        WHEN ISNULL( c.inspection_name ) AND ISNULL( d.preset_name ) THEN b.mete_name
        WHEN ISNULL( c.inspection_name ) THEN CONCAT( b.mete_name, ' /', d.preset_name )
        WHEN ISNULL( d.preset_name ) THEN CONCAT( b.mete_name, ' /', c.inspection_name )
        END) AS instanceName,
        a.device_id as deviceId,
        a.instance_id as instanceId,
        e.device_name as deviceName
        FROM t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        left join t_std_device e on a.device_id=e.device_id
        WHERE 1=1 and e.device_id in
        <foreach collection="list" item="deviceId" open="(" separator="," close=")">
            #{deviceId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectInstance" resultType="com.yjh.platform.module.device.entity.IdAndNameDetail">
        SELECT
        (CASE WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_id )AND ISNULL( d.preset_name ) THEN ''
        WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_name ) THEN d.preset_name
        WHEN ISNULL( b.mete_name ) AND ISNULL( d.preset_img ) THEN c.inspection_name
        WHEN ISNULL( c.inspection_name ) AND ISNULL( d.preset_name ) THEN b.mete_name
        WHEN ISNULL( c.inspection_name ) THEN CONCAT( b.mete_name, ' /', d.preset_name )
        WHEN ISNULL( d.preset_name ) THEN CONCAT( b.mete_name, ' /', c.inspection_name )
        END) AS name,
        a.instance_id as id
        FROM t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        WHERE 1=1
        <if test="deviceId != null and deviceId != ''"> and a.device_id =  #{deviceId, jdbcType=BIGINT} </if>
    </select>

    <delete id="deleteByDeviceId" >
         delete from t_device_maintenance
                where device_ids = #{deviceIds, jdbcType=BIGINT}
    </delete>
    <select id="selectDeviceIds" resultType="com.yjh.platform.module.device.entity.DeviceAndInstance">
        SELECT
        (CASE WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_id )AND ISNULL( d.preset_name ) THEN ''
        WHEN ISNULL( b.mete_name )AND ISNULL( c.inspection_name ) THEN d.preset_name
        WHEN ISNULL( b.mete_name ) AND ISNULL( d.preset_img ) THEN c.inspection_name
        WHEN ISNULL( c.inspection_name ) AND ISNULL( d.preset_name ) THEN b.mete_name
        WHEN ISNULL( c.inspection_name ) THEN CONCAT( b.mete_name, ' /', d.preset_name )
        WHEN ISNULL( d.preset_name ) THEN CONCAT( b.mete_name, ' /', c.inspection_name )
        END) AS instanceName,
        a.device_id as deviceId,
        a.instance_id as instanceId,
        e.device_name as deviceName
        FROM t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        left join t_std_device e on a.device_id=e.device_id
        WHERE a.instance_id in
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
        GROUP BY a.instance_id
    </select>
    <select id="selectDeviceIds2" resultType="java.lang.Long">
        select DISTINCT
        a.device_ids
        from t_device_maintenance a
        where 1 = 1
            and a.maintenance_id in <foreach collection="list" item="maintenanceId" open="(" separator="," close=")">
        #{maintenanceId, jdbcType=BIGINT}
    </foreach>
    </select>

    <select id="selectDeviceIdListByIns" resultType="java.lang.Long">
        select DISTINCT
        a.device_id
        from t_cruise_point_instance a
        where a.instance_id in <foreach collection="list" item="instanceId" open="(" separator="," close=")">
        #{instanceId, jdbcType=BIGINT}
    </foreach>
    </select>


    <delete id="deleteByDeviceIdList">
        delete from t_device_maintenance
        where maintenance_name = #{name,jdbcType=VARCHAR}
          and device_ids = #{list}
    </delete>
    <select id="selectRegionIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.origin_region_id
        FROM
        t_std_region a
        LEFT JOIN t_std_device b ON b.up_region_id = a.region_id
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectRobotRegionIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.up_region_id
        FROM
        t_robot_region a
        LEFT JOIN t_robot_inspection b ON a.region_id = b.main_device_id
        LEFT JOIN t_cruise_point_instance c ON b.inspection_id = c.cruise_id
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and c.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectDeviceByRegion" resultType="java.lang.Long">
        select
        a.device_id
        from t_std_device a
        where a.up_region_id in <foreach collection="list" item="upRegionId" separator="," open="(" close=")" index="index">
        #{upRegionId,jdbcType=BIGINT}
    </foreach>
    </select>
    <select id="selectInsByDeviceId" resultType="java.lang.Long">
        select DISTINCT
        a.instance_id
        from t_cruise_point_instance a
        where a.device_id in
        <foreach collection="list" item="deviceId" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </select>
    <select id="selectMainDeviceIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.origin_id
        FROM
        t_std_device a
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and a.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectRobotMainDeviceIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.main_device_id
        FROM t_robot_inspection a
        LEFT JOIN t_cruise_point_instance c ON a.inspection_id = c.cruise_id
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and c.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectInstanceIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.origin_id
        FROM
        t_cruise_point_instance a
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and a.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectRobotInstanceIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.inspection_code
        FROM t_robot_inspection a
        LEFT JOIN t_cruise_point_instance c ON a.inspection_id = c.cruise_id
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and c.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectRobotComponentIdList" resultType="java.lang.String">
        SELECT DISTINCT
        a.component_id
        FROM t_robot_inspection a
        LEFT JOIN t_cruise_point_instance c ON a.inspection_id = c.cruise_id
        WHERE
        1 = 1
        <if test="list != null and list.size() > 0">and c.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectOnlineRobot" resultType="java.lang.String">
        SELECT
        a.robot_code
        FROM
        t_robot_info a
        LEFT JOIN t_robot_inspection b ON a.robot_id = b.robot_id
        LEFT JOIN t_cruise_point_instance c ON c.cruise_id = b.inspection_id
        WHERE
        a.robot_status = '在线'
        AND a.origin_id IS NULL
        <if test="list != null and list.size() > 0">and c.instance_id IN
            <foreach collection="list" item="instanceIds" separator="," open="(" close=")" index="index">
                #{instanceIds, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectOnlineEdge" resultType="java.lang.String">
        SELECT DISTINCT
        a.region_code
        FROM
        t_std_region a
        LEFT JOIN t_std_region b ON a.region_code = b.region_code
        LEFT JOIN t_std_device c ON c.up_region_id = b.region_id
        WHERE
        a.edge_status = '在线'
        <if test="list != null and list.size() > 0">and c.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

</mapper>
