<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TemplateToImportDao">

    <!--测点模板导入-->
        <insert id="batchUpdateTStdMeteModel">
            insert  into t_std_metemodel(
                model_id,
                model_name,
                device_type,
                remark
            ) values
            <foreach collection="tStdMeteModelList" item="TStdMeteModel" separator=",">
                (
                null,
                #{TStdMeteModel.modelName, jdbcType=VARCHAR},
                #{TStdMeteModel.deviceType, jdbcType=INTEGER},
                #{TStdMeteModel.remark, jdbcType=VARCHAR}
                )
            </foreach>
        </insert>
        <!--测点模板详细导入-->
        <insert id="batchUpdateTStdMeteModelDetail">
        insert into t_std_metemodel_detail(
            model_id,
            mete_id,
            custom_type,
            mete_code,
            mete_name,
            mete_type,
            unit,
            alarm_note,
            alarm_explain,
            alarm_type,
            up_effect,
            low_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            high_limit3,
            low_limit3,
            high_limit4,
            low_limit4,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            modulus
        ) values
        <foreach collection="tStdMeteModelDetailList" item="TStdMeteModelDetail" separator=",">
            (
            #{TStdMeteModelDetail.modelId, jdbcType=BIGINT},
            #{TStdMeteModelDetail.meteId, jdbcType=BIGINT},
            #{TStdMeteModelDetail.customType, jdbcType=INTEGER},
            #{TStdMeteModelDetail.meteCode, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteName, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.unit, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmNote, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmExplain, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.upEffect, jdbcType=REAL},
            #{TStdMeteModelDetail.lowEffect, jdbcType=REAL},
            #{TStdMeteModelDetail.alarmLevel, jdbcType=INTEGER},
            #{TStdMeteModelDetail.highLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.alarmDelay, jdbcType=INTEGER},
            #{TStdMeteModelDetail.alarmCnt, jdbcType=INTEGER},
            #{TStdMeteModelDetail.thresholdAbs, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.thresholdPer, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.modulus, jdbcType=INTEGER}
            )
        </foreach>
        </insert>

        <!--获取最后一条数据的modelId-->
        <select id="selectLastModelId" resultType="java.lang.Long">
             select model_id from t_std_metemodel order by model_id DESC limit 1;
        </select>

        <!--标准化设备导入-->
        <insert id="batchUpdateTStdDevice">
            insert  into t_std_device(
            device_id,
            custom_id,
            device_code,
            device_name,
            alias_name,
            device_type,
            position_type,
            model_id,
            region_path,
            up_region_id,
            up_region_name,
            custom_name,
            custom_type,
            status,
            update_time,
            create_time
            ) values
            <foreach collection="tStdDeviceList" item="TStdDevice" separator=",">
                (
                null,
                #{TStdDevice.customId, jdbcType=VARCHAR},
                #{TStdDevice.deviceCode, jdbcType=VARCHAR},
                #{TStdDevice.deviceName, jdbcType=VARCHAR},
                #{TStdDevice.aliasName, jdbcType=VARCHAR},
                #{TStdDevice.deviceType, jdbcType=INTEGER},
                #{TStdDevice.positionType, jdbcType=VARCHAR},
                #{TStdDevice.modelId, jdbcType=BIGINT},
                #{TStdDevice.regionPath, jdbcType=VARCHAR},
                #{TStdDevice.upRegionId, jdbcType=BIGINT},
                #{TStdDevice.upRegionName, jdbcType=VARCHAR},
                #{TStdDevice.customName, jdbcType=VARCHAR},
                #{TStdDevice.customType, jdbcType=INTEGER},
                #{TStdDevice.status, jdbcType=INTEGER},
                #{TStdDevice.updateTime, jdbcType=TIMESTAMP},
                #{TStdDevice.createTime, jdbcType=TIMESTAMP}
                )
            </foreach>
        </insert>
        <!--标准化设备参数导入-->
        <insert id="batchUpdateTStdDeviceAttr">
            insert  into t_std_device_attr(
            device_id,
            device_model,
            pms_type,
            pms_id,
            manufacturer,
            production_date,
            opening_date,
            disable_date,
            last_maintenance,
            maintenance_count,
            organization,
            department,
            responsible_person,
            latitude,
            longitude,
            ip,
            port,
            para_1,
            para_2,
            para_3
            ) values
            <foreach collection="tStdDeviceAttrList" item="TStdDeviceAttr" separator=",">
                (
                #{TStdDeviceAttr.deviceId, jdbcType=BIGINT},
                #{TStdDeviceAttr.deviceModel, jdbcType=INTEGER},
                #{TStdDeviceAttr.pmsType, jdbcType=VARCHAR},
                #{TStdDeviceAttr.pmsId, jdbcType=VARCHAR},
                #{TStdDeviceAttr.manufacturer, jdbcType=VARCHAR},
                #{TStdDeviceAttr.productionDate, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.openingDate, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.disableDate, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.lastMaintenance, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.maintenanceCount, jdbcType=VARCHAR},
                #{TStdDeviceAttr.organization, jdbcType=VARCHAR},
                #{TStdDeviceAttr.department, jdbcType=VARCHAR},
                #{TStdDeviceAttr.responsiblePerson, jdbcType=VARCHAR},
                #{TStdDeviceAttr.latitude, jdbcType=VARCHAR},
                #{TStdDeviceAttr.longitude, jdbcType=VARCHAR},
                #{TStdDeviceAttr.ip, jdbcType=VARCHAR},
                #{TStdDeviceAttr.port, jdbcType=INTEGER},
                #{TStdDeviceAttr.para1, jdbcType=VARCHAR},
                #{TStdDeviceAttr.para2, jdbcType=VARCHAR},
                #{TStdDeviceAttr.para3, jdbcType=VARCHAR}
                )
            </foreach>
        </insert>
        <!--获取最后一条数据的modelId-->
        <select id="selectLastDeviceId" resultType="java.lang.Long">
            select device_id from t_std_device order by device_id DESC limit 1;
        </select>
        <!--标准化设备测点导入-->
        <insert id="batchUpdateTStdDeviceMete">
            insert  into t_std_devicemete(
            device_mete_id,
            device_id,
            custom_id,
            mete_id,
            mete_type,
            mete_name,
            device_type,
            custom_type,
            position_type,
            unit,
            alarm_note,
            alarm_type,
            up_effect,
            low_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            high_limit3,
            low_limit3,
            high_limit4,
            low_limit4,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            modulus,
            remark
            ) values
            <foreach collection="tStdDeviceMeteList" item="TStdDeviceMete" separator=",">
                (
                null,
                #{TStdDeviceMete.deviceId, jdbcType=BIGINT},
                #{TStdDeviceMete.customId, jdbcType=VARCHAR},
                #{TStdDeviceMete.meteId, jdbcType=BIGINT},
                #{TStdDeviceMete.meteType, jdbcType=VARCHAR},
                #{TStdDeviceMete.meteName, jdbcType=VARCHAR},
                #{TStdDeviceMete.deviceType, jdbcType=INTEGER},
                #{TStdDeviceMete.customType, jdbcType=INTEGER},
                #{TStdDeviceMete.positionType, jdbcType=VARCHAR},
                #{TStdDeviceMete.unit, jdbcType=VARCHAR},
                #{TStdDeviceMete.alarmNote, jdbcType=VARCHAR},
                #{TStdDeviceMete.alarmType, jdbcType=VARCHAR},
                #{TStdDeviceMete.upEffect, jdbcType=REAL},
                #{TStdDeviceMete.lowEffect, jdbcType=REAL},
                #{TStdDeviceMete.alarmLevel, jdbcType=INTEGER},
                #{TStdDeviceMete.highLimit1, jdbcType=REAL},
                #{TStdDeviceMete.lowLimit1, jdbcType=REAL},
                #{TStdDeviceMete.highLimit2, jdbcType=REAL},
                #{TStdDeviceMete.lowLimit2, jdbcType=REAL},
                #{TStdDeviceMete.highLimit3, jdbcType=REAL},
                #{TStdDeviceMete.lowLimit3, jdbcType=REAL},
                #{TStdDeviceMete.highLimit4, jdbcType=REAL},
                #{TStdDeviceMete.lowLimit4, jdbcType=REAL},
                #{TStdDeviceMete.alarmDelay, jdbcType=INTEGER},
                #{TStdDeviceMete.alarmCnt, jdbcType=INTEGER},
                #{TStdDeviceMete.thresholdAbs, jdbcType=NUMERIC},
                #{TStdDeviceMete.thresholdPer, jdbcType=NUMERIC},
                #{TStdDeviceMete.modulus, jdbcType=INTEGER},
                #{TStdDeviceMete.remark, jdbcType=VARCHAR}
                )
            </foreach>
        </insert>

</mapper>