<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.THisTelemeterDataDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.THisTelemeterData">
    <result column="id" jdbcType="BIGINT" property="id" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
        <result column="mete_kind" jdbcType="INTEGER" property="meteKind" />
        <result column="mete_value" jdbcType="VARCHAR" property="meteValue" />
        <result column="last_mete_value" jdbcType="VARCHAR" property="lastMeteValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        mete_id, device_id, record_time, mete_kind, mete_value, last_mete_value
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yjh.platform.module.task.entity.THisTelemeterData">
        insert into t_his_telemeter_data(
            id,
            mete_id,
            device_id,
            record_time,
            mete_kind,
            mete_value,
            last_mete_value
        )values(
                #{id,jdbcType=BIGINT},
                #{meteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{recordTime, jdbcType=TIMESTAMP},
                #{meteKind, jdbcType=INTEGER},
                #{meteValue, jdbcType=VARCHAR},
                #{lastMeteValue, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_his_telemeter_data where id=#{id,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.THisTelemeterData">
        update t_his_telemeter_data a <set>
        <if test="id !=null and id != ''">a.id=#{id,jdbcType=BIGINT},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        a.record_time = #{recordTime, jdbcType=TIMESTAMP},
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteValue != null and meteValue != ''">a.mete_value = #{meteValue, jdbcType=VARCHAR},</if>
        <if test="lastMeteValue != null and lastMeteValue != ''">a.last_mete_value = #{lastMeteValue, jdbcType=VARCHAR},</if>
    </set>
       where a.id=#{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.THisTelemeterData">
        select
        a.mete_id,
        a.device_id,
        a.record_time,
        a.mete_kind,
        a.mete_value,
        a.last_mete_value
        from t_his_telemeter_data a
        where 1 = 1
        and a.id=#{id,jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.THisTelemeterData" resultType="com.yjh.platform.module.task.entity.THisTelemeterData">
        select
        a.id,
        a.mete_id,
        a.device_id,
        a.record_time,
        a.mete_kind,
        a.mete_value,
        a.last_mete_value
        from t_his_telemeter_data a
        where 1 = 1
        <if test="id !=null and id != ''">a.id = #{id,jdbcType=BIGINT},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="recordTime != null and recordTime != ''">a.record_time = #{recordTime, jdbcType=TIMESTAMP},</if>
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteValue != null and meteValue != ''">a.mete_value = #{meteValue, jdbcType=VARCHAR},</if>
        <if test="lastMeteValue != null and lastMeteValue != ''">a.last_mete_value = #{lastMeteValue, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.THisTelemeterData" resultType="com.yjh.platform.module.task.entity.THisTelemeterData">
        select
        a.id,
        a.mete_id,
        a.device_id,
        a.record_time,
        a.mete_kind,
        a.mete_value,
        a.last_mete_value
        from t_his_telemeter_data a
        where 1 = 1
        <if test="id !=null and id != ''">a.id=#{id,jdbcType=BIGINT},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="recordTime != null and recordTime != ''">a.record_time = #{recordTime, jdbcType=TIMESTAMP},</if>
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteValue != null and meteValue != ''">a.mete_value = #{meteValue, jdbcType=VARCHAR},</if>
        <if test="lastMeteValue != null and lastMeteValue != ''">a.last_mete_value = #{lastMeteValue, jdbcType=VARCHAR},</if>
    </select>

    <insert id="batchInsert">
        insert into t_his_telemeter_data(
            id,
            mete_id,
            device_id,
            record_time,
            mete_kind,
            mete_value,
            last_mete_value
        )values
        <foreach collection="list" item="THisTelemeterData" separator=",">
            (
                #{THisTelemeterData.id, jdbcType=BIGINT},
                #{THisTelemeterData.meteId, jdbcType=BIGINT},
                #{THisTelemeterData.deviceId, jdbcType=BIGINT},
                #{THisTelemeterData.recordTime, jdbcType=TIMESTAMP},
                #{THisTelemeterData.meteKind, jdbcType=INTEGER},
                #{THisTelemeterData.meteValue, jdbcType=VARCHAR},
                #{THisTelemeterData.lastMeteValue, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectAll" parameterType="com.yjh.platform.module.task.entity.THisTelemeterData" resultType="com.yjh.platform.module.task.entity.TUnionInfo">
        SELECT
        a.*,
        c.mete_name,
        d.device_name,
        e.dict_note as meteKindName
        FROM
        t_his_signal_data a
        left join t_cfg_mete c on a.mete_id = c.mete_id
        left join t_cfg_device d on a.device_id = d.device_id
        left join t_dict_business e on a.mete_kind = e.dict_code and e.col_name="mete_kind"
        where 1=1
        <if test="startTime != null and endTime != null"> and a.record_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="meteKind != null ">and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_id in (select mete_id from t_cfg_mete where mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%'))</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_id in (select device_id from t_cfg_device where device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%'))</if>
        UNION ALL
        (
        SELECT
        b.*,
        c.mete_name,
        d.device_name,
        e.dict_note as meteKindName
        FROM
        t_his_telemeter_data b
        left join t_cfg_mete c on b.mete_id = c.mete_id
        left join t_cfg_device d on b.device_id = d.device_id
        left join t_dict_business e on b.mete_kind = e.dict_code and e.col_name="mete_kind"
        where 1=1
        <if test="startTime != null and endTime != null">and b.record_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="meteKind != null ">and b.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and b.mete_id in (select mete_id from t_cfg_mete where mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%'))</if>
        <if test="deviceName != null and deviceName != ''"> and b.device_id in (select device_id from t_cfg_device where device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%'))</if>
        )  order by mete_name,record_time desc
    </select>

    <select id="selectUnionTask"  resultType="com.yjh.platform.module.task.entity.UnionTaskInfo">
        SELECT
        a.union_id,
        g.mete_name,
        i.mete_value,
        a.start_time as cruiseTime,
        d.result_num,
        d.origpic,
        d.person_check,
        b.task_name,
        j.device_id,
        j.device_name,
        g.mete_kind,
        k.dict_note as meteKindName,
        c.instance_name
        FROM
        t_union_task a
        LEFT JOIN t_cruise_task_result b ON a.union_id = b.task_id
        LEFT JOIN t_cruise_task_result_detail c ON b.task_result_id = c.task_result_id
        LEFT JOIN t_cruise_data_result d ON c.cruise_result_id = d.cruise_result_id
        left join t_cfg_mete g on a.mete_id = g.mete_id
        left join t_cruise_task h on a.union_id = h.task_id
        left join t_cfg_data_current i on a.mete_id = i.mete_id
        left join t_cfg_device j on i.device_id = j.device_id
        left join t_dict_business k on g.mete_kind  = k.dict_code and k.col_name="mete_kind"
        WHERE 1 =1
        <if test="startTime != null and endTime != null"> and a.create_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="deviceName != null and deviceName != ''"> and a.mete_id in (SELECT mete_id from t_cfg_data_current where device_id in (select device_id from t_cfg_device WHERE device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%') ))</if>
        order by g.mete_name,cruiseTime desc
    </select>
</mapper>
