<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.ThreeDimensionalDao">

    <select id="searchAndLocationFocus" resultType="java.lang.String">
        SELECT a.model_name FROM three_dimensional_relevancy a
        WHERE 1 = 1
        <if test="deviceName != null and deviceName != ''">and a.name = #{deviceName,jdbcType=VARCHAR}</if>
        <if test="deviceType != null ">and a.device_type = #{deviceType,jdbcType=INTEGER}</if>
    </select>

    <sql id="tongTong">
        a.address,
        a.camera_id,
        a.camera_model,
        a.pms_id,
        e.dict_note as camera_model_name,
        a.camera_name,
        a.alias_name,
        a.record_id,
        a.monitor_id,
        a.vendor_id ,
        b.dict_note as vendorName ,
        a.camera_type,
        d.dict_note as camera_type_name,
        a.channel_num,
        a.camera_num,
        a.sms_id,
        a.rms_id,
        a.stream_type,
        a.protocol_type,
        a.camera_ip,
        a.url,
        a.port,
        a.infread_port,
        a.camera_manager,
        IF(IFNULL(a.camera_code, '') = '', a.camera_code, '••••••') AS camera_code,
        a.is_control,
        a.latitude,
        a.longitude,
        a.unit,
        a.up_region_id,
        f.region_name as up_region_name,
        a.commission_date,
        g.record_name
    </sql>

    <select id="viewPointInformation" resultType="com.yjh.platform.module.user.entity.AlarmAndMeteInfo">
        select
            a.device_id,
            a.device_name,
            n.device_mete_id,
            f.cruise_type,
            f.result_num,
            g.dict_note as cruise_type_name,
            n.instance_id,
            j.task_id,
            h.warn_id,
            h.warn_level as alarm_level,
            k.dict_note as alarm_level_name,
            (
                CASE
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_id)
                AND ISNULL(d.preset_name) THEN
                        ''
                WHEN ISNULL(b.mete_name)
                AND ISNULL(c.inspection_name) THEN
                        d.preset_name
                WHEN ISNULL(b.mete_name)
                AND ISNULL(d.preset_img) THEN
                        c.inspection_name
                WHEN ISNULL(c.inspection_name)
                AND ISNULL(d.preset_name) THEN
                        b.mete_name
                WHEN ISNULL(c.inspection_name) THEN
                        CONCAT(
                                b.mete_name,
                                ' /',
                                d.preset_name
                        )
                WHEN ISNULL(d.preset_name) THEN
                        CONCAT(
                                b.mete_name,
                                ' /',
                                c.inspection_name
                        )
                END
            ) AS instanceName
            from
                t_std_device a
            LEFT JOIN	t_cruise_point_instance n on a.device_id = n.device_id
            LEFT JOIN t_std_devicemete b ON n.device_mete_id = b.device_mete_id
            LEFT JOIN t_robot_inspection c ON n.cruise_id = c.inspection_id
            LEFT JOIN t_camera_preset d ON n.cruise_id = d.preset_id
            LEFT JOIN t_cruise_task_result_detail e on n.instance_id = e.instance_id
            LEFT JOIN t_cruise_data_result f on e.cruise_result_id = f.cruise_result_id
            LEFT JOIN t_dict_business g on g.dict_code = f.cruise_type and g.col_name = 'cruise_type'
            LEFT JOIN t_cruise_task_result j on j.task_result_id = e.task_result_id
            LEFT JOIN t_warn_info h on h.task_id = j.task_id and h.instance_id = n.instance_id
            LEFT JOIN t_dict_business k on k.dict_code = h.warn_level and k.col_name = 'alarm_level'
            where a.device_id =
            (SELECT id from three_dimensional_relevancy where model_name = #{modelName,jdbcType=VARCHAR})
            GROUP BY instance_id
    </select>

    <select id="viewPointInfo" resultType="com.yjh.platform.module.user.entity.AlarmAndMeteInfo">
        SELECT
            a.device_id,
            a.device_name,
            b.custom_name,
            b.device_mete_id,
            b.mete_name,
            (
                CASE
                    WHEN ISNULL(b.mete_name)
                        AND ISNULL(e.inspection_id)
                        AND ISNULL(f.preset_name) THEN
                        ''
                    WHEN ISNULL(b.mete_name)
                        AND ISNULL(e.inspection_name) THEN
                        f.preset_name
                    WHEN ISNULL(b.mete_name)
                        AND ISNULL(f.preset_img) THEN
                        e.inspection_name
                    WHEN ISNULL(e.inspection_name)
                        AND ISNULL(f.preset_name) THEN
                        b.mete_name
                    WHEN ISNULL(e.inspection_name) THEN
                        CONCAT(
                                b.mete_name,
                                ' /',
                                f.preset_name
                            )
                    WHEN ISNULL(f.preset_name) THEN
                        CONCAT(
                                b.mete_name,
                                ' /',
                                e.inspection_name
                            )
                    END
                ) AS instanceName,
            d.cruise_type,
            g.dict_note as cruise_type_name
        FROM
            t_std_device a
                LEFT JOIN t_std_devicemete b ON a.device_id = b.device_id
                LEFT JOIN t_cruise_point_instance d on b.device_mete_id = d.device_mete_id
                LEFT JOIN t_robot_inspection e on d.cruise_id = e.inspection_id
                LEFT JOIN t_camera_preset f on d.cruise_id = f.preset_id
                LEFT JOIN t_dict_business g on g.dict_code = d.cruise_type
        WHERE
               b.device_mete_id = #{modelName, jdbcType = VARCHAR}
          and d.cruise_type is not NULL
    </select>

    <select id="viewAlarmInfo" resultType="com.yjh.platform.module.user.entity.AlarmAndMeteInfo">
        SELECT
            a.device_id,
            a.device_name,
            b.custom_name,
            b.device_mete_id,
            b.mete_name,
            d.warn_id,
            d.warn_content,
            d.alarm_source,
            e.dict_note AS alarm_source_name,
            d.warn_level AS alarm_level,
            f.dict_note AS alarm_level_name,
            d.warn_time
        FROM
            t_std_device a
                LEFT JOIN t_std_devicemete b ON a.device_id = b.device_id

                LEFT JOIN t_warn_info d ON d.std_mete_id = b.device_mete_id
                LEFT JOIN t_dict_business e ON e.dict_code = d.alarm_source
                LEFT JOIN t_dict_business f ON f.dict_code = d.warn_level
        WHERE
           d.std_mete_id = b.device_mete_id
        <if test="deviceMeteId != null and deviceMeteId != ''">
            AND
            b.device_mete_id = #{deviceMeteId, jdbcType= VARCHAR}
        </if>
        ORDER BY warn_time DESC
    </select>

    <select id="viewDeviceInfo" resultType="com.yjh.platform.module.device.entity.TStdDeviceDetail">
        select
            a.device_id ,
            a.custom_id ,
            a.device_code ,
            a.device_name ,
            a.alias_name ,
            a.device_type ,
            a.position_type ,
            a.model_id ,
            a.region_path ,
            a.up_region_id ,
            std.custom_name ,
            a.custom_type ,
            a.status ,
            a.update_time ,
            a.create_time ,
            a.preset_id,
            a.camera_id,
            b.device_model,
            b.used_time,
            b.pms_type,
            b.pms_id,
            b.device_vendor,
            b.production_date ,
            b.disable_date,
            b.last_maintenance,
            b.maintenance_count,
            b.organization,
            b.department,
            b.responsible_person,
            b.latitude,
            b.longitude,
            b.ip,
            b.port,
            b.voltage_Level,
            b.sequence_point ,
            a.real_code ,
            b.address,
            e.dict_note as deviceModelName,
            f.dict_note as deviceVendorName,
            g.dict_note as voltageLevelName,
            d.model_name as modelName,
            h.dict_note as deviceTypeName,
            l.pic_real_path,
            k.region_name as upRegionName,
            preset.preset_name as presetName,
            info.camera_name as cameraName
        from  t_std_devicemete std LEFT JOIN  t_std_device a ON std.device_id = a.device_id
                 left join t_std_device_attr b on a.device_id = b.device_id
                 left join t_dict_business e on device_model = e.dict_code
                 left join t_dict_business f on device_vendor=f.dict_code
                 left join t_dict_business g on voltage_level=g.dict_code
                 left join t_std_metemodel d on d.model_id=a.model_id
                 left join t_dict_business h on h.dict_code = a.device_type
                 left join t_std_region k on a.up_region_id = k.region_id
                 left join t_device_type_img l on a.device_type = l.type_id
                 left join t_camera_preset preset on a.preset_id = preset.preset_id
                 left join t_camera_info info on a.camera_id = info.camera_id
        where 1=1 and std.device_mete_id = #{deviceMeteId, jdbcType = VARCHAR}
    </select>

    <select id="selectDeviceIdByModelName" resultType="java.lang.Long">
        SELECT id from three_dimensional_relevancy
        where 1 = 1
        <if test="modelName != null and modelName != ''">and model_name = #{modelName,jdbcType=VARCHAR}</if>
    </select>

    <select id="selectDeviceInfoByModelName" resultType="java.util.Map">
        SELECT id,is_camera
        from three_dimensional_relevancy
        where 1 = 1
        <if test="modelName != null and modelName != ''">and model_name = #{modelName,jdbcType=VARCHAR}</if>
    </select>

    <select id="selectCameraByDeviceId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.CameraUnionDevice">
        SELECT
            a.device_id,
            a.device_name,
            b.device_mete_id,
            d.instance_id,
            d.cruise_id,
            e.camera_id,
            e.preset_name,
            f.camera_name,
            f.record_id
        FROM
            t_std_device a,
            t_std_devicemete b,
            t_cruise_point_instance d,
            t_camera_preset e,
            t_camera_info f
        WHERE 1 = 1
        and a.device_id = b.device_id

        and b.device_id = #{deviceId,jdbcType = BIGINT}
        and b.device_mete_id = d.device_mete_id
        and d.cruise_id = e.preset_id
        and e.camera_id = f.camera_id
        GROUP BY e.preset_id
    </select>
    <select id="selectCameraByCameraId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.CameraUnionDevice">
        SELECT
            b.preset_id as cruise_id,
            a.camera_id,
            a.record_id,
            a.camera_name,
            b.preset_name
        FROM
            t_camera_info a,
            t_camera_preset b
        WHERE a.camera_id = b.camera_id
          and a.camera_id = #{cameraId,jdbcType = BIGINT}
    </select>
    <select id="statisticsAlarmInfo" resultType="com.yjh.platform.module.task.entity.StatisticalTools">
        SELECT
            IFNULL(d.count, 0) AS count,
            b.dict_code,
            b.dict_note
        FROM
            t_dict_business b
        LEFT JOIN (
            SELECT
                a.alarm_level,
                count(a.alarm_level) AS count
            FROM
                (
                    SELECT
                        warn_level AS alarm_level,
                        warn_id
                    FROM
                        t_warn_info
                    UNION ALL
                        (
                            SELECT
                                defect_level,
                                defect_id
                            FROM
                                t_defect_info
                        )
                ) a
            GROUP BY
                a.alarm_level
        ) d ON d.alarm_level = b.dict_code
        WHERE
            b.col_name = 'alarm_level'
    </select>
    <select id="selectAllModelName" resultType="java.util.Map">
        SELECT
            a.model_name as modelName,
            a.`name` as titleName
        FROM three_dimensional_relevancy a
    </select>
    <select id="selectAllName" resultType="java.lang.String">
        SELECT a.name FROM three_dimensional_relevancy a
    </select>

    <select id="selectByPlanPage" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TCruisePlanCountByPage">
        select
            a.plan_id,
            a.plan_code,
            a.device_id,
            a.up_region_id,
            a.robot_id,
            a.plan_name,
            a.type,
            b.dict_note AS type_name,
            a.plan_point_types,
            (select count(*) from u_patrol_plan_attr b where b.plan_id = a.plan_id) as total,
            a.create_time,
            a.update_time
            from t_cruise_plan a
            JOIN t_dict_business b ON a.type = b.dict_code AND b.col_name = "plan_type"
            where 1 = 1
            <if test="planCode != null and planCode != ''"> and a.plan_code = #{planCode, jdbcType=VARCHAR}</if>
            <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
            <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
            <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
            <if test="planName != null and planName != ''"> and a.plan_name like concat('%',#{planName, jdbcType=VARCHAR},'%') </if>
            <if test="type != null"> and a.type = #{type, jdbcType=INTEGER}</if>
            <if test="planPointTypes != null and planPointTypes != ''"> and a.plan_point_types = #{planPointTypes, jdbcType=VARCHAR}</if>
            <if test="modelName != null and modelName != ''"> and a.plan_id in (SELECT
                DISTINCT d.plan_id
                FROM
                u_patrol_plan_attr d
                LEFT JOIN t_cruise_point_instance e ON d.instance_id = e.instance_id
                LEFT JOIN t_robot_inspection f ON f.inspection_id = e.cruise_id
                LEFT JOIN t_camera_preset g ON e.cruise_id = g.preset_id
                LEFT JOIN t_std_devicemete h ON h.device_mete_id = e.device_mete_id
                WHERE
                e.device_id IS NOT NULL and
                h.device_mete_id= #{modelName,jdbcType=VARCHAR}
                )
            </if>
            order by a.create_time desc
    </select>
    <select id="selectCameraDeviceByName" resultType="com.yjh.platform.module.user.entity.CameraUnionDevice">
        SELECT
        b.preset_id AS cruise_id,
        a.camera_id,
        a.record_id,
        a.camera_name,
        b.preset_name
        FROM
        t_camera_info a,
        t_camera_preset b
        WHERE
        a.camera_id = b.camera_id
        <if test="modelName != null and modelName != ''">
        AND b.preset_id IN (
        SELECT
        tcp.preset_id
        FROM
        t_cruise_point_instance tcpi
        LEFT JOIN t_camera_preset tcp ON tcpi.cruise_id = tcp.preset_id
        WHERE
        tcpi.device_mete_id = #{modelName, jdbcType = VARCHAR}
        )
        </if>
        <if test="cameraName != null and cameraName != ''">
        AND a.camera_name = #{cameraName, jdbcType= VARCHAR}
        </if>
    </select>

    <select id="selectCameraInfoByName" parameterType="java.lang.String" resultType="com.yjh.platform.module.user.entity.TCameraInfoByDict">
        select<include refid="tongTong"></include>
        from t_camera_info a
        left JOIN t_dict_business b on a.vendor_id = b.dict_code and b.col_name = 'camera_vendor'
        LEFT JOIN t_dict_business d on a.camera_type = d.dict_code and d.col_name = 'camera_type'
        LEFT JOIN t_dict_business e on a.camera_model = e.dict_code and e.col_name = 'camera_model'
        LEFT JOIN t_std_region f on a.up_region_id = f.region_id
        LEFT JOIN t_camera_recorder g ON a.record_id = g.record_id
        where 1 = 1
        <if test="cameraName != null and cameraName != ''"> and a.camera_name = #{cameraName, jdbcType= VARCHAR}</if>
        order by a.camera_id
        limit 1

    </select>

    <select id="selectCruiseDeviceByType" parameterType="java.lang.Integer" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        SELECT
        a.robot_id,
        a.robot_code,
        a.robot_num,
        a.robot_name,
        a.nest_code,
        a.nest_name,
        a.robot_status,
        a.drone_type,
        d.dict_note AS drone_type_name,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,

        IF (
        IFNULL(a.identity_code, '') = '',
        a.identity_code,
        '••••••'
        ) AS identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,

        IF (
        IFNULL(a.Inferad_password, '') = '',
        a.Inferad_password,
        '••••••'
        ) AS Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        b.dict_note AS robot_factory_name,
        a.robot_factory,
        a.made_in,
        a.made_date,
        c.dict_note AS is_use_name,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        f.region_name,
        e.dict_note AS robot_position_name,
        a.robot_position,
        h.dict_note AS drone_position_name,
        a.drone_position,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks,
        a.record_id,
        a.channel_num_light,
        a.channel_num_inferad,
        g.record_name
        FROM
        t_robot_info a
        <if test="deviceType == null or deviceType == 1">
        JOIN t_dict_business d ON a.robot_type = d.dict_code
        AND d.col_name = 'robot_type'
        </if>
        <if test="deviceType != null and deviceType == 2">
            JOIN t_dict_business d ON a.drone_type = d.dict_code
            AND d.col_name = 'drone_type'
        </if>
        LEFT JOIN t_dict_business b ON a.robot_factory = b.dict_code
        AND b.col_name = 'robot_factory'
        LEFT JOIN t_dict_business c ON a.is_use = c.dict_code
        AND c.col_name = 'robot_use'
        LEFT JOIN t_dict_business e ON a.robot_position = e.dict_code
        AND e.col_name = 'robot_position'
        LEFT JOIN t_dict_business h ON a.drone_position = h.dict_code
        AND h.col_name = 'drone_position'
        LEFT JOIN t_std_region f ON f.region_id = a.up_region_id
        LEFT JOIN t_camera_recorder g ON a.record_id = g.record_id
        WHERE
        1 = 1
        AND a.robot_status = '在线'
        ORDER BY
        robot_id
        LIMIT 1
    </select>

</mapper>
