<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.iot.dao.TIotDeviceMapper">

    <resultMap id="BaseResultMap" type="com.yjh.platform.module.iot.entity.TIotDevice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="iotDeviceType" column="iot_device_type" jdbcType="INTEGER"/>
            <result property="protocolModel" column="protocol_model" jdbcType="VARCHAR"/>
            <result property="meterType" column="meter_type" jdbcType="BIGINT"/>
            <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
            <result property="upRegionName" column="up_region_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createPerson" column="create_person" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updatePerson" column="update_person" jdbcType="VARCHAR"/>
            <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
            <result property="magnificationCoefficient" column="magnification_coefficient" jdbcType="INTEGER"/>
            <result property="collectionFrequency" column="collection_frequency" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,device_name,ip,
        port,address,iot_device_type,
        protocol_model,device_id,up_region_id,
        up_region_name,create_time,create_person,update_time,
        update_person,edge_code,magnification_coefficient,
        collection_frequency
    </sql>
    <select id="selectDeviceByRegionId" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT DISTINCT
            b.id AS Id,
            b.device_name AS label,
            b.up_region_id AS upId,
            d.region_name AS upName,
            "device" AS infoType
        FROM
            t_iot_device b
        LEFT JOIN t_std_region d ON b.up_region_id = d.region_id
        where b.up_region_id =#{upRegionId}
    </select>
    <select id="selectIotDeviceByName" resultType="java.lang.Long">
        SELECT
        id
        FROM
        t_iot_device
        where 1 = 1
        <if test="name != null and name != ''"> and device_name like concat('%',#{name, jdbcType=VARCHAR},'%')</if>
    </select>
    <select id="selectRegionByIotDeviceList" resultType="java.lang.Long">
        SELECT DISTINCT
        up_region_id
        FROM
        t_iot_device
        WHERE id in
        (<foreach collection="list" item="item" separator=",">
        #{item.deviceId}
        </foreach>)
    </select>
    <select id="selectIotDeviceByNameTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
        FROM t_std_region a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        where a.region_id in (
        <foreach collection="regionList" item="regionId" separator=",">
            #{regionId}
        </foreach>
        )
        UNION ALL (
        SELECT DISTINCT b.id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName,
        "device" AS infoType
        FROM t_iot_device b
        LEFT JOIN t_std_region d ON b.up_region_id = d.region_id
        where b.id in (
        <foreach collection="list" item="item" separator=",">
            #{item.deviceId}
        </foreach>
        )
        )
    </select>

    <select id="selectIotDeviceInfo" resultType="com.yjh.platform.module.iot.entity.IotDeviceDataEx">
        SELECT
            point.id as pointId,
            point.point_name,
            point.iot_device_id,
            point.iot_device_name,
            point.unit,
            point.channel_num,
            point.extend,
            device.*
        FROM
            t_iot_device device
        LEFT JOIN t_iot_device_point point ON device.id = point.iot_device_id
    </select>

    <select id="selectLinkageConfig" resultType="com.yjh.platform.module.iot.entity.LinkageConfig">
        SELECT
            *
        FROM
            linkage_config device
    </select>
</mapper>
