<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.iot.dao.TIotDeviceDataMapper">

    <resultMap id="BaseResultMap" type="com.yjh.platform.module.iot.entity.TIotDeviceData">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="pointId" column="point_id" jdbcType="BIGINT"/>
        <result property="pointName" column="point_name" jdbcType="VARCHAR"/>
        <result property="iotDeviceId" column="iot_device_id" jdbcType="BIGINT"/>
        <result property="iotDeviceName" column="iot_device_name" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="magnificationCoefficient" column="magnification_coefficient" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,point_id,point_name,
        iot_device_id,iot_device_name,value,
        unit,up_region_id,create_time,
        magnification_coefficient
    </sql>


    <select id="selectInfoByIp" resultType="com.yjh.platform.module.iot.entity.IotDeviceDataEx">
        SELECT
            point.id as pointId,
            point.point_name,
            point.iot_device_id,
            point.iot_device_name,
            point.unit,
            device.up_region_id,
            device.magnification_coefficient,
            point.channel_num,
            device.iot_device_type,
            device.ip,
            device.port,
            device.address,
            device.meter_type,
            device.up_region_name
        FROM
            t_iot_device device
        LEFT JOIN t_iot_device_point point ON device.id = point.iot_device_id
        where device.ip = #{ip}
    </select>

    <select id="selectIotData"  resultType="com.yjh.platform.module.iot.entity.IotDeviceDataEx">
        SELECT
        point.iot_device_id,
        point.iot_device_name,
        point.id AS point_id,
        point.channel_num,
        point.point_name,
        device.iot_device_type,
        device.controllable,
        device.magnification_coefficient,
        device.address,
        device.up_region_id,
        point.unit,
        robot.robot_code,
        b.up_dict AS type
        FROM
        t_iot_device device
        LEFT JOIN t_iot_device_point point ON device.id = point.iot_device_id
        LEFT JOIN t_robot_info robot ON robot.robot_ip = device.ip AND device.protocol_model = 7
        LEFT JOIN t_dict_business b ON device.iot_device_type = b.dict_code AND b.col_name = 'iot_device_type'
        WHERE 1 = 1
        <if test="iotDeviceType == null">
            and device.iot_device_type != 840
        </if>
        <if test="iotDeviceType == 840">
            and device.iot_device_type = 840
        </if>
        <if test="list.size > 0"> and device.up_region_id in
            <foreach collection="list" item="regionId" separator="," open="(" close=")">
                #{regionId}
            </foreach></if>
        GROUP BY point.id
    </select>
    <select id="selectMeterData" resultType="com.yjh.platform.module.iot.entity.TIotDeviceData">
        SELECT
            a.*
        FROM
            (
                SELECT
                    *, DATE_FORMAT(create_time, '%Y-%m-%d') AS lastTime
                FROM
                    t_iot_device_data
                WHERE
                    point_id IN
                    <foreach collection="list" item="pointId" separator="," open="(" close=")">
                        #{pointId}
                    </foreach>
                GROUP BY point_id,lastTime
                ORDER BY lastTime DESC
        ) a
                LEFT JOIN (
                SELECT
                    create_time,
                    point_id,
                    DATE_FORMAT(create_time, '%Y-%m-%d') AS lastTime
                FROM
                    t_iot_device_data
                WHERE
                    point_id IN
                    <foreach collection="list" item="pointId" separator="," open="(" close=")">
                        #{pointId}
                    </foreach>
                GROUP BY point_id,lastTime
                ORDER BY lastTime DESC
            ) b ON a.point_id = b.point_id
                AND a.lastTime = DATE_ADD(b.lastTime, INTERVAL 1 DAY)
    </select>
    <select id="selectMeterLine" resultType="com.yjh.platform.module.iot.entity.TIotDeviceData">
        SELECT
            b.id,
            b.point_id,
            b.point_name,
            b.iot_device_id,
            b.iot_device_name,
            ROUND(b.`value` - a.`value`, 2) * b.magnification_coefficient AS `value`,
            b.unit,
            b.up_region_id,
            b.create_time,
            b.magnification_coefficient
        FROM
            (
                SELECT
                    *, DATE_FORMAT(create_time, '%Y-%m-%d') AS lastTime
                FROM
                    t_iot_device_data
                where iot_device_id = #{iotDeviceId}
                   and create_time between #{startTime} and #{endTime}
                GROUP BY
                    lastTime
                ORDER BY
                    create_time
            ) b
                LEFT JOIN (
                SELECT
                    *, DATE_FORMAT(create_time, '%Y-%m-%d') AS lastTime
                FROM
                    t_iot_device_data
                where iot_device_id = #{iotDeviceId}
                  and create_time between #{startTime} and #{endTime}
                GROUP BY
                    lastTime
                ORDER BY
                    create_time
            ) a ON b.lastTime = DATE_ADD(a.lastTime, INTERVAL 1 DAY)
        WHERE a.`value` is not null
    </select>
    <select id="countPowerTotalByEdge" resultType="java.util.Map">
        SELECT ROUND(SUM(a.`value` * a.magnification_coefficient), 2) AS allTotal,
               b.region_name  AS regionName
        FROM (
                 SELECT (CASE
                             WHEN a.`value` - b.`value` &lt;= 0 or a.`value` - b.`value` &gt; 10 THEN 0
                             ELSE a.`value` - b.`value` END) AS `value`,
                        a.edge_code,
                        a.magnification_coefficient
                 FROM (
                          SELECT a.point_id,
                                 a.`value`,
                                 a.magnification_coefficient,
                                 a.create_time,
                                 a.edge_code,
                                 DATE_FORMAT(a.create_time, '%Y-%m-%d') AS lastTime
                          FROM t_iot_device_data a
                                   LEFT JOIN t_iot_device_point b ON a.point_id = b.id
                                   LEFT JOIN t_iot_device c ON b.iot_device_id = c.id
                          WHERE a.id in (SELECT id
                                         FROM t_iot_device_data
                                         WHERE iot_device_type = 840
                                           AND point_name LIKE '%正向有功总%')
                            AND c.meter_type = 1
                          GROUP BY a.point_id, lastTime
                          ORDER BY lastTime DESC
                      ) a
                          LEFT JOIN
                      (
                          SELECT a.point_id,
                                 a.`value`,
                                 a.magnification_coefficient,
                                 a.create_time,
                                 a.edge_code,
                                 DATE_FORMAT(a.create_time, '%Y-%m-%d') AS lastTime
                          FROM t_iot_device_data a
                                   LEFT JOIN t_iot_device_point b ON a.point_id = b.id
                                   LEFT JOIN t_iot_device c ON b.iot_device_id = c.id
                          WHERE a.id in (SELECT id
                                         FROM t_iot_device_data
                                         WHERE iot_device_type = 840
                                           AND point_name LIKE '%正向有功总%')
                            AND c.meter_type = 1
                          GROUP BY a.point_id, lastTime
                          ORDER BY lastTime DESC
                      ) b ON a.point_id = b.point_id
                          AND a.lastTime = DATE_ADD(b.lastTime, INTERVAL 1 DAY)
                 WHERE a.create_time between #{startTime} and #{endTime}
             ) a
                 LEFT JOIN t_std_region b ON a.edge_code = b.region_code
        WHERE b.state = 1
        GROUP BY a.edge_code
    </select>
</mapper>
