<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.iot.dao.TIotDeviceDataMapper">

    <resultMap id="BaseResultMap" type="com.yjh.platform.module.iot.entity.TIotDeviceData">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="pointId" column="point_id" jdbcType="BIGINT"/>
        <result property="pointName" column="point_name" jdbcType="VARCHAR"/>
        <result property="iotDeviceId" column="iot_device_id" jdbcType="BIGINT"/>
        <result property="iotDeviceName" column="iot_device_name" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="magnificationCoefficient" column="magnification_coefficient" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,point_id,point_name,
        iot_device_id,iot_device_name,value,
        unit,up_region_id,create_time,
        magnification_coefficient
    </sql>


    <select id="selectInfoByIp" resultType="com.yjh.platform.module.iot.entity.IotDeviceDataEx">
        SELECT
            point.id as pointId,
            point.point_name,
            point.iot_device_id,
            point.iot_device_name,
            point.unit,
            device.up_region_id,
            device.magnification_coefficient,
            point.channel_num,
            device.iot_device_type,
            device.ip,
            device.port,
            device.address,
            device.device_id,
            device.up_region_name
        FROM
            t_iot_device device
        LEFT JOIN t_iot_device_point point ON device.id = point.iot_device_id
        where device.ip = #{ip}
    </select>

    <select id="selectIotData"  resultType="com.yjh.platform.module.iot.entity.IotDeviceDataEx">
        SELECT DISTINCT
        point.iot_device_id,
        point.iot_device_name,
        point.channel_num,
        point.point_name,
        device.iot_device_type,
        device.controllable,
        point.unit
        FROM
        t_iot_device device
        LEFT JOIN t_iot_device_point point ON device.id = point.iot_device_id
        where 1 = 1
        <if test="list.size > 0"> and device.up_region_id in
            <foreach collection="list" item="regionId" separator="," open="(" close=")">
                #{regionId}
            </foreach></if>
    </select>
</mapper>
