<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.NonhomologousWarnDao">

    <insert id="insertNonhomologousWarnInfo"  parameterType="java.util.Map">
        insert into t_cruise_nonhomologous_warn(
            warn_id,
            device_name,
            device_type_name,
            device_mete_name,
            instance_id,
            device_mete_id,
            warn_content,
            warn_time,
            warn_type,
            one_cruise_device_name,
            two_cruise_device_name,
            three_cruise_device_name
        )values(
                   #{warnId, jdbcType=VARCHAR},
                   #{deviceName, jdbcType=VARCHAR},
                   #{deviceTypeName, jdbcType=VARCHAR},
                   #{deviceMeteName, jdbcType=VARCHAR},
                   #{instanceId, jdbcType=VARCHAR},
                   #{deviceMeteId, jdbcType=BIGINT},
                   #{warnContent, jdbcType=VARCHAR},
                   sysdate(),
                   #{warnType, jdbcType=INTEGER},
                   #{oneCruiseDeviceName, jdbcType=VARCHAR},
                   #{twoCruiseDeviceName, jdbcType=VARCHAR},
                   #{threeCruiseDeviceName, jdbcType=VARCHAR}
               )
    </insert>

    <insert id="insertWarnInspections"  parameterType="java.util.List">
        insert into t_cruise_nonhomologous_warn_inspection(
        warn_id,
        task_id,
        inspection_id
        )values
        <foreach collection="list" item="inspections" separator=",">
            (
            #{inspections.warnId, jdbcType=VARCHAR},
            #{inspections.taskId, jdbcType=VARCHAR},
            #{inspections.inspectionId, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <select id="checkWarnExist" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from t_cruise_nonhomologous_warn_inspection a inner join t_cruise_nonhomologous_warn b on a.warn_id = b.warn_id
        inner join t_cruise_nonhomologous_point_instance c on c.instance_id = b.instance_id
        where a.task_id = #{taskId, jdbcType=VARCHAR} and a.inspection_id = #{instanceId, jdbcType=BIGINT} and c.instance_id = #{nonInstanceId, jdbcType=BIGINT}
    </select>

    <select id="getNonhomologousInspections" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.instance_id as instanceId,
        a.device_mete_id as deviceMeteId,
        a.instance_id_one as instanceIdOne,
        a.instance_id_two as instanceIdTwo,
        b.cruise_name as oneCruiseName,
        c.cruise_name as twoCruiseName,
        a.warn_threshold as warnThreshold,
        a.interval_type as intervalType,
        a.cruise_type as warnType,
        e.device_mame AS deviceName,
        k.dict_note AS deviceTypeName,
        d.mete_name AS deviceMeteName,
        if (a.instance_id_one = #{deviceId},a.instance_id_two,a.instance_id_one) as oldId
        from t_cruise_nonhomologous_point_instance a
        left join t_cruise_point_instance b on b.instance_id = a.instance_id_one
        left join t_cruise_point_instance c on c.instance_id = a.instance_id_two
        LEFT JOIN t_std_devicemete d ON d.device_mete_id = a.device_mete_id
        LEFT JOIN t_std_device e ON e.device_id = d.device_id
        LEFT JOIN t_dict_business k ON k.dict_code = e.device_type
        where a.instance_id_one = #{deviceId} or a.instance_id_two = #{deviceId}
    </select>

    <select id="selectWarnResults" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.task_id as taskId,
        a.instance_id as inspectionId,
        a.result_num as resultValue
        from u_patrol_data_result a
        where a.instance_id = #{inspectionId}
        and a.createtime is not null and (select (a.result_num REGEXP '[^0-9.]'))=0
        <if test="type == 6" >
            and a.createtime between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
        </if>
        order by a.createtime desc
        <if test="type == 7" >
            limit 4
        </if>
    </select>
    <select id="selectLastResultNum"  resultType="java.util.HashMap">
        select
        a.result_num as lastValue,
        a.task_id as taskId
        from u_patrol_data_result a
        where a.instance_id = #{instanceId}
        and result_num in
        <foreach collection="list" separator="," open="(" close=")" item="resultNum">
        #{resultNum}
        </foreach>
        order by a.cruise_time desc
        limit 1
    </select>

    <select id="getInstanceIdByDeviceId" resultType="java.util.Map">
        SELECT DISTINCT
            a.instance_id AS inspectionId,
            b.inspection_name AS inspectionName,
            a.device_mete_id AS deviceMeteId,
            c.task_id AS taskId
        FROM
            t_cruise_point_instance a
                LEFT JOIN t_robot_inspection b ON a.cruise_id = b.inspection_id
                LEFT JOIN u_patrol_task_attr c ON c.instance_id = a.instance_id
        WHERE FIND_IN_SET(b.inspection_code, #{deviceId, jdbcType=VARCHAR})
          and c.task_id = #{taskId, jdbcType=VARCHAR}
    </select>

    <select id="getInspectionIdByDeviceId" resultType="java.lang.Long">
        select inspection_id
        from  t_robot_inspection
        where inspection_code = #{deviceId, jdbcType=VARCHAR}
    </select>

    <select id="selectTriphaseInspections" resultType="java.util.Map">
        select
        a.triphase_id as triphaseId,
        a.triphase_name as triphaseName,
        a.device_mete_id as deviceMeteId,
        a.device_id as deviceId,
        a.instance_one_id as instanceOneId,
        a.instance_one_name as instanceOneName,
        a.instance_two_id as instanceTwoId,
        a.instance_two_name as instanceTwoName,
        a.instance_tri_id as instanceTriId,
        a.instance_tri_name as instanceTriName,
        a.identify_type as identifyType,
        a.identify_son_type as identifySonType,
        a.triphase_type as triphaseType,
        a.warn_threshold as warnThreshold,
        a.warn_level as warnLevel
        from t_cruise_triphase_rule a
        where a.instance_one_id = #{instanceId} or a.instance_two_id = #{instanceId} or a.instance_tri_id = #{instanceId}
    </select>

    <select id="selectInsList" resultType="java.util.HashMap">
        select
            instance_id_one as one,
            instance_id_two as two
        from t_cruise_nonhomologous_point_instance
        where instance_id = #{instanceId}
    </select>

    <select id="selectInsListByTri" resultType="java.util.HashMap">
        select
            instance_one_id as one,
            instance_two_id as two,
            instance_tri_id as three
        from t_cruise_triphase_rule
        where triphase_id = #{instanceId}
    </select>
</mapper>
