<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mabatis.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mabatis.mapper.dtd">
<mabatis.mapper namespace="com.yjh.platform.module.device.dao.TRobotInspectionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TRobotInspection">
        <id column="inspection_id" jdbcType="BIGINT" property="inspectionId" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="inspection_name" jdbcType="VARCHAR" property="inspectionName" />
        <result column="inspection_type" jdbcType="INTEGER" property="inspectionType" />
        <result column="alarm_top" jdbcType="VARCHAR" property="alarmTop" />
        <result column="alarm_bottom" jdbcType="VARCHAR" property="alarmBottom" />
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
        <result column="inspection_postion" jdbcType="INTEGER" property="inspectionPostion" />
        <result column="collect_status" jdbcType="INTEGER" property="collectStatus" />
        <result column="calibration_status" jdbcType="INTEGER" property="calibrationStatus" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inspection_id, robot_id, inspection_name, inspection_type, alarm_top, alarm_bottom, default_value, inspection_postion, collect_status, calibration_status, unit
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="inspectionId" parameterType="com.yjh.platform.module.device.entity.TRobotInspection">
        insert into t_robot_inspection(
            inspection_id,
            robot_id,
            inspection_name,
            inspection_type,
            alarm_top,
            alarm_bottom,
            default_value,
            inspection_postion,
            collect_status,
            calibration_status,
            unit
        )values(
                #{inspectionId, jdbcType=BIGINT},
                #{robotId, jdbcType=BIGINT},
                #{inspectionName, jdbcType=VARCHAR},
                #{inspectionType, jdbcType=INTEGER},
                #{alarmTop, jdbcType=VARCHAR},
                #{alarmBottom, jdbcType=VARCHAR},
                #{defaultValue, jdbcType=VARCHAR},
                #{inspectionPostion, jdbcType=INTEGER},
                #{collectStatus, jdbcType=INTEGER},
                #{calibrationStatus, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_inspection
                where inspection_id = #{inspectionId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TRobotInspection">
        update t_robot_inspection a <set>
        <if test="inspectionId != null and inspectionId != ''">a.inspection_id = #{inspectionId, jdbcType=BIGINT},</if>
        <if test="robotId != null and robotId != ''">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="inspectionName != null and inspectionName != ''">a.inspection_name = #{inspectionName, jdbcType=VARCHAR},</if>
        <if test="inspectionType != null and inspectionType != ''">a.inspection_type = #{inspectionType, jdbcType=INTEGER},</if>
        <if test="alarmTop != null and alarmTop != ''">a.alarm_top = #{alarmTop, jdbcType=VARCHAR},</if>
        <if test="alarmBottom != null and alarmBottom != ''">a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR},</if>
        <if test="defaultValue != null and defaultValue != ''">a.default_value = #{defaultValue, jdbcType=VARCHAR},</if>
        <if test="inspectionPostion != null and inspectionPostion != ''">a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER},</if>
        <if test="collectStatus != null and collectStatus != ''">a.collect_status = #{collectStatus, jdbcType=INTEGER},</if>
        <if test="calibrationStatus != null and calibrationStatus != ''">a.calibration_status = #{calibrationStatus, jdbcType=INTEGER},</if>
        <if test="unit != null and unit != ''">a.unit = #{unit, jdbcType=VARCHAR},</if>
    </set>
            where a.inspection_id = #{inspectionId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
            and a.inspection_id = #{inspectionId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TRobotInspection" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null and inspectionType != ''"> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="alarmTop != null and alarmTop != ''"> and a.alarm_top = #{alarmTop, jdbcType=VARCHAR}</if>
        <if test="alarmBottom != null and alarmBottom != ''"> and a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR}</if>
        <if test="defaultValue != null and defaultValue != ''"> and a.default_value = #{defaultValue, jdbcType=VARCHAR}</if>
        <if test="inspectionPostion != null and inspectionPostion != ''"> and a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER}</if>
        <if test="collectStatus != null and collectStatus != ''"> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null and calibrationStatus != ''"> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TRobotInspection" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_postion,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null and inspectionType != ''"> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="alarmTop != null and alarmTop != ''"> and a.alarm_top = #{alarmTop, jdbcType=VARCHAR}</if>
        <if test="alarmBottom != null and alarmBottom != ''"> and a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR}</if>
        <if test="defaultValue != null and defaultValue != ''"> and a.default_value = #{defaultValue, jdbcType=VARCHAR}</if>
        <if test="inspectionPostion != null and inspectionPostion != ''"> and a.inspection_postion = #{inspectionPostion, jdbcType=INTEGER}</if>
        <if test="collectStatus != null and collectStatus != ''"> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null and calibrationStatus != ''"> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_robot_inspection(
            inspection_id,
            robot_id,
            inspection_name,
            inspection_type,
            alarm_top,
            alarm_bottom,
            default_value,
            inspection_postion,
            collect_status,
            calibration_status,
            unit
        )values
        <foreach collection="list" item="TRobotInspection" separator=",">
            (
                #{TRobotInspection.inspectionId, jdbcType=BIGINT},
                #{TRobotInspection.robotId, jdbcType=BIGINT},
                #{TRobotInspection.inspectionName, jdbcType=VARCHAR},
                #{TRobotInspection.inspectionType, jdbcType=INTEGER},
                #{TRobotInspection.alarmTop, jdbcType=VARCHAR},
                #{TRobotInspection.alarmBottom, jdbcType=VARCHAR},
                #{TRobotInspection.defaultValue, jdbcType=VARCHAR},
                #{TRobotInspection.inspectionPostion, jdbcType=INTEGER},
                #{TRobotInspection.collectStatus, jdbcType=INTEGER},
                #{TRobotInspection.calibrationStatus, jdbcType=INTEGER},
                #{TRobotInspection.unit, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



</mabatis.mapper>
