<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TRobotInspectionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TRobotInspection">
        <id column="inspection_id" jdbcType="BIGINT" property="inspectionId" />
        <result column="inspection_code" jdbcType="VARCHAR" property="inspectionCode" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="inspection_name" jdbcType="VARCHAR" property="inspectionName" />
        <result column="inspection_type" jdbcType="INTEGER" property="inspectionType" />
        <result column="alarm_top" jdbcType="VARCHAR" property="alarmTop" />
        <result column="alarm_bottom" jdbcType="VARCHAR" property="alarmBottom" />
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
        <result column="inspection_position" jdbcType="INTEGER" property="inspectionPosition" />
        <result column="collect_status" jdbcType="INTEGER" property="collectStatus" />
        <result column="calibration_status" jdbcType="INTEGER" property="calibrationStatus" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        inspection_id,inspection_code, robot_id, inspection_name, inspection_type, alarm_top, alarm_bottom, default_value, inspection_position, collect_status, calibration_status, unit
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="inspectionId" parameterType="com.yjh.platform.module.device.entity.TRobotInspection">
        insert into t_robot_inspection(
            inspection_id,
            inspection_code,
            robot_id,
            inspection_name,
            inspection_type,
            alarm_top,
            alarm_bottom,
            default_value,
            inspection_position,
            collect_status,
            calibration_status,
            unit
        )values(
                #{inspectionId, jdbcType=BIGINT},
                #{inspectionCode,jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{inspectionName, jdbcType=VARCHAR},
                #{inspectionType, jdbcType=INTEGER},
                #{alarmTop, jdbcType=VARCHAR},
                #{alarmBottom, jdbcType=VARCHAR},
                #{defaultValue, jdbcType=VARCHAR},
                #{inspectionPosition, jdbcType=INTEGER},
                #{collectStatus, jdbcType=INTEGER},
                #{calibrationStatus, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_inspection
                where inspection_id = #{inspectionId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TRobotInspection">
        update t_robot_inspection a <set>
        <if test="inspectionId != null ">a.inspection_id = #{inspectionId},</if>
        <if test="inspectionCode != null">a.inspection_code = #{inspectionCode},</if>
        <if test="robotId != null ">a.robot_id = #{robotId},</if>
        <if test="inspectionName != null ">a.inspection_name = #{inspectionName},</if>
        <if test="inspectionType != null ">a.inspection_type = #{inspectionType, jdbcType=INTEGER},</if>
        <if test="alarmTop != null ">a.alarm_top = #{alarmTop},</if>
        <if test="alarmBottom != null ">a.alarm_bottom = #{alarmBottom},</if>
        <if test="defaultValue != null ">a.default_value = #{defaultValue},</if>
        <if test="inspectionPosition != null ">a.inspection_position = #{inspectionPosition, jdbcType=INTEGER},</if>
        <if test="collectStatus != null ">a.collect_status = #{collectStatus, jdbcType=INTEGER},</if>
        <if test="calibrationStatus != null ">a.calibration_status = #{calibrationStatus, jdbcType=INTEGER},</if>
        <if test="unit != null ">a.unit = #{unit},</if>
    </set>
            where a.inspection_id = #{inspectionId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.inspection_code,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_position,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
            and a.inspection_id = #{inspectionId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TRobotInspection" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.inspection_code,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_position,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="inspectionCode != null and inspectionCode != ''"> and a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null "> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="alarmTop != null and alarmTop != ''"> and a.alarm_top = #{alarmTop, jdbcType=VARCHAR}</if>
        <if test="alarmBottom != null and alarmBottom != ''"> and a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR}</if>
        <if test="defaultValue != null and defaultValue != ''"> and a.default_value = #{defaultValue, jdbcType=VARCHAR}</if>
        <if test="inspectionPosition != null "> and a.inspection_position = #{inspectionPosition, jdbcType=INTEGER}</if>
        <if test="collectStatus != null "> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null"> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TRobotInspection" resultType="com.yjh.platform.module.device.entity.TRobotInspection">
        select
        a.inspection_id,
        a.inspection_code,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_position,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="inspectionCode != null and inspectionCode != ''"> and a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null "> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="alarmTop != null and alarmTop != ''"> and a.alarm_top = #{alarmTop, jdbcType=VARCHAR}</if>
        <if test="alarmBottom != null and alarmBottom != ''"> and a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR}</if>
        <if test="defaultValue != null and defaultValue != ''"> and a.default_value = #{defaultValue, jdbcType=VARCHAR}</if>
        <if test="inspectionPosition != null "> and a.inspection_position = #{inspectionPosition, jdbcType=INTEGER}</if>
        <if test="collectStatus != null "> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null "> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_robot_inspection(
            inspection_id,
            inspection_code,
            robot_id,
            inspection_name,
            inspection_type,
            alarm_top,
            alarm_bottom,
            default_value,
            inspection_position,
            collect_status,
            calibration_status,
            unit
        )values
        <foreach collection="list" item="TRobotInspection" separator=",">
            (
                #{TRobotInspection.inspectionId, jdbcType=BIGINT},
                #{TRobotInspection.inspectionCode, jdbcType=VARCHAR},
                #{TRobotInspection.robotId, jdbcType=BIGINT},
                #{TRobotInspection.inspectionName, jdbcType=VARCHAR},
                #{TRobotInspection.inspectionType, jdbcType=INTEGER},
                #{TRobotInspection.alarmTop, jdbcType=VARCHAR},
                #{TRobotInspection.alarmBottom, jdbcType=VARCHAR},
                #{TRobotInspection.defaultValue, jdbcType=VARCHAR},
                #{TRobotInspection.inspectionPosition, jdbcType=INTEGER},
                #{TRobotInspection.collectStatus, jdbcType=INTEGER},
                #{TRobotInspection.calibrationStatus, jdbcType=INTEGER},
                #{TRobotInspection.unit, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectForRobotTask" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT DISTINCT
            b.robot_code
        FROM
            t_robot_inspection a
            left join t_robot_info b on a.robot_id = b.robot_id
        WHERE
            a.inspection_id IN
            <foreach collection="list" open="(" close=")" separator="," item="inspectionId">
                #{inspectionId,jdbcType=BIGINT}
            </foreach>
    </select>

    <select id="selectRobotTaskInstanceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
        a.instance_id
        FROM
        t_cruise_point_instance a
        WHERE
        a.cruise_id IN ( SELECT inspection_id FROM t_robot_inspection WHERE ( SELECT robot_id FROM t_robot_info WHERE robot_code = #{robotCode,jdbcType=VARCHAR} ))
        AND a.instance_id IN
        <foreach collection="list" open="(" close=")" separator="," item="instanceId">
            #{instanceId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectRobotInspectionIds" resultType="com.yjh.platform.module.task.entity.ConfirmImmediately">
        SELECT
        a.inspection_id, a.robot_id, b.robot_name, b.robot_code
        FROM
        t_robot_inspection a
        left join t_robot_info b ON a.robot_id = b.robot_id
    </select>

    <select id="selectRobotTaskMessage" resultType="com.yjh.platform.module.device.entity.TCruisePointAttr">
        SELECT
            e.device_name as attrName,
			(CASE
            WHEN ISNULL(g.mete_name) AND ISNULL(a.inspection_name) THEN ''
            WHEN ISNULL(g.mete_name)  THEN a.inspection_name
            WHEN ISNULL(a.inspection_name)  THEN g.mete_name
            ELSE CONCAT(g.mete_name,'/',a.inspection_name)
            END) AS instance_name,
            f.instance_id
        FROM
            t_cruise_point_instance f
        left join (SELECT DISTINCT device_id,device_name from t_std_device) e on e.device_id = f.device_id
		left join t_robot_inspection a on f.cruise_id = a.inspection_id
		left join t_std_devicemete g on f.device_mete_id = g.device_mete_id
        WHERE
            f.instance_id in <foreach collection="list" open="(" close=")" separator="," item="instanceId">
        #{instanceId,jdbcType=BIGINT}
    </foreach>
    </select>

    <select id="selectRobotInfo" resultType="com.yjh.platform.module.device.entity.Robot">
        SELECT
            a.robot_id,
            a.robot_code,
            a.robot_name,
            a.robot_status,
            a.robot_type,
            b.dict_note AS robotTypeName,
            a.robot_position,
            c.dict_note AS robotPositionName,
            a.phote_path
        FROM
            t_robot_info a
            LEFT JOIN t_dict_business b ON a.robot_type = b.dict_code
            LEFT JOIN t_dict_business c ON a.robot_position = c.dict_code
        where 1=1

    </select>
    
    <select id="selectRobotIsRunning" resultType="java.lang.String">
        SELECT DISTINCT
            e.robot_code
        FROM
            t_cruise_task a
            LEFT JOIN t_cruise_plan_attr b ON a.plan_id = b.plan_id
            LEFT JOIN t_cruise_point_instance c ON b.instance_id = c.instance_id
            LEFT JOIN t_robot_inspection d ON c.cruise_id = d.inspection_id
            LEFT JOIN t_robot_info e ON d.robot_id = e.robot_id
        where 1=1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectRobotCode" resultType="java.lang.String">
        select robot_code
        from t_robot_info
        where robot_id = #{robotId,jdbcType=BIGINT}
    </select>

</mapper>
