<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TRobotAlarmDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TRobotAlarm">
        <id column="robot_alarm_id" jdbcType="BIGINT" property="robotAlarmId" />
        <result column="alarm_name" jdbcType="VARCHAR" property="alarmName" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="station_id" jdbcType="VARCHAR" property="stationId" />
        <result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
        <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
        <result column="alarm_info" jdbcType="VARCHAR" property="alarmInfo" />
        <result column="alarm_time" jdbcType="TIMESTAMP" property="alarmTime" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="position_station_num" jdbcType="VARCHAR" property="positionStationNum" />
        <result column="position_offset" jdbcType="VARCHAR" property="positionOffset" />
        <result column="alarm_state" jdbcType="INTEGER" property="alarmState" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        robot_alarm_id, alarm_name, robot_id, station_id, alarm_type, alarm_level, alarm_info, alarm_time, deal_type, deal_info, deal_person_id, deal_time, position_station_num, position_offset, alarm_state, create_time, end_time
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="robotAlarmId" parameterType="com.yjh.platform.module.task.entity.TRobotAlarm">
        insert into t_robot_alarm(
            robot_alarm_id,
            alarm_name,
            robot_id,
            station_id,
            alarm_type,
            alarm_level,
            alarm_info,
            alarm_time,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            position_station_num,
            position_offset,
            alarm_state,
            create_time,
            end_time
        )values(
                #{robotAlarmId, jdbcType=BIGINT},
                #{alarmName, jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{stationId, jdbcType=VARCHAR},
                #{alarmType, jdbcType=INTEGER},
                #{alarmLevel, jdbcType=INTEGER},
                #{alarmInfo, jdbcType=VARCHAR},
                #{alarmTime, jdbcType=TIMESTAMP},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{positionStationNum, jdbcType=VARCHAR},
                #{positionOffset, jdbcType=VARCHAR},
                #{alarmState, jdbcType=INTEGER},
                #{createTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_alarm
                where robot_alarm_id = #{robotAlarmId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TRobotAlarm">
        update t_robot_alarm a <set>
        <if test="robotAlarmId != null">a.robot_alarm_id = #{robotAlarmId},</if>
        <if test="alarmName != null">a.alarm_name = #{alarmName},</if>
        a.robot_id = #{robotId},
        <if test="stationId != null ">a.station_id = #{stationId},</if>
        a.alarm_type = #{alarmType, jdbcType=INTEGER},
        a.alarm_level = #{alarmLevel, jdbcType=INTEGER},
        <if test="alarmInfo != null">a.alarm_info = #{alarmInfo},</if>
        <if test="alarmTime != null ">a.alarm_time = #{alarmTime},</if>
        a.deal_type = #{dealType, jdbcType=INTEGER},
        <if test="dealInfo != null">a.deal_info = #{dealInfo},</if>
        a.deal_person_id = #{dealPersonId},
        <if test="dealTime != null ">a.deal_time = #{dealTime, jdbcType=TIMESTAMP},</if>
        <if test="positionStationNum != null">a.position_station_num = #{positionStationNum},</if>
        <if test="positionOffset != null ">a.position_offset = #{positionOffset},</if>
        <if test="alarmState != null ">a.alarm_state = #{alarmState, jdbcType=INTEGER},</if>
        <if test="createTime != null">a.create_time = #{createTime},</if>
        <if test="endTime != null ">a.end_time = #{endTime},</if>
    </set>
            where a.robot_alarm_id = #{robotAlarmId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TRobotAlarm">
        select
        a.robot_alarm_id,
        a.alarm_name,
        a.robot_id,
        a.station_id,
        a.alarm_type,
        a.alarm_level,
        a.alarm_info,
        a.alarm_time,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.position_station_num,
        a.position_offset,
        a.alarm_state,
        a.create_time,
        a.end_time
        from t_robot_alarm a
        where 1 = 1
            and a.robot_alarm_id = #{robotAlarmId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TRobotAlarm" resultType="com.yjh.platform.module.task.entity.TRobotAlarm">
        select
        a.robot_alarm_id,
        a.alarm_name,
        a.robot_id,
        a.station_id,
        a.alarm_type,
        a.alarm_level,
        a.alarm_info,
        a.alarm_time,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.position_station_num,
        a.position_offset,
        a.alarm_state,
        a.create_time,
        a.end_time
        from t_robot_alarm a
        where 1 = 1
        <if test="robotAlarmId != null and robotAlarmId != ''"> and a.robot_alarm_id = #{robotAlarmId, jdbcType=BIGINT}</if>
        <if test="alarmName != null and alarmName != ''"> and a.alarm_name = #{alarmName, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="alarmType != null "> and a.alarm_type = #{alarmType, jdbcType=INTEGER}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="alarmInfo != null and alarmInfo != ''"> and a.alarm_info = #{alarmInfo, jdbcType=VARCHAR}</if>
        <if test="alarmTime != null and alarmTime != ''"> and a.alarm_time = #{alarmTime, jdbcType=TIMESTAMP}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null and dealTime != ''"> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="positionStationNum != null and positionStationNum != ''"> and a.position_station_num = #{positionStationNum, jdbcType=VARCHAR}</if>
        <if test="positionOffset != null and positionOffset != ''"> and a.position_offset = #{positionOffset, jdbcType=VARCHAR}</if>
        <if test="alarmState != null "> and a.alarm_state = #{alarmState, jdbcType=INTEGER}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="endTime != null and endTime != ''"> and a.end_time = #{endTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TRobotAlarm" resultType="com.yjh.platform.module.task.entity.TRobotAlarm">
        select
        a.robot_alarm_id,
        a.alarm_name,
        a.robot_id,
        a.station_id,
        a.alarm_type,
        a.alarm_level,
        a.alarm_info,
        a.alarm_time,
        a.deal_type,
        a.deal_info,
        a.deal_person_id,
        a.deal_time,
        a.position_station_num,
        a.position_offset,
        a.alarm_state,
        a.create_time,
        a.end_time
        from t_robot_alarm a
        where 1 = 1
        <if test="robotAlarmId != null and robotAlarmId != ''"> and a.robot_alarm_id = #{robotAlarmId, jdbcType=BIGINT}</if>
        <if test="alarmName != null and alarmName != ''"> and a.alarm_name = #{alarmName, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="alarmType != null "> and a.alarm_type = #{alarmType, jdbcType=INTEGER}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="alarmInfo != null and alarmInfo != ''"> and a.alarm_info = #{alarmInfo, jdbcType=VARCHAR}</if>
        <if test="alarmTime != null and alarmTime != ''"> and a.alarm_time = #{alarmTime, jdbcType=TIMESTAMP}</if>
        <if test="dealType != null "> and a.deal_type = #{dealType, jdbcType=INTEGER}</if>
        <if test="dealInfo != null and dealInfo != ''"> and a.deal_info = #{dealInfo, jdbcType=VARCHAR}</if>
        <if test="dealPersonId != null and dealPersonId != ''"> and a.deal_person_id = #{dealPersonId, jdbcType=VARCHAR}</if>
        <if test="dealTime != null and dealTime != ''"> and a.deal_time = #{dealTime, jdbcType=TIMESTAMP}</if>
        <if test="positionStationNum != null and positionStationNum != ''"> and a.position_station_num = #{positionStationNum, jdbcType=VARCHAR}</if>
        <if test="positionOffset != null and positionOffset != ''"> and a.position_offset = #{positionOffset, jdbcType=VARCHAR}</if>
        <if test="alarmState != null "> and a.alarm_state = #{alarmState, jdbcType=INTEGER}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="endTime != null and endTime != ''"> and a.end_time = #{endTime, jdbcType=TIMESTAMP}</if>
    </select>

    <insert id="batchInsert">
        insert into t_robot_alarm(
            robot_alarm_id,
            alarm_name,
            robot_id,
            station_id,
            alarm_type,
            alarm_level,
            alarm_info,
            alarm_time,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            position_station_num,
            position_offset,
            alarm_state,
            create_time,
            end_time
        )values
        <foreach collection="list" item="TRobotAlarm" separator=",">
            (
                #{TRobotAlarm.robotAlarmId, jdbcType=BIGINT},
                #{TRobotAlarm.alarmName, jdbcType=VARCHAR},
                #{TRobotAlarm.robotId, jdbcType=BIGINT},
                #{TRobotAlarm.stationId, jdbcType=VARCHAR},
                #{TRobotAlarm.alarmType, jdbcType=INTEGER},
                #{TRobotAlarm.alarmLevel, jdbcType=INTEGER},
                #{TRobotAlarm.alarmInfo, jdbcType=VARCHAR},
                #{TRobotAlarm.alarmTime, jdbcType=TIMESTAMP},
                #{TRobotAlarm.dealType, jdbcType=INTEGER},
                #{TRobotAlarm.dealInfo, jdbcType=VARCHAR},
                #{TRobotAlarm.dealPersonId, jdbcType=VARCHAR},
                #{TRobotAlarm.dealTime, jdbcType=TIMESTAMP},
                #{TRobotAlarm.positionStationNum, jdbcType=VARCHAR},
                #{TRobotAlarm.positionOffset, jdbcType=VARCHAR},
                #{TRobotAlarm.alarmState, jdbcType=INTEGER},
                #{TRobotAlarm.createTime, jdbcType=TIMESTAMP},
                #{TRobotAlarm.endTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>



</mapper>
