<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TRobotInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TRobotInfo">
        <id property="robotId" column="robot_id" jdbcType="BIGINT"/>
        <result property="robotCode" column="robot_code" jdbcType="VARCHAR"/>
        <result property="robotNum" column="robot_num" jdbcType="VARCHAR"/>
        <result property="robotName" column="robot_name" jdbcType="VARCHAR"/>
        <result property="nestName" column="nest_name" jdbcType="VARCHAR"/>
        <result property="nestCode" column="nest_code" jdbcType="VARCHAR"/>
        <result property="robotStatus" column="robot_status" jdbcType="VARCHAR"/>
        <result property="robotType" column="robot_type" jdbcType="INTEGER"/>
        <result property="droneType" column="drone_type" jdbcType="INTEGER"/>
        <result property="robotIp" column="robot_ip" jdbcType="VARCHAR"/>
        <result property="robotPort" column="robot_port" jdbcType="INTEGER"/>
        <result property="lightIp" column="light_ip" jdbcType="VARCHAR"/>
        <result property="lightPort" column="light_port" jdbcType="VARCHAR"/>
        <result property="identityManager" column="identity_manager" jdbcType="VARCHAR"/>
        <result property="identityCode" column="identity_code" jdbcType="VARCHAR"/>
        <result property="lnferadIp" column="lnferad_IP" jdbcType="VARCHAR"/>
        <result property="inferadPort" column="Inferad_Port" jdbcType="INTEGER"/>
        <result property="inferadUsername" column="Inferad_username" jdbcType="VARCHAR"/>
        <result property="inferadPassword" column="Inferad_password" jdbcType="VARCHAR"/>
        <result property="photePath" column="phote_path" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="robotFactory" column="robot_factory" jdbcType="VARCHAR"/>
        <result property="madeIn" column="made_in" jdbcType="VARCHAR"/>
        <result property="madeDate" column="made_date" jdbcType="TIMESTAMP"/>
        <result property="isUse" column="is_use" jdbcType="VARCHAR"/>
        <result property="commissionDate" column="commission_date" jdbcType="TIMESTAMP"/>
        <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
        <result property="robotPosition" column="robot_position" jdbcType="VARCHAR"/>
        <result property="dronePosition" column="drone_position" jdbcType="VARCHAR"/>
        <result property="robotSource" column="robot_source" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="buildingUser" column="building_user" jdbcType="VARCHAR"/>
        <result property="appearanceNumber" column="appearance_number" jdbcType="VARCHAR"/>
        <result property="defectRecord" column="defect_record" jdbcType="VARCHAR"/>
        <result property="repairRecord" column="repair_record" jdbcType="VARCHAR"/>
        <result property="exitPutintoRecord" column="exit_putInto_record" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="recordId" column="record_id" jdbcType="BIGINT"/>
        <result property="channelNumLight" column="channel_num_light" jdbcType="INTEGER"/>
        <result property="channelNumInferad" column="channel_num_inferad" jdbcType="INTEGER"/>
        <result property="lastOnlineTime" column="last_online_time" jdbcType="BIGINT"/>
        <result property="duration" column="duration" jdbcType="BIGINT"/>
        <result property="offLineCount" column="off_line_count" jdbcType="BIGINT"/>
        <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
        <result property="originId" column="origin_id" jdbcType="VARCHAR"/>
        <result property="imageSize" column="image_size" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        robot_id,robot_code,robot_num,
        robot_name,nest_name,nest_code,
        robot_status,robot_type,drone_type,
        robot_ip,robot_port,light_ip,
        light_port,identity_manager,identity_code,
        lnferad_IP,Inferad_Port,Inferad_username,
        Inferad_password,phote_path,create_by,
        create_date,update_by,update_date,
        robot_factory,made_in,made_date,
        is_use,commission_date,up_region_id,
        robot_position,drone_position,robot_source,
        address,building_user,appearance_number,
        defect_record,repair_record,exit_putInto_record,
        remarks,record_id,channel_num_light,
        channel_num_inferad,last_online_time,duration,
        off_line_count,edge_code,origin_id
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="robotId" parameterType="com.yjh.platform.module.user.entity.TRobotInfo">
        insert into t_robot_info
        ( robot_code,robot_num
        ,robot_name,nest_name,nest_code
        ,robot_status,robot_type,drone_type
        ,robot_ip,robot_port,light_ip
        ,light_port,identity_manager,identity_code
        ,lnferad_IP,Inferad_Port,Inferad_username
        ,Inferad_password,phote_path,create_by
        ,create_date,update_by,update_date
        ,robot_factory,made_in,made_date
        ,is_use,commission_date,up_region_id
        ,robot_position,drone_position,robot_source
        ,address,building_user,appearance_number
        ,defect_record,repair_record,exit_putInto_record
        ,remarks,record_id,channel_num_light
        ,channel_num_inferad,last_online_time,duration
        ,off_line_count,edge_code,origin_id,image_size
        )
        values (#{robotCode,jdbcType=VARCHAR},#{robotNum,jdbcType=VARCHAR}
               ,#{robotName,jdbcType=VARCHAR},#{nestName,jdbcType=VARCHAR},#{nestCode,jdbcType=VARCHAR}
               ,#{robotStatus,jdbcType=VARCHAR},#{robotType,jdbcType=INTEGER},#{droneType,jdbcType=INTEGER}
               ,#{robotIp,jdbcType=VARCHAR},#{robotPort,jdbcType=INTEGER},#{lightIp,jdbcType=VARCHAR}
               ,#{lightPort,jdbcType=VARCHAR},#{identityManager,jdbcType=VARCHAR},#{identityCode,jdbcType=VARCHAR}
               ,#{lnferadIp,jdbcType=VARCHAR},#{inferadPort,jdbcType=INTEGER},#{inferadUsername,jdbcType=VARCHAR}
               ,#{inferadPassword,jdbcType=VARCHAR},#{photePath,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR}
               ,#{createDate,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP}
               ,#{robotFactory,jdbcType=VARCHAR},#{madeIn,jdbcType=VARCHAR},#{madeDate,jdbcType=TIMESTAMP}
               ,#{isUse,jdbcType=VARCHAR},#{commissionDate,jdbcType=TIMESTAMP},#{upRegionId,jdbcType=BIGINT}
               ,#{robotPosition,jdbcType=VARCHAR},#{dronePosition,jdbcType=VARCHAR},#{robotSource,jdbcType=VARCHAR}
               ,#{address,jdbcType=VARCHAR},#{buildingUser,jdbcType=VARCHAR},#{appearanceNumber,jdbcType=VARCHAR}
               ,#{defectRecord,jdbcType=VARCHAR},#{repairRecord,jdbcType=VARCHAR},#{exitPutintoRecord,jdbcType=VARCHAR}
               ,#{remarks,jdbcType=VARCHAR},#{recordId,jdbcType=BIGINT},#{channelNumLight,jdbcType=INTEGER}
               ,#{channelNumInferad,jdbcType=INTEGER},#{lastOnlineTime,jdbcType=BIGINT},#{duration,jdbcType=BIGINT}
               ,#{offLineCount,jdbcType=BIGINT},#{edgeCode,jdbcType=VARCHAR},#{originId,jdbcType=VARCHAR},#{imageSize,jdbcType=VARCHAR}
               )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        DELETE a,b FROM
        t_robot_info a
        LEFT JOIN t_robot_region b ON a.robot_id = b.robot_id
        WHERE
	    a.robot_id = #{robotId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteInstance" parameterType="java.lang.Long">
        delete a from t_cruise_point_instance AS a,t_robot_inspection AS b
                where b.inspection_id = a.cruise_id
                AND b.robot_id = #{robotId, jdbcType=BIGINT}
    </delete>
    <delete id="deleteInspection" parameterType="java.lang.Long">
        delete from t_robot_inspection
                where robot_id = #{robotId, jdbcType=BIGINT}
    </delete>
    <delete id="deleteCruisePlan">
        DELETE a,b,c FROM
	    t_cruise_point_instance AS a,
	    u_patrol_plan_attr AS b,
	    t_cruise_plan AS c
        WHERE
	    b.instance_id = a.instance_id
        AND c.plan_id = b.plan_id
        AND b.robot_id = #{robotId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TRobotInfo">
        update t_robot_info a <set>
        <if test="robotId != null "> a.robot_id = #{robotId},</if>
        <if test="robotCode != null "> a.robot_code = #{robotCode},</if>
        <if test="robotNum != null "> a.robot_num = #{robotNum},</if>
        <if test="robotName != null ">a.robot_name = #{robotName},</if>
        <if test="nestCode != null ">a.nest_code = #{nestCode},</if>
        <if test="nestName != null ">a.nest_name = #{nestName},</if>
        <if test="robotStatus != null ">a.robot_status = #{robotStatus},</if>
        <if test="robotType != null ">a.robot_type = #{robotType, jdbcType=INTEGER},</if>
        <if test="droneType != null ">a.drone_type = #{droneType, jdbcType=INTEGER},</if>
        <if test="robotIp != null ">a.robot_ip = #{robotIp},</if>
        a.robot_port = #{robotPort, jdbcType=INTEGER},
        <if test="lightIp != null ">a.light_ip = #{lightIp},</if>
        <if test="lightPort != null ">a.light_port = #{lightPort},</if>
        <if test="identityManager != null ">a.identity_manager = #{identityManager},</if>
        <if test="identityCode != null and identityCode != '••••••'">a.identity_code = #{identityCode},</if>
        <if test="lnferadIp != null ">a.lnferad_IP = #{lnferadIp},</if>
        a.Inferad_Port = #{inferadPort, jdbcType=INTEGER},
        <if test="inferadUsername != null">a.Inferad_username = #{inferadUsername},</if>
        <if test="inferadPassword != null and inferadPassword != '••••••'">a.Inferad_password = #{inferadPassword},</if>
        <if test="photePath != null ">a.phote_path = #{photePath},</if>
        <if test="createBy != null">a.create_by = #{createBy},</if>
        <if test="createDate != null">a.create_date = #{createDate, jdbcType=TIMESTAMP},</if>
        <if test="updateBy != null ">a.update_by = #{updateBy},</if>
        <if test="updateDate != null">a.update_date = #{updateDate, jdbcType=TIMESTAMP},</if>
        a.robot_factory = #{robotFactory},
        <if test="madeIn != null">a.made_in = #{madeIn},</if>
        <if test="madeDate != null">a.made_date = #{madeDate, jdbcType=TIMESTAMP},</if>
        <if test="isUse != null ">a.is_use = #{isUse},</if>
        a.commission_date = #{commissionDate, jdbcType=TIMESTAMP},
        <if test="upRegionId != null ">a.up_region_id = #{upRegionId},</if>
        a.robot_position = #{robotPosition},
        a.drone_position = #{dronePosition},
        <if test="robotSource != null ">a.robot_source = #{robotSource},</if>
        <if test="address != null ">a.address = #{address},</if>
        <if test="buildingUser != null ">a.building_user = #{buildingUser},</if>
        <if test="appearanceNumber != null ">a.appearance_number = #{appearanceNumber},</if>
        <if test="defectRecord != null ">a.defect_record = #{defectRecord},</if>
        <if test="repairRecord != null ">a.repair_record = #{repairRecord},</if>
        <if test="exitPutIntoRecord != null ">a.exit_putInto_record = #{exitPutIntoRecord},</if>
        <if test="remarks != null ">a.remarks = #{remarks},</if>
        <choose>
            <when test="recordId != null and -1 == recordId">a.record_id = null,</when>
            <when test="recordId != null and -1 != recordId">a.record_id = #{recordId,jdbcType=BIGINT},</when>
        </choose>
        <if test="channelNumLight != null ">a.channel_num_light = #{channelNumLight},</if>
        <if test="channelNumInferad != null ">a.channel_num_inferad = #{channelNumInferad},</if>
        <if test="imageSize != null ">a.image_size = #{imageSize},</if>
    </set>
            where a.robot_id = #{robotId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        <include refid="Base_Column_List" />
        from t_robot_info a
        where 1 = 1
            and a.robot_id = #{robotId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_num,
        a.robot_name,
        a.nest_code,
        a.nest_name,
        a.robot_status,
        a.robot_type,
        a.drone_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        IF(IFNULL(a.identity_code, '') = '', a.identity_code, '••••••') AS identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        IF(IFNULL(a.Inferad_password, '') = '', a.Inferad_password, '••••••') AS Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.made_in,
        a.made_date,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.drone_position,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks,
        a.record_id,
        a.channel_num_light,
        a.channel_num_inferad
        from t_robot_info a
        where 1 = 1
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="robotCode != null and robotCode != ''"> and a.robot_code = #{robotCode, jdbcType=VARCHAR}</if>
        <if test="robotNum != null"> and a.robot_num = #{robotNum, jdbcType=VARCHAR}</if>
        <if test="robotName != null and robotName != ''"> and a.robot_name = #{robotName, jdbcType=VARCHAR}</if>
        <if test="nestCode != null and nestCode != ''"> and a.nest_code = #{nestCode, jdbcType=VARCHAR}</if>
        <if test="nestName != null and nestName != ''"> and a.nest_name = #{nestName, jdbcType=VARCHAR}</if>
        <if test="robotStatus != null and robotStatus != ''"> and a.robot_status = #{robotStatus, jdbcType=VARCHAR}</if>
        <if test="robotType != null"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="droneType != null"> and a.drone_type = #{droneType, jdbcType=INTEGER}</if>
        <if test="robotIp != null and robotIp != ''"> and a.robot_ip = #{robotIp, jdbcType=VARCHAR}</if>
        <if test="robotPort != null "> and a.robot_port = #{robotPort, jdbcType=INTEGER}</if>
        <if test="lightIp != null and lightIp != ''"> and a.light_ip = #{lightIp, jdbcType=VARCHAR}</if>
        <if test="lightPort != null and lightPort != ''"> and a.light_port = #{lightPort, jdbcType=VARCHAR}</if>
        <if test="identityManager != null and identityManager != ''"> and a.identity_manager = #{identityManager, jdbcType=VARCHAR}</if>
        <if test="identityCode != null and identityCode != ''"> and a.identity_code = #{identityCode, jdbcType=VARCHAR}</if>
        <if test="lnferadIp != null and lnferadIp != ''"> and a.lnferad_IP = #{lnferadIp, jdbcType=VARCHAR}</if>
        <if test="inferadPort != null "> and a.Inferad_Port = #{inferadPort, jdbcType=INTEGER}</if>
        <if test="inferadUsername != null and inferadUsername != ''"> and a.Inferad_username = #{inferadUsername, jdbcType=VARCHAR}</if>
        <if test="inferadPassword != null and inferadPassword != ''"> and a.Inferad_password = #{inferadPassword, jdbcType=VARCHAR}</if>
        <if test="photePath != null and photePath != ''"> and a.phote_path = #{photePath, jdbcType=VARCHAR}</if>
        <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy, jdbcType=VARCHAR}</if>
        <if test="createDate != null"> and a.create_date = #{createDate, jdbcType=TIMESTAMP}</if>
        <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy, jdbcType=VARCHAR}</if>
        <if test="updateDate != null"> and a.update_date = #{updateDate, jdbcType=TIMESTAMP}</if>
        <if test="robotFactory != null">and a.robot_factory = #{robotFactory, jdbcType=VARCHAR},</if>
        <if test="isUse != null">and a.is_use = #{isUse, jdbcType=VARCHAR},</if>
        <if test="commissionDate != null">and a.commission_date = #{commissionDate, jdbcType=TIMESTAMP},</if>
        <if test="upRegionId != null and upRegionId !=''">and a.up_region_id = #{upRegionId, jdbcType=BIGINT},</if>
        <if test="robotPosition != null and robotPosition !=''">and a.robot_position = #{robotPosition, jdbcType=VARCHAR},</if>
        <if test="dronePosition != null and dronePosition !=''">and a.drone_position = #{dronePosition, jdbcType=VARCHAR},</if>
        <if test="robotSource != null and robotSource !=''">and a.robot_source = #{robotSource, jdbcType=VARCHAR},</if>
        <if test="address != null and address !=''">and a.address = #{address, jdbcType=VARCHAR},</if>
        <if test="buildingUser != null and buildingUser !=''">and a.building_user = #{buildingUser, jdbcType=VARCHAR},</if>
        <if test="appearanceNumber != null and appearanceNumber !=''">and a.appearance_number = #{appearanceNumber, jdbcType=VARCHAR},</if>
        <if test="defectRecord != null and defectRecord !=''">and a.defect_record = #{defectRecord, jdbcType=VARCHAR},</if>
        <if test="repairRecord != null and repairRecord !=''">and a.repair_record = #{repairRecord, jdbcType=VARCHAR},</if>
        <if test="exitPutIntoRecord != null and exitPutIntoRecord !=''">and a.exit_putInto_record = #{exitPutIntoRecord, jdbcType=VARCHAR},</if>
        <if test="remarks != null and remarks != ''"> and a.remarks = #{remarks, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectRobotByPage" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_num,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        d.dict_note as robot_type_name,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        IF(IFNULL(a.identity_code, '') = '', a.identity_code, '••••••') AS identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        IF(IFNULL(a.Inferad_password, '') = '', a.Inferad_password, '••••••') AS Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        b.dict_note as robot_factory_name,
        a.robot_factory,
        a.made_in,
        a.made_date,
        c.dict_note as is_use_name,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        f.region_name,
        e.dict_note as robot_position_name,
        a.robot_position ,
        h.dict_note as drone_position_name,
        a.drone_position ,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks,
        a.record_id,
        a.channel_num_light,
        a.channel_num_inferad,
        a.image_size,
        g.record_name
        from t_robot_info a
        JOIN t_dict_business d ON a.robot_type=d.dict_code and d.col_name = 'robot_type'
        LEFT JOIN t_dict_business b ON a.robot_factory=b.dict_code and b.col_name = 'robot_factory'
        LEFT JOIN t_dict_business c ON a.is_use=c.dict_code and c.col_name = 'robot_use'
        LEFT JOIN t_dict_business e ON a.robot_position = e.dict_code  and e.col_name = 'robot_position'
        LEFT JOIN t_dict_business h ON a.drone_position = h.dict_code  and h.col_name = 'drone_position'
        LEFT JOIN t_std_region f ON f.region_id = a.up_region_id
        left join t_camera_recorder g on a.record_id = g.record_id
        where 1 = 1
        <if test="robotName != null and robotName != '' ">and a.robot_name  LIKE CONCAT('%',#{robotName, jdbcType=VARCHAR},'%')</if>
        <if test="robotType != -1"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="buildingUser != null and buildingUser != '' ">and a.building_user LIKE CONCAT('%',#{buildingUser, jdbcType=VARCHAR},'%')</if>
        <if test="robotFactory != -1 ">and a.robot_factory = #{robotFactory,jdbcType=INTEGER}</if>
        <if test="robotPosition != -1 ">and a.robot_position = #{robotPosition,jdbcType=INTEGER}</if>
        <if test="robotSource != null and robotSource != '' ">and a.robot_source LIKE CONCAT('%',#{robotSource, jdbcType=VARCHAR},'%')</if>
        <if test="isUse != -1 ">and a.is_use = #{isUse,jdbcType=INTEGER}</if>
        <if test="address != null and address != '' ">and a.address LIKE CONCAT('%',#{address, jdbcType=VARCHAR},'%')</if>

        <if test="regionIdList != null and regionIdList.size() > 0">and a.up_region_id in
            <foreach collection="regionIdList" item="upRegionIds"  separator="," open="(" close=")"  >
                #{upRegionIds,jdbcType=BIGINT}
            </foreach>
        </if>
        ORDER BY robot_id
    </select>

    <select id="selectRobotOnline" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_num,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.made_in,
        a.made_date,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position ,
        a.drone_position ,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks,
        a.record_id,
        a.channel_num_light,
        a.channel_num_inferad
        from t_robot_info a
        where 1 = 1
        <if test="robotType != -1"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="robotStatus != null and robotStatus != '' ">and a.robot_status = #{robotStatus, jdbcType=VARCHAR}</if>
        <if test="robotPosition != -1 ">and a.robot_position = #{robotPosition,jdbcType=INTEGER}</if>
        <if test="isUse != -1 ">and a.is_use = #{isUse,jdbcType=INTEGER}</if>
        <if test="regionIdList != null and regionIdList.size() > 0">and a.up_region_id in
            <foreach collection="regionIdList" item="upRegionIds"  separator="," open="(" close=")"  >
                #{upRegionIds,jdbcType=BIGINT}
            </foreach>
        </if>
        ORDER BY robot_id
    </select>

    <select id="selectDroneByPage" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_num,
        a.robot_name,
        a.nest_code,
        a.nest_name,
        a.robot_status,
        a.drone_type,
        d.dict_note as drone_type_name,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        IF(IFNULL(a.identity_code, '') = '', a.identity_code, '••••••') AS identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        IF(IFNULL(a.Inferad_password, '') = '', a.Inferad_password, '••••••') AS Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        b.dict_note as robot_factory_name,
        a.robot_factory,
        a.made_in,
        a.made_date,
        c.dict_note as is_use_name,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        f.region_name,
        e.dict_note as robot_position_name,
        a.robot_position ,
        h.dict_note as drone_position_name,
        a.drone_position,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks,
        a.record_id,
        a.channel_num_light,
        a.channel_num_inferad,
        a.image_size,
        g.record_name
        from t_robot_info a
        JOIN t_dict_business d ON a.drone_type=d.dict_code and d.col_name = 'drone_type'
        LEFT JOIN t_dict_business b ON a.robot_factory=b.dict_code and b.col_name = 'robot_factory'
        LEFT JOIN t_dict_business c ON a.is_use=c.dict_code and c.col_name = 'robot_use'
        LEFT JOIN t_dict_business e ON a.robot_position = e.dict_code  and e.col_name = 'robot_position'
        LEFT JOIN t_dict_business h ON a.drone_position = h.dict_code  and h.col_name = 'drone_position'
        LEFT JOIN t_std_region f ON f.region_id = a.up_region_id
        left join t_camera_recorder g on a.record_id = g.record_id
        where 1 = 1
        <if test="robotName != null and robotName != '' ">and a.robot_name  LIKE CONCAT('%',#{robotName, jdbcType=VARCHAR},'%')</if>
        <if test="droneType != -1"> and a.drone_type = #{droneType, jdbcType=INTEGER}</if>
        <if test="buildingUser != null and buildingUser != '' ">and a.building_user LIKE CONCAT('%',#{buildingUser, jdbcType=VARCHAR},'%')</if>
        <if test="robotFactory != -1 ">and a.robot_factory = #{robotFactory,jdbcType=INTEGER}</if>
        <if test="robotSource != null and robotSource != '' ">and a.robot_source LIKE CONCAT('%',#{robotSource, jdbcType=VARCHAR},'%')</if>
        <if test="isUse != -1 ">and a.is_use = #{isUse,jdbcType=INTEGER}</if>
        <if test="address != null and address != '' ">and a.address LIKE CONCAT('%',#{address, jdbcType=VARCHAR},'%')</if>

        <if test="regionIdList != null and regionIdList.size() > 0">and a.up_region_id in
            <foreach collection="regionIdList" item="upRegionIds"  separator="," open="(" close=")"  >
                #{upRegionIds,jdbcType=BIGINT}
            </foreach>
        </if>
        ORDER BY robot_id
    </select>

    <insert id="batchInsert">
        insert into t_robot_info(
        robot_code,robot_num
        ,robot_name,nest_name,nest_code
        ,robot_status,robot_type,drone_type
        ,robot_ip,robot_port,light_ip
        ,light_port,identity_manager,identity_code
        ,lnferad_IP,Inferad_Port,Inferad_username
        ,Inferad_password,phote_path,create_by
        ,create_date,update_by,update_date
        ,robot_factory,made_in,made_date
        ,is_use,commission_date,up_region_id
        ,robot_position,drone_position,robot_source
        ,address,building_user,appearance_number
        ,defect_record,repair_record,exit_putInto_record
        ,remarks,record_id,channel_num_light
        ,channel_num_inferad,last_online_time,duration
        ,off_line_count,edge_code,origin_id
        )values
        <foreach collection="list" item="TRobotInfo" separator=",">
            values (#{TRobotInfo.robotCode,jdbcType=VARCHAR},#{TRobotInfo.robotNum,jdbcType=VARCHAR}
            ,#{TRobotInfo.robotName,jdbcType=VARCHAR},#{TRobotInfo.nestName,jdbcType=VARCHAR},#{TRobotInfo.nestCode,jdbcType=VARCHAR}
            ,#{TRobotInfo.robotStatus,jdbcType=VARCHAR},#{TRobotInfo.robotType,jdbcType=INTEGER},#{TRobotInfo.droneType,jdbcType=INTEGER}
            ,#{TRobotInfo.robotIp,jdbcType=VARCHAR},#{TRobotInfo.robotPort,jdbcType=INTEGER},#{TRobotInfo.lightIp,jdbcType=VARCHAR}
            ,#{TRobotInfo.lightPort,jdbcType=VARCHAR},#{TRobotInfo.identityManager,jdbcType=VARCHAR},#{TRobotInfo.identityCode,jdbcType=VARCHAR}
            ,#{TRobotInfo.lnferadIp,jdbcType=VARCHAR},#{TRobotInfo.inferadPort,jdbcType=INTEGER},#{TRobotInfo.inferadUsername,jdbcType=VARCHAR}
            ,#{TRobotInfo.inferadPassword,jdbcType=VARCHAR},#{TRobotInfo.photePath,jdbcType=VARCHAR},#{TRobotInfo.createBy,jdbcType=VARCHAR}
            ,#{TRobotInfo.createDate,jdbcType=TIMESTAMP},#{TRobotInfo.updateBy,jdbcType=VARCHAR},#{TRobotInfo.updateDate,jdbcType=TIMESTAMP}
            ,#{TRobotInfo.robotFactory,jdbcType=VARCHAR},#{TRobotInfo.madeIn,jdbcType=VARCHAR},#{TRobotInfo.madeDate,jdbcType=TIMESTAMP}
            ,#{TRobotInfo.isUse,jdbcType=VARCHAR},#{TRobotInfo.commissionDate,jdbcType=TIMESTAMP},#{TRobotInfo.upRegionId,jdbcType=BIGINT}
            ,#{TRobotInfo.robotPosition,jdbcType=VARCHAR},#{TRobotInfo.dronePosition,jdbcType=VARCHAR},#{TRobotInfo.robotSource,jdbcType=VARCHAR}
            ,#{TRobotInfo.address,jdbcType=VARCHAR},#{TRobotInfo.buildingUser,jdbcType=VARCHAR},#{TRobotInfo.appearanceNumber,jdbcType=VARCHAR}
            ,#{TRobotInfo.defectRecord,jdbcType=VARCHAR},#{TRobotInfo.repairRecord,jdbcType=VARCHAR},#{TRobotInfo.exitPutintoRecord,jdbcType=VARCHAR}
            ,#{TRobotInfo.remarks,jdbcType=VARCHAR},#{TRobotInfo.recordId,jdbcType=BIGINT},#{TRobotInfo.channelNumLight,jdbcType=INTEGER}
            ,#{TRobotInfo.channelNumInferad,jdbcType=INTEGER},#{TRobotInfo.lastOnlineTime,jdbcType=BIGINT},#{TRobotInfo.duration,jdbcType=BIGINT}
            ,#{TRobotInfo.offLineCount,jdbcType=BIGINT},#{TRobotInfo.edgeCode,jdbcType=VARCHAR},#{TRobotInfo.originId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectInspectionTree" resultType="com.yjh.platform.module.user.entity.TRobotInspectionTree">
        select a.robot_id, a.robot_name from t_robot_info a
        where 1 = 1
         <if test="type == 1">
             and a.robot_type is not null
         </if>
         <if test="type == 2">
             and a.drone_type is not null
         </if>
<if test="robotId != null and robotId != -1">
    and a.robot_id = #{robotId,jdbcType=BIGINT}
</if>
    </select>

    <select id="batchSelectInspection" resultType="com.yjh.platform.module.user.entity.TRobotInspectionTree">
        select a.robot_id, b.robot_name, b.robot_position, b.drone_position, a.inspection_id, a.inspection_name from t_robot_inspection a
        inner JOIN t_robot_info b ON a.robot_id = b.robot_id
        WHERE 1 = 1
        <if test="inspectionType != null and inspectionType != ''">
            and a.inspection_type = #{inspectionType, jdbcType=INTEGER}
        </if>
        <if test="name != null and name != ''">
            and a.inspection_name like CONCAT('%',CONCAT(#{name,jdbcType=VARCHAR},'%'))
        </if>
        <if test="type == 1">
            and b.robot_type is not null
        </if>
        <if test="type == 2">
            and b.drone_type is not null
        </if>
        <if test="robotId != null and robotId != -1">
            and a.robot_id = #{robotId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectRobotScreen" parameterType="java.lang.Long" resultType="java.lang.Long">
           SELECT
            b.robot_id
        FROM
            t_cruise_point_instance a
        LEFT JOIN t_robot_inspection b ON a.cruise_id = b.inspection_id
        WHERE
            a.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectRobotInfo" resultType="com.yjh.platform.module.task.entity.RobotInfoForHomePage">
        select
        a.robot_code,
        a.commission_date,
        a.robot_position,
        b.dict_note as robotFactoryName,
        c.dict_note as typeName,
        d.dict_note as positionName
        from t_robot_info a
        left join t_dict_business b on a.robot_factory = b.dict_code
        left join t_dict_business c on a.robot_type = c.dict_code
        left join t_dict_business d on a.robot_position = d.dict_code
        where a.is_use = 166
        <if test="robotPosition != null and robotPosition !=''">and a.robot_position = #{robotPosition, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectDictCode" resultType="java.lang.String">
        select
            a.dict_code
        FROM t_dict_business a
        where 1 = 1
        <if test="colName != null and colName !=''">and a.col_name = #{colName, jdbcType=VARCHAR}</if>
        <if test="dictNote != null and dictNote !=''">and a.dict_note = #{dictNote, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectRobotIdByCode" parameterType="java.lang.String" resultType="java.lang.Long">
        select robot_id from t_robot_info
        where 1 = 1
        <if test="robotCode != null and robotCode != ''"> and robot_code = #{robotCode, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectUserName" resultType="java.lang.String">
        select user_name from sys_user where user_id = #{userID}
    </select>
    <select id="selectAllRobotCode" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
       select
            a.robot_id,
            a.robot_code
        FROM t_robot_info a
    </select>
    <select id="selectAllRobotCode2" resultType="java.lang.String">
       select
            a.robot_code
        FROM t_robot_info a
    </select>
    <select id="selectRobotCodeById" resultType="java.lang.String">
       select
            a.robot_code
        FROM t_robot_info a
        where a.robot_id = #{robotId,jdbcType = BIGINT}

    </select>
    <select id="selectHaveIns" resultType="java.lang.Long">
        SELECT
          IFNULL(a.instance_id,b.inspection_id)
        FROM
        t_robot_inspection b
        JOIN  t_cruise_point_instance a on a.cruise_id = b.inspection_id
        AND a.device_mete_id IS NOT NULL
        where b.robot_id = #{robotId, jdbcType=BIGINT}
    </select>

    <select id="selectRobotRunningCamera" resultType="java.lang.String">
        SELECT
        b.save_type_list
    FROM
        t_cruise_point_instance a
    LEFT JOIN t_robot_inspection b ON a.cruise_id = b.inspection_id
    WHERE
        a.instance_id = #{instanceId,jdbcType=BIGINT}
    AND b.robot_id = #{robotId,jdbcType=BIGINT}
    </select>

    <select id="selectMapPathByCode" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select a.phote_path,a.image_size
        FROM t_robot_info a
        WHERE a.robot_code = #{robotCode,jdbcType=VARCHAR}
    </select>

    <select id="selectAllRobotNum" resultType="java.lang.String">
        select
            a.robot_num
        FROM t_robot_info a
    </select>
    <select id="selectRobotCount" resultType="java.lang.Integer">
        select count(1)
        from t_robot_info
        where robot_type is not null
    </select>
    <select id="selectDroneCount" resultType="java.lang.Integer">
        select count(1)
           from t_robot_info
        where drone_type is not null
    </select>
</mapper>
