<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TRobotInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TRobotInfo">
        <id column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="robot_code" jdbcType="VARCHAR" property="robotCode" />
        <result column="robot_name" jdbcType="VARCHAR" property="robotName" />
        <result column="robot_status" jdbcType="VARCHAR" property="robotStatus" />
        <result column="robot_type" jdbcType="INTEGER" property="robotType" />
        <result column="robot_ip" jdbcType="VARCHAR" property="robotIp" />
        <result column="robot_port" jdbcType="INTEGER" property="robotPort" />
        <result column="light_ip" jdbcType="VARCHAR" property="lightIp" />
        <result column="light_port" jdbcType="VARCHAR" property="lightPort" />
        <result column="identity_manager" jdbcType="VARCHAR" property="identityManager" />
        <result column="identity_code" jdbcType="VARCHAR" property="identityCode" />
        <result column="lnferad_IP" jdbcType="VARCHAR" property="lnferadIp" />
        <result column="Inferad_Port" jdbcType="INTEGER" property="inferadPort" />
        <result column="Inferad_username" jdbcType="VARCHAR" property="inferadUsername" />
        <result column="Inferad_password" jdbcType="VARCHAR" property="inferadPassword" />
        <result column="phote_path" jdbcType="VARCHAR" property="photePath" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="robot_factory" jdbcType="VARCHAR" property="robotFactory" />
        <result column="is_use" jdbcType="VARCHAR" property="isUse" />
        <result column="commission_date" jdbcType="TIMESTAMP" property="commissionDate" />
        <result column="up_region_id" jdbcType="BIGINT" property="upRegionId" />
        <result column="robotPosition" jdbcType="VARCHAR" property="robotPosition" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="robot_factory_name" jdbcType="VARCHAR" property="robotFactoryName" />
        <result column="is_use_name" jdbcType="VARCHAR" property="isUseName" />
        <result column="robot_position_name" jdbcType="VARCHAR" property="robotPositionName" />
        <result column="region_name" jdbcType="VARCHAR" property="regionName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        robot_id, robot_code, robot_name, robot_status, robot_type, robot_ip, robot_port, light_ip, light_port, identity_manager, identity_code,
        lnferad_IP, Inferad_Port, Inferad_username, Inferad_password, phote_path, create_by, create_date, update_by, update_date,
        robot_factory, is_use, commission_date, up_region_id, robot_position, remarks
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="robotId" parameterType="com.yjh.platform.module.user.entity.TRobotInfo">
        insert into t_robot_info(
            robot_code,
            robot_name,
            robot_status,
            robot_type,
            robot_ip,
            robot_port,
            light_ip,
            light_port,
            identity_manager,
            identity_code,
            lnferad_IP,
            Inferad_Port,
            Inferad_username,
            Inferad_password,
            phote_path,
            create_by,
            create_date,
            update_by,
            update_date,
            robot_factory,
            is_use,
            commission_date,
            up_region_id,
            robot_position,
            robot_source,
            address,
            building_user,
            appearance_number,
            defect_record,
            repair_record,
            exit_putInto_record,
            remarks
        )values(
                #{robotCode, jdbcType=VARCHAR},
                #{robotName, jdbcType=VARCHAR},
                #{robotStatus, jdbcType=VARCHAR},
                #{robotType, jdbcType=INTEGER},
                #{robotIp, jdbcType=VARCHAR},
                #{robotPort, jdbcType=INTEGER},
                #{lightIp, jdbcType=VARCHAR},
                #{lightPort, jdbcType=VARCHAR},
                #{identityManager, jdbcType=VARCHAR},
                #{identityCode, jdbcType=VARCHAR},
                #{lnferadIp, jdbcType=VARCHAR},
                #{inferadPort, jdbcType=INTEGER},
                #{inferadUsername, jdbcType=VARCHAR},
                #{inferadPassword, jdbcType=VARCHAR},
                #{photePath, jdbcType=VARCHAR},
                #{createBy, jdbcType=VARCHAR},
                #{createDate, jdbcType=TIMESTAMP},
                #{updateBy, jdbcType=VARCHAR},
                #{updateDate, jdbcType=TIMESTAMP},
                #{robotFactory, jdbcType=VARCHAR},
                #{isUse, jdbcType=VARCHAR},
                #{commissionDate, jdbcType=TIMESTAMP},
                #{upRegionId, jdbcType=BIGINT},
                #{robotPosition, jdbcType=VARCHAR},
                #{robotSource, jdbcType=VARCHAR},
                #{address, jdbcType=VARCHAR},
                #{buildingUser, jdbcType=VARCHAR},
                #{appearanceNumber, jdbcType=VARCHAR},
                #{defectRecord, jdbcType=VARCHAR},
                #{repairRecord, jdbcType=VARCHAR},
                #{exitPutIntoRecord, jdbcType=VARCHAR},
                #{remarks, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_info
                where robot_id = #{robotId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteInstance" parameterType="java.lang.Long">
        delete a from t_cruise_point_instance AS a,t_robot_inspection AS b
                where b.inspection_id = a.cruise_id
                AND b.robot_id = #{robotId, jdbcType=BIGINT}
    </delete>
    <delete id="deleteInspection" parameterType="java.lang.Long">
        delete from t_robot_inspection
                where robot_id = #{robotId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TRobotInfo">
        update t_robot_info a <set>
        <if test="robotId != null "> a.robot_id = #{robotId},</if>
        <if test="robotCode != null "> a.robot_code = #{robotCode},</if>
        <if test="robotName != null ">a.robot_name = #{robotName},</if>
        <if test="robotStatus != null ">a.robot_status = #{robotStatus},</if>
        <if test="robotType != null ">a.robot_type = #{robotType, jdbcType=INTEGER},</if>
        <if test="robotIp != null ">a.robot_ip = #{robotIp},</if>
        a.robot_port = #{robotPort, jdbcType=INTEGER},
        <if test="lightIp != null ">a.light_ip = #{lightIp},</if>
        <if test="lightPort != null ">a.light_port = #{lightPort},</if>
        <if test="identityManager != null ">a.identity_manager = #{identityManager},</if>
        <if test="identityCode != null ">a.identity_code = #{identityCode},</if>
        <if test="lnferadIp != null ">a.lnferad_IP = #{lnferadIp},</if>
        a.Inferad_Port = #{inferadPort, jdbcType=INTEGER},
        <if test="inferadUsername != null">a.Inferad_username = #{inferadUsername},</if>
        <if test="inferadPassword != null ">a.Inferad_password = #{inferadPassword},</if>
        <if test="photePath != null ">a.phote_path = #{photePath},</if>
        <if test="createBy != null">a.create_by = #{createBy},</if>
        <if test="createDate != null">a.create_date = #{createDate, jdbcType=TIMESTAMP},</if>
        <if test="updateBy != null ">a.update_by = #{updateBy},</if>
        <if test="updateDate != null">a.update_date = #{updateDate, jdbcType=TIMESTAMP},</if>
        <if test="robotFactory != null ">a.robot_factory = #{robotFactory},</if>
        <if test="isUse != null ">a.is_use = #{isUse},</if>
        a.commission_date = #{commissionDate, jdbcType=TIMESTAMP},
        <if test="upRegionId != null ">a.up_region_id = #{upRegionId},</if>
        <if test="robotPosition != null">a.robot_position = #{robotPosition},</if>
        <if test="robotSource != null ">a.robot_source = #{robotSource},</if>
        <if test="address != null ">a.address = #{address},</if>
        <if test="buildingUser != null ">a.building_user = #{buildingUser},</if>
        <if test="appearanceNumber != null ">a.appearance_number = #{appearanceNumber},</if>
        <if test="defectRecord != null ">a.defect_record = #{defectRecord},</if>
        <if test="repairRecord != null ">a.repair_record = #{repairRecord},</if>
        <if test="exitPutIntoRecord != null ">a.exit_putInto_record = #{exitPutIntoRecord},</if>
        <if test="remarks != null ">a.remarks = #{remarks},</if>
    </set>
            where a.robot_id = #{robotId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        a.identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks
        from t_robot_info a
        where 1 = 1
            and a.robot_id = #{robotId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        a.identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks
        from t_robot_info a
        where 1 = 1
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="robotCode != null and robotCode != ''"> and a.robot_code = #{robotCode, jdbcType=VARCHAR}</if>
        <if test="robotName != null and robotName != ''"> and a.robot_name = #{robotName, jdbcType=VARCHAR}</if>
        <if test="robotStatus != null and robotStatus != ''"> and a.robot_status = #{robotStatus, jdbcType=VARCHAR}</if>
        <if test="robotType != null"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="robotIp != null and robotIp != ''"> and a.robot_ip = #{robotIp, jdbcType=VARCHAR}</if>
        <if test="robotPort != null "> and a.robot_port = #{robotPort, jdbcType=INTEGER}</if>
        <if test="lightIp != null and lightIp != ''"> and a.light_ip = #{lightIp, jdbcType=VARCHAR}</if>
        <if test="lightPort != null and lightPort != ''"> and a.light_port = #{lightPort, jdbcType=VARCHAR}</if>
        <if test="identityManager != null and identityManager != ''"> and a.identity_manager = #{identityManager, jdbcType=VARCHAR}</if>
        <if test="identityCode != null and identityCode != ''"> and a.identity_code = #{identityCode, jdbcType=VARCHAR}</if>
        <if test="lnferadIp != null and lnferadIp != ''"> and a.lnferad_IP = #{lnferadIp, jdbcType=VARCHAR}</if>
        <if test="inferadPort != null "> and a.Inferad_Port = #{inferadPort, jdbcType=INTEGER}</if>
        <if test="inferadUsername != null and inferadUsername != ''"> and a.Inferad_username = #{inferadUsername, jdbcType=VARCHAR}</if>
        <if test="inferadPassword != null and inferadPassword != ''"> and a.Inferad_password = #{inferadPassword, jdbcType=VARCHAR}</if>
        <if test="photePath != null and photePath != ''"> and a.phote_path = #{photePath, jdbcType=VARCHAR}</if>
        <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy, jdbcType=VARCHAR}</if>
        <if test="createDate != null"> and a.create_date = #{createDate, jdbcType=TIMESTAMP}</if>
        <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy, jdbcType=VARCHAR}</if>
        <if test="updateDate != null"> and a.update_date = #{updateDate, jdbcType=TIMESTAMP}</if>
        <if test="robotFactory != null">and a.robot_factory = #{robotFactory, jdbcType=VARCHAR},</if>
        <if test="isUse != null">and a.is_use = #{isUse, jdbcType=VARCHAR},</if>
        <if test="commissionDate != null">and a.commission_date = #{commissionDate, jdbcType=TIMESTAMP},</if>
        <if test="upRegionId != null and upRegionId !=''">and a.up_region_id = #{upRegionId, jdbcType=BIGINT},</if>
        <if test="robotPosition != null and robotPosition !=''">and a.robot_position = #{robotPosition, jdbcType=VARCHAR},</if>
        <if test="robotSource != null and robotSource !=''">and a.robot_source = #{robotSource, jdbcType=VARCHAR},</if>
        <if test="address != null and address !=''">and a.address = #{address, jdbcType=VARCHAR},</if>
        <if test="buildingUser != null and buildingUser !=''">and a.building_user = #{buildingUser, jdbcType=VARCHAR},</if>
        <if test="appearanceNumber != null and appearanceNumber !=''">and a.appearance_number = #{appearanceNumber, jdbcType=VARCHAR},</if>
        <if test="defectRecord != null and defectRecord !=''">and a.defect_record = #{defectRecord, jdbcType=VARCHAR},</if>
        <if test="repairRecord != null and repairRecord !=''">and a.repair_record = #{repairRecord, jdbcType=VARCHAR},</if>
        <if test="exitPutIntoRecord != null and exitPutIntoRecord !=''">and a.exit_putInto_record = #{exitPutIntoRecord, jdbcType=VARCHAR},</if>
        <if test="remarks != null and remarks != ''"> and a.remarks = #{remarks, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TRobotInfo" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        d.dict_note as robot_type_name,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        a.identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        b.dict_note as robot_factory_name,
        a.robot_factory,
        c.dict_note as is_use_name,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        f.region_name,
        e.dict_note as robot_position_name,
        a.robot_position ,
        a.robot_source,
        a.address,
        a.building_user,
        a.appearance_number,
        a.defect_record,
        a.repair_record,
        a.exit_putInto_record,
        a.remarks
        from t_robot_info a
        LEFT JOIN t_dict_business d ON a.robot_type=d.dict_code and d.col_name = 'robot_type'
        LEFT JOIN t_dict_business b ON a.robot_factory=b.dict_code and b.col_name = 'robot_factory'
        LEFT JOIN t_dict_business c ON a.is_use=c.dict_code and c.col_name = 'robot_use'
        LEFT JOIN t_dict_business e ON a.robot_position = e.dict_code  and e.col_name = 'robot_position'
        LEFT JOIN t_std_region f ON f.region_id = a.up_region_id
        where 1 = 1
        <if test="robotName != null and robotName != '' ">and a.robot_name  LIKE CONCAT('%',#{robotName, jdbcType=VARCHAR},'%')</if>
        <if test="robotType != -1"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="buildingUser != null and buildingUser != '' ">and a.building_user LIKE CONCAT('%',#{buildingUser, jdbcType=VARCHAR},'%')</if>
        <if test="robotFactory != -1 ">and a.robot_factory = #{robotFactory,jdbcType=INTEGER}</if>
        <if test="robotSource != null and robotSource != '' ">and a.robot_source LIKE CONCAT('%',#{robotSource, jdbcType=VARCHAR},'%')</if>
        <if test="isUse != -1 ">and a.is_use = #{isUse,jdbcType=INTEGER}</if>
        <if test="address != null and address != '' ">and a.address LIKE CONCAT('%',#{address, jdbcType=VARCHAR},'%')</if>

        <if test="regionIdList != null and regionIdList.size() > 0">and a.up_region_id in
            <foreach collection="regionIdList" item="upRegionIds"  separator="," open="(" close=")"  >
                #{upRegionIds,jdbcType=BIGINT}
            </foreach>
        </if>
        ORDER BY robot_id
    </select>

    <insert id="batchInsert">
        insert into t_robot_info(
        robot_code,
            robot_name,
            robot_status,
            robot_type,
            robot_ip,
            robot_port,
            light_ip,
            light_port,
            identity_manager,
            identity_code,
            lnferad_IP,
            Inferad_Port,
            Inferad_username,
            Inferad_password,
            phote_path,
            create_by,
            create_date,
            update_by,
            update_date,
            robot_factory,
            is_use,
            commission_date,
            up_region_id,
            robot_position,
            robot_source,
            address,
            building_user,
            appearance_number,
            defect_record,
            repair_record,
            exit_putInto_record,
            remarks
        )values
        <foreach collection="list" item="TRobotInfo" separator=",">
            (
            #{TRobotInfo.robotCode, jdbcType=VARCHAR},
                #{TRobotInfo.robotName, jdbcType=VARCHAR},
                #{TRobotInfo.robotStatus, jdbcType=VARCHAR},
                #{TRobotInfo.robotType, jdbcType=INTEGER},
                #{TRobotInfo.robotIp, jdbcType=VARCHAR},
                #{TRobotInfo.robotPort, jdbcType=INTEGER},
                #{TRobotInfo.lightIp, jdbcType=VARCHAR},
                #{TRobotInfo.lightPort, jdbcType=VARCHAR},
                #{TRobotInfo.identityManager, jdbcType=VARCHAR},
                #{TRobotInfo.identityCode, jdbcType=VARCHAR},
                #{TRobotInfo.lnferadIp, jdbcType=VARCHAR},
                #{TRobotInfo.inferadPort, jdbcType=INTEGER},
                #{TRobotInfo.inferadUsername, jdbcType=VARCHAR},
                #{TRobotInfo.inferadPassword, jdbcType=VARCHAR},
                #{TRobotInfo.photePath, jdbcType=VARCHAR},
                #{TRobotInfo.createBy, jdbcType=VARCHAR},
                #{TRobotInfo.createDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.updateBy, jdbcType=VARCHAR},
                #{TRobotInfo.updateDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.robotFactory, jdbcType=VARCHAR},
                #{TRobotInfo.isUse, jdbcType=VARCHAR},
                #{TRobotInfo.commissionDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.upRegionId, jdbcType=BIGINT},
                #{TRobotInfo.robotPosition, jdbcType=VARCHAR},
                #{TRobotInfo.robotSource, jdbcType=VARCHAR},
                #{TRobotInfo.address, jdbcType=VARCHAR},
                #{TRobotInfo.buildingUser, jdbcType=VARCHAR},
                #{TRobotInfo.appearanceNumber, jdbcType=VARCHAR},
                #{TRobotInfo.defectRecord, jdbcType=VARCHAR},
                #{TRobotInfo.repairRecord, jdbcType=VARCHAR},
                #{TRobotInfo.exitPutIntoRecord, jdbcType=VARCHAR},
                #{TRobotInfo.remarks, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectInspectionTree" resultType="com.yjh.platform.module.user.entity.TRobotInspectionTree">
        select a.robot_id, a.robot_name from t_robot_info a
    </select>

    <select id="batchSelectInspection" resultType="com.yjh.platform.module.user.entity.TRobotInspectionTree">
        select a.robot_id, b.robot_name, b.robot_position, a.inspection_id, a.inspection_name from t_robot_inspection a
        LEFT JOIN t_robot_info b ON a.robot_id = b.robot_id
    </select>

    <select id="selectRobotScreen" parameterType="java.lang.Long" resultType="java.lang.Long">
           SELECT
            b.robot_id
        FROM
            t_cruise_point_instance a
        LEFT JOIN t_robot_inspection b ON a.cruise_id = b.inspection_id
        WHERE
            a.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectRobotInfo" resultType="com.yjh.platform.module.task.entity.RobotInfoForHomePage">
        select
        a.robot_code,
        a.commission_date,
        a.robot_position,
        b.dict_note as robotFactoryName,
        c.dict_note as typeName,
        d.dict_note as positionName
        from t_robot_info a
        left join t_dict_business b on a.robot_factory = b.dict_code
        left join t_dict_business c on a.robot_type = c.dict_code
        left join t_dict_business d on a.robot_position = d.dict_code
        where a.is_use = 166
        <if test="robotPosition != null and robotPosition !=''">and a.robot_position = #{robotPosition, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectDictCode" resultType="java.lang.String">
        select
            a.dict_code
        FROM t_dict_business a
        where 1 = 1
        <if test="colName != null and colName !=''">and a.col_name = #{colName, jdbcType=VARCHAR}</if>
        <if test="dictNote != null and dictNote !=''">and a.dict_note = #{dictNote, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectRobotIdByCode" parameterType="java.lang.String" resultType="java.lang.Long">
        select robot_id from t_robot_info
        where 1 = 1
        <if test="robotCode != null and robotCode != ''"> and robot_code = #{robotCode, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectUserName" resultType="java.lang.String">
        select user_name from sys_user where user_id = #{userID}
    </select>
    <select id="selectAllRobotCode" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
       select
            a.robot_id,
            a.robot_code
        FROM t_robot_info a
    </select>
    <select id="selectAllRobotCode2" resultType="java.lang.String">
       select
            a.robot_code
        FROM t_robot_info a
    </select>
    <select id="selectRobotCodeById" resultType="java.lang.String">
       select
            a.robot_code
        FROM t_robot_info a
        where a.robot_id = #{robotId,jdbcType = BIGINT}

    </select>
    <select id="selectHaveIns" resultType="java.lang.Long">
        SELECT
          IFNULL(a.instance_id,b.inspection_id)
        FROM
        t_robot_inspection b
        LEFT JOIN  t_cruise_point_instance a on a.cruise_id = b.inspection_id
        where b.robot_id = #{robotId, jdbcType=BIGINT}
    </select>
</mapper>
