<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdDeviceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdDevice">
        <id column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
        <result column="device_type" jdbcType="INTEGER" property="deviceType" />
        <result column="position_type" jdbcType="VARCHAR" property="positionType" />
        <result column="model_id" jdbcType="BIGINT" property="modelId" />
        <result column="region_path" jdbcType="VARCHAR" property="regionPath" />
        <result column="up_region_id" jdbcType="BIGINT" property="upRegionId" />
        <result column="up_region_name" jdbcType="VARCHAR" property="upRegionName" />
        <result column="custom_type" jdbcType="INTEGER" property="customType" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" property="createTime" />
        <result column="preset_id" jdbcType="BIGINT" property="presetId" />
        <result column="camera_id" jdbcType="BIGINT" property="cameraId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_id, device_code, device_name, alias_name, device_type, position_type, model_id, region_path, up_region_id, up_region_name, custom_type, status, update_time, create_time,preset_id,camera_id
    </sql>

   <sql id="All">
        a.device_id ,
        a.device_code ,
        a.device_name ,
        a.alias_name ,
        a.device_type ,
        a.position_type ,
        a.model_id ,
        a.region_path ,
        a.up_region_id ,
        a.custom_type ,
        a.status ,
        a.update_time ,
        a.create_time ,
        a.preset_id,
        a.camera_id,
        b.device_model,
        b.used_time,
        b.pms_type,
        b.pms_id,
        b.device_vendor,
        b.production_date ,
        b.disable_date,
        b.last_maintenance,
        b.maintenance_count,
        b.organization,
        b.department,
        b.responsible_person,
        b.latitude,
        b.longitude,
        b.ip,
        b.port,
        b.voltage_Level,
        b.sequence_point ,
        a.real_code ,
        b.address
   </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.platform.module.device.entity.TStdDevice">
        insert into t_std_device(
            device_id,
            device_code,
            device_name,
            alias_name,
            device_type,
            position_type,
            model_id,
            region_path,
            up_region_id,
            up_region_name,
            custom_type,
            status,
            update_time,
            create_time,
            preset_id,
            camera_id
        )values(
                #{deviceId, jdbcType=BIGINT},
                #{deviceCode, jdbcType=VARCHAR},
                #{deviceName, jdbcType=VARCHAR},
                #{aliasName, jdbcType=VARCHAR},
                #{deviceType, jdbcType=INTEGER},
                #{positionType, jdbcType=VARCHAR},
                #{modelId, jdbcType=BIGINT},
                #{regionPath, jdbcType=VARCHAR},
                #{upRegionId, jdbcType=BIGINT},
                #{upRegionName, jdbcType=VARCHAR},
                #{customType, jdbcType=INTEGER},
                #{status, jdbcType=INTEGER},
                CURRENT_TIMESTAMP(),
                CURRENT_TIMESTAMP,
                #{presetId, jdbcType=BIGINT},
                #{cameraId, jdbcType=BIGINT}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
       delete from t_std_device
                where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteByUnionKeys">
        delete from  t_std_device
                where device_id=#{deviceId,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdDevice">
        update t_std_device a <set>
        <if test="deviceId != null ">a.device_id = #{deviceId},</if>
        <if test="deviceCode != null ">a.device_code = #{deviceCode},</if>
        <if test="deviceName != null">a.device_name = #{deviceName},</if>
        <if test="aliasName != null ">a.alias_name = #{aliasName},</if>
        <if test="deviceType != null ">a.device_type = #{deviceType, jdbcType=INTEGER},</if>
        <if test="positionType != null ">a.position_type = #{positionType},</if>
        <if test="modelId != null ">a.model_id = #{modelId},</if>
        <if test="regionPath != null">a.region_path = #{regionPath},</if>
        <if test="upRegionId != null">a.up_region_id = #{upRegionId},</if>
        <if test="upRegionName != null ">a.up_region_name = #{upRegionName},</if>
        <if test="customType != null ">a.custom_type = #{customType, jdbcType=INTEGER},</if>
        <if test="status != null ">a.status = #{status, jdbcType=INTEGER},</if>
        a.preset_id = #{presetId},
        a.camera_id = #{cameraId},
        a.update_time = CURRENT_TIMESTAMP(),
        a.real_code = #{realCode},
    </set>
            where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <update id="updateByTask" parameterType="java.lang.String">
        UPDATE t_std_device
        SET real_code = (
            SELECT
                a.person_check
            FROM
                u_patrol_data_result a
                    LEFT JOIN t_cruise_point_instance b ON a.instance_id = b.instance_id
                    LEFT JOIN t_std_devicemete c ON b.device_mete_id = c.device_mete_id
            WHERE
                a.task_id = #{taskId, jdbcType=VARCHAR}
              AND c.analyse_type = 8
              AND (
                      person_check REGEXP '[^0-9.]'
                      ) = 0
        )
        WHERE
                device_id = (
                SELECT DISTINCT
                    a.device_id
                FROM
                    u_patrol_data_result a
                        LEFT JOIN t_cruise_point_instance b ON a.instance_id = b.instance_id
                        LEFT JOIN t_std_devicemete c ON b.device_mete_id = c.device_mete_id
                WHERE
                    a.task_id = #{taskId, jdbcType=VARCHAR}
                  AND c.analyse_type = 8
                  AND (
                          person_check REGEXP '[^0-9.]'
                          ) = 0
            )
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDevice">
        select
        a.device_id,
        a.device_code,
        a.device_name,
        a.alias_name,
        a.device_type,
        a.position_type,
        a.model_id,
        a.region_path,
        a.up_region_id,
        a.up_region_name,
        a.custom_type,
        a.status,
        a.update_time,
        a.create_time,
        a.preset_id,
        a.camera_id
        from t_std_device a
        where 1 = 1
            and a.device_id = #{deviceId, jdbcType=BIGINT}


    </select>

    <select id="selectListByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDevice">
         select
        a.device_id,
        a.device_code,
        a.device_name,
        a.alias_name,
        a.device_type,
        a.position_type,
        a.model_id,
        a.region_path,
        a.up_region_id,
        a.up_region_name,
        a.custom_type,
        a.status,
        a.update_time,
        a.create_time,
        a.preset_id,
        a.camera_id
        from t_std_device a
        where 1 = 1
        and a.device_id = #{deviceId, jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryIdAll" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDeviceDetail">
        select
        a.device_id ,
        a.device_code ,
        a.device_name ,
        a.alias_name ,
        a.device_type ,
        h.dict_note as deviceTypeName,
        a.position_type ,
        a.model_id ,
        a.region_path ,
        a.up_region_id ,
        a.up_region_name ,
        a.custom_type ,
        a.status ,
        a.update_time ,
        a.create_time ,
        a.preset_id,
        a.camera_id,
        b.device_model,
        e.dict_note as deviceModelName,
        b.pms_type,
        b.pms_id,
        b.device_vendor,
        f.dict_note deviceVendorName,
        b.production_date ,
        b.used_time,
        b.disable_date,
        b.last_maintenance,
        b.maintenance_count,
        b.organization,
        b.department,
        b.responsible_person,
        b.latitude,
        b.longitude,
        b.ip,
        b.port,
        b.voltage_Level,
        g.dict_note as voltageLevelName,
        b.sequence_point ,
        a.real_code ,
        b.address,
        d.model_name as modelName
        from t_std_device a,t_std_device_attr b,t_std_metemodel d,t_dict_business e,t_dict_business f,t_dict_business g,t_dict_business h
        where 1 = 1 and a.device_id = b.device_id and d.model_id=a.model_id and b.device_model = e.dict_code and b.device_vendor=f.dict_code and b.voltage_level=g.dict_code
        and h.dict_code = a.device_type
        and a.device_id = #{deviceId, jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdDevice" resultType="com.yjh.platform.module.device.entity.TStdDevice">
        select
        a.device_id,
        a.device_code,
        a.device_name,
        a.alias_name,
        a.device_type,
        a.position_type,
        a.model_id,
        a.region_path,
        a.up_region_id,
        a.up_region_name,
        a.custom_type,
        a.status,
        a.update_time,
        a.create_time,
        a.preset_id,
        a.camera_id
        from t_std_device a
        where 1 = 1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
        <if test="regionPath != null and regionPath != ''"> and a.region_path = #{regionPath, jdbcType=VARCHAR}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="upRegionName != null and upRegionName != ''"> and a.up_region_name = #{upRegionName, jdbcType=VARCHAR}</if>
        <if test="customType != null "> and a.custom_type = #{customType, jdbcType=INTEGER}</if>
        <if test="status != null "> and a.status = #{status, jdbcType=INTEGER}</if>
        <if test="updateTime != null"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByUnionKeys" resultType="com.yjh.platform.module.device.entity.TStdDevice">
        select
        a.device_id,
        a.device_code,
        a.device_name,
        a.alias_name,
        a.device_type,
        a.position_type,
        a.model_id,
        a.region_path,
        a.up_region_id,
        a.up_region_name,
        a.custom_type,
        a.status,
        a.update_time,
        a.create_time,
        a.preset_id,
        a.camera_id
        from t_std_device a
        where a.device_id=#{deviceId, jdbcType=BIGINT}
    </select>

    <select id="selectAll" parameterType="com.yjh.platform.module.device.entity.TStdDeviceDetail" resultType="com.yjh.platform.module.device.entity.TStdDeviceDetail">
        select
        a.*,
        b.*,
        d.*,
        h.*,
        preset.preset_name as presetName,
        info.camera_name as cameraName
        from t_std_device a
        left join (select * from t_std_device_attr
        left join (select dict_code as code1 ,dict_note as deviceModelName from t_dict_business) e on device_model = e.code1
        left join (select dict_code as code2,dict_note as deviceVendorName from t_dict_business) f on device_vendor=f.code2
        left join (select dict_code as code3,dict_note as voltageLevelName from t_dict_business) g on voltage_level=g.code3
        ) b on a.device_id = b.device_id
        left join (select model_id ,model_name as modelName from t_std_metemodel) d on d.model_id=a.model_id
        left join (select dict_code as code4,dict_note as deviceTypeName from t_dict_business) h on h.code4 = a.device_type
        left join t_camera_preset preset on a.preset_id = preset.preset_id
        left join t_camera_info info on a.camera_id = info.camera_id
        where 1=1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%') </if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and a.device_type like concat('%', #{deviceType, jdbcType=INTEGER},'%')</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
        <if test="regionPath != null and regionPath != ''"> and a.region_path = #{regionPath, jdbcType=VARCHAR}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="upRegionName != null and upRegionName != ''"> and a.up_region_name = #{upRegionName, jdbcType=VARCHAR}</if>
        <if test="customType != null "> and a.custom_type = #{customType, jdbcType=INTEGER}</if>
        <if test="status != null "> and a.status = #{status, jdbcType=INTEGER}</if>
        <if test="updateTime != null"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="deviceModel != null "> and b.device_model = #{deviceModel, jdbcType=INTEGER}</if>
        <if test="pmsType != null and pmsType != ''"> and b.pms_type = #{pmsType, jdbcType=VARCHAR}</if>
        <if test="pmsId != null and pmsId != ''"> and b.pms_id = #{pmsId, jdbcType=VARCHAR}</if>
        <if test="deviceVendor != null and deviceVendor != ''"> and b.device_vendor = #{deviceVendor, jdbcType=VARCHAR}</if>
        <if test="productionDate != null "> and b.production_date = #{productionDate, jdbcType=TIMESTAMP}</if>
        <if test="usedTime != null "> and b.used_time = #{usedTime, jdbcType=TIMESTAMP}</if>
        <if test="disableDate != null"> and b.disable_date = #{disableDate, jdbcType=TIMESTAMP}</if>
        <if test="lastMaintenance != null "> and b.last_maintenance = #{lastMaintenance, jdbcType=TIMESTAMP}</if>
        <if test="maintenanceCount != null and maintenanceCount != ''"> and b.maintenance_count = #{maintenanceCount, jdbcType=VARCHAR}</if>
        <if test="organization != null and organization != ''"> and b.organization = #{organization, jdbcType=VARCHAR}</if>
        <if test="department != null and department != ''"> and b.department = #{department, jdbcType=VARCHAR}</if>
        <if test="responsiblePerson != null and responsiblePerson != ''"> and b.responsible_person = #{responsiblePerson, jdbcType=VARCHAR}</if>
        <if test="latitude != null and latitude != ''"> and b.latitude = #{latitude, jdbcType=VARCHAR}</if>
        <if test="longitude != null and longitude != ''"> and b.longitude = #{longitude, jdbcType=VARCHAR}</if>
        <if test="ip != null and ip != ''"> and b.ip = #{ip, jdbcType=VARCHAR}</if>
        <if test="port != null "> and b.port = #{port, jdbcType=INTEGER}</if>
        <if test="voltageLevel != null and voltageLevel != ''"> and b.voltage_level = #{voltageLevel, jdbcType=VARCHAR}</if>
        <if test="sequencePoint != null and sequencePoint != ''"> and b.sequence_point = #{sequencePoint, jdbcType=VARCHAR}</if>
        <if test="realCode != null and realCode != ''"> and a.real_code like concat('%', #{realCode, jdbcType=VARCHAR},'%')</if>
        <if test="address != null and address != ''"> and b.address = #{address, jdbcType=VARCHAR}</if>
        GROUP BY a.device_id
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TStdDevice" resultType="com.yjh.platform.module.device.entity.TStdDevice">
        select
        a.device_id,
        a.device_code,
        a.device_name,
        a.alias_name,
        a.device_type,
        a.position_type,
        a.model_id,
        a.region_path,
        a.up_region_id,
        a.up_region_name,
        a.custom_type,
        a.status,
        a.update_time,
        a.create_time,
        a.preset_id,
        a.camera_Id
        from t_std_device a
        where 1 = 1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceCode != null and deviceCode != ''"> and a.device_code = #{deviceCode, jdbcType=VARCHAR}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="aliasName != null and aliasName != ''"> and a.alias_name = #{aliasName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
        <if test="regionPath != null and regionPath != ''"> and a.region_path = #{regionPath, jdbcType=VARCHAR}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="upRegionName != null and upRegionName != ''"> and a.up_region_name = #{upRegionName, jdbcType=VARCHAR}</if>
        <if test="customType != null "> and a.custom_type = #{customType, jdbcType=INTEGER}</if>
        <if test="status != null "> and a.status = #{status, jdbcType=INTEGER}</if>
        <if test="updateTime != null"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectForPage" parameterType="com.yjh.platform.module.device.entity.TStdDeviceDetail" resultType="java.lang.Long">
        select a.device_id
        from t_std_device a
        where 1=1
        <if test="deviceName != null and deviceName != ''"> and a.device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%') </if>
        <if test="deviceType != null and deviceType!=-1"> and a.device_type like concat('%', #{deviceType, jdbcType=INTEGER},'%')</if>
        <if test="realCode != null and realCode != ''"> and a.real_code like concat('%', #{realCode, jdbcType=VARCHAR},'%')</if>
        <if test="upRegionId != null and upRegionId != '' and upRegionId != -1">
            and a.up_region_id in
            <foreach collection="upRegionIds" item="upRegionIds"  separator="," open="(" close=")"  >
                #{upRegionIds,jdbcType=BIGINT}
            </foreach></if>
        group by a.device_id
        order by a.device_id desc
    </select>

    <select id="selectByPageAll"  resultType="com.yjh.platform.module.device.entity.TStdDeviceDetail">
        select
        <include refid="All"/>,
        e.dict_note as deviceModelName,
        f.dict_note as deviceVendorName,
        g.dict_note as voltageLevelName,
        d.model_name as modelName,
        h.dict_note as deviceTypeName,
        l.pic_real_path,
        k.region_name as upRegionName,
        preset.preset_name as presetName,
        info.camera_name as cameraName
        from t_std_device a
        left join t_std_device_attr b on a.device_id = b.device_id
        left join t_dict_business e on device_model = e.dict_code
        left join t_dict_business f on device_vendor=f.dict_code
        left join t_dict_business g on voltage_level=g.dict_code
        left join t_std_metemodel d on d.model_id=a.model_id
        left join t_dict_business h on h.dict_code = a.device_type
        left join t_std_region k on a.up_region_id = k.region_id
        left join t_device_type_img l on a.device_type = l.type_id
        left join t_camera_preset preset on a.preset_id = preset.preset_id
        left join t_camera_info info on a.camera_id = info.camera_id
        where 1=1
        <if test="upRegionId != null and upRegionId != '' and upRegionId != -1">
        and a.up_region_id in
        <foreach collection="upRegionIds" item="upRegionIds"  separator="," open="(" close=")"  >
            #{upRegionIds,jdbcType=BIGINT}
        </foreach></if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name like concat('%',#{deviceName, jdbcType=VARCHAR},'%') </if>
        <if test="deviceType != null and deviceType!=-1"> and a.device_type like concat('%', #{deviceType, jdbcType=INTEGER},'%')</if>
        <if test="realCode != null and realCode != ''"> and a.real_code like concat('%', #{realCode, jdbcType=VARCHAR},'%')</if>
        <if test="pageSize != 0">  and a.device_id in
            <foreach collection="list" item="deviceId"  separator="," open="(" close=")"  >
                #{deviceId,jdbcType=BIGINT}
            </foreach></if>
         group by a.device_id
         order by a.device_id desc

    </select>

    <select id="selectRegionById" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        DISTINCT a.device_id,
        b.region_id,
        b.region_name,
        b.sort,
        b.up_region_id,
        b.up_region_ids,
        b.region_code,
        b.station_id,
        b.state,
        b.create_time
        from t_std_device a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        where 1 = 1
        and a.device_id = #{deviceId, jdbcType=BIGINT}
    </select>

    <select id="selectDevTreeCustom" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT DISTINCT c.custom_id AS Id, c.custom_name AS label, c.device_id AS upId, e.device_name AS upName, "custom" AS infoType
                FROM t_std_devicemete c
                LEFT JOIN t_std_device e ON c.device_id = e.device_id);
    </select>

    <select id="selectDevTreeDevice" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType, "" AS deviceTypeId
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
            where 1 = 1
            <if test="regionId != null">and a.region_id =#{regionId, jdbcType=BIGINT}</if>
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType, b.device_type AS deviceTypeId
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id
                where 1 = 1
                <if test="regionId != null">and b.up_region_id =#{regionId, jdbcType=BIGINT}</if>);
    </select>

    <select id="selectDevTreeRegion" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id;
    </select>

    <select id="selectAllTreeCustom" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT DISTINCT c.custom_id AS Id, c.custom_name AS label, c.device_id AS upId, e.device_name AS upName, "custom" AS infoType
                FROM t_std_devicemete c
                LEFT JOIN t_std_device e ON c.device_id = e.device_id)
        UNION ALL (
            SELECT d.camera_id AS Id, d.camera_name AS label, d.up_region_id AS upId, b.region_name AS upName, "camera" AS infoType
                FROM t_camera_info d
                LEFT JOIN t_std_region b ON d.up_region_id = b.region_id);
    </select>

    <select id="selectAllTreeDevice" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT d.camera_id AS Id, d.camera_name AS label, d.up_region_id AS upId, b.region_name AS upName, "camera" AS infoType
                FROM t_camera_info d
                LEFT JOIN t_std_region b ON d.up_region_id = b.region_id);
    </select>

    <select id="selectRobotTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
        FROM t_std_region a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
        SELECT DISTINCT b.robot_id AS Id, b.robot_name AS label, b.up_region_id AS upId, d.region_name AS upName, "robot" AS infoType
        FROM t_robot_info b
        LEFT JOIN t_std_region d ON b.up_region_id = d.region_id);
    </select>

    <select id="selectAllRegion" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
        FROM t_std_region a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id;
    </select>

    <select id="selectRobotInspectionTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
          FROM t_std_region a
          LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
          SELECT DISTINCT c.robot_id AS Id, c.robot_name AS label, c.up_region_id AS upId, d.region_name AS upName, "robot" AS infoType
            FROM t_robot_info c
            LEFT JOIN t_std_region d ON c.up_region_id = d.region_id)
        union all (
	      select e.inspection_id as Id, e.inspection_name as label, f.robot_id as upId, f.robot_name as upName, "inspection" as infoType
		    from t_robot_inspection e
		    left join t_robot_info f on f.robot_id = e.robot_id);
    </select>

    <select id="selectAllMeteTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT d.camera_id AS Id, d.camera_name AS label, d.up_region_id AS upId, b.region_name AS upName, "camera" AS infoType
                FROM t_camera_info d
                LEFT JOIN t_std_region b ON d.up_region_id = b.region_id)
        UNION ALL (
            SELECT DISTINCT b.robot_id AS Id, b.robot_name AS label, b.up_region_id AS upId, d.region_name AS upName, "robot" AS infoType
                FROM t_robot_info b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
	        SELECT e.inspection_id AS Id, e.inspection_name AS label, f.robot_id AS upId, f.robot_name AS upName, "inspection" AS infoType
		        FROM t_robot_inspection e
		        LEFT JOIN t_robot_info f ON f.robot_id = e.robot_id)
        UNION ALL (
            SELECT e.preset_id AS Id, e.preset_name AS label, f.camera_id AS upId, f.camera_name AS upName, "preset" AS infoType
                FROM t_camera_preset e
                LEFT JOIN t_camera_info f ON f.camera_id = e.camera_id);
    </select>

    <select id="selectAllMeteCruiseTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT DISTINCT dm.device_mete_id AS Id, dm.mete_name AS label, dm.device_id AS upId,	sd.device_name AS upName,"devicemete" AS infoType
                FROM t_std_devicemete dm
                LEFT JOIN t_std_device sd ON sd.device_id = dm.device_id
                where 1=1
        <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
        <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>
        )
        UNION ALL (
		    SELECT cpi.instance_id AS Id,cpi.cruise_name AS label,cpi.device_mete_id AS upId,dm.mete_name AS upName,
		    (case when cpi.cruise_type = 228 then "robotCruiseInspection"
			when cpi.cruise_type = 229 then "videoCruiseInspection" when cpi.cruise_type = 230 then "videoCruiseInspection" END) AS infoType
		    FROM  t_cruise_point_instance cpi
            LEFT JOIN t_std_devicemete dm ON dm.device_mete_id = cpi.device_mete_id
        where 1=1
        <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
        <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>);
    </select>

    <select id="selectRobotMeteCruiseTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT DISTINCT dm.device_mete_id AS Id, dm.mete_name AS label, dm.device_id AS upId,	sd.device_name AS upName,"devicemete" AS infoType
                FROM t_std_devicemete dm
                LEFT JOIN t_std_device sd ON sd.device_id = dm.device_id
                where 1=1
                <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
                <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>)
        UNION ALL (
		    SELECT cpi.instance_id AS Id,cpi.cruise_name AS label,cpi.device_mete_id AS upId,dm.mete_name AS upName,
		    (case when cpi.cruise_type = 228 then "robotCruiseInspection"
			when cpi.cruise_type = 229 then "videoCruiseInspection" when cpi.cruise_type = 230 then "videoCruiseInspection" END) AS infoType
		    FROM  t_cruise_point_instance cpi
            LEFT JOIN t_std_devicemete dm ON dm.device_mete_id = cpi.device_mete_id
            where cpi.cruise_type = 228
            <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
            <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>
            );
    </select>

    <select id="selectCameraMeteCruiseTree" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
            FROM t_std_region a
            LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
            SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
                FROM t_std_device b
                LEFT JOIN t_std_region d ON b.up_region_id = d.region_id)
        UNION ALL (
            SELECT DISTINCT dm.device_mete_id AS Id, dm.mete_name AS label, dm.device_id AS upId,	sd.device_name AS upName,"devicemete" AS infoType
                FROM t_std_devicemete dm
                LEFT JOIN t_std_device sd ON sd.device_id = dm.device_id
                where 1=1
                <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
                <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>)
        UNION ALL (
		    SELECT cpi.instance_id AS Id,cpi.cruise_name AS label,cpi.device_mete_id AS upId,dm.mete_name AS upName,
		    (case when cpi.cruise_type = 228 then "robotCruiseInspection"
			when cpi.cruise_type = 229 then "videoCruiseInspection" when cpi.cruise_type = 230 then "videoCruiseInspection" END) AS infoType
		    FROM  t_cruise_point_instance cpi
            LEFT JOIN t_std_devicemete dm ON dm.device_mete_id = cpi.device_mete_id
            where cpi.cruise_type = 229
            <if test="deviceType != null and deviceType != ''">and dm.mete_type = #{deviceType, jdbcType=VARCHAR}</if>
            <if test="analyseType != null and analyseType != ''">and dm.analyse_type = #{analyseType, jdbcType=VARCHAR}</if>);
    </select>

    <select id="selectDevTaskTree" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.AreaInfo">
        SELECT a.region_id AS Id, a.region_name AS label, a.up_region_id AS upId, b.region_name AS upName, "region" AS infoType
        FROM t_std_region a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        UNION ALL (
        SELECT DISTINCT b.device_id AS Id, b.device_name AS label, b.up_region_id AS upId, d.region_name AS upName, "device" AS infoType
        FROM t_std_device b
        LEFT JOIN t_std_region d ON b.up_region_id = d.region_id
        LEFT JOIN u_patrol_task_attr e ON e.device_id = b.device_id
        WHERE 1 = 1
        <if test="taskId != null and taskId != ''"> and e.task_id = #{taskId, jdbcType=VARCHAR}</if>)
        UNION ALL (
        SELECT DISTINCT c.custom_id AS Id, c.custom_name AS label, c.device_id AS upId, e.device_name AS upName, "custom" AS infoType
        FROM t_std_devicemete c
        LEFT JOIN t_std_device e ON c.device_id = e.device_id
        LEFT JOIN u_patrol_task_attr f ON f.device_mete_id = c.device_mete_id
        WHERE 1 = 1
        <if test="taskId != null and taskId != ''"> and f.task_id = #{taskId, jdbcType=VARCHAR}</if>)
    </select>

    <select id="selectByModelId" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        a.device_id
        from t_std_device a
        where 1 = 1
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
    </select>

    <update id="updateModelIdByDevCus">
       UPDATE t_std_device
       SET model_id = #{modelId,jdbcType=BIGINT}
       WHERE
       device_id = #{deviceId,jdbcType=BIGINT}
       LIMIT 1
    </update>

    <delete id="batchDelete" >
        DELETE
        FROM
        t_std_device
        WHERE
        device_id in
        <foreach collection="list" item="deviceId"  separator="," open="(" close=")" >
            #{deviceId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="selectCustomTypeByDict" resultType="java.lang.String">
         SELECT
	        dict_code AS customType
         FROM
	        t_dict_business
         WHERE
	        col_name = "custom_type"
         AND dict_note = "本体"
    </select>

    <select id="selectCustomInfoByDict" resultType="com.yjh.platform.module.device.entity.CustomInfo">
        SELECT
	       dict_code AS customType,
	       dict_note AS customTypeName
        FROM
	       t_dict_business
        WHERE
	       col_name = "custom_type"
    </select>

    <select id="selectDeviceBase" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.DeviceBaseReport">
        SELECT DISTINCT
        b.up_region_name AS 'deviceRegion',
        b.device_name,
        b.device_code,
        c.dict_note AS 'deviceTypeName',
        a.custom_name,
        (
        SELECT
        count(*)
        FROM
        t_std_devicemete d

        WHERE
        d.device_id = a.device_id
        ) AS 'meteCounts'
        FROM
        t_std_devicemete a
        LEFT JOIN t_std_device b ON a.device_id = b.device_id
        AND a.device_id = b.device_id
        LEFT JOIN t_dict_business c ON b.device_type = c.dict_code
        WHERE
            a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}

    </select>

    <select id="selectDeviceMeteBase" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.DeviceMeteBaseReport">
         SELECT
            a.mete_name AS 'deviceMeteName',
            b.dict_note AS 'meteTypeName',
            (
                SELECT
                    count(*)
                FROM
                    t_std_devicemete c
                LEFT JOIN t_cruise_point_instance d ON c.device_mete_id = d.device_mete_id
                WHERE
                    c.device_mete_id = a.device_mete_id
            ) AS 'cruiseCounts'
        FROM
            t_std_devicemete a
        LEFT JOIN t_dict_business b ON a.mete_type = b.dict_code
        WHERE
            a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}

    </select>

    <select id="selectDeviceIdsByRegion" parameterType="java.util.List" resultType="java.lang.Long">
        SELECT DISTINCT
        device_id
        FROM
        t_std_device
        WHERE up_region_id IN
        <foreach collection="list" item="regionIds" separator="," open="(" close=")" index="index">
            #{regionIds,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectDeviceIdListByRegion" parameterType="java.util.List" resultType="java.lang.Long">
        SELECT DISTINCT
        device_id
        FROM
        t_std_device
        WHERE 1 = 1
        <if test="list != null and list.size() > 0">and up_region_id IN
            <foreach collection="list" item="regionIds" separator="," open="(" close=")" index="index">
                #{regionIds,jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <select id="defaultPart" resultType="java.lang.String">
        SELECT
            a.dict_code
        FROM
            t_dict_business a
        WHERE
            a.col_name = 'custom_type'
        ORDER BY a.dict_code
            LIMIT 1
    </select>

</mapper>
