<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdMetemodelDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
        <id column="model_id" jdbcType="BIGINT" property="modelId" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="mete_name" jdbcType="VARCHAR" property="meteName" />
        <result column="mete_type" jdbcType="VARCHAR" property="meteType" />
        <result column="mete_kind" jdbcType="INTEGER" property="meteKind" />
        <result column="analyse_type" jdbcType="INTEGER" property="analyseType" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="alarm_note" jdbcType="VARCHAR" property="alarmNote" />
        <result column="alarm_explain" jdbcType="VARCHAR" property="alarmExplain" />
        <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
        <result column="up_effect" jdbcType="REAL" property="upEffect" />
        <result column="down_effect" jdbcType="REAL" property="downEffect" />
        <result column="state_zero" jdbcType="VARCHAR" property="stateZero"/>
        <result column="state_one" jdbcType="VARCHAR" property="stateOne"/>
        <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
        <result column="high_limit1" jdbcType="REAL" property="highLimit1" />
        <result column="low_limit1" jdbcType="REAL" property="lowLimit1" />
        <result column="high_limit2" jdbcType="REAL" property="highLimit2" />
        <result column="low_limit2" jdbcType="REAL" property="lowLimit2" />
        <result column="high_limit3" jdbcType="REAL" property="highLimit3" />
        <result column="low_limit3" jdbcType="REAL" property="lowLimit3" />
        <result column="high_limit4" jdbcType="REAL" property="highLimit4" />
        <result column="low_limit4" jdbcType="REAL" property="lowLimit4" />
        <result column="alarm_delay" jdbcType="INTEGER" property="alarmDelay" />
        <result column="alarm_cnt" jdbcType="INTEGER" property="alarmCnt" />
        <result column="threshold_abs" jdbcType="NUMERIC" property="thresholdAbs" />
        <result column="threshold_per" jdbcType="NUMERIC" property="thresholdPer" />
        <result column="modulus" jdbcType="INTEGER" property="modulus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        model_id, mete_id, custom_id, mete_name, mete_type,mete_kind,analyse_type, unit, alarm_note, alarm_explain, alarm_type, up_effect, down_effect,state_zero ,state_one,alarm_level, high_limit1, low_limit1, high_limit2, low_limit2, high_limit3, low_limit3, high_limit4, low_limit4, alarm_delay, alarm_cnt, threshold_abs, threshold_per, modulus
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="modelId" parameterType="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
        insert into t_std_metemodel_detail(
            model_id,
            mete_id,
            custom_id,
            mete_name,
            mete_type,
            mete_kind,
            analyse_type,
            unit,
            alarm_note,
            alarm_explain,
            alarm_type,
            up_effect,
            down_effect,
            state_zero,
            state_one,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            high_limit3,
            low_limit3,
            high_limit4,
            low_limit4,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            modulus
        )values(
                #{modelId, jdbcType=BIGINT},
                #{meteId, jdbcType=BIGINT},
                #{customId, jdbcType=VARCHAR},
                #{meteName, jdbcType=VARCHAR},
                #{meteType, jdbcType=VARCHAR},
                #{meteKind, jdbcType=INTEGER},
                #{analyseType, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR},
                #{alarmNote, jdbcType=VARCHAR},
                #{alarmExplain, jdbcType=VARCHAR},
                #{alarmType, jdbcType=VARCHAR},
                #{upEffect, jdbcType=REAL},
                #{downEffect, jdbcType=REAL},
                #{stateZero,jdbcType=VARCHAR},
                #{stateOne,jdbcType=VARCHAR},
                #{alarmLevel, jdbcType=INTEGER},
                #{highLimit1, jdbcType=REAL},
                #{lowLimit1, jdbcType=REAL},
                #{highLimit2, jdbcType=REAL},
                #{lowLimit2, jdbcType=REAL},
                #{highLimit3, jdbcType=REAL},
                #{lowLimit3, jdbcType=REAL},
                #{highLimit4, jdbcType=REAL},
                #{lowLimit4, jdbcType=REAL},
                #{alarmDelay, jdbcType=INTEGER},
                #{alarmCnt, jdbcType=INTEGER},
                #{thresholdAbs, jdbcType=NUMERIC},
                #{thresholdPer, jdbcType=NUMERIC},
                #{modulus, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long" >
        delete from t_std_metemodel_detail
                where model_id = #{modelId, jdbcType=BIGINT}
                and mete_id=#{meteId,jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
        update t_std_metemodel_detail a <set>
        <if test="modelId != null ">a.model_id = #{modelId},</if>
        a.mete_id = #{meteId},
        a.custom_id = #{customType},
        <if test="meteName != null ">a.mete_name = #{meteName},</if>
        a.mete_type = #{meteType},
         a.mete_kind = #{meteKind, jdbcType=INTEGER},
         a.analyse_type = #{analyseType, jdbcType=INTEGER},
        <if test="unit != null ">a.unit = #{unit},</if>
        a.alarm_note = #{alarmNote},
        <if test="alarmExplain != null ">a.alarm_explain = #{alarmExplain},</if>
        a.alarm_type = #{alarmType},
        a.up_effect = #{upEffect, jdbcType=REAL},
        a.down_effect = #{downEffect, jdbcType=REAL},
        a.state_zero =#{stateZero},
        a.state_one =#{stateOne},
        a.alarm_level = #{alarmLevel, jdbcType=INTEGER},
        a.high_limit1 = #{highLimit1, jdbcType=REAL},
        a.low_limit1 = #{lowLimit1, jdbcType=REAL},
        a.high_limit2 = #{highLimit2, jdbcType=REAL},
        a.low_limit2 = #{lowLimit2, jdbcType=REAL},
        a.high_limit3 = #{highLimit3, jdbcType=REAL},
        a.low_limit3 = #{lowLimit3, jdbcType=REAL},
        a.high_limit4 = #{highLimit4, jdbcType=REAL},
        a.low_limit4 = #{lowLimit4, jdbcType=REAL},
        a.alarm_delay = #{alarmDelay, jdbcType=INTEGER},
        a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER},
        a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC},
        a.threshold_per = #{thresholdPer, jdbcType=NUMERIC},
        a.modulus = #{modulus, jdbcType=INTEGER},
    </set>
        where a.model_id = #{modelId, jdbcType=BIGINT}
        and a.mete_id=#{meteId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
       SELECT
	    a.model_id,
        a.mete_id,
        a.custom_id as customType,
        b.dict_note AS "customTypeName",
        a.mete_name,
        a.mete_type,
        a.mete_kind,
        a.analyse_type,
        j.dict_note AS "analyseTypeName",
        a.unit,
        a.alarm_note,
        a.alarm_explain,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.state_zero,
        a.state_one,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus
       FROM
	      t_std_metemodel_detail a
       LEFT JOIN t_dict_business b ON a.custom_id = b.dict_code
        left join t_dict_business j on a.analyse_type = j.dict_code and (j.col_name = "analyse_type" or j.col_name = "defect_type")
      WHERE a.model_id = #{modelId, jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdMeteModelDetail" resultType="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
        select
        a.model_id,
        a.mete_id,
        a.custom_id as customType,
        b.dict_note AS "customTypeName",
        a.mete_name,
        a.mete_type,
        a.mete_kind,
        a.analyse_type,
        j.dict_note AS "analyseTypeName",
        a.unit,
        a.alarm_note,
        a.alarm_explain,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus
        from t_std_metemodel_detail a
        left join t_dict_business b ON a.custom_id = b.dict_code
        left join t_dict_business j on a.analyse_type = j.dict_code and (j.col_name = "analyse_type" or j.col_name = "defect_type")
        where 1 = 1
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="customType != null "> and a.custom_id = #customType, jdbcType=VARCHAR}</if>
        <if test="customTypeName != null "> and b.dict_note = #{customTypeName, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meteKind != null">and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="analyseType != null">and a.analyse_type = #{analyseType, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="alarmNote != null and alarmNote != ''"> and a.alarm_note = #{alarmNote, jdbcType=VARCHAR}</if>
        <if test="alarmExplain != null and alarmExplain != ''"> and a.alarm_explain = #{alarmExplain, jdbcType=VARCHAR}</if>
        <if test="alarmType != null and alarmType != ''"> and a.alarm_type = #{alarmType, jdbcType=VARCHAR}</if>
        <if test="upEffect != null and upEffect != ''"> and a.up_effect = #{upEffect, jdbcType=REAL}</if>
        <if test="downEffect != null and downEffect != ''"> and a.down_effect = #{downEffect, jdbcType=REAL}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="highLimit1 != null and highLimit1 != ''"> and a.high_limit1 = #{highLimit1, jdbcType=REAL}</if>
        <if test="lowLimit1 != null and lowLimit1 != ''"> and a.low_limit1 = #{lowLimit1, jdbcType=REAL}</if>
        <if test="highLimit2 != null and highLimit2 != ''"> and a.high_limit2 = #{highLimit2, jdbcType=REAL}</if>
        <if test="lowLimit2 != null and lowLimit2 != ''"> and a.low_limit2 = #{lowLimit2, jdbcType=REAL}</if>
        <if test="highLimit3 != null and highLimit3 != ''"> and a.high_limit3 = #{highLimit3, jdbcType=REAL}</if>
        <if test="lowLimit3 != null and lowLimit3 != ''"> and a.low_limit3 = #{lowLimit3, jdbcType=REAL}</if>
        <if test="highLimit4 != null and highLimit4 != ''"> and a.high_limit4 = #{highLimit4, jdbcType=REAL}</if>
        <if test="lowLimit4 != null and lowLimit4 != ''"> and a.low_limit4 = #{lowLimit4, jdbcType=REAL}</if>
        <if test="alarmDelay != null "> and a.alarm_delay = #{alarmDelay, jdbcType=INTEGER}</if>
        <if test="alarmCnt != null "> and a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER}</if>
        <if test="thresholdAbs != null and thresholdAbs != ''"> and a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC}</if>
        <if test="thresholdPer != null and thresholdPer != ''"> and a.threshold_per = #{thresholdPer, jdbcType=NUMERIC}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TStdMeteModelDetail" resultType="com.yjh.platform.module.device.entity.TStdMeteModelDetail">
        SELECT
        a.model_id,
        a.mete_id,
        a.custom_id as customType,
        b.dict_note AS "customTypeName",
        c.dict_note AS "meteTypeName",
        d.device_type AS "deviceType",
        e.dict_note AS "deviceTypeName",
        f.dict_note AS "meteKindName",
        a.mete_name,
        a.mete_type,
        a.mete_kind,
        a.analyse_type,
        l.dict_note AS "analyseTypeName",
        a.unit,
        a.alarm_note,
        a.alarm_explain,
        a.alarm_type,
        k.dict_note as alarmTypeName,
        a.up_effect,
        a.down_effect,
        a.state_zero,
        a.state_one,
        a.alarm_level,
        j.dict_note as alarmLevelName,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus,
        d.model_name
        FROM
        ((
        (
        t_std_metemodel_detail a
        LEFT JOIN t_dict_business b ON a.custom_id = b.dict_code
        AND b.col_name = "custom_type"
        )
        LEFT JOIN t_dict_business c ON a.mete_type = c.dict_code
        AND c.col_name = "mete_type"
        )LEFT JOIN t_dict_business f on a.mete_kind=f.dict_code and  f.col_name="mete_kind")
        LEFT JOIN (
        t_std_metemodel d
        LEFT JOIN t_dict_business e ON d.device_type = e.dict_code
        AND e.col_name = "device_type"
        ) ON a.model_id = d.model_id
        LEFT JOIN t_dict_business j ON a.alarm_level = j.dict_code
        LEFT JOIN t_dict_business k ON a.alarm_type = k.dict_code
        left join t_dict_business l on a.analyse_type = l.dict_code and (l.col_name = "analyse_type" or l.col_name = "defect_type")
        where 1=1
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="customType != null "> and a.custom_id = #{customType, jdbcType=VARCHAR}</if>
        <if test="customTypeName != null "> and b.dict_note = #{customTypeName, jdbcType=VARCHAR}</if>
        <if test="meteTypeName != null "> and c.dict_note = #{meteTypeName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and d.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="deviceTypeName != null "> and e.dict_note = #{deviceTypeName, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name LIKE CONCAT ('%',#{meteName, jdbcType=VARCHAR},'%')</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meteKind != null">and a.mete_kind = #{meteKind, jdbcType=INTEGER}</if>
        <if test="analyseType != null">and a.analyse_type = #{analyseType, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="alarmNote != null and alarmNote != ''"> and a.alarm_note = #{alarmNote, jdbcType=VARCHAR}</if>
        <if test="alarmExplain != null and alarmExplain != ''"> and a.alarm_explain = #{alarmExplain, jdbcType=VARCHAR}</if>
        <if test="alarmType != null and alarmType != ''"> and a.alarm_type = #{alarmType, jdbcType=VARCHAR}</if>
        <if test="upEffect != null and upEffect != ''"> and a.up_effect = #{upEffect, jdbcType=REAL}</if>
        <if test="downEffect != null and downEffect != ''"> and a.down_effect = #{downEffect, jdbcType=REAL}</if>
        <if test="stateZero != null and stateZero != ''"> and a.state_zero = #{stateZero, jdbcType=VARCHAR}</if>
        <if test="stateOne != null and stateOne != ''"> and a.state_one = #{stateOne, jdbcType=VARCHAR}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="highLimit1 != null and highLimit1 != ''"> and a.high_limit1 = #{highLimit1, jdbcType=REAL}</if>
        <if test="lowLimit1 != null and lowLimit1 != ''"> and a.low_limit1 = #{lowLimit1, jdbcType=REAL}</if>
        <if test="highLimit2 != null and highLimit2 != ''"> and a.high_limit2 = #{highLimit2, jdbcType=REAL}</if>
        <if test="lowLimit2 != null and lowLimit2 != ''"> and a.low_limit2 = #{lowLimit2, jdbcType=REAL}</if>
        <if test="highLimit3 != null and highLimit3 != ''"> and a.high_limit3 = #{highLimit3, jdbcType=REAL}</if>
        <if test="lowLimit3 != null and lowLimit3 != ''"> and a.low_limit3 = #{lowLimit3, jdbcType=REAL}</if>
        <if test="highLimit4 != null and highLimit4 != ''"> and a.high_limit4 = #{highLimit4, jdbcType=REAL}</if>
        <if test="lowLimit4 != null and lowLimit4 != ''"> and a.low_limit4 = #{lowLimit4, jdbcType=REAL}</if>
        <if test="alarmDelay != null "> and a.alarm_delay = #{alarmDelay, jdbcType=INTEGER}</if>
        <if test="alarmCnt != null "> and a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER}</if>
        <if test="thresholdAbs != null and thresholdAbs != ''"> and a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC}</if>
        <if test="thresholdPer != null and thresholdPer != ''"> and a.threshold_per = #{thresholdPer, jdbcType=NUMERIC}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        ORDER BY model_id,custom_id,mete_kind
    </select>

    <insert id="batchAdd">
        insert into t_std_metemodel_detail(
        model_id,
        mete_id,
        custom_id,
        mete_name,
        mete_type,
        mete_kind,
        analyse_type
        unit,
        alarm_note,
        alarm_explain,
        alarm_type,
        up_effect,
        down_effect,
        state_zero,
        state_one,
        alarm_level,
        high_limit1,
        low_limit1,
        high_limit2,
        low_limit2,
        high_limit3,
        low_limit3,
        high_limit4,
        low_limit4,
        alarm_delay,
        alarm_cnt,
        threshold_abs,
        threshold_per,
        modulus
        )values
        <foreach collection="list" item="TStdMeteModelDetail" separator=",">
            (
            #{TStdMeteModelDetail.modelId, jdbcType=BIGINT},
            #{TStdMeteModelDetail.meteId, jdbcType=BIGINT},
            #{TStdMeteModelDetail.customId, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteName, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteKind, jdbcType=INTEGER},
            #{TStdMeteModelDetail.analyse_type, jdbcType=INTEGER},
            #{TStdMeteModelDetail.unit, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmNote, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmExplain, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.upEffect, jdbcType=REAL},
            #{TStdMeteModelDetail.downEffect, jdbcType=REAL},
            #{TStdMete.stateZero,jdbcType=VARCHAR},
            #{TStdMete.stateOne,jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmLevel, jdbcType=INTEGER},
            #{TStdMeteModelDetail.highLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.alarmDelay, jdbcType=INTEGER},
            #{TStdMeteModelDetail.alarmCnt, jdbcType=INTEGER},
            #{TStdMeteModelDetail.thresholdAbs, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.thresholdPer, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.modulus, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectMeteBlindModel"  parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.MeteInfo">
       select mete_id,mete_name FROM t_std_metemodel_detail WHERE model_id=#{modelId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByMeteId" parameterType="java.lang.Long">
        DELETE FROM t_std_metemodel_detail WHERE mete_id=#{meteId,jdbcType=BIGINT}
    </delete>

    <select id="selectColumnName" resultType="java.lang.String">
         SELECT DISTINCT column_comment FROM information_schema.columns WHERE table_name = 't_std_mete' AND column_comment != '';
    </select>

    <select id="selectForDict" resultType="java.lang.String">
        select dict_note from t_dict_business where col_name = #{colName,jdbcType = VARCHAR}
    </select>

    <select id="selectForDictByanalyseType" resultType="java.lang.String">
        select dict_note from t_dict_business where col_name in
        <foreach collection="list" item="colName"  open="(" separator="," close=")">
            #{colName,jdbcType = VARCHAR}
        </foreach>
    </select>

    <resultMap id="mapResultMap" type="java.util.HashMap">
        <result property="key" column="id"/>
        <result property="value" column="value"/>
    </resultMap>
    <select id="selectForDictNote" resultMap="mapResultMap">
        select
        a.dict_note AS "id",
        a.dict_code AS "value"
        from t_dict_business a
        where a.col_name in ("device_type","mete_type","alarm_level","alarm_type","analyse_type","defect_type")
        order by value desc
    </select>

    <select id="selectTSTDMeteAll" resultType="com.yjh.platform.module.device.entity.TStdMete">
        select
            a.device_type,
            a.mete_type,
            a.mete_name
        from t_std_mete a
    </select>

</mapper>
