<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdDevicemeteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdDeviceMete">
        <id column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="mete_kind" jdbcType="VARCHAR" property="meteKind" />
        <result column="mete_name" jdbcType="VARCHAR" property="meteName" />
        <result column="device_type" jdbcType="INTEGER" property="deviceType" />
        <result column="custom_type" jdbcType="INTEGER" property="customType" />
        <result column="position_type" jdbcType="VARCHAR" property="positionType" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="alarm_note" jdbcType="VARCHAR" property="alarmNote" />
        <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
        <result column="up_effect" jdbcType="REAL" property="upEffect" />
        <result column="down_effect" jdbcType="REAL" property="downEffect" />
        <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
        <result column="high_limit1" jdbcType="REAL" property="highLimit1" />
        <result column="low_limit1" jdbcType="REAL" property="lowLimit1" />
        <result column="high_limit2" jdbcType="REAL" property="highLimit2" />
        <result column="low_limit2" jdbcType="REAL" property="lowLimit2" />
        <result column="alarm_delay" jdbcType="INTEGER" property="alarmDelay" />
        <result column="alarm_cnt" jdbcType="INTEGER" property="alarmCnt" />
        <result column="threshold_abs" jdbcType="NUMERIC" property="thresholdAbs" />
        <result column="threshold_per" jdbcType="NUMERIC" property="thresholdPer" />
        <result column="mete_type" jdbcType="VARCHAR" property="meteType" />
        <result column="modulus" jdbcType="INTEGER" property="modulus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="stateZero" jdbcType="VARCHAR" property="stateZero" />
        <result column="stateOne" jdbcType="VARCHAR" property="stateOne" />
        <result column="alarmState" jdbcType="INTEGER" property="alarmState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_mete_id, device_id, custom_id, mete_id, mete_kind, mete_name, device_type, custom_type, position_type, unit, alarm_note, alarm_type,
        up_effect, down_effect, alarm_level, high_limit1, low_limit1, high_limit2, low_limit2, alarm_delay, alarm_cnt, threshold_abs, threshold_per,
        mete_type, modulus, remark,state_zero,state_one,alarm_state
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="deviceMeteId" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        insert into t_std_devicemete(
            device_mete_id,
            device_id,
            custom_id,
            mete_id,
            mete_kind,
            mete_name,
            device_type,
            custom_type,
            position_type,
            unit,
            alarm_note,
            alarm_type,
            up_effect,
            down_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            high_limit3,
            low_limit3,
            high_limit4,
            low_limit4,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            mete_type,
            modulus,
            remark,
            state_zero,
            state_one,
            alarm_state
        )values(
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{customId, jdbcType=VARCHAR},
                #{meteId, jdbcType=BIGINT},
                #{meteKind, jdbcType=INTEGER},
                #{meteName, jdbcType=VARCHAR},
                #{deviceType, jdbcType=INTEGER},
                #{customType, jdbcType=INTEGER},
                #{positionType, jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{alarmNote, jdbcType=VARCHAR},
                #{alarmType, jdbcType=VARCHAR},
                #{upEffect, jdbcType=REAL},
                #{downEffect, jdbcType=REAL},
                #{alarmLevel, jdbcType=INTEGER},
                #{highLimit1, jdbcType=REAL},
                #{lowLimit1, jdbcType=REAL},
                #{highLimit2, jdbcType=REAL},
                #{lowLimit2, jdbcType=REAL},
                #{highLimit3, jdbcType=REAL},
                #{lowLimit3, jdbcType=REAL},
                #{highLimit4, jdbcType=REAL},
                #{lowLimit4, jdbcType=REAL},
                #{alarmDelay, jdbcType=INTEGER},
                #{alarmCnt, jdbcType=INTEGER},
                #{thresholdAbs, jdbcType=NUMERIC},
                #{thresholdPer, jdbcType=NUMERIC},
                #{meteType,jdbcType=VARCHAR},
                #{modulus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR},
                #{stateZero, jdbcType=VARCHAR},
                #{stateOne, jdbcType=VARCHAR},
                #{alarmState, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_std_devicemete
                where device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        update t_std_devicemete a <set>
        <if test="deviceMeteId != null and deviceMeteId != ''">a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="customId != null and customId != ''">a.custom_id = #{customId, jdbcType=VARCHAR},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="meteKind != null and meteKind != ''">a.mete_kind = #{meteKind, jdbcType=VARCHAR},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="deviceType != null ">a.device_type = #{deviceType, jdbcType=INTEGER},</if>
        <if test="customType != null ">a.custom_type = #{customType, jdbcType=INTEGER},</if>
        <if test="positionType != null and positionType != ''">a.position_type = #{positionType, jdbcType=VARCHAR},</if>
        <if test="unit != null and unit != ''">a.unit = #{unit, jdbcType=VARCHAR},</if>
        <if test="alarmNote != null and alarmNote != ''">a.alarm_note = #{alarmNote, jdbcType=VARCHAR},</if>
        <if test="alarmType != null and alarmType != ''">a.alarm_type = #{alarmType, jdbcType=VARCHAR},</if>
        <if test="upEffect != null and upEffect != ''">a.up_effect = #{upEffect, jdbcType=REAL},</if>
        <if test="downEffect != null and downEffect != ''">a.down_effect = #{downEffect, jdbcType=REAL},</if>
        <if test="alarmLevel != null ">a.alarm_level = #{alarmLevel, jdbcType=INTEGER},</if>
        <if test="highLimit1 != null and highLimit1 != ''">a.high_limit1 = #{highLimit1, jdbcType=REAL},</if>
        <if test="lowLimit1 != null and lowLimit1 != ''">a.low_limit1 = #{lowLimit1, jdbcType=REAL},</if>
        <if test="highLimit2 != null and highLimit2 != ''">a.high_limit2 = #{highLimit2, jdbcType=REAL},</if>
        <if test="lowLimit2 != null and lowLimit2 != ''">a.low_limit2 = #{lowLimit2, jdbcType=REAL},</if>
        <if test="alarmDelay != null ">a.alarm_delay = #{alarmDelay, jdbcType=INTEGER},</if>
        <if test="alarmCnt != null ">a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER},</if>
        <if test="thresholdAbs != null and thresholdAbs != ''">a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC},</if>
        <if test="thresholdPer != null and thresholdPer != ''">a.threshold_per = #{thresholdPer, jdbcType=NUMERIC},</if>
        <if test="meteType != null and meteType != ''">a.mete_type = #{meteType, jdbcType=VARCHAR},</if>
        <if test="modulus != null">a.modulus = #{modulus, jdbcType=INTEGER},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
        <if test="stateZero != null and stateZero != ''">a.state_zero = #{stateZero, jdbcType=VARCHAR},</if>
        <if test="stateOne != null and stateOne != ''">a.state_one = #{stateOne, jdbcType=VARCHAR},</if>
        <if test="alarmState != null">a.alarm_state = #{alarmState, jdbcType=INTEGER},</if>

    </set>
            where a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        select
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.mete_id,
        a.mete_kind,
        a.mete_name,
        a.device_type,
        a.custom_type,
        a.position_type,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.mete_type,
        a.modulus,
        a.remark,
        state_zero,
        state_one,
        alarm_state
        from t_std_devicemete a
        where 1 = 1
            and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        select
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.mete_id,
        a.mete_kind,
        d.dict_note as meteKindName,
        a.mete_name,
        a.device_type,
        a.custom_type,
        a.position_type,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect ,
        a.alarm_level ,
        a.high_limit1 ,
        a.low_limit1 ,
        a.high_limit2 ,
        a.low_limit2 ,
        a.alarm_delay ,
        a.alarm_cnt ,
        a.threshold_abs ,
        a.threshold_per ,
        a.mete_type,
        a.modulus ,
        a.remark ,
        state_zero,
        state_one,
        alarm_state,
        e.up_region_id as upRegionId,
        e.up_region_name as upRegionName,
        e.device_name as deviceName,
        b.dict_note as unitName,
        f.dict_note as alarmTypeName,
        e.custom_name as customName
        from t_std_devicemete a, t_dict_business b,t_dict_business d,t_std_device e,t_dict_business f
        where 1 = 1
        and a.device_id = e.device_id and a.mete_kind = d.dict_code
        and a.alarm_type = f.dict_code and a.unit = b.dict_code
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="meteKind != null and meteKind != ''"> and a.mete_kind = #{meteKind, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="customType != null "> and a.custom_type = #{customType, jdbcType=INTEGER}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="alarmNote != null and alarmNote != ''"> and a.alarm_note = #{alarmNote, jdbcType=VARCHAR}</if>
        <if test="alarmType != null and alarmType != ''"> and a.alarm_type = #{alarmType, jdbcType=VARCHAR}</if>
        <if test="upEffect != null and upEffect != ''"> and a.up_effect = #{upEffect, jdbcType=REAL}</if>
        <if test="downEffect != null and downEffect != ''"> and a.down_effect = #{downEffect, jdbcType=REAL}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="highLimit1 != null and highLimit1 != ''"> and a.high_limit1 = #{highLimit1, jdbcType=REAL}</if>
        <if test="lowLimit1 != null and lowLimit1 != ''"> and a.low_limit1 = #{lowLimit1, jdbcType=REAL}</if>
        <if test="highLimit2 != null and highLimit2 != ''"> and a.high_limit2 = #{highLimit2, jdbcType=REAL}</if>
        <if test="lowLimit2 != null and lowLimit2 != ''"> and a.low_limit2 = #{lowLimit2, jdbcType=REAL}</if>
        <if test="alarmDelay != null "> and a.alarm_delay = #{alarmDelay, jdbcType=INTEGER}</if>
        <if test="alarmCnt != null "> and a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER}</if>
        <if test="thresholdAbs != null and thresholdAbs != ''"> and a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC}</if>
        <if test="thresholdPer != null and thresholdPer != ''"> and a.threshold_per = #{thresholdPer, jdbcType=NUMERIC}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="stateZero != null and stateZero != ''">a.state_zero = #{stateZero, jdbcType=VARCHAR}</if>
        <if test="stateOne != null and stateOne != ''">a.state_one = #{stateOne, jdbcType=VARCHAR}</if>
        <if test="alarmState != null">a.alarm_state = #{alarmState, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and g.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
    </select>


    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail" resultType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        select
        *
        from t_std_devicemete a
        left join (select dict_code,dict_note as alarmLevelName from t_dict_business) g on a.alarm_level= g.dict_code
        left join(select dict_code,dict_note as alarmTypeName from t_dict_business) f on a.alarm_type= f.dict_code
        left join(select dict_code,dict_note as meteTypeName from t_dict_business) b on a.mete_type= b.dict_code
        left join(select dict_code,dict_note as meteKindName from t_dict_business) d on a.mete_kind= d.dict_code
        left join(select device_id,device_name as deviceName,custom_name as customName from t_std_device) e on a.device_id = e.device_id
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="meteKind != null  and meteKind != ''"> and a.mete_kind = #{meteKind, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="deviceType != null "> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="customType != null "> and a.custom_type = #{customType, jdbcType=INTEGER}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="alarmNote != null and alarmNote != ''"> and a.alarm_note = #{alarmNote, jdbcType=VARCHAR}</if>
        <if test="alarmType != null and alarmType != ''"> and a.alarm_type = #{alarmType, jdbcType=VARCHAR}</if>
        <if test="upEffect != null and upEffect != ''"> and a.up_effect = #{upEffect, jdbcType=REAL}</if>
        <if test="downEffect != null and downEffect != ''"> and a.down_effect = #{downEffect, jdbcType=REAL}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="highLimit1 != null and highLimit1 != ''"> and a.high_limit1 = #{highLimit1, jdbcType=REAL}</if>
        <if test="lowLimit1 != null and lowLimit1 != ''"> and a.low_limit1 = #{lowLimit1, jdbcType=REAL}</if>
        <if test="highLimit2 != null and highLimit2 != ''"> and a.high_limit2 = #{highLimit2, jdbcType=REAL}</if>
        <if test="lowLimit2 != null and lowLimit2 != ''"> and a.low_limit2 = #{lowLimit2, jdbcType=REAL}</if>
        <if test="alarmDelay != null "> and a.alarm_delay = #{alarmDelay, jdbcType=INTEGER}</if>
        <if test="alarmCnt != null "> and a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER}</if>
        <if test="thresholdAbs != null and thresholdAbs != ''"> and a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC}</if>
        <if test="thresholdPer != null and thresholdPer != ''"> and a.threshold_per = #{thresholdPer, jdbcType=NUMERIC}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="stateZero != null and stateZero != ''">a.state_zero = #{stateZero, jdbcType=VARCHAR}</if>
        <if test="stateOne != null and stateOne != ''">a.state_one = #{stateOne, jdbcType=VARCHAR}</if>
        <if test="alarmState != null">a.alarm_state = #{alarmState, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and g.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
        <if test="upRegionId != null and upRegionId != '' and upRegionId != 1 "> and e.up_region_id = #{upRegionId, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchAdd">
        insert into t_std_devicemete(
            device_mete_id,
            device_id,
            custom_id,
            mete_id,
            mete_kind,
            mete_name,
            device_type,
            custom_type,
            position_type,
            unit,
            alarm_note,
            alarm_type,
            up_effect,
        down_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            mete_type
            modulus,
            remark,
            state_zero,
            state_one,
            alarm_state
        )values
        <foreach collection="list" item="TStdDevicemete" separator=",">
            (
                #{TStdDevicemete.deviceMeteId, jdbcType=BIGINT},
                #{TStdDevicemete.deviceId, jdbcType=BIGINT},
                #{TStdDevicemete.customId, jdbcType=VARCHAR},
                #{TStdDevicemete.meteId, jdbcType=BIGINT},
                #{TStdDevicemete.meteKind, jdbcType=INTEGER},
                #{TStdDevicemete.meteName, jdbcType=VARCHAR},
                #{TStdDevicemete.deviceType, jdbcType=INTEGER},
                #{TStdDevicemete.customType, jdbcType=INTEGER},
                #{TStdDevicemete.positionType, jdbcType=VARCHAR},
                #{TStdDevicemete.unit, jdbcType=VARCHAR},
                #{TStdDevicemete.alarmNote, jdbcType=VARCHAR},
                #{TStdDevicemete.alarmType, jdbcType=VARCHAR},
                #{TStdDevicemete.upEffect, jdbcType=REAL},
                #{TStdDevicemete.downEffect, jdbcType=REAL},
                #{TStdDevicemete.alarmLevel, jdbcType=INTEGER},
                #{TStdDevicemete.highLimit1, jdbcType=REAL},
                #{TStdDevicemete.lowLimit1, jdbcType=REAL},
                #{TStdDevicemete.highLimit2, jdbcType=REAL},
                #{TStdDevicemete.lowLimit2, jdbcType=REAL},
                #{TStdDevicemete.alarmDelay, jdbcType=INTEGER},
                #{TStdDevicemete.alarmCnt, jdbcType=INTEGER},
                #{TStdDevicemete.thresholdAbs, jdbcType=NUMERIC},
                #{TStdDevicemete.thresholdPer, jdbcType=NUMERIC},
                #{TStdDevicemete.meteType, jdbcType=VARCHAR},
                #{TStdDevicemete.modulus, jdbcType=INTEGER},
                #{TStdDevicemete.remark, jdbcType=VARCHAR},
                #{TStdDevicemete.stateZero, jdbcType=VARCHAR},
                #{TStdDevicemete.stateOne, jdbcType=VARCHAR},
                #{TStdDevicemete.alarmState, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectDevMeteByModelId" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        select
        a.device_id,
        a.custom_id,
        c.mete_id,
        c.mete_kind,
        c.mete_name,
        b.device_type,
        c.custom_type,
        "inside" AS position_type,
        c.unit,
        c.alarm_note,
        c.alarm_type,
        c.up_effect,
        c.down_effect,
        c.alarm_level,
        c.high_limit1,
        c.low_limit1,
        c.high_limit2,
        c.low_limit2,
        c.alarm_delay,
        c.alarm_cnt,
        c.threshold_abs,
        c.threshold_per,
        c.modulus,
        a.remark
        from t_std_device a
        LEFT JOIN t_std_metemodel b ON a.model_id = b.model_id
        LEFT JOIN t_std_metemodel_detail c ON a.model_id = c.model_id
        where 1 = 1
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
    </select>



    <delete id="deleteByDevId" parameterType="java.lang.Long">
        delete from t_std_devicemete
        where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <select id="selectByDevCus" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
       select * from t_std_devicemete
       WHERE device_id=#{deviceId,jdbcType=BIGINT} AND custom_id=#{customId,jdbcType=BIGINT}

    </select>

    <select id="selectPreDeviceMete" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
       SELECT
	    a.device_id,
        a.custom_id,
        b.mete_id,
        b.mete_kind,
        b.mete_name,
        a.device_type,
        a.custom_type,
        a.position_type,
        b.unit,
        b.alarm_note,
        b.alarm_type,
        b.up_effect,
        b.down_effect,
        b.alarm_level,
        b.high_limit1,
        b.low_limit1,
        b.high_limit2,
        b.low_limit2,
        b.alarm_delay,
        b.alarm_cnt,
        b.threshold_abs,
        b.threshold_per,
        b.modulus
       FROM
	   t_std_device a
       LEFT JOIN t_std_metemodel_detail b ON a.model_id = b.model_id
       WHERE
	   a.model_id = #{modelId,jdbcType=BIGINT}
       AND a.device_id = #{deviceId,jdbcType=BIGINT}
       AND a.custom_id = #{customId,jdbcType=BIGINT}

    </select>


    <delete id="batchDelete" >
             delete from t_std_devicemete where device_mete_id in
        <foreach collection="list" item="deviceMeteId"  separator="," open="(" close=")" >
        #{deviceMeteId,jdbcType=BIGINT}
        </foreach>
    </delete>

</mapper>
