<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdRegionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdRegion">
        <id property="regionId" column="region_id" jdbcType="BIGINT"/>
        <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
        <result property="upRegionIds" column="up_region_ids" jdbcType="VARCHAR"/>
        <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
        <result property="originRegionId" column="origin_region_id" jdbcType="VARCHAR"/>
        <result property="stationId" column="station_id" jdbcType="VARCHAR"/>
        <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="edgeStatus" column="edge_status" jdbcType="VARCHAR"/>
        <result property="regionPath" column="region_path" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
        <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
        <result property="voltageLevel" column="voltage_level" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
<resultMap id="TreeMap" type="com.yjh.platform.module.device.entity.TStdRegion">
    <id property="regionId" column="region_id" jdbcType="BIGINT"/>
    <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
    <result property="sort" column="sort" jdbcType="INTEGER"/>
    <result property="upRegionId" column="up_region_id" jdbcType="BIGINT"/>
    <result property="upRegionIds" column="up_region_ids" jdbcType="VARCHAR"/>
    <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
    <result property="originRegionId" column="origin_region_id" jdbcType="VARCHAR"/>
    <result property="stationId" column="station_id" jdbcType="VARCHAR"/>
    <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
    <result property="state" column="state" jdbcType="INTEGER"/>
    <result property="edgeStatus" column="edge_status" jdbcType="VARCHAR"/>
    <result property="regionPath" column="region_path" jdbcType="VARCHAR"/>
    <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
    <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
    <result property="voltageLevel" column="voltage_level" jdbcType="VARCHAR"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <collection property="children" select="selectCruiseTree" column="{upRegionId=region_id}"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        region_id,region_name,sort,
        up_region_id,up_region_ids,region_code,
        origin_region_id,station_id,station_name,
        state,edge_status,region_path,
        longitude,latitude,voltage_level,
        remark,create_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="regionId" parameterType="com.yjh.platform.module.device.entity.TStdRegion">
        insert into t_std_region
        ( region_name,sort
        ,up_region_id,up_region_ids,region_code
        ,origin_region_id,station_id,station_name
        ,state,edge_status,region_path
        ,longitude,latitude,voltage_level
        ,remark)
        values (#{regionName,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER}
               ,#{upRegionId,jdbcType=BIGINT},#{upRegionIds,jdbcType=VARCHAR},#{regionCode,jdbcType=VARCHAR}
               ,#{originRegionId,jdbcType=VARCHAR},#{stationId,jdbcType=VARCHAR},#{stationName,jdbcType=VARCHAR}
               ,#{state,jdbcType=INTEGER},#{edgeStatus,jdbcType=VARCHAR},#{regionPath,jdbcType=VARCHAR}
               ,#{longitude,jdbcType=VARCHAR},#{latitude,jdbcType=VARCHAR},#{voltageLevel,jdbcType=VARCHAR}
               ,#{remark,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_std_region
                where region_id = #{regionId, jdbcType=BIGINT}
    </delete>

      <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdRegion">
          update t_std_region
          <set>
              <if test="regionName != null">
                  region_name = #{regionName,jdbcType=VARCHAR},
              </if>
              <if test="sort != null">
                  sort = #{sort,jdbcType=INTEGER},
              </if>
              <if test="upRegionId != null">
                  up_region_id = #{upRegionId,jdbcType=BIGINT},
              </if>
              <if test="upRegionIds != null">
                  up_region_ids = #{upRegionIds,jdbcType=VARCHAR},
              </if>
              <if test="regionCode != null">
                  region_code = #{regionCode,jdbcType=VARCHAR},
              </if>
              <if test="originRegionId != null">
                  origin_region_id = #{originRegionId,jdbcType=VARCHAR},
              </if>
              <if test="stationId != null">
                  station_id = #{stationId,jdbcType=VARCHAR},
              </if>
              <if test="stationName != null">
                  station_name = #{stationName,jdbcType=VARCHAR},
              </if>
              <if test="state != null">
                  state = #{state,jdbcType=INTEGER},
              </if>
              <if test="edgeStatus != null">
                  edge_status = #{edgeStatus,jdbcType=VARCHAR},
              </if>
              <if test="regionPath != null">
                  region_path = #{regionPath,jdbcType=VARCHAR},
              </if>
              <if test="longitude != null">
                  longitude = #{longitude,jdbcType=VARCHAR},
              </if>
              <if test="latitude != null">
                  latitude = #{latitude,jdbcType=VARCHAR},
              </if>
              <if test="voltageLevel != null">
                  voltage_level = #{voltageLevel,jdbcType=VARCHAR},
              </if>
              <if test="remark != null">
                  remark = #{remark,jdbcType=VARCHAR},
              </if>
              <if test="createTime != null">
                  create_time = #{createTime,jdbcType=TIMESTAMP},
              </if>
          </set>
          where   region_id = #{regionId,jdbcType=BIGINT}
      </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        <include refid="Base_Column_List" />
        from t_std_region a
        where 1 = 1
            and a.region_id = #{regionId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdRegion" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        <include refid="Base_Column_List" />
        from t_std_region a
        where 1 = 1
        <if test="regionId != null and regionId != ''"> and a.region_id = #{regionId, jdbcType=BIGINT}</if>
        <if test="regionName != null and regionName != ''"> and a.region_name = #{regionName, jdbcType=VARCHAR}</if>
        <if test="sort != null "> and a.sort = #{sort, jdbcType=INTEGER}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="upRegionIds != null and upRegionIds != ''"> and a.up_region_ids = #{upRegionIds, jdbcType=VARCHAR}</if>
        <if test="regionCode != null "> and a.region_code = #{regionCode, jdbcType=INTEGER}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="state != null "> and a.state = #{state, jdbcType=INTEGER}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TStdRegion" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        <include refid="Base_Column_List" />
        from t_std_region a
        where 1 = 1
        <if test="regionId != null and regionId != ''"> and a.region_id = #{regionId, jdbcType=BIGINT}</if>
        <if test="regionName != null and regionName != ''"> and a.region_name = #{regionName, jdbcType=VARCHAR}</if>
        <if test="sort != null "> and a.sort = #{sort, jdbcType=INTEGER}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="upRegionIds != null and upRegionIds != ''"> and a.up_region_ids = #{upRegionIds, jdbcType=VARCHAR}</if>
        <if test="regionCode != null "> and a.region_code = #{regionCode, jdbcType=INTEGER}</if>
        <if test="stationId != null and stationId != ''"> and a.station_id = #{stationId, jdbcType=VARCHAR}</if>
        <if test="state != null "> and a.state = #{state, jdbcType=INTEGER}</if>
        <if test="createTime != null"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="stationName != null">and a.station_name = #{stationName, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectRegTreeByRegName" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.AreaInfoRegionCode">
        SELECT
        a.region_id    AS     Id,
        a.region_name  AS    label,
        a.up_region_id AS    upId,
        b.region_name  AS   upName,
        a.region_code  AS   regionCode,
        'region'   AS   infoType,
        a.state,
        a.latitude,
        a.longitude,
        a.voltage_level,
        (select c.dict_note
        from t_dict_business c
        where c.col_name = 'voltage_class'
        and c.dict_code = a.voltage_level) voltageLevelName,
        a.edge_status
        FROM t_std_region a
        LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
        WHERE 1=1
        <if test="regionName != null and regionName != ''"> AND a.region_name LIKE CONCAT('%',#{regionName, jdbcType=VARCHAR},'%')</if>
    </select>

    <select id="selectDownId" resultType="java.lang.Long">
        SELECT
        DATA.region_id
        FROM
            (
        SELECT
            @ids AS _ids,
            ( SELECT @ids := GROUP_CONCAT( region_id ) FROM t_std_region WHERE FIND_IN_SET( up_region_id, @ids ) ) AS cids,
            @l := @l + 1 AS LEVEL
        FROM
            t_std_region,
            ( SELECT @ids := #{regionId,jdbcType=BIGINT}, @l := 0 ) b
        WHERE
            @ids IS NOT NULL
            ) ID,
            t_std_region DATA WHERE FIND_IN_SET( DATA.region_id, ID._ids )
        ORDER BY
            LEVEL,region_id
    </select>

    <select id="selectAreaTree" resultType="com.yjh.platform.module.device.entity.AreaInfoRegionCode">
        SELECT a.region_id    AS     Id,
               a.region_name  AS    label,
               a.up_region_id AS    upId,
               b.region_name  AS   upName,
               a.region_code  AS   regionCode,
               'region'   AS   infoType,
               a.state,
               a.latitude,
               a.longitude,
               a.voltage_level,
               (select c.dict_note
                from t_dict_business c
                where c.col_name = 'voltage_class'
                  and c.dict_code = a.voltage_level) voltageLevelName,
               a.edge_status
        FROM t_std_region a
                 LEFT JOIN t_std_region b ON a.up_region_id = b.region_id
    </select>

    <select id="selectDevice" resultType="java.lang.Long">
        SELECT
            a.device_id
        FROM t_std_device a WHERE a.up_region_id in <foreach collection="list" item="upRegionId" open="(" separator="," close=")">
        #{upRegionId, jdbcType=BIGINT}</foreach>
        UNION all(
        SELECT
        b.camera_id
        FROM t_camera_info b WHERE b.up_region_id in <foreach collection="list" item="upRegionId" open="(" separator="," close=")">
        #{upRegionId, jdbcType=BIGINT}</foreach>
        )
        UNION all(
        SELECT
        c.robot_id
        FROM t_robot_info c WHERE c.up_region_id in <foreach collection="list" item="upRegionId" open="(" separator="," close=")">
        #{upRegionId, jdbcType=BIGINT}</foreach>
        )
    </select>

    <select id="selectIsIn" resultType="com.yjh.platform.module.device.entity.TStdRegion">
        select
        <include refid="Base_Column_List" />
        from t_std_region
        where region_id != #{ regionId,jdbcType=BIGINT}
        and region_code = #{regionCode,jdbcType=VARCHAR}
        and state = 1;
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_std_region a
    </select>

    <update id="updateByPrimaryKey" parameterType="com.yjh.platform.module.device.entity.TStdRegion" >
        update t_std_region
        set
            region_name =  #{regionName,jdbcType=VARCHAR},
            sort =  #{sort,jdbcType=INTEGER},
            up_region_id =  #{upRegionId,jdbcType=BIGINT},
            up_region_ids =  #{upRegionIds,jdbcType=VARCHAR},
            region_code =  #{regionCode,jdbcType=VARCHAR},
            origin_region_id =  #{originRegionId,jdbcType=VARCHAR},
            station_id =  #{stationId,jdbcType=VARCHAR},
            station_name =  #{stationName,jdbcType=VARCHAR},
            state =  #{state,jdbcType=INTEGER},
            edge_status =  #{edgeStatus,jdbcType=VARCHAR},
            region_path =  #{regionPath,jdbcType=VARCHAR},
            longitude =  #{longitude,jdbcType=VARCHAR},
            latitude =  #{latitude,jdbcType=VARCHAR},
            voltage_level =  #{voltageLevel,jdbcType=VARCHAR},
            remark =  #{remark,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   region_id = #{regionId,jdbcType=BIGINT}
    </update>

    <select id="selectByState" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_std_region a
        <if test="state!=null">where a.state=#{state}</if>
    </select>
    <select id="selectStationVoltageData"   resultType="com.yjh.platform.module.device.entity.StationVoltageData">
        select a.voltage_level,
               count(1) as count,
               (select b.dict_note
                from t_dict_business b
                where b.col_name = 'voltage_class' and b.dict_code = a.voltage_level) voltage_level_name
        from t_std_region a
        where a.state = '1' and a.up_region_id  <![CDATA[ <> ]]>  '-1'
        group by a.voltage_level
    </select>
    <select id="countByRegionCode" resultType="java.lang.Integer">
        select count(*)
        from t_std_region a
        where a.region_code = #{regionCode,jdbcType=VARCHAR}
            and a.up_region_id = #{upRegionId,jdbcType=BIGINT}
    </select>

        <select id="selectCruiseTree" resultMap="TreeMap">
            select
                <include refid="Base_Column_List"/>
            from t_std_region a
            where 1 = 1
            <if test="upRegionId == null">
                AND up_region_id = -1
            </if>
            <if test="upRegionId != null">
                AND up_region_id = #{upRegionId,jdbcType=BIGINT}
            </if>
        </select>
</mapper>