<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdDeviceAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        <id column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_model" jdbcType="INTEGER" property="deviceModel" />
        <result column="pms_type" jdbcType="VARCHAR" property="pmsType" />
        <result column="pms_id" jdbcType="VARCHAR" property="pmsId" />
        <result column="device_vendor" jdbcType="VARCHAR" property="deviceVendor" />
        <result column="production_date" jdbcType="TIMESTAMP" property="productionDate" />
        <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
        <result column="disable_date" jdbcType="TIMESTAMP" property="disableDate" />
        <result column="last_maintenance" jdbcType="TIMESTAMP" property="lastMaintenance" />
        <result column="maintenance_count" jdbcType="VARCHAR" property="maintenanceCount" />
        <result column="organization" jdbcType="VARCHAR" property="organization" />
        <result column="department" jdbcType="VARCHAR" property="department" />
        <result column="responsible_person" jdbcType="VARCHAR" property="responsiblePerson" />
        <result column="latitude" jdbcType="VARCHAR" property="latitude" />
        <result column="longitude" jdbcType="VARCHAR" property="longitude" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="port" jdbcType="INTEGER" property="port" />
        <result column="voltage_level" jdbcType="VARCHAR" property="voltageLevel" />
        <result column="sequence_point" jdbcType="VARCHAR" property="sequencePoint" />
        <result column="real_code" jdbcType="VARCHAR" property="realCode" />
        <result column="address" jdbcType="VARCHAR" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_id, device_model, pms_type, pms_id, device_vendor, production_date, used_time, disable_date, last_maintenance, maintenance_count, organization, department, responsible_person, latitude, longitude, ip, port, voltage_level, sequence_point, real_code,address
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        insert into t_std_device_attr(
            device_id,
            device_model,
            pms_type,
            pms_id,
            device_vendor,
            production_date,
            used_time,
            disable_date,
            last_maintenance,
            maintenance_count,
            organization,
            department,
            responsible_person,
            latitude,
            longitude,
            ip,
            port,
            voltage_level,
            sequence_point,
            real_code,
            address
        )values(
                #{deviceId, jdbcType=BIGINT},
                #{deviceModel, jdbcType=INTEGER},
                #{pmsType, jdbcType=VARCHAR},
                #{pmsId, jdbcType=VARCHAR},
                #{deviceVendor, jdbcType=VARCHAR},
                #{productionDate, jdbcType=TIMESTAMP},
                #{usedTime, jdbcType=TIMESTAMP},
                #{disableDate, jdbcType=TIMESTAMP},
                #{lastMaintenance, jdbcType=TIMESTAMP},
                #{maintenanceCount, jdbcType=VARCHAR},
                #{organization, jdbcType=VARCHAR},
                #{department, jdbcType=VARCHAR},
                #{responsiblePerson, jdbcType=VARCHAR},
                #{latitude, jdbcType=VARCHAR},
                #{longitude, jdbcType=VARCHAR},
                #{ip, jdbcType=VARCHAR},
                #{port, jdbcType=INTEGER},
                #{voltageLevel, jdbcType=VARCHAR},
                #{sequencePoint, jdbcType=VARCHAR},
                #{realCode, jdbcType=VARCHAR},
                #{address, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_std_device_attr
                where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        update t_std_device_attr a <set>
        <if test="deviceId != null ">a.device_id = #{deviceId},</if>
        <if test="deviceModel != null ">a.device_model = #{deviceModel, jdbcType=INTEGER},</if>
        <if test="pmsType != null ">a.pms_type = #{pmsType},</if>
        <if test="pmsId != null ">a.pms_id = #{pmsId},</if>
        <if test="deviceVendor != null ">a.device_vendor = #{deviceVendor},</if>
        <if test="productionDate != null ">a.production_date = #{productionDate, jdbcType=TIMESTAMP},</if>
        <if test="usedTime != null ">a.used_time = #{usedTime, jdbcType=TIMESTAMP},</if>
        <if test="disableDate != null ">a.disable_date = #{disableDate, jdbcType=TIMESTAMP},</if>
        <if test="lastMaintenance != null ">a.last_maintenance = #{lastMaintenance, jdbcType=TIMESTAMP},</if>
        <if test="maintenanceCount != null ">a.maintenance_count = #{maintenanceCount},</if>
        <if test="organization != null ">a.organization = #{organization},</if>
        <if test="department != null ">a.department = #{department},</if>
        <if test="responsiblePerson != null ">a.responsible_person = #{responsiblePerson},</if>
        <if test="latitude != null ">a.latitude = #{latitude},</if>
        <if test="longitude != null">a.longitude = #{longitude},</if>
        <if test="ip != null and ip != ''">a.ip = #{ip, jdbcType=VARCHAR},</if>
        <if test="port != null ">a.port = #{port, jdbcType=INTEGER},</if>
        <if test="voltageLevel != null">a.voltage_level = #{voltageLevel},</if>
        <if test="sequencePoint != null ">a.sequence_point = #{sequencePoint},</if>
        <if test="realCode != null ">a.real_code = #{realCode},</if>
        <if test="address != null">a.address = #{address},</if>
    </set>
            where a.device_id = #{deviceId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        select
        a.device_id,
        a.device_model,
        a.pms_type,
        a.pms_id,
        a.device_vendor,
        a.production_date,
        a.used_time,
        a.disable_date,
        a.last_maintenance,
        a.maintenance_count,
        a.organization,
        a.department,
        a.responsible_person,
        a.latitude,
        a.longitude,
        a.ip,
        a.port,
        a.voltage_level,
        a.sequence_point,
        a.real_code,
        a.address
        from t_std_device_attr a
        where 1 = 1
            and a.device_id = #{deviceId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdDeviceAttr" resultType="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        select
        a.device_id,
        a.device_model,
        a.pms_type,
        a.pms_id,
        a.device_vendor,
        a.production_date,
        a.used_time,
        a.disable_date,
        a.last_maintenance,
        a.maintenance_count,
        a.organization,
        a.department,
        a.responsible_person,
        a.latitude,
        a.longitude,
        a.ip,
        a.port,
        a.voltage_level,
        a.sequence_point,
        a.real_code,
        a.address
        from t_std_device_attr a
        where 1 = 1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceModel != null "> and a.device_model = #{deviceModel, jdbcType=INTEGER}</if>
        <if test="pmsType != null and pmsType != ''"> and a.pms_type = #{pmsType, jdbcType=VARCHAR}</if>
        <if test="pmsId != null and pmsId != ''"> and a.pms_id = #{pmsId, jdbcType=VARCHAR}</if>
        <if test="deviceVendor != null and deviceVendor != ''"> and a.device_vendor = #{deviceVendor, jdbcType=VARCHAR}</if>
        <if test="productionDate != null "> and a.production_date = #{productionDate, jdbcType=TIMESTAMP}</if>
        <if test="usedTime != null "> and a.used_time = #{usedTime, jdbcType=TIMESTAMP}</if>
        <if test="disableDate != null "> and a.disable_date = #{disableDate, jdbcType=TIMESTAMP}</if>
        <if test="lastMaintenance != null"> and a.last_maintenance = #{lastMaintenance, jdbcType=TIMESTAMP}</if>
        <if test="maintenanceCount != null and maintenanceCount != ''"> and a.maintenance_count = #{maintenanceCount, jdbcType=VARCHAR}</if>
        <if test="organization != null and organization != ''"> and a.organization = #{organization, jdbcType=VARCHAR}</if>
        <if test="department != null and department != ''"> and a.department = #{department, jdbcType=VARCHAR}</if>
        <if test="responsiblePerson != null and responsiblePerson != ''"> and a.responsible_person = #{responsiblePerson, jdbcType=VARCHAR}</if>
        <if test="latitude != null and latitude != ''"> and a.latitude = #{latitude, jdbcType=VARCHAR}</if>
        <if test="longitude != null and longitude != ''"> and a.longitude = #{longitude, jdbcType=VARCHAR}</if>
        <if test="ip != null and ip != ''"> and a.ip = #{ip, jdbcType=VARCHAR}</if>
        <if test="port != null "> and a.port = #{port, jdbcType=INTEGER}</if>
        <if test="voltageLevel != null and voltageLevel != ''"> and a.voltage_level = #{voltageLevel, jdbcType=VARCHAR}</if>
        <if test="sequencePoint != null and sequencePoint != ''"> and a.sequence_point = #{sequencePoint, jdbcType=VARCHAR}</if>
        <if test="realCode != null and realCode != ''"> and a.real_code = #{realCode, jdbcType=VARCHAR}</if>
        <if test="address != null and address != ''"> and a.address = #{address, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.device.entity.TStdDeviceAttr" resultType="com.yjh.platform.module.device.entity.TStdDeviceAttr">
        select
        a.device_id,
        a.device_model,
        a.pms_type,
        a.pms_id,
        a.device_vendor,
        a.production_date,
        a.used_time,
        a.disable_date,
        a.last_maintenance,
        a.maintenance_count,
        a.organization,
        a.department,
        a.responsible_person,
        a.latitude,
        a.longitude,
        a.ip,
        a.port,
        a.voltage_level,
        a.sequence_point,
        a.real_code,
        a.address
        from t_std_device_attr a
        where 1 = 1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceModel != null "> and a.device_model = #{deviceModel, jdbcType=INTEGER}</if>
        <if test="pmsType != null and pmsType != ''"> and a.pms_type = #{pmsType, jdbcType=VARCHAR}</if>
        <if test="pmsId != null and pmsId != ''"> and a.pms_id = #{pmsId, jdbcType=VARCHAR}</if>
        <if test="deviceVendor != null and deviceVendor != ''"> and a.device_vendor = #{deviceVendor, jdbcType=VARCHAR}</if>
        <if test="productionDate != null "> and a.production_date = #{productionDate, jdbcType=TIMESTAMP}</if>
        <if test="usedTime != null "> and a.used_time = #{usedTime, jdbcType=TIMESTAMP}</if>
        <if test="disableDate != null "> and a.disable_date = #{disableDate, jdbcType=TIMESTAMP}</if>
        <if test="lastMaintenance != null"> and a.last_maintenance = #{lastMaintenance, jdbcType=TIMESTAMP}</if>
        <if test="maintenanceCount != null and maintenanceCount != ''"> and a.maintenance_count = #{maintenanceCount, jdbcType=VARCHAR}</if>
        <if test="organization != null and organization != ''"> and a.organization = #{organization, jdbcType=VARCHAR}</if>
        <if test="department != null and department != ''"> and a.department = #{department, jdbcType=VARCHAR}</if>
        <if test="responsiblePerson != null and responsiblePerson != ''"> and a.responsible_person = #{responsiblePerson, jdbcType=VARCHAR}</if>
        <if test="latitude != null and latitude != ''"> and a.latitude = #{latitude, jdbcType=VARCHAR}</if>
        <if test="longitude != null and longitude != ''"> and a.longitude = #{longitude, jdbcType=VARCHAR}</if>
        <if test="ip != null and ip != ''"> and a.ip = #{ip, jdbcType=VARCHAR}</if>
        <if test="port != null "> and a.port = #{port, jdbcType=INTEGER}</if>
        <if test="voltageLevel != null and voltageLevel != ''"> and a.voltage_level = #{voltageLevel, jdbcType=VARCHAR}</if>
        <if test="sequencePoint != null and sequencePoint != ''"> and a.sequence_point = #{sequencePoint, jdbcType=VARCHAR}</if>
        <if test="realCode != null and realCode != ''"> and a.real_code = #{realCode, jdbcType=VARCHAR}</if>
        <if test="address != null and address != ''"> and a.address = #{address, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_std_device_attr(
            device_id,
            device_model,
            pms_type,
            pms_id,
            device_vendor,
            production_date,
            used_time,
            disable_date,
            last_maintenance,
            maintenance_count,
            organization,
            department,
            responsible_person,
            latitude,
            longitude,
            ip,
            port,
            voltage_level,
            sequence_point,
            real_code,
            address
        )values
        <foreach collection="list" item="TStdDeviceAttr" separator=",">
            (
                #{TStdDeviceAttr.deviceId, jdbcType=BIGINT},
                #{TStdDeviceAttr.deviceModel, jdbcType=INTEGER},
                #{TStdDeviceAttr.pmsType, jdbcType=VARCHAR},
                #{TStdDeviceAttr.pmsId, jdbcType=VARCHAR},
                #{TStdDeviceAttr.deviceVendor, jdbcType=VARCHAR},
                #{TStdDeviceAttr.productionDate, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.usedTime, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.disableDate, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.lastMaintenance, jdbcType=TIMESTAMP},
                #{TStdDeviceAttr.maintenanceCount, jdbcType=VARCHAR},
                #{TStdDeviceAttr.organization, jdbcType=VARCHAR},
                #{TStdDeviceAttr.department, jdbcType=VARCHAR},
                #{TStdDeviceAttr.responsiblePerson, jdbcType=VARCHAR},
                #{TStdDeviceAttr.latitude, jdbcType=VARCHAR},
                #{TStdDeviceAttr.longitude, jdbcType=VARCHAR},
                #{TStdDeviceAttr.ip, jdbcType=VARCHAR},
                #{TStdDeviceAttr.port, jdbcType=INTEGER},
                #{TStdDeviceAttr.voltageLevel, jdbcType=VARCHAR},
                #{TStdDeviceAttr.sequencePoint, jdbcType=VARCHAR},
                #{TStdDeviceAttr.realCode, jdbcType=VARCHAR},
                #{TStdDeviceAttr.address, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



</mapper>
