<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.device.dao.TStdDevicemeteDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        <id column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_point_id" jdbcType="VARCHAR" property="devicePointId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="custom_name" jdbcType="VARCHAR" property="customName" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="mete_kind" jdbcType="VARCHAR" property="meteKind" />
        <result column="meter_type" jdbcType="INTEGER" property="meterType" />
        <result column="mete_name" jdbcType="VARCHAR" property="meteName" />
        <result column="appearance_type" jdbcType="INTEGER" property="appearanceType" />
        <result column="device_type" jdbcType="INTEGER" property="deviceType" />
        <result column="inspection_type" jdbcType="VARCHAR" property="inspectionType" />
        <result column="position_type" jdbcType="VARCHAR" property="positionType" />
        <result column="analyse_type" jdbcType="INTEGER" property="analyseType" />
        <result column="is_ai" jdbcType="VARCHAR" property="isAi" />
        <result column="is_judge" jdbcType="VARCHAR" property="isJudge"/>
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="alarm_note" jdbcType="VARCHAR" property="alarmNote" />
        <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
        <result column="up_effect" jdbcType="REAL" property="upEffect" />
        <result column="down_effect" jdbcType="REAL" property="downEffect" />
        <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
        <result column="high_limit1" jdbcType="REAL" property="highLimit1" />
        <result column="low_limit1" jdbcType="REAL" property="lowLimit1" />
        <result column="high_limit2" jdbcType="REAL" property="highLimit2" />
        <result column="low_limit2" jdbcType="REAL" property="lowLimit2" />
        <result column="alarm_delay" jdbcType="INTEGER" property="alarmDelay" />
        <result column="alarm_cnt" jdbcType="INTEGER" property="alarmCnt" />
        <result column="threshold_abs" jdbcType="NUMERIC" property="thresholdAbs" />
        <result column="threshold_per" jdbcType="NUMERIC" property="thresholdPer" />
        <result column="mete_type" jdbcType="VARCHAR" property="meteType" />
        <result column="modulus" jdbcType="INTEGER" property="modulus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="stateZero" jdbcType="VARCHAR" property="stateZero" />
        <result column="stateOne" jdbcType="VARCHAR" property="stateOne" />
        <result column="alarmState" jdbcType="INTEGER" property="alarmState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        device_mete_id, device_id, device_point_id, custom_id, custom_name, mete_id, mete_kind, mete_name, device_type, inspection_type, position_type,analyse_type,is_ai,is_judge,unit, alarm_note, alarm
        up_effect, down_effect, alarm_level, high_limit1, low_limit1, high_limit2, low_limit2, alarm_delay, alarm_cnt, threshold_abs, threshold_per,
        mete_type, modulus, remark,state_zero,state_one,alarm_state
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="deviceMeteId" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        insert into t_std_devicemete(
            device_mete_id,
            device_id,
            device_point_id,
            custom_id,
            custom_name,
            mete_id,
            mete_kind,
            mete_type,
            meter_type,
            mete_name,
            appearance_type,
            device_type,
            inspection_type,
            position_type,
            analyse_type,
            is_ai,
            is_judge,
            unit,
            alarm_note,
            alarm_type,
            up_effect,
            down_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            high_limit3,
            low_limit3,
            high_limit4,
            low_limit4,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            modulus,
            remark,
            state_zero,
            state_one,
            alarm_state,
            is_temdif,
            redundant_type,
            alarm_level_string
        )values(
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{devicePointId, jdbcType=VARCHAR},
                #{customType, jdbcType=VARCHAR},
                #{customTypeName, jdbcType=VARCHAR},
                #{meteId, jdbcType=BIGINT},
                #{meteKind, jdbcType=INTEGER},
                #{meteType, jdbcType=VARCHAR},
                #{meterType, jdbcType=INTEGER},
                #{meteName, jdbcType=VARCHAR},
                #{appearanceType, jdbcType=INTEGER},
                #{deviceType, jdbcType=INTEGER},
                #{inspectionType, jdbcType=INTEGER},
                #{positionType, jdbcType=VARCHAR},
                #{analyseType, jdbcType=INTEGER},
                #{isAi, jdbcType=VARCHAR},
                #{isJudge,jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{alarmNote, jdbcType=VARCHAR},
                #{alarmType, jdbcType=VARCHAR},
                #{upEffect, jdbcType=REAL},
                #{downEffect, jdbcType=REAL},
                #{alarmLevel, jdbcType=INTEGER},
                #{highLimit1, jdbcType=REAL},
                #{lowLimit1, jdbcType=REAL},
                #{highLimit2, jdbcType=REAL},
                #{lowLimit2, jdbcType=REAL},
                #{highLimit3, jdbcType=REAL},
                #{lowLimit3, jdbcType=REAL},
                #{highLimit4, jdbcType=REAL},
                #{lowLimit4, jdbcType=REAL},
                #{alarmDelay, jdbcType=INTEGER},
                #{alarmCnt, jdbcType=INTEGER},
                #{thresholdAbs, jdbcType=NUMERIC},
                #{thresholdPer, jdbcType=NUMERIC},
                #{modulus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR},
                #{stateZero, jdbcType=VARCHAR},
                #{stateOne, jdbcType=VARCHAR},
                #{alarmState, jdbcType=INTEGER},
                #{isTemdif, jdbcType=INTEGER},
                #{redundantType, jdbcType=VARCHAR},
                #{alarmLevelString,jdbcType=VARCHAR}
        )
    </insert>

     <insert id="batchAddTStdMeteModelDetail">
        insert into t_std_devicemete(
        device_mete_id,
        device_id,
        device_point_id,
        custom_id,
        custom_name,
        mete_id,
        mete_kind,
        mete_type,
        meter_type,
        mete_name,
        appearance_type,
        device_type,
        inspection_type,
        position_type,
        analyse_type,
        is_ai,
        is_judge,
        unit,
        alarm_note,
        alarm_type,
        up_effect,
        down_effect,
        alarm_level,
        high_limit1,
        low_limit1,
        high_limit2,
        low_limit2,
        high_limit3,
        low_limit3,
        high_limit4,
        low_limit4,
        alarm_delay,
        alarm_cnt,
        threshold_abs,
        threshold_per,
        modulus,
        remark,
        state_zero,
        state_one,
        is_temdif,
        alarm_state,
        redundant_type

        )values
        <foreach collection="list" item="TStdMeteModelDetail" separator=",">
            (
            #{TStdMeteModelDetail.deviceMeteId, jdbcType=BIGINT},
            #{deviceId, jdbcType=BIGINT},
           ifnull(#{TStdMeteModelDetail.devicePointId, jdbcType=VARCHAR},"00"),
            #{TStdMeteModelDetail.customType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.customName, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meteId, jdbcType=BIGINT},
            #{TStdMeteModelDetail.meteKind, jdbcType=INTEGER},
            #{TStdMeteModelDetail.meteType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.meterType, jdbcType=INTEGER},
            #{TStdMeteModelDetail.meteName, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.appearanceType, jdbcType=INTEGER},
            #{TStdMeteModelDetail.deviceType, jdbcType=INTEGER},
            ifnull(#{TStdMeteModelDetail.inspectionType, jdbcType=INTEGER},1),
            #{TStdMeteModelDetail.positionType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.analyseType, jdbcType=INTEGER},
            #{TStdMeteModelDetail.isAi, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.isJudge,jdbcType=VARCHAR},
            #{TStdMeteModelDetail.unit, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmNote, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.alarmType, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.upEffect, jdbcType=REAL},
            #{TStdMeteModelDetail.downEffect, jdbcType=REAL},
            #{TStdMeteModelDetail.alarmLevel, jdbcType=INTEGER},
            #{TStdMeteModelDetail.highLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit1, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit2, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit3, jdbcType=REAL},
            #{TStdMeteModelDetail.highLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.lowLimit4, jdbcType=REAL},
            #{TStdMeteModelDetail.alarmDelay, jdbcType=INTEGER},
            #{TStdMeteModelDetail.alarmCnt, jdbcType=INTEGER},
            #{TStdMeteModelDetail.thresholdAbs, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.thresholdPer, jdbcType=NUMERIC},
            #{TStdMeteModelDetail.modulus, jdbcType=INTEGER},
            #{TStdMeteModelDetail.remark, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.stateZero, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.stateOne, jdbcType=VARCHAR},
            #{TStdMeteModelDetail.isTemdif, jdbcType=INTEGER},
            ifnull(#{TStdMeteModelDetail.alarmState, jdbcType=INTEGER},"1"),
            #{TStdMeteModelDetail.redundantType, jdbcType=VARCHAR}

            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_std_devicemete
                where device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </delete>
    <delete id="deleteByDeviceId" parameterType="java.lang.Long">
        delete from t_std_devicemete
                where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        update t_std_devicemete a <set>
        <if test="deviceMeteId != null">a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null ">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="devicePointId != null ">a.device_point_id = #{devicePointId, jdbcType=VARCHAR},</if>
        <if test="customType != null">a.custom_id = #{customType},</if>
        <if test="customTypeName != null">a.custom_name = #{customTypeName},</if>
        <if test="meteId != null ">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        a.mete_kind = #{meteKind},
        a.meter_type = #{meterType, jdbcType=INTEGER},
        <if test="meteName != null">a.mete_name = #{meteName},</if>
        <if test="appearanceType != null ">a.appearance_type = #{appearanceType, jdbcType=INTEGER},</if>
        a.device_type = #{deviceType, jdbcType=INTEGER},
        a.inspection_type = #{inspectionType, jdbcType=VARCHAR},
        <if test="positionType != null ">a.position_type = #{positionType},</if>
        a.analyse_type = #{analyseType, jdbcType=INTEGER},
        <if test="isAi != null ">a.is_ai = #{isAi,jdbcType=VARCHAR},</if>
        <if test="isJudge != null ">a.is_judge = #{isJudge,jdbcType=VARCHAR},</if>
        <if test="unit != null ">a.unit = #{unit},</if>
        <if test="alarmNote != null ">a.alarm_note = #{alarmNote},</if>
        a.alarm_type = #{alarmType},
        a.up_effect = #{upEffect, jdbcType=REAL},
        a.down_effect = #{downEffect, jdbcType=REAL},
        a.alarm_level = #{alarmLevel, jdbcType=INTEGER},
        a.high_limit1 = #{highLimit1, jdbcType=REAL},
        a.low_limit1 = #{lowLimit1, jdbcType=REAL},
        a.high_limit2 = #{highLimit2, jdbcType=REAL},
        a.low_limit2 = #{lowLimit2, jdbcType=REAL},
        a.high_limit3 = #{highLimit3, jdbcType=REAL},
        a.low_limit3 = #{lowLimit3, jdbcType=REAL},
        a.high_limit4 = #{highLimit4, jdbcType=REAL},
        a.low_limit4 = #{lowLimit4, jdbcType=REAL},
        a.alarm_delay = #{alarmDelay, jdbcType=INTEGER},
        a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER},
        a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC},
        a.threshold_per = #{thresholdPer, jdbcType=NUMERIC},
        <if test="meteType != null ">a.mete_type = #{meteType},</if>
        a.modulus = #{modulus, jdbcType=INTEGER},
        <if test="remark != null ">a.remark = #{remark},</if>
        a.state_zero = #{stateZero},
        a.state_one = #{stateOne},
        a.alarm_state = #{alarmState, jdbcType=INTEGER},
        a.redundant_type = #{redundantType},
        a.alarm_level_string = #{alarmLevelString,jdbcType=VARCHAR},
        <if test="isTemdif != null ">a.is_temdif = #{isTemdif},</if>
    </set>
            where a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        select
        a.device_mete_id,
        a.device_id,
        a.device_point_id,
        a.custom_id,
        a.custom_Name,
        a.mete_id,
        a.mete_kind,
        a.mete_type,
        a.meter_type,
        a.mete_name,
        a.appearance_type,
        a.device_type,
        a.inspection_type,
        a.position_type,
        a.analyse_type,
        a.is_ai,
        a.is_judge,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.mete_type,
        a.modulus,
        a.remark,
        a.state_zero,
        a.state_one,
        a.alarm_state,
        a.is_temdif,
        a.redundant_type,
        b.device_name
        from t_std_devicemete a
        left join t_std_device b on a.device_id = b.device_id
        where 1 = 1
            and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete" resultType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        select DISTINCT
        a.device_mete_id,
        a.device_id,
        a.device_point_id,
        a.custom_id as customType,
        a.mete_id,
        a.mete_kind,
        a.meter_type,
        a.mete_name,
        a.appearance_type,
        a.device_type,
        a.inspection_type,
        a.position_type,
        a.analyse_type,
        a.is_ai,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.mete_type,
        a.modulus,
        a.remark,
        state_zero,
        state_one,
        alarm_state,
        a.redundant_type,
        g.dict_note as alarmLevelName,
        f.dict_note as alarmTypeName,
        i.dict_note as customTypeName,
        b.dict_note as meteTypeName,
        d.dict_note as meteKindName,
        e.device_name as deviceName,
        e.up_region_id,
        h.dict_note as unitName,
        a.analyse_type,
        a.is_temdif,
        l.dict_note as analyseTypeName
        from t_std_devicemete a
        left join  t_dict_business g on a.alarm_level= g.dict_code
        left join t_dict_business f on a.alarm_type= f.dict_code
        left join t_dict_business b on a.mete_type= b.dict_code
        left join t_dict_business d on a.mete_kind= d.dict_code and d.col_name="mete_kind"
        left join t_std_device e on a.device_id = e.device_id
        left join t_dict_business h on a.unit = h.dict_code
        left join t_dict_business i on a.custom_id = i.dict_code
        left join t_dict_business l on a.analyse_type = l.dict_code and (l.col_name="analyse_type" or l.col_name="defect_type" )
        where 1=1
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="devicePointId != null and devicePointId != ''"> and a.device_point_id = #{devicePointId, jdbcType=VARCHAR}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="meteId != null and meteId != ''"> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="meteKind != null  and meteKind != ''"> and a.mete_kind = #{meteKind, jdbcType=VARCHAR}</if>
        <if test="meterType != null "> and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name = #{meteName, jdbcType=VARCHAR}</if>
        <if test="appearanceType != null "> and a.appearance_type = #{appearanceType, jdbcType=INTEGER}</if>
        <if test="deviceType != null "> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="inspectionType != null "> and a.inspection_type = #{inspectionType, jdbcType=VARCHAR}</if>
        <if test="positionType != null and positionType != ''"> and a.position_type = #{positionType, jdbcType=VARCHAR}</if>
        <if test="analyseType != null "> and a.device_type = #{analyseType, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
        <if test="alarmNote != null and alarmNote != ''"> and a.alarm_note = #{alarmNote, jdbcType=VARCHAR}</if>
        <if test="alarmType != null and alarmType != ''"> and a.alarm_type = #{alarmType, jdbcType=VARCHAR}</if>
        <if test="upEffect != null and upEffect != ''"> and a.up_effect = #{upEffect, jdbcType=REAL}</if>
        <if test="downEffect != null and downEffect != ''"> and a.down_effect = #{downEffect, jdbcType=REAL}</if>
        <if test="alarmLevel != null "> and a.alarm_level = #{alarmLevel, jdbcType=INTEGER}</if>
        <if test="highLimit1 != null and highLimit1 != ''"> and a.high_limit1 = #{highLimit1, jdbcType=REAL}</if>
        <if test="lowLimit1 != null and lowLimit1 != ''"> and a.low_limit1 = #{lowLimit1, jdbcType=REAL}</if>
        <if test="highLimit2 != null and highLimit2 != ''"> and a.high_limit2 = #{highLimit2, jdbcType=REAL}</if>
        <if test="lowLimit2 != null and lowLimit2 != ''"> and a.low_limit2 = #{lowLimit2, jdbcType=REAL}</if>
        <if test="alarmDelay != null "> and a.alarm_delay = #{alarmDelay, jdbcType=INTEGER}</if>
        <if test="alarmCnt != null "> and a.alarm_cnt = #{alarmCnt, jdbcType=INTEGER}</if>
        <if test="thresholdAbs != null and thresholdAbs != ''"> and a.threshold_abs = #{thresholdAbs, jdbcType=NUMERIC}</if>
        <if test="thresholdPer != null and thresholdPer != ''"> and a.threshold_per = #{thresholdPer, jdbcType=NUMERIC}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="modulus != null "> and a.modulus = #{modulus, jdbcType=INTEGER}</if>
        <if test="isTemdif != null "> and a.is_temdif = #{isTemdif, jdbcType=INTEGER}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="stateZero != null and stateZero != ''">a.state_zero = #{stateZero, jdbcType=VARCHAR}</if>
        <if test="stateOne != null and stateOne != ''">a.state_one = #{stateOne, jdbcType=VARCHAR}</if>
        <if test="alarmState != null">a.alarm_state = #{alarmState, jdbcType=INTEGER}</if>
        <if test="meteName != null and meteName != ''"> and g.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
<!--        <if test="upRegionId != null and upRegionId != '' and upRegionId != 1 "> and e.up_region_id = #{upRegionId, jdbcType=VARCHAR}</if>-->
    </select>

    <select id="selectDeviceMeteByDeviceCustom" resultType="java.lang.Long">
        SELECT
	      device_mete_id
        FROM
	     t_std_devicemete
        WHERE
	     device_id = #{deviceId,jdbcType=BIGINT}
        AND custom_id = #{customId,jdbcType=VARCHAR}
    </select>
    <select id="selectByPage"  resultType="com.yjh.platform.module.device.entity.TStdDeviceMeteDetail">
        select
        a.device_mete_id,
        a.device_id,
        a.device_point_id,
        a.custom_id as customType,
               a.alarm_level_string,
        a.mete_id,
        a.mete_kind,
        a.meter_type,
        a.mete_name,
        a.appearance_type,
        e.device_type,
        a.inspection_type,
        a.position_type,
        a.is_ai,
        a.is_judge,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.mete_type,
        a.modulus,
        a.remark,
        a.state_zero,
        a.state_one,
        a.alarm_state,
        a.redundant_type,
        e.device_name as deviceName,
        e.up_region_id,
        a.analyse_type,
        a.is_temdif
        from t_std_devicemete a
        left join  t_dict_business g on a.alarm_level= g.dict_code
        left join t_dict_business f on a.alarm_type= f.dict_code
        left join t_dict_business b on a.mete_type= b.dict_code and b.col_name="mete_type"
        left join t_dict_business d on a.mete_kind= d.dict_code and d.col_name="mete_kind"
        left join t_std_device e on a.device_id = e.device_id
        where 1=1
          <choose>
              <when test="isRedundant == 0">
                  AND EXISTS (
                  SELECT
                  1
                  FROM
                  ( SELECT DISTINCT device_mete_id, cruise_type FROM ( SELECT device_mete_id, CASE cruise_type WHEN 229 THEN 230 ELSE cruise_type END cruise_type FROM t_cruise_point_instance ) tcpi ) ttt
                  WHERE
                  ttt.device_mete_id = a.device_mete_id
                  GROUP BY
                  device_mete_id
                  HAVING
                  count(*) > 1
                  )
              </when>
                <when test="isRedundant == 1">
                    AND NOt EXISTS (
                    SELECT
                    1
                    FROM
                    ( SELECT DISTINCT device_mete_id, cruise_type FROM ( SELECT device_mete_id, CASE cruise_type WHEN 229 THEN 230 ELSE cruise_type END cruise_type FROM t_cruise_point_instance ) tcpi ) ttt
                    WHERE
                    ttt.device_mete_id = a.device_mete_id
                    GROUP BY
                    device_mete_id
                    HAVING
                    count(*) > 1
                    )
                </when>
          </choose>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
        <if test="redundantType != -1"> and a.redundant_type = #{redundantType, jdbcType=VARCHAR}</if>
         order by a.device_mete_id desc
    </select>
    <select id="selectForPage" parameterType="com.yjh.platform.module.device.entity.TStdDeviceMete" resultType="java.lang.Long">
        select a.device_mete_id
        from  t_std_devicemete a
        where 1=1
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=VARCHAR}</if>
        <if test="meteName != null and meteName != ''"> and a.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
    </select>

    <insert id="batchAdd">
        insert into t_std_devicemete(
            device_mete_id,
            device_id,
            device_point_id,
            custom_id,
            custom_name,
            mete_id,
            mete_kind,
        meter_type,
            mete_name,
        appearance_type,
            device_type,
            inspection_type,
            position_type,
        analyse_type,
        is_ai,
        is_judge,
            unit,
            alarm_note,
            alarm_type,
            up_effect,
            down_effect,
            alarm_level,
            high_limit1,
            low_limit1,
            high_limit2,
            low_limit2,
            alarm_delay,
            alarm_cnt,
            threshold_abs,
            threshold_per,
            mete_type
            modulus,
            remark,
            state_zero,
            state_one,
            is_temdif,
            alarm_state
        )values
        <foreach collection="list" item="TStdDevicemete" separator=",">
            (
                #{TStdDevicemete.deviceMeteId, jdbcType=BIGINT},
                #{TStdDevicemete.deviceId, jdbcType=BIGINT},
                #{TStdDevicemete.devicePointId, jdbcType=VARCHAR},
                #{TStdDevicemete.customId, jdbcType=VARCHAR},
                #{TStdDevicemete.customName, jdbcType=VARCHAR},
                #{TStdDevicemete.meteId, jdbcType=BIGINT},
                #{TStdDevicemete.meteKind, jdbcType=INTEGER},
            #{TStdDevicemete.meterType, jdbcType=INTEGER},
            #{TStdDevicemete.meteName, jdbcType=VARCHAR},
            #{TStdDevicemete.appearanceType, jdbcType=INTEGER},
            #{TStdDevicemete.deviceType, jdbcType=INTEGER},
            #{TStdDevicemete.inspectionType, jdbcType=INTEGER},
                #{TStdDevicemete.positionType, jdbcType=VARCHAR},
            #{TStdDevicemete.analyseType, jdbcType=INTEGER},
            #{TStdDevicemete.isAi, jdbcType=VARCHAR},
            #{TStdDevicemete.isJudge,jdbcType=VARCHAR},
                #{TStdDevicemete.unit, jdbcType=VARCHAR},
                #{TStdDevicemete.alarmNote, jdbcType=VARCHAR},
                #{TStdDevicemete.alarmType, jdbcType=VARCHAR},
                #{TStdDevicemete.upEffect, jdbcType=REAL},
                #{TStdDevicemete.downEffect, jdbcType=REAL},
                #{TStdDevicemete.alarmLevel, jdbcType=INTEGER},
                #{TStdDevicemete.highLimit1, jdbcType=REAL},
                #{TStdDevicemete.lowLimit1, jdbcType=REAL},
                #{TStdDevicemete.highLimit2, jdbcType=REAL},
                #{TStdDevicemete.lowLimit2, jdbcType=REAL},
                #{TStdDevicemete.alarmDelay, jdbcType=INTEGER},
                #{TStdDevicemete.alarmCnt, jdbcType=INTEGER},
                #{TStdDevicemete.thresholdAbs, jdbcType=NUMERIC},
                #{TStdDevicemete.thresholdPer, jdbcType=NUMERIC},
                #{TStdDevicemete.meteType, jdbcType=VARCHAR},
                #{TStdDevicemete.modulus, jdbcType=INTEGER},
                #{TStdDevicemete.remark, jdbcType=VARCHAR},
                #{TStdDevicemete.stateZero, jdbcType=VARCHAR},
                #{TStdDevicemete.stateOne, jdbcType=VARCHAR},
                #{TStdDevicemete.isTemdif, jdbcType=INTEGER},
                #{TStdDevicemete.alarmState, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <select id="selectDevMeteByModelId" parameterType="java.lang.String" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
        select
        a.device_id,
        a.device_point_id,
        a.custom_id,
        a.custom_name,
        c.mete_id,
        c.mete_kind,
        c.mete_name,
        b.device_type,
        b.inspection_type,
        "inside" AS position_type,
        c.unit,
        c.alarm_note,
        c.alarm_type,
        c.up_effect,
        c.down_effect,
        c.alarm_level,
        c.high_limit1,
        c.low_limit1,
        c.high_limit2,
        c.low_limit2,
        c.alarm_delay,
        c.alarm_cnt,
        c.threshold_abs,
        c.threshold_per,
        c.modulus,
        a.remark
        from t_std_device a
        LEFT JOIN t_std_metemodel b ON a.model_id = b.model_id
        LEFT JOIN t_std_metemodel_detail c ON a.model_id = c.model_id
        where 1 = 1
        <if test="modelId != null and modelId != ''"> and a.model_id = #{modelId, jdbcType=BIGINT}</if>
    </select>



    <delete id="deleteByDevId" parameterType="java.lang.Long">
        delete from t_std_devicemete
        where device_id = #{deviceId, jdbcType=BIGINT}
    </delete>

    <select id="selectByDevCus" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
       select * from t_std_devicemete
       WHERE device_id=#{deviceId,jdbcType=BIGINT} AND custom_id=#{customId,jdbcType=VARCHAR}
    </select>


    <select id="selectPreDeviceMete" resultType="com.yjh.platform.module.device.entity.TStdDeviceMete">
       SELECT
	    a.device_id,
	    a.device_point_id,
        a.custom_id as cruiseType,
        a.custom_name,
        b.mete_id,
        b.mete_kind,
        b.mete_name,
        a.device_type,
        a.inspection_type,
        a.position_type,
        b.unit,
        b.alarm_note,
        b.alarm_type,
        b.up_effect,
        b.down_effect,
        b.alarm_level,
        b.high_limit1,
        b.low_limit1,
        b.high_limit2,
        b.low_limit2,
        b.alarm_delay,
        b.alarm_cnt,
        b.threshold_abs,
        b.threshold_per,
        b.modulus
       FROM
	   t_std_device a
       LEFT JOIN t_std_metemodel_detail b ON a.model_id = b.model_id
       WHERE
	   a.model_id = #{modelId,jdbcType=BIGINT}
       AND a.device_id = #{deviceId,jdbcType=BIGINT}
       AND a.custom_id = #{customId,jdbcType=BIGINT}

    </select>


    <delete id="batchDelete" >
             delete from t_std_devicemete where device_mete_id in
        <foreach collection="list" item="deviceMeteId"  separator="," open="(" close=")" >
        #{deviceMeteId,jdbcType=BIGINT}
        </foreach>
    </delete>

    <select id="selectDeviceMete" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalMeteInfo">
        SELECT DISTINCT
            b.device_mete_id AS "deviceMeteId",
            b.device_id AS "deviceId",
            b.mete_name AS "meteName"
        FROM
            (
                (
                    t_std_device a
                    JOIN t_std_devicemete b ON a.device_id = b.device_id
                )
                JOIN t_cruise_point_instance c ON b.device_mete_id = c.device_mete_id
            )
        JOIN (
            t_cruise_task_result_detail d
            LEFT JOIN t_cruise_data_result e ON d.cruise_result_id = e.cruise_result_id
        ) ON c.instance_id = d.instance_id
        LEFT JOIN t_cruise_result f ON d.task_result_id = f.task_result_id
        LEFT JOIN t_dict_business g ON f.c_state = g.dict_code
        AND g.col_name = 'task_state'
        WHERE
            f.c_state != 239
        AND f.c_state != 241
        ORDER BY
            d.end_time,
            b.device_id,
            b.device_mete_id DESC
    </select>

    <select id="selectDeviceMeteByDeviceId" parameterType="java.util.List" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalMeteInfo">
        SELECT DISTINCT
            b.device_mete_id AS "deviceMeteId",
            b.device_id AS "deviceId",
            b.mete_name AS "meteName"
        FROM
            (
                (
                    t_std_device a
                    JOIN t_std_devicemete b ON a.device_id = b.device_id
                )
                JOIN t_cruise_point_instance c ON b.device_mete_id = c.device_mete_id
            )
        JOIN (
            t_cruise_task_result_detail d
            LEFT JOIN t_cruise_data_result e ON d.cruise_result_id = e.cruise_result_id
        ) ON c.instance_id = d.instance_id
        LEFT JOIN t_cruise_result f ON d.task_result_id = f.task_result_id
        LEFT JOIN t_dict_business g ON f.c_state = g.dict_code
        AND g.col_name = 'task_state'
        WHERE
             b.device_id IN
             <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                 #{deviceIds,jdbcType=BIGINT}
             </foreach>
        AND f.c_state != 239
        AND f.c_state != 241
        ORDER BY
            d.end_time,
            d.device_id,
            b.device_mete_id DESC

    </select>

    <!--巡检结果分析展示-->
    <select id="selectCruiseResultAnalyze12" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeMeteInfo">
        SELECT DISTINCT
        f.device_mete_id,
        f.device_id,
        f.device_point_id,
        f.mete_type,
        f.meter_type,
        g.device_type,
        f.mete_name,
        b.cruise_time
        FROM
        t_cruise_result a,
        t_cruise_task_result_detail b,
        t_cruise_data_result d,
        t_cruise_point_instance e,
        t_std_devicemete f,
        t_std_device g
        where a.task_result_id = b.task_result_id and a.c_state != 239 and a.c_state != 241
        and d.cruise_result_id = b.cruise_result_id
        and e.instance_id = b.instance_id
        and f.device_mete_id = e.device_mete_id
        and g.device_id = f.device_id
        <if test="deviceType != -1">and a.device_type = #{deviceType,jdbcType = INTEGER} </if>
        <if test="meterType != -1">and b.meter_type = #{meterType,jdbcType = INTEGER} </if>
        <if test="meteType != null and meteType != -1">and b.mete_type = #{meteType,jdbcType = INTEGER} </if>
        <if test="list != null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        GROUP BY device_mete_id
        ORDER BY cruise_time desc
    </select>
    <select id="selectCruiseResultAnalyze" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeMeteInfo">
        SELECT
        b.instance_id,
        f.device_mete_id,
        f.device_id,
        f.device_point_id,
        f.mete_type,
        f.meter_type,
        g.device_type,
        f.mete_name,
        h.update_time as cruise_time,
        h.pic_Path,
        h.cruise_result,
        IFNULL(h.identify_result, h.cruise_result) as FinalState,
        k.dict_note as cruise_result_name,
        h.identify_result
        FROM
        u_patrol_data_result b
        LEFT JOIN t_cruise_point_instance e on e.instance_id = b.instance_id
        JOIN t_std_devicemete f on f.device_mete_id = e.device_mete_id
        LEFT JOIN t_std_device g on g.device_id = f.device_id
        LEFT JOIN t_std_devicemete_update h on  h.device_mete_id = e.device_mete_id
        LEFT JOIN t_dict_business k on k.dict_code = h.cruise_result and k.col_name = 'cruise_result'
        where 1 = 1
        <if test="deviceType != -1">and g.device_type = #{deviceType,jdbcType = INTEGER} </if>
        <if test="meterType != -1">and f.meter_type = #{meterType,jdbcType = INTEGER} </if>
        <if test="meteName != null">and f.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
        <if test="meteType != null and meteType != -1">and f.mete_type = #{meteType,jdbcType = INTEGER} </if>

        <if test="list!= null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="customId != -1 and customId != null">and e.custom_id = #{customId,jdbcType = BIGINT} </if>
        <if test="cruiseRes != -1 ">and IFNULL(h.identify_result, h.cruise_result) IN (246,261)</if>
        GROUP BY f.device_mete_id
        ORDER BY cruise_time desc
    </select>
    <select id="selectCruiseResultAnalyze2" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeMeteInfo">
        SELECT
        b.instance_id,
        f.device_mete_id,
        f.device_id,
        f.device_point_id,
        f.mete_type,
        f.meter_type,
        g.device_type,
        f.mete_name,
        h.update_time as cruise_time,
        h.pic_Path,
        h.cruise_result,
        IFNULL(h.identify_result, h.cruise_result) as FinalState,
        k.dict_note as cruise_result_name,
        h.identify_result
        FROM
        u_patrol_data_result b
        LEFT JOIN t_cruise_point_instance e on e.instance_id = b.instance_id
        JOIN t_std_devicemete f on f.device_mete_id = e.device_mete_id
        LEFT JOIN t_std_device g on g.device_id = f.device_id
        LEFT JOIN t_std_devicemete_update h on  h.device_mete_id = e.device_mete_id
        LEFT JOIN t_dict_business k on k.dict_code = h.cruise_result and k.col_name = 'cruise_result'
        where 1 = 1
        <if test="deviceType != -1">and g.device_type = #{deviceType,jdbcType = INTEGER} </if>
        <if test="meterType != -1">and f.meter_type = #{meterType,jdbcType = INTEGER} </if>
        <if test="meteName != null">and f.mete_name like concat('%',#{meteName, jdbcType=VARCHAR},'%') </if>
        <if test="meteType != null and meteType != -1">and f.mete_type = #{meteType,jdbcType = INTEGER} </if>

        <if test="list!= null and list.size() > 0">and b.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="customId != -1 and customId != null">and e.custom_id = #{customId,jdbcType = BIGINT} </if>
        <if test="cruiseRes != -1 ">and IFNULL(h.identify_result, h.cruise_result) IN (247,262,263,264)</if>
        GROUP BY f.device_mete_id
        ORDER BY cruise_time desc
    </select>

    <select id="getdeviceMeteByPointinstance" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT DISTINCT
	        a.device_mete_id
        FROM
	        t_cruise_point_instance b
        LEFT JOIN t_std_devicemete a ON b.device_mete_id = a.device_mete_id
        WHERE
	         b.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>
    <select id="selectByDevId" resultType="java.lang.Long">
        select a.device_mete_id
        from t_std_devicemete a
        where a.device_id = #{deviceId,jdbcType=BIGINT}
    </select>

    <select id="selectHave" resultType="java.lang.Long">
        select a.instance_id
        from t_cruise_point_instance a
        where a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
    </select>

    <select id="selectHaveInstanceId" resultType="java.lang.Long">
        select a.instance_id
        from t_cruise_point_instance a
        where a.device_id = #{deviceId,jdbcType=BIGINT}
    </select>

    <select id="selectAllDeviceMeteIdAndCruiseType"  resultType="java.util.Map">
        select
            a.device_mete_id, a.cruise_type
        FROM
            t_cruise_point_instance a
        WHERE 1 = 1
    </select>
</mapper>
