<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.user.dao.TSysParamDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.user.entity.TSysParam">
        <id column="param_id" jdbcType="INTEGER" property="paramId" />
        <result column="param_code" jdbcType="VARCHAR" property="paramCode" />
        <result column="param_type" jdbcType="INTEGER" property="paramType" />
        <result column="param_name" jdbcType="VARCHAR" property="paramName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        param_id,param_code, param_type, param_name, content, remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="paramId" parameterType="com.yjh.platform.module.user.entity.TSysParam">
        insert into t_sys_param(
            param_id,
            param_code,
            param_type,
            param_name,
            content,
            remark
        )values(
                #{paramId, jdbcType=INTEGER},
                #{paramCode, jdbcType=VARCHAR},
                #{paramType, jdbcType=INTEGER},
                #{paramName, jdbcType=VARCHAR},
                #{content, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Integer">
        delete from t_sys_param
                where param_id = #{paramId, jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.user.entity.TSysParam">
        update t_sys_param a <set>
        <if test="paramId != null ">a.param_id = #{paramId, jdbcType=INTEGER},</if>
        <if test="paramCode != null">a.param_code = #{paramCode},</if>
        <if test="paramType != null ">a.param_type = #{paramType, jdbcType=INTEGER},</if>
        <if test="paramName != null ">a.param_name = #{paramName},</if>
        <if test="content != null ">a.content = #{content},</if>
        <if test="remark != null">a.remark = #{remark},</if>
    </set>
            where a.param_id = #{paramId, jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Integer" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select
        a.param_id,
        a.param_code,
        a.param_type,
        a.param_name,
        a.content,
        a.remark
        from t_sys_param a
        where 1 = 1
            and a.param_id = #{paramId, jdbcType=INTEGER}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.user.entity.TSysParam" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select
        a.param_id,
        a.param_code,
        a.param_type,
        a.param_name,
        a.content,
        a.remark
        from t_sys_param a
        where 1 = 1
        <if test="paramId != null "> and a.param_id = #{paramId, jdbcType=INTEGER}</if>
        <if test="paramCode != null and paramCode != ''"> and a.param_code = #{paramCode, jdbcType=VARCHAR}</if>
        <if test="paramType != null "> and a.param_type = #{paramType, jdbcType=INTEGER}</if>
        <if test="paramName != null and paramName != ''"> and a.param_name = #{paramName, jdbcType=VARCHAR}</if>
        <if test="content != null and content != ''"> and a.content = #{content, jdbcType=VARCHAR}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.user.entity.TSysParam" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select
        a.param_id,
        a.param_code,
        a.param_type,
        b.dict_note as paramTypeName,
        a.param_name,
        a.content,
        a.remark
        from t_sys_param a
        left join t_dict_business b on a.param_type = b.dict_code and b.col_name = "param_type"
        where 1 = 1
        <if test="paramId != null "> and a.param_id = #{paramId, jdbcType=INTEGER}</if>
        <if test="paramCode != null and paramCode != ''"> and a.param_code = #{paramCode, jdbcType=VARCHAR}</if>
        <if test="paramType != null "> and a.param_type = #{paramType, jdbcType=INTEGER}</if>
        <if test="paramName != null and paramName != ''"> and a.param_name LIKE CONCAT('%',#{paramName, jdbcType=VARCHAR},'%')</if>
        <if test="content != null and content != ''"> and a.content = #{content, jdbcType=VARCHAR}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
         order by a.param_type,a.param_code,a.param_id
    </select>

    <insert id="batchInsert">
        insert into t_sys_param(
            param_id,
        a.param_code,
            param_type,
            param_name,
            content,
            remark
        )values
        <foreach collection="list" item="TSysParam" separator=",">
            (
                #{TSysParam.paramId, jdbcType=INTEGER},
            #{TSysParam.paramCode, jdbcType=VARCHAR},
                #{TSysParam.paramType, jdbcType=INTEGER},
                #{TSysParam.paramName, jdbcType=VARCHAR},
                #{TSysParam.content, jdbcType=VARCHAR},
                #{TSysParam.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectAll" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select *
        from t_sys_param
    </select>

    <select id="selectByParamType" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select *
        from t_sys_param
        where param_code = #{paramType,jdbcType=VARCHAR}
    </select>


    <select id="selectByPrimaryCode" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select *
        from t_sys_param
        where param_code = 'isEncryption'
    </select>

    <select id="selectQuery" parameterType="HashMap" resultType="com.yjh.platform.module.user.entity.TSysParam">
        select
        a.param_id,
        a.param_code,
        a.param_type,
        a.param_name,
        a.content,
        a.remark
        from t_sys_param a
        where a.param_code in
        <foreach item="item" index="index" collection="params" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="updateByCode" >
        update t_sys_param a <set>
        <if test="content != null ">a.content = #{content},</if>
    </set>
        where a.param_code = #{paramCode}
    </update>
</mapper>
