<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TUnionTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TUnionTask">
        <id column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="ruleId" jdbcType="BIGINT" property="ruleId" />
        <result column="union_name" jdbcType="VARCHAR" property="unionName" />
        <result column="rule_delay" jdbcType="INTEGER" property="ruleDelay" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="remark1" jdbcType="INTEGER" property="remark1" />
        <result column="remark2" jdbcType="INTEGER" property="remark2" />
        <result column="remark3" jdbcType="VARCHAR" property="remark3" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="param_values" jdbcType="VARCHAR" property="paramValues" />
        <result column="is_finish" jdbcType="INTEGER" property="isFinish" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        union_id, rule_id, union_name, robot_id, rule_delay, remark1, remark2, remark3, is_finish, start_time, create_time,param_values
    </sql>

    <sql id="General">
        a.union_id,a.rule_id,a.union_name,a.rule_delay,a.robot_id,a.remark1,
        a.remark2,a.remark3,a.is_finish,a.start_time,a.create_time,a.param_values,
        b.plan_id,b.rule_name,b.rule_type,b.rule_content,b.description,b.update_time,
        d.plan_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="unionId" parameterType="com.yjh.platform.module.task.entity.TUnionTask">
        insert into t_union_task(
            union_id,
            rule_id,
            union_name,
            robot_id,
            rule_delay,
            remark1,
            remark2,
            remark3,
            is_finish,
            start_time,
            create_time,
            param_values
        )values(
                #{unionId, jdbcType=VARCHAR},
                #{ruleId, jdbcType=BIGINT},
                #{unionName, jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{ruleDelay, jdbcType=INTEGER},
                #{remark1, jdbcType=INTEGER},
                #{remark2, jdbcType=INTEGER},
                #{remark3, jdbcType=VARCHAR},
                #{isFinish, jdbcType=INTEGER},
                #{startTime, jdbcType=TIMESTAMP},
                #{createTime, jdbcType=TIMESTAMP},
                #{paramValues, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_union_task
                where union_id = #{unionId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TUnionTask">
        update t_union_task a <set>
        <if test="unionId != null and unionId != ''">a.union_id = #{unionId, jdbcType=VARCHAR},</if>
        <if test="ruleId != null and ruleId != ''">a.rule_id = #{ruleId, jdbcType=BIGINT},</if>
        <if test="unionName != null and unionName != ''">a.union_name = #{unionName, jdbcType=VARCHAR},</if>
        <if test="robotId != null and robotId != ''">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="ruleDelay != null and ruleDelay != ''">a.rule_delay = #{ruleDelay, jdbcType=INTEGER},</if>
        <if test="remark1 != null and remark1 != ''">a.remark1 = #{remark1, jdbcType=INTEGER},</if>
        <if test="remark2 != null and remark2 != ''">a.remark2 = #{remark2, jdbcType=INTEGER},</if>
        <if test="remark3 != null and remark3 != ''">a.remark3 = #{remark3, jdbcType=VARCHAR},</if>
        <if test="isFinish != null and isFinish != ''">a.is_finish = #{isFinish, jdbcType=INTEGER},</if>
        <if test="startTime != null and startTime != ''">a.start_time = #{startTime, jdbcType=TIMESTAMP},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="paramValues != null and paramValues != ''">a.param_values = #{paramValues, jdbcType=VARCHAR},</if>
    </set>
            where a.union_id = #{unionId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.robot_id,
        a.rule_delay,
        a.remark1,
        a.remark2,
        a.remark3,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values
        from t_union_task a
        where 1 = 1
            and a.union_id = #{unionId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.rule_delay,
        a.robot_id,
        a.remark1,
        a.remark2,
        a.remark3,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values
        from t_union_task a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
        <if test="unionName != null and unionName != ''"> and a.union_name = #{unionName, jdbcType=VARCHAR}</if>
        <if test="ruleDelay != null and ruleDelay != ''"> and a.rule_delay = #{ruleDelay, ruleDelay=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="remark1 != null and remark1 != ''"> and a.remark1 = #{remark1, jdbcType=INTEGER}</if>
        <if test="remark2 != null and remark2 != ''"> and a.remark2 = #{remark2, jdbcType=INTEGER}</if>
        <if test="remark3 != null and remark3 != ''"> and a.remark3 = #{remark3, jdbcType=VARCHAR}</if>
        <if test="isFinish != null and isFinish != ''"> and a.is_finish = #{isFinish, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=VARCHAR}</if>
        <if test="paramValues != null and paramValues != ''"> and a.param_values = #{paramValues, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.rule_delay,
        a.robot_id,
        a.remark1,
        a.remark2,
        a.remark3,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values
        from t_union_task a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
        <if test="unionName != null and unionName != ''"> and a.union_name = #{unionName, jdbcType=VARCHAR}</if>
        <if test="ruleDelay != null and ruleDelay != ''"> and a.rule_delay = #{ruleDelay, ruleDelay=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="remark1 != null and remark1 != ''"> and a.remark1 = #{remark1, jdbcType=INTEGER}</if>
        <if test="remark2 != null and remark2 != ''"> and a.remark2 = #{remark2, jdbcType=INTEGER}</if>
        <if test="remark3 != null and remark3 != ''"> and a.remark3 = #{remark3, jdbcType=VARCHAR}</if>
        <if test="isFinish != null and isFinish != ''"> and a.is_finish = #{isFinish, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=VARCHAR}</if>
        <if test="paramValues != null and paramValues != ''"> and a.param_values = #{paramValues, jdbcType=TIMESTAMP}</if>
    </select>

    <insert id="batchInsert">
        insert into t_union_task(
        union_id,
        rule_id,
        union_name,
        rule_delay,
        robot_id,
        remark1,
        remark2,
        remark3,
        is_finish,
        start_time,
        create_time,
        param_values
        )values
        <foreach collection="list" item="TUnionTask" separator=",">
            (
                #{TUnionTask.unionId, jdbcType=VARCHAR},
                #{TUnionTask.ruleId, jdbcType=BIGINT},
                #{TUnionTask.unionName, jdbcType=VARCHAR},
                #{TUnionTask.ruleDelay, jdbcType=INTEGER},
                #{TUnionTask.robotId, jdbcType=BIGINT},
                #{TUnionTask.remark1, jdbcType=INTEGER},
                #{TUnionTask.remark2, jdbcType=INTEGER},
                #{TUnionTask.remark3, jdbcType=VARCHAR},
                #{TUnionTask.isFinish, jdbcType=INTEGER},
                #{TUnionTask.startTime, jdbcType=TIMESTAMP},
                #{TUnionTask.createTime, jdbcType=TIMESTAMP},
                #{TUnionTask.paramValues, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectHistory" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTaskExpand">
        select <include refid="General"></include>
        from t_cfg_union_rule b,t_union_task a,t_cruise_plan d
        where 1 = 1
        <if test="ruleName != null and ruleName != ''"> and b.rule_name like concat('%',#{ruleName, jdbcType=VARCHAR},'%') </if>
        and a.create_time between #{startDateTemp,jdbcType=TIMESTAMP} and #{endDateTemp,jdbcType=TIMESTAMP}
        and a.rule_id = b.rule_id
        and b.plan_id = d.plan_id
    </select>

    <select id="historyStatistical" resultType="java.lang.Integer">
        select
            COUNT(start_time BETWEEN #{beforeTime} and #{currentTime} or null)
        from t_union_task
    </select>

    <select id="getHistoryByQuarter"  resultType="com.yjh.platform.module.task.entity.QuarterEntity">
        select
            COUNT(start_time BETWEEN #{firstTime2} and #{firstTime1} or null) as monthOne,
            COUNT(start_time BETWEEN #{firstTime3} and #{firstTime2} or null) as monthTwo,
            COUNT(start_time BETWEEN #{firstTime4} and #{firstTime3} or null) as monthThree
        from t_union_task
    </select>

    <select id="getHistoryByYear"  resultType="com.yjh.platform.module.task.entity.YearEntity">
        select
            COUNT(start_time BETWEEN #{firstTime2} and #{firstTime1} or null) as monthOne,
            COUNT(start_time BETWEEN #{firstTime3} and #{firstTime2} or null) as monthTwo,
            COUNT(start_time BETWEEN #{firstTime4} and #{firstTime3} or null) as monthThree,
            COUNT(start_time BETWEEN #{firstTime5} and #{firstTime4} or null) as monthFour,
            COUNT(start_time BETWEEN #{firstTime6} and #{firstTime5} or null) as monthFive,
            COUNT(start_time BETWEEN #{firstTime7} and #{firstTime6} or null) as monthSix,
            COUNT(start_time BETWEEN #{firstTime8} and #{firstTime7} or null) as monthSeven,
            COUNT(start_time BETWEEN #{firstTime9} and #{firstTime8} or null) as monthEight,
            COUNT(start_time BETWEEN #{firstTime10} and #{firstTime9} or null) as monthNine,
            COUNT(start_time BETWEEN #{firstTime11} and #{firstTime10} or null) as monthTen,
            COUNT(start_time BETWEEN #{firstTime12} and #{firstTime11} or null) as monthEleven,
            COUNT(start_time BETWEEN #{firstTime13} and #{firstTime12} or null) as monthTwelve
        from t_union_task
    </select>
    <select id="getHistoryByMonth" resultType="com.yjh.platform.module.task.entity.MonthEntity">
        select
            COUNT(start_time BETWEEN #{firstTime2} and #{firstTime1} or null) as DayOne,
            COUNT(start_time BETWEEN #{firstTime3} and #{firstTime2} or null) as DayTwo,
            COUNT(start_time BETWEEN #{firstTime4} and #{firstTime3} or null) as DayThree,
            COUNT(start_time BETWEEN #{firstTime5} and #{firstTime4} or null) as DayFour,
            COUNT(start_time BETWEEN #{firstTime6} and #{firstTime5} or null) as DayFive,
            COUNT(start_time BETWEEN #{firstTime7} and #{firstTime6} or null) as DaySix,
            COUNT(start_time BETWEEN #{firstTime8} and #{firstTime7} or null) as DaySeven,
            COUNT(start_time BETWEEN #{firstTime9} and #{firstTime8} or null) as DayEight,
            COUNT(start_time BETWEEN #{firstTime10} and #{firstTime9} or null) as DayNine,
            COUNT(start_time BETWEEN #{firstTime11} and #{firstTime10} or null) as DayTen,
            COUNT(start_time BETWEEN #{firstTime12} and #{firstTime11} or null) as DayEleven,
            COUNT(start_time BETWEEN #{firstTime13} and #{firstTime12} or null) as DayTwelve,
            COUNT(start_time BETWEEN #{firstTime14} and #{firstTime13} or null) as DayThirteen,
            COUNT(start_time BETWEEN #{firstTime15} and #{firstTime14} or null) as DayFourteen,
            COUNT(start_time BETWEEN #{firstTime16} and #{firstTime15} or null) as DayFifteen,
            COUNT(start_time BETWEEN #{firstTime17} and #{firstTime16} or null) as DaySixteen,
            COUNT(start_time BETWEEN #{firstTime18} and #{firstTime17} or null) as DaySeventeen,
            COUNT(start_time BETWEEN #{firstTime19} and #{firstTime18} or null) as DayEighteen,
            COUNT(start_time BETWEEN #{firstTime20} and #{firstTime19} or null) as DayNineteen,
            COUNT(start_time BETWEEN #{firstTime21} and #{firstTime20} or null) as DayTwenty,
            COUNT(start_time BETWEEN #{firstTime22} and #{firstTime21} or null) as Day21,
            COUNT(start_time BETWEEN #{firstTime23} and #{firstTime22} or null) as Day22,
            COUNT(start_time BETWEEN #{firstTime24} and #{firstTime23} or null) as Day23,
            COUNT(start_time BETWEEN #{firstTime25} and #{firstTime24} or null) as Day24,
            COUNT(start_time BETWEEN #{firstTime26} and #{firstTime25} or null) as Day25,
            COUNT(start_time BETWEEN #{firstTime27} and #{firstTime26} or null) as Day26,
            COUNT(start_time BETWEEN #{firstTime28} and #{firstTime27} or null) as Day27,
            COUNT(start_time BETWEEN #{firstTime29} and #{firstTime28} or null) as Day28,
            COUNT(start_time BETWEEN #{firstTime30} and #{firstTime29} or null) as Day29,
            COUNT(start_time BETWEEN #{firstTime31} and #{firstTime30} or null) as Day30
        from t_union_task
    </select>

    <select id="selectUnionDetail" resultType="com.yjh.platform.module.task.entity.TUnionTaskDetail">
        SELECT
            a.rule_id,
            b.plan_id,
            d.instance_id,
            d.device_mete_id,
            d.custom_id as device_custom_id,
            d.cruise_type,
            e.dict_note as cruise_type_name
        from t_cfg_union_rule a left JOIN t_cruise_plan_attr b on a.plan_id = b.plan_id
        LEFT JOIN t_cruise_point_instance d on b.instance_id = d.instance_id
        LEFT JOIN t_dict_business e on e.dict_code = d.cruise_type
        where 1 = 1
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
    </select>

    <insert id="insertRecordDetail">
        insert into t_union_task_attr(
            union_id,
            instance_id,
            device_mete_id,
            device_custom_id,
            if_robot,
            if_video,
            if_inferad
        )values
        <foreach collection="tUnionTaskAttrList" item="TUnionTaskArr" separator=",">
            (
            #{TUnionTaskArr.unionId, jdbcType=VARCHAR},
            #{TUnionTaskArr.instance_id, jdbcType=BIGINT},
            #{TUnionTaskArr.device_mete_id, jdbcType=BIGINT},
            #{TUnionTaskArr.device_custom_id, jdbcType=BIGINT},
            #{TUnionTaskArr.if_robot, jdbcType=INTEGER},
            #{TUnionTaskArr.if_video, jdbcType=INTEGER},
            #{TUnionTaskArr.if_inferad, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

</mapper>
