<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TUnionTaskAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        <id column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_custom_id" jdbcType="VARCHAR" property="deviceCustomId" />
        <result column="if_robot" jdbcType="INTEGER" property="ifRobot" />
        <result column="if_video" jdbcType="INTEGER" property="ifVideo" />
        <result column="if_inferad" jdbcType="INTEGER" property="ifInferad" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        union_id, instance_id, device_mete_id, device_custom_id, if_robot, if_video, if_inferad
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="unionId" parameterType="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        insert into t_union_task_attr(
            union_id,
            instance_id,
            device_mete_id,
            device_custom_id,
            if_robot,
            if_video,
            if_inferad
        )values(
                #{unionId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceCustomId, jdbcType=VARCHAR},
                #{ifRobot, jdbcType=INTEGER},
                #{ifVideo, jdbcType=INTEGER},
                #{ifInferad, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_union_task_attr
                where union_id = #{unionId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        update t_union_task_attr a <set>
        <if test="unionId != null ">a.union_id = #{unionId},</if>
        a.instance_id = #{instanceId},
        a.device_mete_id = #{deviceMeteId},
        <if test="deviceCustomId != null ">a.device_custom_id = #{deviceCustomId},</if>
        a.if_robot = #{ifRobot},
        a.if_video = #{ifVideo},
        a.if_inferad = #{ifInferad},
    </set>
            where a.union_id = #{unionId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        select
        a.union_id,
        a.instance_id,
        a.device_mete_id,
        a.device_custom_id,
        a.if_robot,
        a.if_video,
        a.if_inferad
        from t_union_task_attr a
        where 1 = 1
            and a.union_id = #{unionId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TUnionTaskAttr" resultType="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        select
        a.union_id,
        a.instance_id,
        a.device_mete_id,
        a.device_custom_id,
        a.if_robot,
        a.if_video,
        a.if_inferad
        from t_union_task_attr a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceCustomId != null and deviceCustomId != ''"> and a.device_custom_id = #{deviceCustomId, jdbcType=VARCHAR}</if>
        <if test="ifRobot != null and ifRobot != ''"> and a.if_robot = #{ifRobot, jdbcType=INTEGER}</if>
        <if test="ifVideo != null and ifVideo != ''"> and a.if_video = #{ifVideo, jdbcType=INTEGER}</if>
        <if test="ifInferad != null and ifInferad != ''"> and a.if_inferad = #{ifInferad, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TUnionTaskAttr" resultType="com.yjh.platform.module.task.entity.TUnionTaskAttr">
        select
        a.union_id,
        a.instance_id,
        a.device_mete_id,
        a.device_custom_id,
        a.if_robot,
        a.if_video,
        a.if_inferad
        from t_union_task_attr a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceCustomId != null and deviceCustomId != ''"> and a.device_custom_id = #{deviceCustomId, jdbcType=VARCHAR}</if>
        <if test="ifRobot != null and ifRobot != ''"> and a.if_robot = #{ifRobot, jdbcType=INTEGER}</if>
        <if test="ifVideo != null and ifVideo != ''"> and a.if_video = #{ifVideo, jdbcType=INTEGER}</if>
        <if test="ifInferad != null and ifInferad != ''"> and a.if_inferad = #{ifInferad, jdbcType=INTEGER}</if>
    </select>

    <insert id="batchInsert">
        insert into t_union_task_attr(
            union_id,
            instance_id,
            device_mete_id,
            device_custom_id,
            if_robot,
            if_video,
            if_inferad
        )values
        <foreach collection="list" item="TUnionTaskAttr" separator=",">
            (
                #{TUnionTaskAttr.unionId, jdbcType=VARCHAR},
                #{TUnionTaskAttr.instanceId, jdbcType=BIGINT},
                #{TUnionTaskAttr.deviceMeteId, jdbcType=BIGINT},
                #{TUnionTaskAttr.deviceCustomId, jdbcType=VARCHAR},
                #{TUnionTaskAttr.ifRobot, jdbcType=INTEGER},
                #{TUnionTaskAttr.ifVideo, jdbcType=INTEGER},
                #{TUnionTaskAttr.ifInferad, jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <!--联动信息-->
    <select id="linkageInformation" resultType="com.yjh.platform.module.task.entity.LinkageInformation">
        SELECT
            a.union_id,
            a.mete_id,
         j.dict_note as mete_kind_name,
            b.rule_id,
         b.rule_name,
            b.plan_id,
         b.camera_id,
         b.preset_id,
         d.plan_name,
         a.create_time,
         b.rule_content,
         h.device_name,
         k.mete_value
        FROM t_union_task a
        LEFT JOIN t_cfg_union_rule b on a.rule_id = b.rule_id
        LEFT JOIN t_cruise_plan d on d.plan_id = b.plan_id
        LEFT JOIN t_cfg_data_current k on k.mete_id = a.mete_id
        LEFT JOIN t_dict_business j on j.dict_code = k.mete_kind and j.col_name = "mete_kind"
        LEFT JOIN t_cfg_device h on h.device_id = k.device_id
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.union_id = #{taskId, jdbcType=VARCHAR}</if>
        limit 1
    </select>
    <!--根据instanceId查询设备相关信息-->
    <select id="selectDeviceInfo" resultType="com.yjh.platform.module.task.entity.LinkageMonitorData">
        SELECT
        a.task_id,
        a.instance_id,
        a.device_id,
        b.device_name,
        d.real_code,
        (CASE
        WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN ''
        WHEN ISNULL(n.mete_name) AND ISNULL(m.inspection_name) THEN k.preset_name
        WHEN ISNULL(n.mete_name) AND ISNULL(k.preset_name) THEN m.inspection_name
        WHEN ISNULL(m.inspection_name) AND ISNULL(k.preset_name) THEN n.mete_name
        WHEN ISNULL(m.inspection_name) THEN CONCAT(n.mete_name,'/',k.preset_name)
        WHEN ISNULL(k.preset_name) THEN CONCAT(n.mete_name,'/',m.inspection_name)
        END) AS instance_name
        FROM
        t_cruise_task_attr a
        LEFT JOIN t_std_device b on a.device_id = b.device_id and a.custom_id = b.custom_id
        LEFT JOIN t_std_device_attr d on d.device_id = a.device_id
        LEFT JOIN	t_cruise_point_instance l on l.instance_id = a.instance_id
        LEFT JOIN t_camera_preset k ON l.cruise_id = k.preset_id
        LEFT JOIN t_robot_inspection m ON m.inspection_id = l.cruise_id
        LEFT JOIN t_std_devicemete n ON n.device_mete_id = l.device_mete_id
        WHERE 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>

    </select>

    <!--根据taskId查询字典表-->
    <select id="selectTaskName" resultType="java.lang.String">
        SELECT
            a.task_name
        FROM t_cruise_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>
    <!--根据cruiseResult查询字典表-->
    <select id="selectCruiseResultName" resultType="java.lang.String">
        SELECT
            a.dict_note
        FROM t_dict_business a
        WHERE 1 = 1
        <if test="cruiseResult != null "> and a.dict_code = #{cruiseResult, jdbcType=INTEGER}</if>
        and a.col_name = "cruise_result"
    </select>

</mapper>
