<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.task.dao.TUnionTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.task.entity.TUnionTask">
        <id column="union_id" jdbcType="VARCHAR" property="unionId" />
        <result column="ruleId" jdbcType="BIGINT" property="ruleId" />
        <result column="union_name" jdbcType="VARCHAR" property="unionName" />
        <result column="rule_delay" jdbcType="INTEGER" property="ruleDelay" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="triggering_time" jdbcType="TIMESTAMP" property="triggeringTime" />
        <result column="ruleName" jdbcType="VARCHAR" property="ruleName" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="param_values" jdbcType="VARCHAR" property="paramValues" />
        <result column="is_finish" jdbcType="INTEGER" property="isFinish" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        union_id, rule_id, union_name, robot_id, rule_delay, remark1, triggering_time, rule_name, is_finish, start_time, create_time,param_values
    </sql>

    <sql id="General">
        a.union_id,a.rule_id,a.union_name,a.rule_delay,a.robot_id,a.mete_id,
        a.triggering_time,a.rule_name,a.is_finish,a.start_time,a.create_time,a.param_values,
        b.plan_id,b.rule_name,b.rule_type,b.rule_content,b.description,b.update_time,
        d.plan_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="unionId" parameterType="com.yjh.platform.module.task.entity.TUnionTask">
        insert into t_union_task(
            union_id,
            rule_id,
            union_name,
            robot_id,
            rule_delay,
            mete_id ,
            triggering_time,
            rule_name,
            is_finish,
            start_time,
            create_time,
            param_values,
            plan_name,
            rule_content
        )values(
                #{unionId, jdbcType=VARCHAR},
                #{ruleId, jdbcType=BIGINT},
                #{unionName, jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{ruleDelay, jdbcType=INTEGER},
                #{meteId, jdbcType=BIGINT},
                #{triggeringTime, jdbcType=TIMESTAMP},
                #{ruleName, jdbcType=VARCHAR},
                #{isFinish, jdbcType=INTEGER},
                #{startTime, jdbcType=TIMESTAMP},
                #{createTime, jdbcType=TIMESTAMP},
                #{paramValues, jdbcType=VARCHAR},
                #{planName, jdbcType=VARCHAR},
                #{ruleContent, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_union_task
                where union_id = #{unionId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.task.entity.TUnionTask">
        update t_union_task a <set>
        <if test="unionId != null">a.union_id = #{unionId},</if>
        <if test="ruleId != null ">a.rule_id = #{ruleId},</if>
        <if test="unionName != null">a.union_name = #{unionName},</if>
        <if test="robotId != null ">a.robot_id = #{robotId},</if>
        <if test="ruleDelay != null ">a.rule_delay = #{ruleDelay, jdbcType=INTEGER},</if>
        <if test="meteId != null ">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="triggeringTime != null ">a.triggering_time = #{triggeringTime, jdbcType=TIMESTAMP},</if>
        <if test="ruleName != null ">a.rule_name = #{ruleName},</if>
        <if test="isFinish != null ">a.is_finish = #{isFinish, jdbcType=INTEGER},</if>
        <if test="startTime != null">a.start_time = #{startTime},</if>
        <if test="createTime != null ">a.create_time = #{createTime},</if>
        <if test="paramValues != null">a.param_values = #{paramValues},</if>
        <if test="planName != null">a.param_values = #{planName},</if>
        <if test="ruleContent != null">a.param_values = #{ruleContent},</if>
    </set>
        where a.union_id = #{unionId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.robot_id,
        a.rule_delay,
        a.mete_id,
        a.triggering_time,
        a.rule_name,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values,
        a.plan_name,
        a.rule_content
        from t_union_task a
        where 1 = 1
            and a.union_id = #{unionId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.rule_delay,
        a.robot_id,
        a.mete_id,
        a.triggering_time,
        a.rule_name,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values,
        a.plan_name,
        a.rule_content
        from t_union_task a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
        <if test="unionName != null and unionName != ''"> and a.union_name = #{unionName, jdbcType=VARCHAR}</if>
        <if test="ruleDelay != null "> and a.rule_delay = #{ruleDelay, ruleDelay=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="meteId != null "> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="triggeringTime != null "> and a.triggering_time = #{triggeringTime, jdbcType=TIMESTAMP}</if>
        <if test="ruleName != null and ruleName != ''"> and a.rule_name = #{ruleName, jdbcType=VARCHAR}</if>
        <if test="isFinish != null "> and a.is_finish = #{isFinish, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=VARCHAR}</if>
        <if test="paramValues != null and paramValues != ''"> and a.param_values = #{paramValues, jdbcType=TIMESTAMP}</if>
        <if test="planName != null and planName != ''"> and a.plan_name = #{planName, jdbcType=VARCHAR}</if>
        <if test="ruleContent != null and ruleContent != ''"> and a.rule_content = #{ruleContent, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTask">
        select
        a.union_id,
        a.rule_id,
        a.union_name,
        a.rule_delay,
        a.robot_id,
        a.mete_id,
        a.triggering_time,
        a.rule_name,
        a.is_finish,
        a.start_time,
        a.create_time,
        a.param_values,
        a.plan_name,
        a.rule_content
        from t_union_task a
        where 1 = 1
        <if test="unionId != null and unionId != ''"> and a.union_id = #{unionId, jdbcType=VARCHAR}</if>
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
        <if test="unionName != null and unionName != ''"> and a.union_name = #{unionName, jdbcType=VARCHAR}</if>
        <if test="ruleDelay != null "> and a.rule_delay = #{ruleDelay, ruleDelay=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="meteId != null "> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="triggeringTime != null "> and a.triggering_time = #{triggeringTime, jdbcType=TIMESTAMP}</if>
        <if test="mete_id != null "> and a.mete_id = #{meteId, jdbcType=BIGINT}</if>
        <if test="ruleName != null and ruleName != ''"> and a.rule_name = #{ruleName, jdbcType=VARCHAR}</if>
        <if test="isFinish != null "> and a.is_finish = #{isFinish, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=VARCHAR}</if>
        <if test="paramValues != null and paramValues != ''"> and a.param_values = #{paramValues, jdbcType=TIMESTAMP}</if>
        <if test="planName != null and planName != ''"> and a.plan_name = #{planName, jdbcType=VARCHAR}</if>
        <if test="ruleContent != null and ruleContent != ''"> and a.rule_content = #{ruleContent, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_union_task(
        union_id,
        rule_id,
        union_name,
        rule_delay,
        robot_id,
        mete_id,
        triggering_time,
        rule_name,
        is_finish,
        start_time,
        create_time,
        param_values,
        plan_name,
        rule_content
        )values
        <foreach collection="list" item="TUnionTask" separator=",">
            (
            #{TUnionTask.unionId, jdbcType=VARCHAR},
            #{TUnionTask.ruleId, jdbcType=BIGINT},
            #{TUnionTask.unionName, jdbcType=VARCHAR},
            #{TUnionTask.ruleDelay, jdbcType=INTEGER},
            #{TUnionTask.robotId, jdbcType=BIGINT},
            #{TUnionTask.meteId, jdbcType=BIGINT},
            #{TUnionTask.triggeringTime, jdbcType=TIMESTAMP},
            #{TUnionTask.ruleName, jdbcType=VARCHAR},
            #{TUnionTask.isFinish, jdbcType=INTEGER},
            #{TUnionTask.startTime, jdbcType=TIMESTAMP},
            #{TUnionTask.createTime, jdbcType=TIMESTAMP},
            #{TUnionTask.paramValues, jdbcType=VARCHAR},
            #{TUnionTask.planName, jdbcType=VARCHAR},
            #{TUnionTask.ruleContent, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectHistory" parameterType="com.yjh.platform.module.task.entity.TUnionTask" resultType="com.yjh.platform.module.task.entity.TUnionTaskExpand">
        select
        a.union_id,
        a.rule_name,
        a.is_finish,
        a.triggering_time as create_time,
        a.param_values,
        a.plan_name,
        a.rule_content
        from t_union_task a
        where 1 = 1
        <if test="ruleName != null and ruleName != ''"> and a.rule_name like concat('%',#{ruleName, jdbcType=VARCHAR},'%')</if>
        <if test="startDateTemp != '' and endDateTemp != ''"> and a.triggering_time
            between #{startDateTemp, jdbcType=TIMESTAMP} and #{endDateTemp,jdbcType=TIMESTAMP}
        </if>
        order by create_time DESC
    </select>

    <select id="getHistoryByWeek"  resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (
        SELECT
        curdate( ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 1 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 2 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 3 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 4 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 5 DAY ) AS timeNode UNION ALL
        SELECT
        date_sub( curdate( ), INTERVAL 6 DAY ) AS timeNode
        ) a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_union_task
        WHERE
        DATEDIFF( now( ), start_time ) &lt;= 7
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="getHistoryByYear"  resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        select
        a.month as timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
         (        SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 6 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 7 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 8 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 9 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 10 MONTH), '%Y-%m') AS `month`
                UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 11 MONTH), '%Y-%m') AS `month` )a
        LEFT JOIN
        (SELECT
          DATE_FORMAT(start_time,'%Y-%m') timeNode,
          count(union_id) as count
        FROM
          t_union_task
        GROUP BY
            DATE_FORMAT(start_time,'%Y-%m')) b
         on a.month = b.timeNode
         order by timeNode
    </select>
    <select id="getHistoryByMonth" resultType="com.yjh.platform.module.task.entity.WarnStatistical">
        SELECT
        a.timeNode,
        ifnull( b.count, 0 ) AS count
        FROM
        (SELECT DATE_FORMAT(DATE_SUB(NOW(), INTERVAL ac-1 DAY), '%Y-%m-%d') as timeNode
        FROM (
                        SELECT @ai:=@ai+1 as ac from
                        (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) ac1,
                        (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 UNION SELECT 6) ac2,
                        (SELECT @ai:=0) xc0
        ) c )a
        LEFT JOIN (
        SELECT
        DATE(start_time) date,
        start_time,
        count( 1 ) AS count
        FROM
        t_union_task
        WHERE
        DATEDIFF( now( ), start_time ) &lt;= 31
        GROUP BY
        date
        ) b ON a.timeNode = b.date
        order by a.timeNode
    </select>

    <select id="selectUnionDetail" resultType="com.yjh.platform.module.task.entity.TUnionTaskDetail">
        SELECT
        a.rule_id,
        b.plan_id,
        d.instance_id,
        d.device_mete_id,
        d.custom_id as device_custom_id,
        d.cruise_type,
        e.dict_note as cruise_type_name
        from t_cfg_union_rule a left JOIN u_patrol_plan_attr b on a.plan_id = b.plan_id
        LEFT JOIN t_cruise_point_instance d on b.instance_id = d.instance_id
        LEFT JOIN t_dict_business e on e.dict_code = d.cruise_type
        where 1 = 1
        <if test="ruleId != null and ruleId != ''"> and a.rule_id = #{ruleId, jdbcType=BIGINT}</if>
    </select>

    <insert id="insertRecordDetail">
        insert into t_union_task_attr(
        union_id,
        instance_id,
        device_mete_id,
        device_custom_id,
        if_robot,
        if_video,
        if_inferad
        )values
        <foreach collection="tUnionTaskAttrList" item="TUnionTaskArr" separator=",">
            (
            #{TUnionTaskArr.unionId, jdbcType=VARCHAR},
            #{TUnionTaskArr.instance_id, jdbcType=BIGINT},
            #{TUnionTaskArr.device_mete_id, jdbcType=BIGINT},
            #{TUnionTaskArr.device_custom_id, jdbcType=BIGINT},
            #{TUnionTaskArr.if_robot, jdbcType=INTEGER},
            #{TUnionTaskArr.if_video, jdbcType=INTEGER},
            #{TUnionTaskArr.if_inferad, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

</mapper>
