<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.UPatrolTaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.patrol.entity.UPatrolTask">
        <id column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="plan_id" jdbcType="BIGINT" property="planId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="task_type" jdbcType="INTEGER" property="taskType" />
        <result column="execute_type" jdbcType="INTEGER" property="executeType" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="date_type" jdbcType="VARCHAR" property="dateType" />
        <result column="task_source" jdbcType="INTEGER" property="taskSource" />
        <result column="task_level" jdbcType="INTEGER" property="taskLevel" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, task_code, task_name, plan_id, area_id, task_type, execute_type, robot_id, date_type, task_source, task_level, start_time, create_time, end_time, create_user_id
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        insert into u_patrol_task(
            task_id,
            task_code,
            task_name,
            plan_id,
            area_id,
            task_type,
            execute_type,
            robot_id,
            date_type,
            task_source,
            task_level,
            start_time,
            create_time,
            end_time,
            create_user_id
        )values(
                #{taskId, jdbcType=VARCHAR},
                #{taskCode, jdbcType=VARCHAR},
                #{taskName, jdbcType=VARCHAR},
                #{planId, jdbcType=BIGINT},
                #{areaId, jdbcType=VARCHAR},
                #{taskType, jdbcType=INTEGER},
                #{executeType, jdbcType=INTEGER},
                #{robotId, jdbcType=BIGINT},
                #{dateType, jdbcType=VARCHAR},
                #{taskSource, jdbcType=INTEGER},
                #{taskLevel, jdbcType=INTEGER},
                #{startTime, jdbcType=TIMESTAMP},
                #{createTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP},
                #{createUserId, jdbcType=BIGINT}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from u_patrol_task
                where task_id = #{taskId, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteInitByPrimaryId" parameterType="java.lang.String">
        delete task,result from u_patrol_task task,u_patrol_result result
        WHERE
	task.task_code = #{taskId}
	AND result.task_state = 238 and task.task_id = result.task_id
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        update u_patrol_task a <set>
        <if test="taskCode != null and taskCode != ''">a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="taskName != null and taskName != ''">a.task_name = #{taskName, jdbcType=VARCHAR},</if>
        <if test="planId != null">a.plan_id = #{planId, jdbcType=BIGINT},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="taskType != null">a.task_type = #{taskType, jdbcType=INTEGER},</if>
        <if test="executeType != null">a.execute_type = #{executeType, jdbcType=INTEGER},</if>
        <if test="robotId != null">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="dateType != null and dateType != ''">a.date_type = #{dateType, jdbcType=VARCHAR},</if>
        <if test="taskSource != null">a.task_source = #{taskSource, jdbcType=INTEGER},</if>
        <if test="taskLevel != null">a.task_level = #{taskLevel, jdbcType=INTEGER},</if>
        <if test="createUserId != null">a.create_user_id = #{createUserId, jdbcType=BIGINT},</if>
    </set>
            where a.task_id = #{taskId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.task_type,
        a.execute_type,
        a.robot_id,
        a.date_type,
        a.task_source,
        a.task_level,
        a.start_time,
        a.create_time,
        a.end_time,
        a.create_user_id
        from u_patrol_task a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="selectThisTaskByTaskCode" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        select
            *
        from u_patrol_task a
        where 1 = 1
        and a.task_code = #{taskCode}
        order by create_time desc
            limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTask" resultType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.task_type,
        a.execute_type,
        a.robot_id,
        a.date_type,
        a.task_source,
        a.task_level,
        a.start_time,
        a.create_time,
        a.end_time,
        a.create_user_id
        from u_patrol_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskCode != null and taskCode != ''"> and a.task_code = #{taskCode, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="taskType != null and taskType != ''"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="executeType != null and executeType != ''"> and a.execute_type = #{executeType, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskSource != null and taskSource != ''"> and a.task_source = #{taskSource, jdbcType=INTEGER}</if>
        <if test="taskLevel != null and taskLevel != ''"> and a.task_level = #{taskLevel, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="endTime != null and endTime != ''"> and a.end_time = #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="createUserId != null and createUserId != ''"> and a.create_user_id = #{createUserId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTask" resultType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        select
        a.task_id,
        a.task_code,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.task_type,
        a.execute_type,
        a.robot_id,
        a.date_type,
        a.task_source,
        a.task_level,
        a.start_time,
        a.create_time,
        a.end_time,
        a.create_user_id
        from u_patrol_task a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="taskCode != null and taskCode != ''"> and a.task_code = #{taskCode, jdbcType=VARCHAR}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name = #{taskName, jdbcType=VARCHAR}</if>
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="taskType != null and taskType != ''"> and a.task_type = #{taskType, jdbcType=INTEGER}</if>
        <if test="executeType != null and executeType != ''"> and a.execute_type = #{executeType, jdbcType=INTEGER}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="dateType != null and dateType != ''"> and a.date_type = #{dateType, jdbcType=VARCHAR}</if>
        <if test="taskSource != null and taskSource != ''"> and a.task_source = #{taskSource, jdbcType=INTEGER}</if>
        <if test="taskLevel != null and taskLevel != ''"> and a.task_level = #{taskLevel, jdbcType=INTEGER}</if>
        <if test="startTime != null and startTime != ''"> and a.start_time = #{startTime, jdbcType=TIMESTAMP}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="endTime != null and endTime != ''"> and a.end_time = #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="createUserId != null and createUserId != ''"> and a.create_user_id = #{createUserId, jdbcType=BIGINT}</if>
    </select>

    <insert id="batchAdd">
        insert into u_patrol_task(
            task_id,
            task_code,
            task_name,
            plan_id,
            area_id,
            task_type,
            execute_type,
            robot_id,
            date_type,
            task_source,
            task_level,
            start_time,
            create_time,
            end_time,
            create_user_id
        )values
        <foreach collection="list" item="UPatrolTask" separator=",">
            (
                #{UPatrolTask.taskId, jdbcType=VARCHAR},
                #{UPatrolTask.taskCode, jdbcType=VARCHAR},
                #{UPatrolTask.taskName, jdbcType=VARCHAR},
                #{UPatrolTask.planId, jdbcType=BIGINT},
                #{UPatrolTask.areaId, jdbcType=VARCHAR},
                #{UPatrolTask.taskType, jdbcType=INTEGER},
                #{UPatrolTask.executeType, jdbcType=INTEGER},
                #{UPatrolTask.robotId, jdbcType=BIGINT},
                #{UPatrolTask.dateType, jdbcType=VARCHAR},
                #{UPatrolTask.taskSource, jdbcType=INTEGER},
                #{UPatrolTask.taskLevel, jdbcType=INTEGER},
                #{UPatrolTask.startTime, jdbcType=TIMESTAMP},
                #{UPatrolTask.createTime, jdbcType=TIMESTAMP},
                #{UPatrolTask.endTime, jdbcType=TIMESTAMP},
                #{UPatrolTask.createUserId, jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from u_patrol_task
        where task_id in (
            <foreach collection="list" item="taskId" separator=",">
                #{taskId, jdbcType=VARCHAR}
            </foreach>
            )
    </delete>


    <select id="selectPlanRunningTask" resultType="java.lang.String">
        select
            distinct
            result.task_id
        from u_patrol_result result
                 left join u_patrol_task task on task.task_id = result.task_id
        where result.task_state = 239  and task.task_level &lt; #{taskLevel}
    </select>

    <select id="selectInsByTask" resultType="java.lang.Long">
        select instance_id from u_patrol_task_attr where task_id = #{taskId}
    </select>

    <select id="countInstance" resultType="java.lang.Integer">
        select
            count(1) as count
        FROM
            u_patrol_task_attr
        WHERE
            task_id = #{taskId,jdbcType = VARCHAR}
    </select>

    <select id="selectForTaskId" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolResult">
        select
            a.task_id,
            a.task_code,
            a.task_name,
            a.area_id,
            a.task_type,
            a.execute_type,
            a.robot_id,
            a.task_source,
            a.task_level,
            a.task_state,
            a.modify_state,
            a.task_count,
            a.task_wait,
            a.check_user,
            a.check_date,
            a.weather,
            a.create_time,
            a.end_time,
            a.execute_time,
            a.is_review,
            a.task_abnormal,
            a.cruise_result,
            a.remark
        from u_patrol_result a
        where 1 = 1
          and a.task_id = #{taskId, jdbcType=VARCHAR}
    </select>

    <select id="taskCount" parameterType="java.util.Date" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select
            a.task_id,
            a.task_name,
            a.plan_id,
            a.area_id,
            (
                CASE
                    WHEN d.task_state=238 THEN -1
                    WHEN d.task_state=239 THEN -1
                    WHEN d.task_state=240 THEN 1
                    WHEN d.task_state=241 THEN -1
                    WHEN d.task_state=242 THEN 0
                    WHEN d.task_state=243 THEN 0
                    WHEN d.task_state=244 THEN 0
                    WHEN ISNULL(d.task_state) THEN -1
                    END
                ) AS task_status,
            d.task_state AS task_state,
            e.dict_note AS taskStateName,
            b.dict_note AS plan_type_name,
            a.execute_type AS ifRun,
            c.dict_note AS type_name,
            (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
            a.robot_id,
            a.date_type,
            a.task_type,
            DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
            DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
            DATE_FORMAT(d.execute_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from u_patrol_task a
                 LEFT JOIN t_dict_business b ON a.task_type = b.dict_code AND b.col_name = "plan_type"
                 LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
                 LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
                 LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
        where a.execute_type = 173 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        UNION ALL (
            select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                (
                    CASE
                        WHEN d.task_state=238 THEN -1
                        WHEN d.task_state=239 THEN -1
                        WHEN d.task_state=240 THEN 1
                        WHEN d.task_state=241 THEN -1
                        WHEN d.task_state=242 THEN 0
                        WHEN d.task_state=243 THEN 0
                        WHEN d.task_state=244 THEN 0
                        WHEN ISNULL(d.task_state) THEN -1
                        END
                    ) AS task_status,
                d.task_state AS task_state,
                e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.execute_type AS ifRun,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
                DATE_FORMAT(d.execute_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from u_patrol_task a
                     LEFT JOIN t_dict_business b ON a.task_type = b.dict_code AND b.col_name = "plan_type"
                     LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
                     LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
                     LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
            where a.execute_type = 174 AND a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} AND a.start_time &lt;= #{endTime, jdbcType=TIMESTAMP}
        )
        UNION ALL (
            select
                a.task_id,
                a.task_name,
                a.plan_id,
                a.area_id,
                (
                    CASE
                        WHEN d.task_state=238 THEN -1
                        WHEN d.task_state=239 THEN -1
                        WHEN d.task_state=240 THEN 1
                        WHEN d.task_state=241 THEN -1
                        WHEN d.task_state=242 THEN 0
                        WHEN d.task_state=243 THEN 0
                        WHEN d.task_state=244 THEN 0
                        WHEN ISNULL(d.task_state) THEN -1
                        END
                    ) AS task_status,
                d.task_state AS task_state,
                e.dict_note AS taskStateName,
                b.dict_note AS plan_type_name,
                a.execute_type AS ifRun,
                c.dict_note AS type_name,
                (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
                a.robot_id,
                a.date_type,
                a.task_type,
                DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
                DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
                DATE_FORMAT(d.execute_time ,'%Y-%m-%d %H:%i:%s') AS create_time
            from u_patrol_task a
                     LEFT JOIN t_dict_business b ON a.execute_type = b.dict_code AND b.col_name = "plan_type"
                     LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
                     LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
                     LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
            where a.execute_type = 172
        );
    </select>

    <select id="selectPointStatus" parameterType="java.lang.String" resultType="com.yjh.platform.module.task.entity.TCruiseTaskList">
        SELECT
               a.task_id,
               a.task_name,
               b.*,
               c.device_name,
               c.custom_name,
               a.start_time,
               a.if_run,
               e.personcheck,
               e.identify_state
        FROM u_patrol_task a
        LEFT JOIN u_patrol_task_attr b ON a.task_id = b.task_id
        LEFT JOIN t_std_device c ON b.device_id = c.device_id
        LEFT JOIN u_patrol_data_result e ON a.task_id = e.task__id
        WHERE a.task_id = #{taskId, jdbcType=VARCHAR}
    </select>

    <select id="afterTaskCount" parameterType="java.util.HashMap" resultType="com.yjh.platform.module.task.entity.TCruiseTaskCount">
        select *from (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.task_state=238 THEN -1
        WHEN d.task_state=239 THEN -1
        WHEN d.task_state=240 THEN 1
        WHEN d.task_state=241 THEN -1
        WHEN d.task_state=242 THEN 0
        WHEN d.task_state=243 THEN 0
        WHEN d.task_state=244 THEN 0
        WHEN ISNULL(d.task_state) THEN -1
        END
        ) AS task_status,
        d.task_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.execute_type as ifRun,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
        DATE_FORMAT(d.execute_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from u_patrol_task a
        LEFT JOIN t_dict_business b ON a.task_type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
        where a.execute_type = 173
        <if test="startTime != null and endTime != null"> and a.start_time &gt;= #{startTime, jdbcType=TIMESTAMP} &lt;= #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.task_state=238 THEN -1
        WHEN d.task_state=239 THEN -1
        WHEN d.task_state=240 THEN 1
        WHEN d.task_state=241 THEN -1
        WHEN d.task_state=242 THEN 0
        WHEN d.task_state=243 THEN 0
        WHEN d.task_state=244 THEN 0
        WHEN ISNULL(d.task_state) THEN -1
        END
        ) AS task_status,
        d.task_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.execute_type as ifRun,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
        DATE_FORMAT(d.execute_time ,'%Y-%m-%d %H:%i:%s') AS create_time
        from u_patrol_task a
        LEFT JOIN t_dict_business b ON a.task_type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
        where a.execute_type = 174
        <if test="startTime != null and endTime != null"> and a.start_time BETWEEN #{startTime, jdbcType=TIMESTAMP} AND #{endTime, jdbcType=TIMESTAMP}</if>
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        )
        UNION ALL (
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        (
        CASE
        WHEN d.task_state=238 THEN -1
        WHEN d.task_state=239 THEN -1
        WHEN d.task_state=240 THEN 1
        WHEN d.task_state=241 THEN -1
        WHEN d.task_state=242 THEN 0
        WHEN d.task_state=243 THEN 0
        WHEN d.task_state=244 THEN 0
        WHEN ISNULL(d.task_state) THEN -1
        END
        ) AS task_status,
        d.task_state AS task_state,
        e.dict_note AS taskStateName,
        b.dict_note AS plan_type_name,
        a.execute_type as ifRun,
        c.dict_note AS type_name,
        (SELECT COUNT(*) FROM u_patrol_task_attr c WHERE a.task_code = c.task_id) AS total,
        a.robot_id,
        a.date_type,
        a.task_type,
        DATE_FORMAT(if(d.execute_time is null,a.start_time,d.execute_time),'%Y-%m-%d %H:%i:%s') AS start_time,
        DATE_FORMAT(a.end_time ,'%Y-%m-%d %H:%i:%s') AS end_time,
        DATE_FORMAT(d.execute_time,'%Y-%m-%d %H:%i:%s') AS create_time
        from u_patrol_task a
        LEFT JOIN t_dict_business b ON a.task_type = b.dict_code AND b.col_name = "plan_type"
        LEFT JOIN t_dict_business c ON a.execute_type = c.dict_code AND c.col_name = "if_run"
        LEFT JOIN u_patrol_result d ON a.task_id = d.task_id
        LEFT JOIN t_dict_business e ON e.dict_code = d.task_state AND e.col_name = "task_state"
        where a.execute_type = 172
        <if test="taskName != null and taskName != ''"> and a.task_name like CONCAT('%',#{taskName, jdbcType=VARCHAR}, '%') </if>
        ) ) h order by h.start_time desc;
    </select>

    <select id="selectTaskByRobotTaskCode" resultType="java.lang.String">
        select
            task_id
        from u_patrol_task
        where task_code = #{taskCode}
        order by create_time desc
        limit 1
    </select>

    <select id="selectIsAlarmByTask" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_warn_info a
        WHERE a.task_id = #{taskId} AND a.instance_id = #{instanceId}
    </select>

    <update id="updatePicPath" >
        UPDATE t_warn_info a
        <set>
            a.image_path = #{imagePath, jdbcType=TIMESTAMP}
        </set>
        WHERE
        a.task_id = #{taskId, jdbcType=VARCHAR}
        AND a.instance_id = #{instanceId}
    </update>

    <select id="selectIsWarnByTaskId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_warn_info a where 1 = 1
        <if test="instanceId != null ">and a.instance_id = #{instanceId,jdbcType=BIGINT}</if>
        <if test="taskId != null and taskId != ''">and a.task_id = #{taskId,jdbcType=VARCHAR}</if>
        limit 1
    </select>

    <update id="updateIsWarnByCruiseDataId" parameterType="java.lang.String">
        UPDATE u_patrol_data_result a <set>
        a.is_warn = 1,
        a.cruise_result  = 247,
        a.cruise_abnormal = 250
    </set>
        WHERE
        a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </update>
    <update id="updateTaskPriorityConfig">
        update t_task_priority_config
        set execute_level = #{level, jdbcType=INTEGER}
        where prioritized_task_type = #{type, jdbcType=INTEGER}
    </update>

    <select id="selectDeviceMeteInfo"  parameterType="java.lang.Long" resultType="com.yjh.platform.module.patrol.entity.TStdDeviceMete">
        select
            a.device_mete_id,
            a.device_id,
            a.custom_id,
            a.mete_id,
            a.mete_kind,
            a.mete_type,
            a.mete_name,
            a.device_type,
            a.position_type,
            a.unit,
            a.alarm_note,
            a.alarm_type,
            a.up_effect,
            a.down_effect,
            a.state_zero,
            a.state_one,
            a.alarm_state,
            a.alarm_level,
            a.high_limit1,
            a.low_limit1,
            a.high_limit2,
            a.low_limit2,
            a.high_limit3,
            a.low_limit3,
            a.high_limit4,
            a.low_limit4,
            a.alarm_delay,
            a.alarm_cnt,
            a.threshold_abs,
            a.threshold_per,
            a.modulus,
            a.remark
        from t_cruise_point_instance b left join t_std_devicemete a
                                                 on b.device_mete_id=a.device_mete_id
        where b.instance_id=#{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectDictCodeByNote" resultType="java.lang.String">
        SELECT
        a.dict_code
        FROM
        t_dict_business a
        WHERE 1 = 1
        <if test="dictNote != null "> and a.dict_note = #{dictNote, jdbcType=VARCHAR}</if>
        <if test="colName != null "> and a.col_name = #{colName, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectRobotInfoByCode" resultType="com.yjh.platform.module.user.entity.TRobotInfo">
        select
            a.robot_id,
            a.robot_code,
            a.robot_num,
            a.robot_name,
            a.nest_code,
            a.nest_name,
            a.robot_status,
            a.robot_type,
            a.drone_type,
            a.robot_ip,
            a.robot_port,
            a.light_ip,
            a.light_port,
            a.identity_manager,
            a.identity_code,
            a.lnferad_IP,
            a.Inferad_Port,
            a.Inferad_username,
            a.Inferad_password,
            a.phote_path,
            a.create_by,
            a.create_date,
            a.update_by,
            a.update_date,
            a.robot_factory,
            a.made_in,
            a.made_date,
            a.is_use,
            a.commission_date,
            a.up_region_id,
            a.robot_position,
            a.drone_position,
            a.robot_source,
            a.address,
            a.building_user,
            a.appearance_number,
            a.defect_record,
            a.repair_record,
            a.exit_putInto_record,
            a.remarks,
            a.record_id,
            a.channel_num_light,
            a.channel_num_inferad
        from t_robot_info a
        where 1 = 1
          and a.robot_code = #{robotCode, jdbcType=VARCHAR}
    </select>

    <select id="selectForTask" parameterType="java.lang.Long" resultType="com.yjh.platform.module.patrol.entity.TCruisePointInstanceDetail">
        SELECT
        a.instance_id,
        a.device_mete_id,
        b.analyse_type,
        b.is_ai,
        b.is_judge
        FROM
        t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        left join (select distinct device_id,device_name from t_std_device) f on a.device_id = f.device_id
        where 1 = 1
        <if test="instanceId != null ">and a.instance_id = #{instanceId,jdbcType=BIGINT}</if>
    </select>

    <select id="selectDeviceMete" resultType="com.yjh.platform.module.patrol.entity.TStdDeviceMete">
        select *
        from t_std_devicemete
        where device_mete_id = #{deviceMeteId,jdbcType=BIGINT}
    </select>

    <select id="selectInstanceForTaskGoOn" parameterType="java.lang.String" resultType="java.lang.Long">
        select b.instance_id
        from u_patrol_result a,u_patrol_data_result b
        where a.task_id = b.task_id
          AND a.task_id = #{taskId,jdbcType=VARCHAR}
          and b.cruise_status = 252
    </select>

    <insert id="batchInsertUPatrolDataResult">
        insert into u_patrol_data_result(
        cruise_data_id,
        task_id,
        device_id,
        device_name,
        instance_id,
        instance_name,
        cruise_id,
        cruise_name,
        cruise_time,
        cruise_status,
        cruise_type,
        result_desc,
        result_num,
        modify_num,
        picpath,
        confirm_pic_path,
        pic_path_anl,
        person_check,
        origpic,
        orig_confirm_pic_path,
        orig_pic_anl,
        cruise_abnormal,
        evaluation_state,
        identify_state,
        identify_result,
        createtime,
        remark,
        check_user,
        check_date,
        is_warn,
        cruise_result,
        fir_name,
        fir_date,
        result_pic,
        points,
        voice_path
        )values
        <foreach collection="list" item="TCruiseDataResult" separator=",">
            (
            #{TCruiseDataResult.cruiseDataId, jdbcType=BIGINT},
            #{TCruiseDataResult.taskId, jdbcType=VARCHAR},
            #{TCruiseDataResult.deviceId, jdbcType=BIGINT},
            #{TCruiseDataResult.deviceName, jdbcType=VARCHAR},
            #{TCruiseDataResult.instanceId, jdbcType=BIGINT},
            #{TCruiseDataResult.instanceName, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseId, jdbcType=BIGINT},
            #{TCruiseDataResult.cruiseName, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseTime, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.cruiseStatus, jdbcType=INTEGER},
            #{TCruiseDataResult.cruiseType, jdbcType=INTEGER},
            #{TCruiseDataResult.resultDesc, jdbcType=VARCHAR},
            #{TCruiseDataResult.resultNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.modifyNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.picpath, jdbcType=VARCHAR},
            #{TCruiseDataResult.confirmPicPath, jdbcType=VARCHAR},
            #{TCruiseDataResult.picPathAnl, jdbcType=VARCHAR},
            #{TCruiseDataResult.personCheck, jdbcType=VARCHAR},
            #{TCruiseDataResult.origpic, jdbcType=VARCHAR},
            #{TCruiseDataResult.origConfirmPicPath, jdbcType=VARCHAR},
            #{TCruiseDataResult.origPicAnl, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseAbnormal, jdbcType=INTEGER},
            #{TCruiseDataResult.evaluationState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyResult, jdbcType=INTEGER},
            #{TCruiseDataResult.createtime, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.remark, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkUser, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkDate, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.isWarn, jdbcType=INTEGER},
            #{TCruiseDataResult.cruiseResult, jdbcType=INTEGER},
            #{TCruiseDataResult.firName, jdbcType=VARCHAR},
            #{TCruiseDataResult.firDate, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.resultPic, jdbcType=VARCHAR},
            #{TCruiseDataResult.points, jdbcType=VARCHAR},
            #{TCruiseDataResult.voicePath, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectTaskByTaskCode" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolTask">
        select
            a.task_id,
            a.task_code,
            a.task_name,
            a.plan_id,
            a.area_id,
            a.task_type,
            a.execute_type,
            a.robot_id,
            a.date_type,
            a.task_source,
            a.task_level,
            a.start_time,
            a.create_time,
            a.end_time,
            a.create_user_id
        from u_patrol_task a
        where a.task_code = #{taskCode, jdbcType=VARCHAR}
        order by a.create_time asc
        limit 1
    </select>

    <select id="selectTaskCodeByTaskId" resultType="java.lang.String">
        SELECT
            a.task_code
        FROM
            u_patrol_task a,u_patrol_result b
        WHERE a.task_id = b.task_id
          and a.task_id = #{taskId, jdbcType=VARCHAR}
        ORDER BY b.execute_time desc
            LIMIT 1
    </select>

    <select id="selectForSequenceInfoByMeteId" resultType="java.util.Map">
        SELECT
            c.sort,
            a.cfg_device_id as cfgDeviceId,
            g.device_name as deviceName,
            IFNULL(b.record_time,"") as recordTime,
            IFNULL(b.mete_value,"") as state,
            a.camera_id as cameraId,
            f.camera_name as cameraName,
            a.preset_id as presetId,
            e.preset_name as presetName,
            h.instance_id as instanceId,
            i.analyse_type as analyseType
        FROM t_sequential_conf a
                 left join t_cfg_data_current b on a.cfg_device_id = b.mete_id
                 left join (SELECT CAST((@i:=@i+1) AS SIGNED) as sort,x.cfg_device_id FROM t_sequential_conf x,(Select @i:=-1) z) c on a.cfg_device_id = c.cfg_device_id
                 left join t_camera_preset e on a.preset_id = e.preset_id
                 left join t_camera_info f on a.camera_id = f.camera_id
                 left join t_cfg_device g on a.cfg_device_id = g.device_id
                 left join t_cruise_point_instance h on h.cruise_id = a.preset_id
                 left join t_std_devicemete i on i.device_mete_id = h.device_mete_id
        where 1=1
          and a.cfg_device_id in(
            SELECT
                cfgMete.mete_id
            from
                t_cfg_mete mete
                    left join t_cfg_mete cfgMete on mete.mete_code = cfgMete.mete_code
            where mete.mete_id =#{cfgDeviceId, jdbcType=VARCHAR}
        )
    </select>


    <select id="selectRobotTaskOnStart" resultType="java.lang.String">
        SELECT DISTINCT
            d.task_id
        FROM
            t_robot_inspection a,
            t_cruise_point_instance b,
            u_patrol_task_attr c,
            u_patrol_result d
        WHERE
            a.robot_id = #{robotId,jdbcType=BIGINT}
          AND a.inspection_id = b.cruise_id
          AND b.instance_id = c.instance_id
          AND c.task_id = d.task_id
          AND (
                    d.task_state = 239
                OR d.task_state = 241
            )
          AND d.task_type != 508 AND d.task_type != 509 AND d.task_type != 456
        ORDER BY d.create_time DESC
            LIMIT 1
    </select>

    <select id="selectRobotTaskInstanceList" resultType="java.lang.String">
        SELECT DISTINCT
        c.instance_id
        FROM
        u_patrol_task_attr b , t_cruise_point_instance c ,t_robot_inspection d ,t_robot_info e
        where 1=1
        and b.instance_id = c.instance_id
        and c.cruise_id = d.inspection_id and d.robot_id = e.robot_id
        <if test="taskId != null and taskId != ''"> and b.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectRobotIsRunning" resultType="java.lang.String">
        SELECT DISTINCT
        e.robot_code
        FROM
        u_patrol_task_attr b , t_cruise_point_instance c ,t_robot_inspection d ,t_robot_info e
        where 1=1
        and b.instance_id = c.instance_id
        and c.cruise_id = d.inspection_id and d.robot_id = e.robot_id
        <if test="taskId != null and taskId != ''"> and b.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>


    <select id="selectRobotOrDroneInsByTaskId" resultType="java.lang.Long">
        SELECT
            ins.cruise_id
        FROM
            u_patrol_task_attr attr
                LEFT JOIN t_cruise_point_instance ins ON ins.instance_id = attr.instance_id
                AND attr.task_id = #{taskId}
        WHERE
        ins.edge_code IS NULL
        AND ins.cruise_type = 228
        OR ins.cruise_type = 524
    </select>

    <select id="selectInstanceIdByTaskId" resultType="java.lang.Long">
        SELECT
            attr.instance_id
        FROM
            u_patrol_task_attr attr
                LEFT JOIN t_cruise_point_instance ins ON ins.instance_id = attr.instance_id
                AND attr.task_id = #{taskId}
        WHERE
        ins.edge_code IS NULL
        AND ins.cruise_type = 228
        OR ins.cruise_type = 524
    </select>

    <select id="selectTaskPriorityConfigList" resultType="java.util.Map">
        SELECT
        a.prioritized_task_type AS type,
        a.execute_level AS LEVEL,
        b.dict_note AS NAME
        FROM
        t_task_priority_config a
        LEFT JOIN t_dict_business b ON a.prioritized_task_type = b.dict_code
        WHERE
        b.col_name = "prioritized_task_type"
    </select>
</mapper>
