<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.UPatrolTaskAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        <id column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="point_task_id" jdbcType="VARCHAR" property="pointTaskId" />
        <result column="if_robot" jdbcType="INTEGER" property="ifRobot" />
        <result column="if_video" jdbcType="INTEGER" property="ifVideo" />
        <result column="if_inferad" jdbcType="INTEGER" property="ifInferad" />
        <result column="if_artificial" jdbcType="INTEGER" property="ifArtificial" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, instance_id, device_mete_id, device_id, custom_id, point_task_id, if_robot, if_video, if_inferad, if_artificial
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        insert into u_patrol_task_attr(
            task_id,
            instance_id,
            device_mete_id,
            device_id,
            custom_id,
            point_task_id,
            if_robot,
            if_video,
            if_inferad,
            if_artificial
        )values(
                #{taskId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{customId, jdbcType=VARCHAR},
                #{pointTaskId, jdbcType=VARCHAR},
                #{ifRobot, jdbcType=INTEGER},
                #{ifVideo, jdbcType=INTEGER},
                #{ifInferad, jdbcType=INTEGER},
                #{ifArtificial, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from u_patrol_task_attr
                where task_id = #{taskId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        update u_patrol_task_attr a <set>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="deviceMeteId != null and deviceMeteId != ''">a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="customId != null and customId != ''">a.custom_id = #{customId, jdbcType=VARCHAR},</if>
        <if test="pointTaskId != null and pointTaskId != ''">a.point_task_id = #{pointTaskId, jdbcType=VARCHAR},</if>
        <if test="ifRobot != null and ifRobot != ''">a.if_robot = #{ifRobot, jdbcType=INTEGER},</if>
        <if test="ifVideo != null and ifVideo != ''">a.if_video = #{ifVideo, jdbcType=INTEGER},</if>
        <if test="ifInferad != null and ifInferad != ''">a.if_inferad = #{ifInferad, jdbcType=INTEGER},</if>
        <if test="ifArtificial != null and ifArtificial != ''">a.if_artificial = #{ifArtificial, jdbcType=INTEGER},</if>
    </set>
            where a.task_id = #{taskId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.if_robot,
        a.if_video,
        a.if_inferad,
        a.if_artificial
        from u_patrol_task_attr a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.if_robot,
        a.if_video,
        a.if_inferad,
        a.if_artificial
        from u_patrol_task_attr a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="pointTaskId != null and pointTaskId != ''"> and a.point_task_id = #{pointTaskId, jdbcType=VARCHAR}</if>
        <if test="ifRobot != null and ifRobot != ''"> and a.if_robot = #{ifRobot, jdbcType=INTEGER}</if>
        <if test="ifVideo != null and ifVideo != ''"> and a.if_video = #{ifVideo, jdbcType=INTEGER}</if>
        <if test="ifInferad != null and ifInferad != ''"> and a.if_inferad = #{ifInferad, jdbcType=INTEGER}</if>
        <if test="ifArtificial != null and ifArtificial != ''"> and a.if_artificial = #{ifArtificial, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.if_robot,
        a.if_video,
        a.if_inferad,
        a.if_artificial
        from u_patrol_task_attr a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="pointTaskId != null and pointTaskId != ''"> and a.point_task_id = #{pointTaskId, jdbcType=VARCHAR}</if>
        <if test="ifRobot != null and ifRobot != ''"> and a.if_robot = #{ifRobot, jdbcType=INTEGER}</if>
        <if test="ifVideo != null and ifVideo != ''"> and a.if_video = #{ifVideo, jdbcType=INTEGER}</if>
        <if test="ifInferad != null and ifInferad != ''"> and a.if_inferad = #{ifInferad, jdbcType=INTEGER}</if>
        <if test="ifArtificial != null and ifArtificial != ''"> and a.if_artificial = #{ifArtificial, jdbcType=INTEGER}</if>
    </select>
    <select id="batchSelect" resultType="com.yjh.platform.module.patrol.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort
        from t_cruise_point_instance a
        WHERE 1 = 1
        <if test="instanceList != null and instanceList.size() > 0">
            AND instance_id IN
            <foreach collection="instanceList" separator="," open="(" close=")" item="instanceId">
                #{instanceId, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>

    <insert id="batchAdd">
        insert into u_patrol_task_attr(
            task_id,
            instance_id,
            device_mete_id,
            device_id,
            custom_id,
            point_task_id,
            if_robot,
            if_video,
            if_inferad,
            if_artificial
        )values
        <foreach collection="list" item="UPatrolTaskAttr" separator=",">
            (
                #{UPatrolTaskAttr.taskId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.instanceId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.deviceMeteId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.deviceId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.customId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.pointTaskId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.ifRobot, jdbcType=INTEGER},
                #{UPatrolTaskAttr.ifVideo, jdbcType=INTEGER},
                #{UPatrolTaskAttr.ifInferad, jdbcType=INTEGER},
                #{UPatrolTaskAttr.ifArtificial, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from u_patrol_task_attr
        where task_id in (
            <foreach collection="list" item="taskId" separator=",">
                #{taskId, jdbcType=VARCHAR}
            </foreach>
            )
    </delete>

</mapper>
