<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.UPatrolPlanAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        <id column="plan_id" jdbcType="BIGINT" property="planId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="device_mete_id" property="deviceMeteId"/>
        <result column="device_mete_name" property="deviceMeteName"/>
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
        <result column="position_id" jdbcType="BIGINT" property="positionId" />
        <result column="position_name" jdbcType="VARCHAR" property="positionName" />
        <result column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="point_type" jdbcType="INTEGER" property="pointType" />
        <result column="cruise_region_ids" jdbcType="VARCHAR" property="cruiseRegionIds" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        plan_id, device_id, device_name, a.device_mete_id,
        a.device_mete_name,instance_id, instance_name, position_id, position_name, robot_id, area_id, point_type, cruise_region_ids, create_time, update_time
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="planId" parameterType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        insert into u_patrol_plan_attr(
            plan_id,
            device_id,
            device_name,
            a.device_mete_id,
            a.device_mete_name,
            instance_id,
            instance_name,
            position_id,
            position_name,
            robot_id,
            area_id,
            point_type,
            cruise_region_ids,
            create_time,
            update_time
        )values(
                #{planId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{deviceName, jdbcType=VARCHAR},
                #{deviceMeteId},
                #{deviceMeteName},
                #{instanceId, jdbcType=BIGINT},
                #{instanceName, jdbcType=VARCHAR},
                #{positionId, jdbcType=BIGINT},
                #{positionName, jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{areaId, jdbcType=VARCHAR},
                #{pointType, jdbcType=INTEGER},
                #{cruiseRegionIds, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from u_patrol_plan_attr
                where plan_id = #{planId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        update u_patrol_plan_attr a <set>
        <if test="planId != null and planId != ''">a.plan_id = #{planId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="instanceName != null and instanceName != ''">a.instance_name = #{instanceName, jdbcType=VARCHAR},</if>
        <if test="positionId != null and positionId != ''">a.position_id = #{positionId, jdbcType=BIGINT},</if>
        <if test="positionName != null and positionName != ''">a.position_name = #{positionName, jdbcType=VARCHAR},</if>
        <if test="robotId != null and robotId != ''">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="pointType != null and pointType != ''">a.point_type = #{pointType},</if>
        <if test="cruiseRegionIds != null and cruiseRegionIds != ''">a.cruise_region_ids = #{cruiseRegionIds, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="updateTime != null and updateTime != ''">a.update_time = #{updateTime, jdbcType=TIMESTAMP},</if>
    </set>
            where a.plan_id = #{planId, jdbcType=BIGINT}
    </update>

    <select id="selectByPlanId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        select
        a.plan_id,
        a.device_id,
        a.device_name,
        a.device_mete_id,
        a.device_mete_name,
        a.instance_id,
        a.instance_name,
        a.position_id,
        a.position_name,
        a.robot_id,
        a.area_id,
        a.point_type,
        a.cruise_region_ids,
        a.create_time,
        a.update_time,
        c.custom_id,
        if(b.inspection_code is not null,b.inspection_code,a.position_id) as pointTaskId
        from u_patrol_plan_attr a
        left join t_robot_inspection b on a.position_id = b.inspection_id
        left join t_std_devicemete c on a.device_mete_id = c.device_mete_id
        where 1 = 1
        and a.plan_id = #{planId, jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        select
        a.plan_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instance_name,
        a.position_id,
        a.position_name,
        a.robot_id,
        a.area_id,
        a.point_type,
        a.cruise_region_ids,
        a.create_time,
        a.update_time
        from u_patrol_plan_attr a
        where 1 = 1
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="instanceName != null and instanceName != ''"> and a.instance_name = #{instanceName, jdbcType=VARCHAR}</if>
        <if test="positionId != null and positionId != ''"> and a.position_id = #{positionId, jdbcType=BIGINT}</if>
        <if test="positionName != null and positionName != ''"> and a.position_name = #{positionName, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="pointType != null and pointType != ''"> and a.point_type = #{pointType, jdbcType=INTEGER}</if>
        <if test="cruiseRegionIds != null and cruiseRegionIds != ''"> and a.cruise_region_ids = #{cruiseRegionIds, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolPlanAttr">
        select
        a.plan_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instance_name,
        a.position_id,
        a.position_name,
        a.robot_id,
        a.area_id,
        a.point_type,
        a.cruise_region_ids,
        a.create_time,
        a.update_time
        from u_patrol_plan_attr a
        where 1 = 1
        <if test="planId != null and planId != ''"> and a.plan_id = #{planId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="instanceName != null and instanceName != ''"> and a.instance_name = #{instanceName, jdbcType=VARCHAR}</if>
        <if test="positionId != null and positionId != ''"> and a.position_id = #{positionId, jdbcType=BIGINT}</if>
        <if test="positionName != null and positionName != ''"> and a.position_name = #{positionName, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="pointType != null and pointType != ''"> and a.point_type = #{pointType, jdbcType=INTEGER}</if>
        <if test="cruiseRegionIds != null and cruiseRegionIds != ''"> and a.cruise_region_ids = #{cruiseRegionIds, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null and updateTime != ''"> and a.update_time = #{updateTime, jdbcType=TIMESTAMP}</if>
    </select>

    <insert id="batchAdd">
        insert into u_patrol_plan_attr(
            plan_id,
            device_id,
            device_name,
        device_mete_id,
        device_mete_name,
            instance_id,
            instance_name,
            position_id,
            position_name,
            robot_id,
            area_id,
            point_type,
            cruise_region_ids,
            create_time,
            update_time
        )values
        <foreach collection="list" item="UPatrolPlanAttr" separator=",">
            (
                #{UPatrolPlanAttr.planId, jdbcType=BIGINT},
                #{UPatrolPlanAttr.deviceId, jdbcType=BIGINT},
                #{UPatrolPlanAttr.deviceName, jdbcType=VARCHAR},
                #{UPatrolPlanAttr.deviceMeteId},
                #{UPatrolPlanAttr.deviceMeteName},
                #{UPatrolPlanAttr.instanceId, jdbcType=BIGINT},
                #{UPatrolPlanAttr.instanceName, jdbcType=VARCHAR},
                #{UPatrolPlanAttr.positionId, jdbcType=BIGINT},
                #{UPatrolPlanAttr.positionName, jdbcType=VARCHAR},
                #{UPatrolPlanAttr.robotId, jdbcType=BIGINT},
                #{UPatrolPlanAttr.areaId, jdbcType=VARCHAR},
                #{UPatrolPlanAttr.pointType, jdbcType=INTEGER},
                #{UPatrolPlanAttr.cruiseRegionIds, jdbcType=VARCHAR},
                #{UPatrolPlanAttr.createTime, jdbcType=TIMESTAMP},
                #{UPatrolPlanAttr.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from u_patrol_plan_attr
        where plan_id in (
            <foreach collection="list" item="planId" separator=",">
                #{planId, jdbcType=BIGINT}
            </foreach>
            )
    </delete>

    <select id="seletcInsByPlan" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
            a.instance_id
        from u_patrol_plan_attr a
        where 1 = 1
          and a.plan_id = #{planId, jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.task.entity.TCruisePlanAttrDetail">
        SELECT
            a.plan_id,
            a.instance_id,
            (CASE
                 WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN ''
                 WHEN ISNULL(h.mete_name) AND ISNULL(f.inspection_name) THEN g.preset_name
                 WHEN ISNULL(h.mete_name) AND ISNULL(g.preset_name) THEN f.inspection_name
                 WHEN ISNULL(f.inspection_name) AND ISNULL(g.preset_name) THEN h.mete_name
                 WHEN ISNULL(f.inspection_name) THEN CONCAT(h.mete_name,'/',g.preset_name)
                 WHEN ISNULL(g.preset_name) THEN CONCAT(h.mete_name,'/',f.inspection_name)
                END) AS instance_name,
            a.device_id,
            a.device_name,
            b.custom_id,
            b.text_desc AS behavior,
            i.dict_note AS custom_name,
            b.cruise_type,
            e.dict_note AS cruise_type_name,
            a.point_type,
            a.area_id,
            a.create_time,
            a.update_time
        FROM u_patrol_plan_attr a
        LEFT JOIN t_cruise_point_instance b ON a.instance_id = b.instance_id
        LEFT JOIN t_std_device d ON b.device_id = d.device_id
        LEFT JOIN t_dict_business e ON b.cruise_type = e.dict_code AND e.col_name = "cruise_type"
        LEFT JOIN t_robot_inspection f ON f.inspection_id = b.cruise_id
        LEFT JOIN t_camera_preset g ON b.cruise_id = g.preset_id
        LEFT JOIN t_std_devicemete h ON h.device_mete_id = b.device_mete_id
        LEFT JOIN t_dict_business i ON i.dict_code = b.custom_id AND i.col_name = "custom_type"
        where 1 = 1
          and a.plan_id = #{planId, jdbcType=BIGINT} ORDER BY b.device_id, b.custom_id,a.instance_id
    </select>

</mapper>
