<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.UPatrolTaskAttrDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        <id column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="point_task_id" jdbcType="VARCHAR" property="pointTaskId" />
        <result column="point_type" jdbcType="INTEGER" property="pointType" />
        <result column="device_type" jdbcType="INTEGER" property="deviceType" />
        <result column="mete_type" jdbcType="INTEGER" property="meteType" />
        <result column="region_id" jdbcType="INTEGER" property="regionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, instance_id, device_mete_id, device_id, custom_id, point_task_id, point_type, device_type, mete_type, region_id
    </sql>


    <insert id="add" useGeneratedKeys="true" keyProperty="taskId" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        insert into u_patrol_task_attr(
            task_id,
            instance_id,
            device_mete_id,
            device_id,
            custom_id,
            point_task_id,
            point_type,
            device_type,
            mete_type,
            region_id
        )values(
                #{taskId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{customId, jdbcType=VARCHAR},
                #{pointTaskId, jdbcType=VARCHAR},
                #{pointType, jdbcType=INTEGER},
                #{deviceType, jdbcType=INTEGER},
                #{meteType, jdbcType=INTEGER},
                #{regionId, jdbcType=INTEGER}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from u_patrol_task_attr
                where task_id = #{taskId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        update u_patrol_task_attr a <set>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="deviceMeteId != null and deviceMeteId != ''">a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="customId != null and customId != ''">a.custom_id = #{customId, jdbcType=VARCHAR},</if>
        <if test="pointTaskId != null and pointTaskId != ''">a.point_task_id = #{pointTaskId, jdbcType=VARCHAR},</if>
        <if test="pointType != null and pointType != ''"> a.point_type = #{pointType, jdbcType=INTEGER},</if>
        <if test="deviceType != null and deviceType != ''"> a.device_type = #{deviceType, jdbcType=INTEGER},</if>
        <if test="meteType != null and meteType != ''"> a.mete_type = #{meteType, jdbcType=INTEGER},</if>
        <if test="regionId != null and regionId != ''"> a.region_id = #{regionId, jdbcType=INTEGER},</if>
    </set>
            where a.task_id = #{taskId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.point_type,
        a.device_type,
        a.mete_type,
        a.region_id
        from u_patrol_task_attr a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.point_type,
        a.device_type,
        a.mete_type,
        a.region_id
        from u_patrol_task_attr a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="pointTaskId != null and pointTaskId != ''"> and a.point_task_id = #{pointTaskId, jdbcType=VARCHAR}</if>
        <if test="pointType != null and pointType != ''"> and a.point_type = #{pointType, jdbcType=INTEGER}</if>
        <if test="deviceType != null and deviceType != ''"> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=INTEGER}</if>
        <if test="regionId != null and regionId != ''"> and a.region_id = #{regionId, jdbcType=INTEGER}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr" resultType="com.yjh.platform.module.patrol.entity.UPatrolTaskAttr">
        select
        a.task_id,
        a.instance_id,
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.point_task_id,
        a.point_type,
        a.device_type,
        a.mete_type,
        a.region_id
        from u_patrol_task_attr a
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="deviceMeteId != null and deviceMeteId != ''"> and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="customId != null and customId != ''"> and a.custom_id = #{customId, jdbcType=VARCHAR}</if>
        <if test="pointTaskId != null and pointTaskId != ''"> and a.point_task_id = #{pointTaskId, jdbcType=VARCHAR}</if>
        <if test="pointType != null and pointType != ''"> and a.point_type = #{pointType, jdbcType=INTEGER}</if>
        <if test="deviceType != null and deviceType != ''"> and a.device_type = #{deviceType, jdbcType=INTEGER}</if>
        <if test="meteType != null and meteType != ''"> and a.mete_type = #{meteType, jdbcType=INTEGER}</if>
        <if test="regionId != null and regionId != ''"> and a.region_id = #{regionId, jdbcType=INTEGER}</if>
    </select>
    <select id="batchSelect" resultType="com.yjh.platform.module.patrol.entity.TCruisePointInstance">
        select
        a.instance_id,
        a.device_mete_id,
        a.station_id,
        a.station_name,
        a.device_id,
        a.custom_id,
        a.data_format,
        a.identify_type,
        a.identify_son_type,
        a.cruise_type,
        a.cruise_id,
        a.cruise_name,
        a.cruise_content,
        a.position_type,
        a.unit,
        a.if_sy,
        a.sy_type,
        a.if_videotape,
        a.videotape_time,
        a.text_desc,
        a.sort
        from t_cruise_point_instance a
        WHERE 1 = 1
        <if test="instanceList != null and instanceList.size() > 0">
            AND instance_id IN
            <foreach collection="instanceList" separator="," open="(" close=")" item="instanceId">
                #{instanceId, jdbcType=BIGINT}
            </foreach>
        </if>
    </select>
    <select id="selectDeviceList" resultType="java.lang.String">
        SELECT
            a.instance_id
        FROM
            u_patrol_task_attr a
        WHERE
            1 = 1
          AND a.task_id = #{taskId, jdbcType=VARCHAR}
    </select>

    <insert id="batchAdd">
        insert into u_patrol_task_attr(
            task_id,
            instance_id,
            device_mete_id,
            device_id,
            custom_id,
            point_task_id,
            point_type,
            device_type,
            mete_type,
            region_id
        )values
        <foreach collection="list" item="UPatrolTaskAttr" separator=",">
            (
                #{UPatrolTaskAttr.taskId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.instanceId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.deviceMeteId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.deviceId, jdbcType=BIGINT},
                #{UPatrolTaskAttr.customId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.pointTaskId, jdbcType=VARCHAR},
                #{UPatrolTaskAttr.pointType, jdbcType=INTEGER},
                #{UPatrolTaskAttr.deviceType, jdbcType=INTEGER},
                #{UPatrolTaskAttr.meteType, jdbcType=INTEGER},
                #{UPatrolTaskAttr.regionId, jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from u_patrol_task_attr
        where task_id in (
            <foreach collection="list" item="taskId" separator=",">
                #{taskId, jdbcType=VARCHAR}
            </foreach>
            )
    </delete>

</mapper>
