<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.platform.module.patrol.dao.UPatrolDataResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        <id column="cruise_data_id" jdbcType="BIGINT" property="cruiseDataId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_mete_name" jdbcType="VARCHAR" property="deviceMeteName" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="custom_name" jdbcType="VARCHAR" property="customName" />
        <result column="device_point_id" jdbcType="VARCHAR" property="devicePointId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />
        <result column="cruise_name" jdbcType="VARCHAR" property="cruiseName" />
        <result column="cruise_time" jdbcType="TIMESTAMP" property="cruiseTime" />
        <result column="cruise_status" jdbcType="INTEGER" property="cruiseStatus" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="result_desc" jdbcType="VARCHAR" property="resultDesc" />
        <result column="result_num" jdbcType="VARCHAR" property="resultNum" />
        <result column="modify_num" jdbcType="VARCHAR" property="modifyNum" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
        <result column="confirm_pic_path" jdbcType="VARCHAR" property="confirmPicPath" />
        <result column="pic_path_anl" jdbcType="VARCHAR" property="picPathAnl" />
        <result column="person_check" jdbcType="VARCHAR" property="personCheck" />
        <result column="origpic" jdbcType="VARCHAR" property="origpic" />
        <result column="orig_confirm_pic_path" jdbcType="VARCHAR" property="origConfirmPicPath" />
        <result column="orig_pic_anl" jdbcType="VARCHAR" property="origPicAnl" />
        <result column="cruise_abnormal" jdbcType="INTEGER" property="cruiseAbnormal" />
        <result column="evaluation_state" jdbcType="INTEGER" property="evaluationState" />
        <result column="identify_state" jdbcType="INTEGER" property="identifyState" />
        <result column="identify_result" jdbcType="INTEGER" property="identifyResult" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="is_warn" jdbcType="INTEGER" property="isWarn" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="fir_name" jdbcType="VARCHAR" property="firName" />
        <result column="fir_date" jdbcType="TIMESTAMP" property="firDate" />
        <result column="result_pic" jdbcType="VARCHAR" property="resultPic" />
        <result column="points" jdbcType="VARCHAR" property="points" />
        <result column="voice_path" jdbcType="VARCHAR" property="voicePath" />
    </resultMap>

    <resultMap id="cruiseDataReport" type="com.yjh.platform.module.task.entity.CruiseResultAnalyzeInfo">
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="mete_type" jdbcType="BIGINT" property="meteType" />
        <result column="meter_type" jdbcType="BIGINT" property="meterType" />
        <result column="cruise_time" jdbcType="BIGINT" property="cruiseTime" />
        <result column="cruise_type" jdbcType="BIGINT" property="cruiseType" />
        <result column="instance_name" jdbcType="BIGINT" property="instanceName" />
        <result column="result_num" jdbcType="BIGINT" property="resultNum" />
        <result column="result_desc" jdbcType="BIGINT" property="resultDesc" />
        <result column="person_check" jdbcType="BIGINT" property="personCheck" />
        <result column="identify_result" jdbcType="BIGINT" property="identifyResult" />
        <result column="cruise_result" jdbcType="BIGINT" property="cruiseResult" />
        <result column="picpath" jdbcType="BIGINT" property="picPath" />
        <result column="origpic" jdbcType="BIGINT" property="origpic" />
        <result column="device_name" jdbcType="BIGINT" property="deviceName" />
        <result column="evaluation_state" jdbcType="BIGINT" property="evaluationState" />
        <result column="device_type" jdbcType="BIGINT" property="deviceType" />
        <result column="up_region_name" jdbcType="BIGINT" property="upRegionName" />
        <association property="alarmLevel" select="selectWarnByTaskAndInstance" column="{taskId=task_id,instanceId=instance_id}" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cruise_data_id, task_id, device_id, device_name, device_mete_id, device_mete_name, custom_id, custom_name, device_point_id, instance_id, instance_name, cruise_id, cruise_name, cruise_time, cruise_status, cruise_type, result_desc, result_num, modify_num, picpath, confirm_pic_path, pic_path_anl, person_check, origpic, orig_confirm_pic_path, orig_pic_anl, cruise_abnormal, evaluation_state, identify_state, identify_result, createtime, remark, check_user, check_date, is_warn, cruise_result, fir_name, fir_date, result_pic, points, voice_path
    </sql>
<select id="selectWarnByTaskAndInstance" resultType="java.lang.String">
    select warn_level from t_warn_info where task_id = #{taskId} and instance_id = #{instanceId} limit 1
</select>

    <insert id="add" useGeneratedKeys="true" keyProperty="cruiseDataId" parameterType="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        insert into u_patrol_data_result(
            cruise_data_id,
            task_id,
            device_id,
            device_name,
            device_mete_id,
            device_mete_name,
            custom_id,
            custom_name,
            device_point_id,
            instance_id,
            instance_name,
            cruise_id,
            cruise_name,
            cruise_time,
            cruise_status,
            cruise_type,
            cruise_device_id,
            cruise_device_name,
            result_desc,
            result_num,
            modify_num,
            nuit,
            picpath,
            confirm_pic_path,
            pic_path_anl,
            person_check,
            origpic,
            orig_confirm_pic_path,
            orig_pic_anl,
            cruise_abnormal,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn,
            cruise_result,
            fir_name,
            fir_date,
            result_pic,
            points,
            voice_path
        )values(
                #{cruiseDataId, jdbcType=BIGINT},
                #{taskId, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{deviceName, jdbcType=VARCHAR},
                #{deviceMeteId, jdbcType=BIGINT},
                #{deviceMeteName, jdbcType=VARCHAR},
                #{custonId, jdbcType=VARCHAR},
                #{customName, jdbcType=VARCHAR},
                #{devicePointId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{instanceName, jdbcType=VARCHAR},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseName, jdbcType=VARCHAR},
                #{cruiseTime, jdbcType=TIMESTAMP},
                #{cruiseStatus, jdbcType=INTEGER},
                #{cruiseType, jdbcType=INTEGER},
                #{uPatrolDataResult.cruiseDeviceId, jdbcType=VARCHAR},
                #{uPatrolDataResult.cruiseDeviceName, jdbcType=VARCHAR},
                #{resultDesc, jdbcType=VARCHAR},
                #{resultNum, jdbcType=VARCHAR},
                #{modifyNum, jdbcType=VARCHAR},
                #{nuit, jdbcType=VARCHAR},
                #{picpath, jdbcType=VARCHAR},
                #{confirmPicPath, jdbcType=VARCHAR},
                #{picPathAnl, jdbcType=VARCHAR},
                #{personCheck, jdbcType=VARCHAR},
                #{origpic, jdbcType=VARCHAR},
                #{origConfirmPicPath, jdbcType=VARCHAR},
                #{origPicAnl, jdbcType=VARCHAR},
                #{cruiseAbnormal, jdbcType=INTEGER},
                #{evaluationState, jdbcType=INTEGER},
                #{identifyState, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{createtime, jdbcType=TIMESTAMP},
                #{remark, jdbcType=VARCHAR},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{isWarn, jdbcType=INTEGER},
                #{cruiseResult, jdbcType=INTEGER},
                #{firName, jdbcType=VARCHAR},
                #{firDate, jdbcType=TIMESTAMP},
                #{resultPic, jdbcType=VARCHAR},
                #{points, jdbcType=VARCHAR},
                #{voicePath, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from u_patrol_data_result
                where cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        update u_patrol_data_result a <set>
        <if test="cruiseDataId != null and cruiseDataId != ''">a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="instanceId != null and instanceId != ''">a.instance_id = #{instanceId, jdbcType=BIGINT},</if>
        <if test="instanceName != null and instanceName != ''">a.instance_name = #{instanceName, jdbcType=VARCHAR},</if>
        <if test="cruiseId != null and cruiseId != ''">a.cruise_id = #{cruiseId, jdbcType=BIGINT},</if>
        <if test="cruiseName != null and cruiseName != ''">a.cruise_name = #{cruiseName, jdbcType=VARCHAR},</if>
        <if test="cruiseTime != null and cruiseTime != ''">a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP},</if>
        <if test="cruiseStatus != null and cruiseStatus != ''">a.cruise_status = #{cruiseStatus, jdbcType=INTEGER},</if>
        <if test="cruiseType != null and cruiseType != ''">a.cruise_type = #{cruiseType, jdbcType=INTEGER},</if>
        <if test="resultDesc != null and resultDesc != ''">a.result_desc = #{resultDesc, jdbcType=VARCHAR},</if>
        <if test="resultNum != null and resultNum != ''">a.result_num = #{resultNum, jdbcType=VARCHAR},</if>
        <if test="modifyNum != null and modifyNum != ''">a.modify_num = #{modifyNum, jdbcType=VARCHAR},</if>
        <if test="picpath != null and picpath != ''">a.picpath = #{picpath, jdbcType=VARCHAR},</if>
        <if test="confirmPicPath != null and confirmPicPath != ''">a.confirm_pic_path = #{confirmPicPath, jdbcType=VARCHAR},</if>
        <if test="picPathAnl != null and picPathAnl != ''">a.pic_path_anl = #{picPathAnl, jdbcType=VARCHAR},</if>
        <if test="personCheck != null and personCheck != ''">a.person_check = #{personCheck, jdbcType=VARCHAR},</if>
        <if test="origpic != null and origpic != ''">a.origpic = #{origpic, jdbcType=VARCHAR},</if>
        <if test="origConfirmPicPath != null and origConfirmPicPath != ''">a.orig_confirm_pic_path = #{origConfirmPicPath, jdbcType=VARCHAR},</if>
        <if test="origPicAnl != null and origPicAnl != ''">a.orig_pic_anl = #{origPicAnl, jdbcType=VARCHAR},</if>
        <if test="cruiseAbnormal != null and cruiseAbnormal != ''">a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER},</if>
        <if test="evaluationState != null and evaluationState != ''">a.evaluation_state = #{evaluationState, jdbcType=INTEGER},</if>
        <if test="identifyState != null and identifyState != ''">a.identify_state = #{identifyState, jdbcType=INTEGER},</if>
        <if test="identifyResult != null and identifyResult != ''">a.identify_result = #{identifyResult, jdbcType=INTEGER},</if>
        <if test="createtime != null and createtime != ''">a.createtime = #{createtime, jdbcType=TIMESTAMP},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
        <if test="checkUser != null and checkUser != ''">a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="isWarn != null and isWarn != ''">a.is_warn = #{isWarn, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null and cruiseResult != ''">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="firName != null and firName != ''">a.fir_name = #{firName, jdbcType=VARCHAR},</if>
        <if test="firDate != null and firDate != ''">a.fir_date = #{firDate, jdbcType=TIMESTAMP},</if>
        <if test="resultPic != null and resultPic != ''">a.result_pic = #{resultPic, jdbcType=VARCHAR},</if>
        <if test="points != null and points != ''">a.points = #{points, jdbcType=VARCHAR},</if>
        <if test="voicePath != null and voicePath != ''">a.voice_path = #{voicePath, jdbcType=VARCHAR},</if>
    </set>
            where a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        select
        a.cruise_data_id,
        a.task_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instance_name,
        a.cruise_id,
        a.cruise_name,
        a.cruise_time,
        a.cruise_status,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.confirm_pic_path,
        a.pic_path_anl,
        a.person_check,
        a.origpic,
        a.orig_confirm_pic_path,
        a.orig_pic_anl,
        a.cruise_abnormal,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.cruise_result,
        a.fir_name,
        a.fir_date,
        a.result_pic,
        a.points,
        a.voice_path
        from u_patrol_data_result a
        where 1 = 1
            and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.platform.module.patrol.entity.UPatrolDataResult" resultType="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        select
        a.cruise_data_id,
        a.task_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instance_name,
        a.cruise_id,
        a.cruise_name,
        a.cruise_time,
        a.cruise_status,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.confirm_pic_path,
        a.pic_path_anl,
        a.person_check,
        a.origpic,
        a.orig_confirm_pic_path,
        a.orig_pic_anl,
        a.cruise_abnormal,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.cruise_result,
        a.fir_name,
        a.fir_date,
        a.result_pic,
        a.points,
        a.voice_path
        from u_patrol_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''"> and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}</if>
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="instanceName != null and instanceName != ''"> and a.instance_name = #{instanceName, jdbcType=VARCHAR}</if>
        <if test="cruiseId != null and cruiseId != ''"> and a.cruise_id = #{cruiseId, jdbcType=BIGINT}</if>
        <if test="cruiseName != null and cruiseName != ''"> and a.cruise_name = #{cruiseName, jdbcType=VARCHAR}</if>
        <if test="cruiseTime != null and cruiseTime != ''"> and a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP}</if>
        <if test="cruiseStatus != null and cruiseStatus != ''"> and a.cruise_status = #{cruiseStatus, jdbcType=INTEGER}</if>
        <if test="cruiseType != null and cruiseType != ''"> and a.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="resultDesc != null and resultDesc != ''"> and a.result_desc = #{resultDesc, jdbcType=VARCHAR}</if>
        <if test="resultNum != null and resultNum != ''"> and a.result_num = #{resultNum, jdbcType=VARCHAR}</if>
        <if test="modifyNum != null and modifyNum != ''"> and a.modify_num = #{modifyNum, jdbcType=VARCHAR}</if>
        <if test="picpath != null and picpath != ''"> and a.picpath = #{picpath, jdbcType=VARCHAR}</if>
        <if test="confirmPicPath != null and confirmPicPath != ''"> and a.confirm_pic_path = #{confirmPicPath, jdbcType=VARCHAR}</if>
        <if test="picPathAnl != null and picPathAnl != ''"> and a.pic_path_anl = #{picPathAnl, jdbcType=VARCHAR}</if>
        <if test="personCheck != null and personCheck != ''"> and a.person_check = #{personCheck, jdbcType=VARCHAR}</if>
        <if test="origpic != null and origpic != ''"> and a.origpic = #{origpic, jdbcType=VARCHAR}</if>
        <if test="origConfirmPicPath != null and origConfirmPicPath != ''"> and a.orig_confirm_pic_path = #{origConfirmPicPath, jdbcType=VARCHAR}</if>
        <if test="origPicAnl != null and origPicAnl != ''"> and a.orig_pic_anl = #{origPicAnl, jdbcType=VARCHAR}</if>
        <if test="cruiseAbnormal != null and cruiseAbnormal != ''"> and a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER}</if>
        <if test="evaluationState != null and evaluationState != ''"> and a.evaluation_state = #{evaluationState, jdbcType=INTEGER}</if>
        <if test="identifyState != null and identifyState != ''"> and a.identify_state = #{identifyState, jdbcType=INTEGER}</if>
        <if test="identifyResult != null and identifyResult != ''"> and a.identify_result = #{identifyResult, jdbcType=INTEGER}</if>
        <if test="createtime != null and createtime != ''"> and a.createtime = #{createtime, jdbcType=TIMESTAMP}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="checkUser != null and checkUser != ''"> and a.check_user = #{checkUser, jdbcType=VARCHAR}</if>
        <if test="checkDate != null and checkDate != ''"> and a.check_date = #{checkDate, jdbcType=TIMESTAMP}</if>
        <if test="isWarn != null and isWarn != ''"> and a.is_warn = #{isWarn, jdbcType=INTEGER}</if>
        <if test="cruiseResult != null and cruiseResult != ''"> and a.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>
        <if test="firName != null and firName != ''"> and a.fir_name = #{firName, jdbcType=VARCHAR}</if>
        <if test="firDate != null and firDate != ''"> and a.fir_date = #{firDate, jdbcType=TIMESTAMP}</if>
        <if test="resultPic != null and resultPic != ''"> and a.result_pic = #{resultPic, jdbcType=VARCHAR}</if>
        <if test="points != null and points != ''"> and a.points = #{points, jdbcType=VARCHAR}</if>
        <if test="voicePath != null and voicePath != ''"> and a.voice_path = #{voicePath, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.platform.module.patrol.entity.UPatrolDataResult" resultType="com.yjh.platform.module.patrol.entity.UPatrolDataResult">
        select
        a.cruise_data_id,
        a.task_id,
        a.device_id,
        a.device_name,
        a.instance_id,
        a.instance_name,
        a.cruise_id,
        a.cruise_name,
        a.cruise_time,
        a.cruise_status,
        a.cruise_type,
        a.result_desc,
        a.result_num,
        a.modify_num,
        a.picpath,
        a.confirm_pic_path,
        a.pic_path_anl,
        a.person_check,
        a.origpic,
        a.orig_confirm_pic_path,
        a.orig_pic_anl,
        a.cruise_abnormal,
        a.evaluation_state,
        a.identify_state,
        a.identify_result,
        a.createtime,
        a.remark,
        a.check_user,
        a.check_date,
        a.is_warn,
        a.cruise_result,
        a.fir_name,
        a.fir_date,
        a.result_pic,
        a.points,
        a.voice_path
        from u_patrol_data_result a
        where 1 = 1
        <if test="cruiseDataId != null and cruiseDataId != ''"> and a.cruise_data_id = #{cruiseDataId, jdbcType=BIGINT}</if>
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="deviceId != null and deviceId != ''"> and a.device_id = #{deviceId, jdbcType=BIGINT}</if>
        <if test="deviceName != null and deviceName != ''"> and a.device_name = #{deviceName, jdbcType=VARCHAR}</if>
        <if test="instanceId != null and instanceId != ''"> and a.instance_id = #{instanceId, jdbcType=BIGINT}</if>
        <if test="instanceName != null and instanceName != ''"> and a.instance_name = #{instanceName, jdbcType=VARCHAR}</if>
        <if test="cruiseId != null and cruiseId != ''"> and a.cruise_id = #{cruiseId, jdbcType=BIGINT}</if>
        <if test="cruiseName != null and cruiseName != ''"> and a.cruise_name = #{cruiseName, jdbcType=VARCHAR}</if>
        <if test="cruiseTime != null and cruiseTime != ''"> and a.cruise_time = #{cruiseTime, jdbcType=TIMESTAMP}</if>
        <if test="cruiseStatus != null and cruiseStatus != ''"> and a.cruise_status = #{cruiseStatus, jdbcType=INTEGER}</if>
        <if test="cruiseType != null and cruiseType != ''"> and a.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="resultDesc != null and resultDesc != ''"> and a.result_desc = #{resultDesc, jdbcType=VARCHAR}</if>
        <if test="resultNum != null and resultNum != ''"> and a.result_num = #{resultNum, jdbcType=VARCHAR}</if>
        <if test="modifyNum != null and modifyNum != ''"> and a.modify_num = #{modifyNum, jdbcType=VARCHAR}</if>
        <if test="picpath != null and picpath != ''"> and a.picpath = #{picpath, jdbcType=VARCHAR}</if>
        <if test="confirmPicPath != null and confirmPicPath != ''"> and a.confirm_pic_path = #{confirmPicPath, jdbcType=VARCHAR}</if>
        <if test="picPathAnl != null and picPathAnl != ''"> and a.pic_path_anl = #{picPathAnl, jdbcType=VARCHAR}</if>
        <if test="personCheck != null and personCheck != ''"> and a.person_check = #{personCheck, jdbcType=VARCHAR}</if>
        <if test="origpic != null and origpic != ''"> and a.origpic = #{origpic, jdbcType=VARCHAR}</if>
        <if test="origConfirmPicPath != null and origConfirmPicPath != ''"> and a.orig_confirm_pic_path = #{origConfirmPicPath, jdbcType=VARCHAR}</if>
        <if test="origPicAnl != null and origPicAnl != ''"> and a.orig_pic_anl = #{origPicAnl, jdbcType=VARCHAR}</if>
        <if test="cruiseAbnormal != null and cruiseAbnormal != ''"> and a.cruise_abnormal = #{cruiseAbnormal, jdbcType=INTEGER}</if>
        <if test="evaluationState != null and evaluationState != ''"> and a.evaluation_state = #{evaluationState, jdbcType=INTEGER}</if>
        <if test="identifyState != null and identifyState != ''"> and a.identify_state = #{identifyState, jdbcType=INTEGER}</if>
        <if test="identifyResult != null and identifyResult != ''"> and a.identify_result = #{identifyResult, jdbcType=INTEGER}</if>
        <if test="createtime != null and createtime != ''"> and a.createtime = #{createtime, jdbcType=TIMESTAMP}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
        <if test="checkUser != null and checkUser != ''"> and a.check_user = #{checkUser, jdbcType=VARCHAR}</if>
        <if test="checkDate != null and checkDate != ''"> and a.check_date = #{checkDate, jdbcType=TIMESTAMP}</if>
        <if test="isWarn != null and isWarn != ''"> and a.is_warn = #{isWarn, jdbcType=INTEGER}</if>
        <if test="cruiseResult != null and cruiseResult != ''"> and a.cruise_result = #{cruiseResult, jdbcType=INTEGER}</if>
        <if test="firName != null and firName != ''"> and a.fir_name = #{firName, jdbcType=VARCHAR}</if>
        <if test="firDate != null and firDate != ''"> and a.fir_date = #{firDate, jdbcType=TIMESTAMP}</if>
        <if test="resultPic != null and resultPic != ''"> and a.result_pic = #{resultPic, jdbcType=VARCHAR}</if>
        <if test="points != null and points != ''"> and a.points = #{points, jdbcType=VARCHAR}</if>
        <if test="voicePath != null and voicePath != ''"> and a.voice_path = #{voicePath, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchAdd">
        insert into u_patrol_data_result(
            cruise_data_id,
            task_id,
            device_id,
            device_name,
            device_mete_id,
            device_mete_name,
            custom_id,
            custom_name,
            device_point_id,
            instance_id,
            instance_name,
            cruise_id,
            cruise_name,
            cruise_time,
            cruise_status,
            cruise_type,
            cruise_device_id,
            cruise_device_name,
            result_desc,
            result_num,
            modify_num,
            unit,
            picpath,
            confirm_pic_path,
            pic_path_anl,
            person_check,
            origpic,
            orig_confirm_pic_path,
            orig_pic_anl,
            cruise_abnormal,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn,
            cruise_result,
            fir_name,
            fir_date,
            result_pic,
            points,
            voice_path
        )values
        <foreach collection="list" item="UPatrolDataResult" separator=",">
            (
                #{UPatrolDataResult.cruiseDataId, jdbcType=BIGINT},
                #{UPatrolDataResult.taskId, jdbcType=VARCHAR},
                #{UPatrolDataResult.deviceId, jdbcType=BIGINT},
                #{UPatrolDataResult.deviceName, jdbcType=VARCHAR},
                #{UPatrolDataResult.deviceMeteId, jdbcType=BIGINT},
                #{UPatrolDataResult.deviceMeteName, jdbcType=VARCHAR},
                #{UPatrolDataResult.customId, jdbcType=VARCHAR},
                #{UPatrolDataResult.customName, jdbcType=VARCHAR},
                #{UPatrolDataResult.devicePointId, jdbcType=VARCHAR},
                #{UPatrolDataResult.instanceId, jdbcType=BIGINT},
                #{UPatrolDataResult.instanceName, jdbcType=VARCHAR},
                #{UPatrolDataResult.cruiseId, jdbcType=BIGINT},
                #{UPatrolDataResult.cruiseName, jdbcType=VARCHAR},
                #{UPatrolDataResult.cruiseTime, jdbcType=TIMESTAMP},
                #{UPatrolDataResult.cruiseStatus, jdbcType=INTEGER},
                #{UPatrolDataResult.cruiseType, jdbcType=INTEGER},
                #{uPatrolDataResult.cruiseDeviceId, jdbcType=VARCHAR},
                #{uPatrolDataResult.cruiseDeviceName, jdbcType=VARCHAR},
                #{UPatrolDataResult.resultDesc, jdbcType=VARCHAR},
                #{UPatrolDataResult.resultNum, jdbcType=VARCHAR},
                #{UPatrolDataResult.modifyNum, jdbcType=VARCHAR},
                #{UPatrolDataResult.unit, jdbcType=VARCHAR},
                #{UPatrolDataResult.picpath, jdbcType=VARCHAR},
                #{UPatrolDataResult.confirmPicPath, jdbcType=VARCHAR},
                #{UPatrolDataResult.picPathAnl, jdbcType=VARCHAR},
                #{UPatrolDataResult.personCheck, jdbcType=VARCHAR},
                #{UPatrolDataResult.origpic, jdbcType=VARCHAR},
                #{UPatrolDataResult.origConfirmPicPath, jdbcType=VARCHAR},
                #{UPatrolDataResult.origPicAnl, jdbcType=VARCHAR},
                #{UPatrolDataResult.cruiseAbnormal, jdbcType=INTEGER},
                #{UPatrolDataResult.evaluationState, jdbcType=INTEGER},
                #{UPatrolDataResult.identifyState, jdbcType=INTEGER},
                #{UPatrolDataResult.identifyResult, jdbcType=INTEGER},
                #{UPatrolDataResult.createtime, jdbcType=TIMESTAMP},
                #{UPatrolDataResult.remark, jdbcType=VARCHAR},
                #{UPatrolDataResult.checkUser, jdbcType=VARCHAR},
                #{UPatrolDataResult.checkDate, jdbcType=TIMESTAMP},
                #{UPatrolDataResult.isWarn, jdbcType=INTEGER},
                #{UPatrolDataResult.cruiseResult, jdbcType=INTEGER},
                #{UPatrolDataResult.firName, jdbcType=VARCHAR},
                #{UPatrolDataResult.firDate, jdbcType=TIMESTAMP},
                #{UPatrolDataResult.resultPic, jdbcType=VARCHAR},
                #{UPatrolDataResult.points, jdbcType=VARCHAR},
                #{UPatrolDataResult.voicePath, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="batchDelete">
        delete from u_patrol_data_result
        where cruise_data_id in (
            <foreach collection="list" item="cruiseDataId" separator=",">
                #{cruiseDataId, jdbcType=BIGINT}
            </foreach>
            )
    </delete>

    <select id="selectCruiseDataResultByList" resultType="com.yjh.platform.module.task.entity.CruiseResultAnalyzeInfo">
        SELECT
        f.task_id,
        f.cruise_data_id,
        f.device_mete_id,
        f.cruise_time,
        f.cruise_type,
        f.instance_name,
        f.person_check,
        f.modify_num,
        f.result_num,
        f.result_desc,
        f.identify_result,
        f.cruise_result,
        f.picpath as picPath,
        a.mete_type,
        a.meter_type
        FROM u_patrol_data_result f
        LEFT JOIN t_std_devicemete a on a.device_mete_id = f.device_mete_id
        WHERE  a.device_mete_id in (
        <foreach collection="deviceMeteIds" item="deviceMeteId" separator=",">
            #{deviceMeteId, jdbcType=BIGINT}
        </foreach>
        )
        <if test="startTime != null and startTime != '' and endTime != null and endTime !=''" >and f.cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if>
        <if test="cruiseType != -1 ">and f.cruise_type = #{cruiseType, jdbcType=INTEGER}</if>
        <if test="meteType != -1 ">and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meterType != -1 ">and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        ORDER BY f.cruise_time DESC
    </select>

    <select id="selectCruiseDataReport" resultMap="cruiseDataReport">
        SELECT a.device_mete_id,
        a.mete_type,
        a.meter_type,
        e.cruise_time,
        e.cruise_type,
        e.instance_name,
        e.result_num,
        e.result_desc,
        e.person_check,
        e.identify_result,
        e.cruise_result,
        e.picpath AS picPath,
        e.origpic,
        e.device_name AS device_name,
        e.evaluation_state AS evaluation_state,
        e.task_id,
        e.instance_id,
        e.device_id,
        tsd.device_type      AS device_type,
        tsd.up_region_name   AS up_region_name,
        tsd.up_region_id     AS region_id
        FROM u_patrol_data_result e
        LEFT JOIN t_std_devicemete a ON a.device_mete_id = e.device_mete_id
        Left Join t_std_device tsd on e.device_id = tsd.device_id
        WHERE 1 = 1
        <if test="list != null and list.size() > 0">and e.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="startTime != null and startTime != '' ">
            <if test="endTime != null and endTime !=''">and e.cruise_time between #{startTime,jdbcType=TIMESTAMP} and
                #{endTime,jdbcType=TIMESTAMP}
            </if>
        </if>
        <if test="meteType != -1 ">and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meterType != -1 ">and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        <if test="instanceName != null and instanceName != ''">
            and e.instance_name like CONCAT('%',CONCAT(#{instanceName},'%'))
        </if>
        ORDER BY e.cruise_time DESC
    </select>
    <select id="exportCruiseDataReport" resultType="java.util.Map">
        SELECT a.device_mete_id as deviceMeteId,
        a.mete_type as meteType,
        a.meter_type as meterType,
        e.cruise_time as cruiseTime,
        e.cruise_type as cruiseType,
        e.instance_name as instanceName,
        e.result_num as resultNum,
        e.result_desc as resultDesc,
        IFNULL(e.person_check,'') as personCheck,
        e.identify_result as identifyResult,
        e.cruise_result as cruiseResult,
        e.picpath AS picPath,
        case e.origpic when 'null' then ''
            else e.origpic end as origpic,
        e.device_name AS deviceName,
        e.evaluation_state AS evaluationState,
        e.task_id as taskId,
        e.instance_id as instanceId,
        e.device_id as deviceId,
        tsd.device_type      AS deviceType,
        tsd.up_region_name   AS upRegionName,
        tsd.up_region_id     AS regionId,
        (select warn_level from t_warn_info where task_id = e.task_id and instance_id = e.instance_id limit 1) AS alarmLevel
        FROM u_patrol_data_result e
        LEFT JOIN t_std_devicemete a ON a.device_mete_id = e.device_mete_id
        Left Join t_std_device tsd on e.device_id = tsd.device_id
        WHERE 1 = 1
        <if test="list != null and list.size() > 0">and e.device_id IN
            <foreach collection="list" item="deviceIds" separator="," open="(" close=")" index="index">
                #{deviceIds,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="startTime != null and startTime != '' ">
            <if test="endTime != null and endTime !=''">and e.cruise_time between #{startTime,jdbcType=TIMESTAMP} and
                #{endTime,jdbcType=TIMESTAMP}
            </if>
        </if>
        <if test="meteType != -1 ">and a.mete_type = #{meteType, jdbcType=VARCHAR}</if>
        <if test="meterType != -1 ">and a.meter_type = #{meterType, jdbcType=INTEGER}</if>
        <if test="instanceName != null and instanceName != ''">
            and e.instance_name like CONCAT('%',CONCAT(#{instanceName},'%'))
        </if>
        ORDER BY e.cruise_time DESC
    </select>
    <select id="selectBrokenLine"  resultType="com.yjh.platform.module.task.entity.BrokenLineInfo">
        SELECT
        f.cruise_time,
        if(f.modify_num is null,f.result_num,f.modify_num) resultNum,
        if(f.modify_num is null,f.result_desc,f.person_check) resultDesc,
        f.instance_name,
        f.cruise_type,
        f.cruise_device_id,
        f.cruise_device_name,
        a.mete_name,
        a.mete_type,
        a.meter_type,
        a.device_mete_id,
        f.identify_result,
        f.cruise_result,
        f.picpath AS picPath,
        f.origpic,
        f.device_name
        FROM u_patrol_data_result f
        LEFT JOIN t_std_devicemete a on a.device_mete_id = f.device_mete_id
        WHERE a.device_mete_id in (
        <foreach collection="deviceMeteIds" item="deviceMeteId" separator=",">
            #{deviceMeteId, jdbcType=BIGINT}
        </foreach>
        )
        <if test="startTime != null and startTime != '' and endTime != null and endTime !=''" >and f.cruise_time between #{startTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}</if>
        <if test="cruiseType != -1 " >and f.cruise_type=#{cruiseType,jdbcType=INTEGER}</if>
        <if test="meterType != -1" >and a.meter_type=#{meterType,jdbcType=INTEGER}</if>
        <if test="meteType != null and meteType != -1" >and a.mete_type=#{meteType,jdbcType=VARCHAR}</if>
        ORDER BY f.cruise_time ASC
    </select>

    <select id="selectByCameraId"   resultType="com.yjh.platform.module.task.entity.TCruiseDataResult">
        SELECT
            a.cruise_data_id,
            a.result_pic,
            a.fir_name,
            a.fir_date,
            d.camera_id
        FROM
        u_patrol_data_result a
            LEFT JOIN t_cruise_point_instance c ON a.instance_id = c.instance_id
            LEFT JOIN t_camera_preset d ON c.cruise_id = d.preset_id
        WHERE
            1 = 1
            AND a.result_pic != ''
            AND a.fir_name != 'f'
        <if test="cameraId!=null  and cameraId!=''"> and  d.camera_id =  #{cameraId,jdbcType=BIGINT} </if>
        <if test="firName != null and firName != '' ">and a.fir_name LIKE CONCAT('%',#{firName, jdbcType=VARCHAR},'%')</if>
        <if test="startDate != null and endDate != null" >and a.fir_date between STR_TO_DATE(#{startDate},'%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endDate},'%Y-%m-%d %H:%i:%s')</if>
        ORDER BY a.fir_date DESC
    </select>

    <insert id="batchInsertUPatrolDataResult" useGeneratedKeys="true" keyProperty="cruiseDataId" keyColumn="cruise_data_id">
        insert into u_patrol_data_result(
        cruise_data_id,
        task_id,
        device_id,
        device_name,
        device_mete_id,
        device_mete_name,
        custom_id,
        custom_name,
        device_point_id,
        instance_id,
        instance_name,
        cruise_id,
        cruise_name,
        cruise_time,
        cruise_status,
        cruise_type,
        cruise_device_id,
        cruise_device_name,
        result_desc,
        result_num,
        modify_num,
        unit,
        picpath,
        confirm_pic_path,
        pic_path_anl,
        person_check,
        origpic,
        orig_confirm_pic_path,
        orig_pic_anl,
        cruise_abnormal,
        evaluation_state,
        identify_state,
        identify_result,
        createtime,
        remark,
        check_user,
        check_date,
        is_warn,
        cruise_result,
        fir_name,
        fir_date,
        result_pic,
        points,
        voice_path
        )values
        <foreach collection="list" item="uPatrolDataResult" separator=",">
            (
            #{uPatrolDataResult.cruiseDataId, jdbcType=BIGINT},
            #{uPatrolDataResult.taskId, jdbcType=VARCHAR},
            #{uPatrolDataResult.deviceId, jdbcType=BIGINT},
            #{uPatrolDataResult.deviceName, jdbcType=VARCHAR},
            #{uPatrolDataResult.deviceMeteId, jdbcType=BIGINT},
            #{uPatrolDataResult.deviceMeteName, jdbcType=VARCHAR},
            #{uPatrolDataResult.customId, jdbcType=VARCHAR},
            #{uPatrolDataResult.customName, jdbcType=VARCHAR},
            #{uPatrolDataResult.devicePointId, jdbcType=VARCHAR},
            #{uPatrolDataResult.instanceId, jdbcType=BIGINT},
            #{uPatrolDataResult.instanceName, jdbcType=VARCHAR},
            #{uPatrolDataResult.cruiseId, jdbcType=BIGINT},
            #{uPatrolDataResult.cruiseName, jdbcType=VARCHAR},
            #{uPatrolDataResult.cruiseTime, jdbcType=TIMESTAMP},
            #{uPatrolDataResult.cruiseStatus, jdbcType=INTEGER},
            #{uPatrolDataResult.cruiseType, jdbcType=INTEGER},
            #{uPatrolDataResult.cruiseDeviceId, jdbcType=VARCHAR},
            #{uPatrolDataResult.cruiseDeviceName, jdbcType=VARCHAR},
            #{uPatrolDataResult.resultDesc, jdbcType=VARCHAR},
            #{uPatrolDataResult.resultNum, jdbcType=VARCHAR},
            #{uPatrolDataResult.modifyNum, jdbcType=VARCHAR},
            #{uPatrolDataResult.unit, jdbcType=VARCHAR},
            #{uPatrolDataResult.picpath, jdbcType=VARCHAR},
            #{uPatrolDataResult.confirmPicPath, jdbcType=VARCHAR},
            #{uPatrolDataResult.picPathAnl, jdbcType=VARCHAR},
            #{uPatrolDataResult.personCheck, jdbcType=VARCHAR},
            #{uPatrolDataResult.origpic, jdbcType=VARCHAR},
            #{uPatrolDataResult.origConfirmPicPath, jdbcType=VARCHAR},
            #{uPatrolDataResult.origPicAnl, jdbcType=VARCHAR},
            #{uPatrolDataResult.cruiseAbnormal, jdbcType=INTEGER},
            #{uPatrolDataResult.evaluationState, jdbcType=INTEGER},
            #{uPatrolDataResult.identifyState, jdbcType=INTEGER},
            #{uPatrolDataResult.identifyResult, jdbcType=INTEGER},
            #{uPatrolDataResult.createtime, jdbcType=TIMESTAMP},
            #{uPatrolDataResult.remark, jdbcType=VARCHAR},
            #{uPatrolDataResult.checkUser, jdbcType=VARCHAR},
            #{uPatrolDataResult.checkDate, jdbcType=TIMESTAMP},
            #{uPatrolDataResult.isWarn, jdbcType=INTEGER},
            #{uPatrolDataResult.cruiseResult, jdbcType=INTEGER},
            #{uPatrolDataResult.firName, jdbcType=VARCHAR},
            #{uPatrolDataResult.firDate, jdbcType=TIMESTAMP},
            #{uPatrolDataResult.resultPic, jdbcType=VARCHAR},
            #{uPatrolDataResult.points, jdbcType=VARCHAR},
            #{uPatrolDataResult.voicePath, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectAllDeviceMeteId" resultType="java.lang.Long">
        SELECT  a.device_mete_id FROM t_std_devicemete_update a;
    </select>

    <select id="selectDeviceMeteList" resultType="com.yjh.platform.module.task.entity.TStdDeviceMeteUpdate">
        SELECT
        *
        FROM
        (
        SELECT
        c.device_mete_id,
        c.cruise_time as update_time,
        c.picpath as pic_path,
        c.cruise_result,
        c.identify_result
        FROM
        u_patrol_data_result c
        WHERE
        c.task_id = #{taskId,jdbcType=VARCHAR}
        AND c.device_mete_id NOT IN (
        SELECT
        device_mete_id
        FROM
        t_std_devicemete_update
        )
        ORDER BY
        c.cruise_time DESC
        LIMIT 999999
        ) big_table
        GROUP BY
        big_table.device_mete_id
    </select>

    <update id="updateDeviceMeteUpdate">
        UPDATE t_std_devicemete_update a
        INNER JOIN (
        SELECT
        *
        FROM
        (
        SELECT
        c.device_mete_id,
        c.cruise_time,
        c.picpath,
        c.cruise_result,
        c.identify_result
        FROM
        u_patrol_data_result c
        WHERE
        c.task_id = #{taskId,jdbcType=VARCHAR}
        ORDER BY
        c.cruise_time DESC
        LIMIT 999999
        ) big_table
        GROUP BY
        big_table.device_mete_id
        ) b ON a.device_mete_id = b.device_mete_id
        <set>
            a.update_time = b.cruise_time,
            a.cruise_result = b.cruise_result,
            a.identify_result = b.identify_result,
            a.pic_path = b.picpath
        </set>
        WHERE a.update_time <![CDATA[<]]> b.cruise_time;
    </update>

    <insert id="batchInsertDeviceMeteUpdate">
        insert into t_std_devicemete_update(
        device_mete_id,
        update_time,
        cruise_result,
        identify_result,
        pic_path
        ) values
        <foreach collection="list" item="meteUpdate" separator=",">
        (
        #{meteUpdate.deviceMeteId, jdbcType=BIGINT},
        #{meteUpdate.updateTime, jdbcType=TIMESTAMP},
        #{meteUpdate.cruiseResult, jdbcType=INTEGER},
        #{meteUpdate.identifyResult, jdbcType=INTEGER},
        #{meteUpdate.picPath, jdbcType=VARCHAR}
        )
        </foreach>
    </insert>
</mapper>
