<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accesstcp.module.device.dao.DeviceModelDao">
    <insert id="batchAdd">
        insert into t_std_mete(
        std_mete_id,
        device_type,
        mete_type,
        mete_kind,
        mete_name,
        alarm_note,
        alarm_explain,
        alarm_type,
        analyse_type,
        unit,
        up_effect,
        down_effect,
        alarm_level,
        alarm_limit,
        high_limit1,
        low_limit1,
        high_limit2,
        low_limit2,
        high_limit3,
        low_limit3,
        high_limit4,
        low_limit4,
        state_zero,
        state_one,
        alarm_delay,
        alarm_cnt,
        threshold_abs,
        threshold_per,
        modulus,
        remark,
        redundant_type,
        label_attri
        )values
        <foreach collection="list" item="TStdMete" separator=",">
            (
            #{TStdMete.stdMeteId, jdbcType=BIGINT},
            #{TStdMete.deviceType, jdbcType=INTEGER},
            #{TStdMete.meteType, jdbcType=VARCHAR},
            #{TStdMete.meteKind, jdbcType=INTEGER},
            #{TStdMete.meteName, jdbcType=VARCHAR},
            #{TStdMete.alarmNote, jdbcType=VARCHAR},
            #{TStdMete.alarmExplain, jdbcType=VARCHAR},
            #{TStdMete.alarmType, jdbcType=VARCHAR},
            #{TStdMete.analyseType, jdbcType=INTEGER},
            #{TStdMete.unit, jdbcType=VARCHAR},
            #{TStdMete.upEffect, jdbcType=REAL},
            #{TStdMete.downEffect, jdbcType=REAL},
            #{TStdMete.alarmLevel, jdbcType=INTEGER},
            #{TStdMete.alarmLimit, jdbcType=INTEGER},
            #{TStdMete.highLimit1, jdbcType=REAL},
            #{TStdMete.lowLimit1, jdbcType=REAL},
            #{TStdMete.highLimit2, jdbcType=REAL},
            #{TStdMete.lowLimit2, jdbcType=REAL},
            #{TStdMete.highLimit3, jdbcType=REAL},
            #{TStdMete.lowLimit3, jdbcType=REAL},
            #{TStdMete.highLimit4, jdbcType=REAL},
            #{TStdMete.lowLimit4, jdbcType=REAL},
            #{TStdMete.stateZero,jdbcType=VARCHAR},
            #{TStdMete.stateOne,jdbcType=VARCHAR},
            #{TStdMete.alarmDelay, jdbcType=INTEGER},
            #{TStdMete.alarmCnt, jdbcType=INTEGER},
            #{TStdMete.thresholdAbs, jdbcType=NUMERIC},
            #{TStdMete.thresholdPer, jdbcType=NUMERIC},
            #{TStdMete.modulus, jdbcType=INTEGER},
            #{TStdMete.remark, jdbcType=VARCHAR},
            #{TStdMete.redundantType, jdbcType=VARCHAR},
            #{TStdMete.labelAttri, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <insert id="batchAddDeviceMetes">
        insert into t_std_devicemete(
        device_mete_id,
        device_id,
        device_point_id,
        custom_id,
        custom_name,
        mete_id,
        mete_kind,
        meter_type,
        mete_name,
        appearance_type,
        device_type,
        inspection_type,
        position_type,
        analyse_type,
        is_ai,
        is_judge,
        unit,
        alarm_note,
        alarm_type,
        up_effect,
        down_effect,
        alarm_level,
        high_limit1,
        low_limit1,
        high_limit2,
        low_limit2,
        alarm_delay,
        alarm_cnt,
        threshold_abs,
        threshold_per,
        mete_type
        modulus,
        remark,
        state_zero,
        state_one,
        is_temdif,
        alarm_state,
        label_attri
        )values
        <foreach collection="list" item="TStdDevicemete" separator=",">
            (
            #{TStdDevicemete.deviceMeteId, jdbcType=BIGINT},
            #{TStdDevicemete.deviceId, jdbcType=BIGINT},
            #{TStdDevicemete.devicePointId, jdbcType=VARCHAR},
            #{TStdDevicemete.customId, jdbcType=VARCHAR},
            #{TStdDevicemete.customName, jdbcType=VARCHAR},
            #{TStdDevicemete.meteId, jdbcType=BIGINT},
            #{TStdDevicemete.meteKind, jdbcType=INTEGER},
            #{TStdDevicemete.meterType, jdbcType=INTEGER},
            #{TStdDevicemete.meteName, jdbcType=VARCHAR},
            #{TStdDevicemete.appearanceType, jdbcType=INTEGER},
            #{TStdDevicemete.deviceType, jdbcType=INTEGER},
            #{TStdDevicemete.inspectionType, jdbcType=INTEGER},
            #{TStdDevicemete.positionType, jdbcType=VARCHAR},
            #{TStdDevicemete.analyseType, jdbcType=INTEGER},
            #{TStdDevicemete.isAi, jdbcType=VARCHAR},
            #{TStdDevicemete.isJudge,jdbcType=VARCHAR},
            #{TStdDevicemete.unit, jdbcType=VARCHAR},
            #{TStdDevicemete.alarmNote, jdbcType=VARCHAR},
            #{TStdDevicemete.alarmType, jdbcType=VARCHAR},
            #{TStdDevicemete.upEffect, jdbcType=REAL},
            #{TStdDevicemete.downEffect, jdbcType=REAL},
            #{TStdDevicemete.alarmLevel, jdbcType=INTEGER},
            #{TStdDevicemete.highLimit1, jdbcType=REAL},
            #{TStdDevicemete.lowLimit1, jdbcType=REAL},
            #{TStdDevicemete.highLimit2, jdbcType=REAL},
            #{TStdDevicemete.lowLimit2, jdbcType=REAL},
            #{TStdDevicemete.alarmDelay, jdbcType=INTEGER},
            #{TStdDevicemete.alarmCnt, jdbcType=INTEGER},
            #{TStdDevicemete.thresholdAbs, jdbcType=NUMERIC},
            #{TStdDevicemete.thresholdPer, jdbcType=NUMERIC},
            #{TStdDevicemete.meteType, jdbcType=VARCHAR},
            #{TStdDevicemete.modulus, jdbcType=INTEGER},
            #{TStdDevicemete.remark, jdbcType=VARCHAR},
            #{TStdDevicemete.stateZero, jdbcType=VARCHAR},
            #{TStdDevicemete.stateOne, jdbcType=VARCHAR},
            #{TStdDevicemete.isTemdif, jdbcType=INTEGER},
            #{TStdDevicemete.alarmState, jdbcType=INTEGER},
            #{TStdDevicemete.labelAttri,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>