<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accesstcp.module.device.dao.DeviceModelDao">
    <insert id="batchAdd">
        insert into t_std_mete(
        std_mete_id,
        device_type,
        mete_type,
        mete_name,
        redundant_type
        )values
        <foreach collection="list" item="TStdMete" separator=",">
            (
            #{TStdMete.stdMeteId, jdbcType=BIGINT},
            #{TStdMete.deviceType, jdbcType=INTEGER},
            #{TStdMete.meteType, jdbcType=VARCHAR},
            #{TStdMete.meteName, jdbcType=VARCHAR},
            #{TStdMete.redundantType, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <insert id="batchAddDeviceMetes">
        insert into t_std_devicemete(
        device_mete_id,
        mete_kind,
        alarm_type,
        alarm_level,
        remark,
        redundant_type
        )values
        <foreach collection="list" item="TStdDevicemete" separator=",">
            (
            #{TStdDevicemete.deviceMeteId, jdbcType=BIGINT},
            #{TStdDevicemete.meteKind, jdbcType=INTEGER},
            #{TStdDevicemete.alarmType, jdbcType=VARCHAR},
            #{TStdDevicemete.alarmLevel, jdbcType=INTEGER},
            #{TStdDevicemete.remark, jdbcType=VARCHAR},
            #{TStdDevicemete.redundantType, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>