<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accesstcp.module.device.dao.SendToUpSystemDao">


    <select id="selectDeviceModel" resultType="java.util.LinkedHashMap">
        SELECT  DISTINCT
        region.region_id as area_id,
        region.region_name as area_name,
        f.up_region_id as bay_id,
        f.up_region_name as bay_name,
        a.instance_id AS device_id,
        (CASE
        WHEN ISNULL(b.mete_name) AND ISNULL(c.inspection_id) AND ISNULL(d.preset_name) THEN ''
        WHEN ISNULL(b.mete_name) AND ISNULL(c.inspection_name) THEN d.preset_name
        WHEN ISNULL(b.mete_name) AND ISNULL(d.preset_img) THEN c.inspection_name
        WHEN ISNULL(c.inspection_name) AND ISNULL(d.preset_name) THEN b.mete_name
        WHEN ISNULL(c.inspection_name) THEN CONCAT(b.mete_name, ' /', d.preset_name)
        WHEN ISNULL(d.preset_name) THEN CONCAT(b.mete_name, ' /', c.inspection_name)
        END)         AS device_name,
        b.custom_id      as component_id,
        m.dict_note    as component_name,
        f.device_id AS main_device_id,
        f.device_name    as main_device_name,
        f.preset_id AS device_preset_id,
        f.camera_id AS device_camera_id,
        j.up_dict        as device_type,
        f.real_code,
        f.alias_name,
        f.model_id,
        g.device_model,
        g.pms_type,
        g.pms_id,
        g.device_vendor,
        g.used_time,
        g.maintenance_count,
        g.responsible_person,
        g.latitude,
        g.longitude,
        g.ip,
        g.port,
        g.voltage_level,
        g.sequence_point,
        g.address,
        case b.meter_type
        when 411 then '1'
        when 412 then '2'
        when 413 then '3'
        when 414 then '4'
        when 415 then '5'
        when 416 then '6'
        when 417 then '7'
        when 418 then '8'
        when 419 then '9'
        end as meter_type,
        b.mete_type,
        o.algorithm_id,
        (b.appearance_type - 419)  as appearance_type,
        b.device_mete_id AS device_mete_id,
        b.device_point_id,
        b.inspection_type,
        b.mete_kind,
        b.position_type,
        b.analyse_type,
        b.is_ai,
        b.is_judge,
        b.unit,
        b.alarm_note,
        b.alarm_type,
        b.up_effect,
        b.down_effect,
        b.state_zero,
        b.state_one,
        b.alarm_state,
        b.alarm_level,
        b.high_limit1,
        b.high_limit2,
        b.high_limit3,
        b.high_limit4,
        b.low_limit1,
        b.low_limit2,
        b.low_limit3,
        b.low_limit4,
        b.alarm_delay,
        b.alarm_cnt,
        b.threshold_abs,
        b.threshold_per,
        b.redundant_type,
        ""               as save_type_list,
        k.dict_note      as recognition_type_list,
        ""               as phase,
        ""               as device_info,
        ""               as data_type,
        ""               as lower_value,
        ""               as upper_value,
        ""               as video_pos,
        a.cruise_type,
        c.inspection_id AS inspection_id,
        d.preset_id AS preset_id,
        d.preset_num,
        d.preset_type,
        CONCAT('/', d.preset_id,'/' ,d.preset_id,'.jpg') AS preset_img,
        REPLACE(d.preset_img, (SELECT content FROM t_sys_param WHERE param_code = 'presetRealImgPath') ,(SELECT content FROM t_sys_param WHERE param_code = 'presetImgPath')) AS local_path,
        robot.robot_code,
        robot.robot_num,
        d.camera_id AS camera_id,
        i.voice_device_id AS voice_id
        FROM t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_algorithm_mete o ON o.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        left join t_robot_info robot on c.robot_id = robot.robot_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        left join t_std_device f on a.device_id = f.device_id
        LEFT JOIN t_std_device_attr g ON g.device_id= f.device_id
        left join t_std_region re on f.up_region_id = re.region_id
        left join t_std_region region on re.up_region_id = region.region_id
        left join t_dict_business j on f.device_type = j.dict_code
        left join t_dict_business k on a.cruise_type = k.dict_code
        LEFT JOIN t_dict_business m ON b.custom_id = m.dict_code
        LEFT JOIN t_voice_device i ON i.voice_device_id = a.cruise_id
    </select>

    <select id="selectRobotInfo" resultType="java.util.LinkedHashMap">
        select a.robot_name             as patroldevice_name,
            a.robot_code                as patroldevice_code,
            b.dict_note                 as device_model,
            c.dict_note                 as manufacturer,
            a.building_user             as use_unit,
            a.robot_source              as device_source,
            DATE_FORMAT(a.commission_date, '%Y-%m-%d %H:%i:%s')           as production_date,
            a.appearance_number         as production_code,
            if(b.dict_code = 399, 0, 1) as istransport,
            ''                          as use_mode,
            (CASE
            WHEN a.light_ip is null AND a.lnferad_IP is null THEN ''
            WHEN locate('.', a.light_ip) > 0 and locate('.', a.lnferad_IP) = 0 THEN '2'
            WHEN locate('.', a.light_ip) = 0 and locate('.', a.lnferad_IP) > 0 THEN '1'
            WHEN locate('.', a.light_ip) AND locate('.', a.lnferad_IP) THEN '3'
            else ''
            end)                        as video_mode,
            a.address                   as place,
            (CASE
            WHEN a.robot_position = 155 THEN '2'
            WHEN a.robot_position = 156 THEN '1'
            WHEN a.robot_position = 399 THEN '3'
            end)                    as type,
            a.remarks                   as patroldevice_info,
            ''                          as robots_code
        from t_robot_info a
            left join t_dict_business b on a.robot_type = b.dict_code
            left join t_dict_business c on a.robot_factory = c.dict_code
        where a.robot_type is not null
    </select>

    <select id="selectDroneInfo" resultType="java.util.LinkedHashMap">
        select a.robot_name                as patroldevice_name,
               a.robot_code                as patroldevice_code,
               b.dict_note                 as device_model,
               c.dict_note                 as manufacturer,
               a.building_user             as use_unit,
               a.robot_source                 as device_source,
               DATE_FORMAT(a.commission_date, '%Y-%m-%d %H:%i:%s')           as production_date,
               a.appearance_number         as production_code,
               if(b.dict_code = 399, 0, 1) as istransport,
               ''                           as use_mode,
               (CASE
                    WHEN a.light_ip is null AND a.lnferad_IP is null THEN ''
                    WHEN locate('.', a.light_ip) > 0 and locate('.', a.lnferad_IP) = 0 THEN '2'
                    WHEN locate('.', a.light_ip) = 0 and locate('.', a.lnferad_IP) > 0 THEN '1'
                    WHEN locate('.', a.light_ip) AND locate('.', a.lnferad_IP) THEN '3'
                    else ''
                   end)                     as video_mode,
                a.address                   as place,
               (CASE
                    WHEN a.drone_position = 674 THEN '13'
                   end)                    as type,
               ''                          as patroldevice_info,
               ''                          as robots_code
        from t_robot_info a
                 left join t_dict_business b on a.drone_type = b.dict_code
                 left join t_dict_business c on a.robot_factory = c.dict_code
        where a.drone_type is not null
    </select>

    <select id="selectVoiceInfo" resultType="java.util.LinkedHashMap">
        select a.voice_device_name         as patroldevice_name,
               a.voice_code                as patroldevice_code,
               b.dict_note                 as device_model,
               c.dict_note                 as manufacturer,
               '亿嘉和'                    as use_unit,
               '亿嘉和'                    as device_source,
               ''           as production_date,
               ''         as production_code,
               ''       as istransport,
               ''                        as use_mode,
               ''                    as video_mode,
               ''                          as place,
               '14'                    as type,
               ''                          as patroldevice_info,
               ''                          as robots_code
        from t_voice_device a
        left join t_dict_business b on a.voice_type = b.dict_code
        left join t_dict_business c on a.voice_factory = c.dict_code
    </select>

    <select id="selectCameraInfo" resultType="java.util.LinkedHashMap">
        select a.camera_name                    as patroldevice_name,
               a.camera_id                      as patroldevice_code,
               b.dict_note                      as device_model,
               c.dict_note                      as manufacturer,
               a.unit                           as use_unit,
               c.dict_note                      as device_source,
                DATE_FORMAT(a.commission_date, '%Y-%m-%d %H:%i:%s')           as production_date,
               ''                               as production_code,
               ''                               as istransport,
               if(a.is_control = 1, '11', '10') as use_mode,
               (CASE
                    WHEN a.camera_type = 205 THEN '1'
                    WHEN a.camera_type = 206 THEN '2'
                   end)                         as video_mode,
               a.address                               as place,
               '10'                             as type,
               ''                               as patroldevice_info,
               ''                               as robots_code
        from t_camera_info a
                 left join t_dict_business b on a.camera_model = b.dict_code
                 left join t_dict_business c on a.vendor_id = c.dict_code
    </select>

    <select id="selectTaskInfo" resultType="java.util.LinkedHashMap">
        SELECT b.up_dict                            as type,
               a.task_id                            as task_code,
               a.task_name,
               a.task_level                         as priority,
               "3"                                  as device_level,
--                IFNULL(a.date_type, "") as time,
		"" as cycle_month,
		"" as  cycle_week,
		"" as cycle_execute_time,
		"" as cycle_start_time,
		"" as cycle_end_time,
		"" as interval_number,
		"" as interval_type,
		"" as interval_execute_time,
        "" as interval_start_time,
        "" as interval_end_time,
        "" as invalid_start_time,
        "" as invalid_end_time,
		'0' isenable,
		u.user_name as creator,
		DATE_FORMAT(a.start_time, '%Y-%m-%d %H:%i:%s')  as fixed_start_time,
        DATE_FORMAT(a.create_time, '%Y-%m-%d %H:%i:%s') as create_time
        from t_cruise_task a
            left join sys_user u on a.create_user_id = u.user_id
        left join t_dict_business b
        on a.type = b.dict_code and b.col_name="plan_type"
        left join t_cruise_result c on a.task_id = c.task_id
    </select>
    <select id="selectInstanceId" resultType="java.lang.Long">
        SELECT a.instance_id
        from t_cruise_task_attr a
        where a.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <resultMap id="maintenanceMap" type="com.yjh.accesstcp.module.device.entity.MaintenanceModel">
        <id column="maintenance_id" property="configCode"/>
        <result column="is_valid" property="enable"/>
        <result column="maintenance_start" property="startTime"/>
        <result column="maintenance_stop" property="endTime"/>
        <result column="coordinate_pixel" property="coordinatePixel"/>
        <result column="device_level" property="deviceLevel"/>
        <collection property="deviceIds" ofType="java.lang.String">
            <id column="device_ids"/>
        </collection>
    </resultMap>
    <select id="selectMaintenanceInfo" resultMap="maintenanceMap">
        select
            maintenance_id,
            maintenance_name,
            IF(device_level=3,instance_ids,device_ids) AS device_ids,
            is_valid ,
            DATE_FORMAT(maintenance_start, '%Y-%m-%d %H:%i:%s') as maintenance_start,
            DATE_FORMAT(maintenance_stop, '%Y-%m-%d %H:%i:%s') as maintenance_stop,
            coordinate_pixel,
            device_level
        from t_device_maintenance
    </select>

    <select id="countTask" resultType="java.util.LinkedHashMap">
        select count(1)                    as totalNum,
               (select count(1)
                from u_patrol_result
                where execute_time BETWEEN #{startTime} and #{endTime}
                  and task_state = 240) as validNum
        from u_patrol_result
        where execute_time BETWEEN #{startTime} and #{endTime}
          and task_state in (240,242,243,244)
    </select>

    <select id="countWarnCheck" resultType="java.util.LinkedHashMap">
        SELECT count(1)           as totalNum,
               count(t.deal_type) as validNum
        FROM (select deal_type, warn_time
              from t_warn_info
              union all
              (
                  select deal_type, defect_time warn_time
                  from t_defect_info
              )) t
        where t.warn_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="countWarnAccuracy" resultType="java.util.LinkedHashMap">
        SELECT count(1)                         as totalNum,
               sum(if(t.deal_type = 286, 1, 0)) as validNum
        FROM (select deal_type, warn_time
              from t_warn_info
              where deal_type is not null
              union all
              (
                  select deal_type, defect_time warn_time from t_defect_info where deal_type is not null
              )) t
        where t.warn_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="countInstanceLoss" resultType="java.util.LinkedHashMap">
        SELECT count(1)                                AS totalNum,
               sum(IF(detail.cruise_status = 252, 0, 1)) AS validNum
        FROM u_patrol_result result
                 LEFT JOIN u_patrol_data_result detail ON detail.task_id = result.task_id
        WHERE result.execute_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="countResultCheck" resultType="java.util.LinkedHashMap">
        SELECT count(1)                      AS totalNum,
               count(result.identify_result) AS validNum
        FROM u_patrol_result result
                 LEFT JOIN u_patrol_data_result detail ON result.task_id = detail.task_id
        WHERE detail.cruise_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="selectRobot" resultType="com.yjh.accesstcp.module.device.entity.DeviceStatisticsInfo">
        SELECT
            robot_id as id,
            robot_code as patrolDeviceCode,
            robot_name as patrolDeviceName,
            commission_date as commissionTime
        FROM
            t_robot_info
        WHERE
            robot_type IS NOT NULL
    </select>
    <select id="selectCamera" resultType="com.yjh.accesstcp.module.device.entity.DeviceStatisticsInfo">
        SELECT
            camera_id as id,
            camera_id as patrolDeviceCode,
            camera_name as patrolDeviceName,
            create_time as commissionTime
        FROM
            t_camera_info
    </select>
    <select id="selectDrone" resultType="com.yjh.accesstcp.module.device.entity.DeviceStatisticsInfo">
        SELECT
            robot_id as id,
            robot_code as patrolDeviceCode,
            robot_name as patrolDeviceName,
            commission_date as commissionTime
        FROM
            t_robot_info
        WHERE
            drone_type IS NOT NULL
    </select>
    <select id="selectMapPath" resultType="java.lang.String">
        select
            phote_path
        from t_robot_info
        where phote_path is not null
        limit 1
    </select>

    <select id="selectMapPathALl" resultType="java.lang.String">
        select
            phote_path
        from t_robot_info
        where phote_path is not null
    </select>

    <select id="selectOnlinePatrolDevice" resultType="java.util.Map">
        SELECT
        a.robot_code,
        (
        CASE
        WHEN a.robot_type IS NULL THEN
        'drone'
        ELSE
        'robot'
        END
        ) AS type
        FROM
        t_robot_info a
        WHERE
        a.robot_status = '在线'
    </select>
    <select id="selectForTask"  resultType="com.yjh.accesstcp.module.device.entity.TCruisePointInstanceNameDetail">
        select a.*,
        (
        CASE
        WHEN ISNULL(b.mete_name)
        AND ISNULL(c.inspection_id)
        AND ISNULL(d.preset_name) THEN
        ''
        WHEN ISNULL(b.mete_name)
        AND ISNULL(c.inspection_name) THEN
        d.preset_name
        WHEN ISNULL(b.mete_name)
        AND ISNULL(d.preset_img) THEN
        c.inspection_name
        WHEN ISNULL(c.inspection_name)
        AND ISNULL(d.preset_name) THEN
        b.mete_name
        WHEN ISNULL(c.inspection_name) THEN
        CONCAT(
        b.mete_name,
        ' /',
        d.preset_name
        )
        WHEN ISNULL(d.preset_name) THEN
        CONCAT(
        b.mete_name,
        ' /',
        c.inspection_name
        )
        END
        ) AS instanceName,
        b.analyse_type,
        b.is_ai,
        b.is_judge,
        f.device_name,
        g.real_code,
        c.robot_id,
        IFNULL(c.inspection_name,d.preset_name) as cruiseName
        FROM
        t_cruise_point_instance a
        LEFT JOIN t_std_devicemete b ON a.device_mete_id = b.device_mete_id
        LEFT JOIN t_robot_inspection c ON a.cruise_id = c.inspection_id
        LEFT JOIN t_camera_preset d ON a.cruise_id = d.preset_id
        left join (select distinct device_id,device_name from t_std_device) f on a.device_id = f.device_id
        left join t_std_device_attr g on f.device_id = g.device_id
        where b.device_point_id in
        <foreach collection="list" open="(" close=")" separator="," item="instanceId">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectRobotCodeForUpperTask" resultType="java.lang.String">
        SELECT DISTINCT
        b.robot_code
        FROM
        t_robot_inspection a
        left join t_robot_info b on a.robot_id = b.robot_id
        WHERE
        a.inspection_id IN
        <foreach collection="list" open="(" close=")" separator="," item="inspectionId">
            #{inspectionId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectRobotTaskInstanceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
        a.instance_id
        FROM
        t_cruise_point_instance a
        LEFT JOIN t_robot_inspection b on a.cruise_id = b.inspection_id
        LEFT JOIN t_robot_info d on b.robot_id = d.robot_id
        where d.robot_code = #{robotCode,jdbcType=VARCHAR}
        AND a.instance_id IN
        <foreach collection="list" open="(" close=")" separator="," item="instanceId">
            #{instanceId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="selectEdgeCodeOfRobotOrDrone" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        edge_code
        FROM
        t_robot_info
        WHERE
        robot_code =#{robotCode, jdbcType = VARCHAR}
    </select>
</mapper>
