<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accesstcp.module.device.dao.TCameraPresetMapper">

    <resultMap id="BaseResultMap" type="com.yjh.accesstcp.module.device.entity.TCameraPreset">
            <id property="presetId" column="preset_id" jdbcType="BIGINT"/>
            <result property="cameraId" column="camera_id" jdbcType="BIGINT"/>
            <result property="presetNum" column="preset_num" jdbcType="INTEGER"/>
            <result property="presetName" column="preset_name" jdbcType="VARCHAR"/>
            <result property="presetType" column="preset_type" jdbcType="INTEGER"/>
            <result property="creatorUser" column="creator_user" jdbcType="VARCHAR"/>
            <result property="creatorTime" column="creator_time" jdbcType="TIMESTAMP"/>
            <result property="isUse" column="is_use" jdbcType="INTEGER"/>
            <result property="presetImg" column="preset_img" jdbcType="VARCHAR"/>
            <result property="inspectionPostion" column="inspection_postion" jdbcType="INTEGER"/>
            <result property="collectStatus" column="collect_status" jdbcType="INTEGER"/>
            <result property="calibrationStatus" column="calibration_status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="originId" column="origin_id" jdbcType="VARCHAR"/>
            <result property="presetPtz" column="preset_ptz" jdbcType="VARCHAR"/>
            <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        preset_id,camera_id,preset_num,
        preset_name,preset_type,
        creator_user,creator_time,is_use,
        preset_img,inspection_postion,collect_status,
        calibration_status,remark,preset_ptz,origin_id,
        edge_code
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_camera_preset
        where  preset_id = #{presetId,jdbcType=BIGINT} 
    </select>

    <update id="updatePtzByPrimaryKey" parameterType="com.yjh.accesstcp.module.device.entity.TCameraPreset">
        update t_camera_preset
        set
        preset_ptz =  #{presetPtz,jdbcType=VARCHAR}
        where   preset_id = #{presetId,jdbcType=BIGINT}
    </update>
</mapper>
