<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessudp.module.device.dao.TCfgMeteDao">

    <insert id="insertForMete" useGeneratedKeys="true" keyProperty="meteId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_mete(
            mete_id,
            mete_type,
            mete_kind,
            mete_name,
            mete_code,
            unit,
            mete_explain_type,
            create_time,
            update_time,
            modulus,
            station_name,
            station_id,
            up_effect,
            down_effect,
            alarmlevel,
            alarmthresbhold,
            describer,
            mete_precision,
            change_limit,
            hilimit1,
            lolimit1,
            hilimit2,
            lolimit2,
            hilimit3,
            lolimit3,
            hilimit4,
            stander,
            controlenable
        )values(
                #{meteId, jdbcType=VARCHAR},
                #{meteType, jdbcType=VARCHAR},
                #{meteKind, jdbcType=INTEGER},
                #{meteName, jdbcType=VARCHAR},
                #{meteCode, jdbcType=VARCHAR},
                #{unit, jdbcType=VARCHAR},
                #{meteExplainType, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP},
                #{modulus, jdbcType=INTEGER},
                #{stationName, jdbcType=VARCHAR},
                #{stationId, jdbcType=VARCHAR},
                #{upEffect, jdbcType=INTEGER},
                #{downEffect, jdbcType=INTEGER},
                #{alarmlevel, jdbcType=INTEGER},
                #{alarmthresbhold, jdbcType=INTEGER},
                #{describer, jdbcType=VARCHAR},
                #{metePrecision, jdbcType=INTEGER},
                #{changeLimit, jdbcType=REAL},
                #{hilimit1, jdbcType=REAL},
                #{lolimit1, jdbcType=REAL},
                #{hilimit2, jdbcType=REAL},
                #{lolimit2, jdbcType=REAL},
                #{hilimit3, jdbcType=REAL},
                #{lolimit3, jdbcType=REAL},
                #{hilimit4, jdbcType=REAL},
                #{stander, jdbcType=REAL},
                #{controlenable, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateForMete" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_mete a <set>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=VARCHAR},</if>
        <if test="meteType != null and meteType != ''">a.mete_type = #{meteType, jdbcType=VARCHAR},</if>
        <if test="meteKind != null ">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>
        <if test="unit != null and unit != ''">a.unit = #{unit, jdbcType=VARCHAR},</if>
        <if test="meteExplainType != null and meteExplainType != ''">a.mete_explain_type = #{meteExplainType, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="updateTime != null and updateTime != ''">a.update_time = #{updateTime, jdbcType=TIMESTAMP},</if>
        <if test="modulus != null ">a.modulus = #{modulus, jdbcType=INTEGER},</if>
        <if test="stationName != null and stationName != ''">a.station_name = #{stationName, jdbcType=VARCHAR},</if>
        <if test="stationId != null and stationId != ''">a.station_id = #{stationId, jdbcType=VARCHAR},</if>
        <if test="upEffect != null ">a.up_effect = #{upEffect, jdbcType=INTEGER},</if>
        <if test="downEffect != null ">a.down_effect = #{downEffect, jdbcType=INTEGER},</if>
        <if test="alarmlevel != null ">a.alarmlevel = #{alarmlevel, jdbcType=INTEGER},</if>
        <if test="alarmthresbhold != null ">a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER},</if>
        <if test="describer != null and describer != ''">a.describer = #{describer, jdbcType=VARCHAR},</if>
        <if test="metePrecision != null">a.mete_precision = #{metePrecision, jdbcType=INTEGER},</if>
        <if test="changeLimit != null and changeLimit != ''">a.change_limit = #{changeLimit, jdbcType=REAL},</if>
        <if test="hilimit1 != null and hilimit1 != ''">a.hilimit1 = #{hilimit1, jdbcType=REAL},</if>
        <if test="lolimit1 != null and lolimit1 != ''">a.lolimit1 = #{lolimit1, jdbcType=REAL},</if>
        <if test="hilimit2 != null and hilimit2 != ''">a.hilimit2 = #{hilimit2, jdbcType=REAL},</if>
        <if test="lolimit2 != null and lolimit2 != ''">a.lolimit2 = #{lolimit2, jdbcType=REAL},</if>
        <if test="hilimit3 != null and hilimit3 != ''">a.hilimit3 = #{hilimit3, jdbcType=REAL},</if>
        <if test="lolimit3 != null and lolimit3 != ''">a.lolimit3 = #{lolimit3, jdbcType=REAL},</if>
        <if test="hilimit4 != null and hilimit4 != ''">a.hilimit4 = #{hilimit4, jdbcType=REAL},</if>
        <if test="stander != null and stander != ''">a.stander = #{stander, jdbcType=REAL},</if>
        <if test="controlenable != null ">a.controlenable = #{controlenable, jdbcType=INTEGER},</if>
    </set>
        where a.mete_id = #{meteId, jdbcType=VARCHAR}
    </update>

    <insert id="insertForDevice" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_device(
            device_id,
            device_name,
            device_type,
            device_code,
            station_id,
            relation_code,
            create_time,
            update_time,
            remark
        )values(
                #{deviceId, jdbcType=VARCHAR},
                #{deviceName, jdbcType=VARCHAR},
                #{deviceType, jdbcType=VARCHAR},
                #{deviceCode, jdbcType=VARCHAR},
                #{stationId, jdbcType=VARCHAR},
                #{relationCode, jdbcType=VARCHAR},
                CURRENT_TIME (),
                CURRENT_TIME (),
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateForDevice" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_device a <set>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=VARCHAR},</if>
        <if test="deviceName != null and deviceName != ''">a.device_name = #{deviceName, jdbcType=VARCHAR},</if>
        <if test="deviceType != null and deviceType != ''">a.device_type = #{deviceType, jdbcType=VARCHAR},</if>
        <if test="deviceCode != null and deviceCode != ''">a.device_code = #{deviceCode, jdbcType=VARCHAR},</if>
        <if test="stationId != null and stationId != ''">a.station_id = #{stationId, jdbcType=VARCHAR},</if>
        <if test="relationCode != null and relationCode != ''">a.relation_code = #{relationCode, jdbcType=VARCHAR},</if>
        a.update_time = CURRENT_TIME (),
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
        where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <insert id="insertForTeleadjust" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_teleadjust(
            device_id,
            mete_id,
            mete_name,
            up_effect,
            down_effect,
            mete_precision,
            unit,
            mete_index,
            mete_cid,
            adjust_kind,
            last_value,
            last_time,
            mete_code,
            device_type,
            description,
            stander,
            controlenable
        )values(
                #{deviceId, jdbcType=VARCHAR},
                #{meteId, jdbcType=VARCHAR},
                #{meteName, jdbcType=VARCHAR},
                #{upEffect, jdbcType=REAL},
                #{downEffect, jdbcType=REAL},
                #{metePrecision, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR},
                #{meteIndex, jdbcType=INTEGER},
                #{meteCid, jdbcType=INTEGER},
                #{adjustKind, jdbcType=INTEGER},
                #{lastValue, jdbcType=REAL},
                #{lastTime, jdbcType=TIMESTAMP},
                #{meteCode, jdbcType=VARCHAR},
                #{deviceType, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                #{stander, jdbcType=REAL},
                #{controlenable, jdbcType=INTEGER}
        )
    </insert>

    <update id="updateForTeleadjust" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_teleadjust a <set>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=VARCHAR},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=VARCHAR},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="upEffect != null and upEffect != ''">a.up_effect = #{upEffect, jdbcType=REAL},</if>
        <if test="downEffect != null and downEffect != ''">a.down_effect = #{downEffect, jdbcType=REAL},</if>
        <if test="metePrecision != null ">a.mete_precision = #{metePrecision, jdbcType=INTEGER},</if>
        <if test="unit != null and unit != ''">a.unit = #{unit, jdbcType=VARCHAR},</if>
        <if test="meteIndex != null">a.mete_index = #{meteIndex, jdbcType=INTEGER},</if>
        <if test="meteCid != null ">a.mete_cid = #{meteCid, jdbcType=INTEGER},</if>
        <if test="adjustKind != null ">a.adjust_kind = #{adjustKind, jdbcType=INTEGER},</if>
        <if test="lastValue != null and lastValue != ''">a.last_value = #{lastValue, jdbcType=REAL},</if>
        <if test="lastTime != null and lastTime != ''">a.last_time = #{lastTime, jdbcType=TIMESTAMP},</if>
        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>
        <if test="deviceType != null and deviceType != ''">a.device_type = #{deviceType, jdbcType=VARCHAR},</if>
        <if test="description != null and description != ''">a.description = #{description, jdbcType=VARCHAR},</if>
        <if test="stander != null and stander != ''">a.stander = #{stander, jdbcType=REAL},</if>
        <if test="controlenable != null ">a.controlenable = #{controlenable, jdbcType=INTEGER},</if>
    </set>
        where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <insert id="insertForTelecontrol" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_telecontrol(
            device_id,
            mete_id,
            mete_name,
            mete_index,
            mete_cid,
            control_status,
            enable_string,
            succeed_string,
            trigger_string,
            control_value,
            mete_code,
            device_type,
            description,
            describer
        )values(
                #{deviceId, jdbcType=VARCHAR},
                #{meteId, jdbcType=VARCHAR},
                #{meteName, jdbcType=VARCHAR},
                #{meteIndex, jdbcType=INTEGER},
                #{meteCid, jdbcType=INTEGER},
                #{controlStatus, jdbcType=INTEGER},
                #{enableString, jdbcType=VARCHAR},
                #{succeedString, jdbcType=VARCHAR},
                #{triggerString, jdbcType=VARCHAR},
                #{controlValue, jdbcType=INTEGER},
                #{meteCode, jdbcType=VARCHAR},
                #{deviceType, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                #{describer, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateForTelecontrol" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_telecontrol a <set>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=VARCHAR},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=VARCHAR},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="meteIndex != null ">a.mete_index = #{meteIndex, jdbcType=INTEGER},</if>
        <if test="meteCid != null ">a.mete_cid = #{meteCid, jdbcType=INTEGER},</if>
        <if test="controlStatus != null ">a.control_status = #{controlStatus, jdbcType=INTEGER},</if>
        <if test="enableString != null and enableString != ''">a.enable_string = #{enableString, jdbcType=VARCHAR},</if>
        <if test="succeedString != null and succeedString != ''">a.succeed_string = #{succeedString, jdbcType=VARCHAR},</if>
        <if test="triggerString != null and triggerString != ''">a.trigger_string = #{triggerString, jdbcType=VARCHAR},</if>
        <if test="controlValue != null ">a.control_value = #{controlValue, jdbcType=INTEGER},</if>
        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>
        <if test="deviceType != null and deviceType != ''">a.device_type = #{deviceType, jdbcType=VARCHAR},</if>
        <if test="description != null and description != ''">a.description = #{description, jdbcType=VARCHAR},</if>
        <if test="describer != null and describer != ''">a.describer = #{describer, jdbcType=VARCHAR},</if>
    </set>
        where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <insert id="insertForTelemeter" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_telemeter(
            device_id,
            mete_id,
            mete_name,
            up_effect,
            down_effect,
            mete_precision,
            unit,
            mete_index,
            mete_cid,
            limit_band,
            change_limit,
            valid_mid,
            valid_string,
            invalid_value,
            last_value,
            last_time,
            mete_code,
            device_type,
            description,
            hilimit1,
            lolimit1,
            hilimit2,
            lolimit2,
            hilimit3,
            lolimit3,
            hilimit4,
            lolimit4,
            stander,
            isshield,
            storageperiod,
            link_mete_id
        )values(
                #{deviceId, jdbcType=VARCHAR},
                #{meteId, jdbcType=VARCHAR},
                #{meteName, jdbcType=VARCHAR},
                #{upEffect, jdbcType=REAL},
                #{downEffect, jdbcType=REAL},
                #{metePrecision, jdbcType=INTEGER},
                #{unit, jdbcType=VARCHAR},
                #{meteIndex, jdbcType=INTEGER},
                #{meteCid, jdbcType=INTEGER},
                #{limitBand, jdbcType=REAL},
                #{changeLimit, jdbcType=REAL},
                #{validMid, jdbcType=VARCHAR},
                #{validString, jdbcType=VARCHAR},
                #{invalidValue, jdbcType=REAL},
                #{lastValue, jdbcType=REAL},
                #{lastTime, jdbcType=TIMESTAMP},
                #{meteCode, jdbcType=VARCHAR},
                #{deviceType, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                #{hilimit1, jdbcType=REAL},
                #{lolimit1, jdbcType=REAL},
                #{hilimit2, jdbcType=REAL},
                #{lolimit2, jdbcType=REAL},
                #{hilimit3, jdbcType=REAL},
                #{lolimit3, jdbcType=REAL},
                #{hilimit4, jdbcType=REAL},
                #{lolimit4, jdbcType=REAL},
                #{stander, jdbcType=REAL},
                #{isshield, jdbcType=INTEGER},
                #{storageperiod, jdbcType=BIGINT},
                #{linkMeteId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateForTelemeter" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_telemeter a <set>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=VARCHAR},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=VARCHAR},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="upEffect != null and upEffect != ''">a.up_effect = #{upEffect, jdbcType=REAL},</if>
        <if test="downEffect != null and downEffect != ''">a.down_effect = #{downEffect, jdbcType=REAL},</if>
        <if test="metePrecision != null ">a.mete_precision = #{metePrecision, jdbcType=INTEGER},</if>
        <if test="unit != null and unit != ''">a.unit = #{unit, jdbcType=VARCHAR},</if>
        <if test="meteIndex != null ">a.mete_index = #{meteIndex, jdbcType=INTEGER},</if>
        <if test="meteCid != null ">a.mete_cid = #{meteCid, jdbcType=INTEGER},</if>
        <if test="limitBand != null and limitBand != ''">a.limit_band = #{limitBand, jdbcType=REAL},</if>
        <if test="changeLimit != null and changeLimit != ''">a.change_limit = #{changeLimit, jdbcType=REAL},</if>
        <if test="validMid != null and validMid != ''">a.valid_mid = #{validMid, jdbcType=VARCHAR},</if>
        <if test="validString != null and validString != ''">a.valid_string = #{validString, jdbcType=VARCHAR},</if>
        <if test="invalidValue != null and invalidValue != ''">a.invalid_value = #{invalidValue, jdbcType=REAL},</if>
        <if test="lastValue != null and lastValue != ''">a.last_value = #{lastValue, jdbcType=REAL},</if>
        <if test="lastTime != null and lastTime != ''">a.last_time = #{lastTime, jdbcType=TIMESTAMP},</if>
        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>
        <if test="deviceType != null and deviceType != ''">a.device_type = #{deviceType, jdbcType=VARCHAR},</if>
        <if test="description != null and description != ''">a.description = #{description, jdbcType=VARCHAR},</if>
        <if test="hilimit1 != null and hilimit1 != ''">a.hilimit1 = #{hilimit1, jdbcType=REAL},</if>
        <if test="lolimit1 != null and lolimit1 != ''">a.lolimit1 = #{lolimit1, jdbcType=REAL},</if>
        <if test="hilimit2 != null and hilimit2 != ''">a.hilimit2 = #{hilimit2, jdbcType=REAL},</if>
        <if test="lolimit2 != null and lolimit2 != ''">a.lolimit2 = #{lolimit2, jdbcType=REAL},</if>
        <if test="hilimit3 != null and hilimit3 != ''">a.hilimit3 = #{hilimit3, jdbcType=REAL},</if>
        <if test="lolimit3 != null and lolimit3 != ''">a.lolimit3 = #{lolimit3, jdbcType=REAL},</if>
        <if test="hilimit4 != null and hilimit4 != ''">a.hilimit4 = #{hilimit4, jdbcType=REAL},</if>
        <if test="lolimit4 != null and lolimit4 != ''">a.lolimit4 = #{lolimit4, jdbcType=REAL},</if>
        <if test="stander != null and stander != ''">a.stander = #{stander, jdbcType=REAL},</if>
        <if test="isshield != null ">a.isshield = #{isshield, jdbcType=INTEGER},</if>
        <if test="storageperiod != null and storageperiod != ''">a.storageperiod = #{storageperiod, jdbcType=BIGINT},</if>
        <if test="linkMeteId != null and linkMeteId != ''">a.link_mete_id = #{linkMeteId, jdbcType=VARCHAR},</if>
    </set>
        where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <insert id="insertForTelesignal" useGeneratedKeys="true" keyProperty="deviceId" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        insert into t_cfg_telesignal(
            device_id,
            mete_id,
            mete_name,
            up_effect,
            down_effect,
            mete_index,
            mete_cid,
            signal_kind,
            last_value,
            last_time,
            explain_type,
            report_type,
            report_level,
            mask_type,
            mask_mid,
            mask_string,
            mask_value,
            delay_time,
            mete_code,
            device_type,
            description,
            isshield,
            storageperiod,
            describer,
            alarmthresbhold,
            alarmlevel,
            link_mete_id
        )values(
                #{deviceId, jdbcType=VARCHAR},
                #{meteId, jdbcType=VARCHAR},
                #{meteName, jdbcType=VARCHAR},
                #{upEffect, jdbcType=INTEGER},
                #{downEffect, jdbcType=INTEGER},
                #{meteIndex, jdbcType=INTEGER},
                #{meteCid, jdbcType=INTEGER},
                #{signalKind, jdbcType=INTEGER},
                #{lastValue, jdbcType=INTEGER},
                #{lastTime, jdbcType=TIMESTAMP},
                #{explainType, jdbcType=INTEGER},
                #{reportType, jdbcType=INTEGER},
                #{reportLevel, jdbcType=INTEGER},
                #{maskType, jdbcType=INTEGER},
                #{maskMid, jdbcType=VARCHAR},
                #{maskString, jdbcType=VARCHAR},
                #{maskValue, jdbcType=INTEGER},
                #{delayTime, jdbcType=INTEGER},
                #{meteCode, jdbcType=VARCHAR},
                #{deviceType, jdbcType=VARCHAR},
                #{description, jdbcType=VARCHAR},
                #{isshield, jdbcType=INTEGER},
                #{storageperiod, jdbcType=BIGINT},
                #{describer, jdbcType=VARCHAR},
                #{alarmthresbhold, jdbcType=INTEGER},
                #{alarmlevel, jdbcType=INTEGER},
                #{linkMeteId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateForTelesignal" parameterType="com.yjh.accessudp.module.device.entity.SYAllInfo">
        update t_cfg_telesignal a <set>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=VARCHAR},</if>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=VARCHAR},</if>
        <if test="meteName != null and meteName != ''">a.mete_name = #{meteName, jdbcType=VARCHAR},</if>
        <if test="upEffect != null ">a.up_effect = #{upEffect, jdbcType=INTEGER},</if>
        <if test="downEffect != null ">a.down_effect = #{downEffect, jdbcType=INTEGER},</if>
        <if test="meteIndex != null ">a.mete_index = #{meteIndex, jdbcType=INTEGER},</if>
        <if test="meteCid != null ">a.mete_cid = #{meteCid, jdbcType=INTEGER},</if>
        <if test="signalKind != null ">a.signal_kind = #{signalKind, jdbcType=INTEGER},</if>
        <if test="lastValue != null ">a.last_value = #{lastValue, jdbcType=INTEGER},</if>
        <if test="lastTime != null and lastTime != ''">a.last_time = #{lastTime, jdbcType=TIMESTAMP},</if>
        <if test="explainType != null ">a.explain_type = #{explainType, jdbcType=INTEGER},</if>
        <if test="reportType != null ">a.report_type = #{reportType, jdbcType=INTEGER},</if>
        <if test="reportLevel != null ">a.report_level = #{reportLevel, jdbcType=INTEGER},</if>
        <if test="maskType != null ">a.mask_type = #{maskType, jdbcType=INTEGER},</if>
        <if test="maskMid != null and maskMid != ''">a.mask_mid = #{maskMid, jdbcType=VARCHAR},</if>
        <if test="maskString != null and maskString != ''">a.mask_string = #{maskString, jdbcType=VARCHAR},</if>
        <if test="maskValue != null ">a.mask_value = #{maskValue, jdbcType=INTEGER},</if>
        <if test="delayTime != null ">a.delay_time = #{delayTime, jdbcType=INTEGER},</if>
        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>
        <if test="deviceType != null and deviceType != ''">a.device_type = #{deviceType, jdbcType=VARCHAR},</if>
        <if test="description != null and description != ''">a.description = #{description, jdbcType=VARCHAR},</if>
        <if test="isshield != null ">a.isshield = #{isshield, jdbcType=INTEGER},</if>
        <if test="storageperiod != null and storageperiod != ''">a.storageperiod = #{storageperiod, jdbcType=BIGINT},</if>
        <if test="describer != null and describer != ''">a.describer = #{describer, jdbcType=VARCHAR},</if>
        <if test="alarmthresbhold != null ">a.alarmthresbhold = #{alarmthresbhold, jdbcType=INTEGER},</if>
        <if test="alarmlevel != null ">a.alarmlevel = #{alarmlevel, jdbcType=INTEGER},</if>
        <if test="linkMeteId != null and linkMeteId != ''">a.link_mete_id = #{linkMeteId, jdbcType=VARCHAR},</if>
    </set>
        where a.device_id = #{deviceId, jdbcType=VARCHAR}
    </update>

    <select id="selectByMeteId" parameterType="java.lang.String" resultType="java.lang.String">
        select
        f.device_id
        FROM t_cfg_mete e
            left join t_cfg_telecontrol a on a.mete_id = e.mete_id
            left join t_cfg_telecontrol b on b.mete_id = e.mete_id
            left join t_cfg_telemeter c on c.mete_id = e.mete_id
            left join t_cfg_telesignal d on d.mete_id = e.mete_id
            left join t_cfg_device f on (a.device_id = f.device_id or b.device_id = f.device_id or c.device_id = f.device_id or d.device_id = f.device_id )
            WHERE e.mete_id = #{meteId, jdbcType=VARCHAR}
    </select>

    <select id="selectByPrimaryIdTCfgDataCurrent" parameterType="java.lang.Long" resultType="com.yjh.accessudp.module.device.entity.TCfgDataCurrent">
        select
        a.mete_id,
        a.device_id,
        a.cunstom_id,
        a.record_time,
        a.mete_kind,
        a.region_id,
        a.mete_value,
        a.last_mete_value
        from t_cfg_data_current a
        where 1 = 1
            and a.mete_id = #{meteId, jdbcType=BIGINT}
        limit 1
    </select>

    <update id="updateTCfgDataCurrent" parameterType="com.yjh.accessudp.module.device.entity.TCfgDataCurrent">
        update t_cfg_data_current a <set>
        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>
        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>
        <if test="cunstomId != null and cunstomId != ''">a.cunstom_id = #{cunstomId, jdbcType=VARCHAR},</if>
        a.record_time = #{recordTime, jdbcType=TIMESTAMP},
        <if test="meteKind != null">a.mete_kind = #{meteKind, jdbcType=INTEGER},</if>
        <if test="regionId != null and regionId != ''">a.region_id = #{regionId, jdbcType=VARCHAR},</if>
        <if test="meteValue != null and meteValue != ''">a.mete_value = #{meteValue, jdbcType=VARCHAR},</if>
        <if test="lastMeteValue != null and lastMeteValue != ''">a.last_mete_value = #{lastMeteValue, jdbcType=VARCHAR},</if>
    </set>
        where a.mete_id = #{meteId, jdbcType=BIGINT}
    </update>

    <insert id="insertTCfgDataCurrent" useGeneratedKeys="true" keyProperty="meteId" parameterType="com.yjh.accessudp.module.device.entity.TCfgDataCurrent">
        insert into t_cfg_data_current(
            mete_id,
            device_id,
            cunstom_id,
            record_time,
            mete_kind,
            region_id,
            mete_value,
            last_mete_value
        )values(
                #{meteId, jdbcType=BIGINT},
                #{deviceId, jdbcType=BIGINT},
                #{cunstomId, jdbcType=VARCHAR},
                #{recordTime, jdbcType=TIMESTAMP},
                #{meteKind, jdbcType=INTEGER},
                #{regionId, jdbcType=VARCHAR},
                #{meteValue, jdbcType=VARCHAR},
                #{lastMeteValue, jdbcType=VARCHAR}
        )
    </insert>

<!--    <insert id="insert" useGeneratedKeys="true" keyProperty="alarmNo" parameterType="com.yjh.accessudp.module.device.entity.TCfgAlarmHistory">-->
<!--        insert into t_cfg_alarm_history(-->
<!--            alarm_no,-->
<!--            device_id,-->
<!--            cunstom_id,-->
<!--            mete_id,-->
<!--            alarm_time,-->
<!--            alarm_level,-->
<!--            alarm_value,-->
<!--            alarm_desc,-->
<!--            clear_time,-->
<!--            clear_value,-->
<!--            confirm_state,-->
<!--            confirm_people,-->
<!--            confirm_time,-->
<!--            confirm_remark,-->
<!--            defect,-->
<!--            defect_level,-->
<!--            force_clear_reason,-->
<!--            mete_code,-->
<!--            is_clear,-->
<!--            show_type,-->
<!--            update_time-->
<!--        )values(-->
<!--                #{alarmNo, jdbcType=BIGINT},-->
<!--                #{deviceId, jdbcType=BIGINT},-->
<!--                #{cunstomId, jdbcType=VARCHAR},-->
<!--                #{meteId, jdbcType=BIGINT},-->
<!--                #{alarmTime, jdbcType=TIMESTAMP},-->
<!--                #{alarmLevel, jdbcType=INTEGER},-->
<!--                #{alarmValue, jdbcType=VARCHAR},-->
<!--                #{alarmDesc, jdbcType=VARCHAR},-->
<!--                #{clearTime, jdbcType=TIMESTAMP},-->
<!--                #{clearValue, jdbcType=DECIMAL},-->
<!--                #{confirmState, jdbcType=INTEGER},-->
<!--                #{confirmPeople, jdbcType=VARCHAR},-->
<!--                #{confirmTime, jdbcType=TIMESTAMP},-->
<!--                #{confirmRemark, jdbcType=VARCHAR},-->
<!--                #{defect, jdbcType=INTEGER},-->
<!--                #{defectLevel, jdbcType=INTEGER},-->
<!--                #{forceClearReason, jdbcType=VARCHAR},-->
<!--                #{meteCode, jdbcType=VARCHAR},-->
<!--                #{isClear, jdbcType=VARCHAR},-->
<!--                #{showType, jdbcType=VARCHAR},-->
<!--                #{updateTime, jdbcType=TIMESTAMP}-->
<!--        )-->
<!--    </insert>-->

<!--    <update id="update" parameterType="com.yjh.accessudp.module.device.entity.TCfgAlarmHistory">-->
<!--        update t_cfg_alarm_history a <set>-->
<!--        <if test="alarmNo != null and alarmNo != ''">a.alarm_no = #{alarmNo, jdbcType=BIGINT},</if>-->
<!--        <if test="deviceId != null and deviceId != ''">a.device_id = #{deviceId, jdbcType=BIGINT},</if>-->
<!--        <if test="cunstomId != null and cunstomId != ''">a.cunstom_id = #{cunstomId, jdbcType=VARCHAR},</if>-->
<!--        <if test="meteId != null and meteId != ''">a.mete_id = #{meteId, jdbcType=BIGINT},</if>-->
<!--        a.alarm_time = #{alarmTime, jdbcType=TIMESTAMP},-->
<!--        <if test="alarmLevel != null">a.alarm_level = #{alarmLevel, jdbcType=INTEGER},</if>-->
<!--        <if test="alarmValue != null and alarmValue != ''">a.alarm_value = #{alarmValue, jdbcType=VARCHAR},</if>-->
<!--        <if test="alarmDesc != null and alarmDesc != ''">a.alarm_desc = #{alarmDesc, jdbcType=VARCHAR},</if>-->
<!--        a.clear_time = #{clearTime, jdbcType=TIMESTAMP},-->
<!--        <if test="clearValue != null and clearValue != ''">a.clear_value = #{clearValue, jdbcType=DECIMAL},</if>-->
<!--        <if test="confirmState != null">a.confirm_state = #{confirmState, jdbcType=INTEGER},</if>-->
<!--        <if test="confirmPeople != null and confirmPeople != ''">a.confirm_people = #{confirmPeople, jdbcType=VARCHAR},</if>-->
<!--        a.confirm_time = #{confirmTime, jdbcType=TIMESTAMP},-->
<!--        <if test="confirmRemark != null and confirmRemark != ''">a.confirm_remark = #{confirmRemark, jdbcType=VARCHAR},</if>-->
<!--        <if test="defect != null">a.defect = #{defect, jdbcType=INTEGER},</if>-->
<!--        <if test="defectLevel != null">a.defect_level = #{defectLevel, jdbcType=INTEGER},</if>-->
<!--        <if test="forceClearReason != null and forceClearReason != ''">a.force_clear_reason = #{forceClearReason, jdbcType=VARCHAR},</if>-->
<!--        <if test="meteCode != null and meteCode != ''">a.mete_code = #{meteCode, jdbcType=VARCHAR},</if>-->
<!--        <if test="isClear != null and isClear != ''">a.is_clear = #{isClear, jdbcType=VARCHAR},</if>-->
<!--        <if test="showType != null and showType != ''">a.show_type = #{showType, jdbcType=VARCHAR},</if>-->
<!--        a.update_time = #{updateTime, jdbcType=TIMESTAMP},-->
<!--    </set>-->
<!--        where a.alarm_no = #{alarmNo, jdbcType=BIGINT}-->
<!--    </update>-->

<!--    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.accessudp.module.device..entity.TCfgAlarmHistory">-->
<!--        select-->
<!--        a.alarm_no,-->
<!--        a.device_id,-->
<!--        a.cunstom_id,-->
<!--        a.mete_id,-->
<!--        a.alarm_time,-->
<!--        a.alarm_level,-->
<!--        a.alarm_value,-->
<!--        a.alarm_desc,-->
<!--        a.clear_time,-->
<!--        a.clear_value,-->
<!--        a.confirm_state,-->
<!--        a.confirm_people,-->
<!--        a.confirm_time,-->
<!--        a.confirm_remark,-->
<!--        a.defect,-->
<!--        a.defect_level,-->
<!--        a.force_clear_reason,-->
<!--        a.mete_code,-->
<!--        a.is_clear,-->
<!--        a.show_type,-->
<!--        a.update_time-->
<!--        from t_cfg_alarm_history a-->
<!--        where 1 = 1-->
<!--            and a.alarm_no = #{alarmNo, jdbcType=BIGINT}-->
<!--        limit 1-->
<!--    </select>-->
</mapper>
