<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessvideo.module.device.dao.AnalyseDataOperateDao">

    <resultMap id="warnInfo" type="com.yjh.accessvideo.module.device.entity.TWarnInfo">
        <id column="warn_id" jdbcType="BIGINT" property="warnId" />
        <result column="warn_level" jdbcType="INTEGER" property="warnLevel" />
        <result column="warn_time" jdbcType="TIMESTAMP" property="warnTime" />
        <result column="warn_type" jdbcType="INTEGER" property="warnType" />
        <result column="warn_name" jdbcType="VARCHAR" property="warnName" />
        <result column="warn_content" jdbcType="VARCHAR" property="warnContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_warn" jdbcType="INTEGER" property="isWarn" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="defect_model" jdbcType="INTEGER" property="defectModel" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="warn_subtype" jdbcType="INTEGER" property="warnSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="value" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
    </resultMap>

    <resultMap id="videoAnalyseResult" type="com.yjh.accessvideo.module.device.entity.TVideoAnalyseResult">
        <id column="algorithm_result_id" jdbcType="BIGINT" property="algorithmResultId" />
        <result column="analyse_time" jdbcType="TIMESTAMP" property="analyseTime" />
        <result column="analyse_conf_id" jdbcType="VARCHAR" property="analyseConfId" />
        <result column="algorithm_result" jdbcType="VARCHAR" property="algorithmResult" />
        <result column="algorithm_picture" jdbcType="VARCHAR" property="algorithmPicture" />
        <result column="algorithm_status" jdbcType="INTEGER" property="algorithmStatus" />
        <result column="result_rate" jdbcType="VARCHAR" property="resultRate" />
        <result column="result_describe" jdbcType="VARCHAR" property="resultDescribe" />
        <result column="reserver" jdbcType="INTEGER" property="reserver" />
    </resultMap>

    <resultMap id="cruiseResult" type="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="c_type" jdbcType="INTEGER" property="cType" />
        <result column="c_state" jdbcType="INTEGER" property="cState" />
        <result column="modify_state" jdbcType="INTEGER" property="modifyState" />
        <result column="task_count" jdbcType="INTEGER" property="taskCount" />
        <result column="task_wait" jdbcType="INTEGER" property="taskWait" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="weather" jdbcType="VARCHAR" property="weather" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="execute_time" jdbcType="TIMESTAMP" property="executeTime" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="cruiseTaskResult" type="com.yjh.accessvideo.module.device.entity.TCruiseTaskResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="task_name" jdbcType="VARCHAR" property="taskName" />
        <result column="task_abnormal" jdbcType="INTEGER" property="taskAbnormal" />
        <result column="task_alarm" jdbcType="INTEGER" property="taskAlarm" />
        <result column="run_execute" jdbcType="VARCHAR" property="runExecute" />
        <result column="cruise_task_time" jdbcType="TIMESTAMP" property="cruiseTaskTime" />
        <result column="task_status" jdbcType="INTEGER" property="taskStatus" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="cruiseTaskResultDetail" type="com.yjh.accessvideo.module.device.entity.TCruiseTaskResultDetail">
        <id column="cruise_result_id" jdbcType="VARCHAR" property="cruiseResultId" />
        <result column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
        <result column="cruise_time" jdbcType="TIMESTAMP" property="cruiseTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="cruise_status" jdbcType="INTEGER" property="cruiseStatus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="cruiseDataResult" type="com.yjh.accessvideo.module.device.entity.TCruiseDataResult">
        <id column="cruise_data_id" jdbcType="BIGINT" property="cruiseDataId" />
        <result column="cruise_result_id" jdbcType="VARCHAR" property="cruiseResultId" />
        <result column="cruise_id" jdbcType="BIGINT" property="cruiseId" />
        <result column="cruise_name" jdbcType="VARCHAR" property="cruiseName" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="result_desc" jdbcType="VARCHAR" property="resultDesc" />
        <result column="result_num" jdbcType="VARCHAR" property="resultNum" />
        <result column="modify_num" jdbcType="VARCHAR" property="modifyNum" />
        <result column="picpath" jdbcType="VARCHAR" property="picpath" />
        <result column="person_check" jdbcType="VARCHAR" property="personCheck" />
        <result column="origpic" jdbcType="VARCHAR" property="origpic" />
        <result column="cruise_abnormal" jdbcType="INTEGER" property="cruiseAbnormal" />
        <result column="cruise_result" jdbcType="INTEGER" property="cruiseResult" />
        <result column="evaluation_state" jdbcType="INTEGER" property="evaluationState" />
        <result column="identify_state" jdbcType="INTEGER" property="identifyState" />
        <result column="identify_result" jdbcType="INTEGER" property="identifyResult" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="is_warn" jdbcType="INTEGER" property="isWarn"/>
        <result column="fir_name" jdbcType="VARCHAR" property="firName"/>
        <result column="fir_date" jdbcType="TIMESTAMP" property="firDate"/>
        <result column="result_pic" jdbcType="VARCHAR" property="resultPic"/>
    </resultMap>

    <resultMap id="stdDeviceMete" type="com.yjh.accessvideo.module.device.entity.TStdDevicemete">
        <id column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="mete_id" jdbcType="BIGINT" property="meteId" />
        <result column="mete_kind" jdbcType="VARCHAR" property="meteKind" />
        <result column="mete_type" jdbcType="VARCHAR" property="meteType" />
        <result column="mete_name" jdbcType="VARCHAR" property="meteName" />
        <result column="device_type" jdbcType="INTEGER" property="deviceType" />
        <result column="position_type" jdbcType="VARCHAR" property="positionType" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="alarm_note" jdbcType="VARCHAR" property="alarmNote" />
        <result column="alarm_type" jdbcType="VARCHAR" property="alarmType" />
        <result column="up_effect" jdbcType="REAL" property="upEffect" />
        <result column="down_effect" jdbcType="REAL" property="downEffect" />
        <result column="state_zero" jdbcType="VARCHAR" property="stateZero" />
        <result column="state_one" jdbcType="VARCHAR" property="stateOne" />
        <result column="alarm_state" jdbcType="INTEGER" property="alarmState" />
        <result column="alarm_level" jdbcType="INTEGER" property="alarmLevel" />
        <result column="high_limit1" jdbcType="REAL" property="highLimit1" />
        <result column="low_limit1" jdbcType="REAL" property="lowLimit1" />
        <result column="high_limit2" jdbcType="REAL" property="highLimit2" />
        <result column="low_limit2" jdbcType="REAL" property="lowLimit2" />
        <result column="high_limit3" jdbcType="REAL" property="highLimit3" />
        <result column="low_limit3" jdbcType="REAL" property="lowLimit3" />
        <result column="high_limit4" jdbcType="REAL" property="highLimit4" />
        <result column="low_limit4" jdbcType="REAL" property="lowLimit4" />
        <result column="alarm_delay" jdbcType="INTEGER" property="alarmDelay" />
        <result column="alarm_cnt" jdbcType="INTEGER" property="alarmCnt" />
        <result column="threshold_abs" jdbcType="NUMERIC" property="thresholdAbs" />
        <result column="threshold_per" jdbcType="NUMERIC" property="thresholdPer" />
        <result column="modulus" jdbcType="INTEGER" property="modulus" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <resultMap id="cruisePointInstanceInfo" type="com.yjh.accessvideo.module.device.entity.TCruisePointInstance">
        <id column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="custom_id" jdbcType="VARCHAR" property="customId" />
        <result column="device_mete_id" jdbcType="BIGINT" property="deviceMeteId" />
        <result column="cruise_type" jdbcType="INTEGER" property="cruiseType" />
        <result column="cruise_id" jdbcType="INTEGER" property="cruiseid" />
    </resultMap>

    <resultMap id="defectInfo" type="com.yjh.accessvideo.module.device.entity.TDefectInfo">
        <id column="defect_id" jdbcType="BIGINT" property="defectId" />
        <result column="defect_level" jdbcType="INTEGER" property="defectLevel" />
        <result column="defect_time" jdbcType="TIMESTAMP" property="defectTime" />
        <result column="defect_type" jdbcType="INTEGER" property="defectType" />
        <result column="defect_name" jdbcType="VARCHAR" property="defectName" />
        <result column="defect_content" jdbcType="VARCHAR" property="defectContent" />
        <result column="device_id" jdbcType="BIGINT" property="deviceId" />
        <result column="cunstom_id" jdbcType="VARCHAR" property="cunstomId" />
        <result column="instance_id" jdbcType="BIGINT" property="instanceId" />
        <result column="std_mete_id" jdbcType="BIGINT" property="stdMeteId" />
        <result column="conf_mode" jdbcType="INTEGER" property="confMode" />
        <result column="is_defect" jdbcType="INTEGER" property="isDefect" />
        <result column="deal_type" jdbcType="INTEGER" property="dealType" />
        <result column="deal_info" jdbcType="VARCHAR" property="dealInfo" />
        <result column="deal_person_id" jdbcType="VARCHAR" property="dealPersonId" />
        <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
        <result column="if_defect_disable" jdbcType="INTEGER" property="ifDefectDisable" />
        <result column="alarm_source" jdbcType="INTEGER" property="alarmSource" />
        <result column="defect_subtype" jdbcType="INTEGER" property="defectSubtype" />
        <result column="device_code" jdbcType="VARCHAR" property="deviceCode" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
        <result column="VALUE" jdbcType="VARCHAR" property="value" />
        <result column="out_range" jdbcType="VARCHAR" property="outRange" />
        <result column="link_message" jdbcType="VARCHAR" property="linkMessage" />
    </resultMap>




    <insert id="insertWarnInfo" useGeneratedKeys="true" keyProperty="warnId" parameterType="com.yjh.accessvideo.module.device.entity.TWarnInfo">
        insert into t_warn_info(
            warn_id,
            warn_level,
            warn_time,
            warn_type,
            warn_name,
            warn_content,
            device_id,
            cunstom_id,
            instance_id,
            std_mete_id,
            conf_mode,
            is_warn,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            defect_model,
            alarm_source,
            warn_subtype,
            device_code,
            image_path,
            video_path,
            value,
            out_range,
            task_id
        )values(
                #{warnId, jdbcType=BIGINT},
                #{warnLevel, jdbcType=INTEGER},
                #{warnTime, jdbcType=TIMESTAMP},
                #{warnType, jdbcType=INTEGER},
                #{warnName, jdbcType=VARCHAR},
                #{warnContent, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{cunstomId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{stdMeteId, jdbcType=BIGINT},
                #{confMode, jdbcType=INTEGER},
                #{isWarn, jdbcType=INTEGER},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{defectModel,jdbcType=INTEGER},
                #{alarmSource, jdbcType=INTEGER},
                #{warnSubtype, jdbcType=INTEGER},
                #{deviceCode, jdbcType=VARCHAR},
                #{imagePath, jdbcType=VARCHAR},
                #{videoPath, jdbcType=VARCHAR},
                #{value, jdbcType=VARCHAR},
                #{outRange, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR}
        )
    </insert>


    <insert id="batchInsertWarnInfo">
        insert into t_warn_info(
        warn_id,
        warn_level,
        warn_time,
        warn_type,
        warn_name,
        warn_content,
        device_id,
        cunstom_id,
        instance_id,
        std_mete_id,
        conf_mode,
        is_warn,
        deal_type,
        deal_info,
        deal_person_id,
        deal_time,
        if_warn_disable,
        alarm_source,
        warn_subtype,
        device_code,
        image_path,
        video_path,
        value,
        out_range,
        task_id
        )values
        <foreach collection="list" item="TWarnInfo" separator=",">
            (
            #{TWarnInfo.warnId, jdbcType=BIGINT},
            #{TWarnInfo.warnLevel, jdbcType=INTEGER},
            #{TWarnInfo.warnTime, jdbcType=TIMESTAMP},
            #{TWarnInfo.warnType, jdbcType=INTEGER},
            #{TWarnInfo.warnName, jdbcType=VARCHAR},
            #{TWarnInfo.warnContent, jdbcType=VARCHAR},
            #{TWarnInfo.deviceId, jdbcType=BIGINT},
            #{TWarnInfo.cunstomId, jdbcType=VARCHAR},
            #{TWarnInfo.instanceId, jdbcType=BIGINT},
            #{TWarnInfo.stdMeteId, jdbcType=BIGINT},
            #{TWarnInfo.confMode, jdbcType=INTEGER},
            #{TWarnInfo.isWarn, jdbcType=INTEGER},
            #{TWarnInfo.dealType, jdbcType=INTEGER},
            #{TWarnInfo.dealInfo, jdbcType=VARCHAR},
            #{TWarnInfo.dealPersonId, jdbcType=VARCHAR},
            #{TWarnInfo.dealTime, jdbcType=TIMESTAMP},
            #{TWarnInfo.ifWarnDisable, jdbcType=INTEGER},
            #{TWarnInfo.alarmSource, jdbcType=INTEGER},
            #{TWarnInfo.warnSubtype, jdbcType=INTEGER},
            #{TWarnInfo.deviceCode, jdbcType=VARCHAR},
            #{TWarnInfo.imagePath, jdbcType=VARCHAR},
            #{TWarnInfo.videoPath, jdbcType=VARCHAR},
            #{TWarnInfo.value, jdbcType=VARCHAR},
            #{TWarnInfo.outRange, jdbcType=VARCHAR},
            #{TWarnInfo.taskId, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



    <insert id="insertVideoAnalyseResult" useGeneratedKeys="true" keyProperty="algorithmResultId" parameterType="com.yjh.accessvideo.module.device.entity.TVideoAnalyseResult">
        insert into t_video_analyse_result(
            algorithm_result_id,
            analyse_time,
            analyse_conf_id,
            algorithm_result,
            algorithm_picture,
            algorithm_status,
            result_rate,
            result_describe,
            reserver
        )values(
                #{algorithmResultId, jdbcType=BIGINT},
                #{analyseTime, jdbcType=TIMESTAMP},
                #{analyseConfId, jdbcType=VARCHAR},
                #{algorithmResult, jdbcType=VARCHAR},
                #{algorithmPicture, jdbcType=VARCHAR},
                #{algorithmStatus, jdbcType=INTEGER},
                #{resultRate, jdbcType=VARCHAR},
                #{resultDescribe, jdbcType=VARCHAR},
                #{reserver, jdbcType=INTEGER}
        )
    </insert>


    <insert id="batchInsertVideoAnalyseResult">
        insert into t_video_analyse_result(
        algorithm_result_id,
        analyse_time,
        analyse_conf_id,
        algorithm_result,
        algorithm_picture,
        algorithm_status,
        result_rate,
        result_describe,
        reserver
        )values
        <foreach collection="list" item="TVideoAnalyseResult" separator=",">
            (
            #{TVideoAnalyseResult.algorithmResultId, jdbcType=BIGINT},
            #{TVideoAnalyseResult.analyseTime, jdbcType=TIMESTAMP},
            #{TVideoAnalyseResult.analyseConfId, jdbcType=VARCHAR},
            #{TVideoAnalyseResult.algorithmResult, jdbcType=VARCHAR},
            #{TVideoAnalyseResult.algorithmPicture, jdbcType=VARCHAR},
            #{TVideoAnalyseResult.algorithmStatus, jdbcType=INTEGER},
            #{TVideoAnalyseResult.resultRate, jdbcType=VARCHAR},
            #{TVideoAnalyseResult.resultDescribe, jdbcType=VARCHAR},
            #{TVideoAnalyseResult.reserver, jdbcType=INTEGER}
            )
        </foreach>
    </insert>





    <select id="selectByPrimaryIdCruiseResult" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>



    <update id="updateCruiseResult" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        update t_cruise_result a <set>
        <if test="taskResultId != null ">a.task_result_id = #{taskResultId},</if>
        <if test="taskId != null ">a.task_id = #{taskId},</if>
        <if test="areaId != null">a.area_id = #{areaId},</if>
        <if test="cType != null">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null ">a.check_user = #{checkUser},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP},
        <if test="weather != null ">a.weather = #{weather},</if>
        a.create_time = #{createTime, jdbcType=TIMESTAMP},
        a.execute_time = #{executeTime, jdbcType=TIMESTAMP},
        <if test="taskCode != null ">a.task_code = #{taskCode},</if>
        <if test="remark != null ">a.remark = #{remark},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <insert id="insertCruiseTaskResult" useGeneratedKeys="true" keyProperty="taskResultId" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseTaskResult">
        insert into t_cruise_task_result(
            task_result_id,
            task_id,
            task_name,
            task_abnormal,
            task_alarm,
            run_execute,
            cruise_task_time,
            task_status,
            cruise_result,
            remark
        )values(
                #{taskResultId, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR},
                #{taskName, jdbcType=VARCHAR},
                #{taskAbnormal, jdbcType=INTEGER},
                #{taskAlarm, jdbcType=INTEGER},
                #{runExecute, jdbcType=VARCHAR},
                #{cruiseTaskTime, jdbcType=TIMESTAMP},
                #{taskStatus, jdbcType=INTEGER},
                #{cruiseResult, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>



    <select id="selectByPrimaryIdCruiseTaskResult" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.device.entity.TCruiseTaskResult">
        select
        a.task_result_id,
        a.task_id,
        a.task_name,
        a.task_abnormal,
        a.task_alarm,
        a.run_execute,
        a.cruise_task_time,
        a.task_status,
        a.cruise_result,
        a.remark
        from t_cruise_task_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>


    <update id="updateCruiseTaskResult" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseTaskResult">
        update t_cruise_task_result a <set>
        <if test="taskResultId != null ">a.task_result_id = #{taskResultId},</if>
        <if test="taskId != null ">a.task_id = #{taskId},</if>
        <if test="taskAbnormal != null">a.task_abnormal = #{taskAbnormal, jdbcType=INTEGER},</if>
        <if test="taskAlarm != null">a.task_alarm = #{taskAlarm, jdbcType=INTEGER},</if>
        <if test="runExecute != null ">a.run_execute = #{runExecute},</if>
        a.cruise_task_time = #{cruiseTaskTime, jdbcType=TIMESTAMP},
        <if test="taskStatus != null">a.task_status = #{taskStatus, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="remark != null ">a.remark = #{remark},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>





    <insert id="insertCruiseTaskResultDetail" useGeneratedKeys="true" keyProperty="cruiseResultId" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseTaskResultDetail">
        insert into t_cruise_task_result_detail(
            cruise_result_id,
            task_result_id,
            device_id,
            instance_id,
            cruise_time,
            end_time,
            cruise_status,
            remark
        )values(
                #{cruiseResultId, jdbcType=VARCHAR},
                #{taskResultId, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{instanceId, jdbcType=BIGINT},
                #{cruiseTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP},
                #{cruiseStatus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsertCruiseTaskResultDetail">
        insert into t_cruise_task_result_detail(
        cruise_result_id,
        task_result_id,
        device_id,
        device_name,
        instance_id,
        instance_name,
        cruise_time,
        end_time,
        cruise_status,
        remark
        )values
        <foreach collection="list" item="TCruiseTaskResultDetail" separator=",">
            (
            #{TCruiseTaskResultDetail.cruiseResultId, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.taskResultId, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.deviceId, jdbcType=BIGINT},
            #{TCruiseTaskResultDetail.deviceName, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.instanceId, jdbcType=BIGINT},
            #{TCruiseTaskResultDetail.instanceName, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.cruiseTime, jdbcType=TIMESTAMP},
            #{TCruiseTaskResultDetail.endTime, jdbcType=TIMESTAMP},
            #{TCruiseTaskResultDetail.cruiseStatus, jdbcType=INTEGER},
            #{TCruiseTaskResultDetail.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <insert id="insertCruiseDataResult" useGeneratedKeys="true" keyProperty="cruiseDataId" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseDataResult">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            picpath,
            person_check,
            origpic,
            cruise_abnormal,
            cruise_result,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn
        )values(
                #{cruiseDataId, jdbcType=BIGINT},
                #{cruiseResultId, jdbcType=VARCHAR},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseType, jdbcType=INTEGER},
                #{resultDesc, jdbcType=VARCHAR},
                #{resultNum, jdbcType=VARCHAR},
                #{modifyNum, jdbcType=VARCHAR},
                #{picpath, jdbcType=VARCHAR},
                #{personCheck, jdbcType=VARCHAR},
                #{origpic, jdbcType=VARCHAR},
                #{cruiseAbnormal, jdbcType=INTEGER},
                #{cruiseResult,jdbcType=INTEGER},
                #{evaluationState, jdbcType=INTEGER},
                #{identifyState, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{createtime, jdbcType=TIMESTAMP},
                #{remark, jdbcType=VARCHAR},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{isWarn,jdbcType=INTEGER}
        )
    </insert>

    <insert id="batchInsertCruiseDataResult">
        insert into t_cruise_data_result(
        cruise_data_id,
        cruise_result_id,
        cruise_id,
        cruise_name,
        cruise_type,
        result_desc,
        result_num,
        modify_num,
        picpath,
        person_check,
        origpic,
        cruise_abnormal,
        cruise_result,
        evaluation_state,
        identify_state,
        identify_result,
        createtime,
        remark,
        check_user,
        check_date,
        is_warn,
        fir_name,
        fir_date,
        result_pic
        )values
        <foreach collection="list" item="TCruiseDataResult" separator=",">
            (
            #{TCruiseDataResult.cruiseDataId, jdbcType=BIGINT},
            #{TCruiseDataResult.cruiseResultId, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseId, jdbcType=BIGINT},
            #{TCruiseDataResult.cruiseName, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseType, jdbcType=INTEGER},
            #{TCruiseDataResult.resultDesc, jdbcType=VARCHAR},
            #{TCruiseDataResult.resultNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.modifyNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.picpath, jdbcType=VARCHAR},
            #{TCruiseDataResult.personCheck, jdbcType=VARCHAR},
            #{TCruiseDataResult.origpic, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseAbnormal, jdbcType=INTEGER},
            #{TCruiseDataResult.cruiseResult, jdbcType=INTEGER},
            #{TCruiseDataResult.evaluationState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyResult, jdbcType=INTEGER},
            #{TCruiseDataResult.createtime, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.remark, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkUser, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkDate, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.isWarn, jdbcType=INTEGER},
            #{TCruiseDataResult.firName,jdbcType=VARCHAR},
            #{TCruiseDataResult.firDate,jdbcType=TIMESTAMP},
            #{TCruiseDataResult.resultPic,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <select id="selectByPrimaryIdDeviceMete" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.device.entity.TStdDevicemete">
        select
        a.device_mete_id,
        a.device_id,
        a.custom_id,
        a.mete_id,
        a.mete_kind,
        a.mete_type,
        a.mete_name,
        a.device_type,
        a.position_type,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.state_zero,
        a.state_one,
        a.alarm_state,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus,
        a.remark
        from t_std_devicemete a
        where 1 = 1
            and a.device_mete_id = #{deviceMeteId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="selectDeviceMeteByInstanceId" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.device.entity.TStdDevicemete">
        select
        a.device_mete_id,
        a.device_id,
        a.device_point_id,
        a.custom_id,
        a.mete_id,
        a.mete_kind,
        a.mete_type,
        a.mete_name,
        a.device_type,
        a.position_type,
        a.unit,
        a.alarm_note,
        a.alarm_type,
        a.up_effect,
        a.down_effect,
        a.state_zero,
        a.state_one,
        a.alarm_state,
        a.alarm_level,
        a.high_limit1,
        a.low_limit1,
        a.high_limit2,
        a.low_limit2,
        a.high_limit3,
        a.low_limit3,
        a.high_limit4,
        a.low_limit4,
        a.alarm_delay,
        a.alarm_cnt,
        a.threshold_abs,
        a.threshold_per,
        a.modulus,
        a.remark
        from t_cruise_point_instance b left join t_std_devicemete a
        on b.device_mete_id=a.device_mete_id
        where b.instance_id=#{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectPointInstance" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.device.entity.TCruisePointInstance">
      SELECT DISTINCT
        a.instance_id,
        a.cruise_id,
        a.device_id,
        b.device_code,
        a.custom_id,
        a.device_mete_id,
        a.cruise_type,
        c.dict_note AS 'cruiseTypeName'
        FROM
        t_cruise_point_instance a LEFT JOIN t_std_device b
        ON a.device_id=b.device_id
        LEFT JOIN t_dict_business c ON a.cruise_type=c.dict_code
        WHERE a.instance_id=#{instanceId,jdbcType=BIGINT}

    </select>

    <select id="selectDictCode"  resultType="java.lang.String">
       SELECT
	    dict_code
       FROM
	   t_dict_business
       WHERE
	   col_name = #{colName,jdbcType=VARCHAR}
      AND dict_note = #{dictNote,jdbcType=VARCHAR}
    </select>

    <select id="selectDictNote"  resultType="java.lang.String">
        SELECT
            dict_note
        FROM
            t_dict_business
        WHERE
            dict_code = #{dictCode,jdbcType=VARCHAR}
        AND col_name = #{colName,jdbcType=VARCHAR}
    </select>

    <select id="selectCruiseByTaskId" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.device.entity.TCruisePointInstance">
        SELECT
	       b.instance_id
        FROM
	       t_cruise_task a
        LEFT JOIN t_cruise_plan_attr b ON a.plan_id = b.plan_id
        WHERE
	        a.task_id =#{taskId,jdbcType=VARCHAR}
    </select>

    <insert id="insertDefectInfo" useGeneratedKeys="true" keyProperty="defectId" parameterType="com.yjh.accessvideo.module.device.entity.TDefectInfo">
        insert into t_defect_info(
            defect_id,
            defect_level,
            defect_time,
            defect_type,
            defect_name,
            defect_content,
            device_id,
            cunstom_id,
            instance_id,
            std_mete_id,
            conf_mode,
            is_defect,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            if_defect_disable,
            alarm_source,
            defect_subtype,
            device_code,
            image_path,
            video_path,
            VALUE,
            out_range,
            link_message
        )values(
                #{defectId, jdbcType=BIGINT},
                #{defectLevel, jdbcType=INTEGER},
                #{defectTime, jdbcType=TIMESTAMP},
                #{defectType, jdbcType=INTEGER},
                #{defectName, jdbcType=VARCHAR},
                #{defectContent, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{cunstomId, jdbcType=VARCHAR},
                #{instanceId, jdbcType=BIGINT},
                #{stdMeteId, jdbcType=BIGINT},
                #{confMode, jdbcType=INTEGER},
                #{isDefect, jdbcType=INTEGER},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{ifDefectDisable, jdbcType=INTEGER},
                #{alarmSource, jdbcType=INTEGER},
                #{defectSubtype, jdbcType=INTEGER},
                #{deviceCode, jdbcType=VARCHAR},
                #{imagePath, jdbcType=VARCHAR},
                #{videoPath, jdbcType=VARCHAR},
                #{value, jdbcType=VARCHAR},
                #{outRange, jdbcType=VARCHAR},
                #{linkMessage, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsertDefectInfo">
        insert into t_defect_info(
        defect_id,
        defect_level,
        defect_time,
        defect_type,
        defect_name,
        defect_content,
        device_id,
        cunstom_id,
        instance_id,
        std_mete_id,
        conf_mode,
        is_defect,
        deal_type,
        deal_info,
        deal_person_id,
        deal_time,
        if_defect_disable,
        alarm_source,
        defect_subtype,
        device_code,
        image_path,
        video_path,
        VALUE,
        out_range,
        link_message
        )values
        <foreach collection="list" item="TDefectInfo" separator=",">
            (
            #{TDefectInfo.defectId, jdbcType=BIGINT},
            #{TDefectInfo.defectLevel, jdbcType=INTEGER},
            #{TDefectInfo.defectTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.defectType, jdbcType=INTEGER},
            #{TDefectInfo.defectName, jdbcType=VARCHAR},
            #{TDefectInfo.defectContent, jdbcType=VARCHAR},
            #{TDefectInfo.deviceId, jdbcType=BIGINT},
            #{TDefectInfo.cunstomId, jdbcType=VARCHAR},
            #{TDefectInfo.instanceId, jdbcType=BIGINT},
            #{TDefectInfo.stdMeteId, jdbcType=BIGINT},
            #{TDefectInfo.confMode, jdbcType=INTEGER},
            #{TDefectInfo.isDefect, jdbcType=INTEGER},
            #{TDefectInfo.dealType, jdbcType=INTEGER},
            #{TDefectInfo.dealInfo, jdbcType=VARCHAR},
            #{TDefectInfo.dealPersonId, jdbcType=VARCHAR},
            #{TDefectInfo.dealTime, jdbcType=TIMESTAMP},
            #{TDefectInfo.ifDefectDisable, jdbcType=INTEGER},
            #{TDefectInfo.alarmSource, jdbcType=INTEGER},
            #{TDefectInfo.defectSubtype, jdbcType=INTEGER},
            #{TDefectInfo.deviceCode, jdbcType=VARCHAR},
            #{TDefectInfo.imagePath, jdbcType=VARCHAR},
            #{TDefectInfo.videoPath, jdbcType=VARCHAR},
            #{TDefectInfo.value, jdbcType=VARCHAR},
            #{TDefectInfo.outRange, jdbcType=VARCHAR},
            #{TDefectInfo.linkMessage, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectWarnInfo" resultType="java.util.Map">
        SELECT
            a.unit,
            b.up_dict as recognition_type,
            c.up_dict as alarm_type
        FROM
            t_std_devicemete a
            left join t_dict_business b on a.mete_type = b.dict_code and b.col_name = "mete_type"
            left join t_dict_business c on a.alarm_type = c.dict_code and c.col_name = "alarm_type"
            WHERE a.device_mete_id = #{deviceMeteId,jdbcType=BIGINT}
    </select>


    <select id="selectAlgorithmDefectInfo" parameterType="java.lang.Integer" resultType="java.lang.Integer">
                SELECT
        defect_level
        FROM
        t_algorithm_info
        WHERE is_ai=0
        AND  defect_type= #{defectType,jdbcType=INTEGER}
    </select>


    <select id="selectLaterTaskCruiseResult" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        task_result_id
    FROM
        t_cruise_task_result
    WHERE
        task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <select id="selectTaskCruiseCameraInfo" resultType="java.util.Map">
            SELECT
        d.camera_id as 'cameraId',
        d.preset_id as 'presetId'
    FROM
        t_cruise_task a
    LEFT JOIN t_cruise_task_attr b ON a.task_id = b.task_id
    LEFT JOIN t_cruise_point_instance c ON b.instance_id = c.instance_id
    LEFT JOIN t_camera_preset d ON c.cruise_id = d.preset_id
    WHERE
        a.task_id = #{taskId,jdbcType=VARCHAR}
    AND b.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectPresetImgByCruise" parameterType="java.lang.Long" resultType="java.lang.String">
                SELECT
            b.preset_img
        FROM
            t_cruise_point_instance a
        LEFT JOIN t_camera_preset b ON a.cruise_id = b.preset_id
        WHERE
            a.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectCurrentWarn" resultType="java.lang.Long">
                SELECT
            warn_id
        FROM
            t_warn_info
        GROUP BY
            warn_time DESC
        Limit 1
    </select>

    <select id="selectCurrentDefect" resultType="java.lang.Long">
         SELECT
            defect_id
        FROM
           t_defect_info
        GROUP BY
           defect_time DESC
        Limit 1
    </select>

    <select id="selectInstanceInfo" resultType="java.util.Map">
        SELECT
            a.preset_id,
            a.camera_id,
            b.cruise_id,
            b.instance_id,
            b.custom_id,
            b.device_id,
            d.device_name,
            b.device_mete_id,
            e.mete_name
        FROM
            t_camera_preset a,t_cruise_point_instance b,t_std_device d,t_std_devicemete e
        where a.preset_id = b.cruise_id
          and d.device_id = b.device_id and d.custom_id = b.custom_id
          AND b.device_mete_id = e.device_mete_id
          and a.preset_id = #{presetId,jdbcType=BIGINT}
    </select>

    <select id="selectAlgorithmInfo" resultType="com.yjh.accessvideo.module.device.entity.TAlgorithmInfo">
        SELECT
            a.analyse_type,
            a.alias_name
        FROM t_algorithm_info a
        WHERE a.is_ai = 1
        <if test="aliasName != null "> and a.alias_name = #{aliasName,jdbcType=VARCHAR}</if>
    </select>
    <select id="selectAlgorithmType" resultType="java.lang.String">
        SELECT
            a.alias_name
        FROM t_algorithm_info a
        WHERE a.is_ai = 1
    </select>

    <select id="selectDevicePointIdByInstanceId" resultType="java.lang.String">
        SELECT
            b.device_point_id
        FROM t_cruise_point_instance a,t_std_devicemete b
        WHERE a.device_mete_id = b.device_mete_id
          and a.instance_id = #{instanceId,jdbcType=BIGINT}
    </select>

    <select id="selectDeviceNameInfo" resultType="java.util.HashMap">
        SELECT DISTINCT
            mete.mete_name as meteName,
            tsd.device_name as deviceName,
            tsd.up_region_name as upRegionName
        FROM
            t_cruise_point_instance tcpi
                LEFT JOIN t_std_devicemete mete ON mete.device_mete_id = tcpi.device_mete_id
                LEFT JOIN t_std_device tsd ON tcpi.device_id = tsd.device_id
        WHERE tcpi.instance_id = #{instanceId}
    </select>
</mapper>
