<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessvideo.module.control.dao.CameraConDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.accessvideo.module.control.entity.CameraConInfo">
        <id column="camera_id" jdbcType="BIGINT" property="cameraId" />
        <result column="channel_num" jdbcType="INTEGER" property="channelNum" />
        <result column="preset_id" jdbcType="BIGINT" property="presetId" />
        <result column="preset_num" jdbcType="INTEGER" property="presetNum" />
        <result column="record_id" jdbcType="BIGINT" property="recordId" />
        <result column="record_ip" jdbcType="VARCHAR" property="recordIp" />
        <result column="identity_manager" jdbcType="VARCHAR" property="identityManager" />
        <result column="identity_code" jdbcType="VARCHAR" property="identityCode" />
        <result column="rtsp_port" jdbcType="INTEGER" property="rtspPort" />
        <result column="infread_port" jdbcType="INTEGER" property="infreadPort" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        camera_id, channel_num, preset_id, preset_num, record_id, record_ip, identity_manager, identity_code, rtsp_port
    </sql>

    <sql id="Record_File_Column_List">
        camera_id, up_region_id, file_name, file_path, absolute_file_path, start_time, end_time
    </sql>


    <insert id="insertRecordFile" useGeneratedKeys="true" keyProperty="id" parameterType="com.yjh.accessvideo.module.control.entity.RecordFileInfo">
        INSERT INTO t_record_file
        (
            <include refid="Record_File_Column_List"></include>
        )VALUES(
        #{cameraId, jdbcType=BIGINT},
        #{upRegionId, jdbcType=BIGINT},
        #{fileName, jdbcType=VARCHAR},
        #{filePath, jdbcType=VARCHAR},
        #{absoluteFilePath, jdbcType=VARCHAR},
        #{startTime, jdbcType=TIMESTAMP},
        #{endTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateRecordFile" parameterType="com.yjh.accessvideo.module.control.entity.RecordFileInfo">
        update t_record_file a <set>
        <if test="endTime != null">a.end_time = #{endTime, jdbcType=TIMESTAMP},</if>
        <if test="filePath != null">a.file_path = #{filePath, jdbcType=VARCHAR},</if>
        <if test="absoluteFilePath != null">a.absolute_file_path = #{absoluteFilePath, jdbcType=VARCHAR},</if>
    </set>
        where a.file_name= #{fileName, jdbcType=VARCHAR}
    </update>

    <select id="selectConInfo" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.control.entity.CameraConInfo">
        SELECT
        a.camera_id,
        a.channel_num,
        a.camera_type,
        b.preset_id,
        b.preset_num,
        c.record_id,
        c.record_ip,
        c.identity_manager,
        c.identity_code,
        c.rtsp_port,
        a.camera_ip,
        a.port,
        a.infread_port,
        a.camera_manager,
        a.camera_code,
        a.camera_num,
        a.up_region_id
        FROM t_camera_info a
        LEFT JOIN t_camera_preset b ON a.camera_id = b.camera_id
        LEFT JOIN t_camera_recorder c ON a.record_id = c.record_id
        WHERE 1 = 1
        <if test="cameraId != null and cameraId != ''"> and a.camera_id = #{cameraId, jdbcType=BIGINT}</if>
        <if test="presetId != null and presetId != ''"> and b.preset_id = #{presetId, jdbcType=BIGINT}</if>
        limit 1
    </select>

    <select id="batchSelectConInfo" resultType="com.yjh.accessvideo.module.control.entity.CameraConInfo">
        SELECT
        a.camera_id,
        a.channel_num,
        a.camera_type,
        c.record_id,
        c.record_ip,
        c.identity_manager,
        c.identity_code,
        c.rtsp_port,
        a.camera_ip,
        a.port,
        a.infread_port,
        a.camera_manager,
        a.camera_code,
        a.camera_num
        FROM t_camera_info a
        LEFT JOIN t_camera_recorder c ON a.record_id = c.record_id
        WHERE 1 = 1 and a.camera_id IN
        <foreach collection="list" open="(" close=")" separator="," item="cameraId">
            #{cameraId, jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="SelectRecords" resultType="com.yjh.accessvideo.module.control.entity.RecorderConInfo">
        SELECT
        a.record_id,
        a.record_name,
        a.record_ip,
        a.protocol,
        a.http_port,
        a.trans_port,
        a.rtsp_port,
        a.identity_manager,
        a.identity_code,
        a.max_channel
        FROM t_camera_recorder a
    </select>

    <select id="cameraInfoByNVR" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.control.entity.CameraStatusInfo">
        SELECT
        a.channel_num,
        a.camera_id
        FROM t_camera_info a
        LEFT JOIN t_camera_recorder c ON a.record_id = c.record_id
        WHERE 1 = 1
        <if test="recordId != null and recordId != ''"> and c.record_id = #{recordId, jdbcType=BIGINT}</if>
    </select>

    <select id="selectCameraTree" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.control.entity.CameraAreaInfo">
        SELECT
        a.record_id AS Id,
        a.record_name AS label,
        "-1" As upId,
        "null" As upName,
        "record" AS infoType,
        "-1" as channel_num
        FROM t_camera_recorder a
        UNION ALL (
        SELECT b.camera_id AS Id, b.camera_name AS label, b.record_id AS upId, c.record_name AS upName, "camera" AS infoType, b.channel_num
        FROM t_camera_info b
        LEFT JOIN t_camera_recorder c ON b.record_id = c.record_id
        where 1=1
        <if test="cameraName != null and cameraName != ''"> and b.camera_name like CONCAT('%',#{cameraName, jdbcType=VARCHAR},'%')</if>
        )

    </select>

    <select id="selectRobotConInfo" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.control.entity.RobotConInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.identity_manager,
        a.identity_code,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.remarks,
        a.record_id,
        a.channel_num_light as numLight,
        a.channel_num_inferad as numInferad
        from t_robot_info a
        where 1 = 1
        and a.robot_id = #{robotId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="selectByRecordId" parameterType="java.lang.Long" resultType="com.yjh.accessvideo.module.control.entity.RecorderConInfo">
        select a.record_id, a.record_name, a.record_ip, a.protocol, a.http_port, a.trans_port, a.rtsp_port, a.identity_manager,
        a.identity_code, a.max_channel
        from t_camera_recorder a
        where 1 = 1
        and a.record_id = #{recordId, jdbcType=BIGINT}
        limit 1
    </select>

</mapper>
