<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessvideo.module.device.dao.FormatDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.accessvideo.module.device.entity.Format">
        <id column="test_id" jdbcType="VARCHAR" property="testId" />
        <result column="test_type" jdbcType="VARCHAR" property="testType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        test_id, test_type
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="testId" parameterType="com.yjh.accessvideo.module.device.entity.Format">
        insert into format(
            test_id,
            test_type
        )values(
                #{testId, jdbcType=VARCHAR},
                #{testType, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from format
                where test_id = #{testId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.accessvideo.module.device.entity.Format">
        update format a <set>
        <if test="testId != null and testId != ''">a.test_id = #{testId, jdbcType=VARCHAR},</if>
        <if test="testType != null and testType != ''">a.test_type = #{testType, jdbcType=VARCHAR},</if>
    </set>
            where a.test_id = #{testId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.device.entity.Format">
        select
        a.test_id,
        a.test_type
        from format a
        where 1 = 1
            and a.test_id = #{testId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.accessvideo.module.device.entity.Format" resultType="com.yjh.accessvideo.module.device.entity.Format">
        select
        a.test_id,
        a.test_type
        from format a
        where 1 = 1
        <if test="testId != null and testId != ''"> and a.test_id = #{testId, jdbcType=VARCHAR}</if>
        <if test="testType != null and testType != ''"> and a.test_type = #{testType, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.accessvideo.module.device.entity.Format" resultType="com.yjh.accessvideo.module.device.entity.Format">
        select
        a.test_id,
        a.test_type
        from format a
        where 1 = 1
        <if test="testId != null and testId != ''"> and a.test_id = #{testId, jdbcType=VARCHAR}</if>
        <if test="testType != null and testType != ''"> and a.test_type = #{testType, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into format(
            test_id,
            test_type
        )values
        <foreach collection="list" item="Format" separator=",">
            (
                #{Format.testId, jdbcType=VARCHAR},
                #{Format.testType, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



</mapper>
