<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessvideo.module.device.dao.TCruiseResultDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        <id column="task_result_id" jdbcType="VARCHAR" property="taskResultId" />
        <result column="task_id" jdbcType="VARCHAR" property="taskId" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="c_type" jdbcType="INTEGER" property="cType" />
        <result column="c_state" jdbcType="INTEGER" property="cState" />
        <result column="modify_state" jdbcType="INTEGER" property="modifyState" />
        <result column="task_count" jdbcType="INTEGER" property="taskCount" />
        <result column="task_wait" jdbcType="INTEGER" property="taskWait" />
        <result column="check_user" jdbcType="VARCHAR" property="checkUser" />
        <result column="check_date" jdbcType="TIMESTAMP" property="checkDate" />
        <result column="weather" jdbcType="VARCHAR" property="weather" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="execute_time" jdbcType="TIMESTAMP" property="executeTime" />
        <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_result_id, task_id, area_id, c_type, c_state, modify_state, task_count, task_wait, check_user, check_date, weather, create_time, execute_time, task_code, remark
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="taskResultId" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        insert into t_cruise_result(
            task_result_id,
            task_id,
            area_id,
            c_type,
            c_state,
            modify_state,
            task_count,
            task_wait,
            check_user,
            check_date,
            weather,
            create_time,
            execute_time,
            task_code,
            remark
        )values(
                #{taskResultId, jdbcType=VARCHAR},
                #{taskId, jdbcType=VARCHAR},
                #{areaId, jdbcType=VARCHAR},
                #{cType, jdbcType=INTEGER},
                #{cState, jdbcType=INTEGER},
                #{modifyState, jdbcType=INTEGER},
                #{taskCount, jdbcType=INTEGER},
                #{taskWait, jdbcType=INTEGER},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{weather, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{executeTime, jdbcType=TIMESTAMP},
                #{taskCode, jdbcType=VARCHAR},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.String">
        delete from t_cruise_result
                where task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        update t_cruise_result a <set>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null and cType != ''">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null and cState != ''">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null and modifyState != ''">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null and taskCount != ''">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null and taskWait != ''">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        <if test="checkDate != null and checkDate != ''">a.check_date = #{checkDate, jdbcType=TIMESTAMP},</if>
        <if test="weather != null and weather != ''">a.weather = #{weather, jdbcType=VARCHAR},</if>
        <if test="createTime != null and createTime != ''">a.create_time = #{createTime, jdbcType=TIMESTAMP},</if>
        <if test="executeTime != null and executeTime != ''">a.execute_time = #{executeTime, jdbcType=TIMESTAMP},</if>
        <if test="taskCode != null and taskCode != ''">a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
            where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.String" resultType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
            and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseResult" resultType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''"> and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}</if>
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="cType != null and cType != ''"> and a.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cState != null and cState != ''"> and a.c_state = #{cState, jdbcType=INTEGER}</if>
        <if test="modifyState != null and modifyState != ''"> and a.modify_state = #{modifyState, jdbcType=INTEGER}</if>
        <if test="taskCount != null and taskCount != ''"> and a.task_count = #{taskCount, jdbcType=INTEGER}</if>
        <if test="taskWait != null and taskWait != ''"> and a.task_wait = #{taskWait, jdbcType=INTEGER}</if>
        <if test="checkUser != null and checkUser != ''"> and a.check_user = #{checkUser, jdbcType=VARCHAR}</if>
        <if test="checkDate != null and checkDate != ''"> and a.check_date = #{checkDate, jdbcType=TIMESTAMP}</if>
        <if test="weather != null and weather != ''"> and a.weather = #{weather, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="executeTime != null and executeTime != ''"> and a.execute_time = #{executeTime, jdbcType=TIMESTAMP}</if>
        <if test="taskCode != null and taskCode != ''"> and a.task_code = #{taskCode, jdbcType=VARCHAR}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.accessvideo.module.device.entity.TCruiseResult" resultType="com.yjh.accessvideo.module.device.entity.TCruiseResult">
        select
        a.task_result_id,
        a.task_id,
        a.area_id,
        a.c_type,
        a.c_state,
        a.modify_state,
        a.task_count,
        a.task_wait,
        a.check_user,
        a.check_date,
        a.weather,
        a.create_time,
        a.execute_time,
        a.task_code,
        a.remark
        from t_cruise_result a
        where 1 = 1
        <if test="taskResultId != null and taskResultId != ''"> and a.task_result_id = #{taskResultId, jdbcType=VARCHAR}</if>
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
        <if test="areaId != null and areaId != ''"> and a.area_id = #{areaId, jdbcType=VARCHAR}</if>
        <if test="cType != null and cType != ''"> and a.c_type = #{cType, jdbcType=INTEGER}</if>
        <if test="cState != null and cState != ''"> and a.c_state = #{cState, jdbcType=INTEGER}</if>
        <if test="modifyState != null and modifyState != ''"> and a.modify_state = #{modifyState, jdbcType=INTEGER}</if>
        <if test="taskCount != null and taskCount != ''"> and a.task_count = #{taskCount, jdbcType=INTEGER}</if>
        <if test="taskWait != null and taskWait != ''"> and a.task_wait = #{taskWait, jdbcType=INTEGER}</if>
        <if test="checkUser != null and checkUser != ''"> and a.check_user = #{checkUser, jdbcType=VARCHAR}</if>
        <if test="checkDate != null and checkDate != ''"> and a.check_date = #{checkDate, jdbcType=TIMESTAMP}</if>
        <if test="weather != null and weather != ''"> and a.weather = #{weather, jdbcType=VARCHAR}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime, jdbcType=TIMESTAMP}</if>
        <if test="executeTime != null and executeTime != ''"> and a.execute_time = #{executeTime, jdbcType=TIMESTAMP}</if>
        <if test="taskCode != null and taskCode != ''"> and a.task_code = #{taskCode, jdbcType=VARCHAR}</if>
        <if test="remark != null and remark != ''"> and a.remark = #{remark, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_cruise_result(
            task_result_id,
            task_id,
            area_id,
            c_type,
            c_state,
            modify_state,
            task_count,
            task_wait,
            check_user,
            check_date,
            weather,
            create_time,
            execute_time,
            task_code,
            remark
        )values
        <foreach collection="list" item="TCruiseResult" separator=",">
            (
                #{TCruiseResult.taskResultId, jdbcType=VARCHAR},
                #{TCruiseResult.taskId, jdbcType=VARCHAR},
                #{TCruiseResult.areaId, jdbcType=VARCHAR},
                #{TCruiseResult.cType, jdbcType=INTEGER},
                #{TCruiseResult.cState, jdbcType=INTEGER},
                #{TCruiseResult.modifyState, jdbcType=INTEGER},
                #{TCruiseResult.taskCount, jdbcType=INTEGER},
                #{TCruiseResult.taskWait, jdbcType=INTEGER},
                #{TCruiseResult.checkUser, jdbcType=VARCHAR},
                #{TCruiseResult.checkDate, jdbcType=TIMESTAMP},
                #{TCruiseResult.weather, jdbcType=VARCHAR},
                #{TCruiseResult.createTime, jdbcType=TIMESTAMP},
                #{TCruiseResult.executeTime, jdbcType=TIMESTAMP},
                #{TCruiseResult.taskCode, jdbcType=VARCHAR},
                #{TCruiseResult.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



</mapper>
