<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessrobot.module.command.dao.TRobotInspectionDao">


    <resultMap id="BaseResultMap" type="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        <id property="inspectionId" column="inspection_id" jdbcType="BIGINT"/>
        <result property="robotId" column="robot_id" jdbcType="BIGINT"/>
        <result property="inspectionCode" column="inspection_code" jdbcType="VARCHAR"/>
        <result property="inspectionName" column="inspection_name" jdbcType="VARCHAR"/>
        <result property="inspectionType" column="inspection_type" jdbcType="INTEGER"/>
        <result property="componentId" column="component_id" jdbcType="VARCHAR"/>
        <result property="meterType" column="meter_type" jdbcType="INTEGER"/>
        <result property="appearanceType" column="appearance_type" jdbcType="INTEGER"/>
        <result property="mainOperationType" column="main_operation_type" jdbcType="INTEGER"/>
        <result property="operationType" column="operation_type" jdbcType="INTEGER"/>
        <result property="saveTypeList" column="save_type_list" jdbcType="VARCHAR"/>
        <result property="recognitionTypeList" column="recognition_type_list" jdbcType="VARCHAR"/>
        <result property="phase" column="phase" jdbcType="VARCHAR"/>
        <result property="deviceInfo" column="device_info" jdbcType="VARCHAR"/>
        <result property="propertyPicPath" column="property_pic_path" jdbcType="VARCHAR"/>
        <result property="originId" column="origin_id" jdbcType="VARCHAR"/>
        <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        inspection_id,robot_id,inspection_code,
        inspection_name,inspection_type,component_id,
        meter_type,appearance_type,main_operation_type,
        operation_type,save_type_list,recognition_type_list,
        phase,device_info,property_pic_path,
        origin_id,edge_code
    </sql>


    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_inspection
        where  inspection_id = #{inspectionId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="inspection_id" keyProperty="inspectionId" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection" useGeneratedKeys="true">
        insert into t_robot_inspection
        ( inspection_id,robot_id,inspection_code
        ,inspection_name,inspection_type,component_id
        ,meter_type,appearance_type,main_operation_type
        ,operation_type,save_type_list,recognition_type_list
        ,phase,device_info,property_pic_path
        ,origin_id,edge_code)
        values (#{inspectionId,jdbcType=BIGINT},#{robotId,jdbcType=BIGINT},#{inspectionCode,jdbcType=VARCHAR}
        ,#{inspectionName,jdbcType=VARCHAR},#{inspectionType,jdbcType=INTEGER},#{componentId,jdbcType=VARCHAR}
        ,#{meterType,jdbcType=INTEGER},#{appearanceType,jdbcType=INTEGER},#{mainOperationType,jdbcType=INTEGER}
        ,#{operationType,jdbcType=INTEGER},#{saveTypeList,jdbcType=VARCHAR},#{recognitionTypeList,jdbcType=VARCHAR}
        ,#{phase,jdbcType=VARCHAR},#{deviceInfo,jdbcType=VARCHAR},#{propertyPicPath,jdbcType=VARCHAR}
        ,#{originId,jdbcType=VARCHAR},#{edgeCode,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        update t_robot_inspection a <set>
        <if test="inspectionCode != null "> a.inspection_code = #{inspectionCode},</if>
        <if test="robotId != null ">a.robot_id = #{robotId},</if>
        <if test="inspectionName != null ">a.inspection_name = #{inspectionName},</if>
        <if test="inspectionType != null ">a.inspection_type = #{inspectionType},</if>
        <if test="componentId != null ">a.component_id = #{componentId},</if>
        <if test="meterType != null ">a.meter_type = #{meterType, jdbcType=INTEGER},</if>
        <if test="appearanceType != null ">a.appearance_type = #{appearanceType, jdbcType=INTEGER},</if>
        <if test="mainOperationType != null ">a.main_operation_type = #{mainOperationType, jdbcType=INTEGER},</if>
        <if test="operationType != null ">a.operation_type = #{operationType, jdbcType=INTEGER},</if>
        <if test="saveTypeList != null ">a.save_type_list = #{saveTypeList},</if>
        <if test="recognitionTypeList != null ">a.recognition_type_list = #{recognitionTypeList},</if>
        <if test="phase != null ">a.phase = #{phase},</if>
        <if test="deviceInfo != null ">a.device_info = #{deviceInfo},</if>
        <if test="propertyPicPath != null ">a.property_pic_path = #{propertyPicPath},</if>

    </set>
        where a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_robot_inspection
        where  inspection_id = #{inspectionId,jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection" resultType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        select
        a.inspection_id,
        a.inspection_code,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.component_id,
        a.meter_type,
        a.appearance_type,
        a.main_operation_type,
        a.operation_type,
        a.save_type_list,
        a.recognition_type_list,
        a.phase,
        a.device_info,
        property_pic_path
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="inspectionCode != null and inspectionCode != ''"> and a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null and inspectionType != ''"> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="componentId != null and componentId != ''">and a.component_id = #{componentId, jdbcType=VARCHAR}</if>
        <if test="meterType != null ">and a.meter_type = #{meterType, jdbcType=Integer}</if>
        <if test="appearanceType != null ">and a.appearance_type = #{appearanceType, jdbcType=Integer}</if>
        <if test="mainOperationType != null ">and a.main_operation_type = #{mainOperationType, jdbcType=Integer}</if>
        <if test="operationType != null ">and a.operation_type = #{operationType, jdbcType=Integer}</if>
        <if test="saveTypeList != null and saveTypeList != ''">and a.save_type_list = #{saveTypeList, jdbcType=VARCHAR}</if>
        <if test="recognitionTypeList != null and recognitionTypeList != ''">a.recognition_type_list = #{recognitionTypeList, jdbcType=VARCHAR}</if>
        <if test="phase != null and phase != ''">and a.phase = #{phase, jdbcType=VARCHAR}</if>
        <if test="deviceInfo != null and deviceInfo != ''">and a.device_info = #{deviceInfo, jdbcType=VARCHAR}</if>
        <if test="propertyPicPath != null and propertyPicPath != ''">and a.property_pic_path = #{propertyPicPath, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection" resultType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        select
        a.inspection_id,
        a.inspection_code,
        a.robot_id,
        a.inspection_name,
        a.inspection_type,
        a.alarm_top,
        a.alarm_bottom,
        a.default_value,
        a.inspection_position,
        a.collect_status,
        a.calibration_status,
        a.unit
        from t_robot_inspection a
        where 1 = 1
        <if test="inspectionId != null and inspectionId != ''"> and a.inspection_id = #{inspectionId, jdbcType=BIGINT}</if>
        <if test="inspectionCode != null and inspectionCode != ''"> and a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}</if>
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="inspectionName != null and inspectionName != ''"> and a.inspection_name = #{inspectionName, jdbcType=VARCHAR}</if>
        <if test="inspectionType != null and inspectionType != ''"> and a.inspection_type = #{inspectionType, jdbcType=INTEGER}</if>
        <if test="alarmTop != null and alarmTop != ''"> and a.alarm_top = #{alarmTop, jdbcType=VARCHAR}</if>
        <if test="alarmBottom != null and alarmBottom != ''"> and a.alarm_bottom = #{alarmBottom, jdbcType=VARCHAR}</if>
        <if test="defaultValue != null and defaultValue != ''"> and a.default_value = #{defaultValue, jdbcType=VARCHAR}</if>
        <if test="inspectionPosition != null and inspectionPosition != ''"> and a.inspection_position = #{inspectionPosition, jdbcType=INTEGER}</if>
        <if test="collectStatus != null and collectStatus != ''"> and a.collect_status = #{collectStatus, jdbcType=INTEGER}</if>
        <if test="calibrationStatus != null and calibrationStatus != ''"> and a.calibration_status = #{calibrationStatus, jdbcType=INTEGER}</if>
        <if test="unit != null and unit != ''"> and a.unit = #{unit, jdbcType=VARCHAR}</if>
    </select>

    <!--机器人测点表中现有的点-->
    <select id="selectAllByRobotId" resultType="java.lang.String">
        SELECT
        a.inspection_code
        FROM
        t_robot_inspection a
        WHERE 1 = 1
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
    </select>
    <!--根据测点编码list查询测点list-->
    <select id="selectInspectionIdList" resultType="java.lang.Long">
        SELECT
        inspection_id
        FROM
        t_robot_inspection
        WHERE 1 = 1 and
        inspection_code IN
        <foreach collection="list" item="inspectionCode" open="(" separator="," close=")">
            #{inspectionCode, jdbcType=VARCHAR}
        </foreach>
    </select>
    <!--根据测点list查询巡检点list-->
    <select id="selectInstanceIdList" resultType="java.lang.Long">
        SELECT
        instance_id
        FROM
        t_cruise_point_instance
        WHERE 1 = 1 and
        cruise_id IN
        <foreach collection="list" item="inspectionId" open="(" separator="," close=")">
            #{inspectionId, jdbcType=BIGINT}
        </foreach>
    </select>
    <!--批量删除机器人测点表数据-->
    <delete id="batchDeleteTRobotInspection">
        DELETE
        FROM
        t_robot_inspection
        WHERE
        inspection_id IN
        <foreach collection="list" item="inspectionId" open="(" separator="," close=")">
            #{inspectionId, jdbcType=VARCHAR}
        </foreach>
    </delete>
    <!--批量删除巡检点表数据-->
    <delete id="batchDeleteTCruisePointInstance">
        DELETE
        FROM
        t_cruise_point_instance
        WHERE
        instance_id IN
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </delete>
    <!--批量删除巡检预案属性表数据-->
    <delete id="batchDeleteTCruisePlanAttr">
        DELETE
        FROM
        t_cruise_plan_attr
        WHERE
        instance_id IN
        <foreach collection="list" item="instanceId" open="(" separator="," close=")">
            #{instanceId, jdbcType=BIGINT}
        </foreach>
    </delete>
    <!--批量插入机器人测点表数据-->
    <insert id="batchInsertTRobotInspection" keyColumn="inspection_id" keyProperty="inspectionId" parameterType="java.util.List" useGeneratedKeys="true">
        insert into t_robot_inspection(
        inspection_code,
        robot_id,
        inspection_name,
        inspection_type,
        component_id,
        meter_type,
        appearance_type,
        main_operation_type,
        operation_type,
        save_type_list,
        recognition_type_list,
        phase,
        device_info,
        property_pic_path,origin_id,edge_code
        )values
        <foreach collection="list" item="TRobotInspection" separator=",">
            (
            #{TRobotInspection.inspectionCode, jdbcType=VARCHAR},
            #{TRobotInspection.robotId, jdbcType=BIGINT},
            #{TRobotInspection.inspectionName, jdbcType=VARCHAR},
            #{TRobotInspection.inspectionType, jdbcType=INTEGER},
            #{TRobotInspection.componentId, jdbcType=VARCHAR},
            #{TRobotInspection.meterType, jdbcType=INTEGER},
            #{TRobotInspection.appearanceType, jdbcType=INTEGER},
            #{TRobotInspection.mainOperationType, jdbcType=INTEGER},
            #{TRobotInspection.operationType, jdbcType=INTEGER},
            #{TRobotInspection.saveTypeList, jdbcType=VARCHAR},
            #{TRobotInspection.recognitionTypeList, jdbcType=VARCHAR},
            #{TRobotInspection.phase, jdbcType=VARCHAR},
            #{TRobotInspection.deviceInfo, jdbcType=VARCHAR},
            #{TRobotInspection.propertyPicPath, jdbcType=VARCHAR},
            #{TRobotInspection.originId, jdbcType=VARCHAR},
            #{TRobotInspection.edgeCode, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <select id="selectInspection" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            a.inspection_id,
            a.inspection_name,
            a.property_pic_path
        FROM
            t_robot_inspection a
        WHERE 1 = 1
        <if test="inspectionCode != null and inspectionCode != ''"> and a.inspection_code = #{inspectionCode, jdbcType=VARCHAR}</if>
    </select>
    <select id="selectByEdgeCode" resultType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        select
        <include refid="Base_Column_List" />
        from t_robot_inspection
        where  edge_code = #{edgeCode}
    </select>

    <insert id="insertSelective" keyColumn="inspection_id" keyProperty="inspectionId" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection" useGeneratedKeys="true">
        insert into t_robot_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectionId != null">inspection_id,</if>
            <if test="robotId != null">robot_id,</if>
            <if test="inspectionCode != null">inspection_code,</if>
            <if test="inspectionName != null">inspection_name,</if>
            <if test="inspectionType != null">inspection_type,</if>
            <if test="componentId != null">component_id,</if>
            <if test="meterType != null">meter_type,</if>
            <if test="appearanceType != null">appearance_type,</if>
            <if test="mainOperationType != null">main_operation_type,</if>
            <if test="operationType != null">operation_type,</if>
            <if test="saveTypeList != null">save_type_list,</if>
            <if test="recognitionTypeList != null">recognition_type_list,</if>
            <if test="phase != null">phase,</if>
            <if test="deviceInfo != null">device_info,</if>
            <if test="propertyPicPath != null">property_pic_path,</if>
            <if test="originId != null">origin_id,</if>
            <if test="edgeCode != null">edge_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectionId != null">#{inspectionId,jdbcType=BIGINT},</if>
            <if test="robotId != null">#{robotId,jdbcType=BIGINT},</if>
            <if test="inspectionCode != null">#{inspectionCode,jdbcType=VARCHAR},</if>
            <if test="inspectionName != null">#{inspectionName,jdbcType=VARCHAR},</if>
            <if test="inspectionType != null">#{inspectionType,jdbcType=INTEGER},</if>
            <if test="componentId != null">#{componentId,jdbcType=VARCHAR},</if>
            <if test="meterType != null">#{meterType,jdbcType=INTEGER},</if>
            <if test="appearanceType != null">#{appearanceType,jdbcType=INTEGER},</if>
            <if test="mainOperationType != null">#{mainOperationType,jdbcType=INTEGER},</if>
            <if test="operationType != null">#{operationType,jdbcType=INTEGER},</if>
            <if test="saveTypeList != null">#{saveTypeList,jdbcType=VARCHAR},</if>
            <if test="recognitionTypeList != null">#{recognitionTypeList,jdbcType=VARCHAR},</if>
            <if test="phase != null">#{phase,jdbcType=VARCHAR},</if>
            <if test="deviceInfo != null">#{deviceInfo,jdbcType=VARCHAR},</if>
            <if test="propertyPicPath != null">#{propertyPicPath,jdbcType=VARCHAR},</if>
            <if test="originId != null">#{originId,jdbcType=VARCHAR},</if>
            <if test="edgeCode != null">#{edgeCode,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        update t_robot_inspection
        <set>
            <if test="robotId != null">
                robot_id = #{robotId,jdbcType=BIGINT},
            </if>
            <if test="inspectionCode != null">
                inspection_code = #{inspectionCode,jdbcType=VARCHAR},
            </if>
            <if test="inspectionName != null">
                inspection_name = #{inspectionName,jdbcType=VARCHAR},
            </if>
            <if test="inspectionType != null">
                inspection_type = #{inspectionType,jdbcType=INTEGER},
            </if>
            <if test="componentId != null">
                component_id = #{componentId,jdbcType=VARCHAR},
            </if>
            <if test="meterType != null">
                meter_type = #{meterType,jdbcType=INTEGER},
            </if>
            <if test="appearanceType != null">
                appearance_type = #{appearanceType,jdbcType=INTEGER},
            </if>
            <if test="mainOperationType != null">
                main_operation_type = #{mainOperationType,jdbcType=INTEGER},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType,jdbcType=INTEGER},
            </if>
            <if test="saveTypeList != null">
                save_type_list = #{saveTypeList,jdbcType=VARCHAR},
            </if>
            <if test="recognitionTypeList != null">
                recognition_type_list = #{recognitionTypeList,jdbcType=VARCHAR},
            </if>
            <if test="phase != null">
                phase = #{phase,jdbcType=VARCHAR},
            </if>
            <if test="deviceInfo != null">
                device_info = #{deviceInfo,jdbcType=VARCHAR},
            </if>
            <if test="propertyPicPath != null">
                property_pic_path = #{propertyPicPath,jdbcType=VARCHAR},
            </if>
            <if test="originId != null">
                origin_id = #{originId,jdbcType=VARCHAR},
            </if>
            <if test="edgeCode != null">
                edge_code = #{edgeCode,jdbcType=VARCHAR},
            </if>
        </set>
        where   inspection_id = #{inspectionId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInspection">
        update t_robot_inspection
        set
        robot_id =  #{robotId,jdbcType=BIGINT},
        inspection_code =  #{inspectionCode,jdbcType=VARCHAR},
        inspection_name =  #{inspectionName,jdbcType=VARCHAR},
        inspection_type =  #{inspectionType,jdbcType=INTEGER},
        component_id =  #{componentId,jdbcType=VARCHAR},
        meter_type =  #{meterType,jdbcType=INTEGER},
        appearance_type =  #{appearanceType,jdbcType=INTEGER},
        main_operation_type =  #{mainOperationType,jdbcType=INTEGER},
        operation_type =  #{operationType,jdbcType=INTEGER},
        save_type_list =  #{saveTypeList,jdbcType=VARCHAR},
        recognition_type_list =  #{recognitionTypeList,jdbcType=VARCHAR},
        phase =  #{phase,jdbcType=VARCHAR},
        device_info =  #{deviceInfo,jdbcType=VARCHAR},
        property_pic_path =  #{propertyPicPath,jdbcType=VARCHAR},
        origin_id =  #{originId,jdbcType=VARCHAR},
        edge_code =  #{edgeCode,jdbcType=VARCHAR}
        where   inspection_id = #{inspectionId,jdbcType=BIGINT}
    </update>
    <delete id="deleteByEdgeCodeAndOriginId">
        delete from t_robot_inspection  where edge_code=#{edgeCode}
        and origin_id in
        <foreach collection="originIdList" item="originId" open="(" separator="," close=")">   #{originId} </foreach>
    </delete>
    <delete id="deleteByEdgeCode">
        delete from t_robot_inspection  where edge_code=#{edgeCode}
    </delete>
</mapper>
