<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessrobot.module.command.dao.TRobotInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        <id column="robot_id" jdbcType="BIGINT" property="robotId" />
        <result column="robot_code" jdbcType="VARCHAR" property="robotCode" />
        <result column="robot_name" jdbcType="VARCHAR" property="robotName" />
        <result column="robot_status" jdbcType="VARCHAR" property="robotStatus" />
        <result column="robot_type" jdbcType="INTEGER" property="robotType" />
        <result column="robot_ip" jdbcType="VARCHAR" property="robotIp" />
        <result column="robot_port" jdbcType="INTEGER" property="robotPort" />
        <result column="light_ip" jdbcType="VARCHAR" property="lightIp" />
        <result column="light_port" jdbcType="VARCHAR" property="lightPort" />
        <result column="light_username" jdbcType="VARCHAR" property="lightUsername" />
        <result column="light_password" jdbcType="VARCHAR" property="lightPassword" />
        <result column="lnferad_IP" jdbcType="VARCHAR" property="lnferadIp" />
        <result column="Inferad_Port" jdbcType="INTEGER" property="inferadPort" />
        <result column="Inferad_username" jdbcType="VARCHAR" property="inferadUsername" />
        <result column="Inferad_password" jdbcType="VARCHAR" property="inferadPassword" />
        <result column="phote_path" jdbcType="VARCHAR" property="photePath" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
        <result column="robot_factory" jdbcType="VARCHAR" property="robotFactory" />
        <result column="is_use" jdbcType="VARCHAR" property="isUse" />
        <result column="commission_date" jdbcType="TIMESTAMP" property="commissionDate" />
        <result column="up_region_id" jdbcType="BIGINT" property="upRegionId" />
        <result column="robot_position" jdbcType="VARCHAR" property="robotPosition" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        robot_id, robot_code, robot_name, robot_status, robot_type, robot_ip, robot_port, light_ip, light_port, light_username, light_password, lnferad_IP, Inferad_Port, Inferad_username, Inferad_password, phote_path, create_by, create_date, update_by, update_date, robot_factory, is_use, commission_date, up_region_id, robot_position, remarks
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="robotId" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        insert into t_robot_info(
            robot_id,
            robot_code,
            robot_name,
            robot_status,
            robot_type,
            robot_ip,
            robot_port,
            light_ip,
            light_port,
            light_username,
            light_password,
            lnferad_IP,
            Inferad_Port,
            Inferad_username,
            Inferad_password,
            phote_path,
            create_by,
            create_date,
            update_by,
            update_date,
            robot_factory,
            is_use,
            commission_date,
            up_region_id,
            robot_position,
            remarks
        )values(
                #{robotId, jdbcType=BIGINT},
                #{robotCode, jdbcType=VARCHAR},
                #{robotName, jdbcType=VARCHAR},
                #{robotStatus, jdbcType=VARCHAR},
                #{robotType, jdbcType=INTEGER},
                #{robotIp, jdbcType=VARCHAR},
                #{robotPort, jdbcType=INTEGER},
                #{lightIp, jdbcType=VARCHAR},
                #{lightPort, jdbcType=VARCHAR},
                #{lightUsername, jdbcType=VARCHAR},
                #{lightPassword, jdbcType=VARCHAR},
                #{lnferadIp, jdbcType=VARCHAR},
                #{inferadPort, jdbcType=INTEGER},
                #{inferadUsername, jdbcType=VARCHAR},
                #{inferadPassword, jdbcType=VARCHAR},
                #{photePath, jdbcType=VARCHAR},
                #{createBy, jdbcType=VARCHAR},
                #{createDate, jdbcType=TIMESTAMP},
                #{updateBy, jdbcType=VARCHAR},
                #{updateDate, jdbcType=TIMESTAMP},
                #{robotFactory, jdbcType=VARCHAR},
                #{isUse, jdbcType=VARCHAR},
                #{commissionDate, jdbcType=TIMESTAMP},
                #{upRegionId, jdbcType=BIGINT},
                #{robotPosition, jdbcType=VARCHAR},
                #{remarks, jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByPrimaryId" parameterType="java.lang.Long">
        delete from t_robot_info
                where robot_id = #{robotId, jdbcType=BIGINT}
    </delete>

    <update id="update" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        update t_robot_info a <set>
        <if test="robotId != null and robotId != ''">a.robot_id = #{robotId, jdbcType=BIGINT},</if>
        <if test="robotCode != null and robotCode != ''">a.robot_code = #{robotCode, jdbcType=VARCHAR},</if>
        <if test="robotName != null and robotName != ''">a.robot_name = #{robotName, jdbcType=VARCHAR},</if>
        <if test="robotStatus != null and robotStatus != ''">a.robot_status = #{robotStatus, jdbcType=VARCHAR},</if>
        <if test="robotType != null and robotType != ''">a.robot_type = #{robotType, jdbcType=INTEGER},</if>
        <if test="robotIp != null and robotIp != ''">a.robot_ip = #{robotIp, jdbcType=VARCHAR},</if>
        <if test="robotPort != null and robotPort != ''">a.robot_port = #{robotPort, jdbcType=INTEGER},</if>
        <if test="lightIp != null and lightIp != ''">a.light_ip = #{lightIp, jdbcType=VARCHAR},</if>
        <if test="lightPort != null and lightPort != ''">a.light_port = #{lightPort, jdbcType=VARCHAR},</if>
        <if test="lightUsername != null and lightUsername != ''">a.light_username = #{lightUsername, jdbcType=VARCHAR},</if>
        <if test="lightPassword != null and lightPassword != ''">a.light_password = #{lightPassword, jdbcType=VARCHAR},</if>
        <if test="lnferadIp != null and lnferadIp != ''">a.lnferad_IP = #{lnferadIp, jdbcType=VARCHAR},</if>
        <if test="inferadPort != null and inferadPort != ''">a.Inferad_Port = #{inferadPort, jdbcType=INTEGER},</if>
        <if test="inferadUsername != null and inferadUsername != ''">a.Inferad_username = #{inferadUsername, jdbcType=VARCHAR},</if>
        <if test="inferadPassword != null and inferadPassword != ''">a.Inferad_password = #{inferadPassword, jdbcType=VARCHAR},</if>
        <if test="photePath != null and photePath != ''">a.phote_path = #{photePath, jdbcType=VARCHAR},</if>
        <if test="createBy != null and createBy != ''">a.create_by = #{createBy, jdbcType=VARCHAR},</if>
        <if test="createDate != null and createDate != ''">a.create_date = #{createDate, jdbcType=TIMESTAMP},</if>
        <if test="updateBy != null and updateBy != ''">a.update_by = #{updateBy, jdbcType=VARCHAR},</if>
        <if test="updateDate != null and updateDate != ''">a.update_date = #{updateDate, jdbcType=TIMESTAMP},</if>
        <if test="robotFactory != null and robotFactory != ''">a.robot_factory = #{robotFactory, jdbcType=VARCHAR},</if>
        <if test="isUse != null and isUse != ''">a.is_use = #{isUse, jdbcType=VARCHAR},</if>
        <if test="commissionDate != null and commissionDate != ''">a.commission_date = #{commissionDate, jdbcType=TIMESTAMP},</if>
        <if test="upRegionId != null and upRegionId != ''">a.up_region_id = #{upRegionId, jdbcType=BIGINT},</if>
        <if test="robotPosition != null and robotPosition != ''">a.robot_position = #{robotPosition, jdbcType=VARCHAR},</if>
        <if test="remarks != null and remarks != ''">a.remarks = #{remarks, jdbcType=VARCHAR},</if>
    </set>
            where a.robot_id = #{robotId, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryId" parameterType="java.lang.Long" resultType="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.light_username,
        a.light_password,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.remarks
        from t_robot_info a
        where 1 = 1
            and a.robot_id = #{robotId, jdbcType=BIGINT}
        limit 1
    </select>

    <select id="select" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInfo" resultType="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.light_username,
        a.light_password,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.remarks
        from t_robot_info a
        where 1 = 1
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="robotCode != null and robotCode != ''"> and a.robot_code = #{robotCode, jdbcType=VARCHAR}</if>
        <if test="robotName != null and robotName != ''"> and a.robot_name = #{robotName, jdbcType=VARCHAR}</if>
        <if test="robotStatus != null and robotStatus != ''"> and a.robot_status = #{robotStatus, jdbcType=VARCHAR}</if>
        <if test="robotType != null and robotType != ''"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="robotIp != null and robotIp != ''"> and a.robot_ip = #{robotIp, jdbcType=VARCHAR}</if>
        <if test="robotPort != null and robotPort != ''"> and a.robot_port = #{robotPort, jdbcType=INTEGER}</if>
        <if test="lightIp != null and lightIp != ''"> and a.light_ip = #{lightIp, jdbcType=VARCHAR}</if>
        <if test="lightPort != null and lightPort != ''"> and a.light_port = #{lightPort, jdbcType=VARCHAR}</if>
        <if test="lightUsername != null and lightUsername != ''"> and a.light_username = #{lightUsername, jdbcType=VARCHAR}</if>
        <if test="lightPassword != null and lightPassword != ''"> and a.light_password = #{lightPassword, jdbcType=VARCHAR}</if>
        <if test="lnferadIp != null and lnferadIp != ''"> and a.lnferad_IP = #{lnferadIp, jdbcType=VARCHAR}</if>
        <if test="inferadPort != null and inferadPort != ''"> and a.Inferad_Port = #{inferadPort, jdbcType=INTEGER}</if>
        <if test="inferadUsername != null and inferadUsername != ''"> and a.Inferad_username = #{inferadUsername, jdbcType=VARCHAR}</if>
        <if test="inferadPassword != null and inferadPassword != ''"> and a.Inferad_password = #{inferadPassword, jdbcType=VARCHAR}</if>
        <if test="photePath != null and photePath != ''"> and a.phote_path = #{photePath, jdbcType=VARCHAR}</if>
        <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy, jdbcType=VARCHAR}</if>
        <if test="createDate != null and createDate != ''"> and a.create_date = #{createDate, jdbcType=TIMESTAMP}</if>
        <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy, jdbcType=VARCHAR}</if>
        <if test="updateDate != null and updateDate != ''"> and a.update_date = #{updateDate, jdbcType=TIMESTAMP}</if>
        <if test="robotFactory != null and robotFactory != ''"> and a.robot_factory = #{robotFactory, jdbcType=VARCHAR}</if>
        <if test="isUse != null and isUse != ''"> and a.is_use = #{isUse, jdbcType=VARCHAR}</if>
        <if test="commissionDate != null and commissionDate != ''"> and a.commission_date = #{commissionDate, jdbcType=TIMESTAMP}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="robotPosition != null and robotPosition != ''"> and a.robot_position = #{robotPosition, jdbcType=VARCHAR}</if>
        <if test="remarks != null and remarks != ''"> and a.remarks = #{remarks, jdbcType=VARCHAR}</if>
    </select>

    <select id="selectByPage" parameterType="com.yjh.accessrobot.module.command.entity.TRobotInfo" resultType="com.yjh.accessrobot.module.command.entity.TRobotInfo">
        select
        a.robot_id,
        a.robot_code,
        a.robot_name,
        a.robot_status,
        a.robot_type,
        a.robot_ip,
        a.robot_port,
        a.light_ip,
        a.light_port,
        a.light_username,
        a.light_password,
        a.lnferad_IP,
        a.Inferad_Port,
        a.Inferad_username,
        a.Inferad_password,
        a.phote_path,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.robot_factory,
        a.is_use,
        a.commission_date,
        a.up_region_id,
        a.robot_position,
        a.remarks
        from t_robot_info a
        where 1 = 1
        <if test="robotId != null and robotId != ''"> and a.robot_id = #{robotId, jdbcType=BIGINT}</if>
        <if test="robotCode != null and robotCode != ''"> and a.robot_code = #{robotCode, jdbcType=VARCHAR}</if>
        <if test="robotName != null and robotName != ''"> and a.robot_name = #{robotName, jdbcType=VARCHAR}</if>
        <if test="robotStatus != null and robotStatus != ''"> and a.robot_status = #{robotStatus, jdbcType=VARCHAR}</if>
        <if test="robotType != null and robotType != ''"> and a.robot_type = #{robotType, jdbcType=INTEGER}</if>
        <if test="robotIp != null and robotIp != ''"> and a.robot_ip = #{robotIp, jdbcType=VARCHAR}</if>
        <if test="robotPort != null and robotPort != ''"> and a.robot_port = #{robotPort, jdbcType=INTEGER}</if>
        <if test="lightIp != null and lightIp != ''"> and a.light_ip = #{lightIp, jdbcType=VARCHAR}</if>
        <if test="lightPort != null and lightPort != ''"> and a.light_port = #{lightPort, jdbcType=VARCHAR}</if>
        <if test="lightUsername != null and lightUsername != ''"> and a.light_username = #{lightUsername, jdbcType=VARCHAR}</if>
        <if test="lightPassword != null and lightPassword != ''"> and a.light_password = #{lightPassword, jdbcType=VARCHAR}</if>
        <if test="lnferadIp != null and lnferadIp != ''"> and a.lnferad_IP = #{lnferadIp, jdbcType=VARCHAR}</if>
        <if test="inferadPort != null and inferadPort != ''"> and a.Inferad_Port = #{inferadPort, jdbcType=INTEGER}</if>
        <if test="inferadUsername != null and inferadUsername != ''"> and a.Inferad_username = #{inferadUsername, jdbcType=VARCHAR}</if>
        <if test="inferadPassword != null and inferadPassword != ''"> and a.Inferad_password = #{inferadPassword, jdbcType=VARCHAR}</if>
        <if test="photePath != null and photePath != ''"> and a.phote_path = #{photePath, jdbcType=VARCHAR}</if>
        <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy, jdbcType=VARCHAR}</if>
        <if test="createDate != null and createDate != ''"> and a.create_date = #{createDate, jdbcType=TIMESTAMP}</if>
        <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy, jdbcType=VARCHAR}</if>
        <if test="updateDate != null and updateDate != ''"> and a.update_date = #{updateDate, jdbcType=TIMESTAMP}</if>
        <if test="robotFactory != null and robotFactory != ''"> and a.robot_factory = #{robotFactory, jdbcType=VARCHAR}</if>
        <if test="isUse != null and isUse != ''"> and a.is_use = #{isUse, jdbcType=VARCHAR}</if>
        <if test="commissionDate != null and commissionDate != ''"> and a.commission_date = #{commissionDate, jdbcType=TIMESTAMP}</if>
        <if test="upRegionId != null and upRegionId != ''"> and a.up_region_id = #{upRegionId, jdbcType=BIGINT}</if>
        <if test="robotPosition != null and robotPosition != ''"> and a.robot_position = #{robotPosition, jdbcType=VARCHAR}</if>
        <if test="remarks != null and remarks != ''"> and a.remarks = #{remarks, jdbcType=VARCHAR}</if>
    </select>

    <insert id="batchInsert">
        insert into t_robot_info(
            robot_id,
            robot_code,
            robot_name,
            robot_status,
            robot_type,
            robot_ip,
            robot_port,
            light_ip,
            light_port,
            light_username,
            light_password,
            lnferad_IP,
            Inferad_Port,
            Inferad_username,
            Inferad_password,
            phote_path,
            create_by,
            create_date,
            update_by,
            update_date,
            robot_factory,
            is_use,
            commission_date,
            up_region_id,
            robot_position,
            remarks
        )values
        <foreach collection="list" item="TRobotInfo" separator=",">
            (
                #{TRobotInfo.robotId, jdbcType=BIGINT},
                #{TRobotInfo.robotCode, jdbcType=VARCHAR},
                #{TRobotInfo.robotName, jdbcType=VARCHAR},
                #{TRobotInfo.robotStatus, jdbcType=VARCHAR},
                #{TRobotInfo.robotType, jdbcType=INTEGER},
                #{TRobotInfo.robotIp, jdbcType=VARCHAR},
                #{TRobotInfo.robotPort, jdbcType=INTEGER},
                #{TRobotInfo.lightIp, jdbcType=VARCHAR},
                #{TRobotInfo.lightPort, jdbcType=VARCHAR},
                #{TRobotInfo.lightUsername, jdbcType=VARCHAR},
                #{TRobotInfo.lightPassword, jdbcType=VARCHAR},
                #{TRobotInfo.lnferadIp, jdbcType=VARCHAR},
                #{TRobotInfo.inferadPort, jdbcType=INTEGER},
                #{TRobotInfo.inferadUsername, jdbcType=VARCHAR},
                #{TRobotInfo.inferadPassword, jdbcType=VARCHAR},
                #{TRobotInfo.photePath, jdbcType=VARCHAR},
                #{TRobotInfo.createBy, jdbcType=VARCHAR},
                #{TRobotInfo.createDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.updateBy, jdbcType=VARCHAR},
                #{TRobotInfo.updateDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.robotFactory, jdbcType=VARCHAR},
                #{TRobotInfo.isUse, jdbcType=VARCHAR},
                #{TRobotInfo.commissionDate, jdbcType=TIMESTAMP},
                #{TRobotInfo.upRegionId, jdbcType=BIGINT},
                #{TRobotInfo.robotPosition, jdbcType=VARCHAR},
                #{TRobotInfo.remarks, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--查询最新一条数据的机器人id-->
    <select id="selectLastRobotId" resultType="java.lang.Long">
        select robot_id from t_robot_info order by robot_id DESC limit 1
    </select>
    <!--根据机器人id查询机器人code-->
    <select id="selectRobotIdByCode" parameterType="java.lang.String" resultType="java.lang.Long">
        select robot_id from t_robot_info
        where 1 = 1
        <if test="robotCode != null and robotCode != ''"> and robot_code = #{robotCode, jdbcType=VARCHAR}</if>
    </select>
    <!--根据instanceId查询inspectionCode-->
    <select id="selectInspectionCode" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
            b.inspection_code
        FROM t_cruise_point_instance a,t_robot_inspection b
        where  1 = 1
        and a.cruise_id = b.inspection_id
        <if test="instanceId != null "> and a.instance_id = #{instanceId, jdbcType=VARCHAR}</if>
    </select>
    <!--查询机器人相关信息-->
    <select id="selectRelateInfo" resultType="java.util.Map">
        SELECT
            a.task_id,
            a.task_result_id,
            d.cruise_result_id,
            d.cruise_data_id
        FROM t_cruise_result a
        LEFT JOIN t_cruise_task_result_detail b on a.task_result_id = b.task_result_id
        LEFT JOIN t_cruise_data_result d on b.cruise_result_id = d.cruise_result_id
        where 1 = 1
        <if test="taskId != null and taskId != ''"> and a.task_id = #{taskId, jdbcType=VARCHAR}</if>
    </select>
    <!--查询机器人相关信息2-->
    <select id="selectTCruiseTask" parameterType="java.lang.String" resultType="com.yjh.accessrobot.module.command.entity.TCruiseTask">
        select
        a.task_id,
        a.task_name,
        a.plan_id,
        a.area_id,
        a.type,
        a.if_run,
        a.robot_id,
        a.date_type,
        a.task_type,
        a.start_time,
        a.create_time
        from t_cruise_task a
        where 1 = 1
            and a.task_id = #{taskId, jdbcType=VARCHAR}
        limit 1
    </select>
    <!--机器人本体告警入库-->
    <insert id="insertRobotAlarm"  parameterType="com.yjh.accessrobot.module.command.entity.TRobotAlarm">
        insert into t_robot_alarm(
            robot_alarm_id,
            alarm_name,
            robot_id,
            station_id,
            alarm_type,
            alarm_level,
            alarm_info,
            alarm_time,
            deal_type,
            deal_info,
            deal_person_id,
            deal_time,
            position_station_num,
            position_offset,
            alarm_state,
            create_time,
            end_time
        )values(
                #{robotAlarmId, jdbcType=BIGINT},
                #{alarmName, jdbcType=VARCHAR},
                #{robotId, jdbcType=BIGINT},
                #{stationId, jdbcType=VARCHAR},
                #{alarmType, jdbcType=INTEGER},
                #{alarmLevel, jdbcType=INTEGER},
                #{alarmInfo, jdbcType=VARCHAR},
                #{alarmTime, jdbcType=TIMESTAMP},
                #{dealType, jdbcType=INTEGER},
                #{dealInfo, jdbcType=VARCHAR},
                #{dealPersonId, jdbcType=VARCHAR},
                #{dealTime, jdbcType=TIMESTAMP},
                #{positionStationNum, jdbcType=VARCHAR},
                #{positionOffset, jdbcType=VARCHAR},
                #{alarmState, jdbcType=INTEGER},
                #{createTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <!--TCTRD信息批量入库-->
    <insert id="batchInsertCruiseTaskResultDetail">
        insert into t_cruise_task_result_detail(
        cruise_result_id,
        task_result_id,
        device_id,
        instance_id,
        cruise_time,
        end_time,
        cruise_status,
        remark
        )values
        <foreach collection="list" item="TCruiseTaskResultDetail" separator=",">
            (
            #{TCruiseTaskResultDetail.cruiseResultId, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.taskResultId, jdbcType=VARCHAR},
            #{TCruiseTaskResultDetail.deviceId, jdbcType=BIGINT},
            #{TCruiseTaskResultDetail.instanceId, jdbcType=BIGINT},
            #{TCruiseTaskResultDetail.cruiseTime, jdbcType=TIMESTAMP},
            #{TCruiseTaskResultDetail.endTime, jdbcType=TIMESTAMP},
            #{TCruiseTaskResultDetail.cruiseStatus, jdbcType=INTEGER},
            #{TCruiseTaskResultDetail.remark, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--TCDR信息批量入库-->
    <insert id="batchInsertCruiseDataResult">
        insert into t_cruise_data_result(
        cruise_data_id,
        cruise_result_id,
        cruise_id,
        cruise_type,
        result_desc,
        result_num,
        modify_num,
        picpath,
        person_check,
        origpic,
        state,
        evaluation_state,
        identify_state,
        identify_result,
        createtime,
        remark,
        check_user,
        check_date,
        is_warn
        )values
        <foreach collection="list" item="TCruiseDataResult" separator=",">
            (
            #{TCruiseDataResult.cruiseDataId, jdbcType=BIGINT},
            #{TCruiseDataResult.cruiseResultId, jdbcType=VARCHAR},
            #{TCruiseDataResult.cruiseId, jdbcType=BIGINT},
            #{TCruiseDataResult.cruiseType, jdbcType=INTEGER},
            #{TCruiseDataResult.resultDesc, jdbcType=VARCHAR},
            #{TCruiseDataResult.resultNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.modifyNum, jdbcType=VARCHAR},
            #{TCruiseDataResult.picpath, jdbcType=VARCHAR},
            #{TCruiseDataResult.personCheck, jdbcType=VARCHAR},
            #{TCruiseDataResult.origpic, jdbcType=VARCHAR},
            #{TCruiseDataResult.state, jdbcType=INTEGER},
            #{TCruiseDataResult.evaluationState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyState, jdbcType=INTEGER},
            #{TCruiseDataResult.identifyResult, jdbcType=INTEGER},
            #{TCruiseDataResult.createtime, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.remark, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkUser, jdbcType=VARCHAR},
            #{TCruiseDataResult.checkDate, jdbcType=TIMESTAMP},
            #{TCruiseDataResult.isWarn, jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <!--TCTRD信息单个入库-->
    <insert id="insertTCruiseTaskResultDetail" useGeneratedKeys="true" keyProperty="cruiseResultId" parameterType="com.yjh.accessrobot.module.command.entity.TCruiseTaskResultDetail">
        insert into t_cruise_task_result_detail(
            cruise_result_id,
            task_result_id,
            device_id,
            instance_id,
            cruise_time,
            end_time,
            cruise_status,
            remark
        )values(
                #{cruiseResultId, jdbcType=VARCHAR},
                #{taskResultId, jdbcType=VARCHAR},
                #{deviceId, jdbcType=BIGINT},
                #{instanceId, jdbcType=BIGINT},
                #{cruiseTime, jdbcType=TIMESTAMP},
                #{endTime, jdbcType=TIMESTAMP},
                #{cruiseStatus, jdbcType=INTEGER},
                #{remark, jdbcType=VARCHAR}
        )
    </insert>
    <!--TCDR信息单个入库-->
    <insert id="insertTCruiseDataResult" useGeneratedKeys="true" keyProperty="cruiseDataId" parameterType="com.yjh.accessrobot.module.command.entity.TCruiseDataResult">
        insert into t_cruise_data_result(
            cruise_data_id,
            cruise_result_id,
            cruise_id,
            cruise_type,
            result_desc,
            result_num,
            modify_num,
            picpath,
            person_check,
            origpic,
            state,
            evaluation_state,
            identify_state,
            identify_result,
            createtime,
            remark,
            check_user,
            check_date,
            is_warn
        )values(
                #{cruiseDataId, jdbcType=BIGINT},
                #{cruiseResultId, jdbcType=VARCHAR},
                #{cruiseId, jdbcType=BIGINT},
                #{cruiseType, jdbcType=INTEGER},
                #{resultDesc, jdbcType=VARCHAR},
                #{resultNum, jdbcType=VARCHAR},
                #{modifyNum, jdbcType=VARCHAR},
                #{picpath, jdbcType=VARCHAR},
                #{personCheck, jdbcType=VARCHAR},
                #{origpic, jdbcType=VARCHAR},
                #{state, jdbcType=INTEGER},
                #{evaluationState, jdbcType=INTEGER},
                #{identifyState, jdbcType=INTEGER},
                #{identifyResult, jdbcType=INTEGER},
                #{createtime, jdbcType=TIMESTAMP},
                #{remark, jdbcType=VARCHAR},
                #{checkUser, jdbcType=VARCHAR},
                #{checkDate, jdbcType=TIMESTAMP},
                #{isWarn, jdbcType=INTEGER}
        )
    </insert>
    <!--TCR信息更新-->
    <update id="updateTCruiseResult">
        update t_cruise_result a <set>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="areaId != null and areaId != ''">a.area_id = #{areaId, jdbcType=VARCHAR},</if>
        <if test="cType != null">a.c_type = #{cType, jdbcType=INTEGER},</if>
        <if test="cState != null">a.c_state = #{cState, jdbcType=INTEGER},</if>
        <if test="modifyState != null">a.modify_state = #{modifyState, jdbcType=INTEGER},</if>
        <if test="taskCount != null">a.task_count = #{taskCount, jdbcType=INTEGER},</if>
        <if test="taskWait != null">a.task_wait = #{taskWait, jdbcType=INTEGER},</if>
        <if test="checkUser != null and checkUser != ''">a.check_user = #{checkUser, jdbcType=VARCHAR},</if>
        a.check_date = #{checkDate, jdbcType=TIMESTAMP},
        <if test="weather != null and weather != ''">a.weather = #{weather, jdbcType=VARCHAR},</if>
        a.create_time = #{createTime, jdbcType=TIMESTAMP},
        a.execute_time = #{executeTime, jdbcType=TIMESTAMP},
        <if test="taskCode != null and taskCode != ''">a.task_code = #{taskCode, jdbcType=VARCHAR},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>
    <!--TCTR信息更新-->
    <update id="updateTCruiseTaskResult">
        update t_cruise_task_result a <set>
        <if test="taskResultId != null and taskResultId != ''">a.task_result_id = #{taskResultId, jdbcType=VARCHAR},</if>
        <if test="taskId != null and taskId != ''">a.task_id = #{taskId, jdbcType=VARCHAR},</if>
        <if test="taskAbnormal != null">a.task_abnormal = #{taskAbnormal, jdbcType=INTEGER},</if>
        <if test="taskAlarm != null">a.task_alarm = #{taskAlarm, jdbcType=INTEGER},</if>
        <if test="runExecute != null and runExecute != ''">a.run_execute = #{runExecute, jdbcType=VARCHAR},</if>
        a.cruise_task_time = #{cruiseTaskTime, jdbcType=TIMESTAMP},
        <if test="taskStatus != null">a.task_status = #{taskStatus, jdbcType=INTEGER},</if>
        <if test="cruiseResult != null">a.cruise_result = #{cruiseResult, jdbcType=INTEGER},</if>
        <if test="remark != null and remark != ''">a.remark = #{remark, jdbcType=VARCHAR},</if>
    </set>
        where a.task_result_id = #{taskResultId, jdbcType=VARCHAR}
    </update>
</mapper>
