<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjh.accessrobot.module.command.dao.TStdDeviceAttrMapper">

    <resultMap id="BaseResultMap" type="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr">
            <id property="deviceId" column="device_id" jdbcType="BIGINT"/>
            <result property="edgeCode" column="edge_code" jdbcType="VARCHAR"/>
            <result property="originId" column="origin_id" jdbcType="VARCHAR"/>
            <result property="deviceModel" column="device_model" jdbcType="INTEGER"/>
            <result property="pmsType" column="pms_type" jdbcType="VARCHAR"/>
            <result property="pmsId" column="pms_id" jdbcType="VARCHAR"/>
            <result property="deviceVendor" column="device_vendor" jdbcType="VARCHAR"/>
            <result property="productionDate" column="production_date" jdbcType="TIMESTAMP"/>
            <result property="usedTime" column="used_time" jdbcType="TIMESTAMP"/>
            <result property="disableDate" column="disable_date" jdbcType="TIMESTAMP"/>
            <result property="lastMaintenance" column="last_maintenance" jdbcType="TIMESTAMP"/>
            <result property="maintenanceCount" column="maintenance_count" jdbcType="VARCHAR"/>
            <result property="organization" column="organization" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="responsiblePerson" column="responsible_person" jdbcType="VARCHAR"/>
            <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
            <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="INTEGER"/>
            <result property="voltageLevel" column="voltage_level" jdbcType="VARCHAR"/>
            <result property="sequencePoint" column="sequence_point" jdbcType="VARCHAR"/>
            <result property="realCode" column="real_code" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        device_id,edge_code,origin_id,
        device_model,pms_type,pms_id,
        device_vendor,production_date,used_time,
        disable_date,last_maintenance,maintenance_count,
        organization,department,responsible_person,
        latitude,longitude,ip,
        port,voltage_level,sequence_point,
        real_code,address
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_std_device_attr
        where  device_id = #{deviceId,jdbcType=BIGINT} 
    </select>
    <select id="selectByEdgeCode" resultType="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr">
        select
        <include refid="Base_Column_List" />
        from t_std_device_attr
        where  edge_code = #{edgeCode}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_std_device_attr
        where  device_id = #{deviceId,jdbcType=BIGINT} 
    </delete>
    <delete id="deleteByEdgeCodeAndOriginId">
        delete from t_std_device_attr  where edge_code=#{edgeCode}
        <if test="originId != null and originId != ''">
            and origin_id in
            <foreach collection="originIdList" item="originId" open="(" separator="," close=")">   #{originId} </foreach>
        </if>
    </delete>
    <insert id="insert" keyColumn="device_id" keyProperty="deviceId" parameterType="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr" useGeneratedKeys="true">
        insert into t_std_device_attr
        ( device_id,edge_code,origin_id
        ,device_model,pms_type,pms_id
        ,device_vendor,production_date,used_time
        ,disable_date,last_maintenance,maintenance_count
        ,organization,department,responsible_person
        ,latitude,longitude,ip
        ,port,voltage_level,sequence_point
        ,real_code,address)
        values (#{deviceId,jdbcType=BIGINT},#{edgeCode,jdbcType=VARCHAR},#{originId,jdbcType=VARCHAR}
        ,#{deviceModel,jdbcType=INTEGER},#{pmsType,jdbcType=VARCHAR},#{pmsId,jdbcType=VARCHAR}
        ,#{deviceVendor,jdbcType=VARCHAR},#{productionDate,jdbcType=TIMESTAMP},#{usedTime,jdbcType=TIMESTAMP}
        ,#{disableDate,jdbcType=TIMESTAMP},#{lastMaintenance,jdbcType=TIMESTAMP},#{maintenanceCount,jdbcType=VARCHAR}
        ,#{organization,jdbcType=VARCHAR},#{department,jdbcType=VARCHAR},#{responsiblePerson,jdbcType=VARCHAR}
        ,#{latitude,jdbcType=VARCHAR},#{longitude,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR}
        ,#{port,jdbcType=INTEGER},#{voltageLevel,jdbcType=VARCHAR},#{sequencePoint,jdbcType=VARCHAR}
        ,#{realCode,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="device_id" keyProperty="deviceId" parameterType="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr" useGeneratedKeys="true">
        insert into t_std_device_attr
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="deviceId != null">device_id,</if>
                <if test="edgeCode != null">edge_code,</if>
                <if test="originId != null">origin_id,</if>
                <if test="deviceModel != null">device_model,</if>
                <if test="pmsType != null">pms_type,</if>
                <if test="pmsId != null">pms_id,</if>
                <if test="deviceVendor != null">device_vendor,</if>
                <if test="productionDate != null">production_date,</if>
                <if test="usedTime != null">used_time,</if>
                <if test="disableDate != null">disable_date,</if>
                <if test="lastMaintenance != null">last_maintenance,</if>
                <if test="maintenanceCount != null">maintenance_count,</if>
                <if test="organization != null">organization,</if>
                <if test="department != null">department,</if>
                <if test="responsiblePerson != null">responsible_person,</if>
                <if test="latitude != null">latitude,</if>
                <if test="longitude != null">longitude,</if>
                <if test="ip != null">ip,</if>
                <if test="port != null">port,</if>
                <if test="voltageLevel != null">voltage_level,</if>
                <if test="sequencePoint != null">sequence_point,</if>
                <if test="realCode != null">real_code,</if>
                <if test="address != null">address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="deviceId != null">#{deviceId,jdbcType=BIGINT},</if>
                <if test="edgeCode != null">#{edgeCode,jdbcType=VARCHAR},</if>
                <if test="originId != null">#{originId,jdbcType=VARCHAR},</if>
                <if test="deviceModel != null">#{deviceModel,jdbcType=INTEGER},</if>
                <if test="pmsType != null">#{pmsType,jdbcType=VARCHAR},</if>
                <if test="pmsId != null">#{pmsId,jdbcType=VARCHAR},</if>
                <if test="deviceVendor != null">#{deviceVendor,jdbcType=VARCHAR},</if>
                <if test="productionDate != null">#{productionDate,jdbcType=TIMESTAMP},</if>
                <if test="usedTime != null">#{usedTime,jdbcType=TIMESTAMP},</if>
                <if test="disableDate != null">#{disableDate,jdbcType=TIMESTAMP},</if>
                <if test="lastMaintenance != null">#{lastMaintenance,jdbcType=TIMESTAMP},</if>
                <if test="maintenanceCount != null">#{maintenanceCount,jdbcType=VARCHAR},</if>
                <if test="organization != null">#{organization,jdbcType=VARCHAR},</if>
                <if test="department != null">#{department,jdbcType=VARCHAR},</if>
                <if test="responsiblePerson != null">#{responsiblePerson,jdbcType=VARCHAR},</if>
                <if test="latitude != null">#{latitude,jdbcType=VARCHAR},</if>
                <if test="longitude != null">#{longitude,jdbcType=VARCHAR},</if>
                <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
                <if test="port != null">#{port,jdbcType=INTEGER},</if>
                <if test="voltageLevel != null">#{voltageLevel,jdbcType=VARCHAR},</if>
                <if test="sequencePoint != null">#{sequencePoint,jdbcType=VARCHAR},</if>
                <if test="realCode != null">#{realCode,jdbcType=VARCHAR},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <insert id="batchInsert" keyColumn="device_id" keyProperty="deviceId" parameterType="java.util.List" useGeneratedKeys="true">
        insert into t_std_device_attr
        ( device_id,edge_code,origin_id
        ,device_model,pms_type,pms_id
        ,device_vendor,production_date,used_time
        ,disable_date,last_maintenance,maintenance_count
        ,organization,department,responsible_person
        ,latitude,longitude,ip
        ,port,voltage_level,sequence_point
        ,real_code,address)
        values
        <foreach collection="list" item="tStdDeviceAttr" separator=",">
            (#{tStdDeviceAttr.deviceId,jdbcType=BIGINT},#{tStdDeviceAttr.edgeCode,jdbcType=VARCHAR},#{tStdDeviceAttr.originId,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.deviceModel,jdbcType=INTEGER},#{tStdDeviceAttr.pmsType,jdbcType=VARCHAR},#{tStdDeviceAttr.pmsId,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.deviceVendor,jdbcType=VARCHAR},#{tStdDeviceAttr.productionDate,jdbcType=TIMESTAMP},#{tStdDeviceAttr.usedTime,jdbcType=TIMESTAMP}
            ,#{tStdDeviceAttr.disableDate,jdbcType=TIMESTAMP},#{tStdDeviceAttr.lastMaintenance,jdbcType=TIMESTAMP},#{tStdDeviceAttr.maintenanceCount,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.organization,jdbcType=VARCHAR},#{tStdDeviceAttr.department,jdbcType=VARCHAR},#{tStdDeviceAttr.responsiblePerson,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.latitude,jdbcType=VARCHAR},#{tStdDeviceAttr.longitude,jdbcType=VARCHAR},#{tStdDeviceAttr.ip,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.port,jdbcType=INTEGER},#{tStdDeviceAttr.voltageLevel,jdbcType=VARCHAR},#{tStdDeviceAttr.sequencePoint,jdbcType=VARCHAR}
            ,#{tStdDeviceAttr.realCode,jdbcType=VARCHAR},#{tStdDeviceAttr.address,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr">
        update t_std_device_attr
        <set>
                <if test="edgeCode != null">
                    edge_code = #{edgeCode,jdbcType=VARCHAR},
                </if>
                <if test="originId != null">
                    origin_id = #{originId,jdbcType=VARCHAR},
                </if>
                <if test="deviceModel != null">
                    device_model = #{deviceModel,jdbcType=INTEGER},
                </if>
                <if test="pmsType != null">
                    pms_type = #{pmsType,jdbcType=VARCHAR},
                </if>
                <if test="pmsId != null">
                    pms_id = #{pmsId,jdbcType=VARCHAR},
                </if>
                <if test="deviceVendor != null">
                    device_vendor = #{deviceVendor,jdbcType=VARCHAR},
                </if>
                <if test="productionDate != null">
                    production_date = #{productionDate,jdbcType=TIMESTAMP},
                </if>
                <if test="usedTime != null">
                    used_time = #{usedTime,jdbcType=TIMESTAMP},
                </if>
                <if test="disableDate != null">
                    disable_date = #{disableDate,jdbcType=TIMESTAMP},
                </if>
                <if test="lastMaintenance != null">
                    last_maintenance = #{lastMaintenance,jdbcType=TIMESTAMP},
                </if>
                <if test="maintenanceCount != null">
                    maintenance_count = #{maintenanceCount,jdbcType=VARCHAR},
                </if>
                <if test="organization != null">
                    organization = #{organization,jdbcType=VARCHAR},
                </if>
                <if test="department != null">
                    department = #{department,jdbcType=VARCHAR},
                </if>
                <if test="responsiblePerson != null">
                    responsible_person = #{responsiblePerson,jdbcType=VARCHAR},
                </if>
                <if test="latitude != null">
                    latitude = #{latitude,jdbcType=VARCHAR},
                </if>
                <if test="longitude != null">
                    longitude = #{longitude,jdbcType=VARCHAR},
                </if>
                <if test="ip != null">
                    ip = #{ip,jdbcType=VARCHAR},
                </if>
                <if test="port != null">
                    port = #{port,jdbcType=INTEGER},
                </if>
                <if test="voltageLevel != null">
                    voltage_level = #{voltageLevel,jdbcType=VARCHAR},
                </if>
                <if test="sequencePoint != null">
                    sequence_point = #{sequencePoint,jdbcType=VARCHAR},
                </if>
                <if test="realCode != null">
                    real_code = #{realCode,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
        </set>
        where   device_id = #{deviceId,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yjh.accessrobot.module.command.entity.TStdDeviceAttr">
        update t_std_device_attr
        set 
            edge_code =  #{edgeCode,jdbcType=VARCHAR},
            origin_id =  #{originId,jdbcType=VARCHAR},
            device_model =  #{deviceModel,jdbcType=INTEGER},
            pms_type =  #{pmsType,jdbcType=VARCHAR},
            pms_id =  #{pmsId,jdbcType=VARCHAR},
            device_vendor =  #{deviceVendor,jdbcType=VARCHAR},
            production_date =  #{productionDate,jdbcType=TIMESTAMP},
            used_time =  #{usedTime,jdbcType=TIMESTAMP},
            disable_date =  #{disableDate,jdbcType=TIMESTAMP},
            last_maintenance =  #{lastMaintenance,jdbcType=TIMESTAMP},
            maintenance_count =  #{maintenanceCount,jdbcType=VARCHAR},
            organization =  #{organization,jdbcType=VARCHAR},
            department =  #{department,jdbcType=VARCHAR},
            responsible_person =  #{responsiblePerson,jdbcType=VARCHAR},
            latitude =  #{latitude,jdbcType=VARCHAR},
            longitude =  #{longitude,jdbcType=VARCHAR},
            ip =  #{ip,jdbcType=VARCHAR},
            port =  #{port,jdbcType=INTEGER},
            voltage_level =  #{voltageLevel,jdbcType=VARCHAR},
            sequence_point =  #{sequencePoint,jdbcType=VARCHAR},
            real_code =  #{realCode,jdbcType=VARCHAR},
            address =  #{address,jdbcType=VARCHAR}
        where   device_id = #{deviceId,jdbcType=BIGINT} 
    </update>
</mapper>
